<div class="row">
    <div class="offset-md-1 offset-lg-1 col-md-8 col-lg-8">
        <div class="margenes">
            <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion f-18">
                <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
                        <li class="nav-item nav-seccion padding-l-15 padding-r-15" [routerLink]="['/documentacion-de-desarrollo/lineamientos/arquetipos/aplicaciones-web']" [ngClass]="{'active' : seccion =='aplicaciones-web'}">
                            <a class="nav-link color-rosaINE">Aplicaciones web</a>
                        </li>
                        <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/documentacion-de-desarrollo/lineamientos/arquetipos/servicios-rest']" [ngClass]="{'active' : seccion =='servicios-rest'}">
                            <a class="nav-link color-rosaINE">Servicios REST</a>
                        </li>
                        <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/documentacion-de-desarrollo/lineamientos/arquetipos/servicios-soap']" [ngClass]="{'active' : seccion =='servicios-soap'}">
                            <a class="nav-link color-rosaINE">Servicios SOAP</a>
                        </li>
                        <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/documentacion-de-desarrollo/lineamientos/arquetipos/comunes-ine']" [ngClass]="{'active' : seccion =='comunes-ine'}">
                            <a class="nav-link color-rosaINE">Comunes INE</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="margin-t-50">
                <section *ngIf="seccion=='aplicaciones-web'">
                    <div class="d-block d-sm-block d-md-none" id="myScrollspy">
                        <div class="list-group">
                            <div class="margin-b-25">    
                                <h4 class="fw-500 sn-brdr list-group-item list-group-item-action txt-c">Contenido</h4>
                                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action active" href="#acerca-de" (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca de</a>
                                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#introduccion" (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#proposito" (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#alcance" (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                                </div>
                                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#modelo41" (click)="globalService.gotoSection('modelo41'); $event.preventDefault();">Modelo 4+1</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#vla" (click)="globalService.gotoSection('vla'); $event.preventDefault();">Vista lógica de la arquitectura</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#vda" (click)="globalService.gotoSection('vda'); $event.preventDefault();">Vista despliegue de la arquitectura</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#vpa" (click)="globalService.gotoSection('vpa'); $event.preventDefault();">Vista procesos de la arquitectura</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#vfa" (click)="globalService.gotoSection('vfa'); $event.preventDefault();">Vista física de la arquitectura</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#vea" (click)="globalService.gotoSection('vea'); $event.preventDefault();">Vista +1 de escenarios de la arquitectura</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="d-block d-sm-block d-md-none clr-hr">
                    <div id="acerca-de" class="margin-t-25 margin-b-60">
                        <h3>Acerca de</h3>
                        <div class="margin-t-40">
                            <p>Esta plantilla tiene como base <span class="fw-500">Spring MVC</span> es un patrón de diseño del lado del servidor, es decir, es similar al antiguo concepto web 1.0 donde los modelos (Java beans o pojo), <span class="fw-500 txt-italic">Controller</span>                                (@controller annotations) y view (páginas JSP que serán resueltas por view resolver, dependiendo del controlador) respuesta) todo esto reside en el lado del servidor, ya que éste realiza el procesamiento.</p>
                            <p>Spring MVC, al igual que muchos otros marcos web, está diseñado en torno al patrón del controlador frontal, en el que una central <span class="txt-italic">Servlet</span>, la <span class="fw-500 txt-italic">DispatcherServlet</span>,
                                proporciona un algoritmo compartido para el procesamiento de solicitudes, mientras que el trabajo real se realiza mediante componentes delegados configurables.</p>
                            <p>Este modelo es flexible y admite diversos flujos de trabajo.</p>
                            <div class="margin-t-25 fondo-arq">
                                <div class="row cntr">
                                    <div class="col-lg-1">
                                        <img src="assets/img/arquetipos/composicion-capas.svg" alt="">
                                    </div>
                                    <div class="col-lg-11">
                                        <p class="fw-500">Se integra de las siguientes capas:</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/modelo']">Modelo</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/persistencia']">Persistencia</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/servicios']">Servicios</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/presentacion']">Presentación</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="introduccion" class="margin-t-45 margin-b-60">
                        <h3>Introducción</h3>
                        <div id="proposito" class="margin-t-40 margin-b-45">
                            <h4>Propósito</h4>
                            <div class="margin-t-25">
                                <p>El propósito de este documento es sentar las bases para la gestión de la arquitectura de aplicación para generar proyectos con una estructura inicial defina para una mayor facilidad y mayor eficiencia.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="alcance" class="margin-t-45">
                            <h4>Alcance</h4>
                            <div class="margin-t-25">
                                <p>Este documento está dirigido a las áreas de Desarrollo de Soluciones, Arquitectura de Software y aquellas áreas que se encuentran involucradas en actividades de crear proyectos nuevos para aplicaciones bajo la plataforma
                                    JAVA.
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="modelo41" class="margin-t-45 margin-b-60">
                        <h3>Modelo 4 +1</h3>
                        <div class="margin-t-40">
                            <p>El método 4+1 nos permitirá describir la arquitectura de sistemas software, basados en el uso de múltiples vistas concurrentes. Estas vistas nos permitirán analizar el problema y describir el sistema desde el punto de vista
                                de distintos interesados, como lo son los usuarios finales, los desarrolladores y/o jefes de proyecto.</p>
                        </div>
                        <div id="vla" class="margin-t-40 margin-b-60">
                            <h4>Vista lógica de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se representa la funcionalidad que el sistema proporcionara a los usuarios finales. Es decir, se ha de representar lo que el sistema debe hacer, y las funciones y servicios que ofrece. Para completar la documentación
                                    de esta vista se pueden incluir los diagramas de clases, de comunicación o de secuencia de UML.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vda" class="margin-t-45 margin-b-60">
                            <h4>Vista despliegue de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestra el sistema desde la perspectiva de un programador y se ocupa de la gestión del software; en otras palabras, se va a mostrar cómo está dividido el sistema software en componentes y las dependencias
                                    que hay entre esos componentes. Para completar la documentación de esta vista se pueden incluir los diagramas de componentes y de paquetes de UML.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vpa" class="margin-t-45 margin-b-60">
                            <h4>Vista procesos de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestran los procesos que hay en el sistema y la forma en la que se comunican estos procesos; es decir, se representa desde la perspectiva de un integrador de sistemas, el flujo de trabajo paso a paso de
                                    negocio y operacionales de los componentes que conforman el sistema. Para completar la documentación de esta vista se puede incluir el diagrama de actividad de UML</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vfa" class="margin-t-45 margin-b-60">
                            <h4>Vista física de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestra desde la perspectiva de un ingeniero de sistemas todos los componentes físicos del sistema, así como las conexiones físicas entre esos componentes que conforman la solución (incluyendo los servicios).
                                    Para completar la documentación de esta vista se puede incluir el diagrama de despliegue de UML.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vea" class="margin-t-45">
                            <h4>Vista +1 de escenarios de la arquitectura.</h4>
                            <div class="margin-t-25">
                                <p>Esta vista va a ser representada por los casos de uso software y va a tener la función de unir y relacionar las otras 4 vistas, esto quiere decir que desde un caso de uso podemos ver cómo se van ligando las otras 4 vistas,
                                    con lo que tendremos una trazabilidad de componentes, clases, equipos, paquetes, etc., para realizar cada caso de uso. Se pueden incluir los diagramas de casos de uso de UML.</p>
                            </div>
                            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25 table-responsive">
                                <thead>
                                    <tr>
                                    <th>Caso de Uso</th>
                                    <th>Generar proyecto con arquetipo de aplicación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Versión</th>
                                        <td>1.0.0</td>
                                    </tr>
                                    <tr>
                                        <th>Actor</th>
                                        <td>Desarrollador</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción</th>
                                        <td>Permite realizar la estructura de un proyecto a partir del arquetipo de aplicación.</td>
                                    </tr>
                                    <tr>
                                        <th>Flujo básico</th>
                                        <td>
                                            <ol>
                                                <li>El desarrollador crea nuevo proyecto maven.</li>
                                                <li>Se selecciona arquetipo de aplicación del catálogo de arquetipos.</li>
                                                <li>Se agregan las características del nuevo proyecto (group id, artifact id, versión y paquete).</li>
                                                <li>Se esperamos a que se genere el proyecto.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Flujos alternos</th>
                                        <td>
                                            <ol>
                                                <li>En el paso 2, el arquetipo puede ser diferente al de aplicación (comunes, REST o SOAP)</li>
                                                <p>El desarrollador no necesariamente necesita el arquetipo de aplicación, este se debe de elegir de acuerdo a las necesidades del proyecto. </p>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pre-condiciones</th>
                                        <td>
                                            <ol>
                                                <li>Que haya un repositorio (artifactory) con dependencias necesarias para generar el arquetipo.</li>
                                                <li>Agregar catálogo de arquetipos en el IDE (Spring tool suite).</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Post-condiciones</th>
                                        <td>
                                            <ol>
                                                <li>El arquetipo generado está listo para poder iniciar el desarrollo de un nuevo proyecto.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Notas</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 1.</span> Caso de uso Arquetipo</p>
                            <table class="table tabla-cebrado-rosa-ine margin-t-60 margin-b-25 table-responsive">
                                <thead>
                                    <tr>
                                    <th>Caso de Uso</th>
                                    <th>Ejecutar proyecto de aplicación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Versión</th>
                                        <td>1.0.0</td>
                                    </tr>
                                    <tr>
                                        <th>Actor</th>
                                        <td>Desarrollador</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción</th>
                                        <td>Permite ejecutar un proyecto de aplicación.</td>
                                    </tr>
                                    <tr>
                                        <th>Flujo básico</th>
                                        <td>
                                            <ol>
                                                <li>Para utilizar el proyecto de aplicación se hace referencia a la url más el contexto seguido del nombre de la vista.</li>
                                                <li>Dependiendo del tipo de mensaje que se desee enviar se parametrizará la url esto depende si es post, get, put, delete.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Flujos alternos</th>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pre-condiciones</th>
                                        <td>
                                            Deberá de conocer la url de la vista que utilizará.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Post-condiciones</th>
                                        <td>
                                            El proyecto muestra un ejemplo funcional para poder desarrollar ejemplos nuevos.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Notas</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 2.</span> Caso de uso Arquetipo</p>
                        </div>
                    </div>
                </section>
                <section *ngIf="seccion=='servicios-rest'">
                    <div class="d-block d-sm-block d-md-none" id="myScrollspy">
                        <div class="list-group">
                            <div class="margin-b-25">    
                                <h4 class="fw-500 sn-brdr list-group-item list-group-item-action">Contenido</h4>
                                <a class="fw-500 sn-brdr list-group-item list-group-item-action active" href="#acerca-de" (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca de</a>
                                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#introduccion" (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#proposito" (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#alcance" (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                                </div>
                                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#modelo41" (click)="globalService.gotoSection('modelo41'); $event.preventDefault();">Modelo 4+1</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vla" (click)="globalService.gotoSection('vla'); $event.preventDefault();">Vista lógica de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vda" (click)="globalService.gotoSection('vda'); $event.preventDefault();">Vista despliegue de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vpa" (click)="globalService.gotoSection('vpa'); $event.preventDefault();">Vista procesos de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vfa" (click)="globalService.gotoSection('vfa'); $event.preventDefault();">Vista física de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vea" (click)="globalService.gotoSection('vea'); $event.preventDefault();">Vista +1 de escenarios de la arquitectura</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="d-block d-sm-block d-md-none clr-hr">
                    <div id="acerca-de" class="margin-t-25 margin-b-60">
                        <h3>Acerca de</h3>
                        <div class="margin-t-40">
                            <p>La arquitectura <span class="fw-500">Spring REST</span> también se basa en Spring MVC y realiza prácticamente lo mismo, excepto que el <span class="fw-500">objeto modelo</span> se configura directamente en la respuesta HTTP,
                                la cual @ResponseBody convierte en JSON / XML automáticamente.</p>
                            <p>El resultado de un servicio web <span class="fw-500 txt-italic">RESTful</span> debe ser un JSON o un XML, un formato estándar que podría manejarse fácilmente en diferentes plataformas de aplicaciones de consumidores.</p>
                            <p>En el enfoque de Spring para construir servicios web <span class="fw-500 txt-italic">RESTful</span>, las solicitudes HTTP son manejadas por un controlador.</p>
                            <div class="margin-t-25 fondo-arq">
                                <div class="row cntr">
                                    <div class="col-lg-1">
                                        <img src="assets/img/arquetipos/composicion-capas.svg" alt="">
                                    </div>
                                    <div class="col-lg-11">
                                        <p class="fw-500">Se integra de las siguientes capas:</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/modelo']">Modelo</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ccol-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/persistencia']">Persistencia</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/servicios']">Servicios</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/exposicion']">Exposición</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="introduccion" class="margin-t-45 margin-b-60">
                        <h3>Introducción</h3>
                        <div id="proposito" class="margin-t-40 margin-b-60">
                            <h4>Propósito</h4>
                            <div class="margin-t-25">
                                <p>El propósito de este documento es sentar las bases para la gestión de la arquitectura de aplicación para generar proyectos con una estructura inicial defina para una mayor facilidad y mayor eficiencia.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="alcance" class="margin-t-45">
                            <h4>Alcance</h4>
                            <div class="margin-t-25">
                                <p>Este documento está dirigido a las áreas de Desarrollo de Soluciones, Arquitectura de Software y aquellas áreas que se encuentran involucradas en actividades de crear proyectos nuevos para aplicaciones bajo la plataforma
                                    JAVA.
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="modelo41" class="margin-t-45 margin-b-60">
                        <h3>Modelo 4 +1</h3>
                        <div class="margin-t-40">
                            <p>El método 4+1 nos permitirá describir la arquitectura de sistemas software, basados en el uso de múltiples vistas concurrentes. Estas vistas nos permitirán analizar el problema y describir el sistema desde el punto de vista
                                de distintos interesados, como lo son los usuarios finales, los desarrolladores y/o jefes de proyecto.</p>
                        </div>
                        <div id="vla" class="margin-t-40 margin-b-60">
                            <h4>Vista lógica de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se representa la funcionalidad que el sistema proporcionara a los usuarios finales. Es decir, se ha de representar lo que el sistema debe hacer, y las funciones y servicios que ofrece. Para completar la documentación
                                    de esta vista se pueden incluir los diagramas de clases, de comunicación o de secuencia de UML.</p>
                            </div>
                            <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                                <div class="row">
                                    <div class="col-md-4 padding-t-10 text-center">
                                        <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg" alt="Visualizador de diagrama">
                                    </div>
                                    <div class="col-md-8 padding-t-10">
                                        <p class="txt-title f-20 fw-500">Visualiza el diagrama de clases</p>
                                        <p>"Observa en este gráfico cómo están relacionadas las capas dentro de este arquetipo."</p>
                                        <div class="boton-al-centro">
                                            <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20" data-toggle="modal" data-target="#myModalRest">
                                                Ver diagrama
                                            </button>
                                            <div class="modal fade" id="myModalRest">
                                                <div class="modal-dialog modal-xl">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h3 class="modal-title">Diagrama de clases</h3>
                                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/rest/diagramaClases-REST.svg" alt="">
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 1.</span> Diagrama de clases</p>
                        </div>
                        <hr>
                        <div id="vda" class="margin-t-45 margin-b-60">
                            <h4>Vista despliegue de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestra el sistema desde la perspectiva de un programador y se ocupa de la gestión del software; en otras palabras, se va a mostrar cómo está dividido el sistema software en componentes y las dependencias
                                    que hay entre esos componentes. Para completar la documentación de esta vista se pueden incluir los diagramas de componentes y de paquetes de UML.</p>
                            </div>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/rest/figura-2.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 2.</span> Diagrama de despliegue</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vpa" class="margin-t-45 margin-b-60">
                            <h4>Vista procesos de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestran los procesos que hay en el sistema y la forma en la que se comunican estos procesos; es decir, se representa desde la perspectiva de un integrador de sistemas, el flujo de trabajo paso a paso de
                                    negocio y operacionales de los componentes que conforman el sistema. Para completar la documentación de esta vista se puede incluir el diagrama de actividad de UML.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vfa" class="margin-t-45 margin-b-60">
                            <h4>Vista física de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestra desde la perspectiva de un ingeniero de sistemas todos los componentes físicos del sistema, así como las conexiones físicas entre esos componentes que conforman la solución (incluyendo los servicios).
                                    Para completar la documentación de esta vista se puede incluir el diagrama de despliegue de UML.</p>
                            </div>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/rest/figura-3.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 3.</span></p>
                            </div>
                        </div>
                        <hr>
                        <div id="vea" class="margin-t-45 margin-b-60">
                            <h4>Vista +1 de escenarios de la arquitectura.</h4>
                            <div class="margin-t-25">
                                <p>Esta vista va a ser representada por los casos de uso software y va a tener la función de unir y relacionar las otras 4 vistas, esto quiere decir que desde un caso de uso podemos ver cómo se van ligando las otras 4 vistas,
                                    con lo que tendremos una trazabilidad de componentes, clases, equipos, paquetes, etc., para realizar cada caso de uso. Se pueden incluir los diagramas de casos de uso de UML.</p>
                            </div>
                            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25 table-responsive">
                                <thead>
                                    <tr>
                                    <th>Caso de Uso</th>
                                    <th>Consumir proyecto rest</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Versión</th>
                                        <td>1.0.0</td>
                                    </tr>
                                    <tr>
                                        <th>Actor</th>
                                        <td>Desarrollador</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción</th>
                                        <td>Permite hacer uso correcto del proyecto rest.</td>
                                    </tr>
                                    <tr>
                                        <th>Flujo básico</th>
                                        <td>
                                            <ol>
                                                <li>Para utilizar el proyecto rest se hace referencia a la url más el contexto seguido del nombre del método.</li>
                                                <li>Dependiendo del tipo de mensaje que se desee enviar se parametrizará la url esto depende si es post, get, put, delete.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Flujos alternos</th>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pre-condiciones</th>
                                        <td>
                                            <ol>
                                                <li>Se deberá conocer la estructura de json con la cual se comunicarán los servicios</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Post-condiciones</th>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Notas</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 1.</span> Caso de uso Arquetipo</p>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/rest/figura-4.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section *ngIf="seccion=='servicios-soap'">
                    <div class="d-block d-sm-block d-md-none" id="myScrollspy">
                        <div class="list-group">
                            <div class="margin-b-25">    
                                <h4 class="fw-500 sn-brdr list-group-item list-group-item-action">Contenido</h4>
                                <a class="fw-500 sn-brdr list-group-item list-group-item-action active" href="#acerca-de" (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca de</a>
                                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#introduccion" (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#proposito" (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#alcance" (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                                </div>
                                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#modelo41" (click)="globalService.gotoSection('modelo41'); $event.preventDefault();">Modelo 4+1</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vla" (click)="globalService.gotoSection('vla'); $event.preventDefault();">Vista lógica de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vda" (click)="globalService.gotoSection('vda'); $event.preventDefault();">Vista despliegue de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vpa" (click)="globalService.gotoSection('vpa'); $event.preventDefault();">Vista procesos de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vfa" (click)="globalService.gotoSection('vfa'); $event.preventDefault();">Vista física de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vea" (click)="globalService.gotoSection('vea'); $event.preventDefault();">Vista +1 de escenarios de la arquitectura</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="d-block d-sm-block d-md-none clr-hr">
                    <div id="acerca-de" class="margin-t-25 margin-b-60">
                        <h3>Acerca de</h3>
                        <div class="margin-t-40">
                            <p>Su principal función es <span class="fw-500">despachar</span> datos en formato <span class="fw-500">xml</span> a través de un contrato <span class="fw-500">wsdl</span>.</p>
                            <p>Establece que el software a desarrollar tenga un módulo encargado de exponer los <span class="fw-500">servicios soap</span> para que estos puedan ser consumidos, por cualquier aplicación que cumpla con las reglas del contrato
                                wsdl.
                            </p>
                            <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo">
                                <ul>
                                    <li>Tiene una estructura de directorios bien definida</li>
                                    <li>Simplifica la codificación y configuración de <span class="txt-italic">services soap</span></li>
                                    <li>Utiliza un inicializador y un contexto para comunicarse con las distintas capas.</li>
                                    <li>Cuenta con un contrato de prueba para realizar la conexión con una aplicación externa.</li>
                                </ul>
                            </div>
                            <div class="margin-t-25 fondo-arq">
                                <div class="row cntr">
                                    <div class="col-lg-1">
                                        <img src="assets/img/arquetipos/composicion-capas.svg" alt="">
                                    </div>
                                    <div class="col-lg-11">
                                        <p class="fw-500">Se integra de las siguientes capas:</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/modelo']">Modelo</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/persistencia']">Persistencia</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/servicios']">Servicios</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/exposicion']">Exposición</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="introduccion" class="margin-t-45 margin-b-60">
                        <h3>Introducción</h3>
                        <div id="proposito" class="margin-t-40 margin-b-60">
                            <h4>Propósito</h4>
                            <div class="margin-t-25">
                                <p>El propósito de este documento es sentar las bases para la gestión de la arquitectura de aplicación para el empleo de arquetipos que cuentan con una estructura inicial ya defina para facilitar el uso de buenas prácticas
                                    de desarrollo y una mayor eficiencia.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="alcance" class="margin-t-45">
                            <h4>Alcance</h4>
                            <div class="margin-t-25">
                                <p>Este documento está dirigido a las áreas de Desarrollo de Soluciones, Arquitectura de Software y aquellas áreas que se encuentran involucradas en actividades de crear proyectos nuevos para aplicaciones bajo la plataforma
                                    JAVA.
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="modelo41" class="margin-t-45 margin-b-60">
                        <h3>Modelo 4 +1</h3>
                        <div class="margin-t-40">
                            <p>El modelo 4+1 nos permitirá describir la arquitectura de sistemas software, basados en el uso de múltiples vistas concurrentes. Estas vistas nos permitirán analizar el problema y describir el sistema desde el punto de vista
                                de distintos interesados, como lo son los usuarios finales, los desarrolladores y/o jefes de proyecto.</p>
                        </div>
                        <div id="vla" class="margin-t-40 margin-b-60">
                            <h4>Vista lógica de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se representa la funcionalidad que el sistema proporcionara a los usuarios finales. Es decir, se ha de representar lo que el sistema debe hacer, y las funciones y servicios que ofrece. Para completar la documentación
                                    de esta vista se pueden incluir los diagramas de clases, de comunicación o de secuencia de UML.</p>
                            </div>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/soap/figura-1.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 1.</span> Diagrama secuencia</p>
                            </div>
                            <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                                <div class="row">
                                    <div class="col-md-4 padding-t-10 text-center">
                                        <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg" alt="Visualizador de diagrama">
                                    </div>
                                    <div class="col-md-8 padding-t-10">
                                        <p class="txt-title f-20 fw-500">Visualiza el diagrama de clases</p>
                                        <p>"Observa en este gráfico cómo están relacionadas las capas dentro de este arquetipo."</p>
                                        <div class="boton-al-centro">
                                            <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20" data-toggle="modal" data-target="#myModalSoap">
                                                Ver diagrama
                                            </button>
                                            <div class="modal fade" id="myModalSoap">
                                                <div class="modal-dialog modal-xl">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h3 class="modal-title">Diagrama de clases</h3>
                                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/soap/diagramaClases-SOAP.svg" alt="">
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 2.</span> Diagrama de clases</p>
                        </div>
                        <hr>
                        <div id="vda" class="margin-t-45 margin-b-60">
                            <h4>Vista despliegue de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestra el sistema desde la perspectiva de un programador y se ocupa de la gestión del software; en otras palabras, se va a mostrar cómo está dividido el sistema software en componentes y las dependencias
                                    que hay entre esos componentes. Para completar la documentación de esta vista se pueden incluir los diagramas de componentes y de paquetes de UML.</p>
                            </div>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/soap/figura-3.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 3.</span> Diagrama componentes</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vpa" class="margin-t-45 margin-b-60">
                            <h4>Vista procesos de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestran los procesos que hay en el sistema y la forma en la que se comunican estos procesos; es decir, se representa desde la perspectiva de un integrador de sistemas, el flujo de trabajo paso a paso de
                                    negocio y operacionales de los componentes que conforman el sistema. Para completar la documentación de esta vista se puede incluir el diagrama de actividad de UML.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vfa" class="margin-t-45 margin-b-60">
                            <h4>Vista física de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestra desde la perspectiva de un ingeniero de sistemas todos los componentes físicos del sistema, así como las conexiones físicas entre esos componentes que conforman la solución (incluyendo los servicios).
                                    Para completar la documentación de esta vista se puede incluir el diagrama de despliegue de UML.</p>
                            </div>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/soap/figura-4.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 4.</span> Diagrama despliegue</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vea" class="margin-t-45 margin-b-60">
                            <h4>Vista +1 de escenarios de la arquitectura.</h4>
                            <div class="margin-t-25">
                                <p>Esta vista va a ser representada por los casos de uso del software y va a tener la función de unir y relacionar las otras 4 vistas, esto quiere decir que desde un caso de uso podemos ver cómo se van ligando las otras 4
                                    vistas, con lo que tendremos una trazabilidad de componentes, clases, equipos, paquetes, etc., para realizar cada caso de uso. Se pueden incluir los diagramas de casos de uso de UML.</p>
                            </div>
                            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25 table-responsive">
                                <thead>
                                    <tr>
                                    <th>Caso de Uso</th>
                                    <th>Generar proyecto de Servicio SOAP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Versión</th>
                                        <td>1.0.0</td>
                                    </tr>
                                    <tr>
                                        <th>Actor</th>
                                        <td>Desarrollador</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción</th>
                                        <td>Permite realizar la estructura de un proyecto de Servicio SOAP.</td>
                                    </tr>
                                    <tr>
                                        <th>Flujo básico</th>
                                        <td>
                                            <ol>
                                                <li>El desarrollador abre y configura adecuadamente su IDE de desarrollo en JAVA (Eclipse o STS).</li>
                                                <li>Selecciona crear nuevo proyecto maven.</li>
                                                <li>Se selecciona el catálogo que contiene los arquetipos.</li>
                                                <li>Se selecciona el arquetipo de Servicio SOAP.</li>
                                                <li>Se agregan las características del nuevo proyecto (group id, artifact id, versión y paquete).</li>
                                                <li>Se selecciona finalizar y esperamos a que se genere el proyecto.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Flujos alternos</th>
                                        <td>
                                            <ol>
                                                <li>En el paso 4, el arquetipo puede ser diferente al de servicios SOAP (aplicación, comunes, REST)</li>
                                                <p>El desarrollador no necesariamente necesita el arquetipo de servicio SOAP, este se debe de elegir de acuerdo a las necesidades del proyecto. </p>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pre-condiciones</th>
                                        <td>
                                            <ol>
                                                <li>Debe ser accesible el repositorio artifactory que cuenta con las dependencias necesarias para generar el proyecto seleccionado.</li>
                                                <li>Agregar catálogo de arquetipos en el IDE (Eclipse o Spring tool suite).  </li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Post-condiciones</th>
                                        <td>
                                            <ol>
                                                <li>El arquetipo generado es funcional y está listo para poder iniciar el desarrollo de un nuevo proyecto en él.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Notas</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 1.</span> Caso de uso Arquetipo</p>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/soap/figura-5.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 5.</span> Diagrama caso de uso 1</p>
                            </div>
                            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
                                <thead>
                                    <tr>
                                    <th>Caso de Uso</th>
                                    <th>Empleo de un proyecto de Servicio SOAP (Dummy)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Versión</th>
                                        <td>1.0.0</td>
                                    </tr>
                                    <tr>
                                        <th>Actor</th>
                                        <td>Desarrollador</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción</th>
                                        <td>Permite la comunicación entre un cliente y un servidor a través del protocolo SOAP.</td>
                                    </tr>
                                    <tr>
                                        <th>Flujo básico</th>
                                        <td>
                                            <ol>
                                                <li>El cliente envía una solicitud al servidor conforme al contrato WSDL</li>
                                                <li>El servidor recibe la solicitud </li>
                                                <li>El servidor procesa la solicitud</li>
                                                <li>El servidor devuelve una respuesta conforme a las reglas del negocio.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Flujos alternos</th>
                                        <td>
                                            <ol>
                                                <li>En caso de falla el servidor notifica al cliente de la falla</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pre-condiciones</th>
                                        <td>
                                            <ol>
                                                <li>El cliente debe conocer el contrato WDSL.</li>
                                                <li>El cliente debe conocer la URL a del servidor</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Post-condiciones</th>
                                        <td>
                                            <ol>
                                                <li>El cliente recibe la respuesta a la solicitud enviada o en su defecto, un mensaje de error.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Notas</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 2.</span> Caso de uso servicio SOAP</p>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/soap/figura-6.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 6.</span> Diagrama caso de uso 2</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section *ngIf="seccion=='comunes-ine'">
                    <div class="d-block d-sm-block d-md-none" id="myScrollspy">
                        <div class="list-group">
                            <div class="margin-b-25">
                                <h4 class="fw-500 sn-brdr list-group-item list-group-item-action">Contenido</h4>
                                <a class="fw-500 sn-brdr list-group-item list-group-item-action active" href="#acerca-de" (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca de</a>
                                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#introduccion" (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#proposito" (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#alcance" (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                                </div>
                                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#modelo41" (click)="globalService.gotoSection('modelo41'); $event.preventDefault();">Modelo 4+1</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vla" (click)="globalService.gotoSection('vla'); $event.preventDefault();">Vista lógica de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vda" (click)="globalService.gotoSection('vda'); $event.preventDefault();">Vista despliegue de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vpa" (click)="globalService.gotoSection('vpa'); $event.preventDefault();">Vista procesos de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vfa" (click)="globalService.gotoSection('vfa'); $event.preventDefault();">Vista física de la arquitectura</a>
                                    <a class="sn-brdr list-group-item list-group-item-action" href="#vea" (click)="globalService.gotoSection('vea'); $event.preventDefault();">Vista +1 de escenarios de la arquitectura</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="d-block d-sm-block d-md-none clr-hr">
                    <div id="acerca-de" class="margin-t-25 margin-b-60">
                        <h3>Acerca de</h3>
                        <div class="margin-t-40">
                            <p>La principal función de esta plantilla es generar <span class="fw-500">componentes transversales</span>, los cuales puedan ser reutilizables en cualquier proyecto, incluyéndose como funcionalidad extra.</p>
                            <p>Esta plantilla genera un jar, el cual puede integrase en cualquier tipo de proyecto como una dependencia extra, la cual agregará en el proyecto la funcionalidad deseada.</p>
                            <div class="margin-t-25 fondo-arq">
                                <div class="row cntr">
                                    <div class="col-lg-1">
                                        <img src="assets/img/arquetipos/composicion-capas.svg" alt="">
                                    </div>
                                    <div class="col-lg-11">
                                        <p class="fw-500">Se integra de las siguientes capas:</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/modelo']">Modelo</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/persistencia']">Persistencia</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 margin-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/servicios']">Servicios</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="introduccion" class="margin-t-45 margin-b-60">
                        <h3>Introducción</h3>
                        <div id="proposito" class="margin-t-40 margin-b-60">
                            <h4>Propósito</h4>
                            <div class="margin-t-25">
                                <p>El propósito de este documento es sentar las bases para la gestión de la arquitectura de aplicación para generar proyectos con una estructura inicial defina para una mayor facilidad y mayor eficiencia.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="alcance" class="margin-t-45">
                            <h4>Alcance</h4>
                            <div class="margin-t-25">
                                <p>Este documento está dirigido a las áreas de Desarrollo de Soluciones, Arquitectura de Software y aquellas áreas que se encuentran involucradas en actividades de crear proyectos nuevos para aplicaciones bajo la plataforma
                                    JAVA.
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="modelo41" class="margin-t-45 margin-b-60">
                        <h3>Modelo 4 +1</h3>
                        <div class="margin-t-40">
                            <p>El método 4+1 nos permitirá describir la arquitectura de sistemas software, basados en el uso de múltiples vistas concurrentes. Estas vistas nos permitirán analizar el problema y describir el sistema desde el punto de vista
                                de distintos interesados, como lo son los usuarios finales, los desarrolladores y/o jefes de proyecto.</p>
                        </div>
                        <div id="vla" class="margin-t-45 margin-b-60">
                            <h4>Vista lógica de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se representa la funcionalidad que el sistema proporcionara a los usuarios finales. Es decir, se ha de representar lo que el sistema debe hacer, y las funciones y servicios que ofrece. Para completar la documentación
                                    de esta vista se pueden incluir los diagramas de clases, de comunicación o de secuencia de UML.</p>
                            </div>
                            <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                                <div class="row">
                                    <div class="col-md-4 padding-t-10 text-center">
                                        <img class="img-fluid img-responsive" src="assets/img/arquetipos/diagrama-de-clases.svg" alt="Visualizador de diagrama">
                                    </div>
                                    <div class="col-md-8 padding-t-10">
                                        <p class="txt-title f-20 fw-500">Visualiza el diagrama de clases</p>
                                        <p>"Observa en este gráfico cómo están relacionadas las capas dentro de este arquetipo."</p>
                                        <div class="boton-al-centro">
                                            <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20" data-toggle="modal" data-target="#myModalComunes">
                                                Ver diagrama
                                            </button>
                                            <div class="modal fade" id="myModalComunes">
                                                <div class="modal-dialog modal-xl">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h3 class="modal-title">Diagrama de clases</h3>
                                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/comunes/diagramaClases-comunes.svg" alt="">
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 1.</span> Diagrama de clases</p>
                        </div>
                        <hr>
                        <div id="vda" class="margin-t-45 margin-b-60">
                            <h4>Vista despliegue de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestra el sistema desde la perspectiva de un programador y se ocupa de la gestión del software; en otras palabras, se va a mostrar cómo está dividido el sistema software en componentes y las dependencias
                                    que hay entre esos componentes. Para completar la documentación de esta vista se pueden incluir los diagramas de componentes y de paquetes de UML.</p>
                            </div>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/comunes/figura-2.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 2.</span> Diagrama de despliegue</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vpa" class="margin-t-45 margin-b-60">
                            <h4>Vista procesos de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestran los procesos que hay en el sistema y la forma en la que se comunican estos procesos; es decir, se representa desde la perspectiva de un integrador de sistemas, el flujo de trabajo paso a paso de
                                    negocio y operacionales de los componentes que conforman el sistema. Para completar la documentación de esta vista se puede incluir el diagrama de actividad de UML.</p>
                            </div>
                        </div>
                        <hr>
                        <div id="vfa" class="margin-t-45 margin-b-60">
                            <h4>Vista física de la arquitectura</h4>
                            <div class="margin-t-25">
                                <p>En esta vista se muestra desde la perspectiva de un ingeniero de sistemas todos los componentes físicos del sistema, así como las conexiones físicas entre esos componentes que conforman la solución (incluyendo los servicios).
                                    Para completar la documentación de esta vista se puede incluir el diagrama de despliegue de UML.</p>
                            </div>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/comunes/figura-3.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 3.</span></p>
                            </div>
                        </div>
                        <hr>
                        <div id="vea" class="margin-t-45 margin-b-60">
                            <h4>Vista +1 de escenarios de la arquitectura.</h4>
                            <div class="margin-t-25">
                                <p>Esta vista va a ser representada por los casos de uso del software y va a tener la función de unir y relacionar las otras 4 vistas, esto quiere decir que desde un caso de uso podemos ver cómo se van ligando las otras 4
                                    vistas, con lo que tendremos una trazabilidad de componentes, clases, equipos, paquetes, etc., para realizar cada caso de uso. Se pueden incluir los diagramas de casos de uso de UML.</p>
                            </div>
                            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25 table-responsive">
                                <thead>
                                    <tr>
                                    <th>Caso de Uso</th>
                                    <th>Consumir proyecto comunes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Versión</th>
                                        <td>1.0.0</td>
                                    </tr>
                                    <tr>
                                        <th>Actor</th>
                                        <td>Programador o desarrollador</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción</th>
                                        <td>Hacer uso correcto del proyecto comunes.</td>
                                    </tr>
                                    <tr>
                                        <th>Flujo básico</th>
                                        <td>
                                            <ol>
                                                <li>Para utilizar el proyecto “comunes”, es necesario tener identificada la funcionalidad específica, puesto que esta es genérica.</li>
                                                <li>EL proyecto “comunes” con la funcionalidad se empaqueta dentro en jar.</li>
                                                <li>El archivo jar se puede agregar a cualquiera de los tipos de proyecto, como funcionalidad extra o común que se utilice en varios proyectos.</li>
                                                <li>Se hace uso como cualquier método que en el negocio del proyecto.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Flujos alternos</th>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pre-condiciones</th>
                                        <td>
                                            <ol>
                                                <li>Se deberá conocer identificar la funcionalidad común hacia varios proyectos</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Post-condiciones</th>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Notas</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 1.</span> Caso de uso Arquetipo</p>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/arquetipos/comunes/figura-4.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 4.</span> Caso de uso Arquetipo</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 menu-r-brdr d-none d-md-block d-lg-block" id="myScrollspy">
        <div class="list-group">
            <div class="margin-t-60">
                <a class="fw-500 sn-brdr list-group-item list-group-item-action active" href="#acerca-de" (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca de</a>
                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#introduccion" (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item list-group-item-action" href="#proposito" (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#alcance" (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#modelo41" (click)="globalService.gotoSection('modelo41'); $event.preventDefault();">Modelo 4+1</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item list-group-item-action" href="#vla" (click)="globalService.gotoSection('vla'); $event.preventDefault();">Vista lógica de la arquitectura</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#vda" (click)="globalService.gotoSection('vda'); $event.preventDefault();">Vista despliegue de la arquitectura</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#vpa" (click)="globalService.gotoSection('vpa'); $event.preventDefault();">Vista procesos de la arquitectura</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#vfa" (click)="globalService.gotoSection('vfa'); $event.preventDefault();">Vista física de la arquitectura</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#vea" (click)="globalService.gotoSection('vea'); $event.preventDefault();">Vista +1 de escenarios de la arquitectura</a>
                </div>
            </div>
        </div>
    </div>
</div>