h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h4{
    font-size: 22px;
    font-weight: bold;
}

ol.listas{
    padding-left: 20px;
    li{
        padding-left: 20px;
    }
}

ol li::marker {
    font-weight: bold;
    
}

hr {
    border-top: 1px solid var(--hr-color-dd);
}

.fondo {
    background-color: var(--bg-lnmnts-grales);
    li {
        margin-top: 10px;
    }
    p {
        margin-top: 10px;
    }
}

.rules {
    background-color: #F1F8F9;
    color: #2E6E73;
    padding: 5px 10px 10px 10px;
    p {
        margin: 0;
    }
    i {
        margin-right: 20px !important;
        position: relative;
        top: 5px;
        left: 5px;
    }
}

.w-80{
    width: 80%;
}


/////CAROUSEL///////

.carousel{
    padding-top: 20px;
    padding-bottom: 60px;
}

.carousel-inner {
    text-align: center;
    justify-content: center;
}

.carousel-control-next, .carousel-control-prev {
    span{
        color: #ffffff;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer; 
    background: #FFFFFF 0% 0%;
    border: 1px solid #B60F6F;
    opacity: 1;
    border-radius: 20px 20px;
}


.carousel-indicators li.active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background: #B60F6F 0% 0%;
    border: 1px solid #B60F6F;
    opacity: 1;
    border-radius: 20px 20px;
}


@media (max-width: 575.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}