<div class="row">
  <div class="col-md-12 col-lg-10 offset-lg-1 margin-b-80 margin-t-80">
    <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion">
      <div class="collapse navbar-collapse text-center border-nav scroll-nowprap
        margin-b-60"
        id="navbarTogglerDemo02 menu-wrapper">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de']"
            [ngClass]="{'active' : seccion =='acerca-de'}">
            <a class="nav-link">Acerca de</a>
          </li>
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/buenas-practicas']"
            [ngClass]="{'active' : seccion =='buenas-practicas'}">
            <a class="nav-link">Buenas prácticas</a>
          </li>
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/tecnologias']"
            [ngClass]="{'active' : seccion =='tecnologias'}">
            <a class="nav-link">Tecnologías</a>
          </li>
        </ul>
      </div>
    </nav>
    <section *ngIf="seccion=='acerca-de'">
      <h3 class="margin-b-25">¿Qué es?</h3>
      <p class="margin-b-20">
        Un chatbot es una interfaz conversacional basada en texto específica de
        un sitio o aplicación que brinda soporte a los usuarios, simulando
        mantener una conversación con ellos al proveerles respuestas automáticas
        y facilitándoles la búsqueda de información.
      </p>
      <p>
        Según su uso y el tipo de
        conversación, puede utilizar inteligencia artificial para facilitar la
        comprensión del lenguaje natural, optimizar la conversación y muchos
        otros aspectos de las interacciones de un chatbot.
      </p>
      <h3 class="margin-b-25 margin-t-50">Arquitectura básica de un chatbot</h3>
      <div class="margin-t-25 margin-b-70 padding-t-20 padding-b-20 fondo">
        <ul>
          <li>
            Entradas por parte del usuario, que en este caso son de tipo   texto.
          </li>
          <li>
            Una parte integradora y lógica (con o sin inteligencia artificial)
            que procesará y generará respuestas por parte del chatbot.
          </li>
          <li>
            Salidas para el usuario, que también en este caso serán de tipo
            texto.
          </li>
        </ul>
      </div>
      <h3 class="margin-b-25 margin-t-50">Proceso general para su creación</h3>
      <div class="rules padding-10 margin-b-35">
        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>Se deberá seguir los siguientes
        pasos:
      </div>
      <ol class="listas" start="1">
        <li>Definir el objetivo del chatbot</li>
      </ol>
      <hr>
      <ol class="listas" start="2">
        <li>Definir volumen de usuarios</li>
      </ol>
      <hr>
      <ol class="listas" start="3">
        <li>Definir personalidad del chatbot</li>
      </ol>
      <hr>
      <ol class="listas" start="4">
        <li>Establecer un scripting de conversación para el chatbot, intenciones
          y el flujo de ellas</li>
      </ol>
      <hr>
      <ol class="listas" start="5">
        <li>Definir qué tecnología se usará e integraciones con APIs</li>
      </ol>
      <hr>
      <ol class="listas" start="6">
        <li>Mejora continua del chatbot</li>
      </ol>
      <hr>
      <h3 class="margin-b- margin-t-50">Plantilla</h3>
      <p>
        A continuación encontrarás un archivo para descargar la plantilla de un
        chatbot en Dialogflow.
      </p>
      <div class="row margin-t-100">
        <div class="col-md-6">
          <p class="f-22 fw-500 margin-t-10 margin-b-20">Vista Previa</p>
          <p>Imágenes de carácter ilustrativo.</p>
        </div>
        <div class="col-md-6 text-md-right">
          <a href="./assets/docs/lineamientos-asistentes-virtuales/INEbot.zip" download>
            <button class="btn btn_rosa_ine padding-l-20 padding-r-20">  <i class="fa fa-download padding-r-15"></i>Descargar plantilla
              </button>
              </a>
        </div>
      </div>
      <hr>
      <div id="carouselExampleIndicators" class="carousel slide"
        data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0"
            class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/img/asistentes-virtuales/chatbot/chatbot-1.png"
                alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/img/asistentes-virtuales/chatbot/chatbot-22.png"
                alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/img/asistentes-virtuales/chatbot/chatbot-33.png"
                alt="Third slide">
            </div>
        </div>
      </div>
    </section>
    <section *ngIf="seccion=='buenas-practicas'">
      <h3 class="margin-b-25">De diseño</h3>
      <p class="margin-b-50">
        Cuando nos embarcamos en la tarea de crear un chatbot no estamos
        concibiendo un asistente virtual que sólo resuelve las dudas de nuestros
        usuarios, estamos creando experiencias conversacionales que deben
        encantar a nuestros usuarios a través de una interfaz eficiente,
        sencilla, simple y, principalmente, confiable.
      </p>
      <hr>
      <h4 class="margin-b-25 margin-t-70">UX conversacional</h4>
      <p class="margin-b-0">
        Aunque fuera fácil conseguir que un sistema produzca palabras, ningún
        asistente virtual actual muestra competencia conversacional. Esto
        provoca que la experiencia del usuario no sea la mejor. Para abordar
        este problema, se debe poseer una comprensión técnica de las estructuras
        de la conversación natural. Por ello nace la metodología UX
        conversacional, que se plantea como una nueva disciplina. Parte de las
        buenas prácticas dentro de la experiencia conversacional del usuario se
        enlistan a continuación:
      </p>
      <div class="margin-t-25 padding-t-20 margin-b-20 padding-b-20 padding-r-10
        fondo">
        <ul>
          <li>Usuarios a bordo<br>
            Los agentes conversacionales siempre deben poder hablar sobre lo que
            pueden hacer o lo que saben.
          </li>
          <li>Progressive disclosure<br>
            Es una técnica de diseño de interacción que divide la información en
            secuencias para no abrumar a los usuarios finales.
          </li>
          <li>Historial<br>
            Considera dividir un historial de chat en puntos de
            referencia, para que el usuario pueda revisar correctamente el
            historial de una conversación.
          </li>
          <li>Artefactos<br>
            Siempre que sea posible, aprovecha el medio para
            facilitar la conversación. Una imagen o ayuda visual a veces puede
            complementar las declaraciones.
          </li>
          <li>Retroalimentación multimodal<br>
            Proporciona comentarios al usuario a través de la conversación y la
            interfaz de usuario visual para ilustrar si se escuchó o no una
            solicitud o si se llevó a cabo una acción.
          </li>
          <li>Falla con gracia<br>
            No temas dejar que el agente conversacional admita su falta de
            comprensión.  Muestra lo que el agente comprende para que el usuario
            pueda diagnosticar y reparar el problema.
          </li>
        </ul>
      </div>
      <p class="margin-b-30">Esto y más puedes encontrar en la guía de UX
        conversacional.</p>
      <div class="text-right margin-b-50">
        <a href="./assets/docs/lineamientos-asistentes-virtuales/Guía_UX_Conversacional.pdf" download>
          <button class="btn btn_rosa_ine padding-l-20 padding-r-20">  <i class="fa fa-download padding-r-15"></i> Descargar guía completa 
            </button>
            </a>
      </div>
      <hr>
      <h3 class="margin-b-25 margin-t-50">De desarrollo</h3>
      <p class="margin-b-25 margin-t-25">
        Una vez definiendo el diseño del chatbot, procedemos a las cuestiones
        técnicas que debemos tomar en cuenta.
      </p>
      <h3 class="margin-b-25">Pautas a considerar</h3>
      <div class="margin-t-25 margin-b-70 padding-t-20 padding-b-20 padding-r-10
        fondo">
        <ul>
          <li>
            Definir metodología de trabajo a usar: sin metodología no hay
            disciplina, y menos cuando de desarrollo de software se trata. Para
            los paradigmas de arquitectura y de programación que existen, sea
            programación orientada a objetos, modelo vista controlador, entre
            otros, todo es útil siempre y cuando exista documentación para su
            consulta.
          </li>
          <li>
            Elegir si el chatbot usará inteligencia artificial o no: esto es muy
            importante ya que define la arquitectura de la tecnología que
            ocuparemos para desarrollar nuestro chatbot. Debemos considerar si
            queremos que nuestro chatbot aprenda o no.
          </li>
          <li>
            Elegir tecnología y si consumirá servicios Web o Rest:
            frecuentemente al desarrollar chatbots se consumen estos servicios
            mencionados. Es importante tener claro cuáles de esos servicios y
            herramientas ocuparemos, los parámetros de entrada, sus outputs,
            etc.
          </li>
          <li>
            Seguridad de la información: definir el comportamiento del chatbot
            para proveer seguridad al usuario es algo que debe venir por
            defecto. Algunas consideraciones pueden ser definir duración de las
            sesiones, prevenir comportamientos de hacking, encriptación de la
            Información, listas negras, listas blancas, entre otras.
          </li>
        </ul>
      </div>
    </section>
    <section *ngIf="seccion=='tecnologias'">
      <h3 class="margin-b-25">Dialogflow</h3>
      <p class="margin-b-50">
        Existen diversas tecnologías para la creación de chatbots. Una de ellas es Dialogflow, la cual es una plataforma de comprensión del lenguaje natural que se utiliza para diseñar e integrar una interfaz de usuario conversacional en aplicaciones móviles, aplicaciones web, dispositivos, sistemas de respuesta de voz interactivos y usos relacionados. Dialogflow proporciona una interfaz de usuario web llamada consola de Dialogflow, donde se pueden crear, compilar y probar agentes.
      </p>
      <hr class="padding-b-40 line">
      <h3 class="margin-b-25 ">Conceptos básicos</h3>
      <p class="margin-b-40">
        Para comenzar a entender cómo podemos explotar esta tecnología, debemos dejar en claro algunos conceptos como los que se muestran a continuación.
      </p>
      <h3 class="margin-b-25  padding-b-5 tx ">Agentes</h3>
      <p class="margin-b-20">Un agente de Dialogflow es un agente virtual que maneja las conversaciones con los usuarios finales. Es un módulo de comprensión del lenguaje natural que comprende los matices del lenguaje humano. Dialogflow traduce el texto del usuario final durante una conversación a datos estructurados que las apps o servicios pueden comprender.</p>
      <h3 class="margin-t-40  padding-b-10 tx ">Intents</h3>
      <p class="margin-b-30">Un intent clasifica la intención del usuario final para un turno de conversación. Para cada agente se definen muchos intents; los intents combinados pueden manejar una conversación completa. Cuando un usuario final escribe o dice algo, lo que se denomina expresión de usuario final, Dialogflow hace coincidir la expresión del usuario final con el mejor intent en el agente. La coincidencia de un intent también se conoce como clasificación de intent. Un intent básico contiene los siguientes elementos:</p>
      <div class="margin-t-25 padding-t-20 margin-b-20 padding-b-20 padding-r-10
      fondoG2">
      <li>Frases de entrenamiento: estas son frases de ejemplo de algo que podrían decir los usuarios finales. Cuando una expresión de usuario final se parece a una de estas frases, Dialogflow hace una coincidencia con el intent. No se tienen que definir todos los ejemplos posibles, ya que el aprendizaje automático incorporado de Dialogflow expande la lista con otras frases similares.</li>
      <li>Acción: se puede definir una acción para cada intent. Cuando un intent coincide, Dialogflow proporciona la acción al sistema, y se puede usar la acción para activar a su vez ciertas acciones definidas en el sistema.</li>
      <li>Parámetros: cuando un intent coincide en el entorno de ejecución, Dialogflow proporciona los valores extraídos de la expresión del usuario final como parámetros. Cada parámetro tiene un tipo, llamado tipo de entidad, que dicta cómo se extraen los datos. A diferencia de la entrada sin procesar del usuario final, los parámetros son datos estructurados que se pueden usar fácilmente para realizar alguna lógica o generar respuestas.</li>
      <li>Respuestas: se deben definir las respuestas de texto, de voz o visuales para mostrar al usuario final. Pueden proporcionar respuestas al usuario final, solicitar más información al usuario final o finalizar la conversación.</li>

    </div>
    <h3 class="margin-t-40 padding-b-20 titulo">Contextos</h3>
    <p class="padding-b-10">Los contextos de Dialogflow son similares al contexto del lenguaje natural. Si una persona dice “es de color naranja”, necesita contexto para saber qué es de ese color. Del mismo modo, para que Dialogflow maneje una expresión de usuario final como esa, debe proporcionarse un contexto con el fin de que coincida de forma correcta con un intent.</p>
    <p class="padding-b-40"> Mediante los contextos, se puede controlar el flujo de una conversación. Para configurar contextos para un intent, se deben establecer contextos de entrada y salida, que se identifican mediante nombres de strings. Cuando coincide un intent, se activan los contextos de salida configurados para ese intent. Mientras existan contextos activos, es más probable que Dialogflow coincida con intents configurados con contextos de entrada que correspondan a los contextos activos en ese momento.</p>
    <h3 class=" padding-b-20 titulo">Intents de respuesta</h3>
    <p class="padding-b-40">Se pueden usar los intents de seguimiento a fin de establecer contextos para pares de intents de forma automática. Un intent de seguimiento es un elemento secundario del intent superior asociado. Cuando se crea un intent de seguimiento, se agrega de forma automática un contexto de salida al intent superior y se agrega un contexto de entrada con el mismo nombre al intent de seguimiento. Un intent de seguimiento solo coincide cuando el intent superior coincide en el turno anterior de conversación. También se pueden crear varios niveles de intents de seguimiento anidados.</p>

    <h3 class=" padding-b-20 titulo" >Interacciones del usuario con integraciones</h3>
    <p  class="padding-b-40">Dialogflow se integra a muchas plataformas de conversación populares como Google Assistant, Slack y Facebook Messenger. El manejo de las interacciones con los usuarios finales varía según la plataforma de la integración. En el caso de este proyecto, se utilizó la integración Dialogflow Messenger. La integración de Dialogflow Messenger proporciona un cuadro de diálogo de chat personalizable para tu agente que se puede insertar en un sitio web. El cuadro de chat se implementa como una ventana de diálogo que el usuario final puede abrir y cerrar. Cuando se abre, el cuadro de chat aparece sobre el contenido en la parte inferior derecha de la pantalla. Como aclaración, no tiene relación con Facebook Messenger.</p>
  <h3 class=" padding-b-20 titulo" >Entregas para integraciones</h3>
  <p class="padding-b-40">De forma predeterminada, un agente responde a un intent coincidente con una respuesta estática. Si se utiliza una de las opciones de integración, se pueden proporcionar respuestas más dinámicas mediante la entrega. Cuando se habilita la entrega para un intent, Dialogflow responde a ese intent con una llamada a un servicio que se haya definido. Cabe mencionar que, para usar entregas en un sistema de producción, debes implementar y aplicar un servicio de webhook. Para administrar la entrega, el servicio webhook debe aceptar solicitudes JSON y mostrar respuestas JSON. Cada intent tiene una configuración que permite la entrega. Si un intent requiere alguna acción por parte del sistema o una respuesta dinámica, se debe habilitar la entrega para ese intent. Cuando un intent sin entregas habilitadas tiene una coincidencia, Dialogflow usa la respuesta estática que se ha definido para ese intent. Cuando un intent con entregas tiene una coincidencia, Dialogflow envía una solicitud al servicio de webhook con información sobre el intent coincidente. El sistema puede realizar cualquier acción requerida y responder a Dialogflow con información sobre cómo proceder.</p>
<h3 class="padding-b-20 titulo">Interacciones del usuario con la API</h3>  
<p class="padding-b-40">Si no se utiliza una de las opciones de la integración, se debe escribir el código que interactúa directamente con el usuario final. En estos casos se interactúa directamente con la API de Dialogflow para cada turno de conversación, a fin de enviar expresiones de usuario final y recibir coincidencias de intent.</p>
<hr class="padding-b-40 line">
<h3 class="padding-b-20 titulo">Dialogflow Messenger</h3>
<p class="padding-b-40">Como se mencionó anteriormente, en este proyecto se utilizó la integración con Dialogflow Messenger en su versión BETA.</p>
<p class="padding-b-40">Ésta provee un script correspondiente al agente creado, para su inserción en un ambiente web, siempre y cuando se habilite para su uso. Cabe mencionar dicho script debe ir dentro de la etiqueta  del HTML. Puede utilizar cualquier servidor web con el que esté familiarizado, desde un simple XAMPP hasta Node.js. En este proyecto se documenta el uso de Node.js.</p>
<p class="padding-b-40">Cabe mencionar que la integración debe permanecer habilitada siempre para que no haya interrupciones del servicio. En cuanto a estilos, Dialogflow Messenger proporciona las siguientes variables de CSS que se pueden personalizar:</p>
<div class="table-responsive margin-t-20">
  <table class="table tabla-cebrado-rosa-ine margin-t-10 margin-b-25 table-responsive  ">
    <thead>
      <tr>
        <th class="text-center">Variable de CSS</th>
        <th class="text-center">Propiedad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>df-messenger-bot-message</th>
        <td>El color de fondo de la burbuja para los mensajes del agente</td> 
    </tr>
    <tr>
      <th>df-messenger-button-titlebar-color</th>
      <td>El color del botón flotante y de la barra de título del cuadro de chat</td> 
  </tr>
  <tr>
    <th>df-messenger-button-titlebar-font-color</th>
    <th>El color de fuente del título en la barra de título</th>
  </tr>
  <tr>
    <th>df-messenger-chat-background-color</th>
    <th>El color de fondo del cuadro de chat</th>
  </tr>
  <tr>
    <th>df-messenger-font-color</th>
    <th>El color de fuente para los mensajes</th>
  </tr>

  <tr>
    <th>df-messenger-input-box-color</th>
    <th>El color de fondo de la casilla de entrada de texto</th>
  </tr>
  <tr>
    <th>df-messenger-input-font-color</th>
    <th>El color de fuente para la casilla de entrada de texto</th>
  </tr>
  <tr>
    <th>df-messenger-input-placeholder-font-color</th>
    <th>El color de fuente para el texto del marcador de posición en la casilla de entrada de texto</th>
  </tr>
  <tr>
    <th>df-messenger-send-icon</th>
    <th>El color del ícono de envío en la casilla de entrada de texto</th>
  </tr>
  <tr>
    <th>df-messenger-user-message</th>
    <th>El color de fondo de la burbuja para los mensajes del usuario</th>
  </tr>
    </tbody>
  </table>
</div>
<h3 class=" padding-b-20 titulo margin-t-40" >Node.js</h3>
<p class="padding-b-10">Según su documentación, Node.js fue ideado como un entorno de ejecución de JavaScript orientado a eventos asíncronos, diseñado para crear aplicaciones network escalables. Es similar en diseño y está influenciado por sistemas como Event Machine de Ruby y Twisted de Python. </p>
<p class="padding-b-40">Para levantar un servidor con Node.js se requiere crear un archivo index.js en la carpeta del proyecto, con lo siguiente:</p>

<p class="padding-b-40">A su vez, dentro de la carpeta del proyecto se creará una subcarpeta llamada public la cual va a contener el HTML, CSS, gráficos y demás archivos JS que se utilicen.</p>


<h3 class="padding-b-10 tx">Referencias</h3>
     <div class="fondoG4 margin-t-30"> 
       <li>Dialogflow |<strong class="subrayados"> https://cloud.google.com/dialogflow/cx/docs/basics?hl=es</strong></li>
       <li>Dialogflow Messenger | <strong class="subrayados"> https://cloud.google.com/dialogflow/es/docs/integrations/dialogflow-messenger?hl=es</strong> </li>
       <li>NodeJS | <strong class="subrayados">https://nodejs.org/es/about/ </strong> </li>
     </div>
</section>

  </div>
</div>























