<h3>Uso de la iconografía</h3>
<p>Mantén una consistencia visual en los sistemas o aplicaciones, incluyendo un trabajo iconográfico base, capaz de adaptarse a distintas modalidades y que logre una integridad del diseño visual.</p>
<div class="row padding-t-30 fw-500 f-12 text-center ">
    <div class="col-4">
        <p class="texto-iconografia-4pt">4pt.</p>
    </div>
    <div class="col-4">
        <p class="texto-iconografia-10pt">10pt.</p>
    </div>
</div>
<div class="text-center">
    <img class=" img-fluid " src="./assets/img/recursos/iconografia/recurso-iconografia-1.svg " alt=" ">
</div>
<div class="row padding-t-10 fw-500 f-12 text-center">
    <div class="col-4">
        <p class="">Duotono Regular</p>
    </div>
    <div class="col-4">
        <p class="">Regular</p>
    </div>
    <div class="col-4">
        <p class="">Light</p>
    </div>
</div>
<div class="padding-t-40 text-center">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-2.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-3.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-4.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-5.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-6.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-7.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-8.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-9.svg " alt=" ">
</div>
<div class="padding-t-40 text-center">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-10.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-11.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-12.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-13.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-14.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-15.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-16.svg " alt=" ">
    <img class="img-iconografia" src="./assets/img/recursos/iconografia/recurso-iconografia-17.svg " alt=" ">
</div>
<p class="padding-t-50 ">
    Descargar carpeta de iconografia:
</p>
<div class="padding-t-15 centrado-texto">
    <a href="./assets/docs/recursos/Iconografia.zip" download>
        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
            <i class="fa fa-download padding-r-15 " aria-hidden="true "></i> Descargar
        </button>
    </a>
</div>