@import "./src/sass/variables";
.b-buscador {
    background: transparent linear-gradient(270deg, #000000 0%, #242424 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    padding-top: 104px;
    margin-left: 0px;
    margin-right: 0px;
}

.size {
    height: 158px;
}

.img-posicion {
    right: 8%;
    width: 9.5rem;
}

.img-width {
    width: 30%;
    text-align: center;
}

.titulo-buscador {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
}

.titulo-resultados {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 13px;
}

.texto-resultado {
    font-size: 16px;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 0px;
}

.texto-resultado-encontrados {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

hr {
    background: var(--hr-color);
}

.resultados {
    background: var(--bg-result-search) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000003;
    opacity: 1;
    margin: 0px;
    padding: 40px 0px;
}

li {
    border-left: $px2 solid $cBlanco;
    border-right: $px2 solid $cBlanco;
}

a {
    color: var(--txt-img-title);
    font-weight: $FW500;
    font-size: $px18;
    text-decoration-line: none;
}

a:hover {
    color: $cMagenta;
    text-decoration-line: underline;
}

.borde-nav {
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 3px;
}

.alineacion-resultados {
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

a.page-link {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: #494949;
    font-weight: 400;
    text-decoration-line: none;
}

a.page-link:hover {
    background: #B7086D 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    font-weight: 400;
    text-decoration-line: none;
}

.page-link:active {
    background: #B7086D 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    font-weight: 400;
    text-decoration-line: none;
}

.alineacion-encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 127px;
}

section {
    min-height: 624px;
    background: var(--bg-search);
}

h4 {
    font-weight: 500;
}

// .border-sinresultados {
//     border-bottom: 1px solid #C1C1C1;
//     opacity: 1;
//     margin-top: 50px;
// }
// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
    .titulo-resultados {
        font-size: 18px;
        color: #333333;
        font-weight: 700;
        margin-bottom: 13px;
    }
    a {
        color: #d5007f;
        font-weight: 500;
        font-size: 15px;
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
    }
    .texto-resultado {
        font-size: 15px;
        color: #313131;
        font-weight: 400;
        margin-top: 13px;
        margin-bottom: 0px;
    }
    .b-buscador {
        background: transparent linear-gradient(270deg, #000000 0%, #242424 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        color: #ffffff;
        font-size: 35px;
        font-weight: 700;
        padding-top: 74px;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {
    .b-buscador {
        background: transparent linear-gradient(270deg, #000000 0%, #242424 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        color: #ffffff;
        font-size: 35px;
        font-weight: 700;
        padding-top: 74px;
    }
}