<div class="row b-buscador">
    <div class="text-right">
        <img class="position-absolute img-posicion img-responsive" src="./assets/img/buscador/buscador-encabezado.svg">
    </div>
    <div class="offset-1 text-left position-relative padding-r-40 size alineacion-encabezado">
        <h1 class="titulo-buscador">Resultados de la búsqueda</h1>
    </div>
</div>
<section class="container-fluid">
    <div class="container padding-b-80">
        <div *ngIf="(concordancias | buscarFilter:textobuscado).length > 0">
            <div>
                <p class="texto-resultado-encontrados padding-t-80">Se encontraron {{(concordancias | buscarFilter:textobuscado).length}} resultados.</p>
            </div>
            <div *ngFor="let termino of this.concordancias |  buscarFilter:textobuscado | paginate: buscador " class="tab-content padding-t-20" id="myTabContent">
                <div class="row resultados margin-b-80">
                    <div class="col-5 col-md-3 alineacion-resultados ">
                        <img class="img-responsive img-fluid" src="{{termino.img}} " alt=" ">
                    </div>
                    <div class="col-7 col-md-9 padding-l-0 ">
                        <h4 class="titulo-resultados ">{{termino.titulo}}</h4>
                        <a href="{{termino.enlace}} " class="fw-400 f-16 ">{{termino.sugerencia}}</a>
                        <p class="texto-resultado ">{{termino.texto}}</p>
                    </div>
                </div>
            </div>
        </div>
    <pagination-template #pa="paginationApi" [id]="buscador.id" (pageChange)="buscador.currentPage = $event">
        <button type="submit" class="btn btn-rosa-invertido-ine btn-lg" *ngIf="!pa.isFirstPage()" (click)="pa.previous()"><span class="fa fa-arrow-left fa-lg margin-r-15" aria-hidden="true"></span>Anterior</button>
            <nav aria-label="Paginación de preguntas Arquitectura de Información" class="cntr-pgntn">
                <ul class="pagination pagination-md">
                    <div *ngFor="let page of pa.pages" [class.current]="pa.getCurrent() === page.value">
                        <li class="page-item">
                            <a class="page-link" (click)="pa.setCurrent(page.value)" *ngIf="pa.getCurrent() !== page.value">{{page.label}}</a>
                        </li>
                        <div *ngIf="pa.getCurrent() === page.value">
                            <span class="page-link" [ngClass]="{'active' : pa.getCurrent()}">{{ page.label }}</span>
                        </div>
                    </div>
                </ul>
            </nav>
            <button type="submit" class="btn btn-rosa-ine btn-lg" *ngIf="!pa.isLastPage()" (click)="pa.next()">Siguiente<span class="fa fa-arrow-right fa-lg margin-l-15" aria-hidden="true"></span></button>
           
   </pagination-template>
    
        <div class="margin-t-75" *ngIf="(concordancias | buscarFilter:textobuscado).length < 1">
            <h4>No se encontraron resultados para tu búsqueda.</h4>
            <hr>
            <p class="margin-t-40 margin-b-50">Asegúrate que todas las palabras estén escritas correctamente o busca palabras más generales.</p>
            <div class="text-center">
                <img class="img-responsive img-fluid img-width" src="./assets/img/buscador/sinResultados.svg">
            </div>
        </div>
    </div>
</section>
