<div class="row">
  <div class="col-md-12 col-lg-10 offset-lg-1 margin-b-80 margin-t-80">
    <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion">
      <div class="collapse navbar-collapse text-center border-nav scroll-nowprap
        margin-b-60"
        id="navbarTogglerDemo02 menu-wrapper">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-comunicacion/acerca-de']"
            [ngClass]="{'active' : seccion =='acerca-de'}">
            <a class="nav-link">Acerca de</a>
          </li>
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-comunicacion/configurar-sitio']"
            [ngClass]="{'active' : seccion =='configurar-sitio'}">
            <a class="nav-link">Configurar sitio</a>
          </li>
        </ul>
      </div>
    </nav>



<section *ngIf="seccion=='acerca-de'">
  <h3 class="margin-b-0 padding-b-30 titulo">¿Qué es?</h3>
  <p class="padding-b-30">Un sitio de Comunicación de SharePoint  permite difundir información masiva a otros usuarios, compartir noticias, informes y actualizaciones, con un conjunto predeterminado de elementos web.</p>
<h3 class=" tx padding-b-30 " >Entre los usos cotidianos están:</h3>

<div class="fondoG4 padding-b-20">
<ul>
  <li>Crear portales y sitios específicos de un proyecto.</li>
  <li>Compartir anuncios y eventos del   instituto.</li>
</ul>
</div>
<h3 class="titulo margin-t-40 padding-b-30 tite"> ¿Cuándo usar un sitio de comunicación?</h3>
<p class="padding-b-40">Es recomendable implementar este tipo de sitios cuando se requiera compartir información a una mayor audiencia, incluso si se necesita conocer su volumen a través de un analítico de consumo de información.</p>

<h3 class="titulo padding-b-30 tex"  >Vista Previa</h3>
<div id="carouselExampleIndicators" class="carousel slide"
        data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0"
            class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/img/comunicacion/comunicacion-1.jpg"
                alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/comunicacion/comunicacion-2.jpg"
                alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/comunicacion/comunicacion-3.jpg"
                alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/comunicacion/comunicacion-4.jpg"
                alt="Bedroom slide">
            </div>

        </div>
   </div>


<h3 class="tx padding-b-30 ">Referencias</h3>
<div class="fondoG4">
<ul>  
  <li> <a class="subrayados" href="https://xd.adobe.com/view/448932d9-4cf4-4b08-92a9-a4b28c78d8c9-11da/specs/">Prototipo</a></li>
  <li><a class="subrayados" href="https://inemexico.sharepoint.com/sites/IUX/_layouts/15/AccessDenied.aspx?Source=https%3A%2F%2Finemexico%2Esharepoint%2Ecom%2Fsites%2FIUX&correlation=aa1bd49f%2D304e%2Dc000%2D3101%2Ddf6bf46033c6">Modelo de sitio</a>  </li>
</ul>
</div>
</section>






<section *ngIf="seccion=='configurar-sitio'">
  <h3 class="margin-b-10 padding-b-10 titulo ">Pasos para configurar un sitio SharePoint de Comunicación</h3>
  <p class="padding-b-30">Antes de configurar considera que la edición de los sitios SharePoint no permiten la edición simultánea de más de un usuario.</p>
<h3 class="tx padding-b-20">1. Conoce los Lineamientos de sitios SharePoint del Instituto para sitios de Comunicación.</h3>
<p class="padding-b-10">Utiliza estos Lineamientos para mejorar la comunicación y colaboración de la información en tus equipos de trabajo del Instituto.</p>
<div class="bg-img padding-20 margin-t-40">
  <div class="row">
      <div class="col-md-4 padding-t-10 text-center">
          <img class="img-fluid" src="assets/img/lineamientos-share/descarga-lineamientos.svg" alt="lineamientos-share">
      </div>
      <div class="col-md-8 padding-t-10">
        <p class="txt-title f-20 fw-500">Descarga los lineamientos</p>
        <p>Mejora tu sitio de SharePoint.</p>
        <div class="boton-al-centro">
          <a href="./assets/docs/lineamientos-share/Lineamientos_Sitios_Comunicación_SharePoint  (1).pdf" download>
            <button class="btn btn_rosa_ine padding-l-50 padding-r-50">  <i class="fa fa-download padding-r-15"></i>Descargar lineamientos
              </button>
              </a>
        </div>
    </div>
</div>
    </div>
<hr class="margin-t-50">
   <h3 class=" tx padding-b-20 padding-t-30">2. Identificar la estructura del sitio.</h3>
    <p class="padding-b-30">Es importante conocer la estructura de un sitio de un sitio de Comunicación porque es la base o contenedor donde colocaremos componentes más complejos.</p>   
    
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class=" f-20 fw-500">Suitebar</p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/suitebar.svg" alt="">

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class=" f-20 fw-500">Encabezado</p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/encabezado.svg" alt="">

    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <p class=" f-20 fw-500">Navegación (menú superior)</p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/navegacion.svg" alt="">

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class=" f-20 fw-500">Contenido de página</p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/contenido-destacado.svg" alt="">

    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <p class=" f-20 fw-500">Pie de página</p>
    </div>
    <div class="col-md-6  padding-b-0 ">
      <img src="assets/img/lineamientos-share/pie-pagina.svg" alt="">

    </div>
  </div>
<hr class="padding-b-30 line ">

<h3 class="tx padding-b-20 margin-t-30">3. Agregar elementos web básicos en el sitio.</h3>
<p class="padding-b-20">En los sitios SharePoint puedes agregar elementos web (web parts), que son componentes básicos con los cuales construirás tu sitio. Estos componentes podrás configurarlos dependiendo de las necesidades de tu sitio. Te mostramos los más usados en el Instituto:</p>

    

<div class="container">
  <div class="row">
    <div class="col-md-6 padding-b-20">
      <p> <strong class="texto"> Héroe:</strong>   Es una manera de atraer el enfoque y el interés visual a una página. Se pueden mostrar hasta cinco elementos en el elemento web Hero y usar imágenes, texto y vínculos atractivos para llamar la atención sobre cada uno.</p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/heroe.svg" alt="">

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padding-b-20">
      <p class="  "> <strong class="texto">Botón:</strong>  Agrega fácilmente un botón a tu página con su propia etiqueta y vínculo.</p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/boton.svg" alt="">

    </div>
    


  </div>
  <div class="row">
    <div class="col-md-6 padding-b-20">
      <p class="  "> <strong class="texto">Llamado a la acción:</strong> Crea un botón con una llamada a la acción para los usuarios.  </p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/llamado-a-la-accion.svg" alt="">

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padding-b-20">
      <p class="  "> <strong class="texto">Contador regresivo:</strong>  Muestra una cuenta regresiva (o un conteo ascendente) hasta un evento. </p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/contador-regresivo.svg" alt="">

    </div>
  </div>



<div class="row">
  <div class="col-md-6 padding-b-20">
    <p class="  "> <strong class="texto"> Divisor:</strong> Inserta una línea entre otros elementos web para ayudar a dividir la página y facilitar su lectura. </p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/divisor.svg" alt="">

  </div>
</div>

<div class="row">
  <div class="col-md-6 padding-b-20">
    <p class="  ">  <strong class="texto">Biblioteca de documentos: </strong>  Muestra una biblioteca de documentos y personalízala con tu propio título, vista e incluso tamaño.  </p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/biblioteca-medios.svg" alt="">

  </div>
</div>

<div class="row">
  <div class="col-md-6 padding-b-20">
    <p class="  "> <strong class="texto">Contenido destacado:</strong> Muestra dinámicamente el contenido según el tipo de contenido (documentos, páginas, noticias, videos, imágenes, etc.), filtrado o una cadena de búsqueda.  </p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/contenido-destacado.svg" alt="">

  </div>
</div>

<div class="row">
  <div class="col-md-6 padding-b-20">
    <p class="  "> <strong class="texto">Imagen:</strong> Inserta una imagen en la página, ya sea desde su sitio, su OneDrive o su disco duro.</p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/imagen.svg" alt="">

  </div>
</div>
<div class="row">
  <div class="col-md-6 padding-b-20">
    <p class="  "><strong class="texto"> Enlace:</strong>  Agrega un vínculo a una página, video, imagen o documento interno o externo.</p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/enalce.svg" alt="">

  </div>
</div>
<div class="row">
  <div class="col-md-6 padding-b-30">
    <p class="  "> <strong class="texto">Yammer:</strong> Mejora la colaboración al incrustar conversaciones de Yammer en tu página, si tu organización tiene una red de Yammer activa.</p>
  </div>
  <div class="col-md-6  padding-b-80 ">
    <img src="assets/img/lineamientos-share/yammer.svg" alt="">
    

  </div>

</div>

  </div>

  <a class="subrayados padding-b-50   margine-b-10" href="https://support.microsoft.com/en-us/office/using-web-parts-on-sharepoint-pages-336e8e92-3e2d-4298-ae01-d404bbe751e0">Conoce todos los elementos web part de Microsoft</a><i class="subrayados margin-l-5 color-rosaINE fas fa-chevron-right"></i>
</div>



<hr class="padding-b-30 margin-t-20 line">
<h3 class="tx padding-b-30 margin-t-30">4. Implementar componentes UI avanzados en el sitio.</h3>
<p class="padding-b-10">Microsoft proporciona componentes robustos, actualizados y accesibles que son altamente personalizables usando CSS-in-JS.</p>
<p class="padding-b-30"> Fluent UI React es el marco front-end oficial de React de código abierto diseñado para crear experiencias que se adaptan perfectamente a una amplia gama de productos de Microsoft.</p>
<p class="padding-b-40"><a class="subrayados  padding-b-20 padding-l-20" href="https://developer.microsoft.com/en-us/fluentui#/">Conoce la colección de componentes responsivos y móviles para tu sitio SharePoint</a><i class=" subrayados  margin-l-5 color-rosaINE fas fa-chevron-right"></i></p>
  <hr class="padding-b-40 line ">
 
  <h3 class="tx  padding-b-40 ">5. Personalizar páginas Modernas en SharePoint.</h3>
  <p class="texto"> Las experiencias “modernas” en SharePoint Online son:</p>


  <div class="fondoG4">
    <ul>
      <li>Sitios de grupo modernos.</li>
      <li>Experiencias de listas y bibliotecas modernas.</li>
      <li>Páginas de sitios modernos.</li>
    </ul>
  </div>


  <p class="margin-t-20 padding-b-20">Para personalizaciones, se recomienda usar el siguiente proceso para adoptar las experiencias “modernas”</p>
  <p class="padding-b-20"><strong class="texto">Preparación:</strong> conocer las características “modernas” para saber qué ofrecen.</p>
  <p class="padding-b-20"><strong class="texto"> Evaluar:</strong>  evalúe en qué medida las personalizaciones actuales pueden trabajar en la experiencia “moderna”. También evalúa qué sitios tienen personalizaciones o características que no funcionan en las experiencias “modernas”. Estos sitios y sus personalizaciones deben actualizarse o deben permanecer en “clásico”. Sin embargo, otros sitios deberían funcionar correctamente con las experiencias “modernas”. La mejor forma para evaluar la compatibilidad con las experiencias “modernas” es mediante el analizador de modernización de SharePoint.</p>
  <p class="padding-b-20"><strong class="texto">Planificación de soluciones:</strong>  planifique el trabajo necesario para los sitios y las soluciones personalizadas para prepararlos para que se usen con las experiencias “modernas”</p>
  <p class="padding-b-20"> <strong class="texto">Desarrollo y prueba:</strong> aplique los cambios necesarios para sus personalizaciones y pruébelos.Implementar: implemente los cambios actualizados en su entorno de SharePoint Online.</p>
  
  <p class="padding-b-20"> <strong class="texto">Implementar:</strong> implemente los cambios actualizados en su entorno de SharePoint Online.</p>
  
  <a class=" subrayados padding-b-20 padding-l-10" href="https://developer.microsoft.com/en-us/fluentui#/">Conoce la personalización de páginas modernas</a><i class="subrayados  margin-l-5 color-rosaINE fas fa-chevron-right"></i>
  <hr class="margin-t-30 padding-b-40 line ">


<h3 class="tx margin-t-20 padding-b-30">6. Conectar elementos avanzados: formularios</h3>
<p class="padding-b-10">Con el elemento web Microsoft Forms se pueden agregar un formulario o resultados de él a SharePoint. Para agregarlo, se debe pasar el mouse por encima o por debajo de un elemento web para ver una línea con un + en un círculo, como este:</p>
<div class="col-auto text-center padding-b-20" >
  
  <img  src="assets/img/lineamientos-share/formularios-1.svg" alt="">

</div>
<p class="padding-b-20">Seguido de esto, se mostrarán los elementos web disponibles, por lo que se buscará Microsoft Forms, como se muestra a continuación:</p>
<div class="col-auto text-center padding-b-20" >

  <img  src="assets/img/lineamientos-share/formularios-2.svg" alt="">
</div>
<p class="padding-b-20"> Posteriormente dará opción a crear un formulario nuevo o tomar de alguno existente dentro de la suite Microsoft:</p>
<div class="col-auto text-center padding-b-20" >

  <img  src="assets/img/lineamientos-share/formularios-3.svg" alt="">
</div>
<p class="padding-b-20">En el caso de elegir uno nuevo, solicitará un nombre para poder crear el formulario y de esta forma completarlo con sus respectivas preguntas y opciones de respuestas. Para el caso de elegir uno existente, solicitará la URL del formulario previamente creado.</p>
<div class="col-auto text-center padding-b-30" >

  <img  src="assets/img/lineamientos-share/formularios-4.svg" alt="">
  
</div>



<hr class="margin-t-50 padding-b-30 line"> 



  <h3 class="titulo margin-t-20 padding-b-20">Permisos de usuario en SharePoint</h3>
  <p class="padding-b-10">Los niveles de permisos predeterminados son conjuntos de permisos predefinidos que puede asignar a usuarios individuales, grupos de usuarios o grupos de seguridad, según los requisitos funcionales de los usuarios y las consideraciones de seguridad.</p>

  <div class="table-responsive">
    <table class="table tabla-cebrado-rosa-ine margin-t-60 margin-b-25 table-responsive ">
      <thead>
        <tr>
          <th>Nivel de permiso</th>
          <th>Permite a los usuarios</th>
          <th>Permisos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Control total</th>
          <td>Controlar todo el sitio web.</td>
          <td>Todos los permisos.</td>
      </tr>
        <tr >
          <th>Diseño</th>
          <td><ul>
            <li>Ver.</li>
            <li>Agregar.</li>
            <li>Actualizar.</li>
            <li>Eliminar.</li>
            <li>Aprobar.</li>
            <li>Personalizar elementos o páginas en el sitio web.</li>
          </ul></td>
          <td><ul>
            <li>Editar los permisos, además de agregar y personalizar páginas.</li>
            <li>Aplicar temas y bordes.</li>
            <li>Aplicar hojas de estilo.</li>
            <li>Reemplazar comportamientos de lista.</li>
            <li>Aprobar elementos.</li>
          </ul></td>
        </tr>
        <tr>
          <td>Editar</td>
          <td>Administrar listas.</td>
          <td>Contribuir con permisos, además de: administrar listas.</td>
        </tr>

        <tr>
          <td>Colaborar</td>
          <td><ul>
            <li>Administrar vistas personales.</li>
            <li>Editar elementos e información del usuario.</li>
            <li>Eliminar versiones en listas y bibliotecas de documentos existentes.</li>
            <li>Agregar, quitar y actualizar elementos web personales.</li>
          </ul></td>
          <td><p>Permisos de lectura, más:</p>
          <ul>
            <li>Agregar elementos.</li>
            <li>Editar elementos.</li>
            <li>Eliminar elementos.</li>
            <li>Eliminar versiones.</li>
            <li>Examinar directorios.</li>
            <li>Editar información personal del usuario.</li>
            <li>Administrar vistas personales.</li>
            <li>Agregar o quitar elementos web personales.</li>
            <li>Actualizar elementos web personales.</li>
          </ul></td>
          <tr>
<td>Leer</td>
<td><p>Permite a los usuarios:</p>
<li>Ver páginas y elementos de lista.</li>
<li>Descargar documentos.</li>
</td>
<td>
  <p>Permisos de acceso limitado, más:</p>
  <ul>
    <li>Ver elementos.</li>
    <li>Abrir elementos.</li>
    <li>Ver versiones.</li>
    <li>Crear alertas.</li>
    <li>Usar la creación de sitios de autoservicio.</li>
    <li>Ver páginas.</li>
  </ul>
</td>
          </tr>

          <tr>
            <td>Vista restringida</td>
            <td><p>Vista restringida</p>
            <ul>
              <li>Acceder a recursos compartidos y un activo específico.</li>
              <li>
              El acceso limitado está diseñado para combinarse con permisos detallados para permitir a los usuarios acceder a una lista, biblioteca de documentos, carpeta, elemento de lista o documento específico, sin permitirles acceder a todo el sitio, no se puede editar ni eliminar.</li>
            </ul></td>
            <td>
              <ul>
                <li>Ver páginas de la aplicación.</li>
                <li>Examinar la información del usuario.</li>
                <li>Usar interfaces remotas.</li>
              </ul>
            </td>
          </tr>
       
      </tbody>
    </table>
  </div>






</section>
</div>



















    

















  




