.bg-cuadro-rosa{
    background: #FDF3F9;
}

h3{
    letter-spacing: 0px;
    color: var(--txt-color);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
}

.fondo {
    background-color: var(--bg-lnmnts-grales);
    li {
        margin-top: 10px;
    }
    p {
        margin-top: 10px;
    }
}

.h-67{
    height: 67px;
}


.h-49{
    height: 49px;
}