<section *ngIf="seccion=='estilo'">
  <h3 class="padding-t-30">Tipos de tablas</h3>
  <h4 class="titulos-elementos padding-t-30 padding-b-30">Tabla básica</h4>
  <div class="row">
    <div class="col-md-10">
      <table class="table tabla-basica">
        <thead>
          <tr>
            <th scope="col">Col 1</th>
            <th scope="col">Col 2</th>
            <th scope="col">Col 3</th>
            <th scope="col">Col 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Fila 1</th>
            <td>Fila 1</td>
            <td>Fila 1</td>
            <td>Fila 1</td>
          </tr>
          <tr>
            <th>Fila 2</th>
            <td>Fila 2</td>
            <td>Fila 2</td>
            <td>Fila 2</td>
          </tr>
          <tr>
            <th>Fila 3</th>
            <td>Fila 3</td>
            <td>Fila 3</td>
            <td>Fila 3</td>
          </tr>
          <tr>
            <th>Fila 4</th>
            <td>Fila 4</td>
            <td>Fila 4</td>
            <td>Fila 4</td>
          </tr>
          <tr>
            <th>Fila 5</th>
            <td>Fila 5</td>
            <td>Fila 5</td>
            <td>Fila 5</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <div class="padding-t-10">
        <div class="cuadro bg-blanco border-gris4"></div>
        <p class="texto-elementos padding-l-40 margin-0">
          #DBDBDB
        </p>
      </div>
      <div class="padding-t-10">
        <div class="cuadro bg-gris-clarito"></div>
        <p class="texto-elementos padding-l-40 margin-0">
          #F2F2F2
        </p>
      </div>
    </div>
  </div>
  <h4 class="titulos-elementos padding-t-60 padding-b-30">Tabla compleja</h4>
  <button ype="button" class="btn btn-table-rosa margin-r-15 margin-b-20">
    <i class="fa fa-trash fa-fw"></i>
  </button>
  <button ype="button" class="btn btn-table-rosa">
    <i class="fas fa-file-download"></i>
  </button>
  <div class="row">
    <div class="col-md-10 justify-content-center">
      <table class="table tabla-cebrado-rosa-ine">
        <thead>
          <tr>
            <th>Acción</th>
            <th>
              <div ngbDropdown class="d-inline-block combo-size">
                <button class="btn combo-ine-gris padding-l-20 padding-r-20 text-left" id="dropdownBasic"
                  ngbDropdownToggle>{{valueSelected}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                  <div class="scroll">
                    <button class="drop-down-item" (click)="valueSelected='Opción 1'" ngbDropdownItem>Opción 1</button>
                    <button class="drop-down-item" (click)="valueSelected='Opción 2'" ngbDropdownItem>Opción 2</button>
                    <button class="drop-down-item" (click)="valueSelected='Opción 3'" ngbDropdownItem>Opción 3</button>
                  </div>
                </div>
              </div>
            </th>
            <th>Col 2 <i class="fas fa-arrow-up float-right"></i><i class="fas fa-filter float-right"></i></th>
            <th>Col 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <label class="checkbox-rosa">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </th>
            <td>Opción 1</td>
            <td>Fila 1</td>
            <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
          </tr>
          <tr>
            <th>
              <label class="checkbox-rosa">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </th>
            <td>Opción 1</td>
            <td>Fila 2</td>
            <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
          </tr>
          <tr>
            <th>
              <label class="checkbox-rosa">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </th>
            <td>Opción 1</td>
            <td>Fila 3</td>
            <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
          </tr>
          <tr>
            <th>
              <label class="checkbox-rosa">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </th>
            <td>Opción 1</td>
            <td>Fila 4</td>
            <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
          </tr>
          <tr>
            <th>
              <label class="checkbox-rosa">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </th>
            <td>Opción 1</td>
            <td>Fila 5</td>
            <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="70" [(page)]="paginacion-larga" class="paginacion-ine d-flex justify-content-center margin-t-24"
        aria-label="Default pagination"></ngb-pagination>
    </div>
    <div class="col-md-2">
      <div class="padding-t-10">
        <div class="cuadro bg-blanco border-gris4"></div>
        <p class="texto-elementos padding-l-40 margin-0">
          #DBDBDB
        </p>
      </div>
      <div class="padding-t-10">
        <div class="cuadro bg-gris-clarito"></div>
        <p class="texto-elementos padding-l-40 margin-0">
          #F2F2F2
        </p>
      </div>
      <div class="padding-t-10">
        <div class="cuadro bg-cuadro-rosa"></div>
        <p class="texto-elementos padding-l-40 margin-0">
          #FCF0F6
        </p>
      </div>
    </div>
  </div>
  <h3 class="padding-t-80">Especificaciones</h3>
  <h4 class="titulos-elementos padding-t-40">Tipografía</h4>
  <div class="padding-20 bg-img ">
    <div class="row tamaño-tipografia-14">
      <div class=" col-3 col-md-2">
        <p>
          Elemento
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          Color
        </p>
      </div>
      <div class="col-2 col-md-2">
        <p>
          Tamaño
        </p>
      </div>
      <div class="col-3 col-md-3">
        <p>
          Peso
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          Alineación
        </p>
      </div>
    </div>
    <!--Etiqueta-->
    <div class="row margin-t-10 etiqueta-input tamaño-tipografia-14">
      <div class="col-3 col-md-2">
        <p>
          <strong>Título de columna</strong>
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          <strong>#333333</strong>
        </p>
      </div>
      <div class="col-2 col-md-2">
        <p>
          <strong>16px</strong>
        </p>
      </div>
      <div class="col-3 col-md-3">
        <p>
          <strong>font-weight: 700</strong>
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          <strong>Text-align:left</strong>
        </p>
      </div>
    </div>
    <div class="row margin-t-10 etiqueta-input tamaño-tipografia-14">
      <div class="col-3 col-md-2">
        <p>
          Contenido
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          #333333
        </p>
      </div>
      <div class="col-2 col-md-2">
        <p>
          16px
        </p>
      </div>
      <div class="col-3 col-md-3">
        <p>
          font-weight: 400
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          Text-align: left
        </p>
      </div>
    </div>
    <div class="row tamaño-tipografia-14 fw-400">
      <div class="col-3 col-md-2">
        <p>
          Contenido (números)
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          #333333
        </p>
      </div>
      <div class="col-2 col-md-2">
        <p>
          16px
        </p>
      </div>
      <div class="col-3 col-md-3">
        <p>
          font-weight: 400
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          Text-align: right
        </p>
      </div>
    </div>
    <!--Etiqueta de referencia-->
    <div class="row txt-title tamaño-tipografia-14 fw-400">
      <div class="col-3 col-md-2">
        <p>
          Link
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          #B7006D
        </p>
      </div>
      <div class="col-2 col-md-2">
        <p>
          16px
        </p>
      </div>
      <div class="col-3 col-md-3">
        <p>
          font-weight: 400
        </p>
      </div>
      <div class="col-2 col-md-2 padding-left-0">
        <p>
          Text-align: left
        </p>
      </div>
    </div>
  </div>
  <h4 class="titulos-elementos padding-t-60 padding-b-30">Tabla compleja</h4>
  <p class="fw-700 fs-14">Tamaño</p>
  <div class="align-items-center padding-b-60 imagenes-al-centro">
    <img class="img-fluid" src="./assets/img/table/estilo/tamaño.svg" alt="">
  </div>
  <p class="fw-700 fs-14">Espaciado</p>
  <div class="align-items-center padding-b-60 imagenes-al-centro">
    <img class="img-fluid" src="./assets/img/table/estilo/espaciado.svg" alt="">
  </div>
</section>
<section *ngIf="seccion=='usos'">
  <h3 class="padding-t-30">¿Qué es una tabla de datos?</h3>
  <p class="margin-b-30">
    Es un elemento muy utilizado en la web para representar datos en filas y columnas. Varían en tamaño, complejidad,
    contenido y propósito. Independientemente del caso de uso, todas las tablas bien diseñadas brindan claridad sobre la
    información presentada y ayudan a los usuarios a visualizar de forma ordenada lo que consultan.
  </p>
  <p class="tip padding-15 margin-0">
    <strong>Tip:</strong>
    Es importante revisar la arquitectura de información para definir qué tipo de tabla usarás, con esto te
    ahorrarás mucho tiempo de trabajo. Pero, además, los usuarios estarán felices de tener información bien
    estructurada.
  </p>
  <h3 class="padding-t-50">¿Para qué se utiliza?</h3>
  <p>Las tablas de datos son utilizadas para mostrar y organizar datos de una mejor manera. Nos permite la
    personalización con funcionalidad adicional, según lo necesiten los usuarios.
  </p>
  <p>
    Los usos más comunes son:
  </p>
  <div class="margin-t-25 padding-t-20 padding-b-20  padding-r-10 fondo">
    <ul>
      <li>
        Organizar y mostrar datos.
      </li>
      <li>
        Si el usuario debe navegar a un dato específico para completar una tarea.
      </li>
      <li>
        Visualización de todos los recursos de un usuario.
      </li>
    </ul>
  </div>
  <h3 class="padding-t-60">¿Cuándo se utiliza?</h3>
  <p class="margin-b-20"><strong>Tabla básica: </strong>La información que se muestra es estática.</p>
  <p class="txt-title margin-b-0">
    <strong>Ejemplo:</strong>
  </p>
  <p>El usuario requiere ver un breve reporte con pocos datos e información organizada.</p>
  <div class="align-items-center padding-b-60 imagenes-al-centro">
    <img class="img-fluid" src="./assets/img/table/usos/tabla-basica.svg" alt="Ejemplo de una tabla básica">
  </div>
  <p  class="margin-b-20"><strong>Tabla compleja: </strong>La información contiene elementos de interactividad como: botones de ordenamiento,
    filtrado de información, paginación, iconos de alerta, etc.</p>
  <p class="txt-title  margin-b-0">
    <strong>Ejemplo:</strong>
  </p>
  <p>En el sistema de segunda insaculación se requiere mostrar el avance de todos los ciudadanos, lo que genera una gran
    cantidad de datos y es necesario el uso de componentes de interacción.</p>
    <div class="align-items-center padding-b-60 imagenes-al-centro">
      <img class="img-fluid" src="./assets/img/table/usos/tabla-compleja.svg" alt="Ejemplo de una tabla compleja">
    </div>
  <h3>Principios básicos</h3>
  <div class="row">
    <div class="col-md-6">
      <p class="h-67"><strong>1.</strong> Colocar título de la tabla (Opcional).</p>
      <p class="txt-title">
        <strong>Ejemplo:</strong>
      </p>
      <div class="align-items-center padding-b-60 imagenes-al-centro">
        <img class="img-fluid" src="./assets/img/table/usos/titulo.svg" alt="Ejemplo de una tabla con título">
      </div>
    </div>
    <div class="col-md-6">
      <p class="h-67"><strong>2. </strong>El texto del encabezado de columna utiliza una fuente de peso medio
        diferenciarse del texto de la fila.
      </p>
      <p class="txt-title">
        <strong>Ejemplo:</strong>
      </p>
      <div class="align-items-center padding-b-60 imagenes-al-centro">
        <img class="img-fluid" src="./assets/img/table/usos/encabezado.svg" alt="Ejemplo de una tabla con encabezado">
      </div>
    </div>
  </div>
  <div class="row padding-t-70">
    <div class="col-md-6">
      <p class="h-49"><strong>3. </strong>Los textos deben estar alineados hacia izquierda.</p>
      <p class="txt-title">
        <strong>Ejemplo:</strong>
      </p>
      <div class="align-items-center padding-b-60 imagenes-al-centro">
        <img class="img-fluid" src="./assets/img/table/usos/alineacion-izquierda.svg" alt="Ejemplo de una tabla con textos alineados a la izquierda">
      </div>
    </div>
    <div class="col-md-6">
      <p class="h-49"><strong>4. </strong>Los números deben estar alineados hacia la derecha.</p>
      <p class="txt-title">
        <strong>Ejemplo:</strong>
      </p>
      <div class="align-items-center padding-b-60 imagenes-al-centro">
        <img class="img-fluid" src="./assets/img/table/usos/alineacion-derecha.svg" alt="Ejemplo de una tabla con textos alineados a la derecha">
      </div>
    </div>
  </div>
</section>
<section *ngIf="seccion=='codigo'">
  <h4 class="titulos-elementos padding-t-30 padding-b-30">Tabla básica</h4>
  <table class="table tabla-basica">
    <thead>
      <tr>
        <th scope="col">Col 1</th>
        <th scope="col">Col 2</th>
        <th scope="col">Col 3</th>
        <th scope="col">Col 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Fila 1</th>
        <td>Fila 1</td>
        <td>Fila 1</td>
        <td>Fila 1</td>
      </tr>
      <tr>
        <th>Fila 2</th>
        <td>Fila 2</td>
        <td>Fila 2</td>
        <td>Fila 2</td>
      </tr>
      <tr>
        <th>Fila 3</th>
        <td>Fila 3</td>
        <td>Fila 3</td>
        <td>Fila 3</td>
      </tr>
      <tr>
        <th>Fila 4</th>
        <td>Fila 4</td>
        <td>Fila 4</td>
        <td>Fila 4</td>
      </tr>
      <tr>
        <th>Fila 5</th>
        <td>Fila 5</td>
        <td>Fila 5</td>
        <td>Fila 5</td>
      </tr>
    </tbody>
  </table>
  <div class="jumbotron jumbotron-fluid margin-t-30">
    <p class="text-right margin-0">
        <span class="function-copiar" (click)="CopyToClipboard('tabla-basica')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
    </p>
    <hr class="hrJumbotron">
    <div id="tabla-basica">
        <pre>
            <code class="language-html" data-lang="html">
<span>&lt;</span><span class="ca5">table</span> <span class="ca4">class</span>=<span class="cn">&quot;table tabla-basica&quot;</span>&gt;<span>
  </span>&lt;<span class="ca5">thead</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span> <span class="ca4">scope</span>=<span class="cn">&quot;col&quot;</span>&gt;Col 1&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span> <span class="ca4">scope</span>=<span class="cn">&quot;col&quot;</span>&gt;Col 2&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span> <span class="ca4">scope</span>=<span class="cn">&quot;col&quot;</span>&gt;Col 3&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span> <span class="ca4">scope</span>=<span class="cn">&quot;col&quot;</span>&gt;Col 4&lt;/<span class="ca5">th</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
  </span>&lt;/<span class="ca5">thead</span>&gt;<span>
  </span>&lt;<span class="ca5">tbody</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;Fila 1&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 1&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 1&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 1&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;Fila 2&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 2&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 2&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 2&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;Fila 3&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 3&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 3&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 3&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;Fila 4&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 4&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 4&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 4&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;Fila 5&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 5&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 5&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 5&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
  </span>&lt;/<span class="ca5">tbody</span>&gt;<span>
</span>&lt;/<span class="ca5">table</span>&gt;<span></span>
            </code>
        </pre>
    </div>
</div>
<h4 class="titulos-elementos padding-t-50 padding-b-30">Tabla compleja</h4>
<button ype="button" class="btn btn-table-rosa margin-r-15 margin-b-20">
  <i class="fa fa-trash fa-fw"></i>
</button>
<button ype="button" class="btn btn-table-rosa">
  <i class="fas fa-file-download"></i>
</button>
<table class="table tabla-cebrado-rosa-ine">
  <thead>
    <tr>
      <th>Acción</th>
      <th>
        <div ngbDropdown class="d-inline-block combo-size">
          <button class="btn combo-ine-gris padding-l-20 padding-r-20 text-left" id="dropdownBasic" ngbDropdownToggle>{{valueSelected}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic">
            <div class="scroll">
              <button class="drop-down-item" (click)="valueSelected='Opción 1'" ngbDropdownItem>Opción 1</button>
              <button class="drop-down-item" (click)="valueSelected='Opción 2'" ngbDropdownItem>Opción 2</button>
              <button class="drop-down-item" (click)="valueSelected='Opción 3'" ngbDropdownItem>Opción 3</button>
            </div>
          </div>
        </div>
      </th>
      <th>Col 2 <i class="fas fa-arrow-up float-right"></i><i class="fas fa-filter float-right"></i></th>
      <th>Col 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <label class="checkbox-rosa">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </th>
      <td>Opción 1</td>
      <td>Fila 1</td>
      <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-rosa">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </th>
      <td>Opción 1</td>
      <td>Fila 2</td>
      <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-rosa">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </th>
      <td>Opción 1</td>
      <td>Fila 3</td>
      <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-rosa">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </th>
      <td>Opción 1</td>
      <td>Fila 4</td>
      <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-rosa">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </th>
      <td>Opción 1</td>
      <td>Fila 5</td>
      <td class="ver-reporte"><i class="fas fa-file-alt padding-r-20"></i>Ver reporte</td>
    </tr>
  </tbody>
</table>
<ngb-pagination [collectionSize]="70" [(page)]="paginacion-larga" class="paginacion-ine d-flex justify-content-center margin-t-24"
  aria-label="Default pagination"></ngb-pagination>
  <div class="jumbotron jumbotron-fluid margin-t-30">
    <p class="text-right margin-0">
        <span class="function-copiar" (click)="CopyToClipboard('tabla-compleja')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
    </p>
    <hr class="hrJumbotron">
    <div id="tabla-compleja">
        <pre>
            <code class="language-html" data-lang="html">
<span>&lt;<span class="ca5">button</span> <span class="ca4">type</span>=<span class="cn">&quot;button&quot;</span> <span class="ca4">class</span>=<span class="cn">&quot;btn btn-table-rosa margin-r-15 margin-b-20&quot;</span>&gt;</span><span>
  </span>&lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fa fa-trash fa-fw&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;<span>
</span>&lt;/<span class="ca5">button</span>&gt;<span>
</span><span>&lt;<span class="ca5">button</span> <span class="ca4">type</span>=<span class="cn">&quot;button&quot;</span> <span class="ca4">class</span>=<span class="cn">&quot;btn btn-table-rosa&quot;</span>&gt;</span><span>
  </span>&lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fas fa-file-download&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;<span>
</span>&lt;/<span class="ca5">button</span>&gt;<span>
</span>&lt;<span class="ca5">table</span> <span class="ca4">class</span>=<span class="cn">&quot;table tabla-cebrado-rosa-ine&quot;</span><span class="ca5">&gt;</span><span>
  </span>&lt;<span class="ca5">thead</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;Acci&oacute;n&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;<span>
        </span>&lt;<span class="ca5">div</span> <span class="ca4">ngbDropdown</span> <span class="ca4">class</span>=<span class="cn">&quot;d-inline-block combo-size&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;btn combo-ine-gris padding-l-20 padding-r-20 text-left&quot;</span> <span class="ca4">id</span>=<span class="cn">&quot;dropdownBasic&quot;</span> <span class="ca4">ngbDropdownToggle</span>&gt;{{valueSelected}}&lt;/<span class="ca5">button</span>&gt;<span>
          </span>&lt;<span class="ca5">div </span> <span class="ca4">ngbDropdownMenu</span> <span class="ca4">aria-labelledby</span>=<span class="cn">&quot;dropdownBasic&quot;</span>&gt;<span>
            </span>&lt;<span class="ca5">div </span> <span class="ca4">class</span>=<span class="cn">&quot;scroll&quot;</span>&gt;<span>
              </span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;drop-down-item&quot;</span> <span class="ca4">(click)</span>=<span class="cn">&quot;valueSelected='Opci&oacute;n 1'&quot;</span> <span class="ca4">ngbDropdownItem</span>&gt;Opci&oacute;n 1&lt;/<span class="ca5">button</span>&gt;<span>
              </span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;drop-down-item&quot;</span> <span class="ca4">(click)</span>=<span class="cn">&quot;valueSelected='Opci&oacute;n 2'&quot;</span> <span class="ca4">ngbDropdownItem</span>&gt;Opci&oacute;n 2&lt;/<span class="ca5">button</span>&gt;<span>
              </span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;drop-down-item&quot;</span> <span class="ca4">(click)</span>=<span class="cn">&quot;valueSelected='Opci&oacute;n 3'&quot;</span> <span class="ca4">ngbDropdownItem</span>&gt;Opci&oacute;n 3&lt;/<span class="ca5">button</span>&gt;<span>
            </span>&lt;/<span class="ca5">div </span>&gt;<span>
          </span>&lt;/<span class="ca5">div </span>&gt;<span>
        </span>&lt;/<span class="ca5">div </span>&gt;<span>
      </span>&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;Col 2 &lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fas fa-arrow-up float-right&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;&lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fas fa-filter float-right&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;Col 3&lt;/<span class="ca5">th</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
  </span>&lt;/<span class="ca5">thead</span>&gt;<span>
  </span>&lt;<span class="ca5">tbody</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;<span>
        </span>&lt;<span class="ca5">label</span> <span class="ca4">class</span>=<span class="cn">&quot;checkbox-rosa&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">input</span> <span class="ca4">type</span>=<span class="cn">&quot;checkbox&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">span</span> <span class="ca4">class</span>=<span class="cn">&quot;checkmark&quot;</span>&gt;&lt;/<span class="ca5">span</span>&gt;<span>
        </span>&lt;/<span class="ca5">label</span>&gt;<span>
      </span>&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Opci&oacute;n 1&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 1&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span> <span class="ca4">class</span>=<span class="cn">&quot;ver-reporte&quot;</span>&gt;&lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fas fa-file-alt padding-r-20&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;Ver reporte&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;<span>
        </span>&lt;<span class="ca5">label</span> <span class="ca4">class</span>=<span class="cn">&quot;checkbox-rosa&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">input</span> <span class="ca4">type</span>=<span class="cn">&quot;checkbox&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">span</span> <span class="ca4">class</span>=<span class="cn">&quot;checkmark&quot;</span>&gt;&lt;/<span class="ca5">span</span>&gt;<span>
        </span>&lt;/<span class="ca5">label</span>&gt;<span>
      </span>&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Opci&oacute;n 1&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 2&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span> <span class="ca4">class</span>=<span class="cn">&quot;ver-reporte&quot;</span>&gt;&lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fas fa-file-alt padding-r-20&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;Ver reporte&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;<span>
        </span>&lt;<span class="ca5">label</span> <span class="ca4">class</span>=<span class="cn">&quot;checkbox-rosa&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">input</span> <span class="ca4">type</span>=<span class="cn">&quot;checkbox&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">span</span> <span class="ca4">class</span>=<span class="cn">&quot;checkmark&quot;</span>&gt;&lt;/<span class="ca5">span</span>&gt;<span>
        </span>&lt;/<span class="ca5">label</span>&gt;<span>
      </span>&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Opci&oacute;n 1&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 3&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span> <span class="ca4">class</span>=<span class="cn">&quot;ver-reporte&quot;</span>&gt;&lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fas fa-file-alt padding-r-20&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;Ver reporte&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;<span>
        </span>&lt;<span class="ca5">label</span> <span class="ca4">class</span>=<span class="cn">&quot;checkbox-rosa&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">input</span> <span class="ca4">type</span>=<span class="cn">&quot;checkbox&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">span</span> <span class="ca4">class</span>=<span class="cn">&quot;checkmark&quot;</span>&gt;&lt;/<span class="ca5">span</span>&gt;<span>
        </span>&lt;/<span class="ca5">label</span>&gt;<span>
      </span>&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Opci&oacute;n 1&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 4&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span> <span class="ca4">class</span>=<span class="cn">&quot;ver-reporte&quot;</span>&gt;&lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fas fa-file-alt padding-r-20&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;Ver reporte&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
    </span>&lt;<span class="ca5">tr</span>&gt;<span>
      </span>&lt;<span class="ca5">th</span>&gt;<span>
        </span>&lt;<span class="ca5">label</span> <span class="ca4">class</span>=<span class="cn">&quot;checkbox-rosa&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">input</span> <span class="ca4">type</span>=<span class="cn">&quot;checkbox&quot;</span>&gt;<span>
          </span>&lt;<span class="ca5">span</span> <span class="ca4">class</span>=<span class="cn">&quot;checkmark&quot;</span>&gt;&lt;/<span class="ca5">span</span>&gt;<span>
        </span>&lt;/<span class="ca5">label</span>&gt;<span>
      </span>&lt;/<span class="ca5">th</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Opci&oacute;n 1&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span>&gt;Fila 5&lt;/<span class="ca5">td</span>&gt;<span>
      </span>&lt;<span class="ca5">td</span> <span class="ca4">class</span>=<span class="cn">&quot;ver-reporte&quot;</span>&gt;&lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fas fa-file-alt padding-r-20&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;Ver reporte&lt;/<span class="ca5">td</span>&gt;<span>
    </span>&lt;/<span class="ca5">tr</span>&gt;<span>
  </span>&lt;/<span class="ca5">tbody</span>&gt;<span>
</span>&lt;/<span class="ca5">table</span>&gt;<span>
</span>&lt;<span class="ca5">ngb-pagination</span> <span class="ca4">[collectionSize]</span>=<span class="cn">&quot;70&quot;</span> <span class="ca4">[(page)]</span>=<span class="ca5">&quot;paginacion-larga&quot;</span> <span class="ca4">class</span>=<span class="cn">&quot;paginacion-ine d-flex justify-content-center margin-t-24&quot;</span>
  <span class="ca4">aria-label</span>=<span class="cn">&quot;Default pagination&quot;</span>&gt;&lt;/<span class="ca5">ngb-pagination</span>&gt;<span></span>
            </code>
        </pre>
    </div>
</div>
</section> 