<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <!-- Tipos de cards -->
    <h4 class="titulos-elementos padding-t-40">Tipos de cards</h4>
    <h6 class="titulo-elementos-gris padding-t-20">Básica</h6>
    <!--Básica-->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">400 x 250</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Con enlaces-->
    <h6 class="titulo-elementos-gris padding-t-50">Con enlaces</h6>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">400 x 250</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"> Ir al sitio</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">400 x 250</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20"> Ver más
                        </button>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 margin-l-10"> Ir al
                            sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Encabezado-->
    <h6 class="titulo-elementos-gris padding-t-50">Encabezado</h6>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 padding-t-10">
            <div class="card">
                <div class="card-body">
                    <div class=" bg-blanco">
                        Título del card
                    </div>
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">350 x 225</p>
                    </div>
                    <div class="bg-blanco padding-t-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20">
                            Ir al sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Agrupación-->
    <h6 class="titulo-elementos-gris padding-t-50">Agrupación</h6>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">230 x 180</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20">
                            Ir al sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">230 x 180</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                        <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20">Ver
                            más</button>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 margin-l-10">
                            Ir al sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">230 x 180</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20">
                            Ver más
                        </button>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 margin-l-10">
                            Ir al sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Estructura-->
    <h4 class="titulos-elementos padding-t-60">Estructura</h4>
    <div class="row">
        <div class="col-md-5 padding-t-10 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/card/Estilo/estructura-1.svg" alt="Diagrama mostrando que el ancho de la tarjeta debe ser 400px y el alto de su contenido 160px">
        </div>
        <div class="col-md-5 padding-t-10 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/card/Estilo/estructura-2.svg" alt="Diagrama mostrando que el ancho de la tarjeta debe ser 400px y el alto de su contenido 240px cuando incluye un botón">
        </div>
    </div>
    <!--Espaciado-->
    <h4 class="titulos-elementos padding-t-60">Espaciado</h4>
    <div class="row">
        <div class="col-md-5 padding-t-10 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/card/Estilo/espaciado-1.svg" alt="Diagrama mostrando que el espaciado alrededor del contenido de la tarjeta debe ser de 20px.">
        </div>
        <div class="col-md-5 padding-t-10 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/card/Estilo/espaciado-2.svg" alt="Diagrama mostrando que el espaciado alrededor del contenido de la tarjeta debe ser de 20px al igual que entre el texto y el botón.">
        </div>
    </div>
</section>

<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es una card?</h3>
    <p class="text-justify">
        Si bien, las tarjetas o cards nacen como una integración de muchos elementos que persiguen una experiencia personalizada en sitios responsivos o aplicaciones móviles, tenemos que destacar que su uso ya se ve impactado en sitios actuales con versionamientos
        incluso de escritorio. Te serán de mucha utilidad cuando desees destacar cierto apartado o hacer agrupaciones de elementos para facilitar el escaneo de información en tus usuarios.

    </p>
    <p>
        <strong>Encabezado:</strong> Si necesitas colocar un encabezado a tu card para dar contexto a tus usuarios acerca de lo que se les presentará, utiliza este tipo de card.

    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        En el apartado de Comisiones de la Intranet, se solicita mostrar los acuerdos temporales, permanentes y anteriores. Utiliza una card con encabezado para colocar el título: Órganos Administrativos.
    </p>
    <div class="imagen-al-centro">
        <img class="img-fluid" src="./assets/img/card/Usos/uso-1.svg" alt="Ilustración de una card con título, imagen y texto.">
    </div>

    <p class="padding-t-40">
        <b>Card con enlaces:</b> Esta tarjeta te ayudará a complementar tu información con elementos de interacción para tus usuarios.

    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Piden que al inicio del seguimiento a medios electrónicos se muestre al usuario una breve introducción de sus apartados más importantes: Primeras planas y elecciones. Trabaja en una card con pie que muestre ésta información, pero que además exista un
        vínculo que lo redireccione al apartado correspondiente en donde encontrará toda la información relacionada. Ubica este vínculo en la parte del pie de la tarjeta.
    </p>
    <div class="imagen-al-centro">
        <img class="img-fluid" src="./assets/img/card/Usos/uso-2.svg" alt="Ilustración de una card con sin imagen, con texto y dos botones: ver más e ir al sitio.">
    </div>
    <p class="padding-t-40">
        <strong>Grupo de cards:</strong> Utiliza esta tarjeta cuando debas mostrar una serie de imágenes solas o acompañadas de texto.

    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        En el Sistema de Sesiones de Consejo, se solicita hacer la sustitución de ciertos Consejeros que ya no pueden continuar con sus funciones. Para hacer el registro de la sustitución, utiliza una card con rejilla donde se puedan visualizar los perfiles (incluyendo
        las fotos o ávatars) del Consejero y sustituto.
    </p>
    <div class="imagen-al-centro">
        <img class="img-fluid" src="./assets/img/card/Usos/uso-3.svg" alt="Ilustración de tres cards con imagen de usuario, titulo, texto y botón ver más.">
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <div class="padding-t-30">
        <h3>Card</h3>
    </div>
    <h6 class="titulo-elementos-gris padding-t-30">Básica</h6>
    <!--Básica-->
    <div class="row">
        <div class="offset-sm-3 col-sm-6 col-md-4 offset-md-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">400 x 250</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid margin-t-40">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('card')" ngbTooltip="Código copiado" triggers="click:blur">
                <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="card">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"offset-sm-3 col-sm-6 col-md-4 offset-md-4"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body padding-0"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-gris card-heigh"</span><span>></span>
                <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-pixeles text-center padding-t-50 padding-b-50"</span><span>></span>400 x 250<span><</span><span>/</span><span class="ca5">p</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-blanco padding-20 card-heigh"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-title"</span><span>></span>Título<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-text"</span><span>></span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!--Con enlaces-->
    <h6 class="titulo-elementos-gris padding-t-50">Con enlaces</h6>
    <div class="row">
        <div class="offset-sm-3 col-sm-6 col-md-4 offset-md-2 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">400 x 250</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"> Ir al sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">400 x 250</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20"> Ver más
                        </button>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 margin-l-10"> Ir al
                            sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-40">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('card-enlace')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="card-enlace">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"row"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"offset-sm-3 col-sm-6 col-md-4 offset-md-2"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body padding-0"</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-gris card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-pixeles text-center padding-t-50 padding-b-50"</span><span>></span>400 x 250<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-blanco padding-20 card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-title"</span><span>></span>Título<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-text"</span><span>></span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                    <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_invertido_ine padding-l-20 padding-r-20"</span><span>></span>Ver más<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                    <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20 margin-l-10"</span><span>></span>Ir al sitio<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-sm-6 col-md-4"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body padding-0"</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-gris card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-pixeles text-center padding-t-50 padding-b-50"</span><span>></span>400 x 250<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-blanco padding-20 card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-title"</span><span>></span>Título<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-text"</span><span>></span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                    <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20"</span><span>></span>Ir al sitio<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!--Encabezado-->
    <h6 class="titulo-elementos-gris padding-t-50">Encabezado</h6>
    <div class="row">
        <div class="offset-sm-3 col-sm-6 col-md-4 offset-md-4 padding-t-10">
            <div class="card">
                <div class="card-body">
                    <div class="bg-blanco">
                        Título del card
                    </div>
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">350 x 225</p>
                    </div>
                    <div class="bg-blanco padding-t-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20">
                            Ir al sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid margin-t-40">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('card-encabezado')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="card-encabezado">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"offset-sm-3 col-sm-6 col-md-4 offset-md-4"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-blanco"</span><span>></span>
            Título del card
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-gris card-heigh"</span><span>></span>
                <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-pixeles text-center padding-t-50 padding-b-50"</span><span>></span>350 x 225<span><</span><span>/</span><span class="ca5">p</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-blanco padding-20 card-heigh"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-title"</span><span>></span>Título<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-text"</span><span>></span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20"</span><span>></span>Ir al sitio<span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!--Agrupaciones-->
    <h6 class="titulo-elementos-gris padding-t-40">Agrupaciones</h6>
    <div class="row">
        <div class="offset-sm-3 col-sm-6 col-md-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">230 x 180</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20">
                            Ir al sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-sm-3 col-sm-6 col-md-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">230 x 180</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                        <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20">
                            Ver más
                        </button>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 margin-l-10">
                            Ir al sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-sm-3 col-sm-6 col-md-4 padding-t-10">
            <div class="card">
                <div class="card-body padding-0">
                    <div class="bg-gris card-heigh">
                        <p class="card-pixeles text-center padding-t-50 padding-b-50">230 x 180</p>
                    </div>
                    <div class="bg-blanco padding-20 card-heigh">
                        <h4 class="card-title">Título</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                        <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20">
                            Ver más
                        </button>
                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 margin-l-10">
                            Ir al sitio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid margin-t-40">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('card-agrupaciones')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="card-agrupaciones">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"row"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"offset-sm-3 col-sm-6 col-md-4 padding-t-10"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body padding-0"</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-gris card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-pixeles text-center padding-t-50 padding-b-50"</span><span>></span>230 x 180<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-blanco padding-20 card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-title"</span><span>></span>Título<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-text"</span><span>></span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                    <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20"</span><span>></span>Ir al sitio<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"offset-sm-3 col-sm-6 col-md-4 padding-t-10"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body padding-0"</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-gris card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-pixeles text-center padding-t-50 padding-b-50"</span><span>></span>230 x 180<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-blanco padding-20 card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-title"</span><span>></span>Título<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-text"</span><span>></span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                    <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_invertido_ine padding-l-20 padding-r-20"</span><span>></span>Ver más<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                    <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20 margin-l-10"</span><span>></span>Ir al sitio<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"offset-sm-3 col-sm-6 col-md-4 padding-t-10"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body padding-0"</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-gris card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-pixeles text-center padding-t-50 padding-b-50"</span><span>></span>230 x 180<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"bg-blanco padding-20 card-heigh"</span><span>></span>
                    <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-title"</span><span>></span>Título<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                    <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-text"</span><span>></span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
                    <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_invertido_ine padding-l-20 padding-r-20"</span><span>></span>Ver más<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                    <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20 margin-l-10"</span><span>></span>Ir al sitio<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
</section>