nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex: 0 0 auto;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

h4{
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

.fondo {
    background-color: var(--bg-lnmnts-grales);
    li {
        margin-top: 10px;
    }
    p {
        margin-top: 15px;
        ;
    }
}

.rules {
    background-color: #F1F8F9;
    color: #2E6E73;
    p {
        margin: 0;
    }
    i {
        margin-right: 15px;
    }
    .alinear {
        align-items: center;
    }
}

hr {
    border-top: 1px solid var(--hr-color-dd);
}

.without-style {
    list-style: none;
}

.dom {
    color: #D30C7F;
}

.con {
    color: #7A4493;
}

.get {
    color: #4199A0;
}

.fondo-r {
    background-color: #FCE8F4;
    color: #B7006D;
    p {
        margin: 0;
    }
}

.margenes {
    margin: 80px 0 30px 0;
}

.list-group {
    position: sticky;
    top: 10px;
    cursor: pointer;
    font-size: 14px;
    a {
        padding: 5px 20px 0 20px;
    }
    .sn-brdr {
        border: transparent;
        background-color: transparent;
    }
    .sublist {
        margin-left: 15px;
    }
}

.list-group-item {
    color: var(--txt-color);
}

.active {
    color: var(--txt-color-link);
    ;
    font-weight: 500;
}

.subrayado {
    color: var(--txt-color-link);
    text-decoration-line: none;
    cursor: pointer;
}

.subrayado:hover {
    color: #B7006D;
    text-decoration-line: underline;
    cursor: pointer;
}

.clr-hr {
    background: #ED92C8;
}


@media (max-width: 575.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .txt-c {
        font-size: 22px;
    }

    .txt-t {
        font-size: 20px;;
    }

    .txt-s {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .txt-c {
        font-size: 22px;
    }

    .txt-t {
        font-size: 20px;;
    }

    .txt-s {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}