<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <p>
        El checkbox es un elemento cuadrado de interacción de la interfaz gráfica, de tamaño pequeño asociado a una opción que puede ser marcado o desmarcado por el usuario.
    </p>

    <p>
        Un checkbox puede encontrarse en dos situaciones: “marcado” ó “no marcado” (“checked” ó “unchecked”). Los checkbox pueden estar agrupados visualmente formando listas de opciones, pero cada uno de ellos es tratado individualmente.
    </p>
    <!-- No seleccionado -->
    <div class="row">
        <div class="offset-1 col-5 offset-md-0 col-md-4">
            <p class="etiqueta-referencia padding-t-10">
                No seleccionado
            </p>
            <form>
                <label class="checkbox-rosa ">Opción 1
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </form>

            <div class="padding-t-10">
                <p class="texto-elementos margin-0">
                    <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                </p>
            </div>

            <div class=" padding-t-10">
                <div class="cuadro border-grisOscuro2-1"></div>
                <p class="texto-elementos padding-l-40">
                    #FFFFFF
                </p>
            </div>

            <div class="">
                <hr class="linea-border border-t-grisTenue-2">
                <p class="texto-elementos padding-l-40">
                    #333333
                </p>
            </div>
        </div>
        <!-- Seleccionado-->
        <div class="col-5 offset-md-0 col-md-4">
            <p class="subseccion etiqueta-referencia padding-t-10">
                Seleccionado
            </p>
            <form>
                <label class="checkbox-rosa">Opción 1
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </form>

            <div class="padding-t-10">
                <p class="texto-elementos margin-0">
                    <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                </p>
            </div>

            <div class=" padding-t-10">
                <div class="cuadro bg-magenta"></div>
                <p class="texto-elementos padding-l-40">
                    #B7006D
                </p>
            </div>

            <div>
                <hr class="linea-border border-magenta-1">
                <p class="texto-elementos padding-l-40">
                    #B7006D
                </p>
            </div>
        </div>
    </div>
    <!-- Tipografía -->
    <h4 class="titulos-elementos padding-t-60">Tipografía</h4>
    <div class="bg-gris padding-20 margin-t-10 ">
        <!-- tiltulos -->
        <div class="row padding-t-10 tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p class="">
                    <strong>Elemento</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    <strong>Color</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p class="">
                    <strong>Tamaño</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    <strong>Peso y estilo</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    <strong>Alineación</strong>
                </p>
            </div>
        </div>
        <!-- Etiqueta -->
        <div class="row padding-t-10 etiqueta-input tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p class="">
                    Etiqueta
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    #494949
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Texto de entrada 1 -->
        <div class="row padding-t-10 color-gris tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p class="">
                    Texto de entrada
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    #333333
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
    </div>
    <!-- Estructura -->
    <h4 class="titulos-elementos padding-t-60">Estructura</h4>
    <p class="subseccion etiqueta-referencia">Tamaño</p>
    <div class="imagen-al-centro padding-t-10">
        <img class="img-fluid" src="./assets/img/checkbox/estilos/tamaño-checkbox.svg" alt="Diagrama mostrando que el alto y ancho del checkbox debe ser 18px.">
    </div>

    <!-- Espaciado -->
    <h4 class="titulos-elementos padding-t-60">Espaciado</h4>

    <div class="bg-gris padding-20 margin-t-10">
        <div class="row padding-b-50">
            <div class="col-md-4 padding-t-10">
                <p class="subseccion etiqueta-referencia ">Vertical</p>
                <div class="imagen-al-centro">
                    <img class="img-fluid" src="./assets/img/checkbox/estilos/espaiciado-vertical-checkbox.svg" alt="Diagrama mostrando que el espacio entre cada checkbox alineado verticalmente debe ser de 10px y al igual que entre checkbox y su etiqueta">
                </div>
            </div>
            <div class="col-md-6 padding-t-10">
                <p class="subseccion etiqueta-referencia ">Horizontal</p>
                <div class="imagen-al-centro">
                    <img class="img-fluid" src="./assets/img/checkbox/estilos/espaciado-horizontal-checkbox.svg" alt="Diagrama mostrando que el espacio entre cada checkbox alineado horizontalmente debe ser de 30px y entre checkbox y su etiqueta 10px">
                </div>
            </div>
        </div>
    </div>

</section>

<!--Sección Usos-->
<section *ngIf="seccion=='usos'">

    <div class="padding-t-30">
        <h3>¿Qué es un checkbox?</h3>
    </div>
    <div class="padding-t-15">
        <p>
            Permite que tus usuarios puedan seleccionar una o más opciones de un listado, también cuando sólo exista una probabilidad de selección.
        </p>
    </div>
    <!--Ejemplo-->
    <p class="txt-title">
        <b>Ejemplo:</b>
    </p>
    <p>
        En el login existe la opción de:
    </p>
    <p class="subseccion  texto-italica-usos-checkbox">
        "Recordar contraseña para este sitio. Utiliza un check para su selección."
    </p>
    <div class="imagen-al-centro">
        <img class="img-fluid" src="./assets/img/checkbox/usos/uso-1.svg" alt="Ilustración de un modal de inicio de sesión con la opción recordar contraseña marcada con un checkbox">
    </div>
    <!--Sección Tips-->
    <div class="padding-t-50">
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong>
            <li type="disc">Colocar los checks en manera vertical, evita el uso horizontal ya que podrías confundir a tus usuarios sino existe un espacio ideal entre etiquetas.</li>
            <li type="disc">Si el usuario solo puede seleccionar una opción, recurre al componente de ratio buttom.</li>
            <li type="disc">Si el usuario sólo tiene dos opciones (positivo y negativo), recurre al toogle buttom.</li>
        </p>
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <div class="padding-t-30">
        <h3>Chekbox</h3>
    </div>
    <div class="row padding-t-50 justify-content-center">
        <form>
            <label class="checkbox-rosa"> Etiqueta de checkbox 1
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-rosa"> Etiqueta de checkbox 2
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-rosa"> Etiqueta de checkbox 3
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </form>
    </div>
    <!--Código checkbox vertical-->
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('checkbox')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="checkbox">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">form</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkbox-rosa"</span><span>></span> Etiqueta de checkbox 1
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"checkbox"</span><span>></span>
            <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkmark"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkbox-rosa"</span><span>></span> Etiqueta de checkbox 2
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"checkbox"</span><span>></span>
            <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkmark"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkbox-rosa"</span><span>></span> Etiqueta de checkbox 3
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"checkbox"</span><span>></span>
            <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkmark"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span>/</span><span class="ca5">form</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!--Checkbox forma líneal-->
    <div class="row padding-t-60 justify-content-center">
        <div class="form-check form-check-inline">
            <label class="checkbox-rosa"> Etiqueta 1
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="checkbox-rosa"> Etiqueta 2
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="checkbox-rosa"> Etiqueta 3
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <!--Código checkbox horizontal-->
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('checkbox-lineal')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="checkbox-lineal">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-check form-check-inline"</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkbox-rosa"</span><span>></span> Etiqueta 1
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"checkbox"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkmark"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-check form-check-inline"</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkbox-rosa"</span><span>></span> Etiqueta 2
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"checkbox"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkmark"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-check form-check-inline"</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkbox-rosa"</span><span>></span> Etiqueta 3
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"checkbox"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"checkmark"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
</section>
                
            
                
            