<div _ngcontent-fur-c10="" class="col-md-12 col-lg-10 offset-lg-1 margin-b-80 margin-t-80"><h3 class="tite padding-b-20"  [routerLink]="['/documentacion-de-desarrollo/lineamientos-sharepoint/solicitud/acerca-de']" >
Acerca de  </h3>
  <p class="padding-b-40 margin-t-20">Antes de realizar la solicitud formal para un sitio SharePoint, conoce los siguientes puntos para que la solicitud sea más sencilla y que el sitio cumpla con lo requerido.</p>

<hr class="line padding-b-40">

 <h3 class="padding-b-20 tite">Definir el objetivo de tu sitio</h3>
<p class="padding-b-10">Es importante definir el objetivo del sitio SharePoint para evaluar si lo que se requiere como área es utilizarlo como medio para compartir información a usuarios lectores de dicho sitio, o si lo que se requiere es un sitio para crear contenido en él y que esté disponible para un grupo de usuarios en específico. </p>
<p class="padding-b-50">Esto con la finalidad de saber qué tipo de sitio sería el adecuado y consumir los recursos apropiados para cada uno. Por otro lado, también es conveniente delimitar el tipo de contenido que manejará el sitio, es decir, qué textos, qué imágenes, qué videos, esto en función de lo que se busca proveer a los usuarios del sitio SharePoint. Asimismo se debe considerar si se requieren integraciones especiales con formularios, tablas, PowerBI u otras.</p>
<hr class="padding-b-40 line ">

<h3 class="tite padding-b-20">Breve descripción del sitio </h3>
<p class="padding-b-50" >Dentro de la solicitud te pedirán una breve descripción de tu sitio. Te sugerimos que la descripción presente brevemente en 150 caracteres lo que el sitio SharePoint tiene para ofrecer a sus lectores.</p>

<hr class="padding-b-40 line">


<h3 class="tite padding-b-40">Detalles de la creación del sitio </h3>

<div class="fondoG2">

<ul>

  <li class="">Se te solicitará título para tu sitio. Por ejemplo: 
    <p class="padding-b-10"><strong class="textos">Coordinación Técnica Normativa</strong></p> </li>
  <li class="padding-b-10">También se solicitará la nomenclatura del sitio. Utiliza las iniciales del nombre del sistema o área para conformar las nomenclaturas.
    <p class="">Por ejemplo:<strong class="textos"> CTN</strong> </p>  Se pueden utilizar las siglas del propósito del sitio, por ejemplo: <strong class="textos">UNICOM-PREP.</strong> </li>
  <li class="padding-b-10">Se requiere elegir una plantilla inicial para tu sitio, la cual puede ser:

    <ul class="" >
      <li padding-t-10> <strong class="texto"> Por defecto: </strong> la cual es una plantilla estándar recomendada para sitios nuevos.</li>
      <li  class="texto">A partir de una. </li>
      <li  class="texto"> Otra. </li>
    </ul>
  </li>
  <li> <p >Se deben definir nombres de grupo para el acceso al sitio. Los tipos de acceso pueden ser: </p>  


    <ul class="padding-b-30">
      <li> <strong class="texto">De lectura:</strong>   se sugiere que el nombre contenga la palabra “Acceso” seguido de un guión bajo y la nomenclatura del sitio. <strong class="textos">Ejemplo: Acceso_CTN.</strong> </li>
      <li>  <strong class="texto">De colaboración:</strong>  se sugiere que el nombre contenga la palabra “ Integrantes” seguido de un guión bajo y la nomenclatura del sitio. <strong class="textos">Ejemplo: Integrantes_CTN.</strong></li>
      <li>  <strong class="texto">De control total: </strong>  este grupo es para propietarios y se sugiere que el nombre contenga la palabra “Propietarios” seguido de un guión bajo y la nomenclatura del sitio. <strong class="textos">Ejemplo: Propietarios_CTN.</strong> </li>
    </ul>
    </li>
    
    
    <li>El sitio tendrá una capacidad inicial por defecto de 30 GB, para solicitar un incremento se deberá realizar vía correo electrónico, dirigido a <a href= "https://login.microsoftonline.com/" class="subrayados">hector.trejo@ine.mx</a>  con copia   <a class="subrayados"  href= "https://login.microsoftonline.com/">dss.unicom@ine.mx.</a>  </li>
</ul>


</div>

<h3 class="tx padding-b-10 margin-t-50">Otras consideraciones que debes tomar en cuenta:</h3>
<div class="fondoG4 margin-t-30"> 
  
  <li>Nombre de la persona que solicita el sitio SharePoint.</li>
  <li>Número de empleado de quien solicita el sitio.</li>
  <li>Nombre de Jefe Inmediato (mando medio-superior) de quien solicita el sitio.</li>
  <li>Vigencia o periodo que deseas mantener activo tu sitio.</li>
  <li>Si contará con acceso externo.</li>
  <li>Si será difundido vía internet o intranet.</li>
  <li>Idioma en el que se presentará el sitio.</li>
  

</div>

<h3 class="tx padding-b margin-t-40 padding-b-20">Solicitar tu sitio SharePoint</h3>
<p class="padding-b-20">Una vez que tengas listos todos los puntos anteriores, puedes proceder a realizar tu solicitud formal del sitio siguiendo los siguientes pasos:</p>
<ol>
  <li>
   Descargar formato y llenar la solicitud formato SPO (002).
  </li>


  <li> Enviar el formato anterior debidamente requisitado a: <a class="subrayados" href= "https://login.microsoftonline.com/" >hector.trejo@ine.mx</a>  con copia a <a class="subrayados"href= "https://login.microsoftonline.com/" >dss.unicom@ine.mx</a> </li>
</ol>
</div>







