<nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion">
    <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad']" [ngClass]="{'active' : seccion =='pruebas-de-usabilidad'}">
                <a class="nav-link">Pruebas de usabilidad</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/ab-testing']" [ngClass]="{'active' : seccion =='ab-testing'}">
                <a class="nav-link">A/B Testing</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/encuestas']" [ngClass]="{'active' : seccion =='encuestas'}">
                <a class="nav-link">Encuestas</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/estudios-ergonomicos']" [ngClass]="{'active' : seccion =='estudios-ergonomicos'}">
                <a class="nav-link">Estudios ergonómicos</a>
            </li>
        </ul>
    </div>
</nav>
<section *ngIf="seccion=='pruebas-de-usabilidad'">
    <h3 class="padding-t-30">¿Qué son las pruebas de usabilidad?</h3>
    <p>
        Son la mejor técnica para probar un producto o servicio (sea digital o no) con usuarios reales a través de la observación de su uso y de las condiciones que existen para ello. Su tiempo de ejecución es reducido y a un bajo costo, lo que permite coordinar
        y ejecutar pruebas hasta con 5 usuarios en un mismo día. Esto logra que el equipo de desarrollo acepte el tiempo y sea una manera factible de recibir oportunidades de mejora.
    </p>
    <h3 class="padding-t-30">¿Cuándo usarlas?</h3>
    <p>
        A partir de la necesidad que surge en un equipo de diseño y desarrollo para evaluar cierto producto, enfocándose en aquellos puntos que van desde la utilidad hasta la funcionalidad; además de identificar aquello que podría ser una interrogante para ser
        desarrollado. De esta manera, las pruebas de usabilidad permiten llegar a la creación de un sistema o sitio iterante, por lo tanto pueden integrarse rápidamente a procesos ágiles como lo es Scrum.
    </p>
    <h3 class="padding-t-30">¿Qué se logra medir?</h3>
    <p>
        Siendo las pruebas una técnica que te permite obtener tanto información cualitativa como datos cuantitativos, analicemos qué se logra medir:
    </p>
    <ul>
        <dd>- Éxito o fracaso en las tareas desempeñadas</dd>
        <dd>- Tiempo en que tarda el usuario en completar o no una tarea (generalmente desisten de ella).</dd>
        <dd>- Datos etnográficos (sexo, edad, tiempos de navegación y uso de tecnologías, etc.)</dd>
        <dd>- Elección de etiquetado</dd>
        <dd>- Efectividad</dd>
        <dd>- Satisfacción (si bien es un dato subjetivo, se puede hacer medible a través de escalas)</dd>
    </ul>

    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/pruebas/prueba-usabilidad.svg" alt="Pruebas de usabildad">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus pruebas de usabilidad.</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/pruebas/ArqTec_PruebasUsabilidad.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='ab-testing'">
    <h3 class="padding-t-30">¿Qué son los A/B Testing?</h3>
    <p>
        Es un tipo de prueba que te permite evaluar dos variantes de un mismo producto o servicio digital para optimizar una métrica. Mientras un grupo de usuarios hace una evaluación del producto original (A), otro sector evaluará la variante (B), midiendo la
        interacción del usuario en cada una, por ejemplo: el uso del color en A y en B para definir el call to action (llamada a la acción) del inicio de cierta página web. Como siempre, el objetivo debe ser claro para saber qué se quiere obtener.
    </p>
    <p>
        No es una condición que sólo se parta de dos variantes, también se podría tener una prueba simultánea ABC, esto depende de las necesidades de estudio.
    </p>
    <h3 class="padding-t-30">¿Cuándo usarlas?</h3>
    <p>
        Cuando se necesiten minimizar los riesgos en el uso del producto y definir con mayor certeza el diseño de interacción. En estos casos hay que tener mucho cuidado en cómo se llevan a cabo las pruebas, es importante revisar las relaciones que existen entre
        los conceptos que se desean probar y la implementación de esos conceptos que se presentan al usuario. Es por eso, que los A/B testing siempre van acompañados de la investigación previa del usuario, la cual te ayuda a conocer las necesidades y
        frustraciones, las carencias y las motivaciones, que en complemento con un experimento iterativo se podrían llegar a tener soluciones potenciales.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/pruebas/ab-testing.svg" alt="A B testing">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus pruebas de A/B Testing.
                </p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/pruebas/ArqTec_PruebasA-B_Testing.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='encuestas'">
    <h3 class="padding-t-30">¿Qué son las encuestas?</h3>
    <p>
        Son un método que nos permite contar con las opiniones de los usuarios sobre temas particulares, por ejemplo, saber con qué frecuencia usan cierta página, sistema o aplicación móvil, cuál es su demografía o si recomiendan el uso de un producto u otro
        y el porqué, además las encuestas pueden ser optimizadas dentro de las pruebas de usabilidad o los A/B Testing.
    </p>
    <p>
        Para el desarrollo de las encuestas hay que tener claridad en la definición de las preguntas y evitar la carga de estrés cognitivo o la fatiga que estas puedan ocasionar a los usuarios.
    </p>
    <h3 class="padding-t-30">¿Cuándo aplicarlas?</h3>
    <p>
        Cuando necesitemos obtener datos cuantitativos sobre los intereses de los usuarios y trabajemos con algún método ágil que demande tiempos cortos de realización de pruebas; para esto, nos podemos apoyar en herramientas que faciliten la obtención de resultados
        inmediatos, permitiendo mostrarlos en tiempo real al área requirente (clientes).
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/pruebas/encuestas.svg" alt="Encuestas">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus encuestas.</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/pruebas/ArqTec_PruebasEncuestas_ en_línea.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='estudios-ergonomicos'">
    <h3 class="padding-t-30">¿Qué son los estudios ergonómicos?</h3>
    <p>
        Es el análisis de las interacciones entre los usuarios y elementos que comprenden un producto digital, obteniendo datos que ayudan a fortalecer el diseño o rediseño de éste.
    </p>
    <p>Para obtener buenos resultados, es importante enfocarse en la detección de los puntos débiles que causan inseguridad en los usuarios al interactuar con un sitio o sistema; reduciendo las problemáticas y daños a los que se enfrentan.
    </p>
    <p>
        El producto digital debe contar con una eficaz ergonomía, entendiéndola como un ambiente donde los usuarios se sienten cómodos y empáticos con el uso de las interfaces.

    </p>
    <h3 class="padding-t-30">¿Cuándo aplicarlos?</h3>
    <p>
        Generalmente se aplican al inicio de un proyecto cuando:
    </p>
    <ol>
        <dd>- Se trata de la nueva versión de un sistema o sitio existente.</dd>
        <dd>- Se realiza el desarrollo de un sistema, sitio o aplicación totalmente nuevo</dd>
    </ol>
    <p>
        En ambos casos, no existe una interfaz previa que medir, y por ende los resultados se tomarán en cuenta para una mejora continua o cíclica, y serán punto de partida para el siguiente versionamiento o salida de paquete. Esto dependerá en los tiempos y
        costos de realización.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/mejora-continua/estudio-ergonomico.svg" alt="Estudios ergonómicos">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus estudios ergonómicos.</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/mejora-continua/ArqTec_estudiosErgonomicos.doc" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>