<div class="row">
    <div class="col-12 padding-t-15">
        <p>Cuando se trata de ingresar datos, los dos patrones más comunes que se utilizan en la web y en las aplicaciones son formularis y asistentes. El formulario electrónico es un descendiente directo del formulario en papel: una página con campos vacíos
            debe completar. El asistente es una manipulacion que lleva al usuario a través de una secuencia de formularios.</p>
    </div>
    <div class="col-12">

    </div>
</div>
