h3 {
    font-size: 1.5rem;
}

.back-img {
    background-color: #F2F2F2;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 60px;
}

.back-img-buttom {
    background-color: #F2F2F2;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 20px;
}

.meta {
    background-color: #F2F2F2;
    padding-left: 25px;

    .open {
        padding: 16px 0;
        font-weight: 500;
    }
}

.rosa {
    color: #D5007F;
}

.metas {
    padding-top: 16px;
    padding-left: 10px;
    border: 1px solid #D8D8D8;
    margin: 20px 0;
}

.margen {
    margin-left: 25px;
}

.og {
    margin-top: 16px;
}