<h3>¿Qué es el protocolo Open Graph?</h3>
<p class="padding-t-30">
    Es un protocolo compuesto por meta etiquetas (HTML) que se incorporan en el encabezado de cada página web. Resultan invisibles para los visitantes, pero le especifican a las redes sociales y a los buscadores ciertos parámetros de previsualización al compartir
    tu contenido.
</p>
<p>
    Proporcionan suficiente información para representar de manera enriquecida cualquier contenido cuando se comparte, por ejemplo: título, imagen, descripción, etc.
</p>
<div class="back-img">
    <img src="assets/img/open-graph/open-graph.svg" class="img-responsive img-fluid" alt="Ilustración de las etiquetas que componen el protocolo Open Graph">
</div>
<h3 class="padding-t-60">Metadatos básicos</h3>
<p class="padding-t-30">
    Las cuatro propiedades requeridas para convertir tus páginas web en objetos gráficos para redes sociales son:
</p>
<div class="row border-gris-6 padding-t-30">
    <div class="col-2 col-sm-1 col-lg-1 fw-500 padding-l-10">
        <p><strong>og:title</strong></p>
    </div>
    <div class="col-10 col-sm-11 col-lg-11">
        <p class="margen">El titulo de la página.</p>
    </div>
</div>
<div class="row border-gris-6 og">
    <div class="col-2 col-sm-1 col-lg-1 fw-500 padding-l-10">
        <p><strong>og:type</strong></p>
    </div>
    <div class="col-10 col-sm-11 col-lg-11">
        <p class="margen">El tipo de elemento multimedia del contenido: article, book, profile o website.</p>
    </div>
</div>
<div class="row border-gris-6 og">
    <div class="col-2 col-sm-1 col-lg-1 fw-500  padding-l-10">
        <p><strong>og:image</strong></p>
    </div>
    <div class="col-10 col-sm-11 col-lg-11">
        <p class="margen">La URL de la imagen que queremos represente a la página al compartirla.</p>
    </div>
</div>
<div class="row border-gris-6 og">
    <div class="col-2 col-sm-1 col-lg-1 fw-500  padding-l-10">
        <p><strong>og:url</strong></p>
    </div>
    <div class="col-10 col-sm-11 col-lg-11">
        <p class="margen">La URL del sitio representado, o por el cual queremos que se enlace.</p>
    </div>
</div>

<div class="row border-gris-6 og">
    <div class="col-2 col-sm-1 col-lg-1 fw-500 padding-l-13">
        <p><strong>og:description</strong></p>
    </div>
    <div class="col-10 col-sm-11 col-lg-11">
        <p class="margen">La descripcion del contenido del sitio, generalmente breve entre 2 y 4 oraciones. Esto se mostrará debajo del título de la publicación en redes sociales.</p>
    </div>
</div>


<p class="padding-t-60">
    Las etiquetas Open Graph se construyen con la siguiente estructura:
</p>
<div class="meta">
    <p class="open">
        &lt;meta property=&ldquo;og:<span class="rosa">propiedad de Open Graph</span>&rdquo; content=&ldquo;<span class="rosa">propiedad de tu sitio</span>&rdquo; /&gt;
    </p>
</div>
<div class="padding-t-30 break-url">
    <strong>Ejemplos:</strong>
    <div class="margin-t-10 metas">
        <p>&lt;meta property=&ldquo;og:<span class="rosa">title</span>&rdquo; content=&ldquo;<span class="rosa">Instituto Nacional Electoral</span>&rdquo; /&gt;</p>
        <p>&lt;meta property=&ldquo;og:<span class="rosa">type</span>&rdquo; content=&ldquo;<span class="rosa">website</span>&rdquo; /&gt;<span class="rosa"></span></p>
        <p>&lt;meta property=&ldquo;og:<span class="rosa">image</span>&rdquo; content=&ldquo;<span class="rosa">https://www.ine.mx/images/logoINE.png</span>&rdquo; /&gt;</p>
        <p>&lt;meta property=&ldquo;og:<span class="rosa">url</span>&rdquo; content=&ldquo;<span class="rosa">https://www.ine.mx</span>&rdquo; /&gt;<span class="rosa"></span></p>
        <p>&lt;meta property=&ldquo;og:<span class="rosa">description</span>&rdquo; content=&ldquo;<span class="rosa">En el portal INE encontrarás información de elecciones federales en México, Credencial para Votar, actividades del instituto y para la ciudadanía.</span>&rdquo; /&gt;<span class="rosa"></span></p>
    </div>
</div>
<p class="padding-t-30">
    A partir de este ejemplo, el portal ine.mx se mostraría de la siguiente manera al compartirlo en Facebook.
</p>
<div class="back-img-buttom">
    <img src="assets/img/open-graph/openGraph.jpg" class="img-responsive img-fluid" alt="Ilustración de las etiquetas que componen el protocolo Open Graph">
</div>