<h3>¿Qué son?</h3>
<p>
    Son las normas principales que deben seguirse en cuanto al diseño de cualquier composición. Con ellas se logra obtener un producto atractivo, agradable y equilibrado a la vista de los usuarios.
</p>
<h3 class="padding-t-30">¿Para qué se usan?</h3>
<p>
    Para que nuestro proyecto sea visualmente agradable y los usuarios se sientan cómodos con él. Además, al aplicar estos principios al diseño de interfaz se garantiza un desarrollo óptimo, fácil de usar y de encontrar la información deseada.
</p>
<p class="padding-t-30 margin-b-20 fw-400">Principios de calidad de interfaz:</p>
<div class="row">
    <div class="col-sm-4 col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Balance</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Contraste</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Conformidad y estilo</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Énfasis</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Alineación a retícula</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Jerarquías visuales</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Legibilidad y Mapeo</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Proporción</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Tipografía</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Alineación de textos</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 padding-t-20">
        <div class="row">
            <div class="col-1 col-md-1">
                <i class="fa fa-check circulo-check"></i>
            </div>
            <div class="col-10 col-md-8 padding-l-20 padding-r-0">
                <p class="texto-check">Consistencias</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-img padding-20 margin-t-60">
    <div class="row">
        <div class="col-sm-4 col-md-4 padding-t-10 text-center">
            <img class="img-fluid" src="./assets/img/UX/diseno-de-interfaz/calidad-de-interfaz.svg" alt="Calidad de interfaz">
        </div>
        <div class="col-md-8 padding-t-10">
            <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
            <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus entrevistas focus group.
            </p>
            <div class="boton-al-centro">
                <a href="./assets/docs/diseno-de-interfaz/ArqTec_CalidadUI.docx" download>
                    <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                        <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>