h3 {
    font-size: 1.5rem;
}

img {
    height: 187px;
    width: 187px;
}

.circulo-check {
    padding: 4px;
    border-radius: 50%;
    background: #409AA1 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
}

.texto-check {
    font-weight: 500;
}