<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura y espaciado</h3>
    <h4>Elevadas</h4>
    <div class="margin-b-60  margin-t-30 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/cards/estilo/elevadas.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-45">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td class="f-24">H5</td>
                <td>24dp</td>
                <td>Regular</td>
                <td>Izquierda</td>
            </tr>
            <tr>
                <td>Cuerpo 1</td>
                <td>16dp</td>
                <td>Regular</td>
                <td>Izquierda</td>
            </tr>
            <tr class="f-12">
                <td>Subtítulo</td>
                <td>12dp</td>
                <td>Regular</td>
                <td>Izquierda</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row justify-content-sm-center">
        <div class="col-12 col-sm-8 offset-md-0 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/cards/estilo/aplicacion-1.svg"
                alt="">
        </div>
        <div class="col-10 col-sm-8 offset-md-0 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>H5:</strong> #333333</p>
            <p class="border-app margin-b-10"><strong>Subtítulo:</strong> #666666</p>
            <p class="border-app margin-b-10"><strong>Cuerpo 2:</strong> #333333</p>
            <p class="border-app"><strong>Card:</strong> #FFFFFF</p>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para escanear información relevante y accionable, ya que los elementos como texto e imágenes se colocan de manera que indican claramente su jerarquía.
        </p>
        <p>
            Se caracterizan por ser unidades identificables. Una tarjeta puede estar sola, sin depender de los elementos circundantes para tener contexto. No puede fusionarse con otra o dividirse en múltiples tarjetas.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p>
            Utiliza este componente para bloques de contenido. Estos bloques, en su conjunto, deben estar relacionados con un solo tema o destino. El contenido de la tarjeta puede recibir diferentes niveles de énfasis, dependiendo de su nivel de jerarquía.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando tienes perfiles de varios usuarios que incluyen una serie de datos como nombre, foto, teléfono y cargo, cada uno de estos perfiles puede englobarse en una tarjeta.
        </p>
        <div class="margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/cards/cards.svg" alt="Ejemplo del uso de tarjetas para agrupar la información de cada usuario">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <p class="margin-t-30">
        <strong>1.</strong> Para agregar un componente card a tu aplicación, primero deberás agregar los iconos necesarios a tu proyecto. Para esto, ubica la carpeta /<strong>drawable</strong>
    </p>
    <div class="margin-b-40  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/drawable.svg">
    </div>
    <p class="tip padding-15 margin-0">
        <strong>Tip:</strong> Puedes conocer la <a class="enlace" [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']">configuración general</a> de un proyecto en el apartado
        Lineamientos Android.
    </p>
    <p class="margin-t-70 margin-b-50">
        <strong>2. </strong>En este ejemplo, para agregar el icono de fotografía, agrega el siguiente fichero:
    </p>
    <div class="fw-bold margin-b-20">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/cards/photo.svg">ic_photo.xml
    </div>
    <div class="jumbotron jumbotron-fluid f-16">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('card1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="card1">
            <pre class="prettyprinted" style="">
<span class="ct">&lt;vector</span> xmlns:<span class="cm">android</span>=<span class="cl">"http://schemas.android.com/apk/res/android"</span><span>
        </span><span class="cm">android</span>:width=<span class="cl">"24dp"</span><span>
        </span><span class="cm">android</span>:height=<span class="cl">"24dp"</span><span>
        </span><span class="cm">android</span>:viewportWidth=<span class="cl">"24.0"</span><span>
        </span><span class="cm">android</span>:viewportHeight=<span class="cl">"24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">"#FAF8F8"</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">"M21,3H3C2,3 1,4 1,5v14c0,1.1 0.9,2 2,2h18c1,0 2,-1 2,-2V5c0,-1 -1,-2 -2,-2zM5,17l3.5,-4.5 2.5,3.01L14.5,11l4.5,6H5z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70 margin-b-50">
        <strong>3. </strong>El siguiente paso es agregar el componente a tu aplicación. Para esto, ubica el fichero
        <strong>activity_main.xml</strong> dentro de la carpeta /<strong>layout</strong>
    </p>
    <div class="margin-b-70  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg">
    </div>
    <p class="margin-t-70 margin-b-50">
        <strong>4. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('card3')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="card3">
               <pre class="prettyprinted" style="">
<span class="ct">&lt;com.google.android.material.card.MaterialCardView</span><span>
    </span><span class="cm">android</span>:id=<span class="cl">&quot;@+id/cvCardView&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:background=<span class="cl">&quot;?android:attr/colorBackground&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;10dp&quot;</span><span>
    </span><span class="cm">app</span>:strokeWidth=<span class="cl">&quot;1dp&quot;</span><span>
    </span><span class="cm">app</span>:strokeColor=<span class="cl">&quot;@color/stroke_color&quot;</span><span>
    </span><span class="cm">app</span>:cardElevation=<span class="cl">&quot;5dp&quot;</span><span class="ct">&gt;</span><span>

    </span><span class="ct">&lt;LinearLayout</span><span>
        </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
        </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;match_parent&quot;</span><span>
        </span><span class="cm">android</span>:orientation=<span class="cl">&quot;vertical&quot;</span><span class="ct">&gt;</span><span>

        </span><span class="ct">&lt;LinearLayout</span><span>
            </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
            </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
            </span><span class="cm">android</span>:orientation=<span class="cl">&quot;horizontal&quot;</span><span>
            </span><span class="cm">android</span>:padding=<span class="cl">&quot;16dp&quot;</span><span class="ct">&gt;</span><span>

            </span><span class="ct">&lt;ImageView</span><span>
                </span><span class="cm">android</span>:tint=<span class="cl">&quot;@color/colorBottomPink&quot;</span><span>
                </span><span class="cm">android</span>:id=<span class="cl">&quot;@+id/imvLogo&quot;</span><span>
                </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;40dp&quot;</span><span>
                </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;40dp&quot;</span><span>
                </span><span class="cm">android</span>:src=<span class="cl">&quot;@drawable/ic_photo&quot;</span><span>
                </span><span class="cm">android</span>:scaleType=<span class="cl">&quot;centerInside&quot;</span><span>
                </span><span class="cm">android</span>:background=<span class="cl">&quot;@color/colorBottomInactive&quot;</span><span>
                </span><span class="cm">tools</span>:ignore=<span class="cl">"contentDescription"</span><span>
                </span><span class="cm">android</span>:layout_marginEnd=<span class="cl">&quot;16dp&quot;</span><span class="ct">/&gt;</span><span>

            </span><span class="ct">&lt;LinearLayout</span><span>
                </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
                </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
                </span><span class="cm">android</span>:orientation=<span class="cl">&quot;vertical&quot;</span><span class="ct">&gt;</span><span>
                </span><span class="ct">&lt;TextView</span><span>
                    </span><span class="cm">android</span>:id=<span class="cl">&quot;@+id/tvTitle&quot;</span><span>
                    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
                    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
                    </span><span class="cm">android</span>:text=<span class="cl">&quot;@string/app_name&quot;</span><span>
                    </span><span class="cm">android</span>:textAppearance=<span class="cl">&quot;?attr/textAppearanceHeadline5&quot;</span><span>
                    </span><span class="cm">android</span>:layout_marginTop=<span class="cl">"-8dp"</span><span class="ct">/&gt;</span><span>
                </span><span class="ct">&lt;TextView</span><span>
                    </span><span class="cm">android</span>:id=<span class="cl">&quot;@+id/tvSubtitle&quot;</span><span>
                    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
                    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
                    </span><span class="cm">android</span>:textSize=<span class="cl">&quot;14sp&quot;</span><span>
                    </span><span class="cm">android</span>:text=<span class="cl">&quot;Subt&iacute;tulo&quot;</span><span>
                    </span><span class="cm">android</span>:textColor=<span class="cl">&quot;@color/colorBottomLess&quot;</span><span>
                    </span><span class="cm">tools:</span>ignore=<span class="cl">&quot;HardcodedText&quot;</span><span class="ct"> /&gt;</span><span>
            </span><span class="ct">&lt;/LinearLayout&gt;</span><span>

        </span><span class="ct">&lt;/LinearLayout&gt;</span><span>

        </span><span class="ct">&lt;LinearLayout</span><span>
            </span><span class="cm">android</span>:id=<span class="cl">&quot;@+id/llOne&quot;</span><span>
            </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
            </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
            </span><span class="cm">android</span>:orientation=<span class="cl">&quot;vertical&quot;</span><span class="ct">&gt;</span><span>

            </span><span class="ct">&lt;ImageView</span><span>
                </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
                </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;122dp&quot;</span><span>
                </span><span class="cm">android</span>:src=<span class="cl">&quot;@drawable/ic_photo&quot;</span><span>
                </span><span class="cm">android</span>:tint=<span class="cl">&quot;@color/colorBottomPink&quot;</span><span>
                </span><span class="cm">tools</span>:ignore=<span class="cl">&quot;ContentDescription&quot;</span><span>
                </span><span class="cm">android</span>:background=<span class="cl">&quot;@color/colorBottomInactive&quot;</span><span class="ct">/&gt; </span><span>

            </span><span class="ct">&lt;TextView</span><span>
                </span><span class="cm">android</span>:text=<span class="cl">&quot;Cuerpo 2 Lorem Ipsup is simply dummy text of the printing&quot;</span><span>
                </span><span class="cm">android</span>:textAppearance=<span class="cl">&quot;@style/TextAppearance.AppCompat.Body1&quot;</span><span>
                </span><span class="cm">android</span>:paddingTop=<span class="cl">&quot;16dp&quot;</span><span>
                </span><span class="cm">android</span>:paddingEnd=<span class="cl">&quot;16dp&quot;</span><span>
                </span><span class="cm">android</span>:paddingStart=<span class="cl">&quot;16dp&quot;</span><span>
                </span><span class="cm">android</span>:paddingBottom=<span class="cl">&quot;24dp&quot;</span><span>
                </span><span class="cm">android</span>:lines=<span class="cl">&quot;2&quot;</span><span>
                </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
                </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;match_parent&quot;</span><span class="ct"> /&gt;</span><span>

            </span><span class="ct">&lt;LinearLayout</span><span>
                </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
                </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;match_parent&quot;</span><span>
                </span><span class="cm">android</span>:orientation=<span class="cl">&quot;horizontal&quot;</span><span>
                </span><span class="cm">android</span>:paddingStart=<span class="cl">&quot;16dp&quot;</span><span>
                </span><span class="cm">android</span>:paddingBottom=<span class="cl">&quot;16dp&quot;</span><span class="ct">&gt;</span><span>


                </span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
                    </span><span>style</span>=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonOutLine&quot;</span><span>
                    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
                    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;36dp&quot;</span><span>
                    </span><span class="cm">android</span>:text=<span class="cl">"Botón"</span><span>
                    </span><span class="cm">android</span>:layout_marginEnd=<span class="cl">"8dp"</span><span class="ct">/&gt;</span><span>

                </span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
                    </span><span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonSolid&quot;</span><span>
                    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span></span><span>
                    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;36dp&quot;</span><span>
                    </span><span class="cm">android</span>:text=<span class="cl">"Botón"</span><span class="ct"> /&gt;</span><span>

            </span><span class="ct">&lt;/LinearLayout&gt;</span><span>
        </span><span class="ct">&lt;/LinearLayout&gt;</span><span>
    </span><span class="ct">&lt;/LinearLayout&gt;</span><span>
</span><span class="ct">&lt;/com.google.android.material.card.MaterialCardView</span><span class="ct">&gt;</span>
        </pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
       <div class="margin-b-30  margin-t-30 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/cards/elevada-card.svg">
    </div>
</section>