h3 {
    font-size: 1.5rem;
}

/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .boton-al-centro {
        text-align: center;
    }
    .menu-seccion .collapse:not(.show) {
        display: block;
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .padding-top-50 {
        padding-top: 50px;
    }
    .margin-0 {
        margin: 0px;
    }
    .texto-14-px {
        font-size: 14px;
    }
    ///Scroll pestañas///
    .scroll-nowprap {
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        .item {
            display: inline-block;
            width: 100px;
            height: 100%;
            outline: 1px dotted gray;
            padding: 1em;
            box-sizing: border-box;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .boton-al-centro {
        text-align: center;
    }
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .texto-14-px {
        font-size: 14px;
    }
    ///Scroll pestañas///
    .scroll-nowprap {
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}