<nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion">
    <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02 menu-wrapper">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/estructura/card-sorting']" [ngClass]="{'active' : seccion =='card-sorting'}">
                <a class="nav-link padding-top-5">Card sorting</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/estructura/tree-testing']" [ngClass]="{'active' : seccion =='tree-testing'}">
                <a class="nav-link padding-top-5">Tree testing</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/estructura/sistemas-de-navegacion']" [ngClass]="{'active' : seccion =='sistemas-de-navegacion'}">
                <a class="nav-link ">Sistemas de Navegación</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/estructura/tipos-de-busqueda']" [ngClass]="{'active' : seccion =='tipos-de-busqueda'}">
                <a class="nav-link padding-top-5">Tipos de búsqueda</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/estructura/diagramas-de-flujo']" [ngClass]="{'active' : seccion =='diagramas-de-flujo'}">
                <a class="nav-link padding-top-5">Diagramas de flujo</a>
            </li>
        </ul>
    </div>
</nav>

<section *ngIf="seccion=='card-sorting'">
    <h3 class="padding-t-30">¿Qué es un card sorting?</h3>
    <p>
        Es una técnica que consiste en el acomodo de ciertas tarjetas que contienen debidamente etiquetados los posibles apartados del sistema o producto digital, para obtener, por ejemplo: mejoras en la estructura, nuevos rótulos y jerarquización de la información.

    </p>
    <h3 class="padding-t-30">¿Cuándo aplicarlo?</h3>
    <p>
        Lo aplicaremos principalmente para definir los sistemas de navegación, esto nos servirá como medio de investigación sobre la relación que los usuarios hacen entre categorías y el significado que otorgan a estas, además evaluaremos el etiquetado que se
        planteó en un inicio y analizaremos si realmente es funcional.
    </p>
    <p>
        Al final se evaluarán los resultados y serán graficados, así se obtendrán las coincidencias entre los distintos acomodos de los usuarios que hayan participado. Con esto se propondrán mejoras y existirá una reestructuración del mapa de sitio.
    </p>
    <p>
        Una vez aplicado el card sorting, puedes elaborar una matriz de clúster para que realices el análisis de frecuencias, varianza y medidas de tendencia central.
    </p>
    <h3 class="padding-t-30">Tipos de card sorting</h3>
    <ol>
        <li value="1">
            <p>
                <strong>Abierto:</strong> Los usuarios disponen de todas las tarjetas para acomodarlas como mejor dispongan, por lo tanto, podrán crear tantas categorías sean necesarias además de poder renombrarlas.
            </p>
        </li>
        <li>
            <p>
                <strong>Cerrado:</strong> Se tienen categorías predeterminadas que fueron acordadas por el equipo de trabajo, estas no podrán ser movidas por los usuarios, de esta forma sólo se integrarán tarjetas en los grupos.
            </p>
        </li>
        <li>
            <p>
                <strong>Híbrido:</strong> Es una combinación del card sorting abierto y cerrado. Se dan a los usuarios las categorías predeterminadas, pero podrán agregar nuevas categorías si así lo creen conveniente.
            </p>
        </li>
    </ol>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/estructura/card-sorting.svg" alt="Card Sorting">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tu card sorting</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/estructura/ArqTec_EstructuraCard_Sorting.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='tree-testing'">
    <h3 class="padding-t-30">¿Qué es un tree testing?</h3>
    <p>
        Es un buen complemento del card sorting, esta técnica ayuda a evaluar la facilidad con que los usuarios encuentran contenidos y navegan en el sitio. Además, permite determinar etiquetas que causan confusión o que, al no estar controladas, generan selecciones
        que no permiten a los usuarios cumplir con las actividades diseñadas.
    </p>

    <h3 class="padding-t-30">¿Cuándo aplicarlo?</h3>
    <p>
        Cuando necesitemos detectar problemas tempranos dentro de la navegación que hayamos estructurado. Con esta técnica, los usuarios complementarán una serie de tareas definidas previamente en equipo siempre en función al objetivo del negocio. Lo que más
        nos interesará serán aquellas tareas que hayan sido o no resueltas bajo los mapas mentales de los usuarios que no se tenían contemplados.

    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/estructura/tree-testing.svg" alt="Tree testing">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tu tree testing.</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/estructura/ArqTec_EstructuraTree_Testing.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='sistemas-de-navegacion'">
    <h3 class="padding-t-30">¿Qué es un sistema de navegación?</h3>
    <p>
        Es la definición de las conexiones existentes entre el usuario y la información, sí previamente ya hemos hablado de las técnicas que requeriremos para comenzar a definir las navegaciones, para este momento ya tenemos que dejar en claro cuáles y cuántos
        serán los sistemas que necesitaremos ocupar en el sitio. Básicamente tenemos tres sistemas que nos ayudan a que los usuarios sepan en dónde están, a dónde pueden ir y cómo regresar a cierto punto dentro del sitio.
    </p>
    <h3 class="padding-t-30">¿Cuándo aplicarlo?</h3>
    <p>
        Al momento de definir los flujos o caminos que existirán en el producto digital. Cualquier posibilidad que tenga el usuario para recorrer el sitio será necesario definirlo dentro de un esquema de navegación.
    </p>
    <h3 class="padding-t-30">Tipos de sistemas de navegación</h3>
    <ul>
        <li type="disc">
            <p>
                <strong>Global:</strong> Define las partes generales de las que está compuesto el sitio y suele ser una constante, visualmente conserva su jerarquía como punto de enfoque. Generalmente se encuentra en la parte superior y ocasionalmente
                en manera vertical cuando se conforma de varios ítems.
            </p>
        </li>
        <li type="disc">
            <p>
                <strong>Local:</strong> Es la navegación a detalle de cierto ítem del menú global, que ayuda a los usuarios a encontrar contenido relacionado una vez estando dentro del apartado del ítem global. Es de mucha utilidad cuando hay que ofrecer
                una navegación más profunda o cuando en nuestro mapa de sitio se plantearon varios contenidos relacionados en un solo ítem.
            </p>
        </li>
        <li type="disc">
            <p>
                <strong>Contextual:</strong> La utilizaremos dentro del contenido de los apartados, quedará contextualizada en la información, esta navegación ayuda a que el usuario pueda ir a otros contenidos dependiendo del interés que tenga en uno
                u otro apartado.
            </p>
        </li>
    </ul>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-3 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/estructura/sistema-navegacion.svg" alt="Sistemas de navegación">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tu sistema de navegación</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/estructura/ArqTec_EstructuraSistemas_Navegacion.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='tipos-de-busqueda'">
    <h3 class="padding-t-30">En UX, ¿A qué llamamos búsqueda?</h3>
    <p>
        A la facilidad de poder encontrar o descubrir algo. Los diferentes tipos de búsqueda tienen que ver con un sistema o ambiente qué apoya a la navegación y mejora el SEO <i>(Search Engine Optimization)</i>.
    </p>
    <h3 class="padding-t-30">¿Cómo y cuándo usarlos?</h3>
    <p>
        Recordemos que no sólo se diseña para búsquedas en internet, existirán proyectos en los que tendremos que fijar atención a los motores de búsqueda internos
        <i>(searching)</i>, o a buscadores de aplicaciones móviles.
    </p>
    <p>
        Las <strong class="txt-title">búsquedas son una indización</strong> que se realiza contabilizando frecuencias de ocurrencia. A partir de esto, se estima la capacidad de cada término para representar el contenido de la unidad. Cuando los usuarios
        introducen una consulta, el sistema equipara la consulta con palabras clave devolviendo al usuario los resultados con mayor frecuencia. Además, pueden intervenir los vocabularios controlados por parte del sistema.
    </p>
    <p>
        Es importante considerar en esta parte a los metadatos, ya que nos ayudaran a describir el contenido de un recurso y a otorgar diferentes valores, el número de metadatos que ocupemos dependerá de la cantidad de contenido que tenga nuestro sitio, por lo
        tanto, los metadatos deben proporcionar la suficiente información, para saber que existen los suficientes datos de interés.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/estructura/tipos-busqueda.svg" alt="Tipos de búsqueda">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Conoce más sobre indización</p>
                <p>Descubre prácticos consejos que te servirán para llevar adecuadamente el diseño de búsquedas</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/estructura/ArqTec_EstructuraTipos_busqueda.doc" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='diagramas-de-flujo'">
    <h3 class="padding-t-30">¿Qué es un diagrama de flujo?</h3>
    <p>
        Representan la organización del contenido, el etiquetado y aquellos elementos que sean partícipes en las navegaciones de los usuarios.
    </p>
    <h3 class="padding-t-30">¿Cuándo aplicarlos?</h3>
    <p>
        Se usarán en la representación esquemática de la estructura del sitio, la cual puede comenzar en una página inicial y mostrar el vínculo que existe con el resto de las páginas.
    </p>
    <p>
        El diagrama debe presentar las relaciones y los diferentes caminos que existen para recorrer el sitio; además, los niveles de profundidad deben ser claros, estando presente el nombre de cada sección. Los diagramas serán el comienzo para poder diseñar
        los primeros wireframes, este proceso es iterativo y cambiará las veces que se requiera, ya que nos ayudarán a conectar ideas y comprender cómo podemos mejorar la navegación y detectar caminos inconclusos.
    </p>
    <p>
        Es muy importante que los diagramas proyecten el crecimiento del sitio, mostrando dónde se puede seguir creciendo orgánicamente en la interfaz, anticipándonos a las nuevas necesidades que tendrá el sitio una vez liberado.
    </p>
    <p>
        Por lo anterior, los diagramas son uno de los principales entregables en la <strong>Arquitectura de Información</strong>
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10">
                <img class="img-fluid margin-l-40" src="./assets/img/UX/estructura/diagrama-flujo.svg" alt="Diagrama de flujo">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tu diagrama de flujo.
                </p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/estructura/ArqTec_EstructuraDiagramas_Flujo.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>