@import './src/sass/_variables.scss';
.nav-item.active {
    font-weight: bolder;
    min-width: 100px;
}

.scroll-menu {
  
    position: fixed;
    z-index: 1;
    width: 24%;
    overflow-y: scroll;
    height: 83%;
}

.mode-dark {
    background: var(--bg-menu-izq);
}

.linea {
    border-bottom: 3px solid #E149A4;
    min-width: 100px;
}

.encabezado-buscador {
    background-image: linear-gradient(to right, #A577BC, #6F378A);
    color: $cBlanco;
}

.menu-componentes-ui {
    list-style: none!important;
}

.menu-componentes-ui li::before {
    content: none;
}

.menu-componentes-ui li a {
    color: var(--txt-color-ul-li);
}

.card-header.resultado {
    color: var(--txt-result-ul);
    background: var(--bg-menu-izq);
}

.card-header.resultado.collapsed {
    color: var(--txt-color-ul-li);
    .fw {
        font-weight: 400;
    }
    background: var(--bg-menu-izq);
}

.menu-componentes-ui li a:hover {
    color: var(--txt-color-ul-li);
    font-weight: 600;
    text-decoration: none;
}

.list-group-item {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    color: $cNegro;
    width: 100%;
    border-radius: unset;
    border-color: var(--border-menu-izq);
}

.list-group-item.active {
    background-color: var(--bg-li-active);
    font-weight: 600;
}

.list-group-item:first-child {
    border-top: none;
}

.menu-componentes-ui li a.active {
    font-weight: 600;
    color: $cMagenta
}

.li-activo {
    font-weight: 800;
    color: $cGrisOscuro;
}

.let:first-letter {
    text-transform: uppercase;
}

.sombra-menu {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(128, 115, 128, 1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(128, 115, 128, 1);
    box-shadow: 0px -2px 2px 1px var(--border-box-shadow);
}

.size {
    height: 200px;
}

#sidebar-toggle {
    display: none;
}

.settings {
    box-sizing: border-box;
    background: var(--bg-menu-izq);
}

.texto-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

@media (max-width: 575.98) {
    #sidebar[_ngcontent-vwi-c46] {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #fff;
    }
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #fff;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    .padding-top-50 {
        padding-top: 50px;
    }
    .margin-0 {
        margin: 0px;
    }
    .settings {
        box-sizing: border-box;
        height: 100vh;
    }
    .sidebar-ul {
        height: 60vh;
    }
    ///scroll de pestañas//
    .scroll-nowprap {
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    ///vista de pestañas///
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .padding-t-113 {
        padding-top: 64px;
    }
    .scroll-menu {
        height: 0%;
        width: 0%;
        position: none;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        display: block;
    }
}

@media (max-width: 767) {
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #fff;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    .padding-top-50 {
        padding-top: 50px;
    }
    .margin-0 {
        margin: 0px;
    }
    .settings {
        box-sizing: border-box;
        height: 100vh;
    }
    .sidebar-ul {
        height: 60vh;
    }
    ///scroll de pestañas//
    .scroll-nowprap {
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    ///vista de pestañas///
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .padding-t-113 {
        padding-top: 64px;
    }
    .scroll-menu {
        height: 83%;
        width: 0%;
        position: none;
        z-index: 1;
        top: 0;
        overflow-x: scroll;
        display: block;
    }
}

@media (max-width: 991px) {
    ///vista de pestañas///
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #fff;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .padding-top-50 {
        padding-top: 90px;
    }
    ///scroll de pestañas//
    .scroll-nowprap {
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .padding-center {
        padding-left: 25%;
    }
    .padding-t-113 {
        padding-top: 64px;
    }
    .scroll-menu {
        height: 83%;
        width: 0%;
        position: none;
        z-index: 1;
        top: 0;
        overflow-x: scroll;
        display: block;
    }
}

.paddin-imagen {
    right: 0%;
    width: 19.5rem;
}

//@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}