<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3 menu-lateral sombra-menu settings accordion" id="sidebar" [ngClass]="{'open-sidebar' : abierto }">
            <ul class="scroll-menu menu-componentes-ui padding-l-15 padding-r-25 scroll-menu change mrgn" [ngClass]="{'active': this._globalService.wsMenuLateral > 0}">
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="ComponentsMenu" data-toggle="collapse" data-target="#collapseComponente" aria-expanded="true" aria-controls="collapseComponente">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="mb-0 f-16 fw clr">
                                    Web
                                </h5>
                            </div>
                            <div class="col-md-4 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fw-400">
                        <div id="collapseComponente" class="collapse" aria-labelledby="ComponentsMenu" data-parent=".accordion">
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='accordion'}"><a [routerLink]="['/componentes-ui/web/accordion/estilo']">Accordion</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='button'}"><a [routerLink]="['/componentes-ui/web/button/estilo']">Button</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='breadcrumb'}"><a [routerLink]="['/componentes-ui/web/breadcrumb/estilo']">Breadcrumb</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='cards'}"><a [routerLink]="['/componentes-ui/web/cards/estilo']">Cards</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='checkbox'}"><a [routerLink]="['/componentes-ui/web/checkbox/estilo']">Checkbox</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='data table'}"><a [routerLink]="['/componentes-ui/web/data-table/estilo']">Data table</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='datepicker'}"><a [routerLink]="['/componentes-ui/web/date-picker/estilo']">Datepicker</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='dropdowns'}"><a [routerLink]="['/componentes-ui/web/dropdowns/estilo']">Dropdowns</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='input'}"><a [routerLink]="['/componentes-ui/web/input/estilo']">Input</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='modal'}"><a [routerLink]="['/componentes-ui/web/modal/estilo']">Modal</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='nav tabs'}"><a [routerLink]="['/componentes-ui/web/navtabs/estilo']">Nav
                                    tabs</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='notification'}"><a [routerLink]="['/componentes-ui/web/notification/estilo']">Notification</a></li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='pagination'}"><a [routerLink]="['/componentes-ui/web/pagination/estilo']">Pagination</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='picklist'}"><a [routerLink]="['/componentes-ui/web/pick-list/estilo']">Picklist</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='progressbar'}"><a [routerLink]="['/componentes-ui/web/progressbar/estilo']">Progressbar</a></li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='radio button'}"><a [routerLink]="['/componentes-ui/web/radio/estilo']">Radio
                                    button</a></li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='search'}"><a [routerLink]="['/componentes-ui/web/search/estilo']">Search</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='spinner'}"><a [routerLink]="['/componentes-ui/web/spinner/estilo']">Spinner</a></li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='toast'}"><a [routerLink]="['/componentes-ui/web/toast/estilo']">Toast</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='toggle'}"><a [routerLink]="['/componentes-ui/web/toggle/estilo']">Toggle</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='tooltips'}"><a [routerLink]="['/componentes-ui/web/tooltips/estilo']">Tooltips</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='upload'}"><a [routerLink]="['/componentes-ui/web/upload/estilo']">Upload</a>
                            </li>
                            <li class="mode-dark list-group-item" [ngClass]="{'active' : tipo =='formulario'}"><a [routerLink]="['/componentes-ui/web/formulario/estilo']">Formulario</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="ComponentsAndMenu" data-toggle="collapse" data-target="#collapseAndComponente" aria-expanded="true" aria-controls="collapseAndComponente">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="mb-0 f-16 fw clr">
                                    Android
                                </h5>
                            </div>
                            <div class="col-md-4 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fw-400">
                        <div id="collapseAndComponente" class="collapse" aria-labelledby="ComponentsAndMenu" data-parent=".accordion">
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='app bar: top'}"><a [routerLink]="['/componentes-ui/android/app-bar-top/estilo']">App bar: top</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='bottom navigation'}"><a [routerLink]="['/componentes-ui/android/bottom-navigation/estilo']">Bottom navigation</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='buttons'}"><a [routerLink]="['/componentes-ui/android/buttons/estilo']">Buttons</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='buttons: floating action button'}"><a [routerLink]="['/componentes-ui/android/buttons-floating-action-button/estilo']">Buttons: floating action button </a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='card'}"><a [routerLink]="['/componentes-ui/android/card/estilo']">Cards</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='chips'}"><a [routerLink]="['/componentes-ui/android/chips/estilo']">Chips</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='dialogs'}"><a [routerLink]="['/componentes-ui/android/dialogs/estilo']">Dialogs</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='dividers'}"><a [routerLink]="['/componentes-ui/android/dividers/estilo']">Dividers</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='menus'}"><a [routerLink]="['/componentes-ui/android/menus/estilo']">Menus</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='splash screen'}"><a [routerLink]="['/componentes-ui/android/splash-screen/estilo']">Splash screen (Launch screen)</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='tabs'}"><a [routerLink]="['/componentes-ui/android/tabs/estilo']">Tabs</a>
                            </li>
                            <li class="mode-dark list-group-item" [ngClass]="{'active' : tipo =='text fields'}"><a [routerLink]="['/componentes-ui/android/text-fields/estilo']">Text Fields</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="resultadoMenu" data-toggle="collapse" data-target="#collapseComponenteAndroid" aria-expanded="false" aria-controls="collapseComponenteAndroid">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="mb-0 f-16 fw clr">
                                    Elementos de Diseño
                                </h5>
                            </div>
                            <div class="col-md-4 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fw-400">
                        <div id="collapseComponenteAndroid" class="collapse" aria-labelledby="resultadoMenu" data-parent=".accordion">
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='tipografía'}"><a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/tipografia']">Tipografía</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='color'}"><a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']">Color</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='Iconografía'}"><a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/iconografia']">Iconografía</a></li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='Ilustraciones'}"><a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/ilustraciones']">Ilustraciones</a>
                            </li>
                            <li class="mode-dark list-group-item" [ngClass]="{'active' : tipo =='identificadores gráficos'}"><a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/identificadores-graficos']">Identificadores gráficos</a>
                            </li>

                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-md-12 col-lg-9">
            <div class="row encabezado-buscador padding-t-113">
                <div class="text-right">
                    <img class="position-absolute paddin-imagen img-responsive" alt="BG-UI" src="./assets/img/menu/bg-UI.png">
                </div>
                <div class="offset-1 text-left position-relative padding-r-40 size texto-vertical">
                    <h2 class="let">{{tipo}}</h2>
                    <p class="margin-0 f-18">
                        {{informacion}}
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-10 offset-lg-1 margin-b-80 margin-t-80">
                <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion border-nav" *ngIf="seccion !== ('color') && seccion !== ('iconografia')  && seccion !== ('contenidos')  && seccion !== ('identificadores-graficos') && seccion !== ('ilustraciones') && seccion !== ('tipografia') && tipo !== ('formulario')">
                    <div class="collapse navbar-collapse text-center scroll-nowprap " id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
                            <li class="nav-item padding-l-15 padding-r-15 " [routerLink]="['/componentes-ui/'+general+'/'+tipo+'/estilo']" [ngClass]="{'active' : seccion =='estilo'}">
                                <a class="nav-link width-seccion">Estilo</a>
                            </li>
                            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/componentes-ui/'+general+'/'+tipo+'/usos']" [ngClass]="{'active' : seccion =='usos'}">
                                <a class="nav-link width-seccion">Usos</a>
                            </li>
                            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/componentes-ui/'+general+'/'+tipo+'/codigo']" [ngClass]="{'active' : seccion =='codigo'}">
                                <a class="nav-link width-seccion">Código</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <app-wizard *ngIf="tipo == 'wizard'"></app-wizard>
                <app-adjuntar [seccion]="seccion" *ngIf="tipo == 'upload'"></app-adjuntar>
                <app-iconografia *ngIf="tipo == 'Iconografía'"></app-iconografia>
                <app-ilustraciones *ngIf="seccion == 'ilustraciones'"></app-ilustraciones>
                <app-identificadores-graficos *ngIf="seccion == 'identificadores-graficos'">
                </app-identificadores-graficos>
                <app-input [seccion]="seccion" *ngIf="tipo == 'input'"></app-input>
                <app-botones [seccion]="seccion" *ngIf="tipo == 'button'"></app-botones>
                <app-tablas *ngIf="tipo == 'table'"></app-tablas>
                <app-progreso *ngIf="tipo == 'progreso'"></app-progreso>
                <app-tooltips [seccion]="seccion" *ngIf="tipo == 'tooltips'"></app-tooltips>
                <app-paginacion [seccion]="seccion" *ngIf="tipo == 'pagination'"></app-paginacion>
                <app-alertas [seccion]="seccion" *ngIf="tipo == 'notification'"></app-alertas>
                <app-modal [seccion]="seccion" *ngIf="tipo == 'modal'"></app-modal>
                <app-panel-de-acordeon *ngIf="tipo == 'panel-de-acordeon'"></app-panel-de-acordeon>
                <app-migajas [seccion]="seccion" *ngIf="tipo == 'breadcrumb'"></app-migajas>
                <app-pestanas *ngIf="tipo == 'Tabs'"></app-pestanas>
                <app-data-table [seccion]="seccion" *ngIf="tipo == 'data table'"></app-data-table>
                <app-checkbox [seccion]="seccion" *ngIf="tipo == 'checkbox'"></app-checkbox>
                <app-combo [seccion]="seccion" *ngIf="tipo == 'dropdowns'"></app-combo>
                <app-navbar [seccion]="seccion" *ngIf="tipo == 'nav tabs'"></app-navbar>
                <app-radio [seccion]="seccion" *ngIf="tipo == 'radio button'"></app-radio>
                <app-search [seccion]="seccion" *ngIf="tipo == 'search'"></app-search>
                <app-toast  [seccion]="seccion" *ngIf="tipo == 'toast'"></app-toast>
                <app-toggle [seccion]="seccion" *ngIf="tipo == 'toggle'"></app-toggle>
                <app-calendar [seccion]="seccion" *ngIf="tipo == 'datepicker'"></app-calendar>
                <app-card [seccion]="seccion" *ngIf="tipo == 'cards'"></app-card>
                <app-progressbar [seccion]="seccion" *ngIf="tipo == 'progressbar'"></app-progressbar>
                <app-spinner [seccion]="seccion" *ngIf="tipo == 'spinner'"></app-spinner>
                <app-acordion [seccion]="seccion" *ngIf="tipo == 'accordion'"></app-acordion>
                <app-pick-list [seccion]="seccion" *ngIf="tipo == 'picklist'"></app-pick-list>
                <app-color *ngIf="seccion == 'color'"></app-color>
                <app-tipografia *ngIf="seccion == 'tipografia'"></app-tipografia>
                <app-formulario *ngIf="tipo == 'formulario'"></app-formulario>
                <app-interfaz-usuario *ngIf="tipo == 'interfaz de Usuario - UI'"></app-interfaz-usuario>
                <!-- Componentes Android -->
                <app-bar-top [seccion]="seccion" *ngIf="tipo == 'app bar: top'"></app-bar-top>
                <app-bottom-navigation [seccion]="seccion" *ngIf="tipo == 'bottom navigation'"></app-bottom-navigation>
                <app-buttons [seccion]="seccion" *ngIf="tipo == 'buttons'"></app-buttons>
                <app-cards [seccion]="seccion" *ngIf="tipo == 'card'"></app-cards>
                <app-dialogs [seccion]="seccion" *ngIf="tipo == 'dialogs'"></app-dialogs>
                <app-dividers [seccion]="seccion" *ngIf="tipo == 'dividers'"></app-dividers>
                <app-menus [seccion]="seccion" *ngIf="tipo == 'menus'"></app-menus>
                <app-splash-screen [seccion]="seccion" *ngIf="tipo == 'splash screen'"></app-splash-screen>
                <app-tabs [seccion]="seccion" *ngIf="tipo == 'tabs'"></app-tabs>
                <app-text-fields [seccion]="seccion" *ngIf="tipo == 'text fields'"></app-text-fields>
                <app-chips [seccion]="seccion" *ngIf="tipo == 'chips'"></app-chips>
                <app-buttons-floating-action-button [seccion]="seccion" *ngIf="tipo == 'buttons: floating action button'"></app-buttons-floating-action-button>
            </div>
        </div>
    </div>
</div>