.btn-acordeon:hover {
    color: $cGrisClarito !important;
    cursor: pointer;
}

.card-header.acordion.collapsed i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.card-header.acordion i {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.card-header.acordion.pnl {
    background-color: $cMagenta;
    color: $cBlanco;
}

.card-header.acordion.pnl.collapsed {
    background-color: $cGrisClarito3;
    color: $cRosaIne;
}



.fondo1{
    background-color: var(--bg-lnmnts-grales);
    li {
        margin-top: 10px;
    }
    p {
        margin-top: 10px;
    }
}
.rules1 {
    background-color: #F1F8F9;
    color: #2E6E73;
    padding: 5px 10px 10px 10px;
    p {
        margin: 0;
    }
    i {
        margin-right: 20px !important;
        position: relative;
        top: 5px;
        left: 5px;
    }
  }
// .transicion {
//     -webkit-transition: all 0.5s ease-out;
//     -moz-transition: all 0.5s ease;
//     -ms-transition: all 0.5s ease;
// }