.ngx-file-drop__drop-zone{
  border: 0 !important;
}

.adjuntar{
  color: $cGrisOscuro06 !important;
}

.adjuntar-imagen{
  color: $cGrisOscuro06 !important;
  height: 150px;
  i{
    font-size: $px30;
  }
}
