//Alertas
.alerta_advertencia_ine {
    background-color: $cAmarillo2;
    color: $cGrisOscuro;
    font-size: $px14;
    font-weight: $FW400;
    margin-top: $px5;
    i {
        font-size: $px20;
        padding-right: $px10;
        padding-left: $px10;
        padding-top: $px5;
    }
}

.alerta_error_ine {
    background-color: $cRojo2;
    color: $cGrisOscuro;
    font-size: $px14;
    font-weight: $FW400;
    margin-top: $px5;
    i {
        font-size: $px20;
        padding-right: $px10;
        padding-left: $px10;
        padding-top: $px5;
    }
}

.alerta_exito_ine {
    background-color: $cVerde2;
    color: $cGrisOscuro;
    font-size: $px14;
    font-weight: $FW400;
    margin-top: $px5;
    i {
        font-size: $px20;
        padding-right: $px10;
        padding-left: $px10;
        padding-top: $px5;
    }
}

.alerta_info_ine {
    background-color: $cAzul;
    color: $cGrisOscuro;
    font-size: $px14;
    font-weight: $FW400;
    margin-top: $px5;
    i {
        font-size: $px20;
        padding-right: $px15;
    }
}

.alerta_ayuda_ine {
    background-color: $cRosa8;
    color: $cGrisOscuro;
    font-size: $px14;
    font-weight: $FW400;
    margin-top: $px5;
    i {
        font-size: $px20;
        padding-right: $px15;
    }
}

.mensajeAlerta {
    color: $cGrisOscuro;
    font-size: $px14;
    font-weight: $FW500;
}