.border-r-1px {
    border-right: 1px solid $cBlanco;
}

.border-r-2px {
    border-right: 2px solid $cRosa9;
}

.border-r-1px-h-180 {
    border-right: 1px solid $cGrisOscuro07;
    height: 180px;
}

//bordes
.border-magenta-1 {
    border: 1px solid $cMagenta;
}

.border-magenta-2 {
    border: 2px solid $cMagenta;
}

.border-grisOscuro2-1 {
    border: 1px solid $cGrisOscuro2;
}

.border-grisOscuro2-2 {
    border: 2px solid $cGrisOscuro2;
}

.border-amarillo-1 {
    border: 1px solid $cAmarillo;
}

.border-amarillo-3 {
    border: 1px solid $cAmarillo3;
}
//rosa
.border-azul-3{
    border: 1px solid $cRosa3;
}
//azul
.border-azul-2{
    border: 1px solid $cAzul2;
}
//rojo
.border-rojo-1 {
    border: 1px solid $cRojo;
}

.border-rojo-3 {
    border: 1px solid $cRojo3;
}

.border-verde-1 {
    border: 1px solid $cVerde;
}

.border-verde-clarito{
    border: 1px solid $cVerdeClarito;
}

.border-gris4{
    border: 1px solid $cGrisClarito4;
    opacity: 1;
}

.border-gris-6 {
    border-bottom: 1px solid $cGrisOscuro05;
}

//border top
.border-t-magenta-1 {
    border-top: 1px solid $cMagenta;
}

.border-t-magenta-2 {
    border-top: 2px solid $cMagenta;
}

.border-t-rosa7-1 {
    border-top: 1px solid $cRosa7;
}

.border-t-rosa7-2 {
    border-top: 2px solid $cRosa7;
}

.border-t-grisOscuro2-1 {
    border-top: 1px solid $cGrisOscuro2;
}

.border-t-grisOscuro2-2 {
    border-top: 2px solid $cGrisClarito;
}

.border-t-grisTenue-1 {
    border-top: 1px solid $cGrisTenue;
}

.border-t-grisTenue-2 {
    border-top: 2px solid $cGrisTenue;
}

.border-t-grisClarito4-1 {
    border-top: 1px solid $cGrisClarito4;
}


//Sin Borde
.no-border-left {
    border-left: 0;
}

.no-border-right {
    border-right: 0;
}

//box-shadow
.bs-card-inicio {
    box-shadow: 0px 3px 6px $cNegro;
}

.border-nav {
    border-bottom: 1px solid $cGrisOscuro5;
    padding-bottom: 3px;
}

//border-transparent
.border-sidebar {
    border: transparent;
}
//border-android{
 .border-app{
    border-top: 0.8703705668449402px solid $cGrisTenue;
    width: 166px;
    opacity: 1;
    padding-top: 10px;
 }
    
 @media (max-width: 575.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}