    // BOTONES ROSAS
    .btn_rosa_ine {
        @include btn($cMagenta, $cBlanco, $cBlanco, $cMagenta);
    }
    .btn_blanco_ine {
        @include btn( $cBlanco,$cMagenta, $cBlanco, $cMagenta );
        font-weight: 600;
    }
    
    .btn_rosa1_ine {
        @include btn($cRosa1, $cBlanco, $cBlanco, $cRosa1);
    }
    
    .btn_rosa2_ine {
        @include btn($cRosa2, $cBlanco, $cBlanco, $cRosa2);
    }
    
    .btn_rosa3_ine {
        @include btn($cRosa3, $cNegro, $cBlanco, $cRosa3);
    }
    
    .btn_rosa4_ine {
        @include btn($cRosa4, $cNegro, $cBlanco, $cRosa4);
    }
    
    .btn_rosa_search {
        background: $cRosaClarito2;
        border-color: $cRosaClarito2;
        color: $cBlanco;
        border-radius: 20px 20px;
        font-size: 16px;
        height: 40px;
    }
    
    .btn-table-rosa {
        color: #B7086D;
        border-color: #B7086D;
        width: 35px;
        height: 35px;
        padding: 0px 0px;
        border-radius: 35px;
        font-size: 18px;
        margin: 0px 15px 15px 0px;
    }

    .btn-table-rosa:hover {
        background: #F8F8F8;
        border-color: #d5007f;
        color: #B7006D;
    }
    // BOTONES Grises
    .btn_gris_ine {
        @include btn_gris($cGrisOscuro2, $cBlanco, $cBlanco, $cGrisOscuro2);
    }
    
    // BOTONES INVERTIDOS
    .btn_rosa_invertido_ine {
        @include btn_invert($cRosaIne, $cRosaIne);
    }
    
    //***************************//
    //           Movil          //
    //*************************//
    @media (max-width: 767px) {}
    
    @media (min-width: 768px) and (max-width: 991px) {}
    
    @media (min-width: 992px) and (max-width: 1199px) {}
    
    @media (min-width: 1200px) {}



    