.ngb-dp-week.ngb-dp-weekdays.bg-light, .ngb-dp-header.bg-light, .ngb-dp-month-name.bg-light{
    background-color: $cGrisOscuro2 !important;
    color: $cBlanco !important;
}
.ngb-dp-month-name {
    font-size: 18px !important;
}

.ngb-dp-weekday{
  color: $cBlanco !important;
}

.bg-primary {
    background-color: $cMagenta !important;
}

.btn-link{
  color: $cBlanco;
}

.btn-link:hover{
  color: $cMagenta;
}

.btn-light:not(:disabled):not(.disabled).active{
  background-color: $cMagenta ;
  color: $cBlanco ;

}

//calendar Range
.custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }

    .custom-day.range,
    .custom-day:hover {
      font-weight: 500;
      background-color: $cRosaIne;
      color: $cBlanco;
    }

    .custom-day.faded {
      font-weight: 500;
      background-color: $cRosa3;
      color: $cRosaIne;
    }
