.checkbox-rosa {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-rosa input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: $cGrisClarito2;
    border: 1px solid $cGrisOscuro;
    border-radius: 5px;
}

.checkbox-rosa:hover input~.checkmark {
    background-color: $cGrisOscuro6;
}

.checkbox-rosa span:focus {
    border: 1px solid $cMagenta;
}

.checkbox-rosa.foco span {
    border: 1px solid $cMagenta;
}

.checkbox-rosa input:checked~.checkmark {
    background-color: $cMagenta;
    border: 1px solid $cMagenta;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-rosa input:checked~.checkmark:after {
    display: block;
}

.checkbox-rosa .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid $cBlanco;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
