// Colores código web
 .ca4 {
     color: $cAzul4;
 }

 .ca5 {
     color: $cAzul5;
 }

 .cn {
     color: $cNaranja;
 }

 .cam {
     color: $cAmarillo;
 }

//Colores código Android
.ct {
    color: $cTurquesa;
}

.cm {
    color: $cMoradoA;
}

.cl {
    color: $cLilaA;
}

// Colores TS
.cm {
    color: $cMorado1;
}

.cv {
    color: $cVerde5;
}
