// Color Funte


.color-rosaINE {
    color: $cRosaIne;
}

.color-magenta {
    color: $cMagenta;
}

.color-negro {
    color: $cNegro;
}

.color-blanco {
    color: $cBlanco;
}

.color-morado {
    color: $cMorado;
}

.color-gris {
    color: $cGrisOscuro;
}

.color-gris3 {
    color: $cGrisOscuro3;
}

.color-gris4 {
    color: $cGrisOscuro04;
}

.color-Amarillo {
    color: $cAmarillo;
}

.color-Amarillo-2 {
    color: $cAmarillo2;
}

.color-Amarillo-3 {
    color: $cAmarillo3;
}

.color-Rojo {
    color: $cRojo;
}

.color-Rojo-2 {
    color: $cRojo2;
}

.color-Rojo-3 {
    color: $cRojo3;
}

.color-Verde {
    color: $cVerde;
}

.color-Verde-2 {
    color: $cVerde2;
}

.color.Verde-Clarito{
    color: $cVerdeClarito;
}

//color header
.color-rosa-9 {
    color: $cRosa9;
}

.color-rosa-toast{
    color: $cRosaToast;
}

// color azul del texto informativo del apartado Checkbox
.color-Azul {
    color: $cAzul3;
}

//Color FONDOS
.bg-rosaINE {
    background: $cRosaIne;
}

.bg-negro {
    background: $cNegro;
}

.bg-negro1 {
    background: $cNegro1;
}

.bg-blanco {
    background: $cBlanco;
}

.bg-morado {
    background: $cMorado;
}

.bg-magenta {
    background: $cMagenta;
}

.bg-lila1 {
    background: $cLila1;
}

.bg-gris {
    background: $cGris;
}

.bg-Amarillo {
    background: $cAmarillo;
}

.bg-gris-clarito {
    background: $cGrisClarito;
}

.bg-gris-clarito1 {
    background: $cGrisClarito1;
}

.bg-gris-clarito2 {
    background: $cGrisClarito2;
}

.bg-gris-clarito3 {
    background: $cGrisClarito3;
}

.bg-gris-clarito4 {
    background: $cGrisClarito4;
}

.bg-gris-clarito6 {
    background: $cGrisClarito6;
}

.bg-gris-oscuro {
    background: $cGrisOscuro;
}

.bg-gris-oscuro2 {
    background: $cGrisOscuro2;
}

.bg-gris-rosa5 {
    background: $cRosa5;
}

.bg-rosa6 {
    background: $cRosa6;
}

.bg-rosa7 {
    background: $cRosa7;
}


.bg-amarillo {
    background: $cAmarillo;
}

.bg-amarillo-2 {
    background: $cAmarillo2;
}

.bg-rojo {
    background: $cRojo;
}

.bg-rojo-2 {
    background: $cRojo2;
}

.bg-verde {
    background: $cVerde;
}

.bg-verde-2 {
    background: $cVerde2;
}

//colores Nuevos
.bg-vino {
    background: $cVino;
}

.bg-vino1 {
    background: $cVino1;
}

//azul
.bg-azul{
    background: $cAzul;
}

.bg-azul1 {
    background: $cAzul1;
}

.bg-azul-oscuro {
    background: $cAzulOscuro;
}

.bg-azul-oscuro1 {
    background: $cAzulOscuro1;
}

.bg-azul-oscuro2 {
    background: $cAzulOscuro2;
}

.bg-azul-oscuro3 {
    background: $cAzulOscuro3;
}

.bg-azul-oscuro4 {
    background: $cAzulOscuro4;
}

.bg-azul-oscuro5 {
    background: $cAzulOscuro5;
}

//Azul clarito
.bg-azul-clarito {
    background: $cAzulClarito;
}

.bg-azul-clarito1 {
    background: $cAzulClarito1;
}

.bg-azul-clarito2 {
    background: $cAzulClarito2;
}

.bg-azul-clarito3 {
    background: $cAzulClarito3;
}

.bg-azul-clarito4 {
    background: $cAzulClarito4;
}

//morado
.bg-morado-oscuro {
    background: $cMoradoOscuro;
}

.bg-morado-oscuro1 {
    background: $cMoradoOscuro1;
}

.bg-morado-oscuro2 {
    background: $cMoradoOscuro2;
}

.bg-morado-oscuro3 {
    background: $cMoradoOscuro3;
}

.bg-morado-oscuro4 {
    background: $cMoradoOscuro4;
}

.bg-morado1 {
    background: $cMorado1;
}

.bg-morado2 {
    background: $cMorado2;
}

.bg-morado3 {
    background: $cMorado3;
}

.bg-morado4 {
    background: $cMorado4;
}

//Morado clarito
.bg-morado-clarito {
    background: $cMoradoClarito;
}

.bg-morado-clarito1 {
    background: $cMoradoClarito1;
}

.bg-morado-clarito2 {
    background: $cMoradoClarito2;
}

//gris
.bg-gris-oscuro1 {
    background: $cGrisOscuro1;
}

.bg-gris-oscuro4 {
    background: $cGrisOscuro4;
}

.bg-gris-oscuro5 {
    background: $cGrisOscuro5;
}

.bg-gris-oscuro6 {
    background: $cGrisOscuro6;
}

.bg-gris-oscuro3 {
    background: $cGrisOscuro3;
}

.bg-gris-t1 {
    background: $cGrisTenue1;
}

//magenta
.bg-magenta1 {
    background: $cMagenta1;
}

.bg-magenta2 {
    background: $cMagenta2;
}

//rosa
.bg-rosa {
    background: $cRosa;
}


.bg-rosa1 {
    background: $cRosa1;
}

.bg-rosa2 {
    background: $cRosa2;
}

.bg-rosa3 {
    background: $cRosa3;
}

.bg-rosa4 {
    background: $cRosa4;
}

.bg-rosa8 {
    background: $cRosa8;
}

.bg-rosa10 {
    background: $cRosa10;
}

.bg-rosa-clarito {
    background: $cRosaClarito;
}

.bg-rosa-clarito1 {
    background: $cRosaClarito1;
}

//verde
.bg-color-Verde-3 {
    background: $cVerde3;
}

.bg-color-Verde-4 {
    background: $cVerde4;
}

//Colores
.color-azul-oscuro5 {
    color: $cAzulOscuro5;
}

//barra Tip
.tip {
    color: $cMagenta;
    background: $cRosaC;
}

.tip strong,
.tip b {
    font-weight: 600;
}

//***************************//
//           Movil          //
//*************************//
@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}