.combo-ine-gris {
    background: $cGrisClarito2;
    color: $cGrisOscuro2;
    font-size: $px16;
    border: $px1 solid $cGrisTenue;
    border-radius: $px15 $px15;
    -moz-border-radius: $px5 $px5;
    -webkit-border-radius: $px5 $px5;
    width: 100%;
    &:focus {
        border: $px1 solid $cMagenta;
        box-shadow: 0px 0px 2px $cMagenta;
    }
}

.dropdown-toggle::after {
    position: absolute;
    right: 13px;
    top: 18px
}

.drop-down-item {
    background: $cBlanco;
    color: $cGrisOscuro3;
}

.drop-down-item:hover {
    background: $cMagenta;
    color: $cBlanco;
    width: 100%;
}

.d-inline-block.dropdown .dropdown-menu {
    width: 100%;
}

.dropdown-item:active {
    color: $cBlanco;
    text-decoration: none;
    background-color: $cMagenta;
}

select.form-control {
    //color: $cGrisOscuro;
    background-color: $bBlancoHumo;
}

select.form-control:focus {
    color: $cGrisOscuro;
}

select.form-control option:hover {
    background:$cRojo;
}

.scroll {
    overflow-y: scroll;
    height: 100px;
}

.combo-size {
    width: 100%;
}