.borde-formulario {
    border: 1px solid $cNegro;
    padding: 25px;
}

.scroll-formulario {
    overflow-y: scroll;
    height: 200px;
}

.formulario-inline {
    display: inline;
    margin-right: .75rem;
}

.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: $cGrisTenue2;
}

.custom-day.range,
.custom-day:hover {
    background-color: $cRosaIne;
    color: $cBlanco;
}

.custom-day.faded {
    background-color: $cRosa3;
    color: $cRosaIne;
}


/*--Transiciones--*/

.trans-3 {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

.trans-3:hover {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

#sidebar-toggle {
    display: none;
}