.hr-vertical {
    border-left: 2px solid ;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 0rem;
    margin-left: 10px;
    margin-right: 0px;
    border-top: 0px;
}



.carousel{
    padding-top: 20px;
    padding-bottom: 60px;
}

.carousel-inner {
   /*  text-align: center;
    justify-content: center; */
}

.carousel-control-next, .carousel-control-prev {
    span{
        color: #ffffff;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.carousel-indicators li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 12px;
        height: 12px;
        margin-right: 3px;
        margin-left: 3px;
        cursor: pointer; 
        background: #FFFFFF 0% 0%;
        border: 1px solid #B60F6F;
        opacity: 1;
        border-radius: 20px 20px;
    }


.carousel-indicators li.active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background: #B60F6F 0% 0%;
    border: 1px solid #B60F6F;
    opacity: 1;
    border-radius: 20px 20px;
}


























.titulo{
    font-size: 1.5rem;
    font-weight: bold;
}

.sub{
    font-size: 22px;
    font-weight: bold;
}