/////////////////////
// Estilos del HEADER
////////////////////
header {
    font-family: $fRoboto !important;
    .div-logo-prep {}
    .logo-prep-puebla {
        margin-left: $porcentaje3;
    }
    .div-titulo-unidad {
        text-align: center;
    }
    .iconos-header {
        width: 193px;
    }
    .iconos-header.hide {
        display: none;
    }
}

.icono-footer {
    text-align: center;
}

.encabezado {
    position: fixed;
    z-index: 9999;
}

///////////////////
// Estilos del HOME
///////////////////
img.pequeña {
    height: 180px;
    width: 180px;
}

.cards-home {
    width: 310px;
    height: 274px;
}

///////////////////
// Estilos del BODY
///////////////////
body {
    font-family: $fRoboto !important;
    font-size: $FS16;
    font-weight: 300;
}

.card-header.resultado.collapsed {
    background-color: $cBlanco;
    color: $cGrisMedio;
}

.card-header {
    cursor: pointer;
}

.card-header.resultado {
    background-color: $cBlanco;
    border-bottom: transparent;
    padding-left: 5px;
    border-radius: 0;
}

.card-header.resultado.collapsed {
    background-color: $cBlanco;
    color: $cMagenta;
    border-bottom: 1px solid var(--border-menu-izq);
    padding-left: 5px;
    border-radius: 0;
}

.card-header.resultado h5 {
    margin-top: 5px;
    font-weight: 600;
}

.derecha {
    text-align: $right;
}

.texto-copiar {
    margin-top: 5%;
}

.jumbotron {
    padding: $px10;
    background-color: $cGrisOscuro;
    color: $cBlanco;
    border-color: $cGrisOscuro;
    border-radius: $px5 $px5;
    font-size: $px16;
    font-weight: 300;
    padding-bottom: $px20;
}

.jumbotron-write {
    padding: $px10;
    background-color: $cGrisOscuro;
    color: $cBlanco;
    border-color: $cGrisOscuro;
    border-radius: $px5 $px5;
    font-size: $px16;
    font-weight: 300;
    padding-top: $px20;
    padding-bottom: $px20;
    padding-left: $px15;
}

.jumbotron span {
    font-size: $px14;
}

.function-copiar:hover {
    color: $cAmarillo;
    cursor: pointer;
}

.hrJumbotron {
    border-top: 1px solid $cBlanco;
}

.seccion-fondo {
    background-color: $cGris;
}

.nivel_i1 {
    padding-left: 15px;
}

.nivel_i2 {
    padding-left: 30px;
}

.titulo_componentes {
    color: $cRosaIne;
}

.sub_titulo_componentes {
    color: $cGrisBorde2;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
}

.flotar-izq {
    float: left;
}

.titulos-elementos {
    font-size: $px20;
    color: var(--txt-img-title);
    font-weight: $Negritas;
}

.texto-elementos {
    color: var(--txt-web);
}

.texto-etiqueta-search {
    font-size: $px14;
}

hr.linea-border {
    width: 15px;
    float: left;
}


.clr:hover {
    color: $cRosaIne;
    font-weight: 600;
}

.f-12 {
    font-size: $px12;
}

.f-14 {
    font-size: $px14;
}

.f-16 {
    font-size: $px16;
}

.f-18 {
    font-size: $px18;
}

.f-20 {
    font-size: $px20;
}

.f-22 {
    font-size: $px22;
}

.f-24 {
    font-size: $px24;
}

.f-28 {
    font-size: $px28;
}

.f-30 {
    font-size: $px30;
}

.f-60 {
    font-size: $px60;
}

.f-68 {
    font-size: $px68;
}

.etiqueta-referencia {
    font-size: $px14;
    font-weight: $FW400;
    color: var(--txt-web);
    font-style: italic;
}

.etiqueta-input {
    font-size: $px16;
    font-weight: $FW400;
    margin-bottom: $px10;
    color: var(--txt-web);
}

.etiqueta-checkbox {
    font-size: $px18;
    margin-bottom: $px10;
}

.referencia-azul-checkbox {
    font-size: $px14;
    color: $cAzul;
    font-weight: 600;
}

.texto-italica-usos-checkbox {
    font-size: $px17;
    font-weight: $FW400;
    font-style: italic;
}

.texto-checkbox-etiqueta {
    font-size: $px14;
}

//form control//
.form-control {
    -webkit-border-radius: 10px 10px 10px 10px;
}

.form-control:focus {
    color: $cGrisOscuro2;
    background-color: $bBlancoHumo;
    border-color: $cRosaIne;
    outline: 0;
}

textarea:focus,
button:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
div:focus,
.btn:focus,
.page-link:focus,
.form-control:focus,
.uneditable-input:focus {
    box-shadow: $px3 $px6 $px6 0 rgba(0, 0, 0, 0.16);
    outline: 0 none !important;
}

pre {
    color: $cBlanco;
    font-size: 14px;
    line-height: 1.2;
}

//Pleca código
.titulo-elementos-gris {
    color: var(--txt-web);
    font-weight: $Negritas;
}

.texto-importante {
    font-size: $px24;
    font-weight: $FW600;
}

.card-pixeles {
    font-size: $px45;
    color: $cGrisOscuro3;
    font-weight: $FW600;
}

.fw-800 {
    font-weight: 800;
}

.fw-400 {
    font-weight: $FW400;
}

.fw-500 {
    font-weight: $FW500;
}

.fw-600 {
    font-weight: $FW600;
}

.fw-700 {
    font-weight: $FW700;
}

.space {
    justify-content: space-between;
}

.bg-img {
    background: var(--bg-img);
}

.txt-title {
    color: var(--txt-img-title);
}

.pie-img {
    font-size: 14px;
    font-style: italic;
}

.txt-italic {
    font-style: italic;
}

.back-img {
    background-color: var(--bg-lnmnts-grales);
    text-align: center;
    padding: 10px;
}

.back-img-tab {
    text-align: center;
}

.img-width {
    width: 100%;
}

.menu-r-brdr {
    border-left: 1px solid var(--border-menu-der);
}

.bckgrnd-diagrama {
    background-color: var(--bg-lnmnts-grales);
    padding: 20px;
}

//TABLA
table{
    border-collapse: collapse;
    width: 100%;
    background: var(--bg-table);

  }
  

  @media (max-width: 767px) {

}



  
  td{
    text-align: left;
    padding: 8px 45px;
  }

  th{
      padding: 15px 45px 8px;
      font-weight: 800;
      border-bottom: 1px solid $cBlanco;
  }

  //TABLA
table.web{
    border-collapse: collapse;
    width: 100%;
    background: var(--bg-img);

  }
  
  td{
    text-align: left;
    padding: 10px 15px;
  }

  th{
      padding: 15px 15px 10px 15px;
      font-weight: 400;
      border-bottom: none;
  }
  //Break
  .break-url{
    word-wrap: break-word;
}

.margen{
padding-left: 15px;
}



.fondoGR{
    padding: 30px 50px;
            background-color: var(--bg-lnmnts-grales);
            li {
                margin-top: 10px;
            }
            p {
                margin-top: 10px;
            }
        }
  
  
    .fondoG2{
  padding: 30px 50px;
          background-color: var(--bg-lnmnts-grales);
          li {
              margin-top: 10px;
          }
          p {
              margin-top: 10px;
          }
      }
  
      .fondoG3{
        padding: 30px 10px;
  
        background-color: var(--bg-lnmnts-grales);
  
      }
  
      .fondoG4{
  padding: 20px;
        background-color: var(--bg-lnmnts-grales);
        li {
            margin-top: 10px;
        }
        p {
            margin-top: 10px;
        }
      }
  


      .titulo {
        font-size: 24px;
        
    }
    
    sub{
        font-size: 22px;
        font-weight: bold;
    }


    .Fondo1{
        background:  transparent linear-gradient(90deg, #C31C78 0%, #CB5A9A 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 480px;
    }

    .Fondo2{
        background:  transparent linear-gradient(270deg, #66AAAE 0%, #338A91 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 480px;
    }


    .Fondo3{
        background: transparent linear-gradient(270deg, #8C63A4 0%, #754992 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 480px;
    }

    .Fondo4{
        background:  transparent linear-gradient(270deg, #66AAAE 0%, #338A91 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 480px;
    }

.Fondo5{
    background:  transparent linear-gradient(90deg, #FCECF4 0%, #F7DAEA 100%) 0% 0% no-repeat padding-box;
    width: 100%;
        height: 480px;
}

.Fondo6{
    background:  transparent linear-gradient(90deg, #c71f7b 0%, #CB5A9A 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 480px;
}

.Fondo7{
    background:  transparent linear-gradient(90deg, #FCECF4 0%, #F7DAEA 100%) 0% 0% no-repeat padding-box;
    width: 100%;
        height: 480px;
}



.planea{
    margin-top: 160px;
    color: #FCECF4;
    font-size: 40px;
    font-weight: 600;
}
.color-blanco{
    font-size: 18px;
}

.color-blanco2{
    color: #FFFFFF;
    font-size: 26px;
}
.parrafo-blanco{
    color: #FFFFFF;
    font-size: 18px;
}
.consejos{
    color: #B60F6F;
    margin-top: 150px;
    font-size: 24px;
}
    
.información{
    margin-top: 150px;
    color: #FCECF4;
    font-size: 24px;
    
}
.parrafo-blanco2{
    color: #FFFFFF;
    font-size: 18px;
}
.Consejos{
    color: #B60F6F;
    margin-top: 160px;
}
.conoces{
font-weight: 600;
color:#B60F6F ;
}
.conoce{
    color:#B60F6F ;
    font-size: 18px;
}

.conocerosa{
    color:#B60F6F ;
    font-weight: 700;
}

.img1{
    padding-left: 50px;
    padding-top: 110px;
}

.img2{
    margin-top: 120px;
    padding-left: 90px;
}
.img3{
    margin-top: 120px;
    padding-left: 90px;
}


.texto{
    font-weight: 700;
 
}

.img4{
    margin-top: 120px;
}

.img5{
    margin-top: 120px; 
}

.tite{
    text-align: left;
    font: normal normal bold 24px/25px Roboto;
}

.sib{
    font: normal normal medium 22px/25px Roboto;}


    .tex{
        font: normal normal bold 24px/28px Roboto;
    }

    .tx{
      font-size: 22px ;
    }
   .letra{
       font-size: 15px;
   }

   .rosa-Estilo{
       color:#D971A9;
       font-weight: 700;
   }



  


   .parrafonev{
       color:#FFFFFF;
    font-size: 21px;
    }



.textos{
    font-style: italic;
}

.subrayados {
    color: var(--txt-color-link);
    text-decoration-line: none;
    cursor: pointer;
    font-weight: 600;
}

.subrayado:hover {
    color: #B7006D;
    text-decoration-line: underline;
    cursor: pointer;
    font-weight: 600;
}

.clr-hr {
    background: #ED92C8;
    font-weight: 600;
}