.img-xs{
    width: $sXs
}
.img-sm{
    width: $sSm;
}

.img-md{
    width: $sMd;
}

.img-lg{
    width: $sLg
}

.img-xl{
    width: $sXl
}

//***************************//
//           Movil          //
//*************************//
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
