.form-control-completo {
    -webkit-border-radius: 6px 6px 6px 6px;
    background-color: $bBlancoHumo;
    color: $cGrisOscuro;
}

.form-control-completo:focus {
    color: $cGrisOscuro;
    background-color: $bBlancoHumo;
    border-color: $cRosaIne;
    outline: 0;
    box-shadow: 0 0 0 .2rem $cRGBARosaIne;
}

.cuadro {
    width: 15px;
    height: 15px;
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    border-radius: 30%;
    float: left;
    margin-top: 5px;
}

.form-control-completo-focus {
    border: 2px solid $cMagenta;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #B2B2B2 !important;
}

.placeholder-referencia {
    color: #B2B2B2;
    font-size: $px16;
    font-weight: $FW400;
}

.mover-izq {
    float: left;
}