.link-rosaINE{
    @include link($cRosaIne,$cVerde6);
}

.link-rosaINE-shade{
    @include linkShade($cRosaIne);
}

.link-rosaINE-underline{
    @include linkUnderline($cRosaIne);
}

//***************************//
//           Movil          //
//*************************//
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
