.migajas_ine{
    background-color: transparent;
    font-weight: 500;

    .breadcrumb-item a{
    color: $cRosaIne;
    font-weight: $FW400;
    font-size: $px16;
    }

    .breadcrumb-item a:hover{
    text-decoration: underline;
    }
    .active{
    color:$cGrisOscuro;
    }
}
.decoration{
    text-decoration: underline;
}
