.modal-header {
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: $cGrisOscuro;
    color: $cBlanco;
}

.close {
    color: $cBlanco;
    opacity: 1 !important;
}

.close:hover {
    color: $cRosa6;
}

.modal-pequeno {
    max-width: 350px;
}

.modal-grande {
    max-width: 900;
}