li.nav-item.padding-l-15.padding-r-15:nth-child(even) {
    border-left: $px3 solid $cBlanco;
    border-right: $px3 solid $cBlanco;
}

.navbar-light .navbar-nav .nav-link,
.nav-link {
    font-size: 18px;
    color: $cGrisOscuro;
}

.navbar-light .navbar-nav .nav-link,
.nav-link {
    font-size: 18px;
    color: $cGrisOscuro;
}

.tabs {
    font-size: 16px;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-color: transparent;
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $cRosaIne;
}

.nav-tabs {
    border-bottom: 0;
    font-size: $px16;
}

li.nav-item {
    background: $cGrisClarito;
}

li.nav-item.nav-blanco {
    background: $cGrisOscuro;
}

.nav-item-blanco.active {
    background: $cBlanco;
    font-weight: bolder;
}

.nav-tabs .nav-link.active {
    color: $cRosaIne;
    border-color: transparent;
    font-weight: 400;
    background:$cGrisClarito;
    font-size: 18px;
}

.nav-tabs .nav-link {
     color: $cGrisOscuro;
}

.nav-item.active {
    background: $cGrisClarito;
    font-weight: bolder;
}

.navbar-light .navbar-nav .active>.nav-link {
    font-weight: bolder;
    color: $cGrisOscuro;
}

.tabs-particulares.nav-item.active {
    background: $cBlanco;
    font-weight: bolder;
    font-size: 16px;
}

li.nav-item:hover {
    cursor: pointer;
}

li.nav-item:focus {
    outline: inherit;
}

.nav-w-h {
    height: 45px;
    text-align: center;
}

.navbar-light .navbar-nav .active>.nav-link {
    font-weight: 600;
    color: $cRosaIne;
}

.nav-tabs-blanco .nav-link.active {
    color: $cRosaIne;
    border-color: transparent;
    font-weight: 400;
    font-size: 16px;
}

.nav-item-blanco {
    border-color: $cBlanco;
    padding: 10px;
    box-shadow: 0px 0px 6px 0 rgba(6, 5, 5, 0.16);
    padding: 20px;
}

.nav-borde {
    box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.opc2 {
    border-left: solid $cBlanco;
    border-right: solid $cBlanco;
}

a:hover {
    color: $cRosaIne;
}
