//**************************//
//         Paddings        //
//************************//
.padding-res {
    padding-left: 80px;
    padding-right: 80px;
}

.padding-0 {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-16 {
    padding: 16px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

.padding-27 {
    padding: 27px;
}

.padding-30 {
    padding: 30px;
}

.padding-35 {
    padding: 35px;
}

.padding-40 {
    padding: 40px;
}

.padding-45 {
    padding: 45px;
}

.padding-50 {
    padding: 50px;
}

.padding-55 {
    padding: 55px;
}

.padding-60 {
    padding: 60px;
}

.padding-65 {
    padding: 65px;
}

.padding-70 {
    padding: 70px;
}

.padding-75 {
    padding: 75px;
}

.padding-80 {
    padding: 80px;
}

.padding-85 {
    padding: 85px;
}

.padding-90 {
    padding: 90px;
}

.padding-95 {
    padding: 95px;
}

.padding-100 {
    padding: 100px;
}

.padding-105 {
    padding: 105px;
}

.padding-110 {
    padding: 110px;
}

.padding-115 {
    padding: 115px;
}

.padding-120 {
    padding: 120px;
}

.padding-125 {
    padding: 125px;
}

.padding-130 {
    padding: 130px;
}

.padding-135 {
    padding: 135px;
}

.padding-140 {
    padding: 140px;
}

.padding-145 {
    padding: 145px;
}

.padding-150 {
    padding: 150px;
}

.padding-155 {
    padding: 155px;
}

.padding-160 {
    padding: 160px;
}

.padding-165 {
    padding: 165px;
}

.padding-170 {
    padding: 170px;
}

.padding-175 {
    padding: 175px;
}

.padding-180 {
    padding: 180px;
}

.padding-185 {
    padding: 185px;
}

.padding-190 {
    padding: 190px;
}

.padding-195 {
    padding: 195px;
}

.padding-200 {
    padding: 200px;
}

//Paddings top
.padding-t-0 {
    padding-top: 0px;
}

.padding-t-5 {
    padding-top: 5px;
}

.padding-t-7 {
    padding-top: 7px;
}

.padding-t-10 {
    padding-top: 10px;
}

.padding-t-15 {
    padding-top: 15px;
}

.padding-t-16 {
    padding-top: 16px;
}

.padding-t-20 {
    padding-top: 20px;
}

.padding-t-25 {
    padding-top: 25px;
}

.padding-t-30 {
    padding-top: 30px;
}

.padding-t-35 {
    padding-top: 35px;
}

.padding-t-40 {
    padding-top: 40px;
}

.padding-t-45 {
    padding-top: 45px;
}

.padding-t-50 {
    padding-top: 50px;
}

.padding-t-55 {
    padding-top: 55px;
}

.padding-t-60 {
    padding-top: 60px;
}

.padding-t-65 {
    padding-top: 65px;
}

.padding-t-70 {
    padding-top: 70px;
}

.padding-t-75 {
    padding-top: 75px;
}

.padding-t-80 {
    padding-top: 80px;
}

.padding-t-85 {
    padding-top: 85px;
}

.padding-t-90 {
    padding-top: 90px;
}

.padding-t-95 {
    padding-top: 95px;
}

.padding-t-100 {
    padding-top: 100px;
}

.padding-t-105 {
    padding-top: 105px;
}

.padding-t-110 {
    padding-top: 110px;
}

.padding-t-113 {
    padding-top: 113px;
}

.padding-t-115 {
    padding-top: 115px;
}

.padding-t-120 {
    padding-top: 120px;
}

.padding-t-125 {
    padding-top: 125px;
}

.padding-t-130 {
    padding-top: 130px;
}

.padding-t-135 {
    padding-top: 135px;
}

.padding-t-140 {
    padding-top: 140px;
}

.padding-t-145 {
    padding-top: 145px;
}

.padding-t-150 {
    padding-top: 150px;
}

.padding-t-155 {
    padding-top: 155px;
}

.padding-t-160 {
    padding-top: 160px;
}

.padding-t-165 {
    padding-top: 165px;
}

.padding-t-170 {
    padding-top: 170px;
}

.padding-t-175 {
    padding-top: 175px;
}

.padding-t-180 {
    padding-top: 180px;
}

.padding-t-185 {
    padding-top: 185px;
}

.padding-t-190 {
    padding-top: 190px;
}

.padding-t-195 {
    padding-top: 195px;
}

.padding-t-200 {
    padding-top: 200px;
}

//Paddings left
.padding-l-0 {
    padding-left: 0px;
}

.padding-l-5 {
    padding-left: 5px;
}

.padding-l-10 {
    padding-left: 10px;
}

.padding-l-15 {
    padding-left: 15px;
}

.padding-l-20 {
    padding-left: 20px;
}

.padding-l-25 {
    padding-left: 25px;
}

.padding-l-30 {
    padding-left: 30px;
}

.padding-l-35 {
    padding-left: 35px;
}

.padding-l-40 {
    padding-left: 40px;
}

.padding-l-45 {
    padding-left: 45px;
}

.padding-l-50 {
    padding-left: 50px;
}

.padding-l-55 {
    padding-left: 55px;
}

.padding-l-60 {
    padding-left: 60px;
}

.padding-l-65 {
    padding-left: 65px;
}

.padding-l-70 {
    padding-left: 70px;
}

.padding-l-75 {
    padding-left: 75px;
}

.padding-l-80 {
    padding-left: 80px;
}

.padding-l-85 {
    padding-left: 85px;
}

.padding-l-90 {
    padding-left: 90px;
}

.padding-l-95 {
    padding-left: 95px;
}

.padding-l-100 {
    padding-left: 100px;
}

.padding-l-105 {
    padding-left: 105px;
}

.padding-l-110 {
    padding-left: 110px;
}

.padding-l-115 {
    padding-left: 115px;
}

.padding-l-120 {
    padding-left: 120px;
}

.padding-l-125 {
    padding-left: 125px;
}

.padding-l-130 {
    padding-left: 130px;
}

.padding-l-135 {
    padding-left: 135px;
}

.padding-l-140 {
    padding-left: 140px;
}

.padding-l-145 {
    padding-left: 145px;
}

.padding-l-150 {
    padding-left: 150px;
}

.padding-l-155 {
    padding-left: 155px;
}

.padding-l-160 {
    padding-left: 160px;
}

.padding-l-165 {
    padding-left: 165px;
}

.padding-l-170 {
    padding-left: 170px;
}

.padding-l-175 {
    padding-left: 175px;
}

.padding-l-180 {
    padding-left: 180px;
}

.padding-l-185 {
    padding-left: 185px;
}

.padding-l-190 {
    padding-left: 190px;
}

.padding-l-195 {
    padding-left: 195px;
}

.padding-l-200 {
    padding-left: 200px;
}

.padding-l-250 {
    padding-left: 250px;
}

//Paddings bottom
.padding-b-0 {
    padding-bottom: 0px;
}

.padding-b-4 {
    padding-bottom: 4px;
}

.padding-b-5 {
    padding-bottom: 5px;
}

.padding-b-7 {
    padding-bottom: 7px;
}

.padding-b-10 {
    padding-bottom: 10px;
}

.padding-b-15 {
    padding-bottom: 15px;
}

.padding-b-20 {
    padding-bottom: 20px;
}

.padding-b-25 {
    padding-bottom: 25px;
}

.padding-b-30 {
    padding-bottom: 30px;
}

.padding-b-35 {
    padding-bottom: 35px;
}

.padding-b-40 {
    padding-bottom: 40px;
}

.padding-b-45 {
    padding-bottom: 45px;
}

.padding-b-50 {
    padding-bottom: 50px;
}

.padding-b-55 {
    padding-bottom: 55px;
}

.padding-b-60 {
    padding-bottom: 60px;
}

.padding-b-65 {
    padding-bottom: 65px;
}

.padding-b-70 {
    padding-bottom: 70px;
}

.padding-b-75 {
    padding-bottom: 75px;
}

.padding-b-80 {
    padding-bottom: 80px;
}

.padding-b-85 {
    padding-bottom: 85px;
}

.padding-b-90 {
    padding-bottom: 90px;
}

.padding-b-95 {
    padding-bottom: 95px;
}

.padding-b-100 {
    padding-bottom: 100px;
}

.padding-b-105 {
    padding-bottom: 105px;
}

.padding-b-110 {
    padding-bottom: 110px;
}

.padding-b-115 {
    padding-bottom: 115px;
}

.padding-b-120 {
    padding-bottom: 120px;
}

.padding-b-125 {
    padding-bottom: 125px;
}

.padding-b-130 {
    padding-bottom: 130px;
}

.padding-b-135 {
    padding-bottom: 135px;
}

.padding-b-140 {
    padding-bottom: 140px;
}

.padding-b-145 {
    padding-bottom: 145px;
}

.padding-b-150 {
    padding-bottom: 150px;
}

.padding-b-155 {
    padding-bottom: 155px;
}

.padding-b-160 {
    padding-bottom: 160px;
}

.padding-b-165 {
    padding-bottom: 165px;
}

.padding-b-170 {
    padding-bottom: 170px;
}

.padding-b-175 {
    padding-bottom: 175px;
}

.padding-b-180 {
    padding-bottom: 180px;
}

.padding-b-185 {
    padding-bottom: 185px;
}

.padding-b-190 {
    padding-bottom: 190px;
}

.padding-b-195 {
    padding-bottom: 195px;
}

.padding-b-200 {
    padding-bottom: 200px;
}

//Paddings right
.padding-r-0 {
    padding-right: 0px;
}

.padding-r-5 {
    padding-right: 5px;
}

.padding-r-10 {
    padding-right: 10px;
}

.padding-r-15 {
    padding-right: 15px;
}

.padding-r-20 {
    padding-right: 20px;
}

.padding-r-25 {
    padding-right: 25px;
}

.padding-r-30 {
    padding-right: 30px;
}

.padding-r-35 {
    padding-right: 35px;
}

.padding-r-40 {
    padding-right: 40px;
}

.padding-r-45 {
    padding-right: 45px;
}

.padding-r-50 {
    padding-right: 50px;
}

.padding-r-55 {
    padding-right: 55px;
}

.padding-r-60 {
    padding-right: 60px;
}

.padding-r-65 {
    padding-right: 65px;
}

.padding-r-70 {
    padding-right: 70px;
}

.padding-r-75 {
    padding-right: 75px;
}

.padding-r-80 {
    padding-right: 80px;
}

.padding-r-85 {
    padding-right: 85px;
}

.padding-r-90 {
    padding-right: 90px;
}

.padding-r-95 {
    padding-right: 95px;
}

.padding-r-100 {
    padding-right: 100px;
}

.padding-r-105 {
    padding-right: 105px;
}

.padding-r-110 {
    padding-right: 110px;
}

.padding-r-115 {
    padding-right: 115px;
}

.padding-r-120 {
    padding-right: 120px;
}

.padding-r-125 {
    padding-right: 125px;
}

.padding-r-130 {
    padding-right: 130px;
}

.padding-r-135 {
    padding-right: 135px;
}

.padding-r-140 {
    padding-right: 140px;
}

.padding-r-145 {
    padding-right: 145px;
}

.padding-r-150 {
    padding-right: 150px;
}

.padding-r-155 {
    padding-right: 155px;
}

.padding-r-160 {
    padding-right: 160px;
}

.padding-r-165 {
    padding-right: 165px;
}

.padding-r-170 {
    padding-right: 170px;
}

.padding-r-175 {
    padding-right: 175px;
}

.padding-r-180 {
    padding-right: 180px;
}

.padding-r-185 {
    padding-right: 185px;
}

.padding-r-190 {
    padding-right: 190px;
}

.padding-r-195 {
    padding-right: 195px;
}

.padding-r-200 {
    padding-right: 200px;
}

.padding-r-230 {
    padding-right: 230px;
}

//***************************//
//           Movil          //
//*************************//
@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}