    //Paginación
    .paginacion-ine {
        // border-bottom: 1px solid $cNegro;
        .tamaño {
            height: $px45;
            width: $px45;
        }
        .page-item {
            // padding-right:20px;
        }
        .page-link {
            color: $cGrisOscuro;
            border: $px1 solid $cGrisClarito;
            font-size: $px16;
        }
        .page-item.active .page-link {
            background: $cMagenta;
            border: 0;
        }

        .page-item:first-child .page-link {
           
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        span {
            color: $cRosaIne;
        }
        li:first-child {
            margin-right: 15px;
            width: 45px;
            height: 45px;
        }

        li:last-child {
            margin-left: 15px;
            width: 45px;
            height: 45px;
        }
        li {
            width: 45px;
            height: 45px;
        }
        a {
            padding-left: 18px;
            padding-top: 12px;
            font-size: 16px;
            font-weight: 400;
            height: 45px;
        }
    }
    
    .paginacion-ine-uno-por-uno {
        // border-bottom: 1px solid $cNegro;
        .tamaño {
            height: $px45;
            width: $px45;
        }
        .page-item {
            // padding-right:20px;
        }
        .page-link {
            color: $cGrisOscuro;
            border: $px1 solid $cGrisClarito;
            font-size: $px16;
        }
        .page-item.active .page-link {
            background: $cMagenta;
            border: 0;
        }
        span {
            color: $cRosaIne;
        }
        li {
            width: 45px;
            height: 45px;
        }
        a {
            padding-left: 18px;
            padding-top: 12px;
            font-size: 16px;
            font-weight: 400;
            height: 45px;
        }
    }