.pestanas_ine{
    
    li a{
       color:$cNegro;
       background-color:$cGrisBorde;
       font-weight: 700;
    }

   .nav-link.active{
        color:$cRosaIne;
        font-weight: 700;
    }
}
.ul-centrado{
    display: flex;
    justify-content: space-around;
    
}
.ul-derecha{
    display: flex;
    justify-content:flex-end;
}


.pestanas_derecha_ine{
    .nav-tabs> li, .nav-pills>li{
        float:none;
        display: inline-block;
    }
        .nav-tabs{
            text-align: center;
        }

    li a{
       color:$cBlanco;
       background-color:$cRosaIne;
       font-weight: 700;
    }

   .nav-link.active{
        color:$cRosaIne;
        font-weight: 700;
    }
}



.pestanas_centrado_ine{
    .nav-tabs> li, .nav-pills>li{
        float:none;
        display: inline-block;
    }
        .nav-tabs{
            text-align: center;
        }

    li a{
       color:$cBlanco;
       background-color:$cMorado;
       font-weight: 700;
    }

   .nav-link.active{
        color:$cMorado;
        font-weight: 700;
    }
}



.pestanas_izquierda_ine{
    .nav-tabs> li, .nav-pills>li{
        float:none;
        display: inline-block;
    }
        .nav-tabs{
            text-align: center;
        }

    li a{
       color:$cBlanco;
       background-color:$cNegro;
       font-weight: 700;
    }

   .nav-link.active{
        color:$cNegro;
        font-weight: 700;
    }
}



.pestanas_contenido_ine{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 100px;
    padding: 20px;
}

