.dual-list .listbox button {
    background: $cMagenta;
    border-color: $cMagenta;
    color: $cBlanco;
}

.dual-list .listbox .button-bar button {
    background: $cGrisOscuro2;
    border-color: $cGrisOscuro2;
    color: $cBlanco;
    font-size: 14px;
}

button.btn.btn-default.pull-right:disabled {
    background: $cGris;
    border-color: $cGrisOscuro2;
    color: $cGrisOscuro3;
}

button.btn.btn-primary.pull-left:disabled {
    background: $cGris;
    border-color: $cGrisOscuro2;
    color: $cGrisOscuro3;
}

.record-picker li.selected {
    background-color: $cRosa6 !important;
}

.record-picker li:hover {
    background-color: $cGrisClarito !important;
}

div.record-picker[_ngcontent-c32]::-webkit-scrollbar-thumb {
    background: $cGrisOscuro3 !important;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: thin solid $cGrisOscuro3 !important;
}

div.record-picker[_ngcontent-c31]::-webkit-scrollbar-thumb {
    background: $cGrisOscuro3 !important;
}