.progreso{
  @include progreso();
}

.progreso-institucional{
  @include progress-bar();
}

.progreso-complementario{
  @include progress-bar($cLetra:$cBlanco,$colorFondo:$cAzulOscuro6);
}

.progreso-auxiliar{
  @include progress-bar($cLetra:$cBlanco,$colorFondo:$cMorado5);
}

.progreso-neutro{
  @include progress-bar($cLetra:$cBlanco,$colorFondo:$cGrisOscuro);
}

.spiner-institucional{
  @include spinner-border();
}
