
@keyframes loader {

	0% {
		width: 0;
	}

	20% {
		width: 10%;
	}

	25% {
		width: 24%;
	}

	43% {
		width: 41%;
	}

	56% {
		width: 50%;
	}

	66% {
		width: 52%;
	}

	71% {
		width: 60%;
	}

	75% {
		width: 76%;

	}

	94% {
		width: 86%;
	}

	100% {
		width: 100%;
	}

}

.progress-bar {
	border-radius: $px5;
	overflow: hidden;
  width: 100%;
	box-shadow: $px3 $px6 $px6 0 rgba(0, 0, 0, 0.16);

	span {
		display: block;
	}

}

.bar {
  background: $cGrisClarito3;
}

.progress-unlimited {

  animation: loader 8s ease infinite;
  background: $cMagenta;
  padding: $px5;
}

.progress {
  background: $cMagenta;

}
