.radio-rosa {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-rosa input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: $cBlanco;
    border: 1px solid $cGrisOscuro4;
    border-radius: 50%;
}

.radio-rosa:hover input~.check {
    background-color: $cGrisOscuro6;
}

.radio-rosa input:checked~.check {
    background-color: $cMagenta;
    border: 1px solid $cMagenta;
}

.radio-rosa span:focus {
    border: 1px solid $cRosaIne;
}

.radio-rosa.foco span {
    border: 1px solid $cRosaIne;
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-rosa input:checked~.check:after {
    display: block;
}

.radio-rosa .check:after {
    top: 6px;
    left: 6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $cBlanco;
}