.search-fondo-rosa {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $cGrisOscuro7;
    text-align: center;
    white-space: nowrap;
    background-color: $cRosaIne;
    border: 1px solid $cGrisClarito8;
    border-radius: .25rem;
}

.search-sin-fondo {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $cGrisOscuro7;
    text-align: center;
    white-space: nowrap;
    border-radius: .25rem;
}

.input-group-append {
    margin-left: -1px;
    border-top-right-radius: 7;
    border-bottom-right-radius: 7;
}

.search-lupa-rosa {
    color: $cMagenta;
}

.search-lupa-blanca {
    color: $cBlanco;
}

.search-height {
    height: 35px;
}

.encabezado-height {
    height: 60px;
}