//Tablas

.tabla-basica{
  background: $cBlanco;
  thead th{
    font-weight: bold; 
  }
  tbody td{
    
    font-weight: 400;
  }
}

.tabla-cebrado-rosa-ine{
  i{
    color: $cMagenta;
  }
  thead th{
    background: $cBlanco; 
    font-weight: bold;
  }
  tbody>tr:nth-child(odd)>td,
  tbody>tr:nth-child(odd)>th {
       background: $cBlanco;
       border-top: 1px solid $cGrisClarito4;
       border-bottom: 1px solid $cGrisClarito4;
       font-weight: 400;
      }
  tbody>tr:nth-child(even)>td,
  tbody>tr:nth-child(even)>th {
       background: #FCF0F6;
       border-top: 1px solid $cGrisClarito4;
       border-bottom: 1px solid $cGrisClarito4;
       font-weight: 400;
      }
}
.ver-reporte{
  text-decoration: underline;
  letter-spacing: 0px;
  color: $cMagenta;
}


.elementos-tablas{
  border: 1px solid $cRosaToast;
  padding: 12px;
  color: $cRosaToast;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
}

.page-item.disabled .page-link {

  pointer-events: none;
  cursor: auto;
  background-color: $cBlanco;
  border: 1px solid $cMagenta;
}

// .pagination{float: left;}
.pagination ul {margin-bottom: 0rem!important;}

.tabla_borde_negro_ine{
  text-align: center;
  thead {color:$cNegro;}
  thead th{border: 1px solid $cNegro;}
  tbody td{border: 1px solid $cNegro;}
}

.tabla_borde_rosa_ine{
  text-align: center;
  thead {color:$cRosaIne;}
  thead th{border: 1px solid $cRosaIne;}
  tbody td{border: 1px solid $cRosaIne;}
}

.tabla_encabezado_rosa_ine{
  text-align: center;
  thead {color:$cBlanco; background-color: $cRosaIne}
  thead th{border: 1px solid $cRosaIne;}
  tbody td{border: 1px solid $cRosaIne;}
}

.tabla_cebrado_rosa_ine{
  text-align: center;
  thead {color:$cBlanco; background-color: $cRosaIne}
  tbody>tr:nth-child(odd)>td,
  tbody>tr:nth-child(odd)>th {
       background-color: $cRosa4;
      }
  tbody>tr:nth-child(even)>td,
  tbody>tr:nth-child(even)>th {
       background-color: $cGrisClarito;
      }
}
