//Tarjetas

.tarjetas_ine {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {width: 90%; border-radius: 50%;  position: absolute; top:0; bottom:0; margin: auto;}
    h6 {color: $cRosaIne;}
    p {color: $cNegro}
    
}