


.toast-de-cierre{
    max-width: 470px;
    height: 101px;
    box-shadow: 0px 0px 6px #0000001A;
    border-radius: 4px;
    padding: 15px 20px 8px 10px;
    color: #333333;
  }

/// T O A S T - A U T O  ///

.toast-automatico{
    float: right;
    z-index: 1200;
    right: 0;
    max-width: 430px;
    height: 101px;
    box-shadow: 0px 0px 6px #0000001A;
    border-radius: 4px;
    padding: 25px 20px 8px 24px;
    color: #333333;
  }

/// T O A S T - C I E R R E   ///

.toast-cierre{
   float: right;
   z-index: 1200;
    right: 0;
    margin: 0.5em;
    width: 370px;
    height: 101px;
    box-shadow: 0px 0px 6px #0000001A;
    border-radius: 4px;
    padding: 25px 20px 8px 24px;
    color: #333333;
  }


/// T I P O S ///

.exito{
    background: #E5F7DF;
    border-left: 10px solid  #428569 !important;
    border: 1px solid #CEEAC3;;
    opacity: 1;
    i.icono-toast{
        color:  #428569;
        height: 45px;
        width: 45px;
    }
}
  
.advertencia{
    background: #FFF6D9;
    border-left: 10px solid  #F9AD35 !important;
    border: 1px solid #F7DE97;
    opacity: 1;
    i.icono-toast{
        color:  #F9AD35;
        height: 45px;
        width: 45px;
    }
}

.error{
    background: #FFDCE1;
    border-left: 10px solid  #D31338 !important; 
    border: 1px solid #FDC9D1;
    opacity: 1;
    i.icono-toast{
        color:  #D31338;
        height: 45px;
        width: 45px;
    }
}

.informativo{
    background: #DDF3F8;
    border-left: 10px solid  #1298B7 !important;
    border: 1px solid #C3DDE3;
    opacity: 1;
    i.icono-toast{
        color:  #1298B7;
        height: 45px;
        width: 45px;
    }
}

.ayuda{
    background:#F8E1F2;
    border-left: 10px solid #B7086D !important;
    border: 1px solid #F3B6DA;
    opacity: 1;
    i.icono-toast{
        color: #B7086D;
        height: 45px;
        width: 45px;
    }
}


  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: inherit; 
  }
   
  .close:hover {
    color: #000;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 24px !important;
    color: inherit;
    span{
        font-size: 0px;
    }
}