.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.txt{
  padding-top: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $cGrisOscuro6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $cBlanco;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $cMagenta;
}

input:focus + .slider {
  box-shadow: 0 0 1px $cAzul7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.line{

    border-top: 1px solid var(--hr-color-dd);

}