//Variables Colores
$cBlanco: #ffffff;
$cNegro: #000000;
$cNegro1: #252525;
$cMagenta: #B7006D;
$cAzul: #007bff;
$cAmarillo: #F9AD35;
$cAmarillo2: #FFF6D9;
$cAmarillo3: #F7DE97;
$cRojo: #D31338;
$cRojo2: #FFDCE1;
$cRojo3: #FDC9D1;
$cMorado: #622c5a;
$cMoradoC: #766db0;
$cMorado2: #863bb5;
$cGris: #F8F8F8;
$cAzul: #DDF3F8;
$cAzul1: #F1F8F9;
$cAzul2: #C3DDE3;
$cAzul3: #1298B7;
$cAzul4: #7BDCFE;
$cAzul5: #2566CA;
$cAzul6: #0056b3;
$cAzul7: #2196F3;
$cGrisBorde: #f0f0ef;
$cGrisBorde2: #c7c7c7;
$cGrisOscuro: #333333;
$cGrisOscuro2: #666666;
$cGrisOscuro3: #999999;
$cGrisOscuro04: #9B9B9B;
$cGrisOscuro05: #D8D8D8;
$cGrisOscuro06: #B2B2B2;
$cGrisOscuro07: #707070;
$cGrisOscuro08: #6c757d;
$cGrisOscuro09: #5a6268;
$cGrisOscuro10: #a79b9b;
$cLila: #816cb4;
$cLila1: #ECE3F1;
$cGrisClarito: #F2F2F2;
$cGrisClarito1: #F1F1F2;
$cGrisClarito2: #F8F8F8;
$cGrisClarito3: #F9F9F9;
$cGrisClarito4: #DBDBDB;
$cGrisClarito5: #EDEDED;
$cGrisClarito6: #FAFAFA;
$cGrisClarito7: #d2d1d1;
$cGrisClarito8: #ced4da;
$cGrisMedio: #7e8084;
$bBlancoHumo: #F8F8F8;
$cGrisTenue: #D9D9D9;
$cGrisTenue1: #DADADB;
$cGrisTenue2: #e6e6e6;
// Rosas
$cRosaIne: #d5007f;
$cRosaC: #FCE8F4;
$cRosaTool: #C4006E;
$cRosaToast: #B7086D;
$cRosa1: #E149A4;
$cRosa2: #ED92C8;
$cRosa3: #F3B6DA;
$cRosa4: #F9DBED;
$cRosa5: #FCD3EC;
$cRosa6: #FCE5F3;
$cRosa7: #FAB5DF;
$cRosa8: #F8E1F2;
$cRosa9: #F7DAEA;
$cRosa10: #FCECF4;
// Verdes
$cVerde: #428569;
$cVerde2: #E5F7DF;
$cVerde3: #C8E2E4;
$cVerde4: #E4F1F2;
$cVerde5: #51D379;
$cVerde6: #67cb18;
$cVerdeClarito: #CEEAC3;

// morados
$cMorado: #8140A1;
$cMorado1: #A577BC;
$cMorado2: #C9ADD7;
$cMorado3: #DBC8E4;
$cMorado4: #EDE4F2;
$cMorado5: #7a4493;
// Naranjas
$cNaranja: #CE916A;
// Gris
$cGris1: #808067;
// variables colores RGBA
$cRGBARosaIne: rgba(218, 31, 144, .5);
//vino
$cVino: #3D0024;
$cVino1: #5B0036;
//Azul
$cAzulOscuro: #122C2E;
$cAzulOscuro1: #1B4245;
$cAzulOscuro2: #25585C;
$cAzulOscuro3: #2E6E73;
$cAzulOscuro4: #37848A;
$cAzulOscuro5: #409AA1;
$cAzulOscuro6: #4199a0;
//Azul Claro
$cAzulClarito: #5BA8AE;
$cAzulClarito1: #77B7BC;
$cAzulClarito2: #92C5C9;
$cAzulClarito3: #ADD4D7;
$cAzulClarito4: #F2F8F9;
//morado
$cMoradoOscuro: #25122E;
$cMoradoOscuro1: #371B45;
$cMoradoOscuro2: #4A255C;
$cMoradoOscuro3: #5C2E73;
$cMoradoOscuro4: #6F378A;
//Morado Clarito
$cMoradoClarito: #935BAE;
$cMoradoClarito1: #B792C9;
$cMoradoClarito2: #F6F2F9;
//gris
$cGrisOscuro1: #242424;
$cGrisOscuro4: #666666;
$cGrisOscuro5: #B6B6B6;
$cGrisOscuro6: #CCCCCC;
$cGrisOscuro7: #495057;
//
$cMagenta1:#7A0049;
$cMagenta2: #98005B;
//rosa
$cRosa: #DB2491;
$cRosaClarito: #E76DB6;
$cRosaClarito1: #FCEDF6;
$cRosaClarito2: #D35097;
//colores código Android
$cTurquesa: #33FFCC;
$cMoradoA: #FF66FF;
$cLilaA: #CC99FF;

//Variables Fuentes
$fRoboto: Roboto;
//Tamaños
$sXs: 20%;
$sSm: 40%;
$sMd: 60%;
$sLg: 80%;
$sXl: 100%;
$sAuto: auto;
//Tamaños pixeles
$px0: 0px;
$px1: 1px;
$px2: 2px;
$px3: 3px;
$px4: 4px;
$px5: 5px;
$px6: 6px;
$px8: 8px;
$px10: 10px;
$px12: 12px;
$px14: 14px;
$px15: 15px;
$px16: 16px;
$px17: 17px;
$px18: 18px;
$px20: 20px;
$px22: 22px;
$px24: 24px;
$px25: 25px;
$px28: 28px;
$px30: 30px;
$px45: 45px;
$px50: 50px;
$px60: 60px;
$px68: 68px;
$px80: 80px;
$px100: 100px;
$px250: 250px;
//Tamaños porcentajes
$porcentaje1: 1%;
$porcentaje2: 2%;
$porcentaje3: 3%;
$porcentaje4: 4%;
$porcentaje5: 5%;
$porcentaje10: 10%;
$porcentaje15: 15%;
$porcentaje20: 20%;
$porcentaje25: 25%;
$porcentaje35: 35%;
$porcentaje45: 45%;
$porcentaje50: 50%;
$porcentaje70: 70%;
$porcentaje100: 100%;
//Tamaño Fuentes
$FS12: 12px;
$FS13: 13px;
$FS14: 14px;
$FS16: 16px;
$FS18: 18px;
$FS20: 20px;
$FS22: 22px;
$FS24: 24px;
$FS26: 26px;
$FS28: 28px;
$FS30: 30px;
$FS32: 32px;
$FS34: 34px;
$FS36: 36px;
$FS38: 38px;
$FS40: 40px;
$FS42: 42px;
$FS44: 44px;
$FS46: 46px;
$FS48: 48px;
$FS50: 50px;
$FS52: 52px;
$FS54: 54px;
$FS56: 56px;
$FS58: 58px;
$FS58: 58px;
//tamaño de pixeles dobles
$t15: 15px 15px;
$t17: 17px 17px;
//Tipos de Fuentes
$Negritas: bold;
$Subrayado: underline;
//Posiciones
$right: right;
//Font Weight
$FWBOLD: bold;
$FW300: 300;
$FW400: 400;
$FW500: 500;
$FW600: 600;
$FW700: 700;
$FW900: 900;
//Opacidad
$opac01: 0.1;
$opac02: 0.2;
$opac03: 0.3;
$opac04: 0.4;
$opac05: 0.5;
$opac06: 0.6;
$opac07: 0.7;
$opac08: 0.8;
$opac09: 0.9;
$opac10: 1.0;
//Posiciones
$PosRight: right;
$PosLeft: left;
$PosCenter: center;
$PosMiddle: middle;