//FIGURAS
@mixin circulo($Fondo:$cNegro, $texto:$cBlanco) {
    background: $Fondo;
    color: $texto;
    font-size: 25px;
    // border: 10px solid #ee0d0d;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    &:hover {
        background: $Fondo;
        color: $texto;
    }
}

//BOTONES
@mixin btn($Fondo:$cGrisOscuro08, $ColorFuente:$cBlanco, $FondoH:$cRosa6, $ColorFuenteH:$cMagenta) {
    background: $Fondo;
    border-color: $Fondo;
    color: $ColorFuente;
    border-radius: $t15;
    font-size: $px16;
    height: $px45;
    &:hover {
        background: $cRosa6;
        color: $ColorFuenteH;
    }
    &:disabled,
    &.disabled {
        opacity: .65;
        background: $cRosa7;
        border-color: $cRosa7;
        color: $cBlanco;
        border-radius: $px15 $px15;
    }
}

@mixin btn_invert($Color:$cGrisOscuro08, $FondoH:$bBlancoHumo, $ColorFuenteH:$cMagenta) {
    background: $cBlanco;
    border: 2px solid $Color;
    color: $Color;
    border-radius: $t15;
    font-size: $px16;
    height: $px45;
    &:hover {
        background: $bBlancoHumo;
        border-color: $FondoH;
        color: $ColorFuenteH;
    }
    &:disabled,
    &.disabled {
        opacity: .65;
        background: $cBlanco;
        border-color: $cRosa7;
        color: $cRosa5;
        border-radius: $px15 $px15;
    }
}

@mixin btn_gris($Fondo:$cGrisOscuro08, $ColorFuente:$cBlanco, $FondoH:$cRosa6, $ColorFuenteH:$cMagenta) {
    background: $Fondo;
    border: 2px solid $Fondo;
    color: $ColorFuente;
    border-radius: $t15;
    font-size: $px16;
    height: $px45;
    &:hover {
        background: $cGrisClarito2;
        color: $cGrisOscuro;
    }
    &:disabled,
    &.disabled {
        opacity: .65;
        background: $cGris;
        border-color: $cGris;
        color: $cGrisOscuro3;
        border-radius: $px15 $px15;
    }
}

@mixin btn_buscador($Fondo:$cGrisOscuro08, $ColorFuente:$cBlanco, $FondoH:$cGrisOscuro09, $ColorFuenteH:$cBlanco) {
    background: $Fondo;
    border-color: $Fondo;
    color: $ColorFuente;
    border-radius: $px0;
    font-size: $px16;
    height: $px45;
    &:hover {
        background: $FondoH;
        color: $ColorFuenteH;
    }
}

@mixin link($ColorFuente:$CAzul, $ColorFuenteH:$cAzul6) {
    color: $ColorFuente;
    &:hover {
        color: $ColorFuenteH;
        text-decoration: none;
    }
}

@mixin linkShade($ColorFuente:$CAzul, $ColorFuenteH:$cAzul6) {
    color: $ColorFuente;
    &:hover {
        color: $ColorFuenteH;
        text-decoration: underline;
    }
}

@mixin linkUnderline($ColorFuente:$CAzul, $ColorFuenteH:$cAzul6) {
    color: $ColorFuente;
    text-decoration: underline;
    &:hover {
        color: $ColorFuenteH;
        text-decoration: underline;
    }
}

@mixin progreso($colorFondo:$cGrisOscuro10) {
    display: flex;
    height: 2rem;
    overflow: hidden;
    font-size: 1.5rem;
    background-color: $colorFondo;
    border-radius: .5rem;
}

@mixin progress-bar($cLetra:$cBlanco, $colorFondo:$cRosaIne) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $cLetra;
    text-align: center;
    white-space: nowrap;
    background-color: $colorFondo;
    transition: width .6s ease;
}

@mixin spinner-border($bColor:$cRosaIne, $bSColor:$cGrisClarito7) {
    width: 5rem;
    height: 5rem;
    border: .7em solid $bColor;
    border-right-color: $bSColor;
}

.circulo-rosa-tool-ine {
    @include circulo($cRosaTool);
}
