@import './src/sass/variables.scss';

.tabla-cuerpo {
    border-collapse: collapse;
    color: $cNegro;
}

.tabla-borde,
.tabla-borde tr,
.tabla-borde td {
    border: 3px solid $cBlanco;
}

.tabla-borde p {
    margin: 0;
    padding: 10px;
}