<div class="container-fluid">

    <div class="row">
        <div id="sidebar-toggle" class="trans-3 color-blanco" (click)="abrirMenuLateral()" [ngClass]="{'open-menu' : abierto }">
            <i class="fa trans-3 fa-lg" aria-hidden="true" [ngClass]=" abierto ? 'fa-chevron-right rotar-flecha': 'fa-chevron-right' "></i>
        </div>
        <div class="col-md-4 col-lg-3 trans-3 menu-lateral sombra-menu padding-t-100" id="sidebar" [ngClass]="{'open-sidebar' : abierto }">
            <ul class="menu-componentes-ui padding-t-20 padding-b-40  padding-l-15">
                <!--Plantillas UNICOM-->
                <div id="accordion1">
                    <div class="card-header resultado transicion collapsed" id="BackendMenu" data-toggle="collapse" data-target="#collapseBackend" aria-expanded="true" aria-controls="collapseBackend">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-18">
                                    Plantillas UNICOM
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <i class="fa fa-angle-up fa-2x transicion"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseBackend" class="collapse" aria-labelledby="BackendMenu" data-parent="#accordion1">
                        <li class="list-group-item"><a (click)="abrirMenuLateral()" [routerLink]="['/pantallas-unicom/unicom/inicio']" [ngClass]="{'active' : tipo =='algo'}">Templates</a></li>
                        <li class="list-group-item"><a (click)="abrirMenuLateral()" [routerLink]="['/pantallas-unicom/documentacion-estandar/doc']" [ngClass]="{'active' : tipo =='algo'}">Galeria</a></li>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="row encabezado-buscador">
                <div class="container text-center">
                    <h1 class="let padding-t-120">{{tipo}}</h1>
                    <p class="margin-0 padding-b-35 f-20">
                        {{informacion}}
                    </p>
                </div>
            </div>
            <div class="col-md- col-lg-9  offset-lg-1 padding-b-0-xs">

                <app-unicom *ngIf="tipo == 'unicom'"></app-unicom>
                <!-- <app-input [seccion]="seccion" *ngIf="tipo == 'input'"></app-input> -->
            </div>
        </div>

    </div>

</div>