@import './src/sass/_variables.scss';
.menu-desarrollo li a.active {
    font-weight: 600;
    color: #B7006D;
}

a {
    color: #B7006D;
}

.encabezado-buscador {
    background-color: $cGrisOscuro2;
    color: $cBlanco;
}

.menu-componentes-ux {
    list-style: none!important;
}

.menu-componentes-ux li::before {
    content: none;
}

.menu-componentes-ux li a {
    color: $cGrisMedio;
}

.menu-componentes-ux li a:hover {
    color: $cNegro;
    font-weight: 600;
    text-decoration: none;
}

.list-group-item {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 1px solid $cGrisMedio;
    border-bottom: none;
    color: $cGrisMedio;
    width: 90%;
}

.list-group-item:first-child {
    border-top: none;
}

.menu-componentes-ux li a.active {
    font-weight: 600;
    color: $cMagenta
}

.li-activo {
    font-weight: 800;
    color: $cGrisOscuro;
}

.let:first-letter {
    text-transform: uppercase;
}

.sombra-menu {
    -webkit-box-shadow: 10px 10px 20px 0px rgba(128, 115, 128, 1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(128, 115, 128, 1);
    box-shadow: 0px -2px 2px 1px #DDDDDD
}


/*--Transiciones--*/

.trans-3 {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

.trans-3:hover {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

#sidebar-toggle {
    display: none;
}


/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

@media (max-width: 575.98px) {
    .width-seccion {
        width: 125px;
    }
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #FFF;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    .padding-titulo-xs {
        padding-top: 60px;
    }
    .padding-b-0-xs {
        padding-bottom: 0px;
        ;
    }
}

@media (max-width: 767px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #FFF;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    .padding-titulo-xs {
        padding-top: 60px;
    }
    .padding-b-0-xs {
        padding-bottom: 0px;
        ;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #FFF;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    // #sidebar-toggle:hover,a#sidebar-toggle:focus{
    // 	color           : #FFF;
    // }
    // #sidebar-toggle:hover{
    // 	webkit-transform: scale(1.2);
    // 	-moz-transform  : scale(1.2);
    // 	-o-transform    : scale(1.2);
    // 	-ms-transform   : scale(1.2);
    // 	transform       : scale(1.2);
    // }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    .padding-titulo-x {
        padding-top: 100px;
    }
    .padding-b-0-xs {
        padding-bottom: 0px;
        ;
    }
}

//Marco arriba
.menu-arriba {
    top: -186px;
    background: #fff;
}

@media (min-width: 992px) {
    .padding-center {
        padding-left: 24%;
    }
}

//@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}