<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3 trans-3 menu-lateral sombra-menu settings accordion" id="sidebar" [ngClass]="{'open-sidebar' : abierto }">
            <ul class="menu-componentes-ux scroll-menu change padding-l-0 padding-r-25 change mrgn" [ngClass]="{'active': this._globalService.wsMenuLateral > 0}">
                <!--Lineamientos Backend-->
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="BackendMenu" data-toggle="collapse" data-target="#collapseBackend" aria-expanded="true" aria-controls="collapseBackend">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-16 fw clr">
                                    Lineamientos Backend
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fw-400">
                        <div id="collapseBackend" class="collapse" aria-labelledby="BackendMenu" data-parent=".accordion">
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='Lineamientos generales y buenas practicas'}"><a [routerLink]="['/documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model']">Lineamientos
                                    y buenas prácticas Java</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='arquetipos'}"><a [routerLink]="['/documentacion-de-desarrollo/lineamientos/arquetipos/aplicaciones-web']">Arquetipos</a>
                            </li>
                            <li class="mode-dark list-group-item" [ngClass]="{'active' : tipo =='capas'}"><a [routerLink]="['/documentacion-de-desarrollo/lineamientos/capas/modelo']">Capas</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="FrontendMenu" data-toggle="collapse" data-target="#collapseFrontend" aria-expanded="true" aria-controls="collapseFrontend">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-16 fw clr">
                                    Lineamientos Frontend
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fw-400">
                        <div id="collapseFrontend" class="collapse" aria-labelledby="FrontendMenu" data-parent=".accordion">
                            <li class="mode-dark list-group-item" [ngClass]="{'active' : tipo =='scaffolding'}"><a [routerLink]="['/documentacion-de-desarrollo/documentacion-frontend/scaffolding/que-es']">Scaffolding</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="AndroidMenu" data-toggle="collapse" data-target="#collapseAndroid" aria-expanded="true" aria-controls="collapseAndroid">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-16 fw clr">
                                    Lineamientos Aplicaciones Móviles
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fw-400">
                        <div id="collapseAndroid" class="collapse" aria-labelledby="AndroidMenu" data-parent=".accordion">
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='Lineamientos y buenas practicas Android'}"><a [routerLink]="['/documentacion-de-desarrollo/app-moviles/lineamientos-y-buenas-practicas-android/configuracion-general']">Lineamientos
                                y buenas prácticas Android</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='Arquitectura móvil'}"><a [routerLink]="['/documentacion-de-desarrollo/app-moviles/arquitectura-movil/modelo']">Arquitectura móvil</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='Capas MVVM'}"><a [routerLink]="['/documentacion-de-desarrollo/app-moviles/capas-movil/modelo']">Capas MVVM</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='Estructura en un proyecto Android'}"><a [routerLink]="['/documentacion-de-desarrollo/app-moviles/estructura-en-un-proyecto/directorios']">Estructura en un proyecto Android</a>
                            </li>
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='Configuración general'}"><a [routerLink]="['/documentacion-de-desarrollo/app-moviles/configuracion-general/color']">Configuración general</a>
                            </li>
                            <li class="mode-dark list-group-item" [ngClass]="{'active' : tipo =='Maqueta tipo'}"><a [routerLink]="['/documentacion-de-desarrollo/app-moviles/maqueta-tipo/que-es']">Maqueta tipo</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="ChatbotMenu" data-toggle="collapse" data-target="#collapseChatbot" aria-expanded="true" aria-controls="collapseChatbot">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-16 fw clr">
                                   Lineamientos Asistentes Virtuales
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fw-400">
                        <div id="collapseChatbot" class="collapse" aria-labelledby="ChatbotMenu" data-parent=".accordion">
                            <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='chatbot'}">
                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de']">
                                Chatbot
                                </a>
                            </li>
                            <li class="mode-dark list-group-item" [ngClass]="{'active' : tipo =='voicebot'}">
                                <a [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/voicebot/acerca-de']">
                                Voicebot
                                </a>
                            </li>

                            
                        </div>
                    </div>
              
              
              
                </div>
 <div>
                <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="ShareMenu" data-toggle="collapse" data-target="#collapseShare" aria-expanded="true" aria-controls="collapseShare">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="mb-0 f-16 fw clr">
                                Lineamientos SharePoint
                            </h5>
                        </div>
                        <div class="col-md-2 text-right">
                            <i class="fa fa-angle-up fa-lg transicion clr"></i>
                        </div>
                    </div>
                </div>
                <div class="fw-400">
                    <div id="collapseShare"class="collapse" aria-labelledby="ShareMenu" data-parent=".accordion">
                        <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='solicitud para crear un sitio web'}">
                            <a [routerLink]="['/documentacion-de-desarrollo/lineamientos-sharepoint/solicitud/acerca-de']">
                            Solicitud para crear un sitio 
                            </a>
                        </li>
                        <li class="mode-dark list-group-item border-sidebar" [ngClass]="{'active' : tipo =='sitios de Comunicación'}">
                            <a [routerLink]="['/documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-comunicacion/acerca-de']">
                                Sitios de Comunicación
                            </a>
                        </li>
                        <li class="mode-dark list-group-item" [ngClass]="{'active' : tipo =='sitios de Colaboración'}">
                            <a [routerLink]="['/documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-colaboracion/acerca-de']">
  
                                Sitios de Colaboración
                            </a>
                        </li>


                
                    </div>
                </div>

            </div>      
                
            </ul>


        </div>
        <div class="col-md-12 col-lg-9 ">
            <div class="row encabezado-buscador padding-t-113">
                <div class="container">
                    <img class="position-absolute paddin-imagen img-responsive" alt="BG-Desarrollo" src="./assets/img/menu/bg-desarrollo1.png">
                </div>
                <div class="offset-1 text-left position-relative padding-r-40 size texto-vertical">
                    <h2 class="let">{{tipo}}</h2>
                    <p class="margin-0 f-18">
                        {{informacion}}
                    </p>
                </div>
            </div>
            <div class="padding-b-0-xs">
                <app-lineamientos-y-buenas-practicas *ngIf="tipo == 'Lineamientos generales y buenas practicas'"></app-lineamientos-y-buenas-practicas>
                <app-arquetipos [seccion]="seccion" *ngIf="tipo == 'arquetipos'"></app-arquetipos>
                <app-capas [seccion]="seccion" *ngIf="tipo== 'capas'"></app-capas>
                <app-documentacion-estandar *ngIf="tipo == 'Documentación de Desarrollo'"></app-documentacion-estandar>
                <app-angular *ngIf="tipo == 'angular'"></app-angular>
                <app-conocimientos-ts *ngIf="tipo == 'conocimientos-ts'"></app-conocimientos-ts>
                <app-documentacion-de-desarrollo *ngIf="tipo == 'documentacion-estandar'"></app-documentacion-de-desarrollo>
                <app-scaffolding *ngIf="tipo== 'scaffolding'"></app-scaffolding>
                <app-lineamientos-y-buenas-practicas-android  *ngIf="tipo== 'Lineamientos y buenas practicas Android'"></app-lineamientos-y-buenas-practicas-android>
                <app-arquitectura-movil [seccion]="seccion" *ngIf="tipo == 'Arquitectura móvil'"></app-arquitectura-movil>
                <app-capas-movil [seccion]="seccion" *ngIf="tipo == 'Capas MVVM'"></app-capas-movil>
                <app-estructura-en-un-proyecto [seccion]="seccion" *ngIf="tipo== 'Estructura en un proyecto Android'"></app-estructura-en-un-proyecto>
                <app-configuracion-general [seccion]="seccion" *ngIf="tipo== 'Configuración general'"></app-configuracion-general>
                <app-maqueta-tipo *ngIf="tipo== 'Maqueta tipo'"></app-maqueta-tipo>
                <app-chatbot [seccion]="seccion" *ngIf="tipo== 'chatbot'"></app-chatbot>
                <app-voicebot [seccion]="seccion" *ngIf="tipo== 'voicebot'"></app-voicebot>
               <app-solicitud [seccion]="seccion" *ngIf="tipo== 'solicitud para crear un sitio web'"></app-solicitud>
               <app-sitios-de-comunicacion  [seccion]="seccion" *ngIf="tipo== 'sitios de Comunicación'"></app-sitios-de-comunicacion>
               <app-sitios-de-colaboracion  [seccion]="seccion" *ngIf="tipo== 'sitios de Colaboración'"></app-sitios-de-colaboracion>
            </div>
        </div>
    </div>
</div>

































