<section *ngIf="seccion=='estilo'">

    <h3 class="padding-t-30">Características</h3>
    <p>
        Las entradas de texto permiten al usuario interactuar e ingresar contenido y datos. Este componente se puede utilizar para entradas largas y cortas.
    </p>
    <!-- Estructura -->
    <div class="padding-t-10">
        <div class="row">
            <!-- Vacio -->
            <div class="col-8 offset-2 offset-md-0 col-md-4">
                <p class="subseccion etiqueta-referencia text-left margin-0 padding-top-30">Vacío</p>
                <p class="subseccion text-left etiqueta-input">Etiqueta</p>
                <input type="text" class="form-control form-control-completo" placeholder="Placeholder" OnlyText>
                <div class="padding-t-10">
                    <div class="cuadro bg-gris-clarito2 border-grisOscuro2-1"></div>
                    <p class="padding-l-40 texto-elementos margin-0">
                        #F8F8F8
                    </p>
                </div>
                <div class="padding-t-10">
                    <hr class="linea-border border-t-grisTenue-2">
                    <p class="padding-l-40 texto-elementos margin-0">
                        #D9D9D9
                    </p>
                </div>
            </div>
            <!-- Captura -->
            <div class="offset-2 col-8 offset-md-0 col-md-4">
                <p class="subseccion etiqueta-referencia  text-left margin-0 padding-top-30">Captura</p>
                <p class="subseccion text-left etiqueta-input">Etiqueta</p>
                <input type="text" class="form-control form-control-completo" placeholder="Placeholder" value="Texto ingresado" OnlyText>
                <div class="padding-t-10">
                    <div class="cuadro bg-gris-clarito2 border-grisOscuro2-1"></div>
                    <p class="padding-l-40 texto-elementos margin-0">
                        #F8F8F8
                    </p>
                </div>
                <div class="padding-t-10">
                    <hr class="linea-border border-t-grisTenue-2">
                    <p class="padding-l-40 texto-elementos margin-0">
                        #D9D9D9
                    </p>
                </div>
            </div>
            <!-- Focus -->
            <div class="offset-2 col-8 offset-md-0 col-md-4">
                <p class="subseccion etiqueta-referencia text-left margin-0 padding-top-30">Focus</p>
                <p class="subseccion text-left etiqueta-input">Etiqueta</p>
                <input type="text" class="form-control form-control-completo form-control-completo-focus" placeholder="Placeholder" OnlyText>
                <div class="padding-t-10">
                    <div class="cuadro bg-gris-clarito2 border-grisOscuro2-1"></div>
                    <p class="padding-l-40 texto-elementos margin-0">
                        #F8F8F8
                    </p>
                </div>
                <div class="padding-t-10">
                    <hr class="linea-border border-magenta-1">
                    <p class="padding-l-40 texto-elementos margin-0">
                        #B7006D
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Tipos de inputs</h4>
    <!-- Tipos -->
    <div class="padding-t-10">
        <div class="row">
            <!-- Texto -->
            <div class="offset-2 col-8 offset-md-0 col-md-4">
                <p class="subseccion etiqueta-referencia text-left margin-0 padding-top-30">Texto</p>
                <p class="subseccion text-left etiqueta-input">Usuario</p>
                <input type="text" class="form-control form-control-completo" placeholder="Usuario">
            </div>
            <!-- Correo -->
            <div class="offset-2 col-8 offset-md-0 col-md-4">
                <p class="subseccion etiqueta-referencia text-left margin-0 padding-top-30">E-mail</p>
                <p class="subseccion text-left etiqueta-input">Correo</p>
                <input type="email" class="form-control form-control-completo" placeholder="ingresa@tucorreo.com">
            </div>
            <!-- Númerico -->
            <div class="offset-2 col-8 offset-md-0 col-md-4">
                <p class="subseccion etiqueta-referencia text-left margin-0 padding-top-30">Numérico</p>
                <p class="subseccion text-left etiqueta-input">Número telefónico</p>
                <input type="number" type="tel" class="form-control form-control-completo" placeholder="5512131415">
            </div>
        </div>
        <div class="row padding-t-50">
            <!-- Prefijo -->
            <div class="offset-2 col-8 offset-md-0 col-md-4 ">
                <p class="subseccion etiqueta-referencia text-left margin-0 ">Prefijo</p>
                <p class="subseccion text-left etiqueta-input ">Etiqueta</p>
                <div class="input-group ">
                    <div class="input-group-append ">
                        <span class="input-group-text bg-gris-clarito2 ">$</span>
                    </div>
                    <input type="text " class="form-control no-border-left bg-gris-clarito2 " placeholder="Placeholder ">
                </div>
            </div>
            <!-- Password -->
            <div class="offset-2 col-8 offset-md-0 col-md-4 ">
                <p class="subseccion etiqueta-referencia text-left margin-b-0 padding-top-30 ">Password</p>
                <p class="subseccion text-left etiqueta-input ">Contraseña</p>
                <div class="input-group mb-3 ">
                    <input [type]="passwordType " id="password-field " class="form-control " name="password " value="secret " class="form-control no-border-right bg-gris-clarito2 " placeholder="Placeholder ">
                    <div class="input-group-append ">
                        <span class="input-group-text input-group-text-blanco bg-gris-clarito2 "><i
                                (click)="togglePassword() " class="fa fa-eye " aria-hidden="true "></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50 ">Validaciones</h4>
    <p class="subseccion etiqueta-referencia padding-t-10 ">
        Requerimos indicar al usuario si está ingresando correctamente la información, o en su caso notiﬁcarle la existencia de un error.
    </p>
    <!-- Validaciones -->
    <div class="row ">
        <!-- Advertencia -->
        <div class="offset-2 col-8 offset-md-0 col-md-4 ">
            <p class="subseccion etiqueta-referencia text-left margin-0 ">Advertencia</p>
            <img class="img-fluid " src="./assets/img/inputs/estilo/advertencia.svg " alt="Ejemplo de input con advertencia">
            <div class="padding-t-10 ">
                <div class="cuadro bg-gris-clarito2 border-amarillo-1 "></div>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #F9AD35
                </p>
            </div>
            <div class="padding-t-10 ">
                <div class="cuadro bg-amarillo-2 "></div>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #FFF6D9
                </p>
            </div>
            <div class="padding-t-10 ">
                <i class="fa fa-exclamation-triangle color-Amarillo mover-izq " aria-hidden="true"></i>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #F9AD35
                </p>
            </div>
        </div>
        <!-- Error -->
        <div class="offset-2 col-8 offset-md-0 col-md-4 ">
            <p class="subseccion etiqueta-referencia text-left margin-0 padding-top-30">Error</p>
            <img class="img-fluid " src="./assets/img/inputs/estilo/error.svg " alt="Ejemplo de input con error">
            <div class="padding-t-10">
                <div class="cuadro bg-gris-clarito2 border-rojo-1 "></div>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #D31338
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-rojo-2 "></div>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #FFDCE1
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-times-circle color-Rojo mover-izq " aria-hidden="true "></i>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #D31338
                </p>
            </div>
        </div>
        <!-- Éxito -->
        <div class="offset-2 col-8 offset-md-0 col-md-4 padding-top-30">
            <p class="subseccion etiqueta-referencia text-left margin-0 ">Éxito</p>
            <img class="img-fluid " src="./assets/img/inputs/estilo/exito.svg " alt="Ejemplo de input válido">
            <div class="padding-t-10 ">
                <div class="cuadro bg-gris-clarito2 border-verde-1 "></div>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #428569
                </p>
            </div>
            <div class="padding-t-10 ">
                <div class="cuadro bg-verde-2 "></div>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #E5F7DF
                </p>
            </div>
            <div class="padding-t-10 ">
                <i class="fa fa-check-circle color-Verde mover-izq " aria-hidden="true "></i>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #428569
                </p>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50 ">Área de Texto</h4>
    <!-- Área de Texto -->
    <div class="row padding-t-10 ">
        <!-- Text -->
        <div class="offset-1 col-10 offset-md-0">
            <p class="subseccion etiqueta-input ">Etiqueta</p>
            <img class="img-fluid " src="./assets/img/inputs/estilo/areatexto-inputs.svg " alt="El tamaño inicial de un área de texto debe ser de 45px">
            <div class="padding-t-5 ">
                <p class="texto-elementos margin-0 ">
                    <strong>Aa</strong>
                    <span class="padding-l-20 ">#FFFFFF</span>
                </p>
            </div>
            <div class=" padding-t-10 ">
                <div class="cuadro bg-gris-clarito2 border-grisOscuro2-1 "></div>
                <p class="padding-l-40 texto-elementos margin-0 ">
                    #F8F8F8
                </p>
            </div>
            <div class="padding-t-10 ">
                <hr class="linea-border border-t-grisTenue-2 ">
                <p class="padding-l-40 texto-elementos ">
                    #D9D9D9
                </p>
            </div>
        </div>
    </div>
    <h3 class="padding-t-30 ">Especificaciones gráficas</h3>
    <h4 class="titulos-elementos padding-t-50 ">Tipografía</h4>
    <!-- Tipografía -->
    <div class="bg-img padding-20 margin-t-10 ">
        <!-- tiltulos -->
        <div class="row padding-t-10 tamaño-tipografia-14 ">
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    <strong>Elemento</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    <strong>Color</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p class=" ">
                    <strong>Tamaño</strong>
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    <strong>Peso y estilo</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    <strong>Alineación</strong>
                </p>
            </div>
        </div>
        <!-- Etiqueta -->
        <div class="row padding-t-10 etiqueta-input tamaño-tipografia-14 ">
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Etiqueta
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    #666666
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p class=" ">
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Texto de entrada 1 -->
        <div class="row padding-t-10 tamaño-tipografia-14 ">
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Texto de entrada
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    #333333
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p class=" ">
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Texto de entrada 2 -->
        <div class="row padding-t-10 placeholder-referencia tamaño-tipografia-14 ">
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Placeholder
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    #B2B2B2
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p class=" ">
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Mensaje de entrada -->
        <div class="row padding-t-10 tamaño-tipografia-14 ">
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Mensaje de alerta
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    #333333
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p class=" ">
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Font-weight:500
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Etiqueta de referencia -->
        <div class="row padding-t-10 etiqueta-referencia tamaño-tipografia-14 ">
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Etiqueta de referencia
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    #666666
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p class=" ">
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p class=" ">
                    Font-weight:400 - italic
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class=" ">
                    Text-align:left
                </p>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50 ">Estructura</h4>
    <!-- Estructura -->
    <div class="row padding-t-10 ">
        <!-- Tamaño -->
        <div class="offset-2 col-8 offset-sm-4 col-sm-4 col-md-4 offset-md-0">
            <p class="etiqueta-referencia ">Texto</p>
            <img class="img-fluid " src="./assets/img/inputs/estilo/texto-inputs.svg " alt="Diagrama indicando que la altura del input debe ser 45px">
        </div>
        <div class="offset-sm-1 col-sm-10 col-md-6 offset-md-0 padding-top-30">
            <p class="etiqueta-referencia ">Área de texto</p>
            <img class="img-fluid " src="./assets/img/inputs/estilo/areatexto-inputs.svg " alt="Diagrama indicando que la altura del área de texto vacía debe ser 45px">
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50 ">Espaciado</h4>
    <!-- Texto -->
    <div class="bg-img padding-20 ">
        <div class="row ">
            <div class="offset-2 col-8 offset-sm-3 col-sm-6 col-md-4 offset-md-0">
                <img class="img-fluid " src="./assets/img/inputs/estilo/espaciado-2.svg " alt="Diagrama indicando que el espacio entre el borde del input y sus elementos debe ser de 15px.">
            </div>
            <div class="offset-2 col-8 offset-sm-3 col-sm-6 col-md-4 offset-md-0 padding-top-30">
                <img class="img-fluid " src="./assets/img/inputs/estilo/espaciado-1.svg " alt="Diagrama que indica que el espacio entre el input y el mensaje de alerta debe medir 5px">
            </div>
            <div class="offset-2 col-8 offset-sm-3 col-sm-6 col-md-4 offset-md-0 padding-top-30">
                <img class="img-fluid " src="./assets/img/inputs/estilo/espaciado-3.svg " alt="Diagrama que indica que el espacio entre el input y la etiqueta de referencia debe medir 5px">
            </div>
        </div>
        <div class="row padding-t-30 padding-top-30">
            <div class="offset-2 col-8 offset-sm-3 col-sm-6 col-md-4 offset-md-0">
                <p class="etiqueta-referencia margin-bottom-0 padding-top-30">Icono a la izquierda</p>
                <img class="img-fluid " src="./assets/img/inputs/estilo/espaciado-icono-izq.svg" alt="Diagrama que indica que el espacio alrededor del ícono alineado a la izquierda debe medir 10px.">
            </div>
            <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-0 padding-top-30">
                <p class="etiqueta-referencia margin-bottom-0">Icono a la derecha</p>
                <img class="img-fluid " src="./assets/img/inputs/estilo/espaciado-icono-der.svg" alt="Diagrama que indica que el espacio alrededor del ícono alineado a la derecha debe medir 10px.">
            </div>
            <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-0 padding-top-30">
                <p class="etiqueta-referencia margin-bottom-0">Prefijo</p>
                <img class="img-fluid " src="./assets/img/inputs/estilo/espaciado-sufijo.svg" alt="Diagrama que indica que el espacio alrededor del sufijo debe medir 10px.">
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50 ">Bordes</h4>
    <div class="row">
        <div class="offset-2 col-8 offset-sm-3 col-sm-6 col-md-4 offset-md-0 padding-t-10">
            <img class="img-fluid " src="./assets/img/inputs/estilo/radio-borde.svg " alt="Diagrama que especifica que el radio del borde debe ser de 5px.">
        </div>
    </div>
</section>
<section *ngIf="seccion=='usos' ">
    <h3 class="padding-t-30 ">¿Qué son las entradas de texto?</h3>
    <p>
        Las entradas con las que trabajaremos deben respetar un espacio de texto idóneo, dependiendo del caso y uso que se les asignen. Es importante veriﬁcar qué tipo de entrada elegiremos para dar la solución adecuada. A continuación, se explican las categorías
        en las que se clasiﬁcan.
    </p>
    <h4 class="titulos-elementos padding-t-50 ">Entrada de reforzamientos</h4>
    <p>
        El uso de entradas se dividirá en los siguientes dos casos:
    </p>
    <p>
        <strong>Entrada iconográfica:</strong> refuerza tu entrada con algún ícono que resulte conveniente para la lectura rápida en el ingreso de datos.
    </p>
    <p class="txt-title ">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        El usuario debe de ingresar los números telefónicos (teléfono ﬁjo y móvil) del Vocal Ejecutivo, para ello acompañarás a tus entradas de texto con los íconos de teléfono y celular respectivamente
    </p>
    <div class="padding-b-50 imagen-al-centro">
        <img class="img-fluid " src="./assets/img/inputs/usos/usos-1.svg " alt="Ilustración de un formulario resaltando el input con ícono de teléfono ">
    </div>
    <p>
        <strong>Entrada de síntesis:</strong> utiliza este tipo de entrada cuando debas de orientar al usuario y advertir sobre los datos a ingresar.
    </p>
    <p class="txt-title ">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Un capturista debe de ingresar un monto ﬁjo para la compensación económica por el trabajo de los funcionarios de casilla en un formulario de registro. Orienta a tu usuario colocando en la entrada de texto un suﬁjo con el valor fraccionario usando el símbolo
        de moneda ($).
    </p>
    <div class="imagen-al-centro">
        <img class="img-fluid" src="./assets/img/inputs/usos/usos-2.svg " alt="Ilustración de un formulario resaltando el input con el sufijo de pesos">
    </div>
    <h4 class="titulos-elementos padding-t-50 ">Entrada y validaciones</h4>
    <p>
        <strong>Entrada con validación:</strong> En ocasiones, será necesario validar tus entradas cuando se trate de datos requeridos o se haya ingresado un valor incorrecto.
    </p>
    <p class="txt-title ">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        El usuario ha completado cierto formulario, sin embargo, quedó el campo de correo electrónico incompleto. Tu entrada indicará el ingreso del campo como obligatorio con una validación debajo del componente.
    </p>
    <div class="padding-b-50 imagen-al-centro">
        <img class="img-fluid " src="./assets/img/inputs/usos/usos-3.svg " alt="Ilustración de un formulario resaltando el input con una advertencia">
    </div>
    <p>
        <strong>Entrada con indicativo:</strong> Apóyate de esta entrada cuando quieras dar una indicación breve al usuario, para ayudarlo en el ingreso de datos.
    </p>
    <p class="txt-title ">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        En el apartado de dirección del formulario de registro de observadores electorales, necesitas contar al menos con un teléfono ﬁjo. En el formulario, tienes la opción de registrar hasta 2 teléfonos. Usa una entrada, con el indicativo para colocar la palabra
        Opcional, debajo del componente.
    </p>
    <div class="padding-b-25 imagen-al-centro">
        <img class="img-fluid" src="./assets/img/inputs/usos/usos-4.svg " alt="Ilustración de un formulario resaltando el input con un texto indicativo">
    </div>
    <p class="tip padding-15 ">
        <strong>Tip:</strong> Recuerda colocar asteriscos en los campos que sean obligatorios. Si la mayoría lo son, coloca la palabra Opcional justo debajo de la entrada que no sea requerida. Esto ayudará a que el usuario cuente con una señal constante
        de lo que debe y no completar.
    </p>

    <h4 class="titulos-elementos padding-t-50 ">Entradas Variantes</h4>
    <div class=" ">
        <p>
            <strong>Entrada a una línea:</strong> estas entradas nos ayudan a definir visualmente un espacio de entrada a una sola línea.
        </p>
        <p class="txt-title ">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            El usuario ingresa el nombre completo del representante de un partido político (Juan Ignacio Fernando Rodolfo Ramón), pero no sabe exactamente qué tan largo podría resultar el texto.
        </p>
        <div class="padding-b-50 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/inputs/usos/usos-5.svg " alt="Ilustración de un formulario resaltando el input con entrada a una línea">
        </div>
        <p>
            <strong>Área de texto:</strong> Utilízala cuando necesites que el usuario ingrese una cantidad de texto considerable, ﬁjando una altura predeterminada para la caja de texto.
        </p>
        <p class="txt-title ">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Un usuario debe ingresar las actividades que se realizaron en la casilla básica de la sección 467 de la CDMX derante la Jornada Electoral.
        </p>
        <div class="padding-b-50 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/inputs/usos/usos-6.svg " alt="Ilustración de un formulario resaltando el input con entrada de área de texto">
        </div>
        <p class="tip padding-15 ">
            <strong>Tip:</strong> Utiliza un indicador debajo del tex area para hacerle saber al usuario cuántos caracteres le restan al momento de ingresar el texto (265 / 450).
        </p>
    </div>
    <h4 class="titulos-elementos padding-t-50 ">Entrada de restricción</h4>
    <div class=" ">
        <p>
            El uso de estas entradas de texto evita el ingreso de cualquier tipo de información cuando necesitamos que los datos a introducir sean especíﬁcos o respondan a ciertas acciones.
        </p>
        <p>
            <strong>Entrada númerica:</strong> Limita el ingreso de caracteres numéricos. Esta entrada te ayudará a prevenir que los usuarios capturen otro tipo de caracteres.
        </p>
        <p class="txt-title ">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            El sistema de Rendición de Cuentas solicita al usuario ingresar el total de gastos del PP1. Usa la entrada numérica para solicitar esta información, combinándola con un placeholder (00,000,000) para acentuar el contexto claramente.
        </p>
        <div class="padding-b-50 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/inputs/usos/usos-7.svg " alt="Ilustración de un formulario resaltando el input con entrada numérica">
        </div>
        <p>
            <strong>Entrada de password:</strong> Enmascara los caracteres para evitar que se muestre información delicada (contraseñas, nombres, cantidades, etc.) de los usuarios.
        </p>
        <p class="txt-title ">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            En el login del sistema utiliza esta entrada de texto para ocultar la contraseña del usuario.
        </p>
        <div class="padding-b-30 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/inputs/usos/usos-8.svg " alt="Ilustración de un formulario resaltando el input con entrada de password">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo' ">
    <h3 class="padding-t-30 ">Estructura</h3>
    <p>Encuentra el código HTML necesario para incorporar este componente en tu proyecto. Este código está desarrollado con las validaciones convenientes para facilitar su integración.</p>
    <div class="row margin-t-25 justify-content-center">
        <!-- Vacio -->
        <div class="col-7 col-md-4">
            <p class="etiqueta-referencia text-left margin-0">Vacío</p>
            <p class="text-left etiqueta-input ">Etiqueta</p>
            <input type="text" class="form-control form-control-completo" placeholder="Placeholder" OnlyText>
        </div>
        <!-- Captura -->
        <div class="col-7 col-md-4">
            <p class="etiqueta-referencia text-left margin-0 padding-top-30">Captura</p>
            <p class="text-left etiqueta-input ">Etiqueta</p>
            <input type="text" class="form-control form-control-completo" placeholder="Placeholder " value="Texto ingresado" OnlyText>
        </div>
        <!-- Focus -->
        <div class="col-7 col-md-4">
            <p class="etiqueta-referencia margin-0 padding-top-30">Focus</p>
            <p class="text-left etiqueta-input ">Etiqueta</p>
            <input type="text" class="form-control form-control-completo form-control-completo-focus" placeholder="Placeholder" OnlyText>
        </div>
    </div>
    <div class="padding-t-20 padding-b-20 ">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0 ">
                <span class="function-copiar " (click)="CopyToClipboard( 'inputVacio') " ngbTooltip="Código copiado " triggers="click:blur "> <i class="fa fa-clone padding-r-5 " aria-hidden="true "></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputVacio">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Etiqueta<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"text"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"Placeholder"</span><span class="ca4"> OnlyText</span><span>></span>

<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Etiqueta<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"text"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"Placeholder"</span><span class="ca4"> value</span><span>=</span><span class="cn">"Texto ingresado"</span><span class="ca4"> OnlyText</span><span>></span>

<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Etiqueta<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"text"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo form-control-completo-focus"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"Placeholder"</span><span class="ca4"> OnlyText</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Texto -->
    <div class="row justify-content-center">
        <div class="col-7 col-md-4 text-center">
            <p class="etiqueta-referencia text-left margin-b-0 padding-t-30">Texto</p>
            <p class="text-left etiqueta-input">Ingresa tu correo electrónico</p>
            <input type="email" class="form-control form-control-completo" placeholder="ejemplo@cliente.com" pattern="/^[a-zA-Z0-9.!#$%& '*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required>
        </div>
    </div>

    <div class="col-12 padding-t-20 padding-b-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputTexto')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputTexto">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Ingresa tu correo electrónico<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"email"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"ejemplo@cliente.com"</span><span class="ca4"> pattern</span><span>=</span><span class="cn">"/^[a-zA-Z0-9.!#$%& '*+/=?^_`&#123;|&#125;~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"</span><span class="ca4"> required</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Númerico -->
    <div class="row justify-content-center">
        <div class="col-7 col-md-4 text-center">
            <p class="etiqueta-referencia text-left margin-b-0 padding-t-30">Númerico</p>
            <p class="text-left etiqueta-input">Etiqueta</p>
            <input type="number" class="form-control form-control-completo" value="123456">
        </div>
    </div>
    <div class="col-12 padding-t-20 padding-b-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputNumerico')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputNumerico">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Etiqueta<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"number"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo"</span><span class="ca4"> value</span><span>=</span><span class="cn">"123456"</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Prefijo -->
    <div class="row justify-content-center">
        <div class="col-7 col-md-4 text-center">
            <p class="etiqueta-referencia text-left margin-b-0 padding-t-30">Prefijo</p>
            <p class="text-left etiqueta-input">Etiqueta</p>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" placeholder="Placeholder">
            </div>
        </div>
    </div>
    <div class="col-12 padding-t-20 padding-b-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputPrefijo')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputPrefijo">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Etiqueta<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-append"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-text"</span><span>></span>$<span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"text"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"Placeholder"</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Password -->
    <div class="row justify-content-center">
        <div class="col-7 col-md-4 padding-t-40">
            <p class="etiqueta-referencia text-left margin-b-0">Password</p>
            <p class="text-left etiqueta-input">Contraseña</p>
            <input type="password" class="form-control form-control-completo" value="contraseña">
        </div>
    </div>
    <div class="col-12 padding-t-20 padding-b-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputPassword')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputPassword">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Contraseña<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"password"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo"</span><span class="ca4"> value</span><span>=</span><span class="cn">"contraseña"</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Númerico -->
    <div class="row justify-content-center">
        <div class="col-7 col-md-4 padding-t-40 ">
            <p class="etiqueta-referencia text-left margin-b-0">Icono a la izquiera</p>
            <p class="text-left etiqueta-input">Celular</p>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-mobile"
                            aria-hidden="true"></i></span>
                </div>
                <input type="number" class="form-control no-border-left" placeholder="Placeholder" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="col-12 padding-t-20 padding-b-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputCelular')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputCelular">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Celular<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-append"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-text"</span><span>></span>
            <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-mobile"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
        <span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"number"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control no-border-lef"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"Placeholder"</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Contraseña -->
    <div class="row justify-content-center">
        <div class="col-7 col-md-4">
            <p class="subseccion etiqueta-referencia text-left margin-b-0 padding-t-30">Icono a la derecha</p>
            <p class="subseccion text-left etiqueta-input">Contraseña</p>
            <div class="input-group">
                <input [type]="passwordType" id="password-field" name="password" value="secret" class="form-control no-border-right bg-gris-clarito2" placeholder="Placeholder">
                <div class="input-group-append">
                    <span class="input-group-text bg-gris-clarito2"><i
                            (click)="togglePassword()" class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 padding-t-20 padding-b-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputContrasena')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputContrasena">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Contraseña<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group"</span><span>></span>
    <span><</span><span class="ca5">input</span><span class="ca4"> [type]</span><span>=</span><span class="cn">"passwordType"</span><span class="ca4"> id</span><span>=</span><span class="cn">"password-field"</span><span class="ca4"> name</span><span>=</span><span class="cn">"password"</span><span class="ca4"> value</span><span>=</span><span class="cn">"secret"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control no-border-right bg-gris-clarito2"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"Placeholder"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-append"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-text bg-gris-clarito2"</span><span>></span>
            <span><</span><span class="ca5">i</span><span class="cam"> (</span><span class="ca4">click</span><span class="cam">)</span><span>=</span><span class="cn">"togglePassword()"</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-eye"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
        <span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Advertencia -->
    <div class="row justify-content-center">
        <div class="col-7 col-md-4">
            <p class="subseccion text-left etiqueta-input padding-t-30">Ingresa tu correo electrónico</p>
            <input type="email" class="form-control form-control-completo border-amarillo-1" placeholder="nombre@ine.mx">
            <div class="alerta_advertencia_ine border-amarillo-1 margin-t-10">
                <i class="fa fa-exclamation-triangle color-Amarillo" aria-hidden="true"></i> Formato de correo inválido
            </div>
        </div>
    </div>
    <div class="col-12 padding-t-20 padding-b-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputCorreoInValido')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5"
                        aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputCorreoInValido">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Ingresa tu correo electrónico<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"email"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo border-amarillo-1"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"nombre.apellido@ine.mx"</span><span class="ca4"> pattern</span><span>=</span><span class="cn">"/^[a-zA-Z0-9.!#$%& '*+/=?^_`&#123;|&#125;~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"</span><span class="ca4"> required</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"alerta_advertencia_ine border-amarillo-1 margin-t-10"</span><span>></span>
    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-exclamation-triangle color-Amarillo"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span> Formato de correo inválido
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Error -->
    <div class="row justify-content-center">
        <div class="col-7 col-md-4 padding-t-40">
            <p class="subseccion text-left etiqueta-input">Ingresa tu correo electrónico</p>
            <input type="email" class="form-control form-control-completo border-rojo-1" placeholder="nombre.apellido@ine.com">
            <div class="alerta_error_ine border-rojo-1 margin-t-10">
                <i class="fa fa-times-circle color-Rojo" aria-hidden="true"></i> Información erronea
            </div>
        </div>
    </div>
    <div class="col-12 padding-t-20 padding-b-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputCorreoError')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputCorreoError">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Ingresa tu correo electrónico<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"email"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo border-rojo-1"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"nombre.apellido@ine.mx"</span><span class="ca4"> pattern</span><span>=</span><span class="cn">"/^[a-zA-Z0-9.!#$%& '*+/=?^_`&#123;|&#125;~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"</span><span class="ca4"> required</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"alerta_error_ine border-rojo-1 margin-t-10"</span><span>></span>
    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-times-circle color-Rojo"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span> Información erronea
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Éxito -->
    <div class="row justify-content-center">
        <div class="col-7 col-md-4 padding-t-40">
            <p class="subseccion text-left etiqueta-input">Ingresa tu correo electrónico</p>
            <input type="email" class="form-control form-control-completo border-verde-1" placeholder="nombre.apellido@ine.mx">
            <div class="alerta_exito_ine border-verde-1 margin-t-10">
                <i class="fa fa-check-circle color-Verde" aria-hidden="true"></i> Correo válido
            </div>
        </div>
    </div>
    <div class="col-12 padding-t-20 padding-b-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputCorreoValido')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5"
                        aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputCorreoValido">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-left etiqueta-input"</span><span>></span>Ingresa tu correo electrónico<span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"email"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo border-verde-1"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"nombre.apellido@ine.mx"</span><span class="ca4"> pattern</span><span>=</span><span class="cn">"/^[a-zA-Z0-9.!#$%& '*+/=?^_`&#123;|&#125;~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"</span><span class="ca4"> required</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"alerta_exito_ine border-verde-1 margin-t-10"</span><span>></span>
    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-check-circle color-Verde"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span> Correo válido
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <p>A continuación encuentra el código TypeScript necesario para darle funcionalidad a este componente. Sigue estas recomendaciones y construye una interfaz funcional, usable y accesible..</p>
    <p>Esta sección de código es para darle funcionalidad al input de password.</p>
    <div class="jumbotron jumbotron-fluid margin-t-60 margin-b-80">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('inputts')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="inputts">
            <pre>
                <code class="language-html" data-lang="html">
<span>@</span><span class="cv">Input</span><span class="cm">(</span><span class="cm">)</span>
<span class="ca4">seccion</span><span>:</span><span class="cv"> any</span><span>;</span>
<span class="ca4">passwordType</span><span>:</span><span class="cv">string</span><span> = </span><span class="cn">'password'</span><span>;</span>

<span class="ca5">public</span><span class="cam"> togglePassword</span><span class="cm">() &#123;</span>
    <span class="ca5">this</span><span>.</span><span class="ca4">passwordType</span><span> == </span><span class="cn">'password'</span><span> ? </span><span class="ca5">this</span><span>.</span><span class="ca4">passwordType</span><span> = </span><span class="cn">'text'</span><span> : </span><span class="ca5">this</span><span>.</span><span class="ca4">passwordType</span><span> = </span><span class="cn">'password'</span><span>;</span>
<span class="cm">&#125;</span>
                </code>
            </pre>
        </div>
    </div>
</section>