<div class="row">
  <div class="col-md-12 col-lg-10 offset-lg-1 margin-b-80 margin-t-80">
    <h3 class="margin-b-30">¿Qué es?</h3>
    <p class="margin-b-20">
      El Scaffolding es una técnica compatible con algunos marcos de modelo vista y controlador, en los que el
      programador puede especificar cómo se puede utilizar la base de datos de la aplicación.
    </p>
    <p class="margin-b-20">
      El compilador o el marco de trabajo utiliza esta especificación, junto con plantillas de código predefinidas, para
      generar el código final que la aplicación puede usar para crear, leer, actualizar y eliminar entradas de la base
      de datos.
    </p>
    <p class="margin-b-70">
      Al ser una base, se pueden utilizar plantillas tipo, las cuales son tratadas como un “andamio” (scaffold) sobre el
      que se construya una aplicación más potente.
    </p>
    <h3 class="margin-b-30">Propuesta de uso</h3>
    <p>A continuación encontrarás un archivo para descargar el ejemplo de un proyecto. Esta plantilla se compone de:</p>
    <div class="margin-t-25 margin-b-70 padding-t-20 padding-b-20 fondo">
      <ul>
        <li>Login</li>
        <li>Header -con navegación de 3 niveles</li>
        <li class="margin-b-16">Footer</li>
      </ul>
      <p class="margin-l-25">* Versión responsiva</p>
    </div>
    <div class="row margin-b-30">
      <div class="col-12 col-sm-12 col-md-6 text-left">
        <h5 class="margin-b-0 margin-t-15">Vista previa</h5>
      </div>
      <div class="col-12 col-sm-12 col-md-6 text-right">
        <a href="./assets/docs/lineamientos-frontend/plantilla_scaffolding_v1.zip" download>
          <button class="btn btn_rosa_ine padding-l-20 padding-r-20">
            <i class="fa fa-download padding-r-15"></i> Descargar plantilla
          </button>
        </a>
      </div>
    </div>
    <hr>
    <div id="carouselExampleIndicators" class="carousel slide margin-t-40" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/doc-frontend/scaffolding/login.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/doc-frontend/scaffolding/header.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/doc-frontend/scaffolding/footer.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/doc-frontend/scaffolding/responsivo.jpg" alt="Third slide">
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
    </div>
  </div>
</div>