h3 {
    font-size: 1.5rem;
}

.fondo {
    background-color: var(--bg-lnmnts-grales);
    li {
        margin-top: 10px;
    }
    p {
        margin-top: 10px;
    }
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 6px #0000001F;
}
.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background: #FFFFFF 0% 0%;
    border: 1px solid #9A9A9A;
    opacity: 1;
    border-radius: 20px 20px;
}
.carousel-indicators li.active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background: #656565 0% 0%;
    border: 1px solid #9A9A9A;
    opacity: 1;
    border-radius: 20px 20px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 20px;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .btn-centro{
        text-align: center;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .btn-centro{
        text-align: center;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
