<nav class="navbar navbar-expand-lg navbar-light padding-0 margin-t-80 menu-seccion">
    <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo012">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/perfiles/protopersonas']" [ngClass]="{'active' : seccion =='protopersonas'}">
                <a class="nav-link">Protopersonas</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/perfiles/journey-maps']" [ngClass]="{'active' : seccion =='journey-maps'}">
                <a class="nav-link">Journey Maps</a>
            </li>
        </ul>
    </div>
</nav>
<section *ngIf="seccion=='protopersonas'">
    <h3 class="padding-t-30">¿Qué son las protopersonas?</h3>
    <p>
        Las personas o protopersonas son una representación del comportamiento de los posibles usuarios, nos guían a definir la estructura y organización del sistema que estamos creando, haciéndolo más accesible y facilitando su uso.
    </p>
    <h3 class="padding-t-30">¿Cómo surgen las protopersonas?</h3>
    <p>
        En la creación de personajes ficticios para idear al potencial usuario conociendo el por qué y para quién estamos diseñando.
    </p>
    <h3 class="padding-t-30">¿Cuándo los creamos?</h3>
    <p>
        Cuando en primera instancia no se cuentan con usuarios reales, estos te ayudarán a saber a cuáles son sus posibles necesidades, frustraciones y qué les motiva al utilizar cierto aplicativo, página web o sistema.
    </p>
    <h3 class="padding-t-30">Procedimiento</h3>

    <ol>
        <li value="1">
            <p>
                Divide una hoja (de papel o digital) en 4 cuadrantes. El primer cuadrante nos hablará sobre quién es el usuario, se necesitarán datos ficticios pero enfocados a una previa investigación como: nombre, edad, ocupación, residencia y nivel de expertise tecnológico,
                es decir cuánta experiencia o habilidad tiene en el uso de tecnologías.
            </p>
        </li>
        <li>
            <p>
                El segundo cuadrante será para hablar acerca de las rutinas del usuario, sobre todas aquellas motivaciones que el usuario posee al momento de realizar sus labores, qué es lo qué hace en su día a día y cuáles son esas actividades que realiza para cumplir
                un propósito. Recuerda que estas actividades van enfocadas a sus labores cotidianas en relación con el proyecto en el que se está trabajando.
            </p>
        </li>
        <li>
            <p>
                En un tercer cuadrante hablaremos de las frustraciones, aquello que le disgusta al usuario, los aspectos que no le permiten completar ciertas tareas o actividades sintiéndose obligado a hacer o utilizar sin que esto pueda beneficiarlo en sus labores.
            </p>
        </li>
        <li>
            <p>
                El último cuadrante es de suma importancia, ya que detallará las posibles soluciones potenciales que podemos proponer ante las frustraciones del usuario.
            </p>
        </li>
    </ol>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/perfiles/protopersonas.svg" alt="Protopersonas">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus protopersonas.</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/perfiles/ArqTec_PerfilesProtopersonas.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='journey-maps'">
    <h3 class="padding-t-30">Entendiendo al usuario</h3>
    <p>
        Los Journey maps nos ayudan a entender qué es lo que atraviesan los usuarios para llegar a su objetivo. Es probable que se necesiten crear varios tipos de mapas dependiendo el número de perfiles que hayamos definido.
    </p>
    <p>
        Serán de gran utilidad para que todo el equipo de trabajo visualice tangiblemente hacia dónde se dirige el proyecto y cuál es el modelo a seguir.
    </p>
    <h3 class="padding-t-30">¿Cuándo usarlas?</h3>
    <p>
        Cuando necesites saber quién es el usuario (perfil) y cuál es la problemática con la que se enfrenta al utilizar un producto o servicio.
    </p>
    <h3 class="padding-t-30">Procedimiento</h3>
    <ol>
        <li value="1">
            <p>Enumera los escenarios con los que se podría enfrentar el usuario (mapa de viaje). </p>
        </li>
        <li>
            <p>Añade las expectativas y coloca cada paso o acción que involucra una escena (aquellas situaciones reales que el usuario realiza). </p>
        </li>
        <li>
            <p>Después agrega los pensamientos (cuestionamientos que el usuario se plantea a sí mismo).</p>
        </li>
        <li>
            <p>Por último, describe las emociones que tienen que ver con las experiencias que se producen dentro del proceso. </p>
        </li>
    </ol>
    <p>
        Una vez completados los mapas, identifica cuáles son las áreas de oportunidad y las mejoras a implementar, detectando específicamente en qué paso o escenario se harán los ajustes.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/perfiles/journey-maps.svg" alt="Journey maps">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus journey maps.</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/perfiles/ArqTec_PerfilesJourneyMap.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button >
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>