<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura y espaciado</h3>
    <h4>Fixed</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/tabs/estilo/fixed.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60 margin-b-50">Scrolleable</h4>
    <div class="margin-t-60 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/tabs/estilo/scrolleable.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-45">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td class="f-14 fw-500">Botones</td>
                <td>24dp</td>
                <td>Medium</td>
                <td>Centrada</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row justify-content-sm-center margin-t-50">
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/tabs/estilo/variante-1.svg"
                alt="">
        </div>
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Background:</strong> #F5007D</p>
            <p class="border-app margin-b-10"><strong>Activo:</strong> #FFFFFF</p>
            <p class="border-app margin-b-10"><strong>Inactivo:</strong> #F3B6DA</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-70">
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/tabs/estilo/variante-2.svg"
                alt="">
        </div>
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Background:</strong> #F5007D</p>
            <p class="border-app margin-b-5"><strong>Activo:</strong> #FFFFFF</p>
            <p class="margin-b-10"><strong>Stroke:</strong> #E76DB6</p>
            <p class="border-app margin-b-10"><strong>Inactivo:</strong> #F3B6DA</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-70">
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/tabs/estilo/variante-3.svg"
                alt="">
        </div>
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Background:</strong> #FFFFFF</p>
            <p class="border-app margin-b-10"><strong>Activo:</strong> #D5007F</p>
            <p class="border-app margin-b-10"><strong>Inactivo:</strong> #666666</p>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para organizar el contenido en diferentes pantallas, conjuntos de datos y otras interacciones. Además, permiten la navegación entre grupos de contenido relacionados y en el mismo nivel de jerarquía.
        </p>
        <p>
            Cada pestaña debe tener contenido que sea distinto de otras pestañas de un conjunto. Por ejemplo, las pestañas pueden presentar diferentes secciones de noticias, diferentes géneros de música o diferentes temas de documentos.
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong> Las pestañas se pueden combinar con componentes como las barras de aplicaciones superiores o anidadas en componentes como tarjetas y hojas.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p class="margin-t-30">
            <strong>Fixed tabs:</strong> Utiliza este componente para mostrar todas las pestañas en un ancho fijo. El ancho de cada pestaña se determina dividiendo el número de pestañas por el ancho de la pantalla. No se desplazan para revelar más pestañas;
            el conjunto de pestañas visibles representa las únicas pestañas disponibles.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando tienes pocas opciones en un menú. Por ejemplo, recientes, favoritos y cercanos.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/tabs/fixed.svg" alt="Ejemplo del componente con pocas opciones">
        </div>
        <p class="margin-t-30">
            <strong>Scrollable tabs:</strong> Utiliza este componente para mostrar pestañas sin ancho fijo. Este componente se puede desplazar, de modo que algunas pestañas permanecerán fuera de la pantalla hasta que se desplace.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando tienes muchas opciones en un menú o los textos en estas opciones son muy largos.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/tabs/scrollable.svg" alt="Ejemplo del componente con varias opciones donde se indica que de puede desplazar hacia los lados">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <p class="margin-t-30">
        <strong>1. </strong>Para agregar este componente a tu aplicación, primero deberás agregar los iconos que necesites a tu proyecto. Para esto, ubica la carpeta / <strong>drawable</strong> 
    </p>
    <div class="margin-b-50  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/drawable.svg" alt="">
    </div>

    <p class="margin-t-70">
        <strong>2. </strong>Dentro de esta carpeta agrega los siguientes archivos para añadir cada icono:
    </p>
    <div class="fw-bold margin-b-20 margin-t-40">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/tabs/help.svg">ic_help.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('tabs-1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="tabs-1">
<pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span>
    </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
    </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
    </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24"</span><span>
    </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24"</span><span>
    </span><span class="cm">android</span><span class="cb">:tint</span><span class="cl">="?attr/colorControlNormal"</span><span class="ct">&gt;</span><span>
 </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="@android:color/white"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M12,2C6.48,2 2,6.48 2,12s4.48,10 10,10 10,-4.48 10,-10S17.52,2 12,2zM13,19h-2v-2h2v2zM15.07,11.25l-0.9,0.92C13.45,12.9 13,13.5 13,15h-2v-0.5c0,-1.1 0.45,-2.1 1.17,-2.83l1.24,-1.26c0.37,-0.36 0.59,-0.86 0.59,-1.41 0,-1.1 -0.9,-2 -2,-2s-2,0.9 -2,2L8,9c0,-2.21 1.79,-4 4,-4s4,1.79 4,4c0,0.88 -0.36,1.68 -0.93,2.25z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-40">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/buttom_nav/home.svg" alt="">ic_home.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-n1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-n1">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FDFCFC"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M10,20v-6h4v6h5v-8h3L12,3 2,12h3v8z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-50">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/doc-android/drawable/ic-loupe.svg">ic_loupe.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('drawable-3')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="drawable-3">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
</span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
</span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
</span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="512.005"</span><span>
</span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="512.005"</span><span class="ct">&gt;</span><span>
</span><span class="ct">&lt;path</span><span>
</span><span class="cm">android</span><span>:fillColor</span><span class="cl">="@color/colorTextAndIcons"</span><span>
</span><span class="cm">android</span><span>:pathData</span><span class="cl">="M505.749,475.587l-145.6,-145.6c28.203,-34.837 45.184,-79.104 45.184,-127.317c0,-111.744 -90.923,-202.667 -202.667,-202.667S0,90.925 0,202.669s90.923,202.667 202.667,202.667c48.213,0 92.48,-16.981 127.317,-45.184l145.6,145.6c4.16,4.16 9.621,6.251 15.083,6.251s10.923,-2.091 15.083,-6.251C514.091,497.411 514.091,483.928 505.749,475.587zM202.667,362.669c-88.235,0 -160,-71.765 -160,-160s71.765,-160 160,-160s160,71.765 160,160S290.901,362.669 202.667,362.669z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>3. </strong>El siguiente paso es agregar los componentes a tu aplicación. Ubica el fichero <strong>activity_main.xml</strong> dentro de la carpeta /<strong>layout</strong>
    </p>
    <div class="margin-b-30  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg">
    </div>
    <p class="margin-t-70">
        <strong>4. </strong>Dentro de este fichero escribe el siguiente código: 
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-50">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('tabs-2')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="tabs-2">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;com.google.android.material.tabs.TabLayout</span><span>
    </span><span class="cm">android</span><span class="cb">:id</span><span class="cl">="@+id/tabs"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_marginTop</span><span class="cl">="5dp"</span><span>
    </span><span class="cm">android</span><span class="cb">:background</span><span class="cl">="@color/colorTextAndIcons"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabIndicatorColor</span><span class="cl">="@color/color_rosa_d50B7F"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabTextColor</span><span class="cl">="@color/color_state_text_tab_item"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_marginBottom</span><span class="cl">="40dp"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 1" </span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 2" </span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 3" </span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/com.google.android.material.tabs.TabLayout&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.tabs.TabLayout</span><span>
    </span><span class="cm">android</span><span class="cb">:id</span><span class="cl">="@+id/tab2"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span class="cb">:background</span><span class="cl">="@color/colorTextAndIcons"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabIconTint</span><span class="cl">="@color/color_state_icon_tab_item"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabIndicatorColor</span><span class="cl">="@color/color_rosa_d50B7F"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_marginBottom</span><span class="cl">="40dp"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:icon</span><span class="cl">="@drawable/ic_home" </span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:icon</span><span class="cl">="@drawable/ic_help" </span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:icon</span><span class="cl">="@drawable/ic_loupe" </span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/com.google.android.material.tabs.TabLayout&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.tabs.TabLayout</span><span>
    </span><span class="cm">android</span><span class="cb">:id</span><span class="cl">="@+id/tab3"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_marginBottom</span><span class="cl">="40dp"</span><span>
    </span><span class="cm">android</span><span class="cb">:minHeight</span><span class="cl">="?attr/actionBarSize"</span><span>
    </span><span class="cm">android</span><span class="cb">:background</span><span class="cl">="@color/colorTextAndIcons"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabIconTint</span><span class="cl">="@color/color_state_icon_tab_item"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabIndicatorColor</span><span class="cl">="@color/color_rosa_d50B7F"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabMode</span><span class="cl">="fixed"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabGravity</span><span class="cl">="fill"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabPaddingBottom</span><span class="cl">="10dp"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabTextColor</span><span class="cl">="@color/color_state_text_tab_item"</span><span class="ct">&gt;</span><span>

    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:icon</span><span class="cl">="@drawable/ic_home"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 1"</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:icon</span><span class="cl">="@drawable/ic_help"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 2" </span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:icon</span><span class="cl">="@drawable/ic_loupe"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 3" </span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/com.google.android.material.tabs.TabLayout&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.tabs.TabLayout</span><span>
    </span><span class="cm">android</span><span class="cb">:id</span><span class="cl">="@+id/tab4"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span class="cb">:background</span><span class="cl">="@color/colorTextAndIcons"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabIndicatorColor</span><span class="cl">="@color/color_rosa_d50B7F"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabTextColor</span><span class="cl">="@color/color_state_text_tab_item"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_marginBottom</span><span class="cl">="40dp"</span><span>
    </span><span class="cm">app</span><span class="cb">:tabMode</span><span class="cl">="scrollable"</span><span class="ct">&gt;</span><span>

    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 1" </span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 2" </span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 3" </span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;com.google.android.material.tabs.TabItem</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
        </span><span class="cm">android</span><span class="cb">:text</span><span class="cl">="Pestaña 4" </span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/com.google.android.material.tabs.TabLayout&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>5. </strong>A continuación, ubica la carpeta /<strong>color</strong> dentro del directorio /<strong>res</strong>
    </p>
    <div class="margin-b-30  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/tabs/color_state_icon.svg">
    </div>
    <p class="margin-t-70">
        <strong>6. </strong>En esta carpeta agrega el fichero <strong>color_state_icon_tab_item.xml</strong>, con el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('tabs-3')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="tabs-3">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;selector </span>xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="ct">&gt;</span></span><span>
    </span><span class="ct">&lt;item</span> <span class="cm">android</span>:color=<span class="cl">&quot;@color/color_rosa_d50B7F&quot;</span> <span class="cm">android</span>:state_selected=<span class="cl">&quot;true&quot;</span> <span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;item</span> <span class="cm">android</span>:color=<span class="cl">&quot;@color/colorBottomLess&quot;</span> <span class="cm">android</span>:state_selected=<span class="cl">&quot;false&quot;</span> <span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/selector&gt;</span><span></span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>7. </strong>En esta misma carpeta agrega el fichero <strong>color_state_text_tab_item.xml</strong>, con el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('tabs-4')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="tabs-4">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;selector </span>xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="ct">&gt;</span></span><span>
    </span><span class="ct">&lt;item</span> <span class="cm">android</span>:color=<span class="cl">&quot;@color/color_rosa_d50B7F&quot;</span> <span class="cm">android</span>:state_selected=<span class="cl">&quot;true&quot;</span> <span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;item</span> <span class="cm">android</span>:color=<span class="cl">&quot;@color/colorBottomLess&quot;</span> <span class="cm">android</span>:state_selected=<span class="cl">&quot;false&quot;</span> <span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/selector&gt;</span><span></span>
        </pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
    <div class="margin-b-70  margin-t-30 text-center">
        <img class="img-fluid imagenes-al-centro img-w-400" src="./assets/img/android-c/tabs/resultado-tabs.jpeg" alt="">
    </div>
</section>