<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura y espaciado</h3>
    <h4>Alert</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/estilo/alerts.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60">Simple</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/estilo/simple.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60">Confirmation</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/estilo/confirmation.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60">Full screen</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/estilo/full-screen.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-45">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td class="f-20 fw-500">H6</td>
                <td>20dp</td>
                <td>Medium</td>
                <td>Izquierda</td>
            </tr>
            <tr>
                <td>Cuerpo 1</td>
                <td>16dp</td>
                <td>Regular</td>
                <td>Izquierda</td>
            </tr>
            <tr>
                <td class="f-14">Cuerpo 2</td>
                <td>14dp</td>
                <td>Regular</td>
                <td>Izquierda</td>
            </tr>
            <tr>
                <td class="f-14 fw-500">Subtítulo</td>
                <td>14dp</td>
                <td>Regular</td>
                <td>Izquierda</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row justify-content-sm-center">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/estilo/variante-1.svg"
                alt="">
        </div>
        <div class="col-10 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Primary Dark:</strong> #000000</p>
            <p class="border-app margin-b-10"><strong>Bar Top:</strong> #242424</p>
            <p class="border-app"><strong>Contenido:</strong> #FFFFFF</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-70">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/estilo/variante-2.svg"
                alt="">
        </div>
        <div class="col-10 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Primary Dark:</strong> #98005B</p>
            <p class="border-app margin-b-10"><strong>Bar Top:</strong> #D5007F</p>
            <p class="border-app"><strong>Contenido:</strong> #FFFFFF</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-70">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/estilo/variante-3.svg"
                alt="">
        </div>
        <div class="col-10 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Primary Dark:</strong> #5C2E73</p>
            <p class="border-app margin-b-10"><strong>Bar Top:</strong> #8140A1</p>
            <p class="border-app"><strong>Contenido:</strong> #FFFFFF</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-70">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/estilo/variante-4.svg"
                alt="">
        </div>
        <div class="col-10 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Primary Dark:</strong> #2E6E73</p>
            <p class="border-app margin-b-10"><strong>Bar Top:</strong> #409AA1</p>
            <p class="border-app"><strong>Contenido:</strong> #FFFFFF</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-70">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/estilo/color-dialogo.svg"
                alt="">
        </div>
        <div class="col-10 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Dialog:</strong> #FFFFFF</p>
            <p class="border-app margin-b-10"><strong>H6:</strong> #333333</p>
            <p class="border-app"><strong>Cuerpo 1:</strong> #333333</p>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para proporcionar información crítica o solicitar una decisión. Es un tipo de ventana modal que aparece delante del contenido de la aplicación. Deshabilitan toda la funcionalidad de la aplicación cuando aparecen y permanecen en la pantalla hasta que se
            confirme, se descarte o se haya tomado una acción requerida.
        </p>
        <p>
            Los cuadros de diálogo son intencionalmente disruptivos, por lo que deben usarse con moderación.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p>
            Utiliza este componente para informar al usuario sobre errores que bloqueen la operación normal de la aplicación.
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong> Para informar al usuario de mensajes menos críticos se puede utilizar elementos como snackbars o banners.
        </p>
        <p class="margin-t-30">
            <strong>Alert dialog:</strong> Utiliza este componente cuando necesites interrumpir a los usuarios con información urgente, detalles o acciones. Para descartar este tipo de diálogo, el usuario se deberá tomar una acción.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando el usuario va a eliminar información importante se puede mostrar una alerta para informarle que el cambio es irreversible y preguntarle si desea continuar la acción o cancelarla.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/dialogs/alerta.svg" alt="Uso de un dialog para confirmar que se va a eliminar un elemento">
        </div>
        <p class="margin-t-30">
            <strong>Simple dialog:</strong> Utiliza este componente para mostrar elementos que son accionables cuando se seleccionan, como listas para elegir. No tienen botones de texto.
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong> Para acciones menos disruptivas se puede usar drop down menus.
        </p>
        <p class="txt-title margin-t-25">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando vas a asignar a un usuario como administrador, puedes elegirlo dentro de una lista de usuarios desde un simple dialog.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/dialogs/simple.svg" alt="Uso de un dialog para seleccionar a un usuario">
        </div>
        <p class="margin-t-30">
            <strong>Confirmation dialog:</strong> Utiliza este componente para dar una confirmación final a una elección antes de realizarla, de modo que el usuario pueda cambiar de opinión de ser necesario.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Al enviar un mensaje, el usuario puede confirmar la acción antes de realizarla.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/dialogs/confirmacion.svg" alt="Uso de un dialog para seleccionar varios días de la semana mediante checkboxes">
        </div>
        <p class="margin-t-30">
            <strong>Full screen dialog:</strong> Utiliza este componente para agrupar una serie de tareas, como crear un evento en el calendario con un título, fecha y ubicación.
        </p>
        <div>
            <ul>
                <li>Cuando la acción requieren del uso del teclado, por ejemplo formularios.</li>
                <li>Cuando los cambios no se guardan automáticamente.</li>
                <li>Cuando se abren más diálogos.</li>
            </ul>
        </div>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong> Se utiliza solamente en teléfonos, para otros dispositivos se deberá usar el tipo modal.
        </p>
        <p class="txt-title margin-t-25">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Al establecer una cita para tramitar la credencial de elector.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/dialogs/completa.svg" alt="Uso de un dialog en pantalla completa para agregar los datos de un nuevo usuario.">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <p class="margin-t-30">
        <strong>1.</strong> Para agregar un dialog a tu aplicación, primero deberás agregar las imágenes e iconos a tu proyecto. En este ejemplo es el logotipo del INE, para incluirlo ubica la carpeta/ <strong>drawable</strong>
    </p>
    <p>
        <strong>Nota:</strong> Recuerda verificar que el nombre del paquete del proyecto coincida con el de <strong>tools:context</strong>
    
    </p>
    <div class="margin-b-60  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/drawable.svg">
    </div>
    <p class="tip padding-15 margin-0">
        <strong>Tip:</strong> Puedes conocer la <a class="enlace" [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']">configuración general</a> de un proyecto en el apartado
        Lineamientos Android.
    </p>
    <p class="margin-t-70 margin-b-50">
        <strong>2. </strong>Dentro de esta carpeta agrega los ficheros que necesites de acuerdo a los iconos o imágenes utilizadas para tu proyecto:
    </p>
    <div class="fw-bold margin-b-20">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/dialogs/logo-INE.svg">ic_ine_logo_rosa_negro_gp1698.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('dialogs-1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="dialogs-1">
            <pre class="prettyprinted" style="">
<span class="ct">&lt;vector</span> xmlns:<span class="cm">android</span>=<span class="cl">"http://schemas.android.com/apk/res/android"</span><span>
    </span><span class="cm">android</span>:width=<span class="cl">"256dp"</span><span>
    </span><span class="cm">android</span>:height=<span class="cl">"78.463dp"</span><span>
    </span><span class="cm">android</span>:viewportWidth=<span class="cl">"256"</span><span>
    </span><span class="cm">android</span>:viewportHeight=<span class="cl">"78.463"</span><span class="ct">&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M11.894,42.382h63.212l3.751,1.2L8.709,43.582ZM11.35,40.726 L0,45.137h87.383L76.089,40.722Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M30.041,46.55s9.517,8.035 14.578,9.311c0,0 7.317,-8.5 8.347,-9.311Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#d2067f"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M119.16,10.521h16.484l35.11,26.524L170.754,10.521L187.394,10.521L187.394,55.937L170.755,55.937l-34.99,-27.066L135.765,55.937L119.16,55.937Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M8.259,78.294h-3.236L5.023,66.062L8.259,66.062Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M13.965,69.205l0.1,1.067a3.521,3.521 0,0 1,2.855 -1.236,3 3,0 0,1 2.332,0.848 3.789,3.789 0,0 1,0.8 2.554v5.856h-3.125L16.927,72.559a1.431,1.431 0,0 0,-0.3 -1.012,1.5 1.5,0 0,0 -1.109,-0.325 1.528,1.528 0,0 0,-1.358 0.655v6.419h-3.114v-9.089Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M27.751,75.74a0.656,0.656 0,0 0,-0.415 -0.581,6.8 6.8,0 0,0 -1.582,-0.452 7.578,7.578 0,0 1,-1.92 -0.618,3.141 3.141,0 0,1 -1.154,-0.927 2.064,2.064 0,0 1,-0.4 -1.252,2.45 2.45,0 0,1 1.136,-2.063 5.029,5.029 0,0 1,2.977 -0.811,5.578 5.578,0 0,1 3.178,0.813 2.491,2.491 0,0 1,1.2 2.145h-3.122q0,-1.094 -1.268,-1.093a1.347,1.347 0,0 0,-0.822 0.248,0.741 0.741,0 0,0 -0.333,0.618 0.7,0.7 0,0 0,0.407 0.613,4.082 4.082,0 0,0 1.3,0.386 12.143,12.143 0,0 1,1.566 0.362q2.25,0.705 2.253,2.528a2.326,2.326 0,0 1,-1.215 2.023,5.714 5.714,0 0,1 -3.146,0.785 5.9,5.9 0,0 1,-2.29 -0.423,3.755 3.755,0 0,1 -1.572,-1.141 2.423,2.423 0,0 1,-0.565 -1.519h2.911a1.066,1.066 0,0 0,0.462 0.919,2.042 2.042,0 0,0 1.136,0.29 1.625,1.625 0,0 0,0.959 -0.235A0.734,0.734 0,0 0,27.751 75.74Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M36.594,66.946v2.258h1.646v1.965h-1.646v4.158a0.987,0.987 0,0 0,0.2 0.716,1.173 1.173,0 0,0 0.8,0.2 4.9,4.9 0,0 0,0.777 -0.05v2.023a6.231,6.231 0,0 1,-1.757 0.246,3.474 3.474,0 0,1 -2.375,-0.689 2.677,2.677 0,0 1,-0.766 -2.092L33.473,71.17h-1.276v-1.965h1.276v-2.258Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M40.179,66.859a1.21,1.21 0,0 1,0.478 -0.988,2.2 2.2,0 0,1 2.5,0 1.261,1.261 0,0 1,0 1.981,2.214 2.214,0 0,1 -2.5,0A1.22,1.22 0,0 1,40.179 66.859ZM43.486,78.294h-3.122v-9.089h3.122Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M49.725,66.946v2.258h1.646v1.965h-1.646v4.158a0.987,0.987 0,0 0,0.2 0.716,1.174 1.174,0 0,0 0.8,0.2 4.9,4.9 0,0 0,0.776 -0.05v2.023a6.23,6.23 0,0 1,-1.756 0.246,3.474 3.474,0 0,1 -2.375,-0.689 2.677,2.677 0,0 1,-0.766 -2.092L46.604,71.17h-1.276v-1.965h1.276v-2.258Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M59.276,77.312a3.817,3.817 0,0 1,-5.161 0.28,3.44 3.44,0 0,1 -0.845,-2.5v-5.888h3.114v5.906c0,0.777 0.415,1.168 1.247,1.168a1.675,1.675 0,0 0,1.524 -0.7v-6.376h3.133v9.089h-2.919Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M68.347,66.946v2.258h1.646v1.965L68.347,71.169v4.158a1,1 0,0 0,0.2 0.716,1.178 1.178,0 0,0 0.8,0.2 4.9,4.9 0,0 0,0.777 -0.05v2.023a6.213,6.213 0,0 1,-1.754 0.246,3.482 3.482,0 0,1 -2.377,-0.689 2.677,2.677 0,0 1,-0.766 -2.092L65.227,71.17h-1.276v-1.965h1.276v-2.258Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M71.282,73.666a4.966,4.966 0,0 1,0.581 -2.425,3.955 3.955,0 0,1 1.672,-1.632 5.451,5.451 0,0 1,2.56 -0.573,4.845 4.845,0 0,1 3.539,1.265 4.582,4.582 0,0 1,1.294 3.439v0.1a4.459,4.459 0,0 1,-1.3 3.373,4.865 4.865,0 0,1 -3.516,1.249 4.938,4.938 0,0 1,-3.431 -1.165,4.358 4.358,0 0,1 -1.395,-3.154ZM74.396,73.84a3.134,3.134 0,0 0,0.433 1.849,1.5 1.5,0 0,0 1.286,0.589q1.66,0 1.7,-2.33v-0.283q0,-2.448 -1.719,-2.446 -1.561,0 -1.691,2.111Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M99.845,78.294h-3.225l-4.77,-7.61v7.61h-3.241L88.609,66.062L91.854,66.062l4.76,7.613v-7.613h3.236Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M108.103,78.294a3.031,3.031 0,0 1,-0.3 -0.816,3.011 3.011,0 0,1 -2.4,0.985 3.777,3.777 0,0 1,-2.4 -0.779,2.387 2.387,0 0,1 -0.988,-1.952 2.476,2.476 0,0 1,1.2 -2.235,6.6 6.6,0 0,1 3.492,-0.755h0.961L107.668,72.259c0,-0.837 -0.4,-1.257 -1.191,-1.257q-1.109,0 -1.109,1h-3.114a2.484,2.484 0,0 1,1.234 -2.14,5.576 5.576,0 0,1 3.146,-0.821 4.859,4.859 0,0 1,3.022 0.848,2.854 2.854,0 0,1 1.138,2.327v4.023a3.813,3.813 0,0 0,0.423 1.918v0.143ZM106.154,76.445a1.91,1.91 0,0 0,0.967 -0.224,1.491 1.491,0 0,0 0.549,-0.515v-1.453h-0.906c-1.083,0 -1.627,0.444 -1.627,1.328a0.775,0.775 0,0 0,0.288 0.623A1.087,1.087 0,0 0,106.153 76.445Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M117.468,76.279a1.458,1.458 0,0 0,1.014 -0.325,1.115 1.115,0 0,0 0.351,-0.9h2.921a3.025,3.025 0,0 1,-1.178 2.454,4.648 4.648,0 0,1 -7.731,-3.73L112.845,73.659a5.112,5.112 0,0 1,0.56 -2.43,3.853 3.853,0 0,1 1.614,-1.622 5.18,5.18 0,0 1,2.494 -0.568,4.609 4.609,0 0,1 3.1,0.983 3.337,3.337 0,0 1,1.146 2.665L118.833,72.687a1.464,1.464 0,0 0,-0.378 -1.086,1.382 1.382,0 0,0 -1.017,-0.378c-0.806,0 -1.278,0.468 -1.413,1.405a9.065,9.065 0,0 0,-0.066 1.223,3.6 3.6,0 0,0 0.362,1.9A1.289,1.289 0,0 0,117.468 76.279Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M123.793,66.859a1.212,1.212 0,0 1,0.481 -0.988,2.2 2.2,0 0,1 2.5,0 1.261,1.261 0,0 1,0 1.981,2.214 2.214,0 0,1 -2.5,0A1.223,1.223 0,0 1,123.793 66.859ZM127.103,78.294h-3.125v-9.089L127.102,69.205Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M129.37,73.666a4.967,4.967 0,0 1,0.584 -2.425,3.955 3.955,0 0,1 1.672,-1.632 5.444,5.444 0,0 1,2.56 -0.573,4.849 4.849,0 0,1 3.539,1.265 4.582,4.582 0,0 1,1.294 3.439v0.1a4.461,4.461 0,0 1,-1.3 3.373,4.86 4.86,0 0,1 -3.516,1.249 4.931,4.931 0,0 1,-3.429 -1.165,4.348 4.348,0 0,1 -1.395,-3.154ZM132.484,73.84a3.132,3.132 0,0 0,0.436 1.849,1.488 1.488,0 0,0 1.284,0.589q1.664,0 1.7,-2.33v-0.283q0,-2.448 -1.72,-2.446 -1.561,0 -1.693,2.111Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M143.972,69.205l0.1,1.067a3.52,3.52 0,0 1,2.855 -1.236,3 3,0 0,1 2.332,0.848 3.8,3.8 0,0 1,0.8 2.554v5.856h-3.125L146.934,72.559a1.419,1.419 0,0 0,-0.306 -1.012,1.485 1.485,0 0,0 -1.107,-0.325 1.531,1.531 0,0 0,-1.358 0.655v6.419h-3.114v-9.089Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M158.144,78.294a3.021,3.021 0,0 1,-0.3 -0.816,3.008 3.008,0 0,1 -2.4,0.985 3.777,3.777 0,0 1,-2.4 -0.779,2.387 2.387,0 0,1 -0.988,-1.952 2.476,2.476 0,0 1,1.2 -2.235,6.6 6.6,0 0,1 3.492,-0.755h0.961L157.709,72.259q0,-1.256 -1.191,-1.257c-0.74,0 -1.107,0.333 -1.107,1h-3.117a2.484,2.484 0,0 1,1.233 -2.14,5.576 5.576,0 0,1 3.146,-0.821 4.859,4.859 0,0 1,3.022 0.848,2.854 2.854,0 0,1 1.138,2.327v4.023a3.784,3.784 0,0 0,0.425 1.918v0.143ZM156.195,76.445a1.9,1.9 0,0 0,0.964 -0.224,1.47 1.47,0 0,0 0.549,-0.515v-1.453h-0.906q-1.625,0 -1.625,1.328a0.765,0.765 0,0 0,0.285 0.623A1.1,1.1 0,0 0,156.191 76.445Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M166.564,78.294h-3.122L163.442,65.394h3.122Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M183.154,73.104h-5.1v2.922L184.076,76.026v2.269h-9.269L174.807,66.062h9.287v2.277h-6.044v2.581h5.1Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M189.289,78.294h-3.122L186.167,65.394h3.122Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M196.787,78.459a5.445,5.445 0,0 1,-3.724 -1.249,4.11 4.11,0 0,1 -1.424,-3.246v-0.235a5.175,5.175 0,0 1,0.568 -2.462,3.966 3.966,0 0,1 1.659,-1.651 5.419,5.419 0,0 1,2.589 -0.584,4.559 4.559,0 0,1 3.326,1.189 4.4,4.4 0,0 1,1.223 3.315v1.1h-6.191a1.99,1.99 0,0 0,0.729 1.2,2.3 2.3,0 0,0 1.461,0.439 2.917,2.917 0,0 0,2.309 -0.943l1.424,1.529a3.929,3.929 0,0 1,-1.651 1.165A6.058,6.058 0,0 1,196.787 78.459ZM196.436,71.216c-0.911,0 -1.455,0.549 -1.624,1.646h3.138v-0.217a1.312,1.312 0,0 0,-0.378 -1.054A1.6,1.6 0,0 0,196.436 71.22Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M207.225,76.279a1.462,1.462 0,0 0,1.014 -0.325,1.123 1.123,0 0,0 0.351,-0.9h2.922a3.02,3.02 0,0 1,-1.181 2.454,4.647 4.647,0 0,1 -7.729,-3.73L202.602,73.659a5.113,5.113 0,0 1,0.56 -2.43,3.862 3.862,0 0,1 1.611,-1.622 5.2,5.2 0,0 1,2.5 -0.568,4.614 4.614,0 0,1 3.1,0.983 3.337,3.337 0,0 1,1.146 2.665h-2.922a1.475,1.475 0,0 0,-0.378 -1.086,1.382 1.382,0 0,0 -1.017,-0.378q-1.212,0 -1.413,1.405a8.664,8.664 0,0 0,-0.066 1.223,3.606 3.606,0 0,0 0.359,1.9A1.3,1.3 0,0 0,207.225 76.279Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M217.149,66.946v2.258h1.643v1.965h-1.643v4.158a1.012,1.012 0,0 0,0.2 0.716,1.191 1.191,0 0,0 0.806,0.2 4.921,4.921 0,0 0,0.777 -0.05v2.023a6.231,6.231 0,0 1,-1.757 0.246,3.479 3.479,0 0,1 -2.375,-0.689 2.677,2.677 0,0 1,-0.766 -2.092L214.034,71.17h-1.276v-1.965h1.276v-2.258Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M220.099,73.666a4.966,4.966 0,0 1,0.581 -2.425,3.955 3.955,0 0,1 1.672,-1.632 5.444,5.444 0,0 1,2.56 -0.573,4.849 4.849,0 0,1 3.539,1.265 4.592,4.592 0,0 1,1.294 3.439v0.1a4.451,4.451 0,0 1,-1.3 3.373,4.86 4.86,0 0,1 -3.516,1.249 4.931,4.931 0,0 1,-3.429 -1.165,4.348 4.348,0 0,1 -1.395,-3.154ZM223.211,73.84a3.132,3.132 0,0 0,0.436 1.849,1.491 1.491,0 0,0 1.284,0.589q1.664,0 1.7,-2.33v-0.283q0,-2.448 -1.72,-2.446 -1.561,0 -1.691,2.111Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M237.9,71.767l-1.022,-0.069c-0.98,0 -1.609,0.283 -1.886,0.84v5.756h-3.114v-9.089L234.8,69.205l0.1,1.167a2.429,2.429 0,0 1,2.19 -1.337,3.4 3.4,0 0,1 0.869,0.1Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M245.224,78.294a3.037,3.037 0,0 1,-0.3 -0.816,3.015 3.015,0 0,1 -2.4,0.985 3.777,3.777 0,0 1,-2.4 -0.779,2.387 2.387,0 0,1 -0.988,-1.952 2.471,2.471 0,0 1,1.2 -2.235,6.6 6.6,0 0,1 3.492,-0.755h0.961L244.789,72.259c0,-0.837 -0.4,-1.257 -1.194,-1.257q-1.109,0 -1.109,1h-3.112a2.484,2.484 0,0 1,1.233 -2.14,5.57 5.57,0 0,1 3.146,-0.821 4.859,4.859 0,0 1,3.022 0.848,2.844 2.844,0 0,1 1.136,2.327v4.023a3.838,3.838 0,0 0,0.425 1.918v0.143ZM243.275,76.445a1.91,1.91 0,0 0,0.967 -0.224,1.51 1.51,0 0,0 0.549,-0.515v-1.453h-0.906q-1.628,0 -1.627,1.328a0.775,0.775 0,0 0,0.288 0.623A1.088,1.088 0,0 0,243.275 76.445Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M253.661,78.294h-3.122L250.539,65.394h3.122Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M93.329,10.521h17.063v45.415h-17.063z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M196.733,10.521L196.733,55.937h59.267L256,47.377L214.077,47.377L214.077,37.083h41.922v-7.977L214.371,29.106L214.371,18.756h41.629v-8.235Z"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#242424"</span><span>
      </span><span class="cm">android</span>:fillType=<span class="cl">"evenOdd"</span><span class="ct">/&gt;</span><span>
  </span><span class="ct">&lt;path</span>
      <span class="cm">android</span>:pathData=<span class="cl">"M15.392,29.811c4.2,-5.846 18.942,-25.434 29.1,-29.811 7.462,13.862 24.565,27.344 29.769,29.811 -7.145,4.348 -12.658,7.988 -18.118,13.831L27.033,43.642c-3.978,-3.756 -10.111,-10.209 -11.641,-13.831"</span><span>
      </span><span class="cm">android</span>:fillColor=<span class="cl">"#d2067f"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
 </pre>
        </span>
    </div>
    <p class="margin-t-70 margin-b-50">
        <strong>3. </strong>En este ejemplo, para agregar el icono close, agrega el siguiente fichero:
    </p>
    <div class="fw-bold margin-b-20">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/android-c/buttons/close.svg">ic_close.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-5')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-5">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#F8F5F5"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M19,6.41L17.59,5 12,10.59 6.41,5 5,6.41 10.59,12 5,17.59 6.41,19 12,13.41 17.59,19 19,17.59 13.41,12z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>4. </strong>A continuación ubica el fichero <strong>activity_main.xml</strong>. A ese mismo nivel, crea otro fichero llamado <strong>fragment_full_screen_dialog.xml</strong>
    </p>
    <div class="margin-b-50  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/fragment.svg">
    </div>
    <h3 class="fw-bold margin-t-70">Dialogs FullScreen</h3>

    <p class="margin-t-70 margin-b-50">
        <strong>1 </strong>Una vez creado el fichero <strong>fragment_full_screen_dialog.xml</strong> escribe dentro el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('dialogs-2')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="dialogs-2">
            <pre class="prettyprinted" style="">
<span class="ct">&lt;?</span>xml version<span class="cl">="1.0"</span> encoding<span class="cl">="utf-8"</span><span class="ct">?&gt;</span><span>
</span><span class="ct">&lt;FrameLayout</span> xmlns:<span clasms="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span>
    </span><span>xmlns:</span><span class="cm">app</span><span class="cl">="http://schemas.android.com/apk/res-auto"</span><span>
    </span><span>xmlns:</span><span class="cm">tools</span><span class="cl">="http://schemas.android.com/tools"</span><span>
    </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span>:layout_height<span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span>:background<span class="cl">="@color/colorTextAndIcons"</span><span>
    </span><span class="cm">tools</span>:context<span class="cl">=".ui.fragments.FullScreenDialogFragment"</span><span class="ct">&gt;</span><span>

    </span><span class="ct">&lt;com.google.android.material.appbar.AppBarLayout</span><span>
        </span><span class="cm">android</span>:layout_width=<span class="cl">"match_parent"</span><span>
        </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span class="ct">&gt;</span><span>
            
        </span><span class="ct">&lt;RelativeLayout</span><span>
            </span><span class="cm">android</span>:layout_width=<span class="cl">"wrap_content"</span><span>
            </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span class="ct">&gt;</span><span>
            </span><span class="ct">&lt;com.google.android.material.appbar.MaterialToolbar</span><span>
                </span><span class="cm">android</span>:id=<span class="cl">"@+id/topAppBar"</span><span>
                </span><span class="cm">android</span>:layout_width=<span class="cl">"match_parent"</span><span>
                </span><span class="cm">android</span>:layout_height=<span class="cl">"?attr/actionBarSize"</span><span>
                </span><span class="cm">app</span>:navigationIcon=<span class="cl">"@drawable/ic_close"</span><span>
                </span><span class="cm">app</span>:title=<span class="cl">"@string/app_name"</span><span>
                </span><span class="cm">app</span>:titleTextColor=<span class="cl">"@color/colorTextAndIcons"</span>&gt;<span>
            </span><span class="ct">&lt;/com.google.android.material.appbar.MaterialToolbar&gt;</span><span>
            </span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
                </span>style=<span class="cl">"@style/mx.ine.MaterialComponents.TextButton"</span><span>
                </span><span class="cm">android</span>:layout_width=<span class="cl">"wrap_content"</span><span>
                </span><span class="cm">android</span>:layout_height=<span class="cl">"36dp"</span><span>
                </span><span class="cm">android</span>:layout_alignParentRight=<span class="cl">"true"</span><span>
                </span><span class="cm">android</span>:layout_centerVertical=<span class="cl">"true"</span><span>
                </span><span class="cm">android</span>:layout_marginEnd=<span class="cl">"8dp"</span><span>
                </span><span class="cm">android</span>:text=<span class="cl">"Acción"</span><span>
                </span><span class="cm">android</span>:textColor=<span class="cl">"@color/colorTextAndIcons"</span><span class="ct">/&gt;</span><span>
        </span><span class="ct">&lt;/RelativeLayout&gt;</span><span>
    </span><span class="ct">&lt;/com.google.android.material.appbar.AppBarLayout&gt;</span><span>

    </span><span class="ct">&lt;ImageView</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:layout_gravity=<span class="cl">"center"</span><span>
    </span><span class="cm">android</span>:background=<span class="cl">"@drawable/ic_ine_logo_rosa_negro_gp1698"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/FrameLayout&gt;</span>
        </pre>
        </span>
    </div>
    <strong>Nota: </strong> <p>Recuerda validar que la propiedad  <strong>tools:context</strong> corresponda al paquete de su proyecto</p>

    <p class="margin-t-70 margin-b-50">
        <strong>2. </strong>Para el siguiente paso, puedes revisar la <strong>configuración general</strong> de un proyecto en el apartado Lineamientos Android, para ayudarte a ubicar la carpeta <strong>/fragments</strong> dentro del directorio <strong>/java</strong>.
    </p>
    <div class="margin-b-70  margin-t-40 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/fragments-2.svg" alt="">
    </div>
    <p class="margin-t-70 margin-b-50">
        <strong>3. </strong>Una vez que has ubicado la carpeta <strong>/fragments</strong>, crea en ella un fichero llamado <strong>FullScreenDialogFragment.kt</strong> y escribe dentro el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('dialogs-3')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="dialogs-3">
            <pre class="prettyprinted" style="">
<span class="cm">package</span> mx.ine.institucional.movil.inecomponents.ui.fragments<span>

</span><span class="cm">import </span>android.os.Bundle<span>
</span><span class="cm">import </span>androidx.fragment.app.Fragment<span>
</span><span class="cm">import </span>android.view.LayoutInflater<span>
</span><span class="cm">import </span>android.view.View<span>
</span><span class="cm">import </span>android.view.ViewGroup<span>
</span><span class="cm">import </span>androidx.fragment.app.DialogFragment<span>
</span><span class="cm">import </span>mx.ine.institucional.movil.inecomponents.R<span>

</span><span class="cm">class </span>FullScreenDialogFragment : DialogFragment() &#123;<span>

    </span><span class="cm">override fun </span><span class="ct">onCreate</span>(savedInstanceState: Bundle?) &#123;<span>
        </span><span class="cm">super</span>.onCreate(savedInstanceState)<span>
        </span>setStyle(DialogFragment.<span class="ct">STYLE_NORMAL</span>, R.style.<span class="ct">Theme_Ine_FullScreenDialog</span>)<span>
        &#125;

    </span><span class="cm">override fun </span><span class="ct">onCreateView</span>( inflater: LayoutInflater, container: ViewGroup?,<span>
        </span>savedInstanceState: Bundle? ): View? &#123;<span>
        </span><span class="cm">val </span>view = inflater.inflate(R.layout.<span class="ct">fragment_full_screen_dialog</span>, container,<span class="ct"> false</span>)<span></span><span>   
    </span><span class="cm">return</span><span> view</span>
    &#125;
&#125;
        </pre>
        </span>
    </div>
    
    <p class="margin-t-70 margin-b-50">
        <strong>4. </strong>El siguiente paso es agregar los componentes a tu aplicación. Para esto ubica el fichero <strong>activity_main.xml</strong> dentro de la carpeta <strong>/layout</strong>
    </p>
    <div class="margin-b-70  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg">
    </div>
    <p class="margin-t-70 margin-b-50">
        <strong>5. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('dialogs-5')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="dialogs-5">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
    </span><span>style</span><span class="cl">="@style/mx.ine.MaterialComponents.ButtonSolid"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">layout_width</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">layout_height</span><span class="cl">="36dp"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">layout_gravity</span><span class="cl">="center"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">text</span><span class="cl">="Acción"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">id</span><span class="cl">="@+id/btnDialogFullScreen"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">textColor</span><span class="cl">="@color/colorTextAndIcons"</span><span class="ct">/&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70 margin-b-50">
        <strong>6. </strong>Por último, ubica la carpeta <strong>/activities</strong> dentro del directorio <strong>/java.</strong> Ahí agrega un archivo llamado <strong>MainActivity.kt</strong>
    </p>
    <div class="margin-b-80  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/activity-kit.svg">
    </div>
    <p class="margin-t-70 margin-b-50">
        <strong>7. </strong>Dentro del archivo <strong>MainActivity.kt,</strong> escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('dialogs-6')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="dialogs-6">
            <pre class=" prettyprinted" style="">
<span class="cm">package </span>mx.ine.institucional.movil.inecomponents.ui.activities<span>

</span><span class="cm">import </span>androidx.appcompat.app.AppCompatActivity<span>
</span><span class="cm">import </span>android.os.Bundle<span>
</span><span class="cm">import </span>mx.ine.institucional.movil.inecomponents.R<span>

</span><span class="cm">class </span>MainActivity : AppCompatActivity() &#123;<span>
    </span><span class="cm">override fun</span><span class="cl"> onCreate</span>(savedInstanceState: Bundle?) &#123;<span>
        </span><span class="cm">super</span>.onCreate(savedInstanceState)<span>
        </span>setContentView(R.layout.<span class="cl">activity_main</span><span>)</span><span>

        </span><span>btnDialogFullScreen.setOnClickListener &#123;</span><span>
        </span><span class="cm">val </span>fm =<span class="cl"> activity</span>?.<span class="cl">supportFragmentManager</span><span>
        </span><span class="cm">val </span>fullScreenDialogFragment = FullScreenDialogFragment()<span>
    </span><span class="cm">if</span> (fm != <span class="cl">null</span>) &#123;<span>
    </span><span>fullScreenDialogFragment.show(fm, </span><span class="cl">"simple tag"</span><span>)</span>
    &#125;
&#125;
&#125;
&#125;
        </pre>
        </span>
    </div>
    <p>
        <strong>Nota:</strong> Recuerda que si el componente lo estas trabajando en un <strong>activity</strong>, reemplaza "activity" por <strong>this</strong> como se muestra a continuación:
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('dialogs-6-1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="dialogs-6-1">
            <pre class=" prettyprinted" style="">
<span class="cm">val</span> fm = <span class="cl">this</span>?.<span class="cl">supportFragmentManager</span>
        </pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
    <div class="margin-b-80  margin-t-60 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/fullscreen.svg" alt="">
    </div>
    <hr>
    <h3 class="fw-bold margin-t-40">Alert Dialog</h3>
    <p class="margin-t-70 margin-b-50">
        <strong>1. </strong>Para agregar este componente a tu aplicación, vuelve a ubicar el fichero <strong>activity_main.xml</strong> dentro de la carpeta <strong>/layout</strong>
    </p>
    <div class="margin-b-80  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg">
    </div>
    <p class="margin-t-70 margin-b-20">
        <strong>2. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <p>
        <strong>Nota:</strong> Recuerda que para efectos prácticos puedes usar LinearLayout como contenedor.
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('dialogs-8')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="dialogs-8">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
    </span><span>style</span><span class="cl">="@style/mx.ine.MaterialComponents.ButtonSolid"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">layout_width</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">layout_height</span><span class="cl">="36dp"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">layout_gravity</span><span class="cl">="center"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">text</span><span class="cl">="Acción"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">id</span><span class="cl">="@+id/btnAlertDialog"</span><span>
    </span><span class="cm">android</span><span>:</span><span class="cm">textColor</span><span class="cl">="@color/colorTextAndIcons"</span><span class="ct">/&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70 margin-b-50">
        <strong>3. </strong>A continuación, ubica de nuevo la carpeta <strong>/activities</strong> y el archivo <strong>MainActivity.kt</strong>
    </p>
    <div class="margin-b-80  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/activity-kit.svg">
    </div>
    <p class="margin-t-70 margin-b-50">
        <strong>4. </strong>Escribe dentro del archivo <strong>MainActivity.kt</strong> el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('dialogs-9')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="dialogs-9">
            <pre class=" prettyprinted" style="">
<span class="cm">package </span>mx.ine.institucional.movil.inecomponents.ui.activities<span>

</span><span class="cm">import </span>androidx.appcompat.app.AppCompatActivity<span>
</span><span class="cm">import </span>android.os.Bundle<span>
</span><span class="cm">import </span>mx.ine.institucional.movil.inecomponents.R<span>

</span><span class="cm">class </span>MainActivity : AppCompatActivity() &#123;<span>
    </span><span class="cm">override fun </span><span class="cl">onCreate</span>(savedInstanceState: Bundle?) &#123;<span>
        </span><span class="cm">super</span>.onCreate(savedInstanceState)<span>
        </span>setContentView(R.layout.<span class="cl">activity_main</span><span>)</span><span>

        </span><span>btnAlertDialog.setOnClickListener &#123;</span><span>
        </span>MaterialAlertDialogBuilder(it.context, R.style.AlertDialogCustom)<span>
        </span>.setTitle(<span class="cm">""</span>)<span>
        </span>.setMessage(<span class="cm">"¿Deseas eliminar la información?"</span>)<span>
        </span>.setPositiveButton(<span class="cm">"Eliminar"</span>)&#123; dialog, which -><span>
            </span>Snackbar.make( it ,<span class="cm"> "Eliminado"</span>, Snackbar.<span class="cl">LENGTH_SHORT</span>).show()<span>
        &#125;   
        </span>.setNegativeButton(<span class="cm">"Cancelar"</span>, DialogInterface.OnClickListener &#123; dialog, which -><span>
            </span>Snackbar.make( it, <span class="cm">"Operación Cancelada"</span>, Snackbar.<span class="cl">LENGTH_SHORT</span>).show()<span>

    &#125;)
    </span><span>.show()</span>
&#125;
&#125;
&#125;
        </pre>
        </span>
    </div>
    <p class="margin-b-60">
        <strong>Nota:</strong> Recuerda que el nombre del contexto en el código del <strong>MainActivity</strong> del componente <strong>Dialogs</strong> puede variar dependiendo del paquete en el que se encuentre.
    </p>
    <p class="f-20 fw-600">Resultado del componente</p>
    <div class="margin-b-60  margin-t-40 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/alert.svg">
    </div>
</section>