<section class="row">
    <div class="col-lg-12 col-xl-12 padding-t-15">
        <p> Las pestañas mantienen el contenido relacionado en un único contenedro que se muestra y oculta a través de la navegación. <br>
            <br>El estilo de conjunto de pestañas predeterminado encapsula todo lo que está debajo de él sin encerrarlo visualmente. Debido a que los conjuntos de pestañas se pueden anidar, preste mucha atención al marcado.Se construyen para evitar que
            los estilos escapen de los conjuntos de pestañas principales a los conjuntos de pestañas secundarias.
        </p>
    </div>
    <div class="col-lg-12 col-xl-12 padding-t-15">
        <h6 class="sub_titulo_componentes">Pestañas</h6>
        <ul class="nav nav-tabs pestanas_ine" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Opción 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Opción 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Opción 3</a>
            </li>
        </ul>
        <div class="tab-content pestanas_contenido_ine" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h6>Este un título</h6>
                <hr>
                <p>Las pestañas mantienen el contenido relacionado en un único contenedor que se muestra y oculta a través de la navegación. Las pestañas mantienen el contenido relacionado en un único contenedor que se muestra y oculta a tráves de la navegación.
                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Opción 2</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Opción 3</div>
        </div>
    </div>
    <div class="col-12">
        <p class="derecha texto-codigo">Código</p>
        <div class="jumbotron jumbotron-fluid">

        </div>
    </div>
    <!--Alineado a la Derecha-->
    <div class="col-lg-12 col-xl-12 padding-t-15">
        <h6 class="sub_titulo_componentes">Institucional alineado a la derecha</h6>
        <div class="ul-derecha">
            <ul class="nav nav-tabs pestanas_derecha_ine" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-selected="true">Opción 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2" aria-selected="false">Opción 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false">Opción 3</a>
                </li>
            </ul>
        </div>
        <div class="tab-content pestanas_contenido_ine" id="myTabContent">
            <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab">
                <h6>Este un título</h6>
                <hr>
                <p>Las pestañas mantienen el contenido relacionado en un único contenedor que se muestra y oculta a través de la navegación. Las pestañas mantienen el contenido relacionado en un único contenedor que se muestra y oculta a tráves de la navegación.
                </p>
            </div>
            <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab">Opción 2</div>
            <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab">Opción 3</div>
        </div>
    </div>
    <div class="col-12">
        <p class="derecha texto-codigo">Código</p>
        <div class="jumbotron jumbotron-fluid">
        </div>
    </div>
    <!--Alineado a la izquierda-->
    <div class="col-lg-12 col-xl-12 padding-t-15">
        <h6 class="sub_titulo_componentes">Institucional alineado al centro</h6>
        <div class="ul-centrado">
            <ul class="nav nav-tabs pestanas_centrado_ine" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home3" role="tab" aria-controls="home3" aria-selected="true">Opción 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile3" aria-selected="false">Opción 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact3" aria-selected="false">Opción 3</a>
                </li>
            </ul>
        </div>
        <div class="tab-content pestanas_contenido_ine" id="myTabContent">
            <div class="tab-pane fade show active" id="home3" role="tabpanel" aria-labelledby="home-tab">
                <h6>Este un título</h6>
                <hr>
                <p>Las pestañas mantienen el contenido relacionado en un único contenedor que se muestra y oculta a través de la navegación. Las pestañas mantienen el contenido relacionado en un único contenedor que se muestra y oculta a tráves de la navegación.
                </p>
            </div>
            <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab">Opción 2</div>
            <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab">Opción 3</div>
        </div>
    </div>
    <div class="col-12">
        <p class="derecha texto-codigo">Código</p>
        <div class="jumbotron jumbotron-fluid">
        </div>
    </div>
    <div class="col-lg-12 col-xl-12 padding-t-15">
        <h6 class="sub_titulo_componentes">Pestañas</h6>
        <ul class="nav nav-tabs pestanas_izquierda_ine" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home4" role="tab" aria-controls="home4" aria-selected="true">Opción 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile4" aria-selected="false">Opción 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact4" role="tab" aria-controls="contact4" aria-selected="false">Opción 3</a>
            </li>
        </ul>
        <div class="tab-content pestanas_contenido_ine" id="myTabContent">
            <div class="tab-pane fade show active" id="home4" role="tabpanel" aria-labelledby="home-tab">
                <h6>Este un título</h6>
                <hr>
                <p>Las pestañas mantienen el contenido relacionado en un único contenedor que se muestra y oculta a través de la navegación. Las pestañas mantienen el contenido relacionado en un único contenedor que se muestra y oculta a tráves de la navegación.
                </p>
            </div>
            <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab">Opción 2</div>
            <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab">Opción 3</div>
        </div>
    </div>
    <div class="col-12">
        <p class="derecha texto-codigo">Código</p>
        <div class="jumbotron jumbotron-fluid">
        </div>
    </div>
</section>