<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Tipos de alertas</h3>
    <!-- Validaciones -->
    <div class="row padding-t-10">
        <!-- Advertencia -->
        <div class="col-md-4">
            <div class="alert alerta_advertencia_ine">
                <i class="fa fa-exclamation-triangle color-Amarillo" aria-hidden="true"></i> Mensaje de
                <b>advertencia</b>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-gris-clarito2 border-amarillo-1"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #F7DE97
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-amarillo-2"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #FFF6D9
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-exclamation-triangle color-Amarillo mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #F9AD35
                </p>
            </div>
        </div>
        <!-- Error -->
        <div class="col-md-4 padding-top-50">
            <div class="alert alerta_error_ine">
                <i class="fa fa-times-circle color-Rojo" aria-hidden="true"></i> Mensaje de <b>error</b>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-gris-clarito2 border-rojo-1"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #D31338
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-rojo-2"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #FFDCE1
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-times-circle color-Rojo mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #D31338
                </p>
            </div>
        </div>
        <!-- Éxito -->
        <div class="col-md-4 padding-top-50">
            <div class="alert alerta_exito_ine">
                <i class="fa fa-check-circle color-Verde" aria-hidden="true"></i> Mensaje de <b>éxito</b>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-gris-clarito2 border-verde-1"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #428569
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-verde-2"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #E5F7DF
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-check-circle color-Verde mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #428569
                </p>
            </div>
        </div>
    </div>
    <div class="row padding-t-20">
        <!-- Informativo -->
        <div class="col-md-4 padding-top-50">
            <div class="alert alerta_info_ine">
                <i class="fa fa-info-circle color-Azul" aria-hidden="true"></i> Mensaje de <b>informativo</b>
            </div>
            <div class="padding-t-10">
                <div class="cuadro alerta_info_ine"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #1298B7
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro alerta_info_ine" style="border: none;"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #DDF3F8
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-check-circle color-Azul mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #1298B7
                </p>
            </div>
        </div>
        <!-- Ayuda -->
        <div class="col-md-4 padding-top-50">
            <div class="alert alerta_ayuda_ine">
                <i class="fa fa-question-circle color-magenta" aria-hidden="true"></i> Mensaje de <b>ayuda</b>
            </div>
            <div class="padding-t-10">
                <div class="cuadro alerta_ayuda_ine"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #B7006D
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro alerta_ayuda_ine" style="border: none;"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #F8E1F2
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-check-circle color-magenta mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #B7006D
                </p>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Tipografía</h4>
    <div class="padding-20 bg-img">
        <!-- tiltulos -->
        <div class="row tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p class="">
                    Elemento
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Color
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    Tamaño
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Peso y estilo
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Alineación
                </p>
            </div>
        </div>
        <!-- Etiqueta -->
        <div class="row texto-etiqueta-search tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p class="">
                    Etiqueta
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    #333333
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Etiqueta -->
        <div class="row texto-etiqueta-search tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p class="">
                    <b>Etiqueta</b>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    <b> #333333</b>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    <b> 14px</b>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    <b>Font-weight:bolder</b>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    <b>Text-align:left</b>
                </p>
            </div>
        </div>
    </div>

    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <!-- Estructura -->
    <div class="padding-t-10 imagen-al-centro">
        <img class="img-fluid" src="./assets/img/alertas/Estilo/estructura-tamanio.svg" alt="Medidas para notificaciones: ancho del ícono principal 20px, ando del ícono ce cierre 13px, alto del componente 45px inicial y puede variar según el contenido, ancho del componente 100% de su contenedor.">
    </div>
    <h4 class="titulos-elementos padding-t-50">Espaciado</h4>
    <div class="padding-t-10">
        <p class="subseccion etiqueta-input">Con ícono</p>
        <div class="imagen-al-centro">
            <img class="img-fluid" src="./assets/img/alertas/Estilo/espaciado-conicono.svg" alt="Espaciado de la notificación: 15px a cada lado del ícono principal y 10px a cada lado del ícono de cierre.">
        </div>
    </div>
    <div class="padding-t-10">
        <p class="subseccion etiqueta-input padding-top-30">Sin ícono</p>
        <div class="imagen-al-centro">
            <img class="img-fluid" src="./assets/img/alertas/Estilo/espaciado-sinicono.svg" alt="Cuando la notificación no tiene ícono el texto deberá estar separado por 15px del contenedor">
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Radio</h4>
    <div class="padding-t-10">
        <div class="imagen-al-centro">
            <img class="img-fluid" src="./assets/img/alertas/Estilo/radio.svg" alt="El borde de radio del componente es 5px.">
        </div>
    </div>
</section>
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es una alerta?</h3>
    <p>
        Los mensajes son parte de la unidad de un proceso de comunicación. A pesar de su brevedad y reducido tamaño, su papel en la interacción hombre-máquina es enorme, pequeñas dimensiones con unas pocas líneas de texto, que constituyen a menudo la diferencia
        entre el éxito y el fracaso. Por ello, el diseño de buenos mensajes resulta sustancial e indispensable para disponer de una usabilidad correcta.
    </p>
    <p>
        Es decir, los mensajes sirven para dar a conocer al usuario sobre un suceso o acción que se deba notiﬁcar. Apóyate de ellos siempre que sea necesario y veriﬁca bien su clasiﬁcación.
    </p>
    <p class="padding-t-50">
        <strong>Advertencia:</strong> Prevé siempre a los usuarios sobre acontecimientos que ocurran o vayan a ocurrir y que intervengan en el flujo de su trabajo.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Es necesario registrar ciertos acuerdos en el sistema antes de que se venza el plazo estipulado por la ley. Apóyate de un mensaje de advertencia para indicar el tiempo restante para los usuarios.
    </p>

    <div class="imagen-al-centro">
        <img class="img-fluid" src="./assets/img/alertas/Usos/uso-1.svg" alt="Ilustración de una notificación de advertencia">
    </div>

    <p class="padding-t-50">
        <strong>Error:</strong> Utiliza este mensaje cuando haya sucedido un comportamiento incorrecto por parte del sistema y que necesite ser atendido de inmediato evitando utilizar palabras negativas o de prohibición que puedan asustar a los usuarios.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        El sistema detectó un inconveniente en la ejecución de la “Segunda Insaculación”, se debe notiﬁcar al usuario que debe reiniciar el sistema. Usa el mensaje de tipo de error para indicar al usuario lo sucedido, en este sentido el mensaje sería el siguiente:
        “Lo sentimos, existe un inconveniente en la ejecución de la insaculación, favor de reiniciar el sistema”.
    </p>

    <div class="imagen-al-centro">
        <img class="img-fluid" src="./assets/img/alertas/Usos/uso-2.svg" alt="Ilustración de una notificación de error">
    </div>

    <p class="padding-t-50">
        <strong>Informativo:</strong> En ocasiones, será importante notificar contextualmente al usuario acerca de los aspectos que intervienen en el desarrollo de su trabajo dentro del sistema. Apóyate en este mensaje para dar indicaciones claras sobre
        lo que se debe realizar o seguir.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Se debe indicar al usuario sobre los pasos a seguir al momento de adjuntar cierto documento en su formulario. Usa un mensaje informativo para aclarar los aspectos técnicos.
    </p>

    <div class=" imagen-al-centro">
        <img class="img-fluid" src="./assets/img/alertas/Usos/uso-3.svg" alt="Ilustración de una notificación informativa">
    </div>

    <p class="padding-t-50">
        <strong>Éxito:</strong> Generalmente, cuando los usuarios ejecutan acciones que denotan un progreso exitoso en el flujo del sistema, es importante notificar que todo marcha adecuadamente, sin que estos mensajes interrumpan el proceso de trabajo.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        En el sistema de cuestionarios, el usuario ha completado el formulario que debe enviar a cierta área, cuando ejecuta la acción de enviar y la información llega correctamente a su destinatario se le deberá notiﬁcar al usuario sobre lo acontecido. Utiliza
        un mensaje de éxito para anunciar que el formulario fue enviado con éxito.
    </p>

    <div class=" imagen-al-centro">
        <img class="img-fluid" src="./assets/img/alertas/Usos/uso-5.svg" alt="Ilustración de una notificación de éxito">
    </div>

    <p class="padding-t-50">
        <strong>Ayuda:</strong> Recuerda que es importante verificar si será necesaria una ayuda al usuario además del mensaje, en este caso refuerza el contenido con una liga que lo lleve a la solución de algún problema u otorgue más información al respecto.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Se presenta un error del sistema y el usuario debe volver a loguearse para obtener su autenticación. Utiliza un mensaje de ayuda, donde el contenido contextualice al usuario y lo apoye a regresar al inicio (login) del sistema.
    </p>

    <div class=" padding-b-30 imagen-al-centro">
        <img class="img-fluid" src="./assets/img/alertas/Usos/uso-4.svg" alt="Ilustración de una notificación de ayuda">
    </div>

</section>
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Alertas</h3>
    <!-- Advertencia -->
    <div class="padding-t-50">
        <div class="alert alerta_advertencia_ine">
            <i class="fa fa-exclamation-triangle color-Amarillo" aria-hidden="true"></i> Formato de correo
            <strong>inválido</strong>
        </div>
    </div>
    <div class="padding-t-20">
        <div class="jumbotron jumbotron-fluid">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputCorreoInValido')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5"
                        aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputCorreoInValido">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"alert alerta_advertencia_ine"</span><span>></span>
    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-exclamation-triangle color-Amarillo"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span> Formato de correo <span><</span><span class="ca5">strong</span><span>></span>inválido<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>

    </div>
    <!-- Error -->
    <div class="padding-t-50">
        <div class="alert alerta_error_ine bordeer-rojo-1">
            <i class="fa fa-times-circle color-Rojo" aria-hidden="true"></i> Información <strong>errónea</strong>
        </div>
    </div>
    <div class="padding-t-20">
        <div class="jumbotron jumbotron-fluid">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputCorreoError')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputCorreoError">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"alert alerta_error_ine bordeer-rojo-1"</span><span>></span>
    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-times-circle color-Rojo"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span> Información <span><</span><span class="ca5">strong</span><span>></span>errónea<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Éxito -->
    <div class="padding-t-50">
        <div class="alert alerta_exito_ine">
            <i class="fa fa-check-circle color-Verde" aria-hidden="true"></i> Correo <strong>válido</strong>
        </div>
    </div>
    <div class="padding-t-20">
        <div class="jumbotron jumbotron-fluid">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputCorreoValido')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputCorreoValido">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"alert alerta_exito_ine"</span><span>></span>
    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-check-circle color-Verde"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span> Correo <span><</span><span class="ca5">strong</span><span>></span>válido<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Informativo -->
    <div class="padding-t-50">
        <div class="alert alerta_info_ine">
            <i class="fa fa-info-circle color-Azul" aria-hidden="true"></i> Mensaje <b>informativo</b>
        </div>
    </div>
    <div class="padding-t-20">
        <div class="jumbotron jumbotron-fluid">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputCorreoInformativo')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5"
                        aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputCorreoInformativo">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"alert alerta_info_ine"</span><span>></span>
    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-info-circle color-Azul"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span> Mensaje <span><</span><span class="ca5">strong</span><span>></span>informativo<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <!-- Ayuda -->
    <div class="padding-t-50">
        <div class="alert alerta_ayuda_ine">
            <i class="fa fa-question-circle color-magenta" aria-hidden="true"></i> Mensaje de <b>ayuda</b>
        </div>
    </div>
    <div class="padding-t-20">
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('inputAyuda')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="inputAyuda">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"alert alerta_ayuda_ine"</span><span>></span>
    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-question-circle color-magenta"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span> Mensaje de <span><</span><span class="ca5">strong</span><span>></span>ayuda<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
</section>