.circulo-numero {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    float: left;
    margin-top: 4px;
    color: white;
    text-align: center;
    font-weight: 700;
    background: #4199A0 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px;
}

.border-verde {
    border-left: 1px solid #4199A0;
    opacity: 1;
    padding-left: 30px;
}

.centrar-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 30px;
}

.bg-fondo-img{
  background: var(--bg-li-nav-item) !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #EFB5D3;
    background: white;
    color: #333333;
  }
  
   td {
    text-align: left;
    padding: 16px;
    border-right: 1px solid #EFB5D3;
  }

  th{
    text-align: center;
    background: #FCECF4;
    font-size: 18px;
    font-weight: 700;
    border-right: 1px solid #EFB5D3;
  }
  
  tr:nth-child(even) {
    background-color: #FDF7FA;
  }

