<h3 class="sub-tema margin-b-25">¿Qué es un favicon?</h3>
<p>
  Se trata del icono que aparce en las pestañas de los navegadores cuando entramos en cualquier sitio web,permitiendo al
  usuario identificar y señalar que está dentro de éstecuando navega entre cada una de las pestañas que haya abierto.
</p>
<p class="margin-b-30">
  Este recurso gráfico se caracteriza por ser de dimensiones cuadradas, suele ser el imagotipo de la organización. Es
  algo que, además de dar reconocimiento, transmite la identidad corporativa a través de un detalle tan pequeño como es
  la pestaña del navegador.
</p>
<p class="margin-b-20">Ejemplo:</p>
<div class="text-center bg-fondo-img padding-30">
  <img src="assets/img/UX/favicon/ejemplo-favicon.svg" class="img-responsive img-fluid" alt="">
</div>
<h3 class="sub-tema margin-t-75 margin-b-20">Buenas prácticas</h3>
<p>
  Se trata del icono que aparce en las pestañas de los navegadores cuando entramos en cualquier sitio web,permitiendo al
  usuario identificar y señalar que está dentro de éstecuando navega entre cada una de las pestañas que haya abierto.
</p>
<p class="margin-b-60">
  Este recurso gráfico se caracteriza por ser de dimensiones cuadradas, suele ser el imagotipo de la organización. Es
  algo que, además de dar reconocimiento, transmite la identidad corporativa a través de un detalle tan pequeño como es
  la pestaña del navegador.
</p>
<div class="row">
  <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
    <p class="circulo-numero">1</p>
  </div>
  <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
    <p class="fw-400 margin-b-5">
      <strong>Debe conectarse con la identidad corporativa,</strong> pero frecuentemente es demasiado pequeño para
      incluir un logotipo
      completo. Utiliza un elemento identificable y destacado con el que se asocia a la institución o al proyecto.
    </p>
  </div>
</div>
<div class="row justify-content-end padding-t-35">
  <div class="col-md-11 padding-l-0">
    <div class="text-center bg-fondo-img padding-30">
      <img src="assets/img/UX/favicon/elemento-favicon.svg" class="img-responsive img-fluid" alt="">
    </div>
  </div>
</div>
<div class="row padding-t-70">
  <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
    <p class="circulo-numero">2</p>
  </div>
  <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
    <p class="fw-400 margin-b-5">
      <strong>Piensa en el formato.</strong> El espacio, por defecto, es cuadrado. Si quieres algo más, debes ocupar un
      fondo
      transparente. Algunos sistemas operativos suelen redondear los bordes, por lo que es otro factor a considerar.
    </p>
  </div>
</div>
<div class="row justify-content-end padding-t-35">
  <div class="col-md-11 padding-l-0">
    <div class="text-center bg-fondo-img padding-30">
      <img src="assets/img/UX/favicon/cuadradoTransparente-favicon.svg" class="img-responsive img-fluid" alt="">
    </div>
  </div>
</div>
<div class="row padding-t-70">
  <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
    <p class="circulo-numero">3</p>
  </div>
  <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
    <p class="fw-400 margin-b-5">
      <strong>Evita elementos complejos o palabras en el diseño de favicon.</strong> El texto no se escala bien y, de
      todos modos, es muy
      probable que sea ilegible.
    </p>
  </div>
</div>
<div class="row justify-content-end padding-t-35">
  <div class="col-md-11 padding-l-0">
    <div class="text-center bg-fondo-img padding-30">
      <img src="assets/img/UX/favicon/sinPalabras-favicon.svg" class="img-responsive img-fluid" alt="">
    </div>
  </div>
</div>
<div class="row padding-t-70">
  <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
    <p class="circulo-numero">4</p>
  </div>
  <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
    <p class="fw-400 margin-b-5">
      <strong>Apégate a una paleta de colores simple.</strong> Es demasiado pequeño para implementar demasiados colores.
      Es por eso que
      la mayoría de los favicons utilizan un color de fondo y primer plano con alto contraste entre los dos.
    </p>
  </div>
</div>
<div class="row justify-content-end padding-t-35">
  <div class="col-md-11 padding-l-0">
    <div class="text-center bg-fondo-img padding-30">
      <img src="assets/img/UX/favicon/colorSimple-favicon.svg" class="img-responsive img-fluid" alt="">
    </div>
  </div>
</div>
<div class="row padding-t-70">
  <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
    <p class="circulo-numero">5</p>
  </div>
  <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
    <p class="fw-400 margin-b-5">
      <strong>Crear dos versiones.</strong> Hoy en día, los favicons se muestran en muchos contextos, incluidas listas
      de marcadores,
      menús de acceso directo e incluso pantallas de inicio de dispositivos móviles y televisores.
    </p>
    <p class="fw-400 margin-b-5">
      Para asegurar que el
      favicon se vea bien independientemente del contexto en los que aparezca, deberás proporcionar dos estilos de
      favicon:
    </p>
  </div>
</div>
<div class="row justify-content-end padding-t-35">
  <div class="col-md-11 padding-l-0">
    <ul>
      <li class="padding-b-20"><strong>Sobre fondo transparente.</strong><br>
        Esta versión se muestra en la barra de URL, listas de marcadores y otros lugares
        donde aparece el favicon junto a la URL o el nombre de tu sitio web.
      </li>
      <li><strong>Sobre relleno sólido.</strong><br>
        Esta versión se utiliza en marcadores en forma de cuadrícula y menús de acceso directo,
        donde el navegador o dispositivo enmascara el fondo, para lograr una apariencia uniforme en contexto.
      </li>
    </ul>
    <div class="text-center bg-fondo-img padding-30">
      <img src="assets/img/UX/favicon/versiones-favicon.svg" class="img-responsive img-fluid" alt="">
    </div>
  </div>
</div>
<h3 class="sub-tema margin-t-75 margin-b-20">Consideraciones técnicas</h3>
<p>HTML 5 incluye estándares para favicons con múltiples tamaños para todo tipo de usos.</p>
<table>
  <tr>
    <th>Tamaño</th>
    <th>Aplicación</th>
  </tr>
  <tr>
    <td class="fw-500">23 x 23</td>
    <td class="fw-400">Estándar para la mayoría de los navegadores de escritorio (reemplaza a 16 × 16).</td>
  </tr>
  <tr>
    <td class="fw-500">128 x 128</td>
    <td class="fw-400">Chrome Store y un pequeño icono de pantalla de Windows 8 en forma de estrella.</td>
  </tr>
  <tr>
    <td class="fw-500">152 x 152</td>
    <td class="fw-400">Icono táctil de iPad.</td>
  </tr>
  <tr>
    <td class="fw-500">167 x 167</td>
    <td class="fw-400">Icono de iPad Retina touch.</td>
  </tr>
  <tr>
    <td class="fw-500">180 x 180</td>
    <td class="fw-400">Icono de Retina de iPhone.</td>
  </tr>
  <tr>
    <td class="fw-500">192 x 192</td>
    <td class="fw-400">Recomendación de la aplicación web para desarrolladores de Google.</td>
  </tr>
  <tr>
    <td class="fw-500">196 x 196</td>
    <td class="fw-400">Icono de la pantalla de inicio de Android.</td>
  </tr>
</table>
<p class="padding-t-70 f-18 fw-700">
  Formatos de favicon
</p>
<p>
  En la actualidad los navegadores aceptan diferentes formatos:<strong> ico, png, gif, jpg y svg.</strong>
</p>