<nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion">
    <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/mejora-continua/metricas/analisis-de-metricas']" [ngClass]="{'active' : seccion =='analisis-de-metricas'}">
                <a class="nav-link texto-14-px padding-top-3">Análisis de métricas</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/mejora-continua/metricas/analisis-cualitativo']" [ngClass]="{'active' : seccion =='analisis-cualitativo'}">
                <a class="nav-link texto-14-px padding-top-3">Análisis cualitativo </a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/mejora-continua/metricas/integracion-de-mejoras']" [ngClass]="{'active' : seccion =='integracion-de-mejoras'}">
                <a class="nav-link texto-14-px padding-top-3">Integración de mejoras</a>
            </li>
        </ul>
    </div>
</nav>
<section *ngIf="seccion=='analisis-de-metricas'">
    <h3 class="padding-t-30">¿Qué es un análisis de métricas?</h3>
    <p>
        Es una forma de medir específicamente el comportamiento de un producto o servicio digital conforme a las expectativas de los usuarios, detectando oportunidades de mejora en la eficiencia, la eficacia y la satisfacción del usuario, respecto a las tareas
        que realiza.
    </p>
    <p>
        Éstas también pueden complementarse con otro tipo de mediciones, las cuales fortalecen el conocimiento técnico del servicio o producto digital. Por ejemplo, el número de visitas recibidas en un sitio web, horario preferido de navegación, sistema operativo
        y tipo de dispositivos de los usuarios. Sí sumamos estos datos a las investigaciones de usuarios, nuestra expectativa apuntaría a una mejora significativa del producto, obteniendo insights (descubrimientos) de gran valor que permitan crear experiencias
        sorprendentes.
    </p>
    <h3 class="padding-t-30">¿Cuándo aplicarlas?</h3>
    <p>
        La mejora continua es necesaria en los productos y servicios que se brindan. Por ello, cuando se requiera comprobar si la implementación de un producto es correcta, se medirá; por ejemplo, el éxito y el tiempo en la realización de tareas por parte de
        los usuarios, el número de clics que dan para llegar a cierto apartado o la evaluación del sentimiento de frustración.
    </p>
    <div class="margin-t-60 margin-b-80">
        <div class="padding-t-10 text-center">
            <img class="img-fluid" src="./assets/img/UX/mejora-continua/analisis-metricas.svg" alt="Análisis de métricas">
        </div>
    </div>
</section>
<section *ngIf="seccion=='analisis-cualitativo'">
    <h3 class="padding-t-30">¿Qué es un análisis cualitativo?</h3>
    <p>
        Es el proceso que permite obtener y presentar conclusiones a partir de datos provenientes de métodos de investigación cualitativos como entrevistas, pruebas de usabilidad o estudios ergonómicos. Dichos datos son cualitativos y nos brindan información
        no verbal que nos ayuda a justificar el porqué, pero en ocasiones también se cuantifican.
    </p>
    <h3 class="padding-t-30">¿Cómo y para qué las integramos?</h3>
    <p>
        Cuando el objetivo implica conocer más a fondo las necesidades, sentimientos, motivaciones y nivel de satisfacción que tiene el usuario con la interfaz y se requiere una mayor cantidad de información, la cual se proporciona a través de textos, videos
        o audios.
    </p>
    <div class="margin-t-60 margin-b-80 text-center">
        <img class="img-fluid" src="./assets/img/UX/mejora-continua/analisis-cualitativo.svg" alt="Análisis cualitativo">
    </div>
</section>
<section *ngIf="seccion=='integracion-de-mejoras'">
    <h3 class="padding-t-30">¿Qué es la integración de mejoras?</h3>
    <p>
        Este proceso permite que los equipos de diseño y desarrollo estén enterados de la eficiencia del proyecto, alineando los flujos de trabajo de UX con backend para coordinar la liberación de la primera fase del producto. Aunque se cuente con una primera
        versión, es necesario seguir trabajando con las mejoras, haciendo una planeación de los futuros cambios en las áreas de oportunidad, ya sea para la siguiente liberación o dependiendo de las fechas del cronograma o presupuestales, las mejoras aplicarían
        para la siguiente versión.
    </p>
    <h3 class="padding-t-30">¿Cómo y para qué las integramos?</h3>
    <p>
        Nos servirán para coordinar el número de iteraciones que se llevarán a cabo dentro del proceso del desarrollo y para determinar qué mejoras se pueden implementar y cuáles por cuestiones de tiempo se tendrán que posponer para un siguiente alcance. Es importante
        que la mejoras se basen en los resultados de las diversas pruebas que hayamos realizado, considerando los cambios en la interfaz, usabilidad y rendimiento (incluso que una funcionalidad vaya lenta o rápida, es un aspecto que crea perspectivas
        diferentes en la experiencia de usuario).
    </p>
    <p>
        En ocasiones los cambios o mejoras en desarrollo no necesariamente afectan el trabajo de UX, por ello es importante categorizarlas y llevar un control en cada una de ellas.
    </p>
    <div class="margin-t-60 margin-b-80 text-center">
        <img class="img-fluid" src="./assets/img/UX/mejora-continua/integracion-mejora.svg" alt="Integración de mejoras">
    </div>
</section>