<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura y espaciado</h3>
    <h4>Regular</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/floating/estilo/regular.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60">Mini</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/floating/estilo/mini.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60">Extendido</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/floating/estilo/extendido.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-60">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td>Botones</td>
                <td>14dp</td>
                <td>Medium</td>
                <td>Centrada</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row justify-content-sm-center">
        <div class="col-md-6 padding-t-50">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro text-center"
                        src="./assets/img/android-c/floating/estilo/aplicacion-1.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-10"><strong>Botón:</strong> #B7006D</p>
                    <p class="border-app margin-b-10"><strong>Icono:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 padding-t-50">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/floating/estilo/aplicacion-2.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-10"><strong>Botón:</strong> #B7006D</p>
                    <p class="border-app margin-b-10"><strong>Icono:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-t-50">
        <div class="col-md-6">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/floating/estilo/aplicacion-3.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-10"><strong>Botón:</strong> #B7006D</p>
                    <p class="border-app margin-b-10"><strong>Contenido:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para mostrar la acción primaria o más común en una pantalla. Esta acción debe ser constructiva: crear, explorar, compartir. Los botones de acción flotante (BAF) aparecen delante de todo el contenido de la pantalla, generalmente como una forma circular
            con un icono en el centro.
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong> Evita usar botones de acción flotante para acciones destructivas como: archivar o eliminar, alertas y errores, acciones limitadas (cortar texto) o para controles.
        </p>
        <p class="margin-t-30">
            Existen tres tipos de botones de acción flotante (BAF): regular, mini y extendido.
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong>Utiliza los BAF solamente cuando sea la forma más adecuada de presentar la acción principal de una pantalla.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p class="margin-t-30">
            <strong>Regular: </strong>Utiliza este componente para mostrar la acción principal de la pantalla. Debe incluir únicamente un ícono relacionado con la acción.
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong>Utiliza el color principal de la paleta de color (rosa INE) para el contenedor del BAF.
        </p>
        <p class="txt-title padding-t-30">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Agregar un usuario al directorio de encuestadores.
        </p>
        <div class="margin-b-80  margin-t-40 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/floating/floating-regular.svg">
        </div>
        <p class="margin-t-30">
            <strong>Mini: </strong>Utiliza este componente para pantallas pequeñas, menores a 460dp. El ancho del BAF regular (56dp) debe reducirse al tamaño mini (40dp).
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong>Los BAF mini, también pueden usarse para crear continuidad visual con otros elementos de la pantalla.
        </p>
        <p class="txt-title padding-t-30">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Capturar datos desde un teléfono con pantalla pequeña.
        </p>
        <div class="margin-b-80  margin-t-40 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/floating/floating-mini.svg">
        </div>
        <p class="margin-t-30">
            <strong>Extendido: </strong>Utiliza este componente más ancho para incluir una etiqueta de texto. El ícono debe quedar del lado izquierdo del BAF. Este tipo de botón debe colocarse en la parte inferior centrado o alineado a la derecha.
        </p>
        <p class="txt-title padding-t-30">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Tomar una fotografía a la credencial de elector “icono cámara + capturar”
        </p>
        <div class="margin-b-80  margin-t-40 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/floating/floating-extendido.svg">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <p class="margin-t-30">
        <strong>1. </strong>Para agregar un botón a tu aplicación, primero deberás agregar las imágenes. Para esto, ubica la carpeta /<strong>drawable</strong>
    </p>
    <div class="margin-b-60  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/drawable.svg">
    </div>
    <p class="tip padding-15 margin-0">
        <strong>Tip:</strong> Puedes conocer la <a class="enlace" [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']">configuración general</a> de un proyecto en el apartado
        Lineamientos Android.
    </p>
    <p class="margin-t-70">
        <strong>2. </strong>Dentro de esta carpeta agrega los ficheros que necesites de acuerdo a los iconos utilizados para tu proyecto:
    </p>
    <div class="fw-bold margin-b-20 margin-t-70">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/floating/edit.svg"> ic_edit.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-f1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-f1">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span>
    </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
    </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
    </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
    </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span>&gt;<span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FFFBFB"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M3,17.25V21h3.75L17.81,9.94l-3.75,-3.75L3,17.25zM20.71,7.04c0.39,-0.39 0.39,-1.02 0,-1.41l-2.34,-2.34c-0.39,-0.39 -1.02,-0.39 -1.41,0l-1.83,1.83 3.75,3.75 1.83,-1.83z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>3. </strong>El siguiente paso es agregar los componentes a tu aplicación. Ubica el fichero <strong>activity_main.xml</strong> dentro de la carpeta / <strong>layout.</strong>
    </p>
    <div class="margin-b-80  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg">
    </div>
    <p class="margin-t-70">
        <strong>4. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <h3 class="fw-bold margin-t-40">Regular</h3>
   
    <div class="jumbotron jumbotron-fluid margin-b-50">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-f3')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-f3">    
<pre class=" prettyprinted" style="">
<span><span class="ct">&lt;com.google.android.material.floatingactionbutton.FloatingActionButton</span></span><span>
    </span><span class="cm">android</span>:id=<span class="cl">&quot;@+id/fabOne&quot;</span><span>
    </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.FloatingActionButton&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;16dp&quot;</span><span>
    </span><span class="cm">android</span>:contentDescription=<span class="cl">&quot;@string/app_name&quot;</span><span>
    </span><span class="cm">app</span>:srcCompat=<span class="cl">&quot;@drawable/ic_edit&quot;</span> <span class="ct">/&gt;</span><span></span>
        </pre>
        </span>
    </div>
    <hr>
    <h3 class="fw-bold margin-t-40">Mini</h3>
    <div class="jumbotron jumbotron-fluid margin-b-50">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-f4')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-f4">
<pre class=" prettyprinted" style="">
<span><span class="ct">&lt;com.google.android.material.floatingactionbutton.FloatingActionButton</span></span><span>
    </span><span class="cm">android</span>:id=<span class="cl">&quot;@+id/fabOneMini&quot;</span><span>
    </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.FloatingActionButton&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:contentDescription=<span class="cl">&quot;@string/app_name&quot;</span><span>
    </span><span class="cm">app</span>:fabSize=<span class="cl">&quot;mini&quot;</span><span>
    </span><span class="cm">app</span>:srcCompat=<span class="cl">&quot;@drawable/ic_edit&quot;</span> <span class="ct">/&gt;</span><span></span>
        </pre>
        </span>
    </div>
    <hr>
    <h3 class="fw-bold margin-t-40">Extendido</h3>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-f5')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-f5">
<pre class=" prettyprinted" style="">
<span><span class="ct">&lt;com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton</span></span><span>
    </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.FloatingActionButtonExtended&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;16dp&quot;</span><span>
    </span><span class="cm">android</span>:contentDescription=<span class="cl">&quot;@string/app_name&quot;</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">&quot;Editar&quot;</span><span>
    </span><span class="cm">app</span>:icon=<span class="cl">&quot;@drawable/ic_edit&quot;</span> <span class="ct">/&gt;</span><span></span>
        </pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
    <h4 class="fw-bold margin-t-60">Regular</h4>
     <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/floating/regular.svg">
    </div>
    <hr>
    <h4 class="fw-bold margin-t-60">Mini</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/floating/mini.svg">
    </div>
    <hr>
    <h4 class="fw-bold margin-t-60">Extendido</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/floating/extendido.svg">
    </div>
</section>