<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12 padding-t-15">
                <p>
                    En las tablas tenemos la capacidad de visualizar datos y actuar sobre ellos.<br> Para poder obtener una mejor experiencia de usuario las tablas deberán permitirnos escanear, analizar, comparar, filtrar, clasificar y así obtener la
                    información deseada.
                </p>
            </div>
            <div class="col-md-12">
                <table class="table tabla_borde_rosa_ine">
                    <thead>
                        <tr>
                            <th style="width: 25%">
                                Título
                            </th>
                            <th style="width: 25%">
                                Título
                            </th>
                            <th style="width: 25%">
                                Título
                            </th>
                            <th style="width: 25%">
                                Título
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                        </tr>
                        <tr>
                            <td>Dato1</td>
                            <td>Dato1</td>
                            <td>Dato1</td>
                            <td>Dato1</td>
                        </tr>
                        <tr>
                            <td>Dato2</td>
                            <td>Dato2</td>
                            <td>Dato2</td>
                            <td>Dato2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <p class="derecha">Copiar</p>
                <div class="jumbotron jumbotron-fluid">
                </div>
            </div>
            <div class="col-md-12">
                <table class="table tabla_encabezado_rosa_ine">
                    <thead>
                        <tr>
                            <th style="width: 25%">
                                Título
                            </th>
                            <th style="width: 25%">
                                Título
                            </th>
                            <th style="width: 25%">
                                Título
                            </th>
                            <th style="width: 25%">
                                Título
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                        </tr>
                        <tr>
                            <td>Dato1</td>
                            <td>Dato1</td>
                            <td>Dato1</td>
                            <td>Dato1</td>
                        </tr>
                        <tr>
                            <td>Dato2</td>
                            <td>Dato2</td>
                            <td>Dato2</td>
                            <td>Dato2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <p class="derecha">Copiar</p>
                <div class="jumbotron jumbotron-fluid">
                </div>
            </div>
            <div class="col-md-12">
                <table class="table tabla_cebrado_rosa_ine">
                    <thead>
                        <tr>
                            <th style="width: 25%">
                                Título
                            </th>
                            <th style="width: 25%">
                                Título
                            </th>
                            <th style="width: 25%">
                                Título
                            </th>
                            <th style="width: 25%">
                                Título
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                            <td>Dato</td>
                        </tr>
                        <tr>
                            <td>Dato1</td>
                            <td>Dato1</td>
                            <td>Dato1</td>
                            <td>Dato1</td>
                        </tr>
                        <tr>
                            <td>Dato2</td>
                            <td>Dato2</td>
                            <td>Dato2</td>
                            <td>Dato2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <p class="derecha">Copiar</p>
                <div class="jumbotron jumbotron-fluid">
                </div>
            </div>
        </div>
    </div>
</section>