<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura y espaciado</h3>
    <h4>Desplegable</h4>
    <div class="row margin-b-60  margin-t-50 justify-content-center">
        <div class="col-sm-7 col-md-4 text-center">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/estilo/desplegable-1.svg" alt="">
        </div>
        <div class="col-sm-7 col-md-5 text-center">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/estilo/desplegable-2.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="margin-b-60  margin-t-60 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/estilo/desplegable-2.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-60">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td>Cuerpo 1</td>
                <td>16dp</td>
                <td>Regular</td>
                <td>Izquierda</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row justify-content-sm-center">
        <div class="col-md-6">
            <div class="row justify-content-sm-center margin-t-70">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-4 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/menus/estilo/aplicacion-1.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-10"><strong>Menú:</strong> #FFFFFF</p>
                    <p class="border-app margin-b-10"><strong>Texto:</strong> #333333</p>
                    <p class="border-app margin-b-5"><strong>Selección:</strong> #D5007F</p>
                    <p><strong>Texto:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row justify-content-sm-center margin-t-70">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-4 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/menus/estilo/aplicacion-2.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-10"><strong>Input:</strong> #F2F2F2</p>
                    <p class="border-app margin-b-10"><strong>Icono (down):</strong> #D5007F</p>
                    <p class="border-app margin-b-10"><strong>Menú:</strong> #FFFFFF</p>
                    <p class="border-app margin-b-10"><strong>Texto:</strong> #333333</p>
                    <p class="border-app margin-b-5"><strong>Selección:</strong> #D5007F</p>
                    <p><strong>Texto:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para mostrar una lista de opciones en superficies temporales. Aparecen cuando los usuarios interactúan con un botón, acción u otro control.
        </p>
        <p>
            Deben ser fáciles de abrir, cerrar e interactuar. El contenido del menú debe adaptarse a las necesidades del usuario. Los elementos del menú deben ser fáciles de escanear.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p class="margin-t-30">
            <strong>Menús desplegables:</strong> Utiliza este componente para mostrar listas de opciones relacionadas (que se pueden agrupar), así como opciones no relacionadas.
        </p>
        <p>
            Los menús desplegables aparecen cuando un usuario toca un elemento interactivo de la interfaz de usuario, como un icono, botón, acción o contenido, como elementos o texto seleccionados.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando una tarjeta presenta más opciones como eliminar, editar, guardar dentro de un menú secundario representado por tres puntos alineados verticalmente.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/menus/desplegable.svg" alt="Uso del componente en un menú lateral">
        </div>
        <p class="margin-t-30">
            <strong>Menús desplegables expuestos :</strong> Los menús desplegables expuestos muestran el elemento de menú seleccionado actualmente encima de la lista de opciones. Algunas variaciones pueden aceptar entradas ingresadas por el usuario.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando se selecciona un estado de la república en un formulario.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/menus/expuesto.svg" alt="Ejemplo de un menú desplegable para seleccionar un país">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <h3 class="fw-bold margin-t-30">Desplegable(context_menu)</h3>
    <p class="margin-t-60">
        <strong>1. </strong>Para agregar este componente, utilizaremos el archivo <strong>FullScreenDialogFragment.kt</strong> que se agregó en el <strong>apartado Dialog.</strong>
    </p>
    <p>
        <strong>Nota:</strong> Recuerda que para llamar a FullScreenDialogFragment se explica en el componente <a [routerLink]="['/componentes-ui/android/dialogs/codigo']"><u class="color-magenta fw-500">Dialog</u></a> del paso 4 al 7.
    </p>
    <div class="margin-b-80  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/fullscren-dialog.svg" alt="">
    </div>
    <p class="margin-t-60">
        <strong>2. </strong>Agrega un <a class="enlace" [routerLink]="['/componentes-ui/android/buttons/codigo']">button</a> con el <strong>id: btnContextMenu</strong> en el fichero <strong>fragment_full_screen_dialog.xml</strong>, Dentro del archivo <strong>FullScreenDialogFragment</strong>, reemplaza el código existente  del <strong>onCreateView()</strong> por el siguiente código.
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-50">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('menu-1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="menu-1">
            <pre class=" prettyprinted" style="">
<span class="cm">override fun </span><span class="cl">onCreateView(</span><span>
    </span>inflater: LayoutInflater, container: ViewGroup?,<span>
    </span>savedInstanceState: Bundle?<span>
</span>): View? &#123;<span>
    </span><span class="cm">val</span> view = inflater.inflate(<span>
</span>R.layout.<span class="cl"> fragment_full_screen_dialog</span>, container, <span class="cm">false)</span><span>
    </span>view.btnContextMenu.setOnClickListener &#123;<span>
        </span><span class="cm">val </span>popupMenu = PopupMenu(it.context, it)<span>
        </span><span class="cm">val </span>inflater: MenuInflater = popupMenu.menuInflater <span>
        </span>inflater.inflate(R.menu.bnv_menu, popupMenu.menu)<span>
        </span>popupMenu.show()<span>
    &#125; 
    </span><span class="cm">return</span> view<span>
</span>&#125;
            </pre>
        </span>
    </div>
    <p class="margin-t-60">
        <strong>3. </strong>A continuación, agrega el fichero <strong>bnv_menu.xml</strong>, dentro de la carpeta / <strong>menu.</strong> 
    </p>
    <div class="margin-b-50  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/bnv_menu.svg" alt="">
    </div>
    <p class="margin-t-60">
        <strong>4. </strong>En este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('menu-2')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="menu-2">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;?</span><span>xml version</span><span class="cl">="1.0"</span> encoding<span class="cl">="utf-8"</span><span class="ct">?&gt;</span><span>  
</span><span class="ct">&lt;menu </span>xmlns:<span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span class="ct">&gt;</span><span>
</span><span class="ct">&lt;item</span><span>  
    </span><span class="cm">android</span><span>:title</span><span class="cl">="Opción 1"</span><span class="ct"> /&gt;</span><span>
</span><span class="ct">&lt;item</span><span>  
    </span><span class="cm">android</span><span>:title</span><span class="cl">="Opción 2"</span><span class="ct"> /&gt;</span><span>
</span><span class="ct">&lt;item</span><span> 
    </span><span class="cm">android</span><span>:title</span><span class="cl">="Opción 3"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;item</span><span>  
    </span><span class="cm">android</span><span>:title</span><span class="cl">="Opción 4"</span><span class="ct"> /&gt;</span><span>
</span><span class="ct">&lt;/menu&gt;</span>
        </pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
    <p>
        <strong>Nota: </strong> Recuerda que si el texto del componente no se visualiza es por que esta en blanco, elimina o comenta la siguiente linea de codigo, que se encuentra en el style.
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('menu-2-1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="menu-2-1">
            <pre class=" prettyprinted" style="">
                <span class="ct">&lt;item</span> name=<span class="cl">&quot;android:textColor&quot;</span>&gt;@color/colorTextAndIcons&lt;<span class="ct">/item&gt;</span>
        </pre>
        </span>
    </div>
    <div class="margin-b-80  margin-t-30 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/desplegable.svg" alt="">
    </div>
    <hr>
    <h3 class="fw-bold margin-t-40">Expuesto(dropdown)</h3>
    <p class="margin-t-60">
        <strong>1. </strong>Para agregar este tipo de menú a tu aplicación, primero deberás ubicar el fichero <strong>fragment_full_screen_dialog.xml</strong> dentro de la carpeta /<strong>layout.</strong>
    </p>
    <div class="margin-b-60  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/fragment.svg">
    </div>
    <p class="margin-t-60">
        <strong>2. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('menu-4')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="menu-4">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;com.google.android.material.textfield.TextInputLayout</span><span> 
    </span><span class="cm">android</span><span class="cb">:id</span><span class="cl">="@+id/textInputLayout"</span><span>
    </span><span>style</span><span class="cl">="@style/Widget.MaterialComponents.TextInputLayout.OutlinedBox.ExposedDropdownMenu"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="280dp"</span><span>
    </span><span class="cm">android</span><span>:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">app</span><span>:boxStrokeColor</span><span class="cl">="@color/stroke_color_text_layout"</span><span>
    </span><span class="cm">app</span><span>:boxBackgroundColor</span><span class="cl">="#f2f2f2"</span><span>
    </span><span class="cm">app</span><span>:endIconTint</span><span class="cl">="@color/colorPrimary"</span><span>
    </span><span class="cm">app</span><span>:endIconMode</span><span class="cl">="dropdown_menu"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;AutoCompleteTextView</span><span>  
        </span><span class="cm">android</span><span class="cb">:id</span><span class="cl">="@+id/txtInput"</span><span>
        </span><span class="cm">android</span><span>:layout_width</span><span class="cl">="match_parent"</span><span>
        </span><span class="cm">android</span><span>:layout_height</span><span class="cl">="match_parent"</span><span>
        </span><span class="cm">android</span><span>:enabled</span><span class="cl">="false"</span><span>
        </span><span class="cm">android</span><span>:textColor</span><span class="cl">="@color/color_state_text_view_drop_down"</span><span>
        </span><span class="cm">android</span><span>:inputType</span><span class="cl">="none"</span><span>
        </span><span class="cm">android</span><span>:textAppearance</span><span class="cl">="@style/TextAppearance.MaterialComponents.Body1"</span><span class="ct">/&gt;</span><span> 
</span><span class="ct">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span>
                        </pre>
        </span>
    </div>
    <p class="margin-t-60">
        <strong>3. </strong>A continuación, agrega el fichero <strong>stroke_color_text_layout.xml</strong>, dentro de la carpeta /<strong>color</strong>, ubicada en el directorio /<strong>res</strong>
    </p>
    <div class="margin-b-60  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/stroke.svg" alt="">
    </div>
    <p class="tip padding-15 margin-0">
        <strong>Tip:</strong> Puedes conocer la <a class="enlace" [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']">configuración general</a> de un proyecto en el apartado
        Lineamientos Android.
    </p>
    <p class="margin-t-60">
        <strong>4. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('menu-5')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="menu-5">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;?</span><span>xml version</span><span class="cl">="1.0"</span> encoding<span class="cl">="utf-8"</span><span class="ct">?&gt;</span><span>  
</span><span class="ct">&lt;selector</span><span> </span><span> xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span class="ct">&gt;</span><span> 
    </span>&lt;<span class="ct">item</span><span class="cm"> android</span>:color<span class="cl">="#f2f2f2"</span><span class="cm"> android</span>:state_pressed<span class="cl">="true"</span><span class="ct">/&gt;</span><span>
    </span>&lt;<span class="ct">item</span><span class="cm"> android</span>:alpha<span class="cl">="0.12"</span><span class="cm"> android</span>:color<span class="cl">="#f2f2f2"</span><span class="cm"> android</span>:state_pressed<span class="cl">="false"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/selector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-60">
        <strong>5. </strong>A continuación, agrega el fichero <strong>color_state_text_view_drop_down.xml</strong>, en el mismo directorio
    </p>
    <div class="margin-b-60  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/color_state.svg" alt="">
    </div>
    <p class="margin-t-60">
        <strong>6. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('menu-5-1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="menu-5-1">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;?</span><span>xml version</span><span class="cl">="1.0"</span> encoding<span class="cl">="utf-8"</span><span class="ct">?&gt;</span><span>  
</span><span class="ct">&lt;selector</span><span> </span><span> xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span class="ct">&gt;</span><span> 
    </span>&lt;<span class="ct">item</span><span class="cm"> android</span>:state_pressed<span class="cl">="true"</span><span class="cm"> android</span>:color<span class="cl">="@color/colorTextAndIcons"</span><span class="ct"> /&gt;</span><span>
    </span>&lt;<span class="ct">item</span><span class="cm"> android</span>:state_selected<span class="cl">="true"</span><span class="cm"> android</span>:color<span class="cl">="@color/colorTextAndIcons"</span><span class="ct"> /&gt;</span><span>
    </span>&lt;<span class="ct">item</span><span class="cm"> android</span>:color<span class="cl">="#333333"</span><span class="ct"> /&gt;</span><span>
</span><span class="ct">&lt;/selector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-60">
        <strong>7. </strong>A continuación, ubica el archivo <strong>FullScreenDialogFragment.kt</strong> que se trabajó trabajó en la versión <strong>Desplegable(context_menu)</strong> de este componente.
    </p>
    <div class="margin-b-60  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/fullscren-dialog.svg" alt="">
    </div>
    <p class="margin-t-60">
        <strong>8. </strong>En este archivo, reemplaza el código existente por el siguiente:
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('menu-6')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="menu-6">
            <pre class=" prettyprinted" style="">
<span class="cm">override fun </span><span class="cl">onCreateView(</span><span>
    </span>inflater: LayoutInflater, container: ViewGroup?,<span>
    </span>savedInstanceState: Bundle?<span>
</span>): View?&#123; <span>
    </span><span class="cm">val</span> view = inflater.inflate(R.layout.<span class="cl">fragment_dropdown</span>, container, <span class="cm"> false)</span><span>
    </span><span class="cm">val</span> items = <span class="cl">resources</span>.getStringArray(R.array.<span class="cl">string_drop_down</span>)<span>
    </span><span class="cm">val</span> adapter = ArrayAdapter(requireContext(), R.layout.<span class="cl">list_item</span>, items)
    (view.txtInput <span class="cl">as?</span> AutoCompleteTextView)?.setAdapter(adapter)<span>
        
</span><span class="cm">return </span>view<span>
</span><span>&#125;</span>
            </pre>
        </span>
    </div>
    <p class="margin-t-60">
        <strong>9. </strong>. Dentro del directorio res/<strong>layout</strong>, crea un nuevo layout con el nombre de <strong>list_item</strong>, y agrega el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('menu-9')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="menu-9">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;?xml</span> version=<span class="cl">&quot;1.0&quot;</span> encoding=<span class="cl">&quot;utf-8&quot;</span>?<span class="ct">&gt;</span></span><span>

</span><span class="ct">&lt;TextView</span> xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span><span>
    </span><span class="cm">android</span>:id=<span class="cl">&quot;@+id/editText&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:ellipsize=<span class="cl">&quot;end&quot;</span><span>
    </span><span class="cm">android</span>:maxLines=<span class="cl">&quot;1&quot;</span><span>
    </span><span class="cm">android</span>:padding=<span class="cl">&quot;16dp&quot;</span><span>
    </span><span class="cm">android</span>:textColor=<span class="cl">&quot;@color/color_state_text_view_drop_down&quot;</span><span>
    </span><span class="cm">android</span>:background=<span class="cl">&quot;@drawable/item_background_drop_down&quot;</span><span>
    </span><span class="cm">android</span>:textAppearance=<span class="cl">&quot;@style/TextAppearance.MaterialComponents.Body1&quot;</span> <span class="ct">/&gt;</span><span></span>                
</pre>
        </span>
    </div>
    <p class="margin-t-60">
        <strong>10. </strong>Dentro del directorio res/<strong>drawable</strong>, crea un nuevo fichero <strong>.xml</strong> con el nombre de <strong>item_background_drop_down.xml</strong>, y agrega el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('menu-10')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="menu-10">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;?xml</span> version=<span class="cl">&quot;1.0&quot;</span> encoding=<span class="cl">&quot;utf-8&quot;</span>?<span class="ct">&gt;</span></span><span>
</span><span class="ct">&lt;selector</span> xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;item</span> <span class="cm">android</span>:state_pressed=<span class="cl">&quot;true&quot;</span><span class="ct">&gt;</span><span>
        </span><span class="ct">&lt;shape&gt;</span><span>
            </span><span class="ct">&lt;solid</span> <span class="cm">android</span>:color=<span class="cl">&quot;@color/color_rosa_d50B7F&quot;</span> <span class="ct">/&gt;</span><span>
        </span><span class="ct">&lt;/shape&gt;</span><span>
    </span><span class="ct">&lt;/item&gt;</span><span>
    </span><span class="ct"><span class="ct">&lt;item</span></span> <span class="cm">android</span>:state_selected=<span class="cl">&quot;true&quot;</span><span class="ct">&gt;</span><span>
        </span><span class="ct">&lt;shape&gt;</span><span>
            </span><span class="ct">&lt;solid</span> <span class="cm">android</span>:color=<span class="cl">&quot;@color/color_rosa_d50B7F&quot;</span> <span class="ct">/&gt;</span><span>
        </span><span class="ct">&lt;/shape&gt;</span><span>
    </span><span class="ct">&lt;/item&gt;</span><span>

</span><span class="ct">&lt;/selector&gt;</span><span></span>
</pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
      <div class="margin-b-50  margin-t-30 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/menus/expuesto.svg" alt="">
    </div>
</section>