<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <h4 class="titulos-elementos padding-t-30">Accordion</h4>
    <div class="padding-t-20">
        <div id="accordion">
            <div class="card">
                <div class="card-header acordion pnl transicion collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="mb-0">
                                Panel 1
                            </h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <i class="fa fa-chevron-circle-up fa-2x transicion"></i>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header acordion pnl transicion collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="mb-0">
                                Panel 2
                            </h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <i class="fa fa-chevron-circle-up fa-2x transicion"></i>
                        </div>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header acordion pnl transicion collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="mb-0">
                                Panel 3
                            </h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <i class="fa fa-chevron-circle-up fa-2x transicion"></i>
                        </div>
                    </div>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding-t-30 ">
        <div class="row tamaño-tipografia-14">
            <div class="col-md-4 col-4">
                <h6>Panel</h6>
                <div class="padding-t-10">
                    <div class="cuadro bg-gris-clarito4"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #F9F9F9
                    </p>
                </div>
                <div class="padding-t-10">
                    <i class="fa fa-chevron-circle-up color-magenta mover-izq margin-t-5" aria-hidden="true"></i>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #B7006D
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <h6>Panel Activo</h6>
                <div class="padding-t-10">
                    <div class="cuadro bg-magenta"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #B7006D
                    </p>
                </div>
                <div class="padding-t-10">
                    <i class="fa  fa-chevron-circle-up mover-izq margin-t-5" aria-hidden="true"></i>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #FFFFFF
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <h6>Contenido</h6>
                <div class="padding-t-10">
                    <div class="cuadro bg-blanco border-grisOscuro2-1"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #FFFFFF
                    </p>
                </div>
                <div class="padding-t-10">
                    <hr class="linea-border border-t-grisTenue-2">
                    <p class="texto-elementos padding-l-40 margin-0">
                        1px solid #DBDBDB
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="titulos-elementos padding-t-50">Tipografía</h4>
    <div class="padding-20 bg-img ">
        <div class="row tamaño-tipografia-14">
            <div class=" col-3 col-md-2">
                <p>
                    Elemento
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    Color
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    Tamaño
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Peso
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    Alineación
                </p>
            </div>
        </div>
        <!--Etiqueta-->
        <div class="row margin-t-10 etiqueta-input tamaño-tipografia-14">
            <div class="col-3 col-md-2">
                <p>
                    <strong>Etiqueta</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>#666666</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>14px</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong> Font-weight:400</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>Text-align:left</strong>
                </p>
            </div>
        </div>
        <div class="row margin-t-10 etiqueta-input tamaño-tipografia-14">
            <div class="col-3 col-md-2">
                <p>
                    <strong>Panel activo</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>#FFFFFF</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>18px</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong> Font-weight:700</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>Text-align:right</strong>
                </p>
            </div>
        </div>
        <!--Etiqueta de referencia-->
        <div class="row txt-title tamaño-tipografia-14">
            <div class="col-3 col-md-2">
                <p>
                    <strong>Subpanel</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>#B7006D</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>18px</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong>Font-weight:400</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>Text-align:left</strong>
                </p>
            </div>
        </div>
        <div class="row tamaño-tipografia-14">
            <div class="col-3 col-md-2">
                <p>
                    <strong>Texto de contenido</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>#333333</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>16px</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong>Font-weight:400</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>Text-align:left</strong>
                </p>
            </div>
        </div>
    </div>
    <!--Estructura-->
    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <h6 class="padding-t-20">
        Tamaño
    </h6>
    <p class="subseccion etiqueta-referencia margin-0">Accordion simple</p>
    <img class="img-fluid " align="left " src="./assets/img/acordeon/Estilo/estructura-acordeon.svg " alt="Diagrama: estructura y tamaños del componente accordion. Alto del panel 45px, ancho del botón 22px, alto del contenido del panel automático.">

    <h4 class="titulos-elementos padding-t-50">Espaciado</h4>
    <img class="img-fluid margin-t-20" align="left " src="./assets/img/acordeon/Estilo/espaciado-acordeon.svg " alt="Diagrama: espacios y márgenes del componente accordion. Márgenes laterales 25px, magen entre paneles 5px, margen entre elementos del contenido 25px.">

</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es un acordeón?</h3>
    <div class="padding-t-15">
        <p>
            Una interfaz en accordion permite mostrar la información de forma resumida en títulos o secciones, un control a través del cual se ocultan ciertos bloques de datos y se muestran en función de la interacción con el usuario.
        </p>
        <p>
            Cuando requieras agrupar información similar que muestre la idea principal en un primer vistazo sin necesidad de presentar todo el contenido, utiliza un componente de accordion, será una manera de ir desglosando poco a poco la información conforme lo
            decida el usuario. Además, te facilitará dar orden a tu página, sitio o sistema.
        </p>
        <p class="margin-t-30">
            <strong>Accordion simple:</strong> Cuando tengas información importante para ser agrupada y no sobrepase más de seis secciones utiliza un accordion simple en vez de pestañas o tabs, veriﬁca que el ícono que indica la expansión de la información
            sea lo suﬁcientemente claro, y el contenido abarque todo el ancho del accordion.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            En el Centro de ayuda de cierto sistema se solicita tener una sección de preguntas frecuentes. Utiliza un accordion simple para agrupar el top de preguntas que serán mostradas como las más importantes.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/acordeon/Usos/uso-acordeon.svg" alt="Ejemplo del componente accordion.">
        </div>
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Acordeón</h3>
    <h4 class="titulos-elementos padding-t-30">Simple</h4>
    <div class="padding-t-40">
        <div id="accordion">
            <div class="card">
                <div class="card-header acordion pnl transicion collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="mb-0">
                                Panel 1
                            </h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <i class="fa fa-chevron-circle-up fa-2x transicion"></i>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header acordion pnl transicion collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="mb-0">
                                Panel 2
                            </h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <i class="fa fa-chevron-circle-up fa-2x transicion"></i>
                        </div>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header acordion pnl transicion collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="mb-0">
                                Panel 3
                            </h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <i class="fa fa-chevron-circle-up fa-2x transicion"></i>
                        </div>
                    </div>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid margin-t-60 margin-b-80">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('acordion')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="acordion">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> id</span><span>=</span><span class="cn">"accordion"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-header acordion pnl transicion collapsed"</span><span class="ca4"> id</span><span>=</span><span class="cn">"headingOne"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"collapse"</span><span class="ca4"> data-target</span><span>=</span><span class="cn">"#collapseOne"</span><span class="ca4"> aria-expanded</span><span>=</span><span class="cn">"true"</span><span class="ca4"> aria-controls</span><span>=</span><span class="cn">"collapseOne"</span><span>></span>    
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"row"</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-md-8"</span><span>></span>
                    <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"mb-0"</span><span>></span>Panel 1<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-md-4 text-right"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-chevron-circle-up fa-2x transicion"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> id</span><span>=</span><span class="cn">"collapseOne"</span><span class="ca4"> class</span><span>=</span><span class="cn">"collapse"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"headingOne"</span><span class="ca4"> data-parent</span><span>=</span><span class="cn">"#accordion"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body"</span><span>></span>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-header acordion pnl transicion collapsed"</span><span class="ca4"> id</span><span>=</span><span class="cn">"headingTwo"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"collapse"</span><span class="ca4"> data-target</span><span>=</span><span class="cn">"#collapseTwo"</span><span class="ca4"> aria-expanded</span><span>=</span><span class="cn">"false"</span><span class="ca4"> aria-controls</span><span>=</span><span class="cn">"collapseTwo"</span><span>></span>    
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"row"</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-md-8"</span><span>></span>
                    <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"mb-0"</span><span>></span>Panel 2<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-md-4 text-right"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-chevron-circle-up fa-2x transicion"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> id</span><span>=</span><span class="cn">"collapseTwo"</span><span class="ca4"> class</span><span>=</span><span class="cn">"collapse"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"headingTwo"</span><span class="ca4"> data-parent</span><span>=</span><span class="cn">"#accordion"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body"</span><span>></span>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-header acordion pnl transicion collapsed"</span><span class="ca4"> id</span><span>=</span><span class="cn">"headingThree"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"collapse"</span><span class="ca4"> data-target</span><span>=</span><span class="cn">"#collapseThree"</span><span class="ca4"> aria-expanded</span><span>=</span><span class="cn">"false"</span><span class="ca4"> aria-controls</span><span>=</span><span class="cn">"collapseThree"</span><span>></span>    
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"row"</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-md-8"</span><span>></span>
                    <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"mb-0"</span><span>></span>Panel 3<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-md-4 text-right"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-chevron-circle-up fa-2x transicion"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> id</span><span>=</span><span class="cn">"collapseThree"</span><span class="ca4"> class</span><span>=</span><span class="cn">"collapse"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"headingThree"</span><span class="ca4"> data-parent</span><span>=</span><span class="cn">"#accordion"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"card-body"</span><span>></span>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
</section>