h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
}

/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .padding-left-15 {
        padding-left: 15px;
    }
}

@media (max-width: 767px) {
    .tamaño-tipografia-14 {
        font-size: 14px;
        ;
    }
    .imagenes-al-centro {
        text-align: center;
    }
    .padding-left-0 {
        padding-left: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}