<div class="row">
  <div class="col-md-12 col-lg-10 offset-lg-1 margin-b-80 margin-t-80">
    <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion">
      <div class="collapse navbar-collapse text-center border-nav scroll-nowprap
        margin-b-60"
        id="navbarTogglerDemo02 menu-wrapper">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/voicebot/acerca-de']"
            [ngClass]="{'active' : seccion =='acerca-de'}">
            <a class="nav-link">Acerca de</a>
          </li>
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/voicebot/buenas-practicas']"
            [ngClass]="{'active' : seccion =='buenas-practicas'}">
            <a class="nav-link">Buenas prácticas</a>
          </li>
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/voicebot/tecnologias']"
            [ngClass]="{'active' : seccion =='tecnologias'}">
            <a class="nav-link">Tecnologías</a>
          </li>
        </ul>
      </div>
    </nav>
    <section *ngIf="seccion=='acerca-de'">
      <h3 class="margin-b-20 titulo ">¿Qué es?</h3>
      <p class="margin-b-20">
      Es una interfaz conversacional impulsada por inteligencia artificial y el procesamiento de lenguaje natural que permite al usuario interactuar con un dispositivo o un servicio simplemente hablando.
      </p>
      <h4 class="margin-b-30 sub">Arquitectura básica de un voicebot</h4>
      <ul class="fondoGR margin-b-55">
      <li class="fs-16">Entradas por parte del usuario, que en este caso son de tipo voz.</li>
      <li class="fs-16">Una parte integradora y lógica (con inteligencia artificial y procesamiento de lenguaje natural)
         que procesará y generará respuestas por parte del voicebot.</li>
      <li class="fs-16">Salidas para el usuario, que también en este caso serán de tipo voz.
         Cabe mencionar que puede tener una pantalla gráfica donde muestre algún recurso de ayuda de tipo multimedia.</li>
      </ul>
      <hr class="line">

<h3 class="margin-b-40 margin-t-50 titulo">Proceso general para un voicebot</h3>
<div class="rules1 padding-10 margin-b-35">
  <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>Se deberá seguir los siguientes
  pasos:
</div>
<ol class="listas" start="1">
  <li>Definir el objetivo del voicebot</li>
</ol>
<hr class="line">
<ol class="listas" start="2">
  <li>Definir volumen de usuarios a los que dará servicio</li>
</ol>
<hr class="line">
<ol class="listas" start="3">
  <li>Definir personalidad del voicebot</li>
</ol>
<hr class="line">
<ol class="listas" start="4">
  <li>Establecer un scripting de conversación para el voicebot, intenciones
    y el flujo de ellas</li>
</ol>
<hr class="line">
<ol class="listas" start="5">
  <li>Definir qué tecnología se usará e integraciones con APIs</li>
</ol>
<hr class="line">
<ol class="listas  " start="6">
  <li>Mejora continua del voicebot</li>
</ol >
<hr class="line">
<ol class="listas margin-t-50" start="#">

</ol>
<hr class="margin-b-60 line">

<h3 class="margin-b-10  titulo">Plantilla</h3>
<p class="margin-b-30 padding-b-20 ">A continuación encontrarás un archivo para descargar la plantilla de un voicebot en Amazon Lex.</p>
<div class="row">
  <div class="col-md-9">
    <h3 class="margin-b-25  titulo">Vista Previa </h3>
  <p>Imagenes de carácter ilustrativo.</p>
  </div>
  <div class="col-md-3">
    <a href="./assets/docs/lineamientos-asistentes-virtuales/INEvoice.zip">
    <button class="btn btn_rosa_ine ">  <i class="fa fa-download padding-r-15"></i>Descargar plantilla
      </button>
    </a>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide"
        data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0"
            class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
         
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/img/asistentes-virtuales/voicebot/MicrosoftTeams-image-2.png"
                alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/asistentes-virtuales/voicebot/MicrosoftTeams-image-1.png"
                alt="Second slide">
            </div>
           
        </div>
      </div>
  <hr>
  
</div>


</section>

<section *ngIf="seccion=='buenas-practicas'">
<h3 class="margin-b-25 titulo ">De diseño</h3>
<p class="margin-b-60">
A pesar de los avances recientes en tecnologías de reconocimiento de voz, todavía estamos muy lejos de simular una conversación humana.
 Sin embargo, con un diseño correcto podemos proveer una experiencia más agradable a nuestros usuarios y evitarles frustraciones.
</p>

<div class="fondoG2 margin-b-80">


<ul class=" ">
<li> <strong>Objetivo</strong> </li>
  <p> Antes que todo, es necesario pensar en el propósito de ser del voicebot. ¿Qué problema soluciona?, esta es la etapa de empatía, durante la cual se obtiene las necesidades y preocupaciones del usuario
    y la forma en que el voicebot ayudará a los usuarios, aquí es donde radica la razón de su existencia.</p>

<li> <strong>Flujo de conversación </strong></li>
<p> Diseñar una gran experiencia de voz implica, ante todo, crear un diagrama de flujo conversacional. La idea es trazar un mapa de conversación lo mejor que se pueda, comenzando con todas las diferentes formas en que una persona puede iniciar una conversación con un voicebot. Antes de escribir cualquier código o modelo de intención, pide comentarios a otras personas, como compañeros de trabajo, amigos y familiares, en cada uno de los flujos. Esto te proporcionará una gran perspectiva e ideas para las respuestas e interacciones que podrías haber perdido por tu cuenta. </p>
<li> <strong>Expresiones de muestra </strong></li>
<p>Crear una lista de buenas expresiones de muestra o sample utterances es clave para ayudar al aprendizaje automático a inferir varias formas en que una persona puede pedir algo. Además de su código, las sample utterances deberán repetirse y ajustarse a medida que evolucione el voicebot. Es posible que descubras que ciertas frases no funcionan tan bien o que los usuarios encuentran formas nuevas e interesantes de invocar el voicebot y, por lo tanto, éstas deberán incluirse en esa lista.</p>
<li><strong>¿Cuándo usar señales visuales?</strong></li>
<p> Imagina si Amazon Echo no tuviera un anillo de luz LED: dispararía un comando y y podría pasar tiempo sin respuesta. Luego, justo cuando vas a preguntar porqué está tardando tanto, el dispositivo responde. Eso puede resultar un poco frustrante. Para aliviar esa frustración, realmente necesita usar algún tipo de señal visual como una luz LED, un ícono o un indicador de progreso en una pantalla gráfica para mostrar que algo está sucediendo en segundo plano.</p>
</ul>
</div>


<hr class="padding-b-30 line">



<h3 class="margin-b-20 titulo">De desarrollo</h3>
<p class="margin-b-20">Es importante considerar estas buenas prácticas también del lado de la programación, como cualquier otro producto de software.</p>

<h3 class="margin-b-40 titulo"> Pautas a considerar</h3>

<div class="fondoG3 padding-b-60">
<ul class=" ">
  <li><p>Definir metodología de trabajo a usar: sin metodología no hay disciplina, y menos cuando de desarrollo de software se trata. Para los paradigmas de arquitectura y de programación que existen, sea programación orientada a objetos, modelo vista controlador, entre otros,
     todo es útil siempre y cuando exista documentación para su consulta.</p></li>
  <li><p>Elegir tecnología y si consumirá servicios Web o Rest: frecuentemente al desarrollar voicebots se consumen estos servicios mencionados.
    Es importante tener claro cuáles de esos servicios y herramientas ocuparemos, los parámetros de entrada, sus outputs, etc.</p></li>
  <li><p>Seguridad de la información: con tecnología Alexa se usa OAuth para la seguridad de la autenticación. Esto se ha convertido en el estándar para la autenticación de usuarios. Sin embargo, para la autenticación a nivel de otros dispositivos, hay que asegurarse de crear un contraseña segura para él. Otras consideraciones alrededor de la seguridad son el cifrado de datos sensibles en la base de datos,
   validaciones en APIs, manejo de errores, entre otros.</p>
  </li>

</ul>
</div>
</section>



<section *ngIf="seccion=='tecnologias'">
  <div class="row">
    <div class="col-md-12 ">
      <h3 class="padding-b-10 titulo">Dialogflow</h3>
      <p class="padding-b-40">
        Existen diversas tecnologías para la creación de voicebots. Una de ellas es Dialogflow, la cual es una plataforma de comprensión del lenguaje natural que se utiliza para diseñar e integrar una interfaz de usuario conversacional en aplicaciones móviles, aplicaciones web, dispositivos, sistemas de respuesta de voz interactivos y usos relacionados. Dialogflow proporciona una interfaz de usuario web llamada consola de Dialogflow, donde se pueden crear, compilar y probar agentes. Así como también proporciona una consola de Actions, para vincular intents con las acciones que puedan ser utilizadas por el Asistente de Google.</p>
    </div>
  </div>

<hr class="padding-b-40 line">




     <h3 class="padding-b-10 titulo">Conceptos básicos</h3>
     <p class="padding-b-40">En el apartado de <strong class="subrayados">Tecnología de Lineamientos Asistentes Virtuales Chatbot</strong>  se describen los conceptos básicos a tomar en cuenta para esta tecnología. Sin embargo, también es importante conocer un par más que se muestran a continuación.</p>
     <hr class="padding-b-40 line">

    
     <h3 class="padding-b-10 tx">Webhook</h3>
     <p class="padding-b-40">Es un método para comunicar en tiempo real dos aplicaciones o servicios web a través de HTTP. Es útil porque no requiere de infraestructura extra, cuando se cumplan ciertos criterios. En muchos casos, el mismo servicio que da un <strong class="textos">webhook</strong>  puede lograrse mediante una API. Sin embargo, depende su viabilidad de la dimensión del proyecto, su complejidad o el conocimiento técnico requerido. </p>
     <p class="padding-b-40">Esta opción debe ser activada desde la consola de <strong class=" textos">Dialogflow,</strong>  en el apartado  <strong class="textos">Fulfillment,</strong>  como se muestra a continuación:</p>
     <p>Una vez activada, solicitará una URL, la cual se puede utilizar mediante Ngrok. Éste es un servicio que permite convertir un servidor local en un servidor accesible mediante un subdominio generado aleatoriamente y así poder visualizarlo desde cualquier computadora con acceso a internet.</p>
     
     <hr class="padding-b-40 line">

     <p >Este paso es necesario siempre y cuando se utilice el webhook, ya que es Dialogflow quien envía una solicitud de tipo POST al servicio web.</p>
     <hr class="padding-b-40 line">

     <h3 class="padding-b-10 titulo">Actions</h3>
     <p class="padding-b-10">Actions on Google es una plataforma que permite crear acciones para el Google Assistant. Estas acciones son las interacciones que se entablan con el asistente y que permiten dar respuesta a una necesidad concreta. Las acciones conversacionales también pueden comunicarse con servicios web externos con webhooks para agregar lógica conversacional o comercial antes de devolver una respuesta.</p>
     <p class="padding-b-40">
      En este proyecto, se utiliza la integración con actions para hacer pruebas de Google Assistant en la consola de actions. En esta consola se agrega el proyecto realizado dentro de la consola Dialogflow, como se muestra a continuación, y de esta forma queda vinculado:
     </p>

     <p class="padding-b-40">Dentro de la pestaña Develop, se configura el nombre de la acción, cómo invocarlo y la voz del asistente, como se muestra a continuación:</p>

     <p class="padding-b-40">En la pestaña Test de la consola, se pueden hacer pruebas del proyecto previo a utilizar un dispositivo con Google Assistant integrado.</p>

     <p class="padding-b-40">Por su parte, en la pestaña Deploy se solicitan todos los datos requeridos por Google para poder publicar la action. En la siguiente imagen se muestran los campos solicitados.</p>

     <p class="padding-b-10">Cabe mencionar que se deben cumplir estas especificaciones para poder garantizar que dicha action pueda ser publicada, si es que así se desea. </p>
     <p class="padding-b-40">Por último, es importante mencionar que dentro de la consola Dialogflow, por cada uno de los intents creados, se configure la respuesta en Google Assistant, y a su vez, se desactiven las respuestas por default, por la integración que estamos utilizando para este proyecto.</p>

     <h3 class="padding-b-20 tx">Node.js</h3>
     <p class="padding-b-40">Para levantar un servidor con Node.js se requiere crear un archivo index.js en la carpeta del proyecto. Si se llevará a cabo la integración con webhook será necesario realizar dicha comunicación mediante el código siguiente: </p>

     <p class="padding-b-40">Así como también su direccionamiento mediante app.post como se muestra a continuación y su respectiva función.</p>

     <p class="padding-b-40">Por último, se debe mapear dicha función, como se muestra a continuación:</p>

     <p class="padding-b-40">Todas estas modificaciones dentro del index.js de nuestro proyecto. La consola de Dialogflow provee un inline editor, del cual podemos tomar ciertas partes del código pero no podemos realizar modificaciones directas, a menos que se tenga vinculada una forma de pago para Cloud Functions. Por ello la importancia de tener un servidor y un editor de código externos.</p>
     <hr class="padding-b-40 line">

     <h3 class="padding-b-10 tx">Referencias</h3>
     <div class="fondoG4 margin-t-30"> 
       <li>Dialogflow |<strong class="subrayados"> https://cloud.google.com/dialogflow/cx/docs/basics?hl=es</strong></li>
       <li>Google Actions | <strong class="subrayados">https://console.actions.google.com/</strong> </li>
       <li>Google Assistant | <strong class="subrayados"> https://developers.google.com/assistant</strong></li>
       <li>Ngrok | <strong class="subrayados">https://ngrok.com/</strong></li>
       <li>NodeJS | <strong class="subrayados">https://nodejs.org/es/about/ </strong> </li>
     </div>
</section>


