h3 {
    font-size: 1.5rem;
}

.sub-tema {
    font-weight: 700;
}

.contenido {
    font-weight: 400;
}

.circulo-numero {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    float: left;
    margin-top: 4px;
    color: white;
    text-align: center;
    font-weight: 700;
    background: #4199A0 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px;
}

.border-verde {
    border-left: 1px solid #4199A0;
    opacity: 1;
    padding-left: 30px;
}

.bg-gris {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333333;
    font-weight: 400;
}

.centrar-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 30px;
}

