<h3 class="sub-tema margin-b-25">¿Qué es una URL?</h3>
<p class="contenido margin-b-50">Es nombrada así por sus siglas en inglés Uniform Resource Locator, es una secuencia estándar de caracteres, la dirección específica que se asigna a cada uno de los recursos disponibles en la red con la finalidad de que estos puedan ser localizados e identificados.</p>
<h3 class="sub-tema margin-b-25">¿Como y para qué se crea?</h3>
<p class="contenido margin-b-50">Permite al usuario identificar, localizar e ingresar a un sitio dentro de internet. Por ello, es importante conocer cómo crear correctamente la URL de un sitio para hacerlo usable.</p>
<div class="text-center margin-b-60">
    <img src="assets/img/UX/url/url-buenaspracticas.svg" class="img-responsive img-fluid" alt="">
</div>
<p class="contenido margin-b-60">Al elegir el URL de un sitio se deben tomar en cuenta <strong>las buenas prácticas para brindar mayor accesibilidad:</strong></p>
<div class="row">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">1</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Claro</p>
        <p class="fw-400 margin-b-5">Crear un nombre fácil de recordar y escribir, además de relacionarse lo mayor posible al contenido.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">2</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Breve</p>
        <p class="fw-400 margin-b-5">Utilizar un nombre corto que solo tenga letras minúsculas, no incluir mayúsculas ni caracteres especiales.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">3</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Varios alias</p>
        <p class="fw-400 margin-b-5">Registrar formas abreviadas, más extensas e incluso los de posibles errores tipográficos del URL.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">4</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Movilidad</p>
        <p class="fw-400 margin-b-5">Permitir a los usuarios moverse a niveles más altos de la arquitectura de información al cortar el final de la URL.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">5</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Estructura</p>
        <p class="fw-400 margin-b-5">Emplear guion medio para separar las palabras, no se recomienda el espaciado ni mayúsculas.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">6</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Abreviaturas</p>
        <p class="fw-400 margin-b-5">Usar abreviaturas para las palabras largas, solo utilizar las conocidas para no generar ambigüedad.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">7</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Dominios</p>
        <p class="fw-400 margin-b-5">Elegir dependiendo del contenido del sitio y el público al que se dirige.</p>
    </div>
</div>
<div class="row padding-t-30">
    <div class="offset-1 col-md-11">
        <p class="fw-500">Existen tres principales categorías:</p>
        <ul class="bg-img padding-t-10 padding-b-10">
            <li>Si es un sitio que está en inglés y es de interés mundial utiliza .com</li>
            <li>Si es un sitio que usa otro idioma utiliza .país del sitio (ej: .mx)</li>
            <li>Si el contenido es local aunque esté en inglés utilizar .país del sitio (ej: .mx)</li>
        </ul>
        <p>Es preferente registrar el URL con doble dominio para realizar cambios futuros con el menor problema.</p>
    </div>
</div>
<div class="row padding-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">8</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Consistente</p>
        <p class="fw-400 margin-b-5">Mantener la estructura de directorios de las URL coherentes y racionales en todo el sitio, los archivos similares deben tener una estructura similar.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">9</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Persistente</p>
        <p class="fw-400 margin-b-5">Procurar que el sitio no se mude a otra dirección para que al consultarlo desde otros sitios siempre persista y los usuarios encuentren la información.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">10</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde">
        <p class="fw-700 f-18 margin-b-5 margin-t-5">Direccionable</p>
        <p class="fw-400 margin-b-5">Facilitar el enlace de manera sistemática para que los programas del lado del servidor en otros sitios puedan generar de manera computacional enlaces a servicios específicos del sitio.</p>
    </div>
</div>