<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-50">Estructura y espaciado</h3>
    <h4>Sólido</h4>
    <div class="row margin-b-60 justify-content-center">
        <div class="col-7 col-sm-4 col-md-3 margin-t-50 img-al-centro">
            <img class="img-fluid" src="./assets/img/android-c/buttons/estilo/solido-1.svg" alt="">
        </div>
        <div class="col-7 col-sm-4 col-md-3 margin-t-50 img-al-centro">
            <img class="img-fluid" src="./assets/img/android-c/buttons/estilo/solido-2.svg" alt="">
        </div>
        <div class="col-7 col-sm-4 col-md-3 margin-t-50 img-al-centro">
            <img class="img-fluid" src="./assets/img/android-c/buttons/estilo/solido-3.svg" alt="">
        </div>
    </div>
    <hr>
    <h4 class="margin-t-60">Con contorno</h4>
    <div class="row margin-b-60  margin-t-50 justify-content-center">
        <div class="col-7 col-sm-4 col-md-3 margin-t-50 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/estilo/contorno-1.svg" alt="">
        </div>
        <div class="col-7 col-sm-4 col-md-3 margin-t-50 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/estilo/contorno-2.svg" alt="">
        </div>
        <div class="col-7 col-sm-4 col-md-3 margin-t-50 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/estilo/contorno-3.svg" alt="">
        </div>
    </div>
    <hr>
    <h4 class="margin-t-60">De texto</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/estilo/de-texto.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60">Toggle</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/estilo/toggle.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-60">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td>Botones</td>
                <td>14dp</td>
                <td>Medium</td>
                <td>Centrada</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row">
        <div class="col-md-6 margin-t-50">
            <div class="row  justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/buttons/estilo/aplicacion-1.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1 ">
                    <p class="margin-b-10"><strong>Uso:</strong> Primario</p>
                    <p class="border-app margin-b-10"><strong>Botón:</strong> #B7006D</p>
                    <p class="border-app"><strong>Contenido:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 margin-t-50 m-t-70">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/buttons/estilo/aplicacion-2.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-10"><strong>Uso:</strong> Menor</p>
                    <p class="border-app margin-b-10"><strong>Botón:</strong> #666666</p>
                    <p class="border-app"><strong>Contenido:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6  margin-t-50 m-t-70">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/buttons/estilo/aplicacion-3.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-10"><strong>Uso:</strong> Secundario</p>
                    <p class="border-app margin-b-10"><strong>Botón:</strong> #FFFFFF</p>
                    <p class="border-app margin-b-10"><strong>Scroke:</strong> #B7006D</p>
                    <p class="border-app"><strong>Contenido:</strong> #B7006D</p>
                </div>
            </div>
        </div>
        <div class="col-md-6  margin-t-50 m-t-70">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/buttons/estilo/aplicacion-4.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-10"><strong>Uso:</strong> Menor de texto</p>
                    <p class="border-app"><strong>Contenido:</strong> #B7006D</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-t-50 m-t-70">
        <div class="col-md-6">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/buttons/estilo/aplicacion-5.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-10"><strong>Uso:</strong> Toggle</p>
                    <p class="border-app margin-b-5"><strong>Activo:</strong> #B7006D</p>
                    <p class="margin-b-10"><strong>Contenido:</strong> #FFFFFF</p>
                    <p class="border-app margin-b-5"><strong>Inactivo:</strong> #FCEDF6</p>
                    <p class="margin-b-10"><strong>Contenido:</strong> #B7006D</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para comunicar las acciones que los usuarios pueden tomar. Se caracterizan por ser identificables, indican
            que disparan una acción. Encontrables, son fáciles de identificar aún entre otros botones. Además, son
            claros en sus acciones y estados.
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong> Cuida que el estado activo de un botón no se confunda con el estado inactivo de otro.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p class="margin-t-30">
            <strong>Botón de texto:</strong> Utiliza este tipo de botón para acciones poco importantes en tarjetas o en
            diálogos. El texto debe describir la acción que ocurrirá si el usuario toca el botón.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Una tarjeta que contiene el resumen de un artículo y utiliza el botón de texto con la leyenda “Leer más”.
        </p>
        <div class="margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/buttons/texto.svg"
                alt="Ejemplo el uso del botón de texto para una acción secundaria, en este caso leer más que se encuentra junto a la acción principal descargar">
        </div>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong> Por defecto, los botones para aplicaciones Android utilizan mayúsculas para distinguir
            la etiqueta de texto del texto circundante, además del uso de mayúsculas, color o estilo.
        </p>
        <p class="margin-t-30">
            <strong>Botón con contorno:</strong> Utiliza este tipo de botón para acciones medianamente importantes. De
            manera opcional puedes reforzar la etiqueta de texto de este botón con un ícono.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            En un diálogo puedes enfatizar la acción principal con un botón con contorno “Continuar” y dar menos énfasis
            a la acción secundaria con un botón de texto “Cancelar”.
        </p>
        <div class="margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/buttons/contorno.svg"
                alt="Ejemplo el uso del botón de texto para una acción secundaria, en este caso leer más que se encuentra junto a la acción principal descargar">
        </div>
        <p class="margin-t-30">
            <strong>Botón sólido:</strong> Utiliza este tipo de botón para dar el mayor énfasis a través de su relleno
            sólido y sombra. Tu diseño debe contener un botón principal que puede ser acompañado de botones de énfasis
            mediano y bajo.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando necesites darle opciones a usuario, como elegir entre “ver después” y “comprar”. La acción deseada es
            “comprar” por lo que deberá tener el mayor énfasis.
        </p>
        <div class="margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/buttons/solido.svg"
                alt="Ilustración del uso del componente en sus variantes texto y sólido para ver después o comprar">
        </div>
        <p class="margin-t-30">
            <strong>Toggle:</strong> Utiliza este componente para agrupar opciones relacionadas. Para enfatizar grupos
            de botones de alternancia, o toggle, relacionados, deben compartir un contenedor común.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando necesites agrupar acciones como seleccionar y deseleccionar. También se les conoce como botones de
            prendido y apagado.
        </p>
        <div class="margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/buttons/toggle.svg"
                alt="Ejemplo del uso de varios botones toggle para selecciona año, mes y día">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <p class="margin-t-30">
        <strong>1. </strong>Para agregar un botón a tu aplicación, primero deberás agregar las imágenes. Para esto,
        ubica la carpeta /<strong>drawable</strong>
    </p>
    <div class="margin-b-30  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/drawable.svg">
    </div>
    <p class="tip padding-15 margin-0">
        <strong>Tip:</strong> Puedes conocer la <a class="enlace" [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']">configuración general</a> de un proyecto en el apartado
        Lineamientos Android.
    </p>
    <p class="margin-t-70">
        <strong>2. </strong>Dentro de esta carpeta agrega los ficheros que necesites de acuerdo a los iconos utilizados
        para tu proyecto:
    </p>
    <div class="fw-bold margin-b-20 margin-t-70">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/android-c/buttons/add_circle-black.svg">ic_add_circle.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-1')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-1">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FFFFFF"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M12,2C6.48,2 2,6.48 2,12s4.48,10 10,10 10,-4.48 10,-10S17.52,2 12,2zM17,13h-4v4h-2v-4L7,13v-2h4L11,7h2v4h3v2z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-70">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/android-c/buttons/offline_pin.svg">ic_offline.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-2')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-2">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FDFAFA"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M12,2C6.5,2 2,6.5 2,12s4.5,10 10,10 10,-4.5 10,-10S17.5,2 12,2zM17,18L7,18v-2h10v2zM10.3,14L7,10.7l1.4,-1.4 1.9,1.9 5.3,-5.3L17,7.3 10.3,14z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-70">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/android-c/buttons/download.svg">ic_file_download.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-3')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-3">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FBF8F8"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M19,9h-4V3H9v6H5l7,7 7,-7zM5,18v2h14v-2H5z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-70">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/android-c/buttons/check.svg">ic_check.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-4')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-4">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FDFAFA"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M9,16.17L4.83,12l-1.42,1.41L9,19 21,7l-1.41,-1.41z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-70">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/android-c/buttons/close.svg">ic_close.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-5')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-5">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#F8F5F5"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M19,6.41L17.59,5 12,10.59 6.41,5 5,6.41 10.59,12 5,17.59 6.41,19 12,13.41 17.59,19 19,17.59 13.41,12z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-70">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/android-c/buttons/delete.svg">ic_delete.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-6')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-6">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FBF7F7"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M6,19c0,1.1 0.9,2 2,2h8c1.1,0 2,-0.9 2,-2V7H6v12zM19,4h-3.5l-1,-1h-5l-1,1H5v2h14V4z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>3. </strong>El siguiente paso es agregar los componentes a tu aplicación. Ubica el fichero
        <strong>activity_main.xml</strong> dentro de la carpeta <strong>/layout.</strong>
    </p>
    <div class="margin-b-30  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg">
    </div>
    <p class="margin-t-70">
        <strong>4. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <h3 class="fw-bold margin-t-60">Botón primario</h3>
    <div class="jumbotron jumbotron-fluid margin-b-50">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-8')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-8">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span></span><span>
    </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonSolid&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;36dp&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;2dp&quot;</span><span>
    </span><span class="cm">android</span>:fontFamily=<span class="cl">&quot;@font/roboto&quot;</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">&quot;Bot&oacute;n&quot;</span> <span class="ct">/&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
    </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonSolid&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;36dp&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;2dp&quot;</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">&quot;Bot&oacute;n&quot;</span><span>
    </span><span class="cm">app</span>:icon=<span class="cl">&quot;@drawable/ic_add_circle&quot;</span> <span class="ct">/&gt;</span><span></span>
        </pre>
        </span>
    </div>
    <hr>
    <h3 class="fw-bold margin-t-40">Botón secundario</h3>
    <div class="jumbotron jumbotron-fluid margin-b-50">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-9')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-9">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span></span><span>
    </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonOutLine&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;36dp&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;2dp&quot;</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">&quot;Bot&oacute;n&quot;</span> <span class="ct">/&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
    </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonOutLine&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;36dp&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;2dp&quot;</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">&quot;Bot&oacute;n&quot;</span><span>
    </span><span class="cm">app</span>:icon=<span class="cl">&quot;@drawable/ic_offline&quot;</span> <span class="ct">/&gt;</span><span></span>        
        </pre>
        </span>
    </div>
    <hr>
    <h3 class="fw-bold margin-t-40">Botón menor</h3>
   
    <div class="jumbotron jumbotron-fluid margin-b-50">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-10')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-10">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span></span><span>
    </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonLessSolid&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;36dp&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;2dp&quot;</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">&quot;Bot&oacute;n&quot;</span> <span class="ct">/&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
    </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonLessSolid&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;36dp&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;2dp&quot;</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">&quot;Bot&oacute;n&quot;</span><span>
    </span><span class="cm">app</span>:icon=<span class="cl">&quot;@drawable/ic_offline&quot;</span> <span class="ct">/&gt;</span><span></span>
        </pre>
        </span>
    </div>
    <hr>
    <h3 class="fw-bold margin-t-40">Botón de texto</h3>
    <div class="jumbotron jumbotron-fluid margin-b-50">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-11')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-11">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span></span><span>
    </span>style=&quot;@style/mx.ine.MaterialComponents.TextButton&quot;<span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;36dp&quot;</span><span>
    </span><span class="cm">android</span>:layout_margin=<span class="cl">&quot;2dp&quot;</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">&quot;Bot&oacute;n&quot;</span><span>
    </span><span class="cm">android</span>:textColor=<span class="cl">&quot;@color/color_rosa_d50B7F&quot;</span><span>
    </span><span class="cm">app</span>:icon=<span class="cl">&quot;@drawable/ic_file_download&quot;</span><span>
    </span><span class="cm">app</span>:iconTint=<span class="cl">&quot;@color/color_rosa_d50B7F&quot;</span> <span class="ct">/&gt;</span><span></span>
        </pre>
        </span>
    </div>
    <hr>
    <h3 class="fw-bold margin-t-40">Toggle</h3>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-12')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-12">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;com.google.android.material.button.MaterialButtonToggleGroup</span></span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:background=<span class="cl">&quot;#FCEDF6&quot;</span><span>
    </span><span class="cm">app</span>:checkedButton=<span class="cl">&quot;@id/btnCheck&quot;</span><span>
    </span><span class="cm">app</span>:singleSelection=<span class="cl">&quot;true&quot;</span><span class="ct">&gt;</span><span>

    </span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
        </span><span class="cm">android</span>:id=<span class="cl">&quot;@+id/btnCheck&quot;</span><span>
        </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonSolidToggle&quot;</span><span>
        </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;48dp&quot;</span><span>
        </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
        </span><span class="cm">app</span>:icon=<span class="cl">&quot;@drawable/ic_check&quot;</span> <span class="ct">/&gt;</span><span>

    </span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
        </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonSolidToggle&quot;</span><span>
        </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;48dp&quot;</span><span>
        </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
        </span><span class="cm">app</span>:icon=<span class="cl">&quot;@drawable/ic_close&quot;</span> <span class="ct">/&gt;</span><span>

    </span><span class="ct">&lt;com.google.android.material.button.MaterialButton</span><span>
        </span>style=<span class="cl">&quot;@style/mx.ine.MaterialComponents.ButtonSolidToggle&quot;</span><span>
        </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;48dp&quot;</span><span>
        </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
        </span><span class="cm">app</span>:icon=<span class="cl">&quot;@drawable/ic_delete&quot;</span> <span class="ct">/&gt;</span><span>

</span><span class="ct">&lt;/com.google.android.material.button.MaterialButtonToggleGroup&gt;</span><span></span>   
        </pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
    <h4 class="fw-bold margin-t-60">Primario</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/primarios.svg">
    </div>
    <hr>
    <h4 class="fw-bold margin-t-60">Secundario</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/secundarios.svg">
    </div>
    <hr>
    <h4 class="fw-bold margin-t-60">Menor</h4>
     <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/menores.svg">
    </div>
    <hr>
    <h4 class="fw-bold margin-t-60">De texto</h4>
      <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/deTexto.svg">
    </div>
    <hr>
    <h4 class="fw-bold margin-t-60">Toggle</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttons/toggle.svg">
    </div>
</section>