//switch mode dark//
.slider:before {
    position: absolute;
    content: "\f185";
    font-family: FontAwesome;
    color: white;
    height: 22px;
    width: 22px;
    background-color: #D35097;
    -webkit-transition: .2s;
    transition: .2s;
    text-align: center;
}

input:checked+.slider:before {
    content: "\f186";
    font-family: FontAwesome;
    background: #D35097;
    color: white;
    text-align: center;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: #FFFFFF;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
}

////
@import "./src/sass/variables";
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 2px 60px;
    z-index: 99999;
    transition: 10ms;
}

.sugerencia {
    position: absolute;
    width: 645px;
    height: auto;
    background-color: #000000;
    color: #ffffff;
    margin-top: 2px;
    margin-left: 26px;
}

.sugerencias {
    margin: 25px 0 25px 0;
}

#terminoBuscar {
    font-size: 18px;
}

#buscarMobile {
    font-size: 18px;
}

.letra {
    color: #fff;
    font-size: 16px;
    text-decoration-line: none;
    margin: 0;
    padding: 8px 0 8px 30px;
}

.margin-r-2 {
    margin-right: 2px;
}

.back:hover {
    background-color: #333333;
}

.back>a {
    text-decoration-line: none;
}

#topbar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 0px 8px 0px;
}

#menubar {
    border-top: 1px solid #535353;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0 0 0;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.menu-list>ul {
    margin: 5px 0 5px 0;
}

.menu-list>ul li {
    display: inline-block;
}

#search {
    position: relative;
    button {
        position: absolute;
    }
    input {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    input.active {
        width: 688px;
        padding-left: 55px;
        background-color: #000000;
        color: #ffffff;
        border-radius: 65px 65px 65px 65px;
        height: 40px;
        border: 1px solid #535353;
        transition: width 0.3s ease-in-out;
    }
    .sp {
        position: absolute;
        color: white;
        top: 8px;
        right: 20px;
    }
}

.main-menu {
    display: flex;
    align-items: center;
}

.menu-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 1000px;
}

.bs-encabezado {
    box-shadow: 0px 3px 6px #00000069;
    background: var(--bg-header);
}

.dropdown-toggle::after {
    content: none;
}

.nav-item.active,
.nav-item a.active {
    text-align: center;
    font-weight: bolder;
    border-bottom: 5px solid #efb5d3;
    color: #efb5d3;
    font-size: $px16;
    font-weight: 600;
    background: var(--bg-header);
}

li::before {
    content: none;
}

li.nav-item {
    background: #242424;
}

.nav-link {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    background: var(--bg-header);
}

.nav-pink {
    display: inline-block;
    padding: 0 25px;
}

.navbar-expand .navbar-nav .nav-encabezado {
    padding-right: 2.7rem;
    padding-left: 2.7rem;
}

.navbar {
    color: #fff;
    cursor: pointer;
    padding: 0;
}

.menu-header {
    padding: 0 35px;
}

a.nav-pink,
p.nav-pink {
    color: #f7daea;
    margin: 0;
}

.input-group.active {
    margin-left: 535px;
}

.btn:hover {
    background: $cRosa6;
    color: $cMagenta;
}


/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        padding: 2px 15px;
        z-index: 99999;
        transition: 10ms;
    }
    .movil {
        padding: 10px 5px;
    }
    .menu-display nav {
        width: 330px;
        height: 100%;
        background-color: rgb(255, 255, 255);
        color: white;
        overflow-y: auto;
    }
    .sugerencia {
        width: 80%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .p-0 {
        padding: 0px;
    }
    .menu-display nav {
        width: 400px;
        height: 100%;
        background-color: rgb(255, 255, 255);
        color: white;
        overflow-y: auto;
    }
    .sugerencia {
        width: 87%;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .header-responsivo {
        background: var(--bg-header);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        padding: 2px 60px;
        z-index: 99999;
        transition: 10ms;
        img {
            width: 193px
        }
    }

    .menu-logo{
        width: 100%;
    }

    #search {
        position: relative;
        button {
            position: absolute;
        }
        input {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        input.active {
            width: 688px;
            padding-left: 55px;
            background-color: #000000;
            color: #ffffff;
            border-radius: 65px 65px 65px 65px;
            height: 40px;
            border: 1px solid #535353;
            transition: width 0.3s ease-in-out;
        }
        .sp {
            position: absolute;
            color: white;
            top: 8px;
            right: 40px;
        }
    }
    .w-50 {
        width: 100%;
    }
    .p-0 {
        padding: 0px;
    }
    .pg-l-20 {
        padding-left: 20px;
    }
    .margin-0 {
        margin-left: 0px;
    }
    .sugerencia {
        width: 90%;
    }
    /* ------------------------- */
    /* ENCABEZADO MOVIL */
    /* ------------------------- */
    .prop {
        width: 100%;
        display: flex;
        padding: 0;
    }
    .prop-li {
        width: 100%;
    }
    .sp {
        position: absolute;
        color: white;
        top: 8px;
        right: 40px;
    }
    .movil {
        padding: 10px 25px;
    }
    .mobile-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menunav {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .show-menunav {
        display: block;
    }
    .menu-display {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu-display i {
        font-size: 28px;
        padding: 20px;
    }
    .menu-display nav {
        width: 400px;
        height: 100%;
        background-color: white;
        color: white;
        overflow-y: auto;
    }
    .menu-display nav .enlaces {
        width: 100%;
        height: 100%;
        background-color: red;
    }
    .menu-display nav .enlaces a {
        display: block;
        width: 100%;
        padding: 20px;
        color: #fff;
        text-decoration: none;
    }
    .btn-menu-barras {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        width: 36px;
        height: 36px;
    }
    .btn-menu-cerrar {
        color: #fff;
    }
    .enlace-wrapper,
    .categorias-wrapper,
    .categoria,
    .subcategorias-wrapper,
    .subcategoria {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .enlace-wrapper.show,
    .categorias-wrapper.show,
    .categoria.show,
    .subcategorias-wrapper.show,
    .subcategoria.show {
        display: block;
    }
    .enlace-title {
        height: 65px;
        background-color: #000;
        padding: 0 30px;
        display: flex;
        align-items: center;
    }
    .enlace-title h3 {
        color: white;
        font-size: 24px;
        font: bold;
    }
    .enlace-list {
        padding: 10px 30px;
        background-color: #252525;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 65px;
    }
    .enlace-item {
        padding: 5px 0px 10px 10px;
        border-bottom: 1px solid #999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .enlace-item a {
        color: white;
        font-size: medium;
        font-weight: 500;
    }
    .enlace-item i {
        font-size: 20px;
        padding-right: 0;
    }
    .extras-item {
        padding: 25px 0px 25px 0px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .extras-item a,
    .extras-item i {
        color: #f7daea;
        font-size: medium;
    }
    .extras-item i {
        padding: 0 15px 0 10px;
    }
    .angle-icon {
        background-color: #eaeaea;
    }
    .angle-icon i {
        color: #d5007f;
        font-size: 35px;
        font-weight: bold;
    }
    .categoria-title,
    .subcategoria-title {
        padding: 0;
        color: #d5007f;
        background-color: #eaeaea;
        cursor: pointer;
    }
    .categoria-title h3,
    .subcategoria-title h3 {
        padding: 26px 0 0 0;
        font-weight: bold;
        font-size: 20px;
    }
    .categoria-item i {
        color: #333333;
        font-size: 20px;
        font: medium;
        padding-right: 0;
    }
    .categoria-list,
    .subcategoria-list {
        padding: 10px 30px;
    }
    .categoria-item {
        padding: 5px 0px 10px 10px;
        border-bottom: 1px solid #999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .subcategoria-item {
        padding: 22px 0px 30px 10px;
        border-bottom: 1px solid #999;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .categoria-item a,
    .subcategoria-item a {
        color: #333333;
        font-size: medium;
        font-weight: 500;
    }
    .view-buttons {
        width: 100px;
        color: #fff;
    }
    .btn-bar {
        border: 1px solid white;
        padding: 5px 5px 5px 5px;
    }
    .search-button {
        margin-right: 20px;
    }
    #search {
        position: relative;
        padding-right: 20px;
        button {
            position: absolute;
        }
        input {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        input.active {
            width: 100%;
            padding-left: 55px;
            background-color: #000000;
            color: #ffffff;
            border-radius: 65px 65px 65px 65px;
            height: 40px;
            border: 1px solid #535353;
            transition: width 0.3s ease-in-out;
        }
    }
    h3 {
        margin-bottom: 0;
    }
}