<header class="bs-encabezado">
    <div class="container-fluid d-none d-lg-block">
        <div class="f-14" id="topbar">
            <a class="nav-pink border-r-2px" href="http://10.35.32.58/centro-de-ayuda-iux/" rel="noopener noreferrer"
                target="_blank">
                <i class="fa fa-question-circle margin-r-5 fa-lg"></i> Centro de Ayuda
            </a>
            <a class="nav-pink border-r-2px" href="http://10.35.32.58/recursos-unicom/" rel="noopener noreferrer"
                target="_blank">
                <i class="fa fa-file-text margin-r-5"></i> Recursos UNICOM
            </a>
            <a href="mailto:sat.unicom@ine.mx" target="_top" class="nav-pink">
                <i class="fa fa-envelope margin-r-5"></i> Contacto
            </a>
            <label class="switch margin-r-2" for="modo_dia_y_noche">modo
                <input type="checkbox" id="modo_dia_y_noche" value="Modo día o noche" aria-label="Modo día o noche"
                    (click)="toggleTheme()">
                <span class="slider round"></span>
            </label>
        </div>
        <div id="menubar">
            <div class="menu-image">
                <a href="http://10.35.32.58/iux/inicio">
                    <img class="iconos-header" src="./assets/img/INE.png" alt="Página de inicio">
                </a>
            </div>
            <div class="menu-list">
                <ul>
                    <li *ngIf="flag" class="nav-item dropdown margin-r-15">
                        <a class="nav-link nav-encabezado"
                            [routerLink]="['experiencia-de-usuario/usuario/experiencia/contenidos']"
                            [ngClass]="{'active' : seccionEncabezado == 'experiencia-de-usuario'}">Experiencia de
                            Usuario</a>
                    </li>
                    <li *ngIf="flag" class="nav-item dropdown  margin-r-15">
                        <a class="nav-link nav-encabezado" [routerLink]="['componentes-ui/usuario/interfaz/contenidos']"
                            [ngClass]="{'active' : seccionEncabezado == 'componentes-ui'}">
                            Componentes UI</a>
                    </li>
                    <li *ngIf="flag" class="nav-item dropdown  margin-r-15">
                        <a class="nav-link nav-encabezado"
                            [routerLink]="['documentacion-de-desarrollo/documentacion/desarrollo/contenidos']"
                            [ngClass]="{'active' : seccionEncabezado == 'documentacion-de-desarrollo'}">Documentación de
                            Desarrollo</a>
                    </li>
                    <li class="nav-item">
                        <div id="search" class=" margin-r-2 margin-l-10" aria-label="Buscador">
                            <button class="btn btn_rosa_search" aria-label="Buscar" (click)="flag=!flag; clearSearch()">
                                <i class="fa fa-search fa-1x" *ngIf="flag"></i>
                                <i class="fa fa-search fa-1x" *ngIf="!flag"
                                    [routerLink]="['buscador',terminoBuscar.value]"
                                    (click)="this.mostrarTextoBuscado = false"></i>
                            </button>
                            <input id="terminoBuscar" class="form-control bg-negro" aria-label="Buscador"
                                [ngClass]="{'active': !flag}" #terminoBuscar
                                (keyup)="onKey(terminoBuscar.value, $event)"
                                (keyup.enter)="onEnter(terminoBuscar.value)"
                                (keydown)="onKeydown(terminoBuscar.value,$event)" [(ngModel)]="filter" type="text"
                                [(ngModel)]="searchValue" placeholder="Buscar..." name="terminoBuscar">
                            <span (click)="flag=!flag; this.mostrarTextoBuscado = false" class="sp"><i
                                    class="fa fa-times fa-1x" *ngIf="!flag"></i></span>
                            <div class="sugerencia" *ngIf="this.mostrarTextoBuscado">
                                <div *ngIf="this.mostrarTextoBuscado" class="sugerencias">
                                    <div class="back"
                                        *ngFor="let termino of this.concordancias | sugerenciasFilter:filter; let i = index">
                                        <a href="{{termino.enlace}}" (click)="clearSearch()">
                                            <div *ngIf="i<5">
                                                <p class="letra" data-toggle="collapse" aria-expanded="false"
                                                    aria-controls="buscador">
                                                    {{termino.titulo}}
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid movil d-block d-lg-none header-responsivo">
    <div class="mobile-view">
        <div class="menu-logo" *ngIf="showLogo === true">
            <a href="http://10.35.32.58/iux/inicio">
                <img class="iconos-header img-responsive img-fluid" [ngClass]="{'hide': !menuList}"
                    src="./assets/img/INE.png" alt="Página de inicio">
            </a>
        </div>
        <div class="menu-list">
            <ul [ngClass]="{'prop': !menuList}">
                <li [ngClass]="{'prop-li': !menuList}">
                    <div id="search" aria-label="Buscador">
                        <button class="btn btn_rosa_search"
                            (click)="flag=!flag; menuList=!menuList; showLogo=!showLogo">
                            <i class="fa fa-search fa-1x" *ngIf="flag"></i>
                            <i class="fa fa-search fa-1x" *ngIf="!flag" [routerLink]="['buscador',terminoBuscar.value]"
                                (click)="this.mostrarTextoBuscado = false"></i>
                        </button>
                        <input id="terminoBuscar" class="form-control bg-negro" aria-label="Buscador"
                            [ngClass]="{'active': !flag}" #terminoBuscar (keyup)="onKey(terminoBuscar.value, $event)"
                            (keyup.enter)="onEnter(terminoBuscar.value)"
                            (keydown)="onKeydown(terminoBuscar.value,$event)" [(ngModel)]="filter" type="text"
                            [(ngModel)]="searchValue" placeholder="Buscar..." name="terminoBuscar">
                        <span (click)="flag=!flag; menuList=!menuList; this.mostrarTextoBuscado = false" class="sp"><i
                                class="fa fa-times fa-1x" *ngIf="!flag"></i></span>
                        <div class="sugerencia" *ngIf="this.mostrarTextoBuscado">
                            <div *ngIf="this.mostrarTextoBuscado" class="sugerencias">
                                <div
                                    *ngFor="let termino of this.concordancias | sugerenciasFilter:filter; let i = index">
                                    <a href="{{termino.enlace}}" (click)="clearSearch()">
                                        <div *ngIf="i<5">
                                            <p class="letra" data-toggle="collapse" aria-expanded="false"
                                                aria-controls="buscador">
                                                {{termino.titulo}}
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button class="btn-menu-barras" (click)="abrirMenu = !abrirMenu; menuBase =!menuBase">
                        <i id="btn-menu-abrir" class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="menunav" id="menunav" [ngClass]="{'show-menunav': menuBase}">
        <div class="menu-display">
            <i id="btn-menu-cerrar" class="fa fa-times btn-menu-cerrar" aria-hidden="true"
                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                        desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false; optimizacion = false;
                        compWeb = false; recursosDiseno = false; lineamientosBackend = false; docFrontend = false;"></i>
            <nav>
                <!--Contenedor enlace-->
                <div class="enlace-wrapper" [ngClass]="{'show': abrirMenu}">
                    <div class="enlace-title">
                        <h3>Menú</h3>
                    </div>
                    <div class="enlace-list">
                        <div class="enlace-item"
                            (click)="abrirMenu = !abrirMenu; categoriaW= !categoriaW; uxEnlace = !uxEnlace;">
                            <a>Experiencia de Usuario</a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="enlace-item"
                            (click)="abrirMenu = !abrirMenu; categoriaW= !categoriaW; uiEnlace = !uiEnlace;">
                            <a>Componentes UI</a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="enlace-item"
                            (click)="abrirMenu = !abrirMenu; categoriaW= !categoriaW; desarrolloEnlace = !desarrolloEnlace;">
                            <a>Documentación de Desarrollo</a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="extras-item">
                            <a href="http://10.35.32.58/centro-de-ayuda-iux/" rel="noopener noreferrer" target="_blank">
                                <i class="fa fa-question-circle margin-r-5"></i> Centro de Ayuda
                            </a>
                        </div>
                        <div class="extras-item">
                            <a href="http://10.35.32.58/recursos-unicom/" rel="noopener noreferrer" target="_blank">
                                <i class="fa fa-file-text margin-r-5"></i> Recursos UNICOM
                            </a>
                        </div>
                        <div class="extras-item">
                            <a href="mailto:sat.unicom@ine.mx" target="_top">
                                <i class="fa fa-envelope margin-r-5"></i> Contacto
                            </a>
                        </div>
                        <div class="extras-item">
                            <label class="switch margin-r-2">modo
                                <input type="checkbox" aria-label="Modo día o noche" (click)="toggleTheme()">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- ./ Contenedor enlace-->
                <!-- Contenedor categorias-->
                <div class="categorias-wrapper" [ngClass]="{'show': categoriaW}">
                    <div class="categoria" [ngClass]="{'show': uxEnlace}">
                        <div class="row"
                            (click)="categoriaW = !categoriaW; abrirMenu = !abrirMenu; uxEnlace = !uxEnlace">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 categoria-title">
                                <h3>Experiencia de Usuario</h3>
                            </div>
                        </div>
                        <div class="categoria-list">
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; investigacionUsuario = !investigacionUsuario">
                                <a>Investigación de Usuarios</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; arqInformacion = !arqInformacion">
                                <a>Arquitectura de Información</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; disenoInterfaz = !disenoInterfaz">
                                <a>Diseño de Interfaz</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; metricas = !metricas">
                                <a>Mejora continua</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; optimizacion = !optimizacion">
                                <a>Optimización</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="categoria" [ngClass]="{'show': uiEnlace}">
                        <div class="row"
                            (click)="categoriaW = !categoriaW; abrirMenu = !abrirMenu; uiEnlace = !uiEnlace">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 categoria-title">
                                <h3 class="subtitulo">Componentes UI</h3>
                            </div>
                        </div>
                        <div class="categoria-list">
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; compWeb = !compWeb">
                                <a>Componentes Web</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; android = !android">
                                <a>Componentes Android</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; recursosDiseno = !recursosDiseno">
                                <a>Elementos de Diseño</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="categoria" [ngClass]="{'show': desarrolloEnlace}">
                        <div class="row"
                            (click)="categoriaW = !categoriaW; abrirMenu = !abrirMenu; desarrolloEnlace = !desarrolloEnlace">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 categoria-title">
                                <h3 class="subtitulo">Documentación de Desarrollo</h3>
                            </div>
                        </div>
                        <div class="categoria-list">
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; lineamientosBackend = !lineamientosBackend">
                                <a>Lineamientos Backend</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; docFrontend = !docFrontend">
                                <a>Lineamientos Frontend</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; lineamientosAndroid = !lineamientosAndroid">
                                <a>Lineamientos App Móviles</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; docChatbot = !docChatbot">
                                <a>Lineamientos Asistentes Virtuales</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="categoria-item"
                                (click)="categoriaW = !categoriaW; subcategoriaW = !subcategoriaW; docShare = !docShare">
                                <a>Lineamientos SharePoint</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contenedor categorias-->
                <!-- Contenedor subcategorias-->
                <div class="subcategorias-wrapper" [ngClass]="{'show': subcategoriaW}">
                    <!-- EXPERIENCIA DE USUARIO -->
                    <div class="subcategoria" [ngClass]="{'show': investigacionUsuario}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; investigacionUsuario = !investigacionUsuario">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Investigación de Usuarios</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Entrevistas</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/investigacion-de-usuario/perfiles/protopersonas']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Perfiles</a>
                            </div>
                        </div>
                    </div>
                    <div class="subcategoria" [ngClass]="{'show': arqInformacion}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; arqInformacion = !arqInformacion">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Arquitectura de Información</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Organización</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/arquitectura-de-informacion/estructura/card-sorting']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Estructura</a>
                            </div>
                        </div>
                    </div>

                    <div class="subcategoria" [ngClass]="{'show': disenoInterfaz}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; disenoInterfaz = !disenoInterfaz">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Diseño de Interfaz</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/diseno-de-interfaz/storyboard/que-es']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Storyboard</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/diseno-de-interfaz/prototipado/wireframe']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Prototipado</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/diseno-de-interfaz/calidad-de-interfaz/que-son']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Calidad de Interfaz</a>
                            </div>
                        </div>
                    </div>
                    <div class="subcategoria" [ngClass]="{'show': metricas}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; metricas = !metricas">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Mejora Continua</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Pruebas</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/mejora-continua/metricas/analisis-de-metricas']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Métricas</a>
                            </div>
                        </div>
                    </div>
                    <div class="subcategoria" [ngClass]="{'show': optimizacion}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; optimizacion = !optimizacion">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Optimización</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/optimizacion/open-graph/que-es']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false; optimizacion = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Open Graph</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/optimizacion/buenas-practicas/que-es']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false; optimizacion = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Buenas Prácticas URL</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/optimizacion/placeholder/que-es']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false; optimizacion = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Placeholder</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['experiencia-de-usuario/optimizacion/favicon/que-es']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false; optimizacion = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Favicon</a>
                            </div>
                        </div>
                    </div>
                    <!-- EXPERIENCIA DE USUARIO -->
                    <!-- INTERFAZ DE USUARIO -->
                    <div class="subcategoria" [ngClass]="{'show': compWeb}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; compWeb = !compWeb">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Componentes Web</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/accordion/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Accordion</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/button/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Button</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/breadcrumb/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Breadcrumb</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/cards/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Cards</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/checkbox/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Checkbox</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/data-table/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Data table</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/date-picker/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Datepicker</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/dropdowns/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Dropdowns</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/input/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Input</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/modal/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Modal</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/navtabs/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Nav tabs</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/notification/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Notification</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/pagination/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Pagination</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/pick-list/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Picklist</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/progressbar/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Progressbar</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/radio/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Radio button</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/search/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Search</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/spinner/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Spinner</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/toggle/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Toggle</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/tooltips/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Tooltips</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/upload/estilo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Upload</a>
                            </div>
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/web/formulario/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Formulario</a>
                            </div>
                        </div>
                    </div>
                    <div class="subcategoria" [ngClass]="{'show': android}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; android = !android">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Android</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/android/app-bar-top/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>App bar: top</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['componentes-ui/android/bottom-navigation/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Bottom navigation</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/android/buttons/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Buttons</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['componentes-ui/android/buttons-floating-action-button/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Buttons: floating action button</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/android/card/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Cards</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/android/chips/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Chips</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/android/dialogs/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Dialogs</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/android/dividers/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Dividers</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/android/menus/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Menus</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['componentes-ui/android/splash-screen/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Splash screen</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/android/tabs/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Tabs</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item" [routerLink]="['componentes-ui/android/text-fields/estilo']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false; optimizacion = false; android = false">
                                <a>Text fields</a>
                            </div>
                        </div>
                    </div>
                    <div class="subcategoria" [ngClass]="{'show': recursosDiseno}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; recursosDiseno = !recursosDiseno">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Elementos de Diseño</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['componentes-ui/recursos/elementos-de-diseno/color']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Color</a>
                            </div>
                            <!-- <div class="subcategoria-item" [routerLink]="['componentes-ui/elementos-de-diseno/formulario']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                    <a>Formulario</a>
                                </div> -->
                            <div class="subcategoria-item"
                                [routerLink]="['componentes-ui/recursos/elementos-de-diseno/iconografia']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Iconografía</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['componentes-ui/recursos/elementos-de-diseno/ilustraciones']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Ilustraciones</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['componentes-ui/recursos/elementos-de-diseno/identificadores-graficos']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Identificadores gráficos</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['componentes-ui/recursos/elementos-de-diseno/tipografia']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Tipografía</a>
                            </div>
                        </div>
                    </div>
                    <!-- INTERFAZ DE USUARIO -->
                    <!-- DOCUMENTACION DE DESARROLLO -->
                    <div class="subcategoria" [ngClass]="{'show': lineamientosBackend}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; lineamientosBackend = !lineamientosBackend">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Lineamientos Backend</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Lineamientos generales y buenas practicas</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos/arquetipos/aplicaciones-web']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Arquetipos</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos/capas/modelo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosBackend = false">
                                <a>Capas</a>
                            </div>
                        </div>
                    </div>
                    <div class="subcategoria" [ngClass]="{'show': docFrontend}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; docFrontend = !docFrontend">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Lineamientos Frontend</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/documentacion-frontend/scaffolding/que-es']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; docFrontend = false">
                                <a>Scaffolding</a>
                            </div>
                        </div>
                    </div>
                    <div class="subcategoria" [ngClass]="{'show': lineamientosAndroid}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; lineamientosAndroid = !lineamientosAndroid">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Lineamientos App Móviles</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/app-moviles/lineamientos-y-buenas-practicas-android/configuracion-general']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                            desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                            compWeb = false; recursosDiseno = false; lineamientosAndroid = false">
                                <a>Lineamientos y buenas prácticas Android</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['/documentacion-de-desarrollo/app-moviles/arquitectura-movil/arquitectura-movil']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosAndroid = false">
                                <a>Arquitectura móvil</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/app-moviles/capas-movil/modelo']" (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosAndroid = false">
                                <a>Capas MVVM</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos-app-moviles/estructura-en-un-proyecto/directorios']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosAndroid = false">
                                <a>Estructura en un proyecto Android</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos-app-moviles/configuracion-general/values']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosAndroid = false">
                                <a>Configuración general</a>
                            </div>
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/app-moviles/maqueta-tipo/que-es']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                                desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                                compWeb = false; recursosDiseno = false; lineamientosAndroid = false">
                                <a>Maqueta tipo</a>
                            </div>
                        </div>
                    </div>
                    <!--DOC CHATBOT-->
                    <div class="subcategoria" [ngClass]="{'show': docChatbot}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; docChatbot = !docChatbot">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Lineamientos Asistentes Virtuales</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                            desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                            compWeb = false; recursosDiseno = false; docChatbot = false">
                                <a>Chatbot</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos-asistentes-virtuales/voicebot/acerca-de']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                            desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                            compWeb = false; recursosDiseno = false; docChatbot = false">
                                <a>Voicebot</a>
                            </div>
                        </div>
                    </div>
                    <div class="subcategoria" [ngClass]="{'show': docShare}">
                        <div class="row"
                            (click)="subcategoriaW = !subcategoriaW; categoriaW = !categoriaW; docShare = !docShare">
                            <div class="col-md-3 col-sm-3 col-3 angle-icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9 subcategoria-title">
                                <h3 class="subtitulo">Lineamientos SharePoint</h3>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos-sharepoint/solicitud/acerca-de']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                            desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                            compWeb = false; recursosDiseno = false; docShare = false">
                                <a>Solicitud para crear un sitio</a>
                            </div>
                        </div>
                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-comunicacion/acerca-de']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                            desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                            compWeb = false; recursosDiseno = false; docShare = false">
                                <a>Sitios de Comunicación</a>
                            </div>
                        </div>

                        <div class="subcategoria-list">
                            <div class="subcategoria-item"
                                [routerLink]="['documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-colaboracion/acerca-de']"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; uxEnlace = false; uiEnlace = false;
                            desarrolloEnlace = false; investigacionUsuario = false; arqInformacion = false; disenoInterfaz = false; metricas = false;
                            compWeb = false; recursosDiseno = false; docShare = false">
                                <a>Sitios de Colaboración</a>
                            </div>
                        </div>
                    </div>




                    <!-- lineamientos sharepoin-->











                    <!-- DOCUMENTACION DE DESARROLLO -->
                </div>
                <!-- Contenedor subcategorias-->
            </nav>
        </div>
    </div>
</div>