@import "./src/sass/variables";
.main {
    position: relative;
}

.bg-fondo {
    padding: 50px 0px;
    background: linear-gradient(0deg, var(--bg-body) 30%, #000 30%);
    padding-top: 175px;
}

.overlapping {
    color: $cBlanco;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}

.bg-inicio {
    background: transparent linear-gradient(270deg, #E149A4 0%, #B7006D 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 410px;
    width: 96%;
}

.box-1 {
    position: absolute;
    left: 30px;
    z-index: 2;
    width: 104%;
    height: 291px;
    background: #98145E 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-2 {
    position: absolute;
    left: 100px;
    top: 50px;
    z-index: 1;
    width: 93%;
    height: 274px;
    background: #5B0F39 0% 0% no-repeat padding-box;
    opacity: 1;
}

.bg-gris-clarito1 {
    background: var(--bg-carousel);
}

.bg-blanco {
    background: var(--bg-cards);
}

.bg-gris-t1 {
    background: var(--footer-home);
}

.img-inicio {
    margin: 50px 30px;
}

h2 {
    font-weight: 800;
}

.card-colores {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background: var(--bg-cards) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    box-shadow: none;
    height: 70px;
    padding: 0px 15px;
}

.card-rosa {
    border: 1px solid var(--txt-card-rosa);
    border-radius: 3px;
    opacity: 1;
    color: var(--txt-card-rosa);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
}

.card-rosa:hover {
    background: var(--card-rosa-hover) 0% 0%;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #B60F6F;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}

.card-morado {
    border: 1px solid var(--txt-card-morado);
    border-radius: 3px;
    opacity: 1;
    color: var(--txt-card-morado);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
}

.card-morado:hover {
    background: var(--card-morado-hover) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #70388A;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}

.card-azul {
    border: 1px solid var(--txt-card-azul);
    border-radius: 3px;
    opacity: 1;
    color: var(--txt-card-azul);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
}

.card-azul:hover {
    background: var(--card-azul-hover) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #378489;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}

.circulo-rosa {
    padding: 8px;
    border-radius: 50%;
    background: var(--txt-card-rosa) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: var(--palomita-circulo);
}

.circulo-morado {
    padding: 8px;
    border-radius: 50%;
    background: var(--txt-card-morado) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: var(--palomita-circulo);
}

.circulo-azul {
    padding: 8px;
    border-radius: 50%;
    background: var(--txt-card-azul) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: var(--palomita-circulo);
}


.carousel-control-next, .carousel-control-prev {
    span{
        color: #ffffff;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.carousel-indicators li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 12px;
        height: 12px;
        margin-right: 3px;
        margin-left: 3px;
        cursor: pointer; 
        background: #FFFFFF 0% 0%;
        border: 1px solid #B60F6F;
        opacity: 1;
        border-radius: 20px 20px;
    }


.carousel-indicators li.active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background: #B60F6F 0% 0%;
    border: 1px solid #B60F6F;
    opacity: 1;
    border-radius: 20px 20px;
}



.alineacion-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    height: 235px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background: var(--card-home) 0% 0% no-repeat padding-box;
    border: 1px solid var(--card-borde);
    border-radius: 3px;
    opacity: 1;
    box-shadow: none;
}

.card-body {
    padding: 30px 0px 0px 0px;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 400;
}

.card:hover {
    background: var(--card-home) 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 12px var(--card-bs);
    border: 1px solid var(--card-borde);
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}

.img-card {
    height: 120px;
}

a .card-text {
    letter-spacing: 0px;
    color: var(--txt-color-nav);
    opacity: 1;
    font-weight: 400;
}

a:hover {
    letter-spacing: 0px;
    color: var(--txt-color-nav);
    opacity: 1;
    font-weight: 400;
    text-decoration: none;
}

.card-ux {
    height: 230px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 35px 20px;
    background: var(--card-generales) 0% 0% no-repeat padding-box;
    border: 1px solid var(--card-generales-borde);
    border-radius: 3px;
    opacity: 1;
    box-shadow: none;
    font-size: 16px;
    img {
        height: 80px;
    }
}

.card-ux:hover {
    background: var(--card-generales) 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 12px #0000001A;
    border: 1px solid var(--card-ux-hover);
    border-radius: 3px;
    opacity: 1;
    color: var(--card-ux-hover);
    cursor: pointer;
    img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    p {
        color: var(--card-ux-hover);
        opacity: 1;
    }
}

.card-ui {
    height: 230px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 35px 20px;
    background: var(--card-generales) 0% 0% no-repeat padding-box;
    border: 1px solid var(--card-generales-borde);
    border-radius: 3px;
    opacity: 1;
    box-shadow: none;
    font-size: 16px;
    img {
        height: 80px;
    }
}

.card-ui:hover {
    background: var(--card-generales) 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 12px #0000001A;
    border: 1px solid var(--card-ui-hover);
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
    img {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    p {
        color: var(--card-ui-hover);
        opacity: 1;
    }
}

.card-desarrollo {
    height: 230px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 35px 20px;
    background: var(--card-generales) 0% 0% no-repeat padding-box;
    border: 1px solid var(--card-generales-borde);
    border-radius: 3px;
    opacity: 1;
    box-shadow: none;
    font-size: 16px;
    img {
        height: 80px;
    }
}

.card-desarrollo:hover {
    background: var(--card-generales) 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 12px #0000001A;
    border: 1px solid var(--card-desarrollo-hover);
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
    img {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    p {
        color: var(--card-desarrollo-hover);
        opacity: 1;
    }
}

.img-recursos {
    width: 196px;
    height: 188px;
}

.card-btn {
    height: 450px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: var(--bg-cards) 0% 0% no-repeat padding-box;
    border: 1px solid var(--card-generales-borde);
    border-radius: 3px;
    opacity: 1;
    box-shadow: none;
    a {
        color: var(--card-ux-hover);
        font-weight: 700;
    }
}

.card-horizontal {
    height: 290px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: var(--card-generales) 0% 0% no-repeat padding-box;
    border: 1px solid var(--card-generales-borde);
    border-radius: 3px;
    opacity: 1;
    box-shadow: none;
}

.borde-gris {
    border: 1px solid var(--card-generales-borde);
    border-radius: 3px;
    opacity: 1;
}

h3.rosa {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 400;
}

h3.rosa:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    margin: 0 0 0 -50px;
    border-bottom: 3px solid #D3097F;
}

h3.morado {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 400;
}

h3.morado:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    margin: 0 0 0 -50px;
    border-bottom: 3px solid #7A4493;
}

h3.azul {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 400;
}

h3.azul:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    margin: 0 0 0 -50px;
    border-bottom: 3px solid #4199A0;
}

.img-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.fw-800 {
    font-weight: 800;
}

.texto-alto {
    height: 110px;
}

.btn_rosa_invertido_ine1 {
    background: var(--bg-cards);
    border: 2px solid var(--btn-ux-descargar);
    color: var(--btn-ux-descargar);
    border-radius: 15px 15px;
    font-size: 16px;
    height: 45px;
}

.btn_rosa_invertido_ine1:hover {
    background: var(--btn-rosa-invertido);
    border-color: 2px solid var(--card-ux-hover);
    color: var(--card-ux-hover);
}

.btn_rosa_invertido_ine2 {
    background: var(--bg-generales);
    border: 2px solid var(--btn-ux-descargar);
    color: var(--btn-ux-descargar);
    border-radius: 15px 15px;
    font-size: 16px;
    height: 45px;
}

.btn_rosa_invertido_ine2:hover {
    background: var(--btn-rosa-invertido);
    border-color: 2px solid var(--card-ux-hover);
    color: var(--card-ux-hover);
}

.tarjeta-titulo {
    font-size: 21px;
    font-weight: normal;
}
/// R E S P O N S I V O ///
@media (max-width: 1199.98px) {


    .fondo1{
        background:  transparent linear-gradient(90deg, #C31C78 0%, #CB5A9A 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 750px;
    }

    .fondo2{
        background:  transparent linear-gradient(270deg, #66AAAE 0%, #338A91 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 750px;
    }


    .fondo3{
        background: transparent linear-gradient(270deg, #8C63A4 0%, #754992 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 750px;
    }

    .fondo4{
        background:  transparent linear-gradient(270deg, #66AAAE 0%, #338A91 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 750px;
    }

.fondo5{
    background:  transparent linear-gradient(90deg, #FCECF4 0%, #F7DAEA 100%) 0% 0% no-repeat padding-box;
    width: 100%;
        height: 750px;
}
.fondo6{
    background:  transparent linear-gradient(90deg, #c71f7b 0%, #CB5A9A 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 750px;
}

.fondo7{
    background:  transparent linear-gradient(90deg, #FCECF4 0%, #F7DAEA 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 750px;
}


.Planea{
    margin-top: 60px;
    color: #FCECF4;
    font-size: 34px;
    font-weight: 600;
}
.Consejos1{
    color: #B60F6F;
    margin-top: 80px;
}
.Img1{
  
    padding-top: 60px;
    padding-left: 25px;
}

.Información{
 
    color: #FCECF4;
    margin-top: 100px;
    font-size: 24px;
    
}
.color-blanco2{
    color: #FFFFFF;
    font-size: 18px;
}

.img2{
    margin-top: 60px;
    padding-left: 20px;
  
}

.img3{
    margin-top: 60px;
    padding-left: 20px;
}
.img4{
    margin-top: 60px;
    padding-left: 20px;
}

.img5{
    margin-top: 60px; 
    padding-left: 20px;
}




    .card-colores {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        background: var(--bg-cards) 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        height: 60px;
        padding: 0px 10px;
    }
    .box-2 {
        position: absolute;
        left: 100px;
        top: 50px;
        z-index: 2;
        width: 89%;
        height: 269px;
        background: #5B0F39 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .p-0 {
        padding-left: 0px;
    }
    .texto-alto {
        height: 130px;
    }
}

@media (max-width: 991.98px) {
    .box-1 {
        position: absolute;
        left: 30px;
        z-index: 3;
        width: 102%;
        height: 291px;
        background: #98145E 0% 0% no-repeat padding-box;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box-2 {
        position: absolute;
        left: 100px;
        top: 50px;
        z-index: 2;
        width: 83%;
        height: 269px;
        background: #5B0F39 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .card-ux {
        height: 235px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 15px 20px;
        background: var(--card-generales) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-generales-borde);
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        font-size: 16px;
        img {
            height: 80px;
        }
    }
    .card {
        height: 210px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        background: var(--card-home) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-borde);
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        img {
            height: 100px;
        }
    }
    .card-ui {
        height: 240px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 20px 15px;
        background: var(--card-generales) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-generales-borde);
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        font-size: 16px;
        img {
            height: 95px;
        }
    }
    .card-desarrollo {
        height: 240px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        background: var(--card-generales) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-generales-borde);
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        font-size: 16px;
        img {
            height: 95px;
        }
    }
    .card-horizontal {
        height: 314px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        background: var(--card-generales) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-generales-borde);
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
    }
    .texto-alto {
        height: 160px;
    }
    .card-btn {
        height: 460px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        background: var(--bg-cards) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-generales-borde);
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        a {
            color: var(--card-ux-hover);
            font-weight: 700;
        }
        img {
            height: 90px;
        }
    }
}

@media (max-width: 767.98px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
    }
    .bg-inicio {
        background: transparent linear-gradient(270deg, #E149A4 0%, #B7006D 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
        height: 370px;
        width: 100%;
        color: #FFFFFF;
        padding: 40px 30px;
        margin-top: 70px;
    }
    .cards-scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        flex: 0 0 auto;
    }
    .card-temas {
        height: 220px;
        width: 210px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        background: var(--card-home) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-borde);
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        margin-right: 10px;
    }
    h4 {
        font-weight: 800;
    }
    h5.rosa {
        position: relative;
        z-index: 1;
        text-align: center;
        padding-bottom: 10px;
        font-weight: 400;
    }
    h5.rosa:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100px;
        margin: 0 0 0 -50px;
        border-bottom: 3px solid #D3097F;
    }
    h5.morado {
        position: relative;
        z-index: 1;
        text-align: center;
        padding-bottom: 10px;
        font-weight: 400;
    }
    h5.morado:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100px;
        margin: 0 0 0 -50px;
        border-bottom: 3px solid #7A4493;
    }
    h5.azul {
        position: relative;
        z-index: 1;
        text-align: center;
        padding-bottom: 10px;
        font-weight: 400;
    }
    h5.azul:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100px;
        margin: 0 0 0 -50px;
        border-bottom: 3px solid #4199A0;
    }
    .card-horizontal-r {
        height: 125px;
        text-align: left;
        background: var(--card-generales) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-generales-borde);
        border-radius: 3px;
        opacity: 1;
        margin-top: 15px;
        padding: 20px 20px;
        box-shadow: 4px 4px 8px #0000001A;
        img {
            height: 70px;
        }
    }
    .card-colores {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        background: var(--bg-cards) 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        height: 60px;
        padding: 0px 10px;
        font-size: 14px;
    }
    .texto-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bg-gris {
        background: var(--bg-gris);
        border: 1px solid var(--footer-home);
    }
    .card-responsiva {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        background: var(--bg-cards) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-generales-borde);
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        a {
            color: var(--card-ux-hover);
            font-weight: 700;
        }
    }
    .color-gris-medio {
        font-weight: 400;
        color: var(--txt-footer);
    }
    .card-footer {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        background: var(--card-footer) 0% 0% no-repeat padding-box;
        border: 1px solid var(--card-generales-borde);
        border-radius: 3px;
        opacity: 1;
        box-shadow: none;
        a {
            color: var(--card-ux-hover);
            font-weight: 700;
        }
    }
    .btn_rosa_invertido_ine-footer {
        border: 2px solid var(--card-ux-hover);
        color: var(--card-ux-hover);
        border-radius: 15px 15px;
        font-size: 16px;
        height: 45px;
    }
}