<!--NUEVO HOME-->
<div class="d-none d-md-block">
    <div class="main">
        <div class="cointainer-fluid ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
 
         <ol class="carousel-indicators">
          <li  data-target="#carouselExampleIndicators " data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="Fondo1 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6      ">
                                <h4 class=" padding-t-40 padding-b-20 planea text-align-left">Planea, diseña y desarrolla</h4>
                                <p class="parrafonev">Encuentra recursos e información sobre las mejores prácticas de investigación, diseño y desarrollo, para crear productos digitales para el INE.</p>
                            </div>
                            <div class="col-md-5  offset-md-1 ">
                                <img  class="img1" src="./assets/img/slide/slide-1.svg" alt="First slide">

                            </div>
                        </div>

                    </div>

                </div>
              
            </div> <div class="carousel-item">
                <div class="Fondo2 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ">
                              <h4 class="   información padding-b-20">Respuestas rápidas e información precisa para tus usuarios mediante un <strong class="texto">Asistente Virtual.</strong> </h4>  
                              <p class=" color-blanco padding-b-10">Conoce y aplica las nuevas herramientas de Asistentes Virtuales: <strong class="texto">Chatbot y Voicebot.</strong> </p> 
                             
                              <button type=" button padding-b-20" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                              [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de']">
                                Conocer más
                            </button>
                        
                            </div>
                            <div class="col-md-5  offset-md-1">
                                <img  class="img2" src="./assets/img/slide/slide-2.svg" alt="Second slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>

            
            <div class="carousel-item">
                <div class="Fondo3 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6  ">
                              <h4 class="  color-blanco información padding-b-40"> Información ordenada y estructurada mediante el componente <strong class="texto">Tabla de datos</strong> </h4>  
                              <p class="color-blanco padding-b-20">Conoce y aplica el componente de <strong class="color-blanco texto">Tabla de Datos.</strong></p>
                              <a href="./componentes-ui/web/data-table/estilo">
                              <button   type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                              </a>
                            </div>
                            <div class="col-md-5  offset-md-1">
                                <img  class="img3" src="./assets/img/slide/slide-3.svg"  alt="Third slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>

            <div class="carousel-item">
                <div class="Fondo4 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                              <h3 class="padding-b-30  color-blanco información"> Maqueta tipo para levantar proyectos de <strong class="texto">aplicaciones</strong>  nativas de <strong class="texto">Android 



                                
                              </strong> </h3>  
                              <p class="color-blanco padding-b-30">Conoce y aplica la <strong class="texto">Maqueta Android</strong>  para el desarrollo de aplicaciones móviles.</p>
                             <a href="./documentacion-de-desarrollo/app-moviles/maqueta-tipo/que-es">
                              <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                        </a>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <img  class="img4" src="./assets/img/slide/slide-4.svg" alt="bedroom slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>

            <div class="carousel-item">
                <div class="Fondo5 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                              <h3 class="padding-b-30  consejos"> Consejos, tips y más para realizar proyectos tecnológicos con buenas prácticas en investigación y desarrollo.</h3>  
                              <p class="conoce  padding-b-30">Conoce y explora el <strong class="conoces">Centro de Ayuda</strong>  para iniciar y fortalecer tus proyectos.</p>
                             <a href="http://10.35.32.58/centro-de-ayuda-iux/">
                              <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                            </a>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <img  class="img5" src="./assets/img/slide/slide-5.svg" alt="fifth slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
            <div class="carousel-item">
                <div class="Fondo6 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                              <h3 class="padding-b-30  información"> Solicita, estructura y diseña en sitios <strong class="texto">SharePoint de Comunicación</strong></h3>  
                              <p class="color-blanco  padding-b-30">Permite difundir información masiva a otros usuarios un conjunto predeterminado de los elementos web.</p>
                             <a href="./documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-comunicacion/acerca-de">
                              <button type=" button " class="btn btn_blanco_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                            </a>
                            </div>
                            <div class="col-md-5 offset-md-1">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
            <div class="carousel-item">
                <div class="Fondo7 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                              <h3 class="padding-b-30  consejos"> Solicita, estructura y diseña en sitios <strong class="texto">SharePoint de Colaboración.</strong></h3>  
                              <p class="conoce  padding-b-30">Sirve para trabajar en un proyecto especifíco y compartir información solo a los miembros del grupo.</p>
                             <a href="./documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-colaboracion/acerca-de">
                              <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                            </a>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <img  class="img5" src="./assets/img/slide/slide-5.svg" alt="seventh slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>



        </div>
      </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center   margin-t-40 margin-b-20">¿Cómo empezar?</h2>
        <div class="row margin-b-90  justify-content-md-center">
            <div class="col-md-8 col-lg-4 margin-b-30">
                <div class="card-colores card-rosa" [routerLink]="['/experiencia-de-usuario/usuario/experiencia/contenidos']">
                    <div class="row ">
                        <div class="col-md-2 col-lg-3 text-center">
                            <i class="fa fa-check circulo-rosa"></i>
                        </div>
                        <div class="col-md-10 col-lg-9  padding-r-10 padding-l-0">
                            <p class="margin-b-0">Mejora la experiencia de usuario de tu producto</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4 margin-b-30">
                <div class="card-colores card-morado" [routerLink]="['/componentes-ui/usuario/interfaz/contenidos']">
                    <div class="row">
                        <div class="col-md-2 col-lg-3 text-center">
                            <i class="fa fa-check circulo-morado"></i>
                        </div>
                        <div class="col-md-10 col-lg-9  padding-r-10 padding-l-0">
                            <p class="margin-b-0">Construye la interfaz de tu proyecto</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4 margin-b-30">
                <div class="card-colores card-azul" [routerLink]="['/documentacion-de-desarrollo/documentacion/desarrollo/contenidos']">
                    <div class="row ">
                        <div class="col-md-2 col-lg-3 text-center">
                            <i class="fa fa-check circulo-azul"></i>
                        </div>
                        <div class="col-md-10 col-lg-9  padding-r-15 padding-l-0">
                            <p class="margin-b-0">Documenta tu proyecto de desarrollo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Carousel-->
    <div class="container-fluid bg-gris-clarito1">
        <h2 class="text-center padding-b-50 padding-t-60">Temas destacados</h2>
        <div class="container  padding-b-60">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row margin-b-90">
                            <div class="col-md-3">
                                <div class="card" [routerLink]="['/componentes-ui/web/accordion/estilo']">
                                    <img class="img-fluid img-card" src="./assets/img/interfaz-usuarios/componentes-web.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Componentes Web</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" [routerLink]="['/componentes-ui/android/app-bar-top/usos']">
                                    <img class="img-fluid img-card" src="./assets/img/home/componentes-android-home.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Componentes Android</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno']">
                                    <img class="img-fluid img-card" src="./assets/img/home/investigacion-de-usuarios.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Investigación de usuarios</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos']">
                                    <img class="img-fluid img-card" src="./assets/img/home/arquitectura-de-informacion.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Arquitectura de Información</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row margin-b-90">
                            <div class="col-md-3">
                                <div class="card" [routerLink]="['/documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model']">
                                    <img class="img-fluid img-card" src="./assets/img/home/lineamientos-backend.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Lineamientos Backend</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="card" [routerLink]="['/experiencia-de-usuario/optimizacion/open-graph/que-es']">
                                    <img class="img-fluid img-card" src="./assets/img/open-graph/optimizacion.svg" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Optimización</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="card" [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/prototipado/wireframe']">
                                    <img class="img-fluid img-card" src="./assets/img/UX/diseno-de-interfaz/wireframe.svg" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Prototipado</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="card" [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad']">
                                    <img class="img-fluid img-card" src="./assets/img/UX/pruebas/prueba-usabilidad.svg" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Pruebas de usabilidad</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center padding-b-30 padding-t-120">Descubre cómo mejorar tus proyectos</h2>
        <h3 class="rosa">Mejora la experiencia de uso</h3>
        <div class="row justify-content-md-center margin-t-50">
            <div class="col-md-4 text-center">
                <div class="card-ux" [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno']">
                    <img class="grow img-fluid img-card" src="./assets/img/home/investigacion-de-usuarios.png" alt="Investigación de usuarios">
                    <div class="card-body">
                        <p class="card-text">Conoce mejor a tus usuarios y sus necesidades</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card-ux" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos']">
                    <img class="img-fluid img-card" src="./assets/img/home/arquitectura-de-informacion.png" alt="Arquitectura de información">
                    <div class="card-body">
                        <p class="card-text">Organiza y estructura el contenido de tu sitio</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card-ux" [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/storyboard/que-es']">
                    <img class="img-fluid img-card" src="./assets/img/home/diseño-de-interfaz.png" alt="Diseño de interfaz">
                    <div class="card-body">
                        <p class="card-text">Utiliza las mejores prácticas para diseñar tu interfaz</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center margin-t-20 margin-b-120">
            <div class="col-md-4 text-center">
                <div class="card-ux" [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad']">
                    <img class="img-fluid img-card" src="./assets/img/home/metricas.png" alt="Mejora continua">
                    <div class="card-body">
                        <p class="card-text">Comprueba la efectividad de tu producto</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card-ux" [routerLink]="['/experiencia-de-usuario/optimizacion/open-graph/que-es']">
                    <img class="img-fluid img-card" src="./assets/img/open-graph/optimizacion.svg" alt="Optimización">
                    <div class="card-body">
                        <p class="card-text">Implementa buenas prácticas para optimizar la experiencia</p>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="morado">Utiliza componentes para construir tu interfaz de usuario</h3>
        <div class="row justify-content-md-center margin-t-50 margin-b-120">
            <div class="col-md-4 text-center">
                <div class="card-ui" [routerLink]="['/componentes-ui/web/accordion/estilo']">
                    <img class="grow img-fluid img-card" src="./assets/img/interfaz-usuarios/componentes-web.png" alt="Componentes web">
                    <div class="card-body">
                        <p class="card-text">Enriquece tu interfaz web con componentes listos para usar</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card-ui" [routerLink]="['/componentes-ui/android/app-bar-top/usos']">
                    <img class="img-fluid img-card" src="./assets/img/home/componentes-android-home.png" alt="Componentes android">
                    <div class="card-body">
                        <p class="card-text">Conoce las pautas para diseñar una aplicación Android</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card-ui" [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/tipografia']">
                    <img class="img-fluid img-card" src="./assets/img/interfaz-usuarios/recursos-de-diseno.png" alt="Elementos de diseño">
                    <div class="card-body">
                        <p class="card-text">Encuentra los elementos de diseño del INE</p>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="azul">Crea un proyecto de desarrollo con las mejores prácticas</h3>
        <div class="row justify-content-md-center margin-t-50 margin-b-120">
            <div class="col-md-4 text-center">
                <div class="card-desarrollo" [routerLink]="['/documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model']">
                    <img class="grow img-fluid img-card" src="./assets/img/home/lineamientos-backend.png" alt="Lineamientos Backend">
                    <div class="card-body">
                        <p class="card-text">Conoce las bases y conceptos de la arquitectura backend</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card-desarrollo" [routerLink]="['/documentacion-de-desarrollo/documentacion-frontend/scaffolding/que-es']">
                    <img class="img-fluid img-card" src="./assets/img/home/documentacion-frontend.png" alt="Documentación Frontend">
                    <div class="card-body">
                        <p class="card-text">Utiliza la metodología del INE para trabajar con Angular</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card-desarrollo" [routerLink]="['/documentacion-de-desarrollo/lineamientos-app-moviles/estructura-en-un-proyecto/directorios']">
                    <img class="img-fluid img-card" src="./assets/img/home/documentacion-android.png" alt="Documentación Android">
                    <div class="card-body">
                        <p class="card-text">Domina los fundamentos para el desarrollo de aplicaciones nativas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-gris-clarito1 margin-t-120  padding-b-40">
        <h2 class="text-center padding-t-60 padding-b-50">Complementa tu proyecto</h2>
        <div class="container">
            <div class="row text-center bg-blanco padding-30 borde-gris">
                <div class="offset-md-1 col-md-5">
                    <h3 class="margin-b-20 tarjeta-titulo">Recursos UNICOM</h3>
                    <p class="fw-400">En este micrositio encontrarás las plantillas y elementos descargables para facilitar tu trabajo de comunicación y socialización de proyecto.</p>
                    <a href="http://10.35.32.58/recursos-unicom/" rel="noopener noreferrer" target="_blank">
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20">
                            Ir al sitio
                        </button>
                    </a>
                </div>
                <div class="offset-md-1 col-md-5">
                    <img class="img-fluid img-responsive img-recursos" src="./assets/img/home/plantillas-recursos.png" alt="Plantillas y recursos UNICOM">
                </div>
            </div>
            <div class="row padding-t-50">
                <div class="col-md-4 text-center">
                    <div class="card-btn card-btn-91">
                        <img class="grow img-fluid img-card" src="./assets/img/interfaz-usuarios/recursos-de-diseno.png" alt="Elementos de diseño">
                        <div class="card-body">
                            <h3 class="margin-b-20 tarjeta-titulo">Elementos de diseño</h3>
                            <p class="card-text texto-alto">Utiliza los elementos de diseño gráfico del INE, como tipografía, color, iconografía, ilustraciones e identificadores gráficos.</p>
                            <a [routerLink]="[ '/componentes-ui/recursos/elementos-de-diseno/tipografia']">Saber
                                más...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card-btn card-btn-91">
                        <img class="img-fluid img-card" src="./assets/img/home/ine-color.png" alt="Logotipo del Instituto Nacional Electoral">
                        <div class="card-body">
                            <h3 class="margin-b-20 tarjeta-titulo">Logotipo Institucional</h3>
                            <p class="card-text texto-alto">Descarga aquí el logotipo institucional para utilizarlo de manera adecuada, bajo los lineamientos y reglas establecidas.</p>
                            <a href="./assets/docs/inicio/Logo-Institucional.zip " download aria-label="Descargar logotipo institucional">
                                <button type=" button " class="btn btn_rosa_invertido_ine1 padding-l-20 padding-r-20">
                                    <i class="fa fa-download padding-r-15" aria-hidden="true"></i> Descargar
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card-btn card-btn-91">
                        <img class="grow img-fluid img-card" src="./assets/img/home/doc1.png" alt="Manual de identidad INE">
                        <div class="card-body">
                            <h3 class="margin-b-20 tarjeta-titulo">Manual de identidad INE</h3>
                            <p class="card-text texto-alto">Descarga el manual de identidad gráfica a del Instituto Nacional Electoral para su correcta aplicación.</p>
                            <a href="./assets/docs/inicio/Manual_Identidad_Institucional.zip " download aria-label="Descargar Manual de identidad INE">
                                <button type=" button " class="btn btn_rosa_invertido_ine1 padding-l-20 padding-r-20">
                                    <i class="fa fa-download padding-r-15" aria-hidden="true"></i> Descargar
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-gris-t1 padding-t-50">
        <h2 class="text-center padding-b-30 padding-t-40">Documenta de acuerdo con SIGETIC</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-horizontal mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 img-vertical">
                                <img class="grow img-fluid img-card" src="./assets/img/home/doc2.png" alt="Manual de identidad INE">
                            </div>
                            <div class="col-md-8">
                                <h3 class="card-title margin-b-20 tarjeta-titulo">Artefactos SIGETIC</h3>
                                <p class="card-text">Revisa los artefactos que constituyen el Sistema de Gestión de Tecnologías de la Información y Comunicaciones para mantener alineada tu documentación al proceso de desarrollo.</p>
                                <a href="https://inemexico.sharepoint.com/sites/SIGETIC/SitePages/Inicio.aspx " target="_blank " rel="noopener noreferrer ">
                                    <button type="button " class="btn btn_rosa_ine boton-descarga-footer ">
                                        Ir al Sitio 
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-horizontal">
                        <h3 class="card-title margin-b-20 tarjeta-titulo">Desarrollo de soluciones</h3>
                        <p class="card-text">Conoce los componentes utilizados para desarrollar soluciones tecnológicas y estandarizar la tecnología que se utiliza en las áreas de TIC del Instituto.</p>
                        <br>
                        <a href="./assets/docs/inicio/Anexo_DomTec_IV.pdf" download aria-label="Descargar Anexo de Documentación de Desarrollo de soluciones">
                            <button type="button" class="btn btn_rosa_invertido_ine2 padding-l-20 padding-r-20">
                                <i aria-hidden="true" class="fa fa-download padding-r-15"></i>Descargar
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--RESPONSIVO-->
<div class="d-block d-md-none">
    <div class="main">
        <div class="cointainer-fluid ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
 
         <ol class="carousel-indicators">
          <li  data-target="#carouselExampleIndicators " data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="fondo1 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6  ">
                                <h4 class="titulo padding-t-20 padding-b-20 Planea">Planea, diseña y desarrolla</h4>
                                <p class="color-blanco">Encuentra recursos e información sobre las mejores prácticas de investigación, diseño y desarrollo, para crear productos digitales para el INE.</p>
                            </div>
                            <div class="col-md-6 ">
                                <img  class="Img1" src="./assets/img/slide/slide-1.svg" alt="First slide">

                            </div>
                        </div>

                    </div>

                </div>
              
            </div> <div class="carousel-item">
                <div class="fondo2 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                
                              <h4 class="  color-blanco Información  ">Respuestas rápidas e información precisa para tus usuarios mediante un Asistente Virtual.</h4>  
                              <p class="color-blanco2 padding-b-20 ">Conoce y aplica las nuevas herramientas de Asistentes Virtuales: Chatbot y Voicebot</p> 
                              <button type=" button padding-b-20" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                              [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de']">
                                Conocer más
                            </button>
                            </div>
                            <div class="col-md-6 ">
                                <img  class="img2" src="./assets/img/slide/slide-2.svg" alt="Second slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>

            
            <div class="carousel-item">
                <div class="fondo3 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                              <h3 class=" titulo color-blanco Información"> Información ordenada y estructurada mediante el componente Tabla de datos</h3>  
                              <p class="color-blanco">Conoce y aplica el componente de <strong class="color-blanco">Tabla de Datos</strong></p>
                              <a href="./componentes-ui/web/data-table/estilo">
                              <button type=" button padding-b-20 " class="btn btn_rosa_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                        </a>
                            </div>
                            <div class="col-md-6 margine-b-10 ">
                                <img  class="img3" src="./assets/img/slide/slide-3.svg"  alt="Third slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>

            <div class="carousel-item">
                <div class="fondo4 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                              <h3 class="padding-b-30 titulo color-blanco Información"> Maqueta tipo para levantar proyectos de aplicaciones nativas de Android.</h3>  
                              <p class="color-blanco">Conoce y aplica la Maqueta Android para el desarrollo de aplicaciones móviles</p>
                              <a href="./documentacion-de-desarrollo/app-moviles/maqueta-tipo/que-es">
                              <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                        </a>
                            </div>
                            <div class="col-md-6 ">
                                <img  class="img4" src="./assets/img/slide/slide-4.svg" alt="bedroom slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>

            <div class="carousel-item">
                <div class="fondo5 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                              <h3 class=" color-blanco Consejos1"> Consejos, tips y más para realizar proyectos tecnológicos con buenas prácticas en investigación y desarrollo.</h3>  
                              <p class="conoce  padding-b-30">Conoce y explora el Centro de Ayuda para iniciar y fortalecer tus proyectos</p>
                              <a href="http://10.35.32.58/centro-de-ayuda-iux/">
                              <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                        </a>
                            </div>
                            <div class="col-md-6">
                                <img  class="img5" src="./assets/img/slide/slide-5.svg" alt="fifth slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>


            <div class="carousel-item">
                <div class="fondo6 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="padding-b-30  información"> Solicita, estructura y diseña en sitios <strong class="texto">SharePoint de Comunicación</strong></h3>  
                                <p class="color-blanco  padding-b-30">Permite difundir información masiva a otros usuarios un conjunto predeterminado delos elementos web.</p>
                              <a href="http://10.35.32.58/centro-de-ayuda-iux/">
                              <button type=" button " class="btn btn_blanco_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                        </a>
                            </div>
                            <div class="col-md-6">
                                <img  class="img5" src="./assets/img/slide/slide-5.svg" alt="fifth slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>



            <div class="carousel-item">
                <div class="fondo7 d-block" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="padding-b-30  consejos"> Solicita, estructura y diseña en sitios <strong class="texto">SharePoint de Colaboración.</strong></h3>  
                                <p class="conoce  padding-b-30">Sirve para trabajar en un proyecto especifíco y compartir información solo a los miembros del grupo.</p>
                              <a href="http://10.35.32.58/centro-de-ayuda-iux/">
                              <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20">
                                Conocer más
                            </button>
                        </a>
                            </div>
                            <div class="col-md-6">
                                <img  class="img5" src="./assets/img/slide/slide-5.svg" alt="fifth slide">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>


            
        </div>
      </div>
        </div>
    
    
    <h4 class="text-center margin-t-20 margin-b-30 fw-800">¿Cómo empezar?</h4>
    <div class="row margin-b-40 justify-content-center">
        <div class="col-9 col-sm-7 margin-b-30">
            <div class="card-colores card-rosa" [routerLink]="['/experiencia-de-usuario/usuario/experiencia/contenidos']">
                <div class="row">
                    <div class="col-2 col-sm-3 text-center">
                        <i class="fa fa-check circulo-rosa"></i>
                    </div>
                    <div class="col-10 col-sm-9 ">
                        <p class="margin-b-0">Mejora la experiencia de usuario de tu producto</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 col-sm-7 margin-b-30">
            <div class="card-colores card-morado" [routerLink]="['/componentes-ui/usuario/interfaz/contenidos']">
                <div class="row ">
                    <div class="col-2 col-sm-3 text-center">
                        <i class="fa fa-check circulo-morado"></i>
                    </div>
                    <div class="col-10 col-sm-9 ">
                        <p class="margin-b-0">Construye la interfaz de tu proyecto</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 col-sm-7 margin-b-30">
            <div class="card-colores card-azul" [routerLink]="['/documentacion-de-desarrollo/documentacion/desarrollo/contenidos']">
                <div class="row ">
                    <div class="col-2 col-sm-3 text-center">
                        <i class="fa fa-check circulo-azul"></i>
                    </div>
                    <div class="col-10 col-sm-9">
                        <p class="margin-b-0">Documenta tu proyecto de desarrollo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-gris-clarito1">
        <h4 class="text-center padding-b-10 padding-t-40">Temas destacados</h4>
        <div class="cards-scroll">
            <div class="margin-b-40 cards-scroll">
                <div class="card-temas" [routerLink]="['/componentes-ui/web/accordion/estilo']">
                    <img class="img-fluid img-card" src="./assets/img/interfaz-usuarios/componentes-web.png" alt="Componentes Web">
                    <div class="card-body">
                        <p class="card-text">Componentes Web</p>
                    </div>
                </div>
                <div class="card-temas" [routerLink]="['/componentes-ui/android/app-bar-top/usos']">
                    <img class="img-fluid img-card" src="./assets/img/home/componentes-android-home.png" alt="Componentes Android">
                    <div class="card-body">
                        <p class="card-text">Componentes Android</p>
                    </div>
                </div>
                <div class="card-temas" [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno']">
                    <img class="img-fluid img-card" src="./assets/img/home/investigacion-de-usuarios.png" alt="Investigación de usuarios">
                    <div class="card-body">
                        <p class="card-text">Investigación de usuarios</p>
                    </div>
                </div>
                <div class="card-temas" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos']">
                    <img class="img-fluid img-card" src="./assets/img/home/arquitectura-de-informacion.png" alt="Arquitectura de información">
                    <div class="card-body">
                        <p class="card-text">Arquitectura de Información</p>
                    </div>
                </div>
                <div class="card-temas" [routerLink]="['/documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model']">
                    <img class="img-fluid img-card" src="./assets/img/home/lineamientos-backend.png" alt="Lineamientos Backend">
                    <div class="card-body">
                        <p class="card-text">Lineamientos Backend</p>
                    </div>
                </div>
                <div class="card-temas" [routerLink]="['/experiencia-de-usuario/optimizacion/open-graph/que-es']">
                    <img class="img-fluid img-card" src="./assets/img/open-graph/optimizacion.svg" alt="Optimización">
                    <div class="card-body">
                        <p class="card-text">Optimización</p>
                    </div>
                </div>
                <div class="card-temas" [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/prototipado/wireframe']">
                    <img class="img-fluid img-card" src="./assets/img/UX/diseno-de-interfaz/wireframe.svg" alt="Prototipado">
                    <div class="card-body">
                        <p class="card-text">Prototipado</p>
                    </div>
                </div>
                <div class="card-temas" [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad']">
                    <img class="img-fluid img-card" src="./assets/img/UX/pruebas/prueba-usabilidad.svg" alt="Pruebas de usabilidad">
                    <div class="card-body">
                        <p class="card-text">Pruebas de usabilidad</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="text-center margin-b-20 margin-t-40">Descubre cómo mejorar tus proyectos</h4>
        <h5 class="rosa margin-b-40">Mejora la experiencia de uso</h5>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno']">
            <div class="row">
                <div class="col-4 col-sm-3 text-left">
                    <img class="img-fluid" src="./assets/img/home/investigacion-de-usuarios.png" alt="Investigación de usuarios">
                </div>
                <div class="col-8 col-sm-9 texto-vertical">
                    <p class="card-text fw-400">Conoce mejor a tus usuarios y sus necesidades</p>
                </div>
            </div>
        </div>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos']">
            <div class="row">
                <div class="col-4 col-sm-3 text-left">
                    <img class="img-fluid" src="./assets/img/home/arquitectura-de-informacion.png" alt="Arquitectura de información">
                </div>
                <div class="col-8 col-sm-9 texto-vertical">
                    <p class="card-text fw-400">Organiza y estructura el contenido de tu sitio</p>
                </div>
            </div>
        </div>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/storyboard/que-es']">
            <div class="row">
                <div class="col-4 col-sm-3 text-left">
                    <img class="img-fluid" src="./assets/img/home/diseño-de-interfaz.png" alt="Diseño de interfaz">
                </div>
                <div class="col-8 col-sm-9 texto-vertical">
                    <p class="card-text fw-400">Utiliza las mejores prácticas para diseñar tu interfaz</p>
                </div>
            </div>
        </div>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad']">
            <div class="row">
                <div class="col-4 col-sm-3 text-left">
                    <img class="img-fluid" src="./assets/img/home/metricas.png" alt="Mejora continua">
                </div>
                <div class=" col-8 col-sm-9 texto-vertical ">
                    <p class="card-text fw-400 ">Comprueba la efectividad de tu producto</p>
                </div>
            </div>
        </div>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/experiencia-de-usuario/optimizacion/open-graph/que-es']">
            <div class="row ">
                <div class="col-4 col-sm-3 text-left ">
                    <img class="img-fluid " src="./assets/img/open-graph/optimizacion.svg" alt="Optimización">
                </div>
                <div class="col-8 col-sm-9 texto-vertical ">
                    <p class="card-text fw-400 ">Implementa buenas prácticas para optimizar la experiencia</p>
                </div>
            </div>
        </div>
        <h5 class="morado margin-b-40 margin-t-50">Utiliza componentes para construir tu interfaz de usuario</h5>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/componentes-ui/web/accordion/estilo']">
            <div class="row">
                <div class="col-4 col-sm-3 text-left ">
                    <img class="img-fluid " src="./assets/img/interfaz-usuarios/componentes-web.png" alt="Componentes web">
                </div>
                <div class="col-8 col-sm-9 texto-vertical">
                    <p class="card-text fw-400 ">Enriquece tu interfaz web con componentes listos para usar</p>
                </div>
            </div>
        </div>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/componentes-ui/android/app-bar-top/usos']">
            <div class="row">
                <div class="col-4 col-sm-3">
                    <img class="img-fluid " src="./assets/img/home/componentes-android-home.png" alt="Componentes android">
                </div>
                <div class="col-8 col-sm-9 texto-vertical">
                    <p class="card-text fw-400">Conoce las pautas para diseñar una aplicación Android</p>
                </div>
            </div>
        </div>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/tipografia']">
            <div class="row">
                <div class="col-4 col-sm-3">
                    <img class="img-fluid img-responsive" src="./assets/img/interfaz-usuarios/recursos-de-diseno.png" alt="Elementos de diseño">
                </div>
                <div class="col-8 col-sm-9 texto-vertical">
                    <p class="card-text fw-400">Encuentra los elementos de diseño del INE</p>
                </div>
            </div>
        </div>
        <h5 class="azul margin-b-40 margin-t-50">Crea un proyecto de desarrollo con las mejores prácticas</h5>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model']">
            <div class="row">
                <div class="col-4 col-sm-3 text-left">
                    <img class="img-fluid " src="./assets/img/home/lineamientos-backend.png" alt="Lineamientos Backend">
                </div>
                <div class="col-8 col-sm-9 texto-vertical">
                    <p class="card-text fw-400">Conoce las bases y conceptos de la arquitectura backend</p>
                </div>
            </div>
        </div>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/documentacion-de-desarrollo/documentacion-frontend/scaffolding/que-es']">
            <div class="row">
                <div class="col-4 col-sm-3 text-left">
                    <img class="img-fluid" src="./assets/img/home/documentacion-frontend.png" alt="Documentación Frontend">
                </div>
                <div class="col-8 col-sm-9 texto-vertical ">
                    <p class="card-text fw-400 ">Utiliza la metodología del INE para trabajar con Angular</p>
                </div>
            </div>
        </div>
        <div class="card-horizontal-r texto-vertical" [routerLink]="['/documentacion-de-desarrollo/lineamientos-app-moviles/estructura-en-un-proyecto/directorios']">
            <div class="row">
                <div class="col-4 col-sm-3 text-left">
                    <img class="img-fluid " src="./assets/img/home/documentacion-android.png" alt="Documentación Android">
                </div>
                <div class="col-8 col-sm-9 texto-vertical">
                    <p class="card-text fw-400">Conoce las bases y conceptos de la arquitectura backend</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cointainer bg-gris margin-t-40">

        <h4 class="text-center margin-b-40 margin-t-40">Complementa tu proyecto</h4>
        <div class="container">
            <div class="card-responsiva">
                <div class="card-body">
                    <h5 class="margin-b-20">Recursos UNICOM</h5>
                    <p class="card-text margin-b-20">En este micrositio encontrarás las plantillas y elementos descargables para facilitar tu trabajo de comunicación y socialización de proyecto.</p>
                    <a href="http://10.35.32.58/recursos-unicom/" rel="noopener noreferrer" target="_blank">
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20"> Ir al Sitio
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-responsiva margin-t-20">
                <div class="card-body">
                    <h5 class="margin-b-20">Elementos de diseño</h5>
                    <p class="card-text margin-b-20">Utiliza los elementos de diseño gráfico del INE, como tipografía, color, iconografía, ilustraciones e identificadores gráficos.</p>
                    <a [routerLink]="[ '/componentes-ui/recursos/elementos-de-diseno/tipografia']">
                        Saber más...
                    </a>
                </div>
            </div>
            <div class="card-responsiva margin-t-20">
                <div class="card-body">
                    <h5 class="margin-b-20">Logotipo Institucional</h5>
                    <p class="card-text margin-b-20">Descarga aquí el logotipo institucional para utilizarlo de manera adecuada, bajo los lineamientos y reglas establecidas..</p>
                    <a href="./assets/docs/inicio/Logo-Institucional.zip " download>
                        <button type=" button " class="btn btn_rosa_invertido_ine1 padding-l-20 padding-r-20">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-responsiva margin-t-20  margin-b-40">
                <div class="card-body">
                    <h5 class="margin-b-20">Manual de identidad INE</h5>
                    <p class="card-text margin-b-20">Descarga el manual de identidad gráfica a del Instituto Nacional Electoral para su correcta aplicación.</p>
                    <a href="./assets/docs/inicio/Manual_Identidad_Institucional.zip " download>
                        <button type=" button " class="btn btn_rosa_invertido_ine1 padding-l-20 padding-r-20">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-gris-t1 padding-t-50 padding-b-40">
            <h4 class="text-center padding-b-40">Documenta de acuerdo con SIGETIC</h4>
            <div class="container">
                <div class="card-footer margin-t-20  margin-b-40">
                    <div class="card-body">
                        <h5 class="margin-b-20">Artefactos SIGETIC</h5>
                        <p class="card-text margin-b-20 color-gris-medio">Revisa los artefactos que constituyen el Sistema de Gestión de Tecnologías de la Información y Comunicaciones para mantener alineada tu documentación al proceso de desarrollo.</p>
                        <a href="https://inemexico.sharepoint.com/sites/SIGETIC/SitePages/Inicio.aspx " target="_blank " rel="noopener noreferrer ">
                            <button type=" button " class=" btn btn_rosa_ine ">
                             Ir al Sitio
                            </button>
                   
                        </a>
                    </div>
                </div>
                <div class="card-footer margin-t-20  margin-b-40">
                    <div class="card-body">
                        <h5 class="margin-b-20">Desarrollo de soluciones</h5>
                        <p class="card-text margin-b-20  color-gris-medio">Conoce los componentes utilizados para desarrollar soluciones tecnológicas y estandarizar la tecnología que se utiliza en las áreas de TIC del Instituto.</p>
                        <a href="./assets/docs/inicio/Anexo_DomTec_IV.pdf" download>
                            <button type="button" class="btn btn_rosa_invertido_ine-footer padding-l-20 padding-r-20">
                                <i aria-hidden="true" class="fa fa-download padding-r-15"></i>Descargar
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>