<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura y espaciado</h3>
    <h4>Rellenos</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/text fields/estilo/relleno-1.svg" alt="">
    </div>
    <div class="margin-b-60 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/text fields/estilo/relleno-1.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-60">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td>Cuerpo 1</td>
                <td>16dp</td>
                <td>Regular</td>
                <td>Izquierda</td>
            </tr>
            <tr>
                <td class="f-12">Subtítulo</td>
                <td>12dp</td>
                <td>Regular</td>
                <td>Izquierda</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row justify-content-center margin-t-50">
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/text fields/estilo/aplicacion-1.svg"
                alt="">
        </div>
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Etiqueta:</strong> #D5007D</p>
            <p class="border-app margin-b-10"><strong>Texto:</strong> #333333</p>
            <p class="border-app margin-b-10"><strong>Icono:</strong> #666666</p>
            <p class="border-app margin-b-10"><strong>Focus:</strong> #D5007D</p>
        </div>
    </div>
    <div class="row justify-content-center margin-t-70">
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/text fields/estilo/aplicacion-2.svg"
                alt="">
        </div>
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Error:</strong> #D31338</p>
        </div>
    </div>
    <div class="row justify-content-center margin-t-70">
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/text fields/estilo/aplicacion-3.svg"
                alt="">
        </div>
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Advertencia:</strong> #C48323</p>
        </div>
    </div>
    <div class="row justify-content-center margin-t-70">
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/text fields/estilo/aplicacion-4.svg"
                alt="">
        </div>
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Éxito:</strong> #428569</p>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para permitir que los usuarios ingresen y editen texto. Los campos de texto indican los datos que deben colocarse con etiquetas en el fondo que simulan el texto. Suelen aparecer en formularios y cuadros de diálogo y cada pestaña muestra un tipo diferente
            de campo de texto.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p class="margin-t-30">
            Utiliza este componente para permitir a los usuarios ingresar texto en una IU. Deben destacarse e indicar que los usuarios pueden ingresar información y diferenciarse entre sí, logrando facilitar la comprensión de la información solicitada y marcando
            cualquier error.
        </p>
        <p>
            Existen dos tipos: rellenos y contorneados. Ambos usan un contenedor para proporcionar la interacción, ya que hacen que estos sean visibles.
        </p>
        <p>
            Los dos proporcionan la misma funcionalidad, por lo que el tipo que debe usarse depende solo del estilo. Tiene que elegir el que funciona mejor con el estilo visual de la app, el que se adapta mejor a los objetivos y se diferencia más de los otros componentes.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando tu aplicación tiene un contraste pobre entre el fondo y los campos de texto, deberás elegir un campo de texto con relleno que provea el contraste adecuado.
        </p>
        <div class="row space img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/text-fields/rellenos.svg" alt="Uso del componente con relleno">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/text-fields/contorneados.svg" alt="Uso del componente contorneado">
        </div>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong> El texto de la etiqueta se utiliza para indicar qué información se solicita en el campo, por ello cada uno debe tener la suya sin repeticiones. Además, el texto debe estar alineado y siempre visible, se puede colocar
            en el medio o en la parte superior del contenedor.
        </p>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
     <p class="margin-t-30">
        <strong>1. </strong>Para agregar este componente a tu aplicación, primero deberás agregar los iconos que necesites a tu proyecto. Para esto, ubica la carpeta / <strong>drawable</strong> 
    </p>
    <div class="margin-b-50  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/drawable.svg" alt="">
    </div>
    <p class="margin-t-70">
        <strong>2. </strong>En este ejemplo, para agregar el icono de usuario, agrega en esta carpeta el siguiente fichero: 
    </p>
    <div class="fw-bold margin-b-20 margin-t-40">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/text fields/person.svg">ic_person.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('text-1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="text-1">
<pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24"</span><span>
        </span><span class="cm">android</span><span class="cb">:tint</span><span class="cl">="?attr/colorControlNormal"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="@android:color/white"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M12,12c2.21,0 4,-1.79 4,-4s-1.79,-4 -4,-4 -4,1.79 -4,4 1.79,4 4,4zM12,14c-2.67,0 -8,1.34 -8,4v2h16v-2c0,-2.66 -5.33,-4 -8,-4z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>3. </strong>El siguiente paso es agregar los componentes a tu aplicación. Ubica el fichero <strong>activity_main.xml</strong> dentro de la carpeta /<strong>layout</strong>
    </p>
    <div class="margin-b-30  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg">
    </div>
    <p class="margin-t-70">
        <strong>4. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-50">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('text-2')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="text-2">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;</span>?xml </span><span class="cm">version=</span><span class="cl">"1.0"</span> encoding<span class="cl">="utf-8"</span>?<span class="ct">&gt;</span><span>
</span><span class="ct">&lt;FrameLayout</span><span>
    </span>xmlns:<span class="cm">android</span>=<span class="cl">"http://schemas.android.com/apk/res/android"</span><span>
    </span>xmlns:<span class="cm">app</span>=<span class="cl">"http://schemas.android.com/apk/res-auto"</span><span>
    </span>xmlns:<span class="cm">tools</span>=<span class="cl">"http://schemas.android.com/tools"</span><span>
    </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span>:layout_height<span class="cl">="match_parent"</span><span>
    </span><span class="cm">tools</span>:context<span class="cl">=".activities.MainActivity"</span><span class="ct">&gt;</span><span>

    </span><span class="ct">&lt;ScrollView</span><span>
        </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
        </span><span class="cm">android</span>:layout_height<span class="cl">="match_parent"</span><span class="ct">&gt;</span><span>

        </span><span class="ct">&lt;LinearLayout</span><span>
            </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
            </span><span class="cm">android</span>:layout_height<span class="cl">="wrap_content"</span><span>
            </span><span class="cm">android</span>:layout_margin<span class="cl">="8dp"</span><span>
            </span><span class="cm">android</span>:orientation<span class="cl">="vertical"</span><span class="ct">&gt;</span><span>

            </span><span class="ct">&lt;com.google.android.material.textfield.TextInputLayout</span><span>
                </span><span class="cm">android</span>:id<span class="cl">="@+id/tfIcon"</span><span>
                </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
                </span><span class="cm">android</span>:layout_height<span class="cl">="wrap_content"</span><span>
                </span><span class="cm">android</span>:layout_marginBottom<span class="cl">="10dp"</span><span>
                </span><span class="cm">android</span>:hint<span class="cl">="@string/tag"</span><span>
                </span><span class="cm">android</span>:textColorHint<span class="cl">="@color/color_hint_text_field"</span><span>
                </span><span class="cm">app</span>:boxStrokeWidth<span class="cl">="0dp"</span><span>
                </span><span class="cm">app</span>:endIconDrawable<span class="cl">="@drawable/ic_person"</span><span>
                </span><span class="cm">app</span>:endIconMode<span class="cl">="custom"</span><span>
                </span><span class="cm">app</span>:boxBackgroundColor<span class="cl">="#f2f2f2"</span><span>
                </span><span class="cm">app</span>:hintTextColor<span class="cl">="@color/color_rosa_d50B7F"</span><span class="ct">&gt;</span><span>

                </span><span class="ct">&lt;com.google.android.material.textfield.TextInputEditText</span><span>
                    </span><span class="cm">android</span>:id<span class="cl">="@+id/tfIconEditText"</span><span>
                    </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
                    </span><span class="cm">android</span>:layout_height<span class="cl">="wrap_content"</span><span>
                    </span><span class="cm">android</span>:lines<span class="cl">="1"</span><span>
                    </span><span class="cm">android</span>:maxLines<span class="cl">="1" </span><span class="ct">/&gt;</span><span>
            </span><span class="ct">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span><span>

            </span><span class="ct">&lt;com.google.android.material.textfield.TextInputLayout</span><span>
                </span><span class="cm">android</span>:id<span class="cl">="@+id/errorInputLayoutRed"</span><span>
                </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
                </span><span class="cm">android</span>:layout_height<span class="cl">="wrap_content"</span><span>
                </span><span class="cm">android</span>:layout_marginBottom<span class="cl">="10dp"</span><span>
                </span><span class="cm">android</span>:hint<span class="cl">="@string/tag"</span><span>
                </span><span class="cm">app</span>:errorEnabled<span class="cl">="true"</span><span class="ct">&gt;</span><span>

                </span><span class="ct">&lt;com.google.android.material.textfield.TextInputEditText</span><span>
                    </span><span class="cm">android</span>:id<span class="cl">="@+id/errorEditTextRed"</span><span>
                    </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
                    </span><span class="cm">android</span>:layout_height<span class="cl">="wrap_content"</span><span>
                    </span><span class="cm">android</span>:lines<span class="cl">="1"</span><span>
                    </span><span class="cm">android</span>:maxLines<span class="cl">="1" </span><span class="ct">/&gt;</span><span>
            </span><span class="ct">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span><span>

            </span><span class="ct">&lt;com.google.android.material.textfield.TextInputLayout</span><span>
                </span><span class="cm">android</span>:id<span class="cl">="@+id/warningInputLayout"</span><span>
                </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
                </span><span class="cm">android</span>:layout_height<span class="cl">="wrap_content"</span><span>
                </span><span class="cm">android</span>:layout_marginBottom<span class="cl">="10dp"</span><span>
                </span><span class="cm">android</span>:hint<span class="cl">="@string/tag"</span><span>
                </span><span class="cm">app</span>:errorEnabled<span class="cl">="true"</span><span class="ct">&gt;</span><span>

                </span><span class="ct">&lt;com.google.android.material.textfield.TextInputEditText</span><span>
                    </span><span class="cm">android</span>:id<span class="cl">="@+id/warningEditText"</span><span>
                    </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
                    </span><span class="cm">android</span>:layout_height<span class="cl">="wrap_content"</span><span>
                    </span><span class="cm">android</span>:lines<span class="cl">="1"</span><span>
                    </span><span class="cm">android</span>:maxLines<span class="cl">="1" </span><span class="ct">/&gt;</span><span>
            </span><span class="ct">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span><span>

            </span><span class="ct">&lt;com.google.android.material.textfield.TextInputLayout</span><span>
                </span><span class="cm">android</span>:id<span class="cl">="@+id/errorInputLayoutGreen"</span><span>
                </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
                </span><span class="cm">android</span>:layout_height<span class="cl">="wrap_content"</span><span>
                </span><span class="cm">android</span>:hint<span class="cl">="@string/tag"</span><span>
                </span><span class="cm">app</span>:errorEnabled<span class="cl">="true"</span><span class="ct">&gt;</span><span>

                </span><span class="ct">&lt;com.google.android.material.textfield.TextInputEditText</span><span>
                    </span><span class="cm">android</span>:id<span class="cl">="@+id/errorEditTextGreen"</span><span>
                    </span><span class="cm">android</span>:layout_width<span class="cl">="match_parent"</span><span>
                    </span><span class="cm">android</span>:layout_height<span class="cl">="wrap_content"</span><span>
                    </span><span class="cm">android</span>:lines<span class="cl">="1"</span><span>
                    </span><span class="cm">android</span>:maxLines<span class="cl">="1" </span><span class="ct">/&gt;</span><span>
            </span><span class="ct">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span><span>
 

        </span><span class="ct">&lt;/LinearLayout&gt;</span><span>
    </span><span class="ct">&lt;/ScrollView&gt;</span><span>

</span><span class="ct">&lt;/FrameLayout&gt;</span>
</pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>5. </strong>A continuación, ubica la carpeta /<strong>color</strong> dentro del directorio /<strong>res</strong>
    </p>
    <div class="margin-b-30  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/text fields/color-hint.svg">
    </div>
    <p class="margin-t-70">
        <strong>6. </strong>En esta carpeta agrega el fichero <strong>color_hint_text_field.xml</strong>, con el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('text-3')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="text-3">
<pre class=" prettyprinted" style="">
<span class="ct">&lt;?</span><span>xml version</span><span class="cl">="1.0" </span>encoding<span class="cl">="utf-8"</span><span class="ct">?&gt;</span><span>   
</span><span class="ct">&lt;selector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span class="ct">&gt;</span><span> 
    </span><span class="ct">&lt;</span><span class="cm">item android</span><span class="cb">:color</span><span class="cl">="@color/color_rosa_d50B7F"</span> <span class="cm">android</span><span class="cb">:state_focused</span><span class="cl">="true"</span> <span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;</span><span class="cm">item android</span><span class="cb">:color</span><span class="cl">="@color/color_rosa_d50B7F"</span> <span class="cm">android</span><span class="cb">:state_focused</span><span class="cl">="false"</span> <span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;</span><span class="cm">item android</span><span class="cb">:color</span><span class="cl">="@color/color_rosa_d50B7F"</span> <span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/selector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>7. </strong>Ubica el archivo <strong>MainActivity.kt</strong>, como se muestra a continuación:
    </p>
    <div class="margin-b-80  margin-t-40 back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dialogs/activity-kit.svg">
    </div>
    <p class="margin-t-70">
        <strong>8. </strong> Dentro de este archivo, modifica el siguiente código dentro del método <strong>onCreate()</strong>
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('text-4')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="text-4">
<pre class=" prettyprinted" style="">
<span><span class="cm">override fun</span> <span class="cl">onCreate</span>(</span><span>
        </span>savedInstanceState<span class="cm">:</span> <span class="ct">Bundle?</span><span>)&#123;
        </span>super.onCreate(savedInstanceState)<span>
        </span>setContentView(R.layout.activity_main)<span>
        </span><span class="cm">var</span> countTestGreen <span class="cm">=</span> <span class="cl">0</span><span>
        </span><span class="cm">var</span> countTestYellow <span class="cm">=</span> <span class="cl">0</span><span>
        </span><span class="cm">var</span> countTestRed <span class="cm">=</span> <span class="cl">0</span><span>

        </span>errorEditTextRed.addTextChangedListener(object <span class="cm">:</span> TextWatcher &#123;<span>
            </span><span class="cm">override fun</span> afterTextChanged(p0<span class="cm">:</span> <span class="ct">Editable?</span>) &#123;&#125;<span>
            </span><span class="cm">override fun</span> beforeTextChanged(p0<span class="cm">:</span> <span class="ct">CharSequence?</span>, p1<span class="cm">:</span> <span class="cm"><span class="cm">Int</span></span>, p2<span class="cm">:</span> <span class="cm">Int</span>, p3<span class="cm">:</span> <span class="cm">Int</span>) &#123;&#125;<span>

            </span><span class="cm">override fun</span> onTextChanged(p0<span class="cm">:</span> <span class="ct">CharSequence?</span>, p1<span class="cm">:</span> <span class="cm">Int</span>, p2<span class="cm">:</span> <span class="cm">Int</span>, p3<span class="cm">:</span> <span class="cm">Int</span>) &#123;<span>

                </span><span class="cm">if</span> (p0.toString().length &gt; 10 ) &#123;<span>
                    </span>val extString <span class="cm">=</span> <span class="ct">p0?</span>.substring(p0.toString().length - 1, p0.toString().length)<span>
                    </span><span class="cm">if</span> (!extString.equals(&quot; &quot;) <span class="cm"><span class="cm">&amp;&amp;</span></span> countTestRed <span class="cm">==</span> <span class="cl">0</span>) &#123;<span>
                        </span>errorInputLayoutRed.setErrorTextAppearance(R.style.errorTextFieldRed)<span>
                        </span>errorInputLayoutRed.errorIconDrawable <span class="cm">=</span> <span class="cl">null</span><span>
                        </span>errorInputLayoutRed.error <span class="cm">=</span> &quot;Mensaje de Error&quot;<span>
                        </span>countTestRed<span class="cm">++</span><span>
                    </span>&#125;<span>
                </span>&#125; <span class="cm">else</span> &#123;<span>
                    </span>errorInputLayoutRed.error <span class="cm">=</span> <span class="cl">null</span><span>
                    </span>countTestRed <span class="cm">=</span> <span class="cl">0</span><span>
                </span>&#125;
            &#125;<span>
        </span>&#125;)<span>
        </span>warningEditText.addTextChangedListener(object <span class="cm">:</span> TextWatcher &#123;<span>
            </span><span class="cm">override fun</span> afterTextChanged(p0<span class="cm">:</span> <span class="ct">Editable?</span>) &#123;&#125;<span>
            </span><span class="cm">override fun</span> beforeTextChanged(p0<span class="cm">:</span> <span class="ct">CharSequence?</span>, p1<span class="cm">:</span> <span class="cm">Int</span>, p2<span class="cm">:</span> <span class="cm">Int</span>, p3<span class="cm">:</span> <span class="cm">Int</span>) &#123;&#125;<span>

            </span><span class="cm">override fun</span> onTextChanged(p0<span class="cm">:</span> <span class="ct">CharSequence?</span>, p1<span class="cm">:</span> <span class="cm">Int</span>, p2<span class="cm">:</span> <span class="cm">Int</span>, p3<span class="cm">:</span> <span class="cm">Int</span>) &#123;<span>
                </span><span class="cm">if</span> (p0.toString().length &gt; 10 ) &#123;<span>
                    </span>val extString <span class="cm">=</span> <span class="ct">p0?</span>.substring(p0.toString().length-1, p0.toString().length )<span>
                    </span><span class="cm">if</span> (!extString.equals(&quot; &quot;) <span class="cm">&amp;&amp;</span> countTestYellow <span class="cm">==</span> <span class="cl">0</span>) &#123;<span>
                        </span>warningInputLayout.setErrorTextAppearance(R.style.warningTextFieldYellow)<span>
                        </span>warningInputLayout.errorIconDrawable <span class="cm">=</span> <span class="cl">null</span><span>
                        </span>warningInputLayout.error <span class="cm">=</span> &quot;Mensaje de Advertencia&quot;<span>
                        </span>countTestYellow <span class="cm">++</span><span>
                    </span>&#125;<span>
                </span>&#125; <span class="cm">else</span> &#123;<span>
                    </span>warningInputLayout.error <span class="cm">=</span> <span class="cl">null</span><span>
                    </span>countTestYellow <span class="cm">=</span> <span class="cl">0</span><span>
                </span>&#125;            &#125;<span>
        </span>&#125;)<span>

        </span>errorEditTextGreen.addTextChangedListener(object <span class="cm">:</span> TextWatcher &#123;<span>
            </span><span class="cm">override fun</span> afterTextChanged(p0<span class="cm">:</span> <span class="ct">Editable?</span>) &#123;&#125;<span>
            </span><span class="cm">override fun</span> beforeTextChanged(p0<span class="cm">:</span> <span class="ct">CharSequence?</span>, p1<span class="cm">:</span> <span class="cm">Int</span>, p2<span class="cm">:</span> <span class="cm">Int</span>, p3<span class="cm">:</span> <span class="cm">Int</span>) &#123;&#125;<span>
            </span><span class="cm">override fun</span> onTextChanged(p0<span class="cm">:</span> <span class="ct">CharSequence?</span>, p1<span class="cm">:</span> <span class="cm">Int</span>, p2<span class="cm">:</span> <span class="cm">Int</span>, p3<span class="cm">:</span> <span class="cm">Int</span>) &#123;<span>
                </span><span class="cm">if</span> (p0.toString().length &gt; 10 ) &#123;<span>
                    </span>val extString <span class="cm">=</span> <span class="ct">p0?</span>.substring(p0.toString().length-1, p0.toString().length )<span>
                    </span><span class="cm">if</span> (!extString.equals(&quot; &quot;) <span class="cm">&amp;&amp;</span> countTestGreen <span class="cm">==</span> <span class="cl">0</span>) &#123;<span>
                        </span>errorInputLayoutGreen.setErrorTextAppearance(R.style.errorTextFieldGreen)<span>
                        </span>errorInputLayoutGreen.errorIconDrawable <span class="cm">=</span> <span class="cl">null</span><span>
                        </span>errorInputLayoutGreen.error <span class="cm">=</span> &quot;Mensaje de éxito&quot;<span>
                        </span>countTestGreen <span class="cm">++</span><span>
                    </span>&#125;<span>
                </span>&#125; <span class="cm">else</span> &#123;<span>
                    </span>errorInputLayoutGreen.error <span class="cm">=</span> <span class="cl">null</span><span>
                    </span>countTestGreen <span class="cm">=</span> <span class="cl">0</span><span>
                </span>&#125;            &#125;<span>
        </span>&#125;)<span>
</span>&#125;<span></span>
</pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
    <div class="margin-b-70  margin-t-30 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/text fields/textfields.svg" alt="">
    </div>
</section>