<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura y espaciado</h3>
    <h4>Chip de filtro , elección y acción</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/chips/estilo/filtro-eleccion-accion.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60">Chip de entrada</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/chips/estilo/entrada.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-45">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td>Cuerpo 2</td>
                <td>14dp</td>
                <td>Regular</td>
                <td>Centrada</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p>Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row">
        <div class="col-md-6 padding-t-70">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro text-center"
                        src="./assets/img/android-c/chips/estilo/variante-1.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-5"><strong>Chip:</strong> #F9DBED</p>
                    <p class="border-app margin-b-5"><strong>Icono:</strong> #242424</p>
                    <p class="border-app margin-b-5"><strong>Texto:</strong> #333333</p>
                    <p class="border-app"><strong>Eliminar:</strong> #666666</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 padding-t-70">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/chips/estilo/variante-2.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-5"><strong>Chip:</strong> #F2F2F2</p>
                    <p class="border-app margin-b-5"><strong>Icono:</strong> #242424</p>
                    <p class="border-app margin-b-5"><strong>Texto:</strong> #333333</p>
                    <p class="border-app"><strong>Eliminar:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 padding-t-70">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/chips/estilo/variante-3.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-5"><strong>Chip:</strong> #EDE4F2</p>
                    <p class="border-app margin-b-5"><strong>Icono:</strong> #666666</p>
                    <p class="border-app margin-b-5"><strong>Texto:</strong> #333333</p>
                    <p class="border-app"><strong>Eliminar:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 padding-t-70">
            <div class="row justify-content-sm-center">
                <div class="col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-3 order-1 order-sm-1 order-md-0 img-al-centro">
                    <img class="img-fluid imagenes-al-centro"
                        src="./assets/img/android-c/chips/estilo/variante-4.svg" alt="">
                </div>
                <div class="col-10 offset-sm-4 col-sm-8 offset-md-0 col-md-6 order-0 order-sm-0 order-md-1">
                    <p class="margin-b-5"><strong>Chip:</strong> #E4F1F2</p>
                    <p class="border-app margin-b-5"><strong>Icono:</strong> #666666</p>
                    <p class="border-app margin-b-5"><strong>Texto:</strong> #333333</p>
                    <p class="border-app"><strong>Eliminar:</strong> #FFFFFF</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para permitir a los usuarios ingresar información, hacer selecciones, filtrar contenido o activar acciones.
        </p>
        <p>
            Si bien se espera que los botones aparezcan consistentemente y con llamadas a la acción familiares, los chips deben aparecer dinámicamente como un grupo de múltiples elementos interactivos.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p class="margin-t-30">
            <strong>De entrada: </strong>Utiliza este componente para representar la información utilizada en campos como una entidad o atributos diferentes. Ya que estos componentes representan una información compleja en forma compacta, como una entidad
            (persona, lugar o cosa) o texto, también permiten la entrada del usuario y verifican esa entrada convirtiendo el texto en chips.
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong>Si el sistema no reconoce la entrada de texto, los chips de entrada pueden mostrar un estado de error.
        </p>
        <p class="txt-title padding-t-30">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Al añadir múltiples usuarios de correo antes de enviar un email.
        </p>
        <div class="margin-b-80  margin-t-40 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/chips/chips-entrada.svg">
        </div>
        <p class="margin-t-30">
            <strong>De elección: </strong>Utiliza este componente para conjuntos que contengan al menos dos opciones. Los chips de elección permiten la selección de un solo chip dentro de un conjunto de opciones.
        </p>
        <p>
            Los chips de elección delinean claramente y muestran las opciones en un área compacta. Son una buena alternativa para alternar botones, botones de opción y menús de selección única.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Al elegir entre dos tipos de votaciones y accionar el botón consultar.
        </p>
        <div class="margin-b-80  margin-t-40 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/chips/chips-eleccion.svg">
        </div>
        <p class="margin-t-30">
            <strong>De filtro: </strong>Utiliza este componente para filtrar una colección. Los chips de filtro usan etiquetas o palabras descriptivas para filtrar el contenido.
        </p>
        <p>
            Estos componentes delinean claramente y muestran las opciones en un área compacta. Son una buena alternativa para alternar botones o casillas de verificación.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Al depurar una búsqueda por estado y tipo de elección.
        </p>
        <div class="margin-b-80  margin-t-40 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/chips/chips-filtro.svg">
        </div>
        <p class="margin-t-30">
            <strong>De acción: </strong>Utiliza este componente para desencadenar acciones relacionadas con el contenido primario.
        </p>
        <p>
            Estos componentes deben aparecer de forma dinámica y contextual en una interfaz de usuario. Una alternativa a los chips de acción son los botones, que deben aparecer de manera persistente y consistente.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Al seleccionar una acción como “recordar más tarde”.
        </p>
        <div class="margin-b-80  margin-t-40 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/chips/chips-accion.svg">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <p class="margin-t-30">
        <strong>1. </strong>Para agregar este componente y sus variantes a tu aplicación, primero deberás agregar los íconos necesarios. Para esto ubica la carpeta /<strong>drawable. </strong>
    </p>
    <div class="margin-b-60  margin-t-40 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/drawable.svg" alt="">
    </div>
    <p class="tip padding-15 margin-0">
        <strong>Tip:</strong> Puedes conocer la <a class="enlace" [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']">configuración general</a> de un proyecto en el apartado
        Lineamientos Android.
    </p>
    <p class="margin-t-70">
        <strong>2. </strong>En este ejemplo, para agregar el icono pin, agrega el siguiente fichero:
    </p>
    <div class="fw-bold margin-b-20 margin-t-40">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/chips/pin.svg">ic_pin.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('chips-1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="chips-1">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#171717"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M12,2C8.14,2 5,5.14 5,9c0,5.25 7,13 7,13s7,-7.75 7,-13c0,-3.86 -3.14,-7 -7,-7zM12,4c1.1,0 2,0.9 2,2 0,1.11 -0.9,2 -2,2s-2,-0.89 -2,-2c0,-1.1 0.9,-2 2,-2zM12,14c-1.67,0 -3.14,-0.85 -4,-2.15 0.02,-1.32 2.67,-2.05 4,-2.05s3.98,0.73 4,2.05c-0.86,1.3 -2.33,2.15 -4,2.15z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>3. </strong>El siguiente paso es agregar los componentes a tu aplicación. Ubica el fichero <strong>activity_main.xml</strong> dentro de la carpeta /<strong>layout</strong>
    </p>
    <div class="margin-b-60  margin-t-40 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg" alt="">
    </div>
    <p class="margin-t-70">
        <strong>4. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('chips-2')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="chips-2">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;TextView</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"match_parent"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:layout_marginStart=<span class="cl">"20dp"</span><span>
    </span><span class="cm">android</span>:layout_marginTop=<span class="cl">"30dp"</span><span>
    </span><span class="cm">android</span>:layout_marginBottom=<span class="cl">"16dp"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip de filtro, elección y acción"</span><span class="ct"> /&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.chip.Chip</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:layout_marginEnd=<span class="cl">"10dp"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip ejemplo"</span><span>
    </span><span class="cm">app</span>:chipBackgroundColor=<span class="cl">"#f2f2f2"</span><span>
    </span><span class="cm">app</span>:chipEndPadding=<span class="cl">"12dp"</span><span>
    </span><span class="cm">app</span>:chipStartPadding=<span class="cl">"12dp"</span><span class="ct"> /&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.chip.Chip</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"180dp"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:layout_marginStart=<span class="cl">"10dp"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip de ejemplo"</span><span>
    </span><span class="cm">app</span>:chipBackgroundColor=<span class="cl">"#F9DBED"</span><span>
    </span><span class="cm">app</span>:chipEndPadding=<span class="cl">"8dp"</span><span>
    </span><span class="cm">app</span>:chipIcon=<span class="cl">"@drawable/ic_pin"</span><span>
    </span><span class="cm">app</span>:closeIconVisible=<span class="cl">"true"</span><span class="ct"> /&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.chip.Chip</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip ejemplo"</span><span> 
    </span><span class="cm">app</span>:chipBackgroundColor=<span class="cl">"#E4F1F2"</span><span>
    </span><span class="cm">app</span>:chipEndPadding=<span class="cl">"12dp"</span><span>
    </span><span class="cm">app</span>:chipStartPadding=<span class="cl">"12dp"</span><span>
    </span><span class="cm">android</span>:layout_marginEnd=<span class="cl">"10dp"</span><span class="ct">/&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.chip.Chip</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"180dp"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:layout_marginStart=<span class="cl">"10dp"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip de ejemplo"</span><span>
    </span><span class="cm">app</span>:chipBackgroundColor=<span class="cl">"#EDE4F2"</span><span>
    </span><span class="cm">app</span>:chipEndPadding=<span class="cl">"8dp"</span><span>
    </span><span class="cm">app</span>:chipIcon=<span class="cl">"@drawable/ic_pin"</span><span>
    </span><span class="cm">app</span>:closeIconVisible=<span class="cl">"true"</span><span class="ct"> /&gt;</span><span>

</span><span class="ct">&lt;TextView</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"match_parent"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:layout_marginStart=<span class="cl">"20dp"</span><span>
    </span><span class="cm">android</span>:layout_marginTop=<span class="cl">"30dp"</span><span>
    </span><span class="cm">android</span>:layout_marginBottom=<span class="cl">"16dp"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip de entrada"</span><span class="ct"> /&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.chip.Chip</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"180dp"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip de entrada"</span><span>
    </span><span class="cm">app</span>:chipBackgroundColor=<span class="cl">"#f2f2f2"</span><span>
    </span><span class="cm">app</span>:chipEndPadding=<span class="cl">"8dp"</span><span>
    </span><span class="cm">app</span>:chipIcon=<span class="cl">"@drawable/ic_pin"</span><span>
    </span><span class="cm">app</span>:closeIconVisible=<span class="cl">"true"</span><span>
    </span><span class="cm">android</span>:layout_gravity=<span class="cl">"center"</span><span class="ct">/&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.chip.Chip</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"180dp"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip de entrada"</span><span>
    </span><span class="cm">app</span>:chipBackgroundColor=<span class="cl">"#F9DBED"</span><span>
    </span><span class="cm">app</span>:chipEndPadding=<span class="cl">"8dp"</span><span>
    </span><span class="cm">app</span>:chipIcon=<span class="cl">"@drawable/ic_pin"</span><span>
    </span><span class="cm">app</span>:closeIconVisible=<span class="cl">"true"</span><span>
    </span><span class="cm">android</span>:layout_gravity=<span class="cl">"center"</span><span class="ct">/&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.chip.Chip</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"180dp"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip de entrada"</span><span>
    </span><span class="cm">app</span>:chipBackgroundColor=<span class="cl">"#E4F1F2"</span><span>
    </span><span class="cm">app</span>:chipEndPadding=<span class="cl">"8dp"</span><span>
    </span><span class="cm">app</span>:chipIcon=<span class="cl">"@drawable/ic_pin"</span><span>
    </span><span class="cm">app</span>:closeIconVisible=<span class="cl">"true"</span><span>
    </span><span class="cm">android</span>:layout_gravity=<span class="cl">"center"</span><span class="ct">/&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.chip.Chip</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">"180dp"</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">"wrap_content"</span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"Chip de entrada"</span><span>
    </span><span class="cm">app</span>:chipBackgroundColor=<span class="cl">"#EDE4F2"</span><span>
    </span><span class="cm">app</span>:chipEndPadding=<span class="cl">"8dp"</span><span>
    </span><span class="cm">app</span>:chipIcon=<span class="cl">"@drawable/ic_pin"</span><span>
    </span><span class="cm">app</span>:closeIconVisible=<span class="cl">"true"</span><span>
    </span><span class="cm">android</span>:layout_gravity=<span class="cl">"center"</span><span class="ct">/&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-b-60">
        <strong>Nota:</strong> Recuerda que para efectos prácticos puedes usar LinearLayout como contenedor.
    </p>
    <p class="f-20 fw-600">Resultado del componente</p>
    <div class="margin-b-80  margin-t-60 text-center">
        <img class="img-fluid imagenes-al-centro w-400" src="./assets/img/android-c/chips/chips-resultado.jpeg" alt="">
    </div>
</section>