<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <p>El elemento Search representa un campo de datos tipado que normalmente se asocia con un control que permite a los usuarios editar su valor. Este elemento es capaz de proveer muchos tipos diferentes de campos, de acuerdo al valor que presente en el
        atributo type.</p>
    <!--Búsqueda grande-->
    <div class="padding-t-45">
        <div class="row">
            <div class="col-md-4 col-8 col-sm-7 offset-2 offset-md-0">
                <p class="subseccion etiqueta-referencia">Búsqueda grande</p>
                <p class="etiqueta-input">Etiqueta</p>
                <div class="input-group">
                    <input type="text" class="form-control no-border-right" placeholder="Buscar...">
                    <div class="input-group-append">
                        <span class="search-fondo-rosa search-lupa-blanca"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <!--Búsqueda pequeña-->
            <div class="col-md-4 col col-8 col-sm-7 offset-2 offset-md-0 padding-top-30">
                <p class="subseccion etiqueta-referencia">Búsqueda pequeña</p>
                <p class="etiqueta-input">Etiqueta</p>
                <div class="input-group">
                    <input type="text" class="form-control no-border-right" placeholder="Buscar...">
                    <div class="input-group-append">
                        <span class="input-group-text input-group-text-blanco bg-blanco"><i class="fa fa-search color-magenta" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Tipografía</h4>
    <!-- Titulos -->
    <div class="bg-img padding-20">
        <div class="row">
            <div class="col-md-3 col col-sm">
                <p class="">
                    <strong>Elemento</strong>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    <strong>Color</strong>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    <strong>Tamaño</strong>
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    <strong>Peso y estilo</strong>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    <strong>Alineación</strong>
                </p>
            </div>
        </div>
        <!--Etiqueta-->
        <div class="row etiqueta-input">
            <div class="col-md-3 col col-sm">
                <p class="">
                    Etiqueta
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    #666666
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    14px
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
        <!--Texto de entrada-->
        <div class="row text-left margin-t-10">
            <div class="col-md-3 col col-sm">
                <p class="">
                    Texto de entrada
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    #333333
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    16px
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
        <!--Placeholder-->
        <div class="row text-left margin-t-10  placeholder-referencia tamaño-tipografia-14">
            <div class="col-md-3 col col-sm">
                <p class="">
                    Placeholder
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    #B2B2B2
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    16px
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <div class="padding-t-10">
        <div class="row">
            <div class="col-md img-al-centro">
                <p class="subseccion text-left etiqueta-checkbox ">Espaciado</p>
                <p class="subseccion etiqueta-referencia text-left ">Estilo 1</p>
                <img class="img-fluid " src="./assets/img/search/estilo/tamaño-search-estilo1.svg " alt="Medidas para el botón de búsqueda: 45px de ancho y alto, tamaño del ícono 17px por 17px">
            </div>
            <div class="col-md img-al-centro padding-t-40">
                <p class="subseccion etiqueta-referencia text-left ">Estilo 2</p>
                <img class="img-fluid " src="./assets/img/search/estilo/tamaño-search-estilo2.svg " alt="Medidas para el input de búsqueda: 45px de alto, tamaño del ícono 17px por 17px">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md img-al-centro padding-t-60 ">
            <p class="subseccion text-left etiqueta-checkbox ">Espaciado</p>
            <p class="subseccion etiqueta-referencia text-left ">Estilo 1</p>
            <img class="img-fluid " src="./assets/img/search/estilo/espaciado-search-estilo1.svg " alt="El espacio entre el input y el texto buscar debe ser de 15px. El ícono dentro del botón buscar debe ir centrado">
        </div>
        <div class="col-md img-al-centro padding-t-95 ">
            <p class="subseccion etiqueta-referencia text-left ">Estilo 2</p>
            <img class="img-fluid " src="./assets/img/search/estilo/espaciado-search-estilo2.svg " alt="El espacio entre el ícono y el input debe ser de 10px.">
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es un buscador?</h3>
    <p>
        La búsqueda permite a los usuarios especificar una palabra o una frase para encontrar piezas de contenido relevantes particulares sin el uso de la navegación. La búsqueda se puede utilizar como el medio principal para descubrir contenido, o como un filtro
        para ayudar al usuario a encontrar contenido.
    </p>
    <h4 class="titulos-elementos padding-t-50">Búsqueda grande</h4>
    <p>
        Esto debe usarse a nivel global, cuando el usuario está buscando contenido dentro de una vista de página
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Ingresas a la página del Instituto y deseas encontrar toda la información respecto a la votación en el extranjero, ingresa una frase en el buscador respecto al tema y se filtrará la información respecto a este.
    </p>
    <div class="img-al-centro">
        <img class="img-fluid" src="./assets/img/search/usos/uso-1.svg" alt="Ilustración de un buscador en el header de un sitio">
    </div>
    <h4 class="titulos-elementos padding-t-50">Búsqueda pequeña</h4>
    <p>
        Elija pequeño cuando haya limitaciones de espacio en su diseño. También puede ser componente específico
    </p>

    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        La búsqueda pequeña se puede utilizar para filtrar datos dentro de una tabla de datos.
    </p>
    <div class="img-al-centro">
        <img class="img-fluid" src="./assets/img/search/usos/uso-2.svg" alt="Ilustración de un buscador dentro del contenido del sitio">
    </div>
</section>
<!--Sección Codigo-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Search</h3>
    <div class="padding-t-60">
        <div class="row justify-content-center">
            <div class="col-md-4 col-md-4 col-7 img-al-centro">
                <div class="input-group">
                    <input type="text" class="form-control no-border-right" placeholder="Buscar...">
                    <div class="input-group-append">
                        <span class="search-fondo-rosa search-lupa-blanca"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25 margin-t-60">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('search-s')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="search-s">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group"</span><span>></span>
    <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"text"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control no-border-right"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"Buscar..."</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-append"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"search-fondo-rosa search-lupa-blanca"</span><span>></span>
            <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-search"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
        <span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-md-4 padding-t-50 col-7 img-al-centro">
                <div class="input-group">
                    <input type="text" class="form-control no-border-right" placeholder="Buscar...">
                    <div class="input-group-append">
                        <span class="input-group-text bg-blanco"><i class="fa fa-search color-magenta" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25 margin-t-60">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('search-pequeña')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="search-pequeña">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group"</span><span>></span>
    <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"text"</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control no-border-right"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"Buscar..."</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-append"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-text bg-blanco"</span><span>></span>
            <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-search color-magenta"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
        <span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
</section>