<nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion">
    <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0  fw-400">
            <li class="nav-item padding-l-15 padding-r-15 " [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos']" [ngClass]="{'active' : seccion =='inventario-de-contenidos'}">
                <a class="nav-link padding-top-3 padding-top-0">Inventario de contenidos</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/etiquetado']" [ngClass]="{'active' : seccion =='etiquetado'}">
                <a class="nav-link">Etiquetado</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/taxonomias']" [ngClass]="{'active' : seccion =='taxonomias'}">
                <a class="nav-link ">Taxonomías</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/lenguaje-controlado']" [ngClass]="{'active' : seccion =='lenguaje-controlado'}">
                <a class="nav-link padding-top-3 padding-top-0">Lenguaje controlado</a>
            </li>
        </ul>
    </div>
</nav>
<section *ngIf="seccion=='inventario-de-contenidos'">
    <h3 class="padding-t-30">¿Qué es un inventario de contenido?</h3>
    <p>
        Se basa en la revisión de todo el contenido con el que trabajaremos, ya sea un nuevo desarrollo o una nueva versión, la información tendrá que ser categorizada y clasificada, pero para que esto suceda debemos tener claro cuáles serán los niveles de navegación
        por los que tendrá que pasar el usuario para llegar a cierto contenido, con qué disponemos y lo más importante, la cantidad de información que tendrá todo nuestro producto.
    </p>
    <h3 class="padding-t-30">¿Cuándo usarlo?</h3>
    <p>
        Debemos ser claros cuando comencemos a agrupar información, una buena idea es cuestionarnos el porqué debería ir o no en cierto apartado y si es necesario crear una nueva página o liga para contener más información. Es común que se comience a categorizar
        sin haber analizado la información, creando apartados innecesarios que aparentan ser otro tipo de contenidos y que habitan en otro lugar. La lógica de organización que apliquemos en el inventario debe estar justificada y tenemos que evitar errores
        de intención.
    </p>
    <p>
        El inventario será útil en cualquier etapa del proyecto, incluso una vez finalizado, se puede mostrar como un entregable tangible de todo aquello que aparentaría no estar en el sitio, página o sistema pero que habita en algún nivel. El equipo de trabajo
        podrá estarse alimentando del inventario y reorganizar los apartados las veces que sea necesario.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/organizacion/inventario-contenido.svg" alt="Inventario de contenidos">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tu inventario de contenido</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/organizacion/ArqTec_OrganizacionInventario-Contenido.doc" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='etiquetado'">
    <h3 class="padding-t-30">¿Qué son los etiquetados?</h3>
    <p>
        Un sistema de lenguaje o iconos claros, palabras que son comprensibles, donde los términos especializados son para aquellos usuarios que los encuentran familiares. El uso de sinónimos, de sintaxis, un glosario o tooltips son herramientas muy útiles para
        crear dinamismo en el diseño del producto y además beneficia a la comprensión de ciertas etiquetas. Es importante no olvidar dar granularidad al lenguaje y hacer de lo complejo algo sencillo.
    </p>
    <h3 class="padding-t-30">¿En dónde aplicarlos?</h3>
    <p>
        Se enlistan algunos elementos donde será de mucha utilidad aplicar un sistema de etiquetado:
    </p>
    <ul>
        <dd>* En títulos o encabezados</dd>
        <dd>* Menús de navegación</dd>
        <dd>* Enlaces conceptuales</dd>
        <dd>* Indización (palabras clave, metadatos, taxonomía y lenguajes controlados)</dd>
    </ul>
    <p>
        Cuando se trabaje esta parte, habrá que verlo como un sistema o un conjunto de etiquetados o rotulación y no como partes individuales, de esta manera será coherente y existirá sentido de pertenencia a lo largo del producto.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/organizacion/etiquetado.svg" alt="Etiquetado">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tu sistema de etiquetado.</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/organizacion/ArqTec_OrganizacionEtiquetado.doc" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='taxonomias'">
    <h3 class="padding-t-30">¿Qué son las taxonomías?</h3>
    <p>
        Es la definición de las conexiones existentes entre el usuario y la información, sí previamente ya hemos hablado de las técnicas que requeriremos para comenzar a definir las navegaciones, para este momento ya tenemos que dejar en claro cuáles y cuántos
        serán los sistemas que necesitaremos ocupar en el sitio. Básicamente tenemos tres sistemas que nos ayudan a que los usuarios sepan en dónde están, a dónde pueden ir y cómo regresar a cierto punto dentro del sitio.
    </p>
    <h3 class="padding-t-30">¿Cuándo aplicarlo?</h3>
    <p>
        Al momento de definir los flujos o caminos que existirán en el producto digital. Cualquier posibilidad que tenga el usuario para recorrer el sitio será necesario definirlo dentro de un esquema de navegación.
    </p>
    <ul>
        <dd>* Reproductibilidad </dd>
        <dd>* Exhaustivos</dd>
        <dd>* Objetivos</dd>
        <dd>* Útiles</dd>
    </ul>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10">
                <img class="img-fluid margin-l-20" src="./assets/img/UX/organizacion/taxonomia.svg" alt="Taxonomías">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tu sistema de taxonomías.</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/organizacion/ArqTec_OrganizacionTaxonomias.doc" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='lenguaje-controlado'">
    <h3 class="padding-t-30">¿Qué es un lenguaje controlado?</h3>
    <p>
        Es una manera correcta de acompañar al usuario es una búsqueda útil y funcional de términos o palabras.
    </p>
    <h3 class="padding-t-30">¿Cuándo aplicarlo?</h3>
    <p>
        Cuando necesitemos tener un conjunto cerrado de términos que sean los más representativos y significativos para los usuarios provenientes de la especialización del tema del producto central, para ello podemos apoyarnos de tesauros y o de la ontología.
    </p>
    <ul>
        <li type="disc">
            <p>
                Tesauro: Es el lenguaje documental que habita en una estructura de términos normalizados y de carácter especializado que mejora la comunicación efectiva entre el usuario y el sistema de búsqueda.
            </p>
        </li>
        <li type="disc">
            <p>
                Ontología: Un estudio más profundo de los conceptos que habitan en un conjunto y las relaciones que existen entre ellos, podríamos decir que la Ontología es la madre de los tesauros donde existe la coherencia, estandarización.
            </p>
        </li>
    </ul>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/organizacion/lenguaje-controlado.svg" alt="Lenguaje controlado">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tu sistema de lenguaje controlado.
                </p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/organizacion/ArqTec_OrganizacionVocabulario-Controlado.doc" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>