@import './src/sass/_variables.scss';
.encabezado-buscador {
    background-image: linear-gradient(to right, #E149A4, #B7006D);
    color: $cBlanco;
}

.menu-componentes-ux {
    list-style: none!important;
}

.menu-componentes-ux li::before {
    content: none;
}

.menu-componentes-ux li a {
    color: var(--txt-color-ul-li);
}

.menu-componentes-ux li a:hover {
    font-weight: 600;
    color: var(--txt-color-ul-li);
}

.dark {
    background: var(--bg-menu-izq);
}

.mode-dark {
    background: var(--bg-menu-izq);
}

.card-header.resultado {
    color: var(--txt-result-ul);
    background: var(--bg-menu-izq);
}

.card-header.resultado.collapsed {
    color: var(--txt-color-ul-li);
    .fw {
        font-weight: 400;
    }
    background: var(--bg-menu-izq);
}

.menu-componentes-ux li a:hover {
    color: var(--txt-color-ul-li);
    text-decoration: none;
}

.menu-componentes-ux li a:active {
    color: $cNegro;
    font-weight: 600;
    text-decoration: none;
}

.list-group-item {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    color: $cNegro;
    width: 100%;
    border-radius: unset;
    border-color: var(--border-menu-izq);
}

.list-group-item.active {
    background-color: var(--bg-li-active);
    font-weight: 600;
}

.list-group-item:first-child {
    border-top: none;
}

.menu-componentes-ux li.active a.active {
    font-weight: 600;
    color: $cMagenta;
    background-color: #FCECF4;
}

.li-activo {
    font-weight: 800;
    color: $cNegro;
}

.let:first-letter {
    text-transform: uppercase;
}

.sombra-menu {
    -webkit-box-shadow: 10px 10px 20px 0px rgba(128, 115, 128, 1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(128, 115, 128, 1);
    box-shadow: 0px -2px 2px 1px var(--border-box-shadow);
}

#sidebar-toggle {
    display: none;
}

.min-size {
    min-height: 597px;
}

.size {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

@media (max-width: 767px) {
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #fff;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    .padding-top-50 {
        padding-top: 50px;
    }
    .margin-0 {
        margin: 0px;
    }
    .settings {
        box-sizing: border-box;
        height: 100vh;
    }
    .sidebar-ul {
        height: 60vh;
    }
    .padding-t-113 {
        padding-top: 64px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #fff;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .padding-top-50 {
        padding-top: 90px;
    }
    .padding-t-113 {
        padding-top: 64px;
    }
}

@media (min-width: 992px) {
    .padding-center {
        padding-left: 25%;
    }
    .nav-borde {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
    //Marco arriba
    .menu-arriba {
        top: -186px;
        background: #fff;
    }
    .scroll-menu {
        position: fixed;
        width: 24%;
    }
    .change {
        height: 60vh;
    }
}

.paddin-imagen {
    right: 0%;
    width: 14.5rem;
}

@media (min-width: 1500px) {}