<div class="container-fluid">
    <div class="row">
        <div class="dark col-md-4 col-lg-3 menu-lateral sombra-menu settings accordion" id="sidebar" [ngClass]="{'open-sidebar' : abierto }">
            <ul class="menu-componentes-ux scroll-menu padding-l-0 padding-r-25 change mrgn" [ngClass]="{'active': this._globalService.wsMenuLateral > 0}">
                <!--Investigación de Usuarios-->
                <div>
                    <div class="card-header resultado collapsed padding-t-20 padding-b-20 acordion" id="ComponentsMenu" data-toggle="collapse" data-target="#collapseInvestigacion" aria-expanded="true" aria-controls="collapseInvestigacion">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-16 fw clr">
                                    Investigación de Usuarios
                                </h5>
                            </div>
                            <div class="col-md-2 text-right clr">
                                <i class="fa fa-angle-up fa-lg transicion"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseInvestigacion" class="collapse" aria-labelledby="ComponentsMenu" data-parent=".accordion">
                        <li class="mode-dark list-group-item fw-400 border-sidebar" [ngClass]="{'active' : tipo =='entrevistas'}"><a [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno'] || ['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/contextuales']">Entrevistas</a></li>
                        <li class="mode-dark list-group-item fw-400" [ngClass]="{'active' : tipo =='perfiles'}"><a [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/perfiles/protopersonas']">Perfiles</a></li>
                    </div>
                </div>
                <!--Arquitectura de Información-->
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="resultadoMenu" data-toggle="collapse" data-target="#collapseArquitectura" aria-expanded="false" aria-controls="collapseArquitectura">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-16 fw clr">
                                    Arquitectura de Información
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseArquitectura" class="collapse" aria-labelledby="resultadoMenu" data-parent=".accordion">
                        <li class="mode-dark list-group-item fw-400 border-sidebar" [ngClass]="{'active' : tipo =='organización'}"><a [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos']">Organización</a></li>
                        <li class="mode-dark list-group-item fw-400" [ngClass]="{'active' : tipo =='estructura'}"><a [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/estructura/card-sorting']">Estructura</a></li>
                    </div>
                </div>
                <!--Diseño de Interfaz-->
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="DisenoInterMenu" data-toggle="collapse" data-target="#collapseDiseno" aria-expanded="false" aria-controls="collapseDiseno">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-16 fw clr">
                                    Diseño de Interfaz
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseDiseno" class="collapse" aria-labelledby="DisenoInterMenu" data-parent=".accordion">
                        <li class="mode-dark list-group-item fw-400 border-sidebar" [ngClass]="{'active' : tipo =='storyboard'}"><a [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/storyboard/que-es']">Storyboard</a></li>
                        <li class="mode-dark list-group-item fw-400 border-sidebar" [ngClass]="{'active' : tipo =='prototipado'}"><a [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/prototipado/wireframe']">Prototipado</a></li>
                        <li class="mode-dark list-group-item fw-400" [ngClass]="{'active' : tipo =='calidad de Interfaz'}"><a [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/calidad-de-interfaz/que-son']">Calidad de Interfaz</a></li>
                    </div>
                </div>
                <!--Métricas-->
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="metricasMenu" data-toggle="collapse" data-target="#collapseMetricas" aria-expanded="false" aria-controls="collapseMetricas">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-16 fw clr">
                                    Mejora Continua
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseMetricas" class="collapse" aria-labelledby="metricasMenu" data-parent=".accordion">
                        <li class="mode-dark list-group-item fw-400 border-sidebar" [ngClass]="{'active' : tipo =='pruebas'}"><a [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad']">Pruebas</a></li>
                        <li class="mode-dark list-group-item fw-400" [ngClass]="{'active' : tipo =='métricas'}"><a [routerLink]="['/experiencia-de-usuario/mejora-continua/metricas/analisis-de-metricas']">Métricas
                        </a></li>
                    </div>
                </div>
                <div>
                    <div class="card-header resultado transicion collapsed padding-t-20 padding-b-20 acordion" id="optimizacionMenu" data-toggle="collapse" data-target="#collapseOptimizacion" aria-expanded="false" aria-controls="collapseOptimizacion">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="mb-0 f-16 fw clr">
                                    Optimización
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <i class="fa fa-angle-up fa-lg transicion clr"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOptimizacion" class="collapse" aria-labelledby="optimizacionMenu" data-parent=".accordion">
                        <li class="mode-dark list-group-item fw-400 border-sidebar" [ngClass]="{'active' : tipo =='protocolo Open Graph'}"><a [routerLink]="['/experiencia-de-usuario/optimizacion/open-graph/que-es']">Open Graph</a></li>
                        <li class="mode-dark list-group-item fw-400 border-sidebar" [ngClass]="{'active' : tipo =='buenas Prácticas: URL'}"><a [routerLink]="['/experiencia-de-usuario/optimizacion/buenas-practicas/que-es']">Buenas Prácticas URL</a></li>
                        <li class="mode-dark list-group-item fw-400 border-sidebar" [ngClass]="{'active' : tipo =='placeholder'}"><a [routerLink]="['/experiencia-de-usuario/optimizacion/placeholder/que-es']">Placeholder</a></li>
                        <li class="mode-dark list-group-item fw-400" [ngClass]="{'active' : tipo =='favicon'}"><a [routerLink]="['/experiencia-de-usuario/optimizacion/favicon/que-es']">Favicon</a></li>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-md-12 col-lg-9 trans-3">
            <div class="row encabezado-buscador padding-t-113">
                <div class="container">
                    <img class="position-absolute paddin-imagen img-responsive" alt="BG-UX" src="./assets/img/menu/bg-UX.png">
                </div>
                <div class="offset-1 text-left position-relative padding-r-40 size">
                    <h2 class="let">{{tipo}}</h2>
                    <p class="margin-0 f-18">
                        {{informacion}}
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-10 offset-lg-1 min-size margin-b-60 margin-t-80">
                <app-entrevistas [seccion]="seccion " *ngIf="tipo=='entrevistas' "></app-entrevistas>
                <app-perfiles [seccion]="seccion " *ngIf="tipo=='perfiles' "></app-perfiles>
                <app-estructura [seccion]="seccion " *ngIf="tipo=='estructura' "></app-estructura>
                <app-organizacion [seccion]="seccion " *ngIf="tipo=='organización' "></app-organizacion>
                <app-pruebas [seccion]="seccion " *ngIf="tipo=='pruebas' "></app-pruebas>
                <app-metricas [seccion]="seccion " *ngIf="tipo=='métricas' "></app-metricas>
                <app-prototipado [seccion]="seccion " *ngIf="tipo=='prototipado' "></app-prototipado>
                <app-escenario *ngIf="tipo=='storyboard' "></app-escenario>
                <app-calidad-de-interfaz *ngIf="tipo=='calidad de Interfaz' "></app-calidad-de-interfaz>
                <app-experiencia-usuario *ngIf="tipo=='experiencia de Usuario - UX' "></app-experiencia-usuario>
                <app-open-graph *ngIf="tipo == 'protocolo Open Graph'"></app-open-graph>
                <app-buenas-practicas-url *ngIf="tipo == 'buenas Prácticas: URL'"></app-buenas-practicas-url>
                <app-placeholder *ngIf="tipo == 'placeholder'"></app-placeholder>
                <app-favicon *ngIf="tipo == 'favicon'"></app-favicon>
            </div>
        </div>
    </div>