<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <div class="padding-t-30">
        <div class="justify-content-center">
            <ngb-pagination [collectionSize]="70" [(page)]="pagesss" class="paginacion-ine" aria-label="Default pagination"></ngb-pagination>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-md-3">
            <div class="padding-t-30">
                <p class="texto-elementos margin-0">
                    <strong>Aa</strong> <span class="padding-l-20">#000000</span>
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-magenta"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #B7006D
                </p>
            </div>
            <div class="padding-t-10">
                <hr class="linea-border border-t-grisOscuro2-2 flotar-izq">
                <p class="texto-elementos padding-l-40">
                    #F2F2F2
                </p>
            </div>
        </div>
        <div class="col-4 col-md-4">
            <div class="padding-t-30">
                <hr class="linea-border border-t-grisOscuro2-2 flotar-izq">
                <p class="texto-elementos padding-l-40 margin-0">
                    #F2F2F2
                </p>
            </div>
            <div class="padding-t-10">
                <p class="flotar-izq color-magenta"><strong>«»</strong></p>
                <p class="texto-elementos padding-l-40 margin-0">
                    #B7006D
                </p>
            </div>
        </div>
    </div>

    <h4 class="titulos-elementos padding-t-50 margin-b-30">Tipografía</h4>
    <!-- Titulos -->
    <div class="table-responsive-sm table-responsive-md margin-b-60 bg-img">
        <table class="web">
            <tr>
                <th>Elemento</th>
                <th>Color</th>
                <th>Tamaño</th>
                <th>Peso y estilo</th>
                <th>Alineación</th>
            </tr>
            <tr class="etiqueta-input">
                <td>Número de página</td>
                <td>#333333</td>
                <td>16px</td>
                <td>Font-weight:400</td>
                <td>Text-align:center</td>
            </tr>
            <tr class="f-16 tamaño-tipografia-14">
                <td>Número de página activa</td>
                <td>#FFFFFF</td>
                <td>16px</td>
                <td>Font-weight:400</td>
                <td>Text-align:center</td>
            </tr>
            <tr class="f-16 txt-title tamaño-tipografia-14">
                <td> «»</td>
                <td>#B7006D</td>
                <td>16px</td>
                <td>Font-weight:400</td>
                <td>Text-align:center</td>
            </tr>
        </table>
    </div>
    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <!--Estructura-->
    <div class="padding-t-10">
        <div class="row">
            <div class="col-md-6">
                <p class="subseccion etiqueta-referencia text-left">Paginación uno a uno</p>
                <div class="imagen-al-centro">
                    <img class="img-fluid " src="./assets/img/paginacion/Estilo/estructura-unouno.svg " alt="Medidas para la paginación uno a uno: alto 45px, ancho de cada numeración 45px, ancho del componente 135px">
                </div>
            </div>
            <div class="col-md-6 padding-top-50">
                <p class="subseccion etiqueta-referencia text-left ">Paginación larga</p>
                <div class="imagen-al-centro">
                    <img class="img-fluid " src="./assets/img/paginacion/Estilo/estructura-larga.svg " alt="Medidas para la paginación larga: alto 45px, ancho de cada numeración 45px, ancho del componente depende del número de páginas.">
                </div>
            </div>
        </div>
        <div class="padding-t-20 padding-top-50">
            <p class="subseccion etiqueta-referencia text-left ">Paginación sencilla</p>
            <div class="imagen-al-centro">
                <img class="img-fluid " src="./assets/img/paginacion/Estilo/estructura-sencilla.svg " alt="Medidas para la paginación sencilla: alto y ancho 45px">
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Espaciado</h4>
    <!--Estructura-->
    <div class="row padding-t-20">
        <div class="col-md-6">
            <p class="subseccion etiqueta-referencia">Paginación larga</p>
            <div class="imagen-al-centro">
                <img class="img-fluid " src="./assets/img/paginacion/Estilo/espaciado-larga.svg " alt="Espaciado para la paginación larga: entre los íconos y la numeración 15px ">
            </div>
        </div>
        <div class="col-md-6 padding-top-50">
            <p class="subseccion etiqueta-referencia">Paginación sencilla</p>
            <div class="imagen-al-centro">
                <img class="img-fluid " src="./assets/img/paginacion/Estilo/espaciado-sencilla.svg " alt="Espaciado entre íconos para la paginación sencilla 15px">
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">Paginación</h3>
    <div class="padding-t-15">
        <p>
            Este componente hace referencia al número de páginas que normalmente se muestra en la parte inferior y ayuda a la correcta visualización y accesibilidad de los elementos. Además, sirve para separar el contenido y facilitar la navegación, ayudando
            a la localización de nuestros contenidos.
        </p>
        <p>
            Es útil cuando debamos mostrar páginas de resultados y el usuario deba navegar entre ellas para saber en dónde está ubicado.
        </p>
        <p class="padding-t-30">
            <strong>Paginación uno a uno:</strong> Compuesto por un máximo de tres páginas, donde el usuario pueda navegar visiblemente entre las tres opciones.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Compuesto por un máximo de tres páginas, el usuario puede navegar visiblemente entre cada una de ellas.
        </p>
        <div class="align-items-center padding-b-30 padding-t-30 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/paginacion/Usos/uso-1.svg" alt="Ilustración de una paginación uno a uno">
        </div>
        <p class="padding-t-30">
            <strong>Paginación larga:</strong> Este componente muestra los resultados cercanos a la ubicación exacta del usuario, además incluye controladores de navegación (atrás y siguiente) que le permiten saltar de bloque en bloque, cuando los
            resultados son excesivos y, por lo tanto, el número de páginas existentes es variable.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            En el sistema de Primera Capacitación, se solicita un reporte acerca de los ciudadanos que han sido notificados como funcionarios de casilla. Después de filtrar la información, se muestra un listado de 650 resultados. Utiliza una paginación larga
            para permitir el libre control de la navegación al usuario.
        </p>
        <div class="align-items-center padding-b-30 padding-t-30 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/paginacion/Usos/uso-2.svg" alt="Ilustración de una paginación larga">
        </div>
        <p class="padding-t-30">
            <strong>Paginación sencilla:</strong> Utiliza este componente cuando estés seguro que tus resultados no serán variables y que dispondrás únicamente de dos páginas, por lo tanto, sólo harás uso de los controladores (
            <>).
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Se solicita la información de los funcionarios de casilla de la sección 546, del Distrito 15 de la CDMX. Se sabe que serán 21 resultados, por lo tanto, usarás una paginación sencilla que facilite la búsqueda a los usuarios.
        </p>
        <div class="align-items-center padding-b-30 padding-t-30 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/paginacion/Usos/uso-3.svg" alt="Ilustración de una paginación sencilla">
        </div>
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Paginación</h3>
    <h4 class="titulos-elementos padding-t-20 padding-b-20">
        Paginación uno por uno
    </h4>
    <div class="row justify-content-center tamaño">
        <ngb-pagination [collectionSize]="30" [(page)]="paginacion-uno-por-uno" class="paginacion-ine-uno-por-uno" [directionLinks]="false"></ngb-pagination>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-30">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('paginacion-uno-por-uno')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5"
                    aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="paginacion-uno-por-uno">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">ngb-pagination</span><span class="ca4"> [collectionSize]</span><span>=</span><span class="cn">"30"</span><span class="ca4"> [<span class="cam">(</span>page<span class="cam">)</span>]</span><span>=</span><span class="cn">"paginacion-uno-por-uno"</span><span class="ca4"> class</span><span>=</span><span class="cn">"paginacion-ine-uno-por-uno"</span><span class="ca4"> [directionLinks]</span><span>=</span><span class="cn">"false"</span><span>></span><span><</span><span>/</span><span class="ca5">ngb-pagination</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <div class="padding-t-60">
        <h4 class="titulos-elementos padding-t-20 padding-b-20">
            Paginación larga
        </h4>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="70" [(page)]="paginacion-larga" class="paginacion-ine" aria-label="Default pagination"></ngb-pagination>
        </div>
        <div class="jumbotron jumbotron-fluid margin-t-30">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('paginacion')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="paginacion">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">ngb-pagination</span><span class="ca4"> [collectionSize]</span><span>=</span><span class="cn">"70"</span><span class="ca4"> [<span class="cam">(</span>page<span class="cam">)</span>]</span><span>=</span><span class="cn">"paginacion-larga"</span><span class="ca4"> class</span><span>=</span><span class="cn">"paginacion-ine"</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"Default pagination"</span><span>></span><span><</span><span>/</span><span class="ca5">ngb-pagination</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <div class="padding-t-60">
        <h4 class="titulos-elementos padding-t-20 padding-b-20">
            Paginación sencilla
        </h4>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="false" [(page)]="paginacion-sencilla" class="paginacion-ine" aria-label="Default pagination"></ngb-pagination>
        </div>
        <div class="jumbotron jumbotron-fluid margin-t-30">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('paginacion-sencilla')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5"
                        aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="paginacion-sencilla">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">ngb-pagination</span><span class="ca4"> [collectionSize]</span><span>=</span><span class="cn">"false"</span><span class="ca4"> [<span class="cam">(</span>page<span class="cam">)</span>]</span><span>=</span><span class="cn">"paginacion-sencilla"</span><span class="ca4"> class</span><span>=</span><span class="cn">"paginacion-ine"</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"Default pagination"</span><span>></span><span><</span><span>/</span><span class="ca5">ngb-pagination</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
</section>