h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
}

/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .tamaño-tipografia-14 {
        font-size: 14px;
    }
    .padding-top-50 {
        padding-top: 50px;
    }
    .padding-left-0 {
        padding-left: 0px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .imagen-al-centro {
        text-align: center;
    }
    .padding-top-50 {
        padding-top: 50px;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}