<div class="row">
  <div class="col-md-12 col-lg-10 offset-lg-1 margin-b-80 margin-t-80">
    <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion">
      <div class="collapse navbar-collapse text-center border-nav scroll-nowprap
        margin-b-60"
        id="navbarTogglerDemo02 menu-wrapper">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-colaboracion/acerca-de']"
            [ngClass]="{'active' : seccion =='acerca-de'}">
            <a class="nav-link">Acerca de</a>
          </li>
          <li class="nav-item padding-l-15 padding-r-15"
            [routerLink]="['/documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-colaboracion/configurar-sitio']"
            [ngClass]="{'active' : seccion =='configurar-sitio'}">
            <a class="nav-link">Configurar sitio</a>
          </li>
        </ul>
      </div>
    </nav>
  


<section *ngIf="seccion=='acerca-de'">
  <h3 class=" margin-b-0 padding-b-30  titulo">¿Qué es?</h3>
  <p class="padding-b-30">Un sitio de Colaboración o grupo de SharePoint sirve para trabajar en un proyecto específico y compartir información solo a los miembros del grupo.</p>
<h3 class="padding-b-30 tx">Entre los usos cotidianos que resuelven están:</h3>
<div class="fondoG4 padding-b-40">
  <ul>
    <li>Crear una biblioteca de documentos predeterminada para los archivos.</li>
    <li>Lista de administración de datos elementos web que puedan personalizar los integrantes del equipo.</li>
    <li>Un grupo de páginas web relacionadas.</li>
    <li>Organizar y crear en coautoría contenido compartido.</li>
    <li>Conectar a un grupo Microsoft 365 para obtener acceso a los recursos del equipo.</li>
  </ul>
</div>
<h3 class="titulo margin-t-50 padding-b-20">¿Cuándo usar un sitio de grupo o colaboración?</h3>
<p class="padding-b-30">Cuando se desee colaborar con otros miembros de su equipo o con otros usuarios en un proyecto específico en un grupo cerrado. La mayoría o todos los miembros pueden contribuir aportando contenido al sitio y solo pueden ver la información los miembros del proyecto, así como determinadas partes interesadas.</p>


<h3 class="titulo padding-t-40  padding-b-20">Vista Previa </h3>
<hr class="line">
<div id="carouselExampleIndicators" class="carousel slide"
        data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0"
            class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/img/colaboracion/colaboracion-1.jpg"
                alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/colaboracion/colaboracion-2.jpg"
                alt="Second slide">
            </div>

        </div>
   </div>


<h3 class="tx padding-b-20 margin-t-20">Referencia</h3>



<div class="fondoG4"><li><a class=" subrayados " href="https://xd.adobe.com/view/448932d9-4cf4-4b08-92a9-a4b28c78d8c9-11da/screen/edbd0825-8f86-4b7d-98f0-09327d948365/specs/">Prototipo</a></li></div>

</section>


<section *ngIf="seccion=='configurar-sitio'">

<h3 class="titulo margin-t-10 padding-b-10">Pasos para configurar un sitio SharePoint de Colaboración</h3>
<p class="padding-b-40">Un sitio de Colaboración de SharePoint permite difundir información masiva a otros usuarios, compartir noticias, informes y actualizaciones, con un conjunto predeterminado de elementos web.</p>
<hr class="padding-b-40 line ">


<h3 class="tx padding-b-40 margin-t-20">1. Nombrar el sitio de grupo o colaboración.</h3>
<hr class="line padding-b-40 ">

<h3 class="tx padding-b-30">2. Conoce los Lineamientos de sitios SharePoint del Instituto para sitios de Colaboración.</h3>
<p class="padding-b-10">Utiliza estos Lineamientos para mejorar la comunicación y colaboración de la información en tus equipos de trabajo del Instituto.</p>
<div class="bg-img padding-b-10 margin-t-20">
  <div class="row">
    <div class="col-md-4 padding-t-10 text-center">
      <img class="img-fluid" src="assets/img/lineamientos-share/descarga-lineamientos.svg" alt="lineamientos-share">
  </div>
  <div class="col-md-8 padding-t-30">
    <p class="txt-title f-20 fw-500">Descarga los lineamientos</p>
    <p>Mejora tu sitio de SharePoint.</p>
          <div class="boton-al-centro">
            <a href="./assets/docs/lineamientos-share/Lineamientos_Sitios_Colaboración_SharePoint (1).pdf" download>
              <button class="btn btn_rosa_ine padding-l-50 padding-r-50">  <i class="fa fa-download padding-r-15"></i>Descargar lineamientos
                </button>
                </a>
          </div>
      </div>
    </div>

  

</div>
<hr class="padding-b-30 margin-t-50  line">
<h3 class="tx padding-b-30 ">3. Identificar la estructura del sitio.</h3>
<p class="padding-b-40 ">Es importante conocer la estructura de un sitio de un sitio de Comunicación porque es la base o contenedor donde colocaremos componentes más complejos.</p>


<div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class=" f-20 fw-500">Suitebar</p>
      </div>
      <div class="col-md-6 padding-b-20 ">
        <img src="assets/img/lineamientos-share/suitebar.svg" alt="">
  
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <p class=" f-20 fw-500">Encabezado</p>
      </div>
      <div class="col-md-6  padding-b-20 ">
        <img src="assets/img/lineamientos-share/encabezado.svg" alt="">
  
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-md-6">
        <p class=" f-20 fw-500">Navegación (menú superior)</p>
      </div>
      <div class="col-md-6  padding-b-20 ">
        <img src="assets/img/lineamientos-share/navegacion.svg" alt="">
  
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <p class=" f-20 fw-500">Contenido de página</p>
      </div>
      <div class="col-md-6  padding-b-20 ">
        <img src="assets/img/lineamientos-share/contenido-destacado.svg" alt="">
  
      </div>
    </div>
  </div>

<hr class="line padding-b-30">





<h3 class="tx padding-b-30 margin-t-20 ">4. Agregar elementos web básicos en el sitio.</h3>
<p class="padding-b-20">En los sitios SharePoint puedes agregar elementos web (web parts), que son componentes básicos con los cuales construirás tu sitio. Estos componentes podrás configurarlos dependiendo de las necesidades de tu sitio. Te mostramos los más usados en el Instituto:</p>


<div class="container">
  <div class="row">
    <div class="col-md-6 padding-b-30 margin-t-30">
      <p class="  "><strong class="texto">Héroe:</strong> Es una manera de atraer el enfoque y el interés visual a una página. Se pueden mostrar hasta cinco elementos en el elemento web Hero y usar imágenes, texto y vínculos atractivos para llamar la atención sobre cada uno.</p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/heroe.svg" alt="">

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padding-b-30">
      <p class="  "> <strong class="texto">Botón:</strong>  Agrega fácilmente un botón a tu página con su propia etiqueta y vínculo.</p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/boton.svg" alt="">

    </div>
    


  </div>
  <div class="row">
    <div class="col-md-6 padding-b-30">
      <p class="  "><strong class="texto">Llamado a la acción: </strong> Crea un botón con una llamada a la acción para los usuarios.  </p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/llamado-a-la-accion.svg" alt="">

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padding-b-30">
      <p class="  "> <strong class="texto">Contador regresivo:</strong>   Muestra una cuenta regresiva (o un conteo ascendente) hasta un evento. </p>
    </div>
    <div class="col-md-6  padding-b-20 ">
      <img src="assets/img/lineamientos-share/contador-regresivo.svg" alt="">

    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 padding-b-30">
    <p class="  "> <strong class="texto">Divisor:</strong>   Inserta una línea entre otros elementos web para ayudar a dividir la página y facilitar su lectura. </p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/divisor.svg" alt="">

  </div>
</div>

<div class="row">
  <div class="col-md-6 padding-b-30">
    <p class="  "> <strong class="texto">Biblioteca de documentos:</strong> Muestra una biblioteca de documentos y personalízala con tu propio título, vista e incluso tamaño.  </p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/biblioteca-medios.svg" alt="">

  </div>
</div>

<div class="row">
  <div class="col-md-6 padding-b-30">
    <p class="  ">  <strong class="texto">Contenido destacado:</strong> Muestra dinámicamente el contenido según el tipo de contenido (documentos, páginas, noticias, videos, imágenes, etc.), filtrado o una cadena de búsqueda.  </p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/contenido-destacado.svg" alt="">

  </div>
</div>

<div class="row">
  <div class="col-md-6 padding-b-30">
    <p class="  "> <strong class="texto">Imagen:</strong> Inserta una imagen en la página, ya sea desde su sitio, su OneDrive o su disco duro.</p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/imagen.svg" alt="">

  </div>
</div>
<div class="row">
  <div class="col-md-6 padding-b-30">
    <p class="  ">  <strong class="texto">Enlace:</strong>  Agrega un vínculo a una página, video, imagen o documento interno o externo.</p>
  </div>
  <div class="col-md-6  padding-b-20 ">
    <img src="assets/img/lineamientos-share/enalce.svg" alt="">

  </div>
</div>
<div class="row">
  <div class="col-md-6 padding-b-30">
    <p class="  ">   <strong class="texto">Yammer:</strong> Mejora la colaboración al incrustar conversaciones de Yammer en tu página, si tu organización tiene una red de Yammer activa.</p>
  </div>
  <div class="col-md-6  padding-b-80 ">
    <img src="assets/img/lineamientos-share/yammer.svg" alt="">

  </div>
</div>
<a class=" subrayados  padding-b-20 padding-l-10" href="https://support.microsoft.com/en-us/office/using-web-parts-on-sharepoint-pages-336e8e92-3e2d-4298-ae01-d404bbe751e0">Conoce todos los elementos web part de Microsoft</a><i class="subrayados  margin-l-5 color-rosaINE fas fa-chevron-right"></i>
<hr class=" margin-t-50 line">


<h3 class="padding-t-20 padding-b-30 tx ">5. Conectar elementos avanzados: formularios</h3>
<p class="padding-b-20">Con el elemento web Microsoft Forms se pueden agregar un formulario o resultados de él a SharePoint. Para agregarlo, se debe pasar el mouse por encima o por debajo de un elemento web para ver una línea con un + en un círculo, como este:</p>

<div class="col-auto text-center padding-b-20" >
  
    <img  src="assets/img/lineamientos-share/formularios-1.svg" alt="">
  
</div>
  <p class="padding-b-20">Seguido de esto, se mostrarán los elementos web disponibles, por lo que se buscará Microsoft Forms, como se muestra a continuación:</p>
  <div class="col-auto text-center padding-b-20" >
  
    <img  src="assets/img/lineamientos-share/formularios-2.svg" alt="">
  </div>
  <p class="padding-b-20"> Posteriormente dará opción a crear un formulario nuevo o tomar de alguno existente dentro de la suite Microsoft:</p>
  <div class="col-auto text-center padding-b-20" >
  
    <img  src="assets/img/lineamientos-share/formularios-3.svg" alt="">
  </div>
  <p class="padding-b-30">En el caso de elegir uno nuevo, solicitará un nombre para poder crear el formulario y de esta forma completarlo con sus respectivas preguntas y opciones de respuestas. Para el caso de elegir uno existente, solicitará la URL del formulario previamente creado.</p>
  <div class="col-auto text-center padding-b-30" >
  
    <img  src="assets/img/lineamientos-share/formularios-4.svg" alt="">
    
  </div>


<hr class="margin-t-50 padding-b-30 line"> 

<h3 class="titulo margin-t-20 padding-b-20 ">Permisos de usuario en SharePoint</h3>
<p class="padding-b-10 ">Los niveles de permisos predeterminados son conjuntos de permisos predefinidos que puede asignar a usuarios individuales, grupos de usuarios o grupos de seguridad, según los requisitos funcionales de los usuarios y las consideraciones de seguridad.</p>

  
<div class="table-responsive margin-t-20">
  <table class="table tabla-cebrado-rosa-ine margin-t-10 margin-b-25 table-responsive ">
    <thead>
      <tr>
        <th>Nivel de permiso</th>
        <th>Permite a los usuarios</th>
        <th>Permisos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Control total</th>
        <td>Controlar todo el sitio web.</td>
        <td>Todos los permisos.</td>
    </tr>
      <tr >
        <th>Diseño</th>
        <td><ul>
          <li>Ver.</li>
          <li>Agregar.</li>
          <li>Actualizar.</li>
          <li>Eliminar.</li>
          <li>Aprobar.</li>
          <li>Personalizar elementos o páginas en el sitio web.</li>
        </ul></td>
        <td><ul>
          <li>Editar los permisos, además de agregar y personalizar páginas.</li>
          <li>Aplicar temas y bordes.</li>
          <li>Aplicar hojas de estilo.</li>
          <li>Reemplazar comportamientos de lista.</li>
          <li>Aprobar elementos.</li>
        </ul></td>
      </tr>
      <tr>
        <td>Editar</td>
        <td>Administrar listas.</td>
        <td>Contribuir con permisos, además de: administrar listas.</td>
      </tr>

      <tr>
        <td>Colaborar</td>
        <td><ul>
          <li>Administrar vistas personales.</li>
          <li>Editar elementos e información del usuario.</li>
          <li>Eliminar versiones en listas y bibliotecas de documentos existentes.</li>
          <li>Agregar, quitar y actualizar elementos web personales.</li>
        </ul></td>
        <td><p>Permisos de lectura, más:</p>
        <ul>
          <li>Agregar elementos.</li>
          <li>Editar elementos.</li>
          <li>Eliminar elementos.</li>
          <li>Eliminar versiones.</li>
          <li>Examinar directorios.</li>
          <li>Editar información personal del usuario.</li>
          <li>Administrar vistas personales.</li>
          <li>Agregar o quitar elementos web personales.</li>
          <li>Actualizar elementos web personales.</li>
        </ul></td>
        <tr>
<td>Leer</td>
<td><p>Permite a los usuarios:</p>
<li>Ver páginas y elementos de lista.</li>
<li>Descargar documentos.</li>
</td>
<td>
<p>Permisos de acceso limitado, más:</p>
<ul>
  <li>Ver elementos.</li>
  <li>Abrir elementos.</li>
  <li>Ver versiones.</li>
  <li>Crear alertas.</li>
  <li>Usar la creación de sitios de autoservicio.</li>
  <li>Ver páginas.</li>
</ul>
</td>
        </tr>

        <tr>
          <td>Vista restringida</td>
          <td><p>Vista restringida</p>
          <ul class="">
            <li  class="">Acceder a recursos compartidos y un activo específico.</li>
            <li class="letra">El acceso limitado está diseñado para combinarse con permisos detallados para permitir a los usuarios acceder a una lista, biblioteca de documentos, carpeta, elemento de lista o documento específico, sin permitirles acceder a todo el sitio, no se puede editar ni eliminar.</li>
            
          </ul></td>
          <td>
            <ul>
              <li>Ver páginas de la aplicación.</li>
              <li>Examinar la información del usuario.</li>
              <li>Usar interfaces remotas.</li>
            </ul>
          </td>
        </tr>
     
    </tbody>
  </table>
</div>
</section>

</div>
</div>



