<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row padding-t-35 padding-b-25">
                <div class="col-md-4">
                    <div class="padding-b-15 s-p10 s-p15">
                        <a class="seccion-principal"
                            [routerLink]="['/experiencia-de-usuario/usuario/experiencia/contenidos']">Experiencia de
                            usuario</a>
                    </div>
                    <a class="f-14 fw-400"
                        [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno']">Investigación
                        de usuarios</a><br>
                    <a class="f-14 fw-400"
                        [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos']">Arquitectura
                        de información</a><br>
                    <a class="f-14 fw-400"
                        [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/storyboard/que-es']">Diseño de
                        interfaz</a><br>
                    <a class="f-14 fw-400"
                        [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad']">Mejora
                        Continua</a><br>
                    <a class="f-14 fw-400"
                        [routerLink]="['/experiencia-de-usuario/optimizacion/open-graph/que-es']">Optimización</a>
                </div>
                <div class="col-md-4">
                    <div class="padding-b-15 s-p10 s-p15">
                        <a class="seccion-principal"
                            [routerLink]="['/componentes-ui/usuario/interfaz/contenidos']">Componentes UI</a>
                    </div>
                    <a class="f-14 fw-400" [routerLink]="['/componentes-ui/web/accordion/estilo']">Web</a><br>
                    <a class="f-14 fw-400" [routerLink]="['/componentes-ui/android/app-bar-top/estilo']">Android</a><br>
                    <a class="f-14 fw-400"
                        [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/tipografia']">Elementos de
                        Diseño</a>
                </div>
                <div class="col-md-4">
                    <div class="padding-b-10 s-p10 s-p15">
                        <a class="seccion-principal"
                            [routerLink]="['/documentacion-de-desarrollo/documentacion/desarrollo/contenidos']">Documentación
                            de desarrollo</a>
                    </div>
                    <a class="f-14 fw-400"
                        [routerLink]="['/documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model']">Lineamientos
                        Backend</a><br>
                    <a class="f-14 fw-400"
                        [routerLink]="['/documentacion-de-desarrollo/documentacion-frontend/scaffolding/que-es']">Lineamientos
                        Frontend</a><br>
                    <a class="f-14 fw-400"
                        [routerLink]="['/documentacion-de-desarrollo/app-moviles/lineamientos-y-buenas-practicas-android/configuracion-general']">
                        Lineamientos Aplicaciones Móviles</a><br>
                    <a class="f-14 fw-400"
                    [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de']">
                    Lineamientos Asistentes Virtuales</a>
                  
                        <p class=""  [ngClass]="{'show': !menuList}">
                            <a class="f-14 fw-400"
                            [routerLink]="['/documentacion-de-desarrollo/documentacion/desarrollo/contenidos']">
                            Lineamientos SharePoint</a>
                        </p>
                            <a class="seccion-principal" (click)="abrirMenu = !abrirMenu; menuBase =!menuBase">Ver mapa de
                                sitio completo
                                <i class="fa fa-angle-right padding-l-15"></i>
                            </a>
                        
                </div>
            </div>
            <div class="line-top padding-t-25 padding-b-30">
                <img src="./assets/img/logo_unicom.png"
                                        alt="Unidad Técnica de Servicios de Informática UNICOM">
            </div>
        </div>
        <div class="menunav" id="menunav" [ngClass]="{'show-menunav': menuBase}">
            <div class="menu-display">
                <nav class="bg-gris-oscuro1">
                    <div class="enlace-wrapper bg-gris-oscuro1" [ngClass]="{'show': abrirMenu}">
                        <div class="container enlace-list">
                            <div class="padding-b-15">
                                <a class="seccion-principal btn-menu-cerrar" aria-hidden="true"
                                (click)="menuBase = false; abrirMenu = false; categoriaW = false; subcategoriaW = false; 
                        uxEnlace = false; uiEnlace = false; desarrolloEnlace = false; investigacionUsuario = false; 
                        arqInformacion = false; disenoInterfaz = false; metricas = false; optimizacion = false;
                        compWeb = false; recursosDiseno = false; lineamientosBackend = false; docFrontend = false;">
                                <i class="fa fa-arrow-left padding-r-15" id="btn-menu-cerrar"></i>Regresar
                                </a>
                            </div>
                            <div class="row padding-b-25 line-top padding-t-25">
                                <div class="col-md-4">
                                    <a class="tema-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/usuario/experiencia/contenidos"
                                        routerLinkActive="active">
                                        Experiencia de usuario
                                    </a>
                                    <a class="sub-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno"
                                        routerLinkActive="active">
                                        Investigación de usuarios
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno"
                                        routerLinkActive="active">
                                        Entrevistas
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno"
                                        routerLinkActive="active">
                                        Uno a uno
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/investigacion-de-usuario/entrevistas/contextuales"
                                        routerLinkActive="active">
                                        Contextuales
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/investigacion-de-usuario/entrevistas/focus-group"
                                        routerLinkActive="active">
                                        Focus group
                                    </a>
                                    <a class="apartados-enlace-item padding-t-20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/investigacion-de-usuario/perfiles/protopersonas"
                                        routerLinkActive="active">
                                        Perfiles
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/investigacion-de-usuario/perfiles/protopersonas"
                                        routerLinkActive="active">
                                        Proto personas
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/investigacion-de-usuario/perfiles/journey-maps"
                                        routerLinkActive="active">
                                        Journey Maps
                                    </a>
                                    <a class="sub-enlace-item padding-t-35" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos"
                                        routerLinkActive="active">
                                        Arquitectura de información
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos"
                                        routerLinkActive="active">
                                        Organización
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos"
                                        routerLinkActive="active">
                                        Inventario de contenidos
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/organizacion/etiquetado"
                                        routerLinkActive="active">
                                        Etiquetado
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/organizacion/taxonomias"
                                        routerLinkActive="active">
                                        Taxonomías
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/organizacion/lenguaje-controlado"
                                        routerLinkActive="active">
                                        Lenguaje controlado
                                    </a>
                                    <a class="apartados-enlace-item padding-t-20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/estructura/card-sorting"
                                        routerLinkActive="active">
                                        Estructura
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/estructura/card-sorting"
                                        routerLinkActive="active">
                                        Card sorting
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/estructura/tree-testing"
                                        routerLinkActive="active">
                                        Tree testing
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/estructura/sistemas-de-navegacion"
                                        routerLinkActive="active">
                                        Sistemas de Navegación
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/estructura/tipos-de-busqueda"
                                        routerLinkActive="active">
                                        Tipos de búsqueda
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/arquitectura-de-informacion/estructura/diagramas-de-flujo"
                                        routerLinkActive="active">
                                        Diagramas de flujo
                                    </a>
                                    <a class="sub-enlace-item padding-t-35" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/diseno-de-interfaz/storyboard/que-es"
                                        routerLinkActive="active">
                                        Diseño de interfaz
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/diseno-de-interfaz/storyboard/que-es"
                                        routerLinkActive="active">
                                        Storyboard
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/diseno-de-interfaz/prototipado/wireframe"
                                        routerLinkActive="active">
                                        Prototipado
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/diseno-de-interfaz/prototipado/wireframe"
                                        routerLinkActive="active">
                                        Wireframe
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/diseno-de-interfaz/prototipado/diseno-de-interaccion"
                                        routerLinkActive="active">
                                        Diseño de interacción
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/diseno-de-interfaz/prototipado/mockup"
                                        routerLinkActive="active">
                                        Mockup
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/diseno-de-interfaz/prototipado/prototipo-interactivo"
                                        routerLinkActive="active">
                                        Prototipo interactivo
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/diseno-de-interfaz/calidad-de-interfaz/que-son"
                                        routerLinkActive="active">
                                        Calidad de Interfaz
                                    </a>
                                    <a class="sub-enlace-item padding-t-35" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad"
                                        routerLinkActive="active">
                                        Mejora Continua
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad"
                                        routerLinkActive="active">
                                        Pruebas
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad"
                                        routerLinkActive="active">
                                        Pruebas de usabilidad
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/pruebas/ab-testing"
                                        routerLinkActive="active">
                                        A/B Testing
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/pruebas/encuestas"
                                        routerLinkActive="active">
                                        Encuestas
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/pruebas/estudios-ergonomicos"
                                        routerLinkActive="active">
                                        Estudios ergonómicos
                                    </a>
                                    <a class="apartados-enlace-item padding-t-20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/metricas/analisis-de-metricas"
                                        routerLinkActive="active">
                                        Métricas
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/metricas/analisis-de-metricas"
                                        routerLinkActive="active">
                                        Análisis de métricas
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/metricas/analisis-cualitativo"
                                        routerLinkActive="active">
                                        Análisis cualitativo
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/mejora-continua/metricas/integracion-de-mejoras"
                                        routerLinkActive="active">
                                        Integración de mejoras
                                    </a>
                                    <a class="sub-enlace-item padding-t-35" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/optimizacion/open-graph/que-es"
                                        routerLinkActive="active">
                                        Optimización
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/optimizacion/open-graph/que-es"
                                        routerLinkActive="active">
                                        Protocolo Open Graph
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/optimizacion/buenas-practicas/que-es"
                                        routerLinkActive="active">
                                        Buenas Prácticas: URL
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/optimizacion/placeholder/que-es"
                                        routerLinkActive="active">
                                        Placeholder
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/experiencia-de-usuario/optimizacion/favicon/que-es"
                                        routerLinkActive="active">
                                        Favicon
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="tema-enlace-item s-p20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/usuario/interfaz/contenidos"
                                        routerLinkActive="active">
                                        Componentes UI
                                    </a>
                                    <a class="sub-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/accordion/estilo" routerLinkActive="active">
                                        Web
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/accordion/estilo" routerLinkActive="active">
                                        Accordion
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/button/estilo" routerLinkActive="active">
                                        Button
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/breadcrumb/estilo" routerLinkActive="active">
                                        Breadcrumb
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/cards/estilo" routerLinkActive="active">
                                        Cards
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/checkbox/estilo" routerLinkActive="active">
                                        Checkbox
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/data-table/estilo" routerLinkActive="active">
                                        Data table
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/date-picker/estilo" routerLinkActive="active">
                                        Datepicker
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/dropdowns/estilo" routerLinkActive="active">
                                        Dropdowns
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/input/estilo" routerLinkActive="active">
                                        Input
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/modal/estilo" routerLinkActive="active">
                                        Modal
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/navtabs/estilo" routerLinkActive="active">
                                        Nav tabs
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/notification/estilo" routerLinkActive="active">
                                        Notification
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/pagination/estilo" routerLinkActive="active">
                                        Pagination
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/pick-list/estilo" routerLinkActive="active">
                                        Picklist
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/progressbar/estilo" routerLinkActive="active">
                                        Progressbar
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/radio/estilo" routerLinkActive="active">
                                        Radio button
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/search/estilo" routerLinkActive="active">
                                        Search
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/spinner/estilo" routerLinkActive="active">
                                        Spinner
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/toast/estilo" routerLinkActive="active">
                                        Toast
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/toggle/estilo" routerLinkActive="active">
                                        Toggle
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/tooltips/estilo" routerLinkActive="active">
                                        Tooltips
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/upload/estilo" routerLinkActive="active">
                                        Upload
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/web/formulario/estilo" routerLinkActive="active">
                                        Formulario
                                    </a>
                                    <a class="sub-enlace-item padding-t-30" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/app-bar-top/estilo"
                                        routerLinkActive="active">
                                        Android
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/app-bar-top/estilo"
                                        routerLinkActive="active">
                                        App bar: top
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/bottom-navigation/estilo"
                                        routerLinkActive="active">
                                        Bottom navigation
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/buttons/estilo" routerLinkActive="active">
                                        Buttons
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/buttons-floating-action-button/estilo"
                                        routerLinkActive="active">
                                        Buttons: floating action button
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/card/estilo" routerLinkActive="active">
                                        Card
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/chips/estilo" routerLinkActive="active">
                                        Chips
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/dialogs/estilo" routerLinkActive="active">
                                        Dialogs
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/dividers/estilo" routerLinkActive="active">
                                        Dividers
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/menus/estilo" routerLinkActive="active">
                                        Menus
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/splash-screen/estilo"
                                        routerLinkActive="active">
                                        Splash screen
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/tabs/estilo" routerLinkActive="active">
                                        Tabs
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/android/text-fields/estilo"
                                        routerLinkActive="active">
                                        Text fields
                                    </a>
                                    <a class="sub-enlace-item padding-t-30" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/recursos/elementos-de-diseno/tipografia"
                                        routerLinkActive="active">
                                        Elementos de Diseño
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/recursos/elementos-de-diseno/tipografia"
                                        routerLinkActive="active">
                                        Tipografía
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/recursos/elementos-de-diseno/color"
                                        routerLinkActive="active">
                                        Color
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/recursos/elementos-de-diseno/iconografia"
                                        routerLinkActive="active">
                                        Iconografía
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/recursos/elementos-de-diseno/ilustraciones"
                                        routerLinkActive="active">
                                        Ilustraciones
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/componentes-ui/recursos/elementos-de-diseno/identificadores-graficos"
                                        routerLinkActive="active">
                                        Identificadores gráficos
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="tema-enlace-item s-p20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion/desarrollo/contenidos"
                                        routerLinkActive="active">
                                        Documentación de desarrollo
                                    </a>
                                    <a class="sub-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model"
                                        routerLinkActive="active">
                                        Lineamientos Backend
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model"
                                        routerLinkActive="active">
                                        Lineamientos generales y buenas practicas Java
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/arquetipos/aplicaciones-web"
                                        routerLinkActive="active">
                                        Arquetipos
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/arquetipos/aplicaciones-web"
                                        routerLinkActive="active">
                                        Aplicaciones web
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/arquetipos/servicios-rest"
                                        routerLinkActive="active">
                                        Servicios REST
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/arquetipos/servicios-soap"
                                        routerLinkActive="active">
                                        Servicios SOAP
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/arquetipos/comunes-ine"
                                        routerLinkActive="active">
                                        Comunes INE
                                    </a>
                                    <a class="apartados-enlace-item padding-t-20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/capas/modelo"
                                        routerLinkActive="active">
                                        Capas
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/capas/modelo"
                                        routerLinkActive="active">
                                        Modelo
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/capas/persistencia"
                                        routerLinkActive="active">
                                        Persistencia
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos/capas/servicios"
                                        routerLinkActive="active">
                                        Servicios
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="documentacion-de-desarrollo/lineamientos/capas/presentacion"
                                        routerLinkActive="active">
                                        Presentación
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="documentacion-de-desarrollo/lineamientos/capas/exposicion"
                                        routerLinkActive="active">
                                        Exposición
                                    </a>
                                    <a class="sub-enlace-item padding-t-35" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-frontend/scaffolding/que-es"
                                        routerLinkActive="active">
                                        Lineamientos Frontend
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-frontend/scaffolding/que-es"
                                        routerLinkActive="active">
                                        Scaffolding
                                    </a>
                                    <a class="sub-enlace-item padding-t-35" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/app-moviles/lineamientos-y-buenas-practicas-android/configuracion-general"
                                        routerLinkActive="active">
                                        Lineamientos Aplicaciones Móviles
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/app-moviles/lineamientos-y-buenas-practicas-android/configuracion-general"
                                        routerLinkActive="active">
                                        Lineamientos y buenas practicas Android
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/app-moviles/arquitectura-movil/modelo"
                                        routerLinkActive="active">
                                        Arquitectura móvil
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="documentacion-de-desarrollo/app-moviles/arquitectura-movil/modelo"
                                        routerLinkActive="active">
                                        Modelo 4+1
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/app-moviles/arquitectura-movil/evaluacion-acdm"
                                        routerLinkActive="active">
                                        Evaluación ACDM
                                    </a>
                                    <a class="apartados-enlace-item  padding-t-20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/app-moviles/capas-movil/modelo"
                                        routerLinkActive="active">
                                        Capas MVVM
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/app-moviles/capas-movil/modelo"
                                        routerLinkActive="active">
                                        Modelo MVVM
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/app-moviles/capas-movil/implementacion-mvvm"
                                        routerLinkActive="active">
                                        Implementación MVVM
                                    </a>
                                    <a class="apartados-enlace-item  padding-t-20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-android/estructura-en-un-proyecto/directorios"
                                        routerLinkActive="active">
                                        Estructura de un Proyecto Android
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-android/estructura-en-un-proyecto/directorios"
                                        routerLinkActive="active">
                                        Directorios
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="documentacion-de-desarrollo/documentacion-android/estructura-en-un-proyecto/dependencias"
                                        routerLinkActive="active">
                                        Dependencias
                                    </a>
                                    <a class="apartados-enlace-item  padding-t-20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-android/configuracion-general/color"
                                        routerLinkActive="active">
                                        Configuración general
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-android/configuracion-general/color"
                                        routerLinkActive="active">
                                        Color
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-android/configuracion-general/drawable"
                                        routerLinkActive="active">
                                        Drawable
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-android/configuracion-general/font"
                                        routerLinkActive="active">
                                        Font
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-android/configuracion-general/values"
                                        routerLinkActive="active">
                                        Values
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/documentacion-android/configuracion-general/layout"
                                        routerLinkActive="active">
                                        Layout
                                    </a>
                                     <a class="apartados-enlace-item  padding-t-20" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/app-moviles/maqueta-tipo/que-es"
                                        routerLinkActive="active">
                                        Maqueta tipo
                                    </a>
                                    <a class="sub-enlace-item padding-t-35" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de"
                                        routerLinkActive="active">
                                        Lineamientos Asistentes Virtuales
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de"
                                        routerLinkActive="active">
                                        Chatbot
                                    </a>
                                    <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de"
                                        routerLinkActive="active">
                                        Acerca de
                                    </a>
                                     <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/buenas-practicas"
                                        routerLinkActive="active">
                                        Buenas prácticas
                                    </a>
                                     <a class="contenido-enlace-item" data-toggle="pill"
                                        (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                        routerLink="/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/tecnologias"
                                        routerLinkActive="active">
                                        Tecnologías
                                    </a>
                                    <a class="apartados-enlace-item" data-toggle="pill"
                                    (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                    routerLink="/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de"
                                    routerLinkActive="active">
                                    Voicebot
                                </a>
                                <a class="contenido-enlace-item" data-toggle="pill"
                                    (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                    routerLink="/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/voicebot/acerca-de"
                                    routerLinkActive="active">
                                    Acerca de
                                </a>
                                 <a class="contenido-enlace-item" data-toggle="pill"
                                    (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                    routerLink="/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/voicebot/buenas-practicas"
                                    routerLinkActive="active">
                                    Buenas prácticas
                                </a>
                                 <a class="contenido-enlace-item" data-toggle="pill"
                                    (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                    routerLink="/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/voicebot/tecnologias"
                                    routerLinkActive="active">
                                    Tecnologías
                                </a>


                                <a class="sub-enlace-item padding-t-35" data-toggle="pill"
                                (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                routerLink="/documentacion-de-desarrollo/lineamientos-sharepoint/solicitud/acerca-de"
                                routerLinkActive="active">
                                Lineamientos SharePoint
                            </a>
                            <a class="contenido-enlace-item" data-toggle="pill"
                                (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                routerLink="/documentacion-de-desarrollo/lineamientos-sharepoint/solicitud/acerca-de"
                                routerLinkActive="active">
                                Solicitud para crear un sitio web
                            </a>
                             <a class="contenido-enlace-item" data-toggle="pill"
                                (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                routerLink="/documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-comunicacion/acerca-de"
                                routerLinkActive="active">
                                Sitios de Comunicación
                            </a>
                             <a class="contenido-enlace-item" data-toggle="pill"
                                (click)="abrirMenu = !abrirMenu; menuBase =!menuBase"
                                routerLink="/documentacion-de-desarrollo/lineamientos-sharepoint/sitios-de-colaboracion/acerca-de"
                                routerLinkActive="active">
                                Sitios de Colaboración
                            </a>
                            
                                </div>
                  
                                </div>
                                
                            </div>
                            <div class="line-top padding-t-25 padding-b-30">
                                <img src="./assets/img/logo_unicom.png"
                                                        alt="Unidad Técnica de Servicios de Informática UNICOM">

                            </div>
                            
                        </div>
                  
                </nav>
            </div>
        </div>
    </div>
</footer>