footer {
    position: relative;
    z-index: 2000;
    background-color: var(--bg-footer);
    color: white;
}

img{
    width: 221px;
}

.seccion-principal{
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.seccion-principal:hover{
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}

p.m-8{
    margin-bottom: 0px;
    letter-spacing: 0px;
}

.line-top{
    padding-top: 25px;
    border-top: 1px solid #707070;
}

a{
    color: white;
}

a:hover{
    color: white;
    text-decoration: underline #ffffff;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}


//////////////////////////////
li.menu{
    display: inline-block;
}

    .logotipo {
        background: var(--bg-footer) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000072;
        opacity: 1;
        padding: 15px 30px;
        ul{
            margin-bottom: 1rem;
            margin-bottom: 0px;
        }
    }


    .enlace-item.active {
        font-weight: 500;
    }
    .menu-575 {
        padding: 0px 60px;
    }
    .p-0 {
        padding: 0px;
    }
    .pg-l-20 {
        padding-left: 20px;
    }
    .margin-0 {
        margin-left: 0px;
    }

    .mobile-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menunav {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .show-menunav {
        display: block;
    }
    .menu-display {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu-display i {
        font-size: 20px;
        min-width: 4%;
    }
    .menu-display nav {
        width: 100%;
        height: 100%;
        background-color: var(--bg-footer);
        color: white;
        overflow-y: auto;
    }
    .menu-display nav .enlaces {
        width: 100%;
        height: 100%;
        background-color: red;
    }
    .menu-display nav .enlaces a {
        display: block;
        width: 100%;
        padding: 20px;
        color: #fff;
        text-decoration: none;
    }

    i{
        color: white;
    }
    .btn-menu-barras {
        background-color: transparent;
        border: 1px solid var(--bg-footer);
        color: #FFF;
        width: 36px;
        height: 36px;
    }
    // .enlace-wrapper,
    // .categorias-wrapper,
    // .categoria,
    // .subcategorias-wrapper,
    // .subcategoria {
    //     display: none;
    //     width: 100%;
    //     height: 270%;
    //     position: relative;
    // }
    .enlace-wrapper.show,
    .categorias-wrapper.show,
    .categoria.show,
    .subcategorias-wrapper.show,
    .subcategoria.show {
        display: block;
    }
    .enlace-title {
        height: 65px;
        background-color: #FCECF4;
        padding: 19px 10px 14px 22px;
        display: flex;
        align-items: center;
        font-size: 32px;
    }
    .enlace-title h3 {
        color: #B60F6F;
        font-size: 26px;
        font: bold;
    }
    .enlace-list {
        background-color: var(--bg-footer);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 90px;
    }
    .enlace-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer !important;
        color: white;
        font-weight: 700;
        font-size: 18px;
        a{
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
        span{
            color: #D5007F;
        }
    }

    .tema-enlace-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer !important;
        color: white;
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 20px;
        a{
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
        span{
            color: #D5007F;
        }
    }

    .sub-enlace-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer !important;
        color: white;
        font-weight: 700;
        font-size: 16px;
        padding-bottom: 12px;
        a{
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
    }


    .apartados-enlace-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer !important;
        color: white;
        font-weight: 500;
        font-size: 14px;
        padding-bottom: 12px;
        a{
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
    }

    .contenido-enlace-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer !important;
        color: white;
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 6px;
        padding-left: 10px;
        a{
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
    }

    .view-buttons {
        width: 100px;
        color: #FFF;
    }
    .btn-bar {
        border: 1px solid white;
        padding: 5px 5px 5px 5px;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 0;
    }
  

    .bg-gris-oscuro{
        background: #333333 !important;
    }

    .enlace-wrapper,
    .categorias-wrapper,
    .categoria,
    .subcategorias-wrapper,
    .subcategoria {
        display: none;
        position: relative;
        z-index: 5;
    }

/// R E S P O N S I V O ///


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .s-p10{
        padding-bottom: 10px !important;
      }
    .s-p15{
      padding-top: 15px !important;
      }

      .s-p20{
        padding-top: 20px !important;
        }

      .s-tend{
        text-align: end;
      }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .s-p10{
        padding-bottom: 10px !important;
      }
    .s-p15{
      padding-top: 15px !important;
      }

      .s-p20{
        padding-top: 20px !important;
        }
    
    .s-tend{
      text-align: end;
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

