h3 {
    font-size: 1.5rem;
}

.margenes {
    margin: 80px 0 30px 0;
}

p
{
    font-weight: 400;
}

.padding-l-32{
    padding-left: 32px;
    padding-right: 0px;
}

.border-left-1px{
    border-left: 1px solid #00000026;
    opacity: 1;
}

@media (max-width: 575.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}