<div class="row">
    <div class="col-md-12 col-lg-10 offset-lg-1">
        <div class="margenes">
            <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion f-18">
                <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
                        <li class="nav-item nav-seccion padding-l-15 padding-r-15"
                            [routerLink]="['/documentacion-de-desarrollo/documentacion-android/estructura-en-un-proyecto/directorios']"
                            [ngClass]="{'active' : seccion =='directorios'}">
                            <a class="nav-link color-rosaINE">Directorios</a>
                        </li>
                        <li class="nav-item nav-seccion padding-l-15 padding-r-15"
                            [routerLink]="['/documentacion-de-desarrollo/documentacion-android/estructura-en-un-proyecto/dependencias']"
                            [ngClass]="{'active' : seccion =='dependencias'}">
                            <a class="nav-link color-rosaINE">Dependencias</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <section *ngIf="seccion=='directorios'">
            <p class="margin-t-30">
                Como todo proyecto, Android Studio cuenta con una estructura de carpetas, la cual se organiza de la
                siguiente manera:
            </p>
            <p class=" margin-b-80">
                <strong>Nota: </strong>Puede que en tu proyecto inicial no exista una carpeta, si ese es el caso no dudes en crearla y seguir con la estructura de directorios recomendada, tal como se enlista en la tabla.
            </p>
            <div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14">
                    <img src="./assets/img/doc-android/directorios/nivel-1.svg" alt=""> app
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>Directorio raíz de la aplicación (app).</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-2.svg" alt=""> manifest
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>
                        Describe la aplicación Android. Define su nombre, paquete, icono, estilos, etc. Indica las
                        actividades,
                        las intenciones, los servicios y
                        los proveedores de contenido de la aplicación. Aquí también se declaran los permisos que
                        requerirá la aplicación.
                    </p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14">
                    <img src="./assets/img/doc-android/directorios/nivel-2-flecha.svg" alt=""> java
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>Contiene el código fuente de la aplicación</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-3.svg" alt=""> fragments
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>
                        Un Fragment representa un comportamiento o una parte de la interfaz de usuario en una FragmentActivity. Puedes combinar varios fragmentos en una sola actividad para crear una IU multipanel y volver a usar un fragmento en diferentes actividades. La finalidad de este directorio es encapsular todos los fragments en un solo lugar.
                    </p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-3.svg" alt=""> activities
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>
                        Un activity es un componente clave de una aplicación Android, principalmente se utilizan para vistas iniciales,  principales y contenedoras de fragmentos. La finalidad de este directorio es agrupar todas esas Activity, para mantener un orden y mejorar el mantenimiento de las mismas.
                    </p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14">
                    <img src="./assets/img/doc-android/directorios/nivel-2-flecha.svg" alt=""> res
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>Contiene los recursos usados por la aplicación.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-3.svg" alt=""> color
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>En esta carpeta se colocan los recursos de estados de color, los cuales se pueden definir en formato xml.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-3.svg" alt=""> drawable
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>En esta carpeta se colocan todas las imágenes que forman parte del diseño de la app.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-3.svg" alt=""> font
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>En esta carpeta se encuentran las fuentes utilizadas por la app.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-3.svg" alt=""> layout
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>Aquí se encuentran los ficheros XML de las vistas de nuestra app.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-3.svg" alt=""> menu
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>En esta carpeta se colocan todas las imágenes que forman parte del diseño de la app.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-3.svg" alt=""> mipmap
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>
                        Contiene los iconos de lanzamiento de la aplicación (el icono que aparecerá
                        en el menú de aplicaciones del dispositivo) para las distintas densidades de pantalla
                        existentes.
                    </p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/nivel-3.svg" alt=""> values
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>
                        Estos ficheros nos permiten definir valores a nuestras variables de manera independiente al
                        código fuente.
                        Este mecanismo nos permite por ejemplo cambiar el valor del título (String) de un botón sin
                        necesidad de cambiar
                        dicho valor en el código fuente. Su uso es especialmente útil cuando queremos realizar diversas
                        versiones de
                        nuestra aplicación dependiendo del idioma o cambiar el estilo de la app.
                    </p>
                    <br>
                </div>
            </div>
            <div class="row margin-b-80">
                <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 fw-500 f-14 padding-l-32">
                    <img src="./assets/img/doc-android/directorios/gradle.svg" alt=""> Gradle Scripts
                </div>
                <div class="col-7 col-sm-9 col-md-9 col-lg-9 col-xl-10 border-left-1px">
                    <p>
                        Aquí se encuentran los ficheros donde se cargarán las dependencias a utilizar en la app,
                        así como la versión de compilación, el mínimo SDK para soportar el funcionamiento de la app.
                    </p>
                </div>
            </div>
        </div>
        </section>
        <section *ngIf="seccion=='dependencias'">
            <h3 class="margin-t-30 margin-b-15">Instrucciones</h3>
            <p>
                <strong>1. </strong>Abre el archivo <strong>build.gradle</strong> (Module.app), que se encuentra en la
                carpeta /<strong> Gradle Script.</strong>
            </p>
            <div class="margin-b-60  margin-t-40 text-center back-img">
                <img class="img-fluid imagenes-al-centro" src="./assets/img/doc-android/dependencias/build.svg" alt="">
            </div>
            <p class="margin-t-70">
                <strong>2. </strong>En la sección <strong>dependencies &#123;</strong> coloca la siguientes líneas de
                código:
            </p>
            <div class="jumbotron jumbotron-fluid margin-t-30">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('dependencias-1')"
                        ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5"
                            aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="dependencias-1">
                    <pre class=" prettyprinted" style="">
<span class="ct">implementation </span><span class="cm">'androidx.navigation:navigation-fragment-ktx:2.1.0'</span><span>
</span><span class="ct">implementation </span><span class="cm">'androidx.navigation:navigation-ui-ktx:2.1.0'</span><span>
</span><span class="ct">implementation </span><span class="cm">'com.google.android.material:material:1.1.0'</span>
                </pre>
                </span>
            </div>
            <p class="margin-t-70">
                <strong>3. </strong>En la sección <strong>Android &#123;</strong> escribe la siguientes líneas:
            </p>
            <div class="jumbotron jumbotron-fluid margin-t-30">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('dependencias-2')"
                        ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5"
                            aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="dependencias-2">
                    <pre class=" prettyprinted" style="">
<span class="ct">dataBinding &#123;</span><span>
    </span><span class="cl">enabled</span><span class="ct"> = </span><span class="cm">true</span><span>
</span><span class="ct">&#125;</span><span>
</span><span class="ct">kotlinOptions &#123;</span><span>
    </span><span class="ct">jvmTarget = JavaVersion.</span><span class="cl">VERSION_1_8</span><span>
</span><span class="ct">&#125;</span>
</pre>
                </span>
            </div>
            <p class="margin-t-70">
                <strong>4. </strong>Dar click en el botón <strong>Sync Now</strong> que se encuentra en la esquina
                superior derecha.
            </p>
            <p class="margin-t-30">
                <strong>5. </strong>Abre el archivo <strong>build.gradle</strong> (Project). En la sección
                <strong>dependencies &#123;</strong> coloca la siguientes líneas de código:
            </p>
            <div class="jumbotron jumbotron-fluid margin-t-30">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('dependencias-3')"
                        ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5"
                            aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="dependencias-3">
                    <pre class=" prettyprinted" style="">
<span class="ct">classpath "androidx.navigation:navigation-safe-args-gradle-plugin:2.1.0"</span>
                </pre>
                </span>
            </div>
            <p class="margin-t-70">
                <strong>6. </strong>Da click en el botón <strong>Sync Now</strong> que se encuentra en la esquina
                superior derecha.
            </p>
            <p class="margin-t-30 margin-b-90">
                <strong>7. </strong>¡Listo! Ahora puedes usar componentes para material design y navegación de Android
                Jetpack.
            </p>
        </section>
    </div>
</div>