    <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion">
    <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/prototipado/wireframe']" [ngClass]="{'active' : seccion =='wireframe'}">
                <a class="nav-link">Wireframe</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/prototipado/diseno-de-interaccion']" [ngClass]="{'active' : seccion =='diseno-de-interaccion'}">
                <a class="nav-link">Diseño de interacción</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/prototipado/mockup']" [ngClass]="{'active' : seccion =='mockup'}">
                <a class="nav-link">Mockup</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/prototipado/prototipo-interactivo']" [ngClass]="{'active' : seccion =='prototipo-interactivo'}">
                <a class="nav-link">Prototipo interactivo</a>
            </li>
        </ul>
    </div>
</nav>
<section *ngIf="seccion=='wireframe'">
    <h3 class="padding-t-30">¿Qué es un wireframe?</h3>
    <p>
        Es una representación visual de la estructura y funcionalidad de un sitio web o aplicación móvil. Se muestra de manera esquemática y sin elementos de diseño, lo cual brinda su fácil y rápido entendimiento.
    </p>
    <h3 class="padding-t-30">¿Para qué se usan?</h3>
    <p>
        Son utilizados en las primeras etapas del proceso de desarrollo para establecer la estructura básica del sitio, definir contenido, posición y bloques de información. Permiten conocer la interacción de los elementos y probar distintas alternativas para
        implementar el mejor funcionamiento.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center ">
                <img class="img-fluid" src="./assets/img/UX/diseno-de-interfaz/wireframe.svg" alt="Wireframe">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus entrevistas focus group.
                </p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/diseno-de-interfaz/ArqTec_Wireframe.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='diseno-de-interaccion'">
    <h3 class="padding-t-30">¿Qué es el diseño de interacción?</h3>
    <p>
        Es la creación de las interfaces que permiten la interacción del usuario con nuestro sitio. Deben estar basadas totalmente en las necesidades y comportamientos de las personas que utilizarán nuestro desarrollo.
    </p>
    <h3 class="padding-t-30">¿Para qué se usa?</h3>
    <p>
        Para generar una buena experiencia de usuario gracias a la interfaz amigable que se implementó. Además, gracias a su trabajo en conjunto con la arquitectura de la información se pueden anticipar problemas para corregirlos de manera temprana y proponer
        nuevas formas de interacción.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/diseno-de-interfaz/diseno-de-interaccion.svg" alt="Diseño de interacción">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus entrevistas focus group.
                </p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/diseno-de-interfaz/ArqTec_Diseño_de_Interaccion.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='mockup'">
    <h3 class="padding-t-30">¿Qué es un mockup?</h3>
    <p>
        Es el diseño digital que permite visualizar las ideas y el concepto de un desarrollo web. Representa una vista apegada al producto final, incluyendo la estructura de navegación y los elementos de diseño a detalle. Puede crearse con programas de edición
        o con herramientas especiales para vincular funciones simples.
    </p>
    <h3 class="padding-t-30">¿Para qué se usa?</h3>
    <p>
        Se requiere en la fase inicial del desarrollo de sitios web y aplicaciones para realizar pruebas de usabilidad, funcionalidad y accesibilidad. Con ellas, se arrojan los datos correctos para prevenir futuros problemas y detectar los cambios necesarios.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/diseno-de-interfaz/mockup.svg" alt="Mockup">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus entrevistas focus group.
                </p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/diseno-de-interfaz/ArqTec_Mockup.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='prototipo-interactivo'">
    <h3 class="padding-t-30">¿Qué es un prototipo interactivo?</h3>
    <p>
        Es la representación más cercana a nivel visual e interactivo de un sitio web o aplicación. Incluye una aproximación al sistema de navegación final que tendrá el desarrollo, brindando la posibilidad de evaluarlo.
    </p>
    <h3 class="padding-t-30">¿Para qué se usa?</h3>
    <p>
        Para obtener una retroalimentación más completa de la interacción entre el usuario y nuestra página web o aplicación. Se realizan pruebas en un sitio muy parecido al real, logrando identificar deficiencias o validar nuestro desarrollo en cuanto a interacción,
        diseño y experiencia.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/UX/diseno-de-interfaz/prototipo-interactivo.svg" alt="Prototipo interactivo">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus entrevistas focus group.
                </p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/diseno-de-interfaz/ArqTec_Prototipo_Interactivo.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>