
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <p>
        Los botones de opción se utilizan cuando una lista de dos o más opciones se excluyen mutuamente, lo que signiﬁca que el usuario debe seleccionar solo una opción.
    </p>
    <div class="row padding-t-40">
        <div class="offset-2 col-5 offset-md-0 col-md-4">
            <p class="etiqueta-referencia">
                No seleccionado
            </p>
            <form>
                <label class="radio-rosa">Opción 1
                    <input type="radio">
                    <span class="check"></span>
                </label>
            </form>
            <div class="padding-t-5">
                <p class="texto-elementos margin-0">
                    <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                </p>
            </div>
            <div class=" padding-t-10">
                <div class="circulo border-grisOscuro2-1"></div>
                <p class="texto-elementos margin-0 padding-l-40">
                    #666666
                </p>
            </div>
        </div>
        <div class="col-5 offset-md-0 col-md-4">
            <p class="etiqueta-referencia">
                No seleccionado
            </p>
            <form>
                <label class="radio-rosa">Opción 2
                    <input type="radio" checked="checked">
                    <span class="check"></span>
                </label>
            </form>
            <div class="padding-t-5">
                <p class="texto-elementos margin-0">
                    <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                </p>
            </div>
            <div class="padding-t-10">
                <div class="circulo bg-rosaINE"></div>
                <p class="texto-elementos padding-l-40">
                    #D5007F
                </p>
            </div>
        </div>
    </div>
    <!-- Tipografía -->
    <h4 class="titulos-elementos padding-t-50 margin-b-30">Tipografía</h4>
    <div class="table-responsive-sm table-responsive-md margin-b-60 bg-img">
        <table class="web">
            <tr>
                <th>Elemento</th>
                <th>Color</th>
                <th>Tamaño</th>
                <th>Peso y estilo</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td>Etiqueta</td>
                <td>#666666</td>
                <td>14px</td>
                <td>Font-weight:400</td>
                <td>Text-align:left</td>
            </tr>
            <tr>
                <td>Etiqueta de radio button</td>
                <td>#333333</td>
                <td>16px</td>
                <td>Font-weight:400</td>
                <td>Text-align:left</td>
            </tr>
        </table>
    </div>
   
    <!-- Estructura -->
    <h4 class="padding-t-50 titulos-elementos">Estructura</h4>
    <!-- Tamaño -->
    <div class="row">
        <div class="col-md-4 padding-t-10">
            <p class="subseccion etiqueta-referencia  margin-0">Tamaño</p>
            <img class="img-fluid" src="./assets/img/radio/estilo/Tamaño-radioButton.svg" alt="El ancho y el alto del radio button debe ser de 18px">
        </div>
    </div>
    <!-- Espaciado -->
    <h4 class="padding-t-50 titulos-elementos">Espaciado</h4>
    <div class="bg-img padding-20">
        <div class="row">
            <div class="col-md-3 col-4 col-sm-4">
                <p class="subseccion etiqueta-referencia">Vertical</p>
                <img class="img-fluid" src="./assets/img/radio/estilo/espaciado-vertical-radioButton.svg" alt="El espacio entre cada radio button alineado verticalmente debe ser de 10px y al igual que entre este elemento y su etiqueta">
            </div>
            <div class="col-md-6 col-8 col-sm-8">
                <p class="subseccion etiqueta-referencia">Horizontal</p>
                <img class="img-fluid" src="./assets/img/radio/estilo/espaciado-horizontal-radioButton.svg" alt="El espacio entre cada radio button alineado horizontalmente debe ser de 30px y entre el elemento y su etiqueta 10px">
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es un radio botón?</h3>
    <div class="padding-t-15">
        <p>
            Permite que tus usuarios puedan hacer una selección excluyente de un conjunto de opciones.
        </p>

        <div class="padding-b-30 padding-t-15">

            <p _ngcontent-c8 class="txt-title">
                <strong>Ejemplo:</strong>
            </p>
            <p>
                En el sistema de Primera capacitación, se solicita que el usuario ingrese el lugar en donde se realizará la capacitación. Se tiene cinco opciones, sin embargo, sólo se puede elegir una. Utiliza tu grupo de radios para realizar la selección excluyente.
            </p>

            <div class="img-al-centro">
                <img class="img-fluid" src="./assets/img/radio/usos/usos-1.svg" alt="Ilustración de una lista de radio buttons y el botón aceptar dentro de un modal">
            </div>
        </div>
        <!--Sección Usos Tips-->
        <p _ngcontent-c8 class="tip padding-15 margin-0">
            <b _ngcontent-c8>Tips:</b>
            <li type="disc">Coloca los radios en manera vertical, evita el uso horizontal ya que podrías confundir a tus usuarios sino existe un espacio ideal entre etiquetas.</li>
            <li type="disc">Si el usuario solo puede seleccionar una opción seleccionada de entrada.</li>
            <li type="disc">Evita el uso de más de 5 opciones, te sugerimos que si es el caso recurras a un combo</li>
            <li type="disc">Acompaña previamente a tu grupo de radios con una etiqueta, esto ayudará a contextualizar a los usuarios.</li>
        </p>
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Tipos de botones</h3>
    <div class="row padding-t-50 justify-content-center">
        <div class="col-md-4 col-6">
            <form>
                <label class="radio-rosa">Etiqueta de radio button 1
                    <input type="radio" name="optradio">
                    <span class="check"></span>
                </label>
                <label class="radio-rosa">Etiqueta de radio button 2
                    <input type="radio" name="optradio">
                    <span class="check"></span>
                </label>
                <label class="radio-rosa">Etiqueta de radio button 3
                    <input type="radio" name="optradio">
                    <span class="check"></span>
                </label>
            </form>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('radio')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="radio">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">form</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"radio-rosa"</span><span>></span> Etiqueta de radio button 1
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"radio"</span><span class="ca4"> name</span><span>=</span><span class="cn">"optradio"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"check"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"radio-rosa"</span><span>></span> Etiqueta de radio button 2
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"radio"</span><span class="ca4"> name</span><span>=</span><span class="cn">"optradio"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"check"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"radio-rosa"</span><span>></span> Etiqueta de radio button 3
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"radio"</span><span class="ca4"> name</span><span>=</span><span class="cn">"optradio"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"check"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span>/</span><span class="ca5">form</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!--Radios lineales-->
    <div class="col-md padding-t-50 text-center">
        <div class="form-check form-check-inline padding-t-10">
            <label class="radio-rosa"><strong>Etiqueta 1</strong>
                <input type="radio" name="option">
                <span class="check"></span>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="radio-rosa"><strong>Etiqueta 2</strong>
                <input type="radio" name="option">
                <span class="check"></span>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="radio-rosa"><strong>Etiqueta 3</strong>
                <input type="radio" name="option">
                <span class="check"></span>
            </label>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('radio-lineal')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="radio-lineal">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-check form-check-inline"</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"radio-rosa"</span><span>></span> Etiqueta 1
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"radio"</span><span class="ca4"> name</span><span>=</span><span class="cn">"optradio"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"check"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-check form-check-inline"</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"radio-rosa"</span><span>></span> Etiqueta de radio button 2
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"radio"</span><span class="ca4"> name</span><span>=</span><span class="cn">"optradio"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"check"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-check form-check-inline"</span><span>></span>
    <span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"radio-rosa"</span><span>></span> Etiqueta de radio button 3
        <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"radio"</span><span class="ca4"> name</span><span>=</span><span class="cn">"optradio"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"check"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">label</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
</section>