h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
}

@import './src/sass/_variables.scss';
.circulo {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-top: 3px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .img-al-centro {
        text-align: center;
    }
    .tamaño-tipografia-15 {
        font-size: 15px;
    }
    .centrado-texto {
        text-align: center;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .img-al-centro {
        text-align: center;
    }
    .tamaño-tipografia-15 {
        font-size: 15px;
    }
    .centrado-texto {
        text-align: center;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}