<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <p>
        Las entradas de texto permiten al usuario ingresar contenido y datos para interactuar con ellos. El componente se puede utilizar en entradas largas y cortas.
    </p>
    <h4 class="titulos-elementos padding-t-30">Sub-titulo</h4>
    <div class="row">
        <div class="offset-3 col-6 offset-md-0 col-md-4 padding-t-20">
            <p class="subseccion etiqueta-referencia text-left margin-0">Vacio</p>
            <p class="subseccion text-left etiqueta-input">Etiqueta</p>
            <img class="img-fluid" src="./assets/img/inputs/estilo/combo-1.svg" alt="Input deshabilitado">
            <div class="padding-t-20">
                <p class="texto-elementos margin-0">
                    <strong>Aa</strong> <span class="padding-l-20">#999999</span>
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-gris-clarito2 border-grisOscuro2-1"></div>
                <p class="padding-l-40 texto-elementos margin-0">
                    #F8F8F8
                </p>
            </div>
            <div class="padding-t-10">
                <hr class="linea-border border-t-magenta-2">
                <p class="padding-l-40 texto-elementos margin-0">
                    #B7006D
                </p>
            </div>
        </div>
        <div class="offset-3 col-6 offset-md-0 col-md-4 padding-t-20 padding-top-40">
            <p class="subseccion etiqueta-referencia text-left margin-0">Focus</p>
            <p class="subseccion text-left etiqueta-input">Etiqueta</p>
            <img class="img-fluid" src="./assets/img/inputs/estilo/combo-2.svg" alt="Input en estado: focus">
            <div class="padding-t-20">
                <p class="texto-elementos margin-0">
                    <strong>Aa</strong> <span class="padding-l-20">#333333</span>
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-gris-clarito2 border-grisOscuro2-1"></div>
                <p class="padding-l-40 texto-elementos margin-0">
                    #F8F8F8
                </p>
            </div>
            <div class="padding-t-10">
                <hr class="linea-border border-t-magenta-2">
                <p class="padding-l-40 texto-elementos margin-0">
                    #B7006D
                </p>
            </div>
        </div>
        <div class="offset-3 col-6 offset-md-0 col-md-4 padding-t-20 padding-top-40 padding-b-20">
            <p class="subseccion etiqueta-referencia text-left margin-0">Despliegue</p>
            <p class="subseccion text-left etiqueta-input">Etiqueta</p>
            <img class="img-fluid" src="./assets/img/inputs/estilo/combo-3.svg" alt="Dropdown desplegado">
            <div class="padding-t-20">
                <p class="texto-elementos margin-0">
                    <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-gris-clarito2 border-grisOscuro2-1"></div>
                <p class="padding-l-40 texto-elementos margin-0">
                    #F8F8F8
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-blanco border-magenta-1"></div>
                <p class="padding-l-40 texto-elementos margin-0">
                    #F8F8F8
                </p>
            </div>
        </div>
    </div>

    <h4 class="titulos-elementos padding-t-50">Tipografía</h4>
    <div class="bg-img padding-20 margin-t-10 ">
        <!-- Titulos -->
        <div class="row tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p class="">
                    Elemento
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Color
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    Tamaño
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Peso y estilo
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Alineación
                </p>
            </div>
        </div>
        <!--Etiqueta-->
        <div class="row etiqueta-input tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p class="">
                    Etiqueta
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    #666666
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
        <!--Etiqueta de referencia-->
        <div class="row tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p class="">
                    Texto de entrada
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    #333333
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
    </div>

    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <!--Estructura-->
    <div class="padding-t-10">
        <div class="row ">
            <div class="col-md-4 imagen-al-centro">
                <p class="subseccion etiqueta-referencia text-left margin-0">Tamaño</p>
                <img class="img-fluid " align="left " src="./assets/img/combo/Estilo/estructura.svg" alt="Diagrama indicando que la altura del input debe ser 45px">
            </div>
        </div>
    </div>
    <!--Espaciado-->
    <h4 class="titulos-elementos padding-t-50">Espaciado</h4>
    <div class="padding-t-10">
        <div class="bg-img padding-20">
            <div class="row">
                <div class="col-md-4 imagen-al-centro">
                    <img class="img-fluid" src="./assets/img/combo/Estilo/espaciado.svg" alt="Diagrama indicando que el espacio entre el borde del input y los elementos del dropdown debe ser de 10px.">
                </div>
            </div>
        </div>
    </div>
    <!--Despliegue-->
    <h4 class="titulos-elementos padding-t-50">Despliegue</h4>
    <div class="padding-t-10">
        <div class="row">
            <div class="col-md-4 imagen-al-centro">
                <img class="img-fluid" src="./assets/img/combo/Estilo/despliegue-1.svg" alt="Diagrama para indicar que el en el dropdown desplegado el espaciado del lado izquierdo debe medir 15px y el elemento elegible 35px de altura.">
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es un Dropdowns?</h3>
    <p>
        Nuestros desplegables o combo box son eﬁcientes cuando se requiere mostrar más de 5 opciones a los usuarios, los espacios de un formulario o apartado son limitados, e incluso ayudan a los usuarios a escribir información en una entrada de texto que sugiera
        posibles opciones incluidas en el desplegable.
    </p>
    <div class="col-12">
        <p>
            <strong>Combo box predeterminado:</strong> Utiliza este componente cuando necesites que el usuario tenga una opción seleccionada por default.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Se solicita que el usuario ingrese el lugar de origen de los recursos materiales que serán enviados al almacén del Instituto. Utiliza este combo predeterminado para ﬁjar el lugar de origen, en este caso sería Moneda 64.
        </p>
        <div class="imagen-al-centro padding-b-60">
            <img class="img-fluid" src="./assets/img/combo/Usos/uso-1.svg" alt="Ilustración de un dropdown cerrado">
        </div>
        <p>
            <strong>Combo box con marcador:</strong> Asegúrate de utilizar este combo cuando no se tenga certeza de la opción que podría seleccionar el usuario, la cual sirve como marcador para indicarle el tipo de selección que tendrá a su disposición.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            En el sistema de Quejas y Denuncias se solicita que el usuario ingrese el tipo de queja a registrar. Podría seleccionar cualquier opción ya que el sistema desconoce la procedencia de la demanda. Apóyate de este combo e indica con un marcador el siguiente
            mensaje: Selecciona el tipo de queja.
        </p>
        <div class="imagen-al-centro padding-b-60">
            <img class="img-fluid" src="./assets/img/combo/Usos/uso-2.svg" alt="Ilustración de un dropdown desplegado con opciones de delitos.">
        </div>
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Dropdowns</h3>
    <p>Encuentra el código HTML necesario para incorporar este componente en tu proyecto. Este código está desarrollado con las validaciones convenientes para facilitar su integración.</p>
    <div class="row padding-t-20 justify-content-center">
        <div class="col-6 col-md-4 ">
            <div ngbDropdown class="d-inline-block combo-size">
                <button class="btn combo-ine-gris padding-l-20 padding-r-20 text-left" id="dropdownBasic" ngbDropdownToggle>{{valueSelected}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                    <div class="scroll">
                        <button class="drop-down-item" (click)="valueSelected='Action 1'" ngbDropdownItem>Action - 1</button>
                        <button class="drop-down-item" (click)="valueSelected='Action 2'" ngbDropdownItem>Another Action</button>
                        <button class="drop-down-item" (click)="valueSelected='Action 3'" ngbDropdownItem>Something else is here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25 margin-t-60 ">
        <p class="text-right margin-0 ">
            <span class="function-copiar " (click)="CopyToClipboard('combo') " ngbTooltip="Código copiado " triggers="click:blur "> <i class="fa fa-clone padding-r-5 " aria-hidden="true "></i> Copiar</span>
        </p>
        <hr class="hrJumbotron ">
        <div id="combo">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> ngbDropdown</span><span class="ca4"> class</span><span>=</span><span class="cn">"d-inline-block combo-size"</span><span>></span>
    <span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn combo-ine-gris padding-l-20 padding-r-20 text-left"</span><span class="ca4"> id</span><span>=</span><span class="cn">"dropdownBasic"</span><span class="ca4"> ngbDropdownToggle</span><span>></span><span class="cam">&#123;<span class="cl">&#123;</span></span><span class="ca4">valueSelected</span><span class="cl">&#125;</span><span class="cam">&#125;</span><span><</span><span>/</span><span class="ca5">button</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> ngbDropdownMenu</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"dropdownBasic"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"scroll"</span><span>></span>
            <span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"drop-down-item"</span><span class="cam"> (</span><span class="ca4">click</span><span class="cam">)</span><span>=</span><span class="cn">"</span><span class="ca4">valueSelected</span><span>=</span><span class="cn">'Action 1'"</span><span class="ca4"> ngbDropdownItem</span><span>></span>Action - 1<span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"drop-down-item"</span><span class="cam"> (</span><span class="ca4">click</span><span class="cam">)</span><span>=</span><span class="cn">"</span><span class="ca4">valueSelected</span><span>=</span><span class="cn">'Action 2'"</span><span class="ca4"> ngbDropdownItem</span><span>></span>Another Action<span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"drop-down-item"</span><span class="cam"> (</span><span class="ca4">click</span><span class="cam">)</span><span>=</span><span class="cn">"</span><span class="ca4">valueSelected</span><span>=</span><span class="cn">'Action 3'"</span><span class="ca4"> ngbDropdownItem</span><span>></span>Something else is here<span><</span><span>/</span><span class="ca5">button</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <p>A continuación encuentra el código TypeScript necesario para darle funcionalidad a este componente. Sigue estas recomendaciones y construye una interfaz funcional, usable y accesible.</p>
    <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25 margin-t-60 ">
        <p class="text-right margin-0 ">
            <span class="function-copiar " (click)="CopyToClipboard('combots') " ngbTooltip="Código copiado " triggers="click:blur "> <i class="fa fa-clone padding-r-5 " aria-hidden="true "></i> Copiar</span>
        </p>
        <hr class="hrJumbotron ">
        <div id="combots">
            <pre>
                <code class="language-html" data-lang="html">
<span>@</span><span class="cv">Input</span><span class="cm">(</span><span class="cm">)</span><span class="ca4"> seccion</span><span>:</span><span class="cv"> any</span><span>;</span>
<span class="ca5">public</span><span class="ca4"> valueSelected</span><span> =</span><span class="cn"> 'Seleccionar'</span><span>;</span>
                </code>
            </pre>
        </div>
    </div>
</section> 