.imgs-ux {
    width: 155px;
    height: auto;
}

h3 {
    color: var(--txt-color-link);
    text-decoration-line: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
}

h3:hover {
    color: #B7006D;
    text-decoration-line: underline;
    cursor: pointer;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .xs-img {
        text-align: center;
    }

    .xs-margin {
        margin-top: 80px;
    }
    
    .padding-t-80 {
        padding-top: 0;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .xs-img {
        text-align: center;
    }

    .xs-margin {
        margin-top: 80px;
    }
    
    .padding-t-80 {
        padding-top: 0;
    }
}