<div class="row text-left">
    <div class="col-lg-5 col-md-6">
        <div class="padding-b-40 xs-img">
            <img class="imgs-ux" src="./assets/img/home/investigacion-de-usuarios.png" alt="Ivestigacion de usuarios">
        </div>
        <h3 [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno']">Investigacion de Usuarios</h3>
        <p class="padding-t-20 fw-400">
            Conoce a tus usuarios y analiza eficazmente sus necesidades y motivaciones a través de diversas técnicas de investigación.
        </p>
    </div>
    <div class="offset-lg-2 col-lg-5 col-md-6 xs-margin">
        <div class="padding-b-40 xs-img">
            <img class="imgs-ux" src="./assets/img/home/arquitectura-de-informacion.png" alt="Arquitectura de información">
        </div>
        <h3 [routerLink]="['/experiencia-de-usuario/arquitectura-de-informacion/organizacion/inventario-de-contenidos']">Arquitectura de Información</h3>
        <p class="padding-t-20 fw-400">
            Organiza y estructura la información para que tus usuarios encuentren los contenidos que necesitan de manera fácil, rápida y comprensible.
        </p>
    </div>
</div>
<div class="row padding-t-80 text-left xs-margin">
    <div class="col-lg-5 col-md-6">
        <div class="padding-b-40 xs-img">
            <img class="imgs-ux" src="./assets/img/home/diseño-de-interfaz.png" alt="Diseño de interfaz">
        </div>
        <h3 [routerLink]="['/experiencia-de-usuario/diseno-de-interfaz/storyboard/que-es']">Diseño de Interfaz</h3>
        <p class="padding-t-20 fw-400">
            Crea una interfaz de interacción simple, coherente y eficiente, que maximice el acceso a la información y experiencia de usuario.
        </p>
    </div>
    <div class="offset-lg-2 col-lg-5 col-md-6 xs-margin">
        <div class="padding-b-40 xs-img">
            <img class="imgs-ux" src="./assets/img/home/metricas.png" alt="Métricas">
        </div>
        <h3 [routerLink]="['/experiencia-de-usuario/mejora-continua/pruebas/pruebas-de-usabilidad']">Mejora Continua</h3>
        <p class="padding-t-20 fw-400">
            Respalda el diseño de tu producto digital con los resultados de una previa investigación y logra fortalecerlo priorizando las necesidades de los usuarios.
        </p>
    </div>
</div>
<div class="row padding-t-80 text-left xs-margin">
    <div class="col-lg-5 col-md-6">
        <div class="padding-b-40 xs-img">
            <img class="imgs-ux" src="./assets/img/open-graph/optimizacion.svg" alt="Optimización">
        </div>
        <h3 [routerLink]="['/experiencia-de-usuario/optimizacion/open-graph/que-es']">Optimización</h3>
        <p class="padding-t-20 fw-400">
            Enriquece la experiencia de usuario en tus proyectos web a través de buenas prácticas que puedes incorporar a tu código HTML.
        </p>
    </div>
</div>