<div class="row">
  <div class="offset-md-1 offset-lg-1 col-md-8 col-lg-8">
    <div class="margenes">
      <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion f-18">
        <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
            <li class="nav-item nav-seccion padding-l-15 padding-r-15"
              [routerLink]="['/documentacion-de-desarrollo/app-moviles/capas-movil/modelo']"
              [ngClass]="{'active' : seccion =='modelo'}">
              <a class="nav-link color-rosaINE">Modelo MVVM</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15"
              [routerLink]="['/documentacion-de-desarrollo/app-moviles/capas-movil/implementacion-mvvm']"
              [ngClass]="{'active' : seccion =='implementacion-mvvm'}">
              <a class="nav-link color-rosaINE">Implementación MVVM</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="margin-t-50">
        <section *ngIf="seccion=='modelo'">
          <div class="d-block d-sm-block d-md-none" id="myScrollspy">
            <div class="list-group">
              <div class="margin-b-25">
                <h4 class="fw-500 sn-brdr list-group-item list-group-item-action txt-c">Contenido</h4>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action active" href="#acerca-de"
                  (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca
                  de</a>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#introduccion"
                  (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                <div class="list-group sublist">
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#proposito"
                    (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#alcance"
                    (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#pca"
                  (click)="globalService.gotoSection('pca'); $event.preventDefault();">Principios comunes de la
                  arquitectura</a>
                <div class="list-group sublist">
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#sp"
                    (click)="globalService.gotoSection('sp'); $event.preventDefault();">Separación de problemas
                    Lógica</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#ui"
                    (click)="globalService.gotoSection('ui'); $event.preventDefault();">Controlar la IU a partir de un
                    modelo
                    Desarrollo</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#rgmvvm"
                  (click)="globalService.gotoSection('rgmvvm'); $event.preventDefault();">Representación gráfica del
                  Modelo Vista Vista-Modelo (MVVM)</a>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#cmvvm"
                  (click)="globalService.gotoSection('cmvvm'); $event.preventDefault();">Capas Modelo, Vista,
                  Vista-Modelo</a>
                <div class="list-group sublist">
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#cv"
                    (click)="globalService.gotoSection('cv'); $event.preventDefault();">Capa vista (Activity/Fragment):
                    Lógica</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#cvm"
                    (click)="globalService.gotoSection('cvm'); $event.preventDefault();">Capa ViewModel</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#ld"
                    (click)="globalService.gotoSection('ld'); $event.preventDefault();">LiveData</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#repository"
                    (click)="globalService.gotoSection('repository'); $event.preventDefault();">Repository</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#model"
                    (click)="globalService.gotoSection('model'); $event.preventDefault();">Model</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#room"
                    (click)="globalService.gotoSection('room'); $event.preventDefault();">Room</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#retrofit"
                    (click)="globalService.gotoSection('retrofit'); $event.preventDefault();">Retrofit</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#aj"
                    (click)="globalService.gotoSection('aj'); $event.preventDefault();">Android Jetpack</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#referencias"
                  (click)="globalService.gotoSection('referencias'); $event.preventDefault();">Referencias</a>
              </div>
            </div>
          </div>
          <hr class="d-block d-sm-block d-md-none clr-hr">
          <div id="acerca-de" class="margin-t-25 margin-b-60">
            <h3>Acerca de</h3>
            <div class="margin-t-40">
              <p>
                El MVVM se introdujo en Android con la Biblioteca DataBinding. Este modelo permite a los desarrolladores
                móvil utilizar el concepto de enlace de datos con un código reducido.
              </p>
            </div>
          </div>
          <div id="introduccion" class="margin-t-45 margin-b-60">
            <h3>Introducción</h3>
            <div id="proposito" class="margin-t-45 margin-b-60">
              <h4>Propósito</h4>
              <div class="margin-t-25">
                <p>
                  El propósito de este documento es sentar las bases para la gestión de la
                  arquitectura móvil Modelo, Vista, Vista-Modelo (MVVM) para emplear como estructura
                  inicial ya definida, para facilitar el uso de buenas prácticas de desarrollo y una
                  mayor eficiencia.
                </p>
              </div>
            </div>
            <hr>
            <div id="alcance" class="margin-t-45">
              <h4>Alcance</h4>
              <div class="margin-t-25">
                <p>
                  En este apartado se describirán el porqué del uso de ciertas tecnologías y el funcionamiento de la
                  arquitectura MVVM.
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div id="pca" class="margin-t-45 margin-b-60">
            <h3>Principios comunes de la arquitectura</h3>
            <div id="sp" class="margin-t-45">
              <h4>Separación de problemas</h4>
              <div class="margin-t-25">
                <p>
                  El principio más importante que debes seguir es el deseparación de problemas. Un error común es
                  escribir todo tu código en unaActivityo unFragment. Estas clases basadas en IU solo deberían contener
                  lógica que se ocupe de interacciones del sistema operativo y de IU. Si mantienes estas clases tan
                  limpias como sea posible, puedes evitar muchos problemas relacionados con el ciclo de vida.
                </p>
                <p>
                  Ten en cuenta que no eres elpropietariode las implementaciones deActivityyFragment, sino que estas
                  solo son clases que representan el contrato entre el Sistema Operativo (S.O.)Android y tu app. El S.O.
                  puede finalizarlas en cualquier momento en función de las interacciones de usuarios y otras
                  condiciones del sistema, como memoria insuficiente. Google recomiendo reducir las dependencias de
                  estas clases para que puedas brindar una experiencia del usuario satisfactoria y una experiencia de
                  mantenimiento más fácil de administrar.
                </p>
              </div>
            </div>
            <hr>
            <div id="iu" class="margin-t-45">
              <h4>Controlar la IU a partir de un modelo</h4>
              <div class="margin-t-25">
                <p>
                  Otro principio importante es que debescontrolar la IU apartir de un modelo, preferentemente uno de
                  persistencia. Losmodelosson componentes responsables de administrar los datos de una app. Son
                  independientes de los componentes de la app y los objetosView, de modo que no se ven afectados por el
                  ciclo de vida de la app y los problemas asociados.
                </p>
              </div>
              <p>La persistencia es ideal debido a los siguientes motivos:</p>
              <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                <ul>
                  <li>Tus usuarios no perderán datos si el SOAndroid cierra tu app para liberar recursos.</li>
                  <li>Tu app continuará funcionando cuando la conexión de red sea inestable o no esté disponible.</li>
                </ul>
              </div>
              <div class="margin-t-25">
                <p>
                  Si tu app está basada en clases de modelos con una responsabilidad bien definida para la
                  administración de datos, tu app será más consistente y será más fácil realizar pruebas en ella.
                </p>
              </div>
            </div>
            <hr>
          </div>
          <div id="rgmvvm" class="margin-t-45 margin-b-60">
            <h3>Representación gráfica del Modelo Vista Vista-Modelo (MVVM)</h3>
            <p>
              A continuación, se observa cómo todos los módulos deberían interactuar entre sí una vez diseñada la app:
            </p>
            <div class="margin-t-50">
              <div class="back-img margin-t-25 margin-b-25">
                <img class="img-responsive img-fluid img-width"
                  src="assets/img/doc-android/arquitectura-movil/evaluacion_acdm/arquitectura_mvvm.svg" alt="">
              </div>
              <p class="pie-img"><span class="fw-500">Figura 1.</span> Diagrama de arquitectura MVVM. </p>
            </div>
            <p>Observa que cada componente solo depende del componente que está un nivel más abajo. Por ejemplo, las
              actividades y los fragmentos solo dependen de un modelo de vista. El repositorio es la única clase que
              depende de otras clases. En este ejemplo, el repositorio depende de un modelo de datos persistente y de
              una fuente de datos de backend remota.</p>
            <p>
              Este diseño crea una experiencia del usuario consistente y agradable. Independientemente de que el usuario
              vuelva a la app varios minutos después de cerrarla por última vez o varios días más tarde, verá al
              instante la información del usuario de que la app persiste a nivel local. Si estos datos están inactivos,
              el módulo de repositorio comienza a actualizar los datos en segundo plano.
            </p>
            <hr>
          </div>
          <div id="cmvvm" class="margin-t-45 margin-b-60">
            <h3>Capas Modelo, Vista, Vista-Modelo</h3>
            <div id="cv" class="margin-t-45">
              <h4>Capa vista (Activity/Fragment)</h4>
              <div class="margin-t-25">
                <p>
                  Se encarga de mostrar la información directamente al usuario y es la capa con la que éste interacciona
                  directamente a través de eventos, permitiendo la manipulación de la aplicación y sus datos.
                </p>
              </div>
            </div>
            <hr>
            <div id="cvm" class="margin-t-45">
              <h4>Capa ViewModel</h4>
              <div class="margin-t-25">
                <p>
                  Un objeto ViewModel proporciona los datos para un componente de IU específico, como un fragmento o una
                  actividad, y también incluye lógica de negociode manejo de datos para comunicarse con el modelo. Por
                  ejemplo, ViewModel puede llamar a otros componentespara cargar los datos, y puede desviar solicitudes
                  de usuarios para modificar la información. ViewModel no tiene conocimiento sobre los componentes de
                  IU, de manera que no se ve afectado por los cambios de configuración, como la recreación de una
                  actividad debido a la rotación del dispositivo.
                </p>
              </div>
            </div>
            <hr>
            <div id="ld" class="margin-t-45">
              <h4>LiveData</h4>
              <div class="margin-t-25">
                <p>
                  Es una clase que retiene datos observables. Otros componentes de tu app pueden supervisar cambios en
                  objetos que usan este titular sin crear rutas de dependencia explícitas y rígidas entre ellos. El
                  componente LiveData también respeta el estado del ciclo de vida de los componentes de tu app, como las
                  actividades, los fragmentos y los servicios, e incluye lógica de limpieza para evitar las fugas de
                  objetos y el consumo de memoria excesivo.
                </p>
              </div>
            </div>
            <hr>
            <div id="repository" class="margin-t-45">
              <h4>Repository</h4>
              <div class="margin-t-25">
                <p>
                  Los módulos derepositoriomanejan las operaciones de datos. Proporcionan una API limpia para que el
                  resto de la app pueda recuperar estos datos fácilmente. Saben de dónde obtener los datos y qué
                  llamadas de API deben hacer cuando se actualizan los datos. Puedes considerar a los repositorios como
                  mediadores entre diferentes fuentes de datos, como modelos persistentes, servicios web y memorias
                  caché.</p>
              </div>
            </div>
            <hr>
            <div id="model" class="margin-t-45">
              <h4>Model</h4>
              <div class="margin-t-25">
                <p>
                  Representa los datos y la lógica de negocio de la aplicación de Android. La lógica de negocio consiste
                  en: fuente de datos local y remota, clases de modelo, repositorio.</p>
              </div>
            </div>
            <hr>
            <div id="room" class="margin-t-45">
              <h4>Room</h4>
              <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                <ul>
                  <li>LibreríaORM(Object-Relationalmapping): convierte objetos SQLite a objetos Java/Kotlin
                    automáticamente.</li>
                  <li>Validación SQL en tiempo de compilación.</li>
                  <li>Devuelve objetos LiveData para observar cambios en la base de datos.</li>
                </ul>
              </div>
            </div>
            <hr>
            <div id="retrofit" class="margin-t-45">
              <h4>Retrofit</h4>
              <div class="margin-t-25">
                <p>
                  Es un cliente REST para Android. Permite hacer peticiones GET, POST, PUT, PATCH, DELETE y HEAD,
                  gestionar diferentes tipos de parámetros y parsear automáticamente la respuesta a un POJO.
                </p>
              </div>
            </div>
            <hr>
            <div id="aj" class="margin-t-45">
              <h4>Android Jetpack</h4>
              <div class="margin-t-25">
                <p>
                  Es un cliente REST para Android. Permite hacer peticiones GET, POST, PUT, PATCH, DELETE y HEAD,
                  gestionar diferentes tipos de parámetros y parsear automáticamente la respuesta a un POJO.
                </p>
                <p>
                  Jetpack incluye bibliotecas de paquetes de androidx. * desglosadas de las API de la plataforma. Esto
                  significa que ofrece retro-compatibilidady se actualiza con mayor frecuencia que la plataforma de
                  Android, de manera que siempre tendrás acceso a las mejores y más recientes versiones de los
                  componentes de Jetpack.
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div id="referencias" class="margin-t-45 margin-b-60">
            <h3>Referencias</h3>
            <div class="container margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
              <ul>
                <li>
                  <a class="subrayado" href="https://developer.android.com/topic/libraries/data-binding"
                    rel="noopener noreferrer" target="_blank">Biblioteca de vinculación de datos
                  </a>
                </li>
                <li>
                  <a class="subrayado" href="https://developer.android.com/topic/libraries/data-binding/start"
                    rel="noopener noreferrer" target="_blank">Cómo comenzar Android
                  </a>
                </li>
                <li>
                  <a class="subrayado" href="https://developer.android.com/jetpack/guide" rel="noopener noreferrer"
                    target="_blank">Guía de arquitectura de apps
                  </a>
                </li>
                <li>
                  <a class="subrayado" href="https://developer.android.com/jetpack/guide#common-principles"
                    rel="noopener noreferrer" target="_blank">Principios comunes de arquitectura
                  </a>
                </li>
                <li>
                  <a class="subrayado"
                    href="https://www.wearemobilefirst.com/blog/mvvm-android-architecture-data-binding"
                    rel="noopener noreferrer" target="_blank">MVVM, Android Architecture and Data Binding
                  </a>
                </li>
                <li>
                  <a class="subrayado" href="https://developer.android.com/topic/libraries/architecture"
                    rel="noopener noreferrer" target="_blank">Componentes de la arquitectura de Android
                  </a>
                </li>
                <li>
                  <a class="subrayado" href="https://developer.android.com/jetpack?hl=es-419" rel="noopener noreferrer"
                    target="_blank">Android Jetpack
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section *ngIf="seccion=='implementacion-mvvm'">
          <div class="d-block d-sm-block d-md-none" id="myScrollspy">
            <div class="list-group">
              <div class="margin-b-25">
                <h4 class="fw-500 sn-brdr list-group-item list-group-item-action txt-c">Contenido</h4>
                <!-- <a class="fw-500 f-20 sn-brdr list-group-itemtxt-t list-group-item-action active"
                                  href="#acerca-de"
                                  (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca
                                  de</a><br> -->
                <a class="fw-500 f-20 sn-brdr list-group-itemtxt-t list-group-item-action" href="#implementacion"
                  (click)="globalService.gotoSection('implementacion'); $event.preventDefault();">Implementación de la
                  Arquitectura MVVM</a>
                <div class="list-group sublist">
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#proposito"
                    (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p1"
                    (click)="globalService.gotoSection('p1'); $event.preventDefault();">Paso 1</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p2"
                    (click)="globalService.gotoSection('p2'); $event.preventDefault();">Paso 2</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p3"
                    (click)="globalService.gotoSection('p3'); $event.preventDefault();">Paso 3</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p4"
                    (click)="globalService.gotoSection('p4'); $event.preventDefault();">Paso 4</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p5"
                    (click)="globalService.gotoSection('p5'); $event.preventDefault();">Paso 5</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p6"
                    (click)="globalService.gotoSection('p6'); $event.preventDefault();">Paso 6</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p7"
                    (click)="globalService.gotoSection('p7'); $event.preventDefault();">Paso 7</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p8"
                    (click)="globalService.gotoSection('p8'); $event.preventDefault();">Paso 8</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p9"
                    (click)="globalService.gotoSection('p9'); $event.preventDefault();">Paso 9</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p10"
                    (click)="globalService.gotoSection('p10'); $event.preventDefault();">Paso 10</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p11"
                    (click)="globalService.gotoSection('p11'); $event.preventDefault();">Paso 11</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p12"
                    (click)="globalService.gotoSection('p12'); $event.preventDefault();">Paso 12</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p13"
                    (click)="globalService.gotoSection('p13'); $event.preventDefault();">Paso 13</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p14"
                    (click)="globalService.gotoSection('p14'); $event.preventDefault();">Paso 14</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p15"
                    (click)="globalService.gotoSection('p15'); $event.preventDefault();">Paso 15</a>
                  <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#p16"
                    (click)="globalService.gotoSection('p16'); $event.preventDefault();">Paso 16</a>
                </div>
              </div>
            </div>
          </div>
          <hr class="d-block d-sm-block d-md-none clr-hr">
          <div id="implementacion" class="margin-t-45 margin-b-60">
            <h3>Ejemplo de implementación de la Arquitectura MVVM</h3>
            <p>Hay 3 maneras de notificar a las clases sin tener una referencia de ella</p>
            <ul>
              <li>Uso del enlace de datos bidireccional</li>
              <li>Usando datos en vivo (LiveData)</li>
              <li>Usando RxJava</li>
            </ul>
            <p>
              Para modo de ejemplo usaremos solo Enlace de datos (Data Binding).La Biblioteca de enlace de datos fue
              introducida por Google para vincular datos directamente en el diseñoXML.
            </p>
            <p>
              Crearemos una aplicación de ejemplo de página de inicio de sesión simple que solicita las entradas de los
              usuarios.Veremos cómo ViewModel notifica a la vista cuándo mostrar un mensaje Toast sin mantener una
              referencia de la vista.
            </p>
            <hr>
            <div id="p1" class="margin-t-40 margin-b-45">
              <h4>Paso 1</h4>
              <p class="margin-t-25">
                Iniciamos abriendo nuestro Entorno de Desarrollo Integrado (IDE) Android Studio versión 3.6.2.
              </p>
              <div class="margin-t-50">
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_1.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p2" class="margin-t-45">
              <h4>Paso 2</h4>
              <div class="margin-t-25">
                <p>
                  Crear un proyecto nuevo. File -> New -> New Project
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_2.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p3" class="margin-t-45">
              <h4>Paso 3</h4>
              <div class="margin-t-25">
                <p>
                  Seleccionar el Template Empty Activity
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_3.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p4" class="margin-t-45">
              <h4>Paso 4</h4>
              <div class="margin-t-25">
                <p>
                  Configurar los datos generales del proyecto como lo muestra la figura Siguiente.
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_4.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p5" class="margin-t-45">
              <h4>Paso 5</h4>
              <div class="margin-t-25">
                <p>
                  Una vez finalizada la creación del proyecto se muestra lo siguiente.
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_5.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p6" class="margin-t-45">
              <h4>Paso 6</h4>
              <div class="margin-t-25">
                <p>
                  Creando la Estructura del proyecto
                </p>
                <ul>
                  <li>Paso 1: Clic derecho en el paquete mx.ine.projectmvvm</li>
                  <li>Paso 2: New</li>
                  <li>Paso 3: Package</li>
                  <li>Paso 4: Repitiendo los pasos anteriores crear los paquetes data, ui.</li>
                </ul>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_6.svg"
                    alt="">
                </div>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_7.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p7" class="margin-t-45">
              <h4>Paso 7</h4>
              <div class="margin-t-25">
                <p>
                  Agregue dataBindingal archivo build.gradle (Module: app)
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_8.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p8" class="margin-t-45">
              <h4>Paso 8</h4>
              <div class="margin-t-25">
                <p>
                  dataBinding habilita el enlace de datos en su aplicación.
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_9.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p9" class="margin-t-45">
              <h4>Paso 9</h4>
              <div class="margin-t-25">
                <p>
                  Agregue la siguiente dependencia en su archivo build.gradle:
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_10.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p10" class="margin-t-45">
              <h4>Paso 10</h4>
              <div class="margin-t-25">
                <p>
                  Dar clic en Sync Now, se encuentra en la parte superior derecha.
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_11.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p11" class="margin-t-45">
              <h4>Paso 11</h4>
              <div class="margin-t-25">
                <p>Agregar el siguiente código al activity_main.xml, el cual se encuentra en res/layout.</p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_12.svg"
                    alt="">
                </div>
                <p>En la imagen anterior nuestro ViewModel une los datos a la Vista.EditText actualiza los valores en el
                  Modelo (a través de ViewModel).Se puede observar que el Widget EditText cuenta con una propiedad
                  android: hintla cual por medio del databinding estamos en lanzando el dato que nos provee el modelo
                  User” @&#123;user.newEmail&#125;”.</p>
              </div>
            </div>
            <hr>
            <div id="p12" class="margin-t-45">
              <h4>Paso 12</h4>
              <div class="margin-t-25">
                <p>Dentro del paquete de data agrega los siguientes archivos User y HandlersMainActivity, siguiendo los
                  pasos que se mencionan a continuación:</p>
                <ul>
                  <li>Paso 1: Click derecho en el paquete data</li>
                  <li>Paso 2: New</li>
                  <li>Paso 3: Kotlin File/Class</li>
                </ul>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_13.svg"
                    alt="">
                </div>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_14.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p13" class="margin-t-45">
              <h4>Paso 13</h4>
              <div class="margin-t-25">
                <p>
                  Dentro del data Class User estamos inicializando sus parámetros a modo de ejemplo, para que se pueda
                  observar la comunicación que tiene por medio del Data Binding con la vista activity_main.xml
                  específicamente en lanzando el WidgetEditText y propiedad android: hint.
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_15.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p14" class="margin-t-45">
              <h4>Paso 14</h4>
              <div class="margin-t-25">
                <p>
                  La clase HandlersMAinActivity para este ejemplo será la encargada de recibir los valores que se
                  introducen dentro de los Widget EditText, como se puede observar a continuación tenemos una función
                  changedEditText la cual retorna un String, para poder manejarlo en un Toast y poder representar un
                  mensaje en la vista.
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_16.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p15" class="margin-t-45">
              <h4>Paso 15</h4>
              <div class="margin-t-25">
                <p>
                  El MainActivity lo tenemos que mover al paquete ui, debido a que pertenece a las vistas, lo que se
                  estárealizando en esta Clase dentro del onCreate es decirle al dataBinding que el enlace de datos será
                  con el layout (la vista) activity_main y creando una instancia de User, para poder mostrar los datos
                  de User en la vista, buscamos los Widget editTextUser yeditTextPassword, los cuales pasaremos al
                  HandlersMainActivity, como se puede observar a continuación.
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_17.svg"
                    alt="">
                </div>
              </div>
            </div>
            <hr>
            <div id="p16" class="margin-t-45">
              <h4>Paso 16</h4>
              <div class="margin-t-25">
                <p>
                  Una vez realizando todos los pasos Anteriores tendremos como resultado lo siguiente:
                </p>
                <div class="back-img margin-t-25 margin-b-25">
                  <img class="img-responsive img-fluid img-width" src="assets/img/doc-android/modelo mvvm/paso_18.svg"
                    alt="">
                </div>
                <p>Como se puede observar en los Widget EditText tenemos datos precargados, estos datos son provenientes
                  de la data class User.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 menu-r-brdr d-none d-md-block d-lg-block" id="myScrollspy">
    <div class="list-group" *ngIf="seccion=='modelo'">
      <div class="margin-t-60">
        <a class="fw-500 sn-brdr list-group-item list-group-item-action active" href="#acerca-de"
          (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca de</a>
        <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#introduccion"
          (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
        <div class="list-group sublist">
          <a class="sn-brdr list-group-item list-group-item-action" href="#proposito"
            (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#alcance"
            (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
        </div>
        <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#pca"
          (click)="globalService.gotoSection('pca'); $event.preventDefault();">Principios comunes de la arquitectura</a>
        <div class="list-group sublist">
          <a class="sn-brdr list-group-item list-group-item-action" href="#sp"
            (click)="globalService.gotoSection('sp'); $event.preventDefault();">Separación de problemas</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#ui"
            (click)="globalService.gotoSection('ui'); $event.preventDefault();">Controlar la IU a partir de un
            modelo</a>
        </div>
        <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#rgmvvm"
          (click)="globalService.gotoSection('rgmvvm'); $event.preventDefault();">Representación gráfica del Modelo
          Vista Vista-Modelo (MVVM)</a>
        <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#cmvvm"
          (click)="globalService.gotoSection('cmvvm'); $event.preventDefault();">Capas Modelo, Vista, Vista-Modelo</a>
        <div class="list-group sublist">
          <a class="sn-brdr list-group-item list-group-item-action" href="#cv"
            (click)="globalService.gotoSection('cv'); $event.preventDefault();">Capa vista (Activity/Fragment):</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#cvm"
            (click)="globalService.gotoSection('cvm'); $event.preventDefault();">Capa ViewModel</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#ld"
            (click)="globalService.gotoSection('ld'); $event.preventDefault();">LiveData</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#repository"
            (click)="globalService.gotoSection('repository'); $event.preventDefault();">Repository</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#model"
            (click)="globalService.gotoSection('model'); $event.preventDefault();">Model</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#room"
            (click)="globalService.gotoSection('room'); $event.preventDefault();">Room</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#retrofit"
            (click)="globalService.gotoSection('retrofit'); $event.preventDefault();">Retrofit</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#aj"
            (click)="globalService.gotoSection('aj'); $event.preventDefault();">Android Jetpack</a>
        </div>
        <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#referencias"
          (click)="globalService.gotoSection('referencias'); $event.preventDefault();">Referencias</a>
      </div>
    </div>
    <div class="list-group" *ngIf="seccion=='implementacion-mvvm'">
      <div class="margin-t-60">
        <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#implementacion"
          (click)="globalService.gotoSection('implementacion'); $event.preventDefault();">Implementación de la
          Arquitectura MVVM</a>
        <div class="list-group sublist">
          <a class="sn-brdr list-group-item list-group-item-action" href="#p1"
            (click)="globalService.gotoSection('p1'); $event.preventDefault();">Paso 1</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p2"
            (click)="globalService.gotoSection('p2'); $event.preventDefault();">Paso 2</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p3"
            (click)="globalService.gotoSection('p3'); $event.preventDefault();">Paso 3</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p4"
            (click)="globalService.gotoSection('p4'); $event.preventDefault();">Paso 4</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p5"
            (click)="globalService.gotoSection('p5'); $event.preventDefault();">Paso 5</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p6"
            (click)="globalService.gotoSection('p6'); $event.preventDefault();">Paso 6</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p7"
            (click)="globalService.gotoSection('p7'); $event.preventDefault();">Paso 7</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p8"
            (click)="globalService.gotoSection('p8'); $event.preventDefault();">Paso 8</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p9"
            (click)="globalService.gotoSection('p9'); $event.preventDefault();">Paso 9</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p10"
            (click)="globalService.gotoSection('p10'); $event.preventDefault();">Paso 10</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p11"
            (click)="globalService.gotoSection('p11'); $event.preventDefault();">Paso 11</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p12"
            (click)="globalService.gotoSection('p12'); $event.preventDefault();">Paso 12</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p13"
            (click)="globalService.gotoSection('p13'); $event.preventDefault();">Paso 13</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p14"
            (click)="globalService.gotoSection('p14'); $event.preventDefault();">Paso 14</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p15"
            (click)="globalService.gotoSection('p15'); $event.preventDefault();">Paso 15</a>
          <a class="sn-brdr list-group-item list-group-item-action" href="#p16"
            (click)="globalService.gotoSection('p16'); $event.preventDefault();">Paso 16</a>
        </div>
      </div>
    </div>
  </div>
</div>