h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .img-al-centro {
        text-align: center;
    }
    .tamaño-tipografia-15 {
        font-size: 15px;
    }
    .centrado-texto {
        text-align: center;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .img-al-centro {
        text-align: center;
    }
    .tamaño-tipografia-15 {
        font-size: 15px;
    }
    .centrado-texto {
        text-align: center;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}