<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <h4 class="titulos-elementos padding-t-50">Tipos de Progress bar</h4>
    <div class="padding-t-20">
        <h6>Definido</h6>
        <div class="row">
            <div class="col-md-10">
                <div class="progress-bar">
                    <span class="bar">
                        <span class="progress" [ngStyle]="{'width': '20%'}"></span>
                    </span>
                </div>
                <p class="text-center txt-title padding-t-10">
                    Etiqueta, <b>tiempo de progreso</b>
                </p>
            </div>
            <div class="col-md-2 txt-title">
                20%
            </div>
        </div>
    </div>
    <div class="padding-t-20">
        <h6>Indefinido</h6>
        <div class="row">
            <div class="col-md-10">
                <div class="progress-bar">
                    <span class="bar">
                        <span class="progress-unlimited" [ngStyle]="{'width': '20%'}"></span>
                    </span>
                </div>
                <p class="text-center txt-title padding-t-10">
                    Etiqueta, <b>tiempo de progreso</b>
                </p>
            </div>
            <div class="col-md-2 txt-title">
            </div>
        </div>
    </div>

    <!--Estructura-->
    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <div class="padding-t-10">
        <p class="subseccion etiqueta-referencia">Definido</p>
        <img class="img-fluid " src="./assets/img/progressbar/Estilo/estructura-1.svg " alt="El ancho para el progress bar definido es indefinido">
    </div>
    <div class="padding-t-30">
        <p class="subseccion etiqueta-referencia">Espaciado</p>
        <img class="img-fluid " src="./assets/img/progressbar/Estilo/estructura-2.svg " alt="El ancho para el progress bar espaciado es indefinido">
    </div>
    <!--Espaciado-->
    <h4 class="titulos-elementos padding-t-50">Espaciado</h4>
    <div class="padding-t-10">
        <p class="subseccion etiqueta-referencia text-left">Definido</p>
        <img class="img-fluid " src="./assets/img/progressbar/Estilo/espaciado-1.svg " alt="El espacio entre el progress bar definido y la etiqueta de progreso es de 10px">
    </div>
    <div class="padding-t-10">
        <p class="subseccion etiqueta-referencia text-left ">Espaciado</p>
        <img class="img-fluid " src="./assets/img/progressbar/Estilo/espaciado-2.svg " alt="El espacio entre el progress bar espaciado y la etiqueta de progreso es de 10px">
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">Características</h3>
    <p class="padding-t-10">Elemento en la interfaz que permite mostrar de forma gráfica el estado de avance de una tarea o proceso. Generalmente el gráfico está acompañado de información en forma de texto para medir con exactitud el avance.</p>
    <p>Las progress bar o barras de progreso te servirán como indicadores cuando se ejecuten acciones donde se tengan tiempos de espera para el usuario estimados o indefinidos.</p>

    <p class="padding-t-30"><strong>Progress bar definido:</strong> Utiliza este componente cuando se tenga claro el tiempo que tardará el sistema en ejecutar un proceso realizado por el usuario y donde se podrá mostrar la información del avance y su finalización (generalmente
        a manera de porcentaje).</p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>Se pide consultar el reporte de la instalación de casillas, después de haber hecho un filtrado para obtener la información, el usuario selecciona la acción buscar. El sistema indica que el proceso tardará 15 segundos en arrojar datos. Ayúdate de un
        progress bar definido para indicar el porcentaje de avance.</p>
    <div class="img-al-centro">
        <img class="img-fluid" src="./assets/img/progressbar/Usos/uso-1.svg" alt="Ilustración del uso de un progress bar definido">
    </div>
    <p class="padding-t-40">
        <strong>Progress bar indefinido:</strong> Este componente te será de utilidad cuando no se tenga definido el tiempo que tomará la ejecución de ciertas acciones del usuario dentro del sistema, además su animación será visualizada como una constante
        hasta que la tarea haya terminado.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Para sustituir a los ciudadanos designados como funcionarios de casilla que por alguna causa no pueden desarrollar sus funciones el día de la jornada electoral, se solicita que las vacantes sean cubiertas con los ciudadanos de la lista de reserva, el
        sistema se encargará de proporcionar automáticamente al siguiente ciudadano que tomará de dicha lista. Este proceso puede tomar algunos segundos. Utiliza un progress bar indefinido para mostrar al usuario la espera dentro de la pantalla.
    </p>
    <div class="img-al-centro padding-b-40">
        <img class="img-fluid" src="./assets/img/progressbar/Usos/uso-2.svg" alt="Ilustración del uso de un progress bar indefinido">
    </div>
    <p class="tip padding-15">
        <strong>Tip:</strong> Es importante que verifiques en qué parte de la pantalla ubicarás el progress bar, en ocasiones los procesos de espera solo afectan ciertos comportamientos en partes específicas de la pantalla y no en toda el área. Te
        sugerimos analizar previamente la información y hacer pruebas de usabilidad antes de asignar el lugar de la barra de progreso.
    </p>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Progressbar</h3>
    <h4 class="titulos-elementos padding-t-50">Definido</h4>
    <div class="row">
        <div class="col-md-10 col-10 col-sm-10">
            <div class="progress-bar">
                <span class="bar">
                    <span class="progress" [ngStyle]="{'width': '20%'}"></span>
                </span>
            </div>
            <p class="text-center txt-title padding-t-10">
                Etiqueta, <b>tiempo de progreso</b>
            </p>
        </div>
        <div class="col-md-2 txt-title col-2 col-sm-2">
            20%
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('progressDefinido')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="progressDefinido">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"progress-bar"</span><span>></span>
    <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"bar"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"progress"</span><span class="ca4">[ngStyle]</span><span>=</span><span class="cn">"<span class="cam">&#123;</span>'width': '20%'<span class="cam">&#125;</span>"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">span</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <div class="padding-t-60">
        <p class="titulos-elementos">
            Indefinido
        </p>
        <div class="row">
            <div class="col-md-10">
                <div class="progress-bar">
                    <span class="bar">
                        <span class="progress-unlimited" [ngStyle]="{'width': '20%'}"></span>
                    </span>
                </div>
                <p class="text-center txt-title padding-t-10">
                    Etiqueta, <b>tiempo de progreso</b>
                </p>
            </div>
            <div class="col-2 txt-title">
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('progressIndefinido')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="progressIndefinido">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"progress-bar"</span><span>></span>
    <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"bar"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"progress-unlimited"</span><span class="ca4">[ngStyle]</span><span>=</span><span class="cn">"<span class="cam">&#123;</span>'width': '20%'<span class="cam">&#125;</span>"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">span</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
</section>