h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

h4{
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex: 0 0 auto;
}

.fondo-arq {
    background: #F1F8F9 0% 0% no-repeat padding-box;
    padding: 20px;
    text-align: center;
    color: #333333;
    .cntr {
        align-items: center;
    }
}

.fondo-bttn {
    background-color: #C6E1E3;
    border: 1px solid #92C4C8;
}

.fondo {
    background-color: var(--bg-lnmnts-grales);
    li {
        margin-top: 10px;
        margin-left: 15px;
    }
}

hr {
    border-top: 1px solid var(--hr-color-dd);
}

.margenes {
    margin: 80px 0 30px 0;
}

.list-group {
    position: sticky;
    top: 10px;
    cursor: pointer;
    font-size: 14px;
    a {
        padding: 5px 20px 0 20px;
    }
    .sn-brdr {
        border: transparent;
        background-color: transparent;
    }
    .sublist {
        margin-left: 15px;
    }
}

.list-group-item {
    color: var(--txt-color);
}

.active {
    color: var(--txt-color-link);
    ;
    font-weight: 500;
}

.card {
    box-shadow: none;
    background: #C6E1E3 0% 0% no-repeat padding-box;
    border: 1px solid #92C4C8;
    border-radius: 0;
    a {
        color: #333333;
        font-weight: 500;
    }
    a:hover {
        text-decoration: underline;
    }
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px 5px;
}

.modal {
    top: 35px;
}

.clr-hr {
    background: #ED92C8;
}

.letras{
  list-style-type: lower-latin;
}

.fw-400{
    font-weight: 400 !important;
}
        
@media (max-width: 575.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .txt-c {
        font-size: 22px;
    }

    .txt-t {
        font-size: 20px;;
    }

    .txt-s {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .txt-c {
        font-size: 22px;
    }

    .txt-t {
        font-size: 20px;;
    }

    .txt-s {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}
