<div class="row">
    <div class="offset-md-1 offset-lg-1 col-md-8 col-lg-8">
        <div class="margenes">
            <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion f-18">
                <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
                        <li class="nav-item nav-seccion padding-l-15 padding-r-15"
                            [routerLink]="['/documentacion-de-desarrollo/app-moviles/arquitectura-movil/modelo']"
                            [ngClass]="{'active' : seccion =='modelo'}">
                            <a class="nav-link color-rosaINE">Modelo 4+1</a>
                        </li>
                        <li class="nav-item padding-l-15 padding-r-15"
                            [routerLink]="['/documentacion-de-desarrollo/app-moviles/arquitectura-movil/evaluacion-acdm']"
                            [ngClass]="{'active' : seccion =='evaluacion-acdm'}">
                            <a class="nav-link color-rosaINE">Evaluación ACDM</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="margin-t-50">
                <section *ngIf="seccion=='modelo'">
                    <div class="d-block d-sm-block d-md-none" id="myScrollspy">
                        <div class="list-group">
                            <div class="margin-b-25">
                                <h4 class="fw-500 sn-brdr list-group-item list-group-item-action txt-c">Contenido</h4>
                                <!-- <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action active"
                                    href="#acerca-de"
                                    (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca
                                    de</a> -->
                                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action"
                                    href="#introduccion"
                                    (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#proposito"
                                        (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#alcance"
                                        (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                                </div>
                                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#m4a"
                                    (click)="globalService.gotoSection('ed'); $event.preventDefault();">Modelo 4 + 1 de
                                    la Arquitectura</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#vl"
                                        (click)="globalService.gotoSection('vl'); $event.preventDefault();">Vista
                                        Lógica</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#vd"
                                        (click)="globalService.gotoSection('vd'); $event.preventDefault();">Vista de
                                        Desarrollo</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#vp"
                                        (click)="globalService.gotoSection('vp'); $event.preventDefault();">Vista de
                                        Procesos</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#vf"
                                        (click)="globalService.gotoSection('vf'); $event.preventDefault();">Vista
                                        Física</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#v1e"
                                        (click)="globalService.gotoSection('v1e'); $event.preventDefault();">Vista +1
                                        Escenarios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="d-block d-sm-block d-md-none clr-hr">
                    <!-- <div id="acerca-de" class="margin-t-25 margin-b-60">
                        <h3>Acerca de</h3>
                        <div class="margin-t-40">
                            <p>Conoce las buenas prácticas para la correcta implementación de la capa Modelo, la cual es
                                transversal respecto a las demás capas y se caracteriza por tener una estructura de
                                directorios definida y el mapeo-objeto relacional, siguiendo la especificación de Java
                                Persistence API (JPA).</p>
                        </div>
                    </div> -->
                    <div id="introduccion" class="margin-t-45 margin-b-60">
                        <h3>Introducción</h3>
                        <div id="proposito" class="margin-t-45 margin-b-60">
                            <h4>Propósito</h4>
                            <div class="margin-t-25">
                                <p>
                                    El propósito de este documento es sentar las bases para la gestión de la
                                    arquitectura móvil Modelo, Vista, Vista-Modelo (MVVM) para emplear como estructura
                                    inicial ya definida, para facilitar el uso de buenas prácticas de desarrollo y una
                                    mayor eficiencia.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div id="alcance" class="margin-t-45">
                            <h4>Alcance</h4>
                            <div class="margin-t-25">
                                <p>
                                    Este documento está dirigido a las áreas de Desarrollo de Soluciones, Arquitectura
                                    de Software y aquellas áreas que se encuentran involucradas en actividades de crear
                                    proyectos nuevos para Android Nativo utilizando como lenguaje de programación
                                    Kotlin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="m4a" class="margin-t-45 margin-b-60">
                        <h3>Modelo 4 + 1 de la Arquitectura</h3>
                        <p>
                            El modelo 4+1 nos permitirá describir la arquitectura de sistemas software, basados en el
                            uso de múltiples vistas concurrentes. Estas vistas nos permitirán analizar el problema y
                            describir el sistema desde el punto de vista de distintos interesados, como lo son los
                            usuarios finales, los desarrolladores y/o jefes de proyecto.
                        </p>
                        <hr>
                        <div id="vl" class="margin-t-45">
                            <h4>Vista Lógica</h4>
                            <div class="margin-t-25">
                                <p>
                                    En esta vista se representa la funcionalidad que el sistema proporcionara a
                                    los usuarios finales. Es decir, se ha de representar lo que el sistema debe hacer, y
                                    las funciones y servicios que ofrece. La documentación de esta vista se puede
                                    complementar con diagramas de clase o diagrama de Secuencia.
                                </p>
                            </div>
                            <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                                <div class="row">
                                    <div class="col-md-4 padding-t-10 text-center">
                                        <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg"
                                            alt="Visualizador de diagrama">
                                    </div>
                                    <div class="col-md-8 padding-t-10">
                                        <p class="txt-title f-20 fw-500">Visualiza el diagrama de secuencia</p>
                                        <div class="boton-al-centro">
                                            <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                                                data-toggle="modal" data-target="#myModalSoap1">
                                                Ver diagrama
                                            </button>
                                            <div class="modal fade" id="myModalSoap1">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title">Diagrama de secuencia</h3>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img class="img-responsive img-fluid img-width"
                                                                src="assets/img/doc-android/arquitectura-movil/modelo_4+1/diagrama_secuencia.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 1.</span> Diagrama secuencia.</p>
                            <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                                <div class="row">
                                    <div class="col-md-4 padding-t-10 text-center">
                                        <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg"
                                            alt="Visualizador de diagrama">
                                    </div>
                                    <div class="col-md-8 padding-t-10">
                                        <p class="txt-title f-20 fw-500">Visualiza el diagrama de clases</p>
                                        <div class="boton-al-centro">
                                            <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                                                data-toggle="modal" data-target="#myModalSoap2">
                                                Ver diagrama
                                            </button>
                                            <div class="modal fade" id="myModalSoap2">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title">Diagrama de clases</h3>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img class="img-responsive img-fluid img-width"
                                                                src="assets/img/doc-android/arquitectura-movil/modelo_4+1/diagrama_clases.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 2.</span> Diagrama de clases.</p>
                        </div>
                        <hr>
                        <div id="vd" class="margin-t-45">
                            <h4>Vista de Desarrollo</h4>
                            <div class="margin-t-25">
                                <p>
                                    También conocida como vista de implementación o despliegue, en esta vista se muestra
                                    el sistema desde la perspectiva de un programador y se ocupa de la gestión del
                                    software; en otras palabras, se va a mostrar cómo está dividido el sistema software
                                    en componentes y las dependencias que hay entre esos componentes. Para completar la
                                    documentación de esta vista se pueden incluir los diagramas de componentes o de
                                    paquetes de UML.
                                </p>
                            </div>
                            <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                                <div class="row">
                                    <div class="col-md-4 padding-t-10 text-center">
                                        <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg"
                                            alt="Visualizador de diagrama">
                                    </div>
                                    <div class="col-md-8 padding-t-10">
                                        <p class="txt-title f-20 fw-500">Visualiza el diagrama de componentes</p>
                                        <div class="boton-al-centro">
                                            <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                                                data-toggle="modal" data-target="#myModalSoap3">
                                                Ver diagrama
                                            </button>
                                            <div class="modal fade" id="myModalSoap3">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title">Diagrama de componentes</h3>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img class="img-responsive img-fluid img-width"
                                                                src="assets/img/doc-android/arquitectura-movil/modelo_4+1/diagrama_componentes.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 3.</span> Diagrama de componentes.</p>
                        </div>
                        <hr>
                        <div id="vp" class="margin-t-45">
                            <h4>Vista de Procesos</h4>
                            <div class="margin-t-25">
                                <p>
                                    En esta vista se muestran los procesos que hay en el sistema y la forma en la que se
                                    comunican estos procesos; es decir, se representa desde la perspectiva de un
                                    integrador de sistemas, el flujo de trabajo paso a paso de negocio y operacionales
                                    de los componentes que conforman el sistema. Para completar la documentación de esta
                                    vista se puede incluir el diagrama de actividad de UML.
                                </p>
                            </div>
                            <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                                <div class="row">
                                    <div class="col-md-4 padding-t-10 text-center">
                                        <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg"
                                            alt="Visualizador de diagrama">
                                    </div>
                                    <div class="col-md-8 padding-t-10">
                                        <p class="txt-title f-20 fw-500">Visualiza el diagrama de actividades</p>
                                        <div class="boton-al-centro">
                                            <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                                                data-toggle="modal" data-target="#myModalSoap4">
                                                Ver diagrama
                                            </button>
                                            <div class="modal fade" id="myModalSoap4">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title">Diagrama de actividades</h3>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img class="img-responsive img-fluid img-width"
                                                                src="assets/img/doc-android/arquitectura-movil/modelo_4+1/diagrama_act.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 4.</span> Diagrama de actividades.</p>
                        </div>
                        <hr>
                        <div id="vf" class="margin-t-45">
                            <h4>Vista Física</h4>
                            <div class="margin-t-25">
                                <p>
                                    En esta vista se muestra desde la perspectiva de un ingeniero de sistemas todos los
                                    componentes físicos del sistema, así como las conexiones físicas entre esos
                                    componentes que conforman la solución (incluyendo los servicios). Para completar la
                                    documentación de esta vista se puede incluir el diagrama de despliegue de UML.
                                </p>
                            </div>
                            <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                                <div class="row">
                                    <div class="col-md-4 padding-t-10 text-center">
                                        <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg"
                                            alt="Visualizador de diagrama">
                                    </div>
                                    <div class="col-md-8 padding-t-10">
                                        <p class="txt-title f-20 fw-500">Visualiza el diagrama de despliegue</p>
                                        <div class="boton-al-centro">
                                            <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                                                data-toggle="modal" data-target="#myModalSoap5">
                                                Ver diagrama
                                            </button>
                                            <div class="modal fade" id="myModalSoap5">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title">Diagrama de despliegue</h3>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img class="img-responsive img-fluid img-width"
                                                                src="assets/img/doc-android/arquitectura-movil/modelo_4+1/diagrama_despliegue.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 5.</span> Diagrama de actividades.</p>
                        </div>
                        <hr>
                        <div id="v1e" class="margin-t-45">
                            <h4>Vista +1 Escenarios</h4>
                            <div class="margin-t-25">
                                <p>
                                    Esta vista va a ser representada por los casos de uso del software y va a tener la
                                    función de unir y relacionar las otras 4 vistas, esto quiere decir que desde un caso
                                    de uso podemos ver cómo se van ligando las otras 4 vistas, con lo que tendremos una
                                    trazabilidad de componentes, clases, equipos, paquetes, etc., para realizar cada
                                    caso de uso. Se pueden incluir los diagramas de casos de uso de UML.
                                </p>
                            </div>
                            <!-- <div class="back-img-tab margin-t-25 margin-b-25">
                                <img class="img-responsive img-fluid img-width"
                                    src="assets/img/doc-android/arquitectura-movil/modelo_4+1/tabla_caso_uso.svg"
                                    alt="">
                            </div> -->
                            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
                                <thead>
                                    <tr>
                                    <th>Nombre</th>
                                    <th>Generar proyecto Android.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Descripción</th>
                                        <td>Permite  realizar  la  estructura  de  un  proyecto  basado  en  la Arquitectura MVVM.</td>
                                    </tr>
                                    <tr>
                                        <th>Actor</th>
                                        <td>Desarrollador.</td>
                                    </tr>
                                    <tr>
                                        <th>Precondiciones</th>
                                        <td>Debe  de  agregar  las  dependencias  de  ModelView,  LiveData, Room, Navigate. Dentro del archivo gradle module.</td>
                                    </tr>
                                    <tr>
                                        <th>Flujo básico</th>
                                        <td>
                                        <ol>
                                            <li>El  desarrollador  abre  el  Entorno  de  Desarrollo  Integrado (IDE) Android Studio v.4.0.</li>
                                            <li>Se selecciona file/new/new Project/</li>
                                            <li>Se selecciona Phone and Tablet</li>
                                            <li>Se eligeempty activity</li>
                                            <li>Se escribe el name Project</li>
                                            <li>Se escribe el package name</li>
                                            <li>Se eligela save location</li>
                                            <li>Se presiona el botón finish</li>
                                            <li>Se crea el paquete ui y dentro de ui, se crean los siguientes sub-paquetes</li>
                                            <ul class="letras">
                                                <li>activities</li>
                                                <li>fragments</li>
                                            </ul>
                                            <li>Se crea el paquete adapters</li>
                                            <li>Se  crea  el  paquete  data  y  dentro  de  data,  se  crean  los siguientes sub-paquetes.</li>
                                            <ul class="letras">
                                                <li>Repository</li>
                                                <li>Local</li>
                                                <li>Remote</li>
                                                <li>Model</li>
                                            </ul>
                                            <li>Se crea el paquete utils</li>
                                        </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Flujos alternos</th>
                                        <td>
                                        <ol>
                                            <li>En el paso n.4, se puede elegir cualquier otro tipo de layout de inicio, de acuerdo a la necesidad de la aplicación.</li>
                                            <li>En el paso n.9, se puede reemplazar por crear los paquetesviews  y  
                                            viewmodels  en  lugar  de  ui,  y  dentro  de  views, colocar los archivos activity o fragment.</li>
                                            <li>En  el  paso  n.12,  se  puede  eliminar  el  paquete  data,  y  
                                            los sub-paquetes pasarlos a paquetes, o se pueden eliminar los sub-paquetes y dejar solo el paquete data.</li>
                                        </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Postcondiciones</th>
                                        <td>- Estructurar bien el modelo de paquetes para que se pueda ajustar a la arquitectura mvvm.</td>
                                    </tr>
                                    <tr>
                                        <th>Nota</th>
                                        <td>Cada activity o fragment puede ir acompañada de su viewmodel.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 1.</span> Caso de uso Arquetipo.</p>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-45 margin-b-25">
                                    <img class="img-responsive img-fluid img-width"
                                        src="assets/img/doc-android/arquitectura-movil/modelo_4+1/caso_arquetipo.svg"
                                        alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 6.</span> Caso de uso Arquetipo.</p>
                            </div>
                            <!-- <div class="back-img-tab margin-t-60">
                                <img class="img-responsive img-fluid img-width"
                                    src="assets/img/doc-android/arquitectura-movil/modelo_4+1/tabla_caso_mvvm.svg"
                                    alt="">
                            </div> -->
                            <table class="table tabla-cebrado-rosa-ine margin-t-60 margin-b-25">
                                <thead>
                                    <tr>
                                    <th>Nombre</th>
                                    <th>Comunicación del proyecto con la arquitectura MVVM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Descripción</th>
                                        <td>Permite  la  comunicación  mediante  las  capas  view,  viewmodel, model.</td>
                                    </tr>
                                    <tr>
                                        <th>Actor</th>
                                        <td>Desarrollador.</td>
                                    </tr>
                                    <tr>
                                        <th>Precondiciones</th>
                                        <td>
                                        <ol>
                                            <li>El desarrollador debe de conocer el flujo de la arquitectura.</li>
                                            <li>El desarrollador debe haber instalado previamente las dependencias.</li>
                                            <li>El desarrollador debe haber creado la estructura de paquetes ajustada a mvvm.</li>
                                        </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Flujo básico</th>
                                        <td>
                                        <ol>
                                            <li>El desarrollador utiliza data/variable para el binding dentro del layout.xml. activity o fragment.</li>
                                            <li>En el fichero. kt, el desarrollador hace el bindeo.</li>
                                            <li>El desarrollador utiliza el patrón adapter.</li>
                                            <li>Adapta el binding con el adapter.</li>
                                            <li>Infla el layout.</li>
                                            <li>Implementa el objeto de tipo livedata &lt;Data Class&gt; dentro del viewmodel de cada fragment o activity.</li>
                                            <li>En el fichero del repository, en el constructor el desarrollador crea una instancia del DAO.</li>
                                            <li>Dentro del fichero DAO, coloca las querys a utilizar en el proyecto, mediante las Android Room Annotations.</li>
                                        </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Flujos alternos</th>
                                        <td>
                                            <ol>
                                                <li>En el paso n.5, infla el layout solo si se está utilizando un fragment.</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Postcondiciones</th>
                                        <td>La  comunicación  del arquetipo  es  funcional,  y  está  lista  para desarrollarse en un proyecto nuevo.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 2.</span>Caso de uso Comunicación MVVM.</p>
                            <div class="margin-t-50">
                                <div class="back-img margin-t-45 margin-b-25">
                                    <img class="img-responsive img-fluid img-width"
                                        src="assets/img/doc-android/arquitectura-movil/modelo_4+1/caso_uso_2.svg"
                                        alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 7.</span> Caso de uso comunicación de la arquitectura MVVM.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section *ngIf="seccion=='evaluacion-acdm'">
                    <div class="d-block d-sm-block d-md-none" id="myScrollspy">
                        <div class="list-group">
                            <div class="margin-b-25">
                                <h4 class="fw-500 sn-brdr list-group-item list-group-item-action txt-c">Contenido</h4>
                                <!-- <a class="fw-500 f-20 sn-brdr list-group-itemtxt-t list-group-item-action active"
                                    href="#acerca-de"
                                    (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca
                                    de</a><br> -->
                                <a class="fw-500 f-20 sn-brdr list-group-itemtxt-t list-group-item-action"
                                    href="#introduccion"
                                    (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#proposito"
                                        (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#alcance"
                                        (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                                </div>
                                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#ea"
                                    (click)="globalService.gotoSection('ea'); $event.preventDefault();">Evaluación
                                    arquitectura</a>
                                <div class="list-group sublist">
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#rcrn"
                                        (click)="globalService.gotoSection('rcrn'); $event.preventDefault();">Revisión
                                        del contexto y restricciones de negocio</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#rrrt"
                                        (click)="globalService.gotoSection('rrrt'); $event.preventDefault();">Revisión
                                        de los requerimientos y las restricciones técnicas</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#an"
                                        (click)="globalService.gotoSection('an'); $event.preventDefault();">Análisis
                                        funcional</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#ae"
                                        (click)="globalService.gotoSection('ae'); $event.preventDefault();">Análisis
                                        estructural</a>
                                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#rpe"
                                        (click)="globalService.gotoSection('rpe'); $event.preventDefault();">Revisión de
                                        los problemas encontrados</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="d-block d-sm-block d-md-none clr-hr">
                    <div id="introduccion" class="margin-t-45 margin-b-60">
                        <h3>Introducción</h3>
                        <div id="proposito" class="margin-t-40 margin-b-45">
                            <h4>Propósito</h4>
                            <p class="margin-t-25">
                                Evaluar una arquitectura es saber si puede habilitar los requerimientos, atributos de
                                calidad y restricciones para asegurar que el sistema a ser construido cumple con las
                                necesidades de los stakeholders. El método de evaluación utilizado es el ACDM (Métodode
                                Diseño Centrado en la Arquitectura).
                            </p>
                        </div>
                        <hr>
                        <div id="alcance" class="margin-t-45">
                            <h4>Alcance</h4>
                            <div class="margin-t-25">
                                <p>
                                    Dirigido a las áreas de Desarrollo de Soluciones Tecnológicas, Arquitectura de
                                    Software y aquellas involucradas en actividades de crear, modificar, revisar o
                                    validar algún componente de Software bajo la plataforma Android Kotlin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="ea" class="margin-t-45 margin-b-60">
                        <h3>Evaluación de Arquitectura</h3>
                        <div class="margin-t-40">
                            <p>
                                La evaluacióna la arquitectura se lleva a cabo utilizando el Método de Diseño Centrado
                                en Arquitectura (ACDM), este método fue desarrollado por Anthony Lattanze, que define un
                                proceso para apoyar la realización de diversas tareas de las etapas del ciclo de
                                desarrollo de la arquitectura. La evaluación consiste en revisar, inspeccionar o
                                recorrer los artefactos dela arquitectura de software buscando inconsistencias, errores
                                o desviaciones respecto de los drivers. Las evaluaciones deben siempre enfocarse en la
                                satisfacción de los drivers arquitectónicos (requerimientos de los usuarios y de otros
                                grupos involucradoscon el sistema).
                            </p>
                        </div>
                        <div id="rcrn" class="margin-t-40 margin-b-60">
                            <h4>Revisión del contexto y restricciones de negocio</h4>
                            <!-- <div class="back-img-tab">
                                <img class="img-responsive img-fluid img-width"
                                    src="assets/img/doc-android/arquitectura-movil/evaluacion_acdm/tabla_drivers.svg"
                                    alt="">
                            </div> -->
                            <table class="table tabla-cebrado-rosa-ine margin-t-60 margin-b-25">
                                <thead>
                                    <tr>
                                    <th>Criterio</th>
                                    <th>Si</th>
                                    <th>No</th>
                                    <th>N/A</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><strong>Compatibilidad: </strong>Condición que hace que un programa, arquitectura o aplicación    logren    comprenderse    correctamente    tanto    directa    o indirectamente</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Cumple   con   la   capacidad   para   coexistir   con   otro   software independiente, en un entorno común, compartiendo recursos comunes sin detrimento?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Cumple con la capacidad de dos o más sistemas o componentes para intercambiar información y utilizar la información intercambiada?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th><strong>Usabilidad: </strong>Habilidad dela arquitectura para que el usuario invierta el mínimo esfuerzo.</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿El  producto  tiene  la  capacidad  de  permitirle  al  usuario  aprender  su aplicación?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad del producto que permite al usuario operarlo y controlarlo con facilidad?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad del sistema para proteger a los usuarios de hacer errores?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad  de  la  interfaz  de  usuario  de  agradar  y  satisfacer  la interacción con el usuario?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad del producto que permite que sea utilizado por usuarios con determinadas características y discapacidades?</th>
                                        <td></td>
                                        <td></td>
                                        <td><i class="fas fa-times"></i></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad del producto que permite al usuario entender si el software es adecuado para sus necesidades?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th><strong>Seguridad: </strong>Habilidad de la arquitectura paraayudar al manejo de datos seguros.</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad   del   sistema   o   componente   para   prevenir   accesos   o modificaciones no autorizados a datos o programas de ordenador?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad de demostrar la identidad de un sujeto o un recurso?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad   del sistema   o   componente   para   prevenir   accesos   o modificaciones no autorizados a datos o programas de ordenador?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th><strong>Mantenibilidad: </strong>Habilidad de la arquitectura para que el usuario invierta el mínimo esfuerzo para mantenerlo o mejorarlo.</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad  de  unsistema  o  programa  de  ordenador  (compuesto  de componentes discretos) que permite que un cambio en un componente tenga un impacto mínimo en los demás?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Facilidad con la que se puede evaluar el impacto de un determinado cambio  sobre  el  resto  del software,  diagnosticar  las  deficiencias  o causas de fallos en el software, o identificar las partes a modificar?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad  del  producto  que  permite  que  sea  modificado  de  forma efectiva y eficiente sin introducir defectos o degradar el desempeño?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Facilidad con la que se pueden establecer criterios de prueba para un sistema o componente y con la que se pueden llevar a cabo las pruebas para determinar si se cumplen dichos criterios?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th><strong>Portabilidad: </strong>Habilidad de la arquitectura para que el usuario invierta el mínimo esfuerzo para mantenerlo o mejorarlo.</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad del producto que le permite ser adaptado de forma efectiva y  eficiente a  diferentes  entornos  determinados  de  hardware,  software, operacionales o de uso?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Facilidad  con  la  que elproducto  se  puede  instalar  y/o desinstalar  de forma exitosa en un determinado entorno?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>¿Capacidad del producto para ser utilizado en lugar de otro producto software determinado con el mismo propósito y en el mismo entorno?</th>
                                        <td><i class="fas fa-times"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 1.</span> Drivers de atributo de calidad.</p>
                        </div>
                        <hr>
                        <div id="rrrt" class="margin-t-45 margin-b-60">
                            <h4>Revisión de los requerimientos y las restricciones técnicas</h4>
                            <div class="margin-t-50">
                                <p>
                                    La revisión de los requerimientos y las restricciones técnicas están basadas en el
                                    ISO 25010, quien se encarga de establecerla calidad del producto del Software.
                                </p>
                            </div>
                            <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                                <div class="row">
                                    <div class="col-md-4 padding-t-10 text-center">
                                        <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg"
                                            alt="Visualizador de diagrama">
                                    </div>
                                    <div class="col-md-8 padding-t-10">
                                        <p class="txt-title f-20 fw-500">Visualiza el diagrama de calidad del producto
                                            software</p>
                                        <div class="boton-al-centro">
                                            <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                                                data-toggle="modal" data-target="#myModalSoap8">
                                                Ver diagrama
                                            </button>
                                            <div class="modal fade" id="myModalSoap8">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title">Diagrama de calidad del producto
                                                                software</h3>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img class="img-responsive img-fluid img-width"
                                                                src="assets/img/doc-android/arquitectura-movil/evaluacion_acdm/calidad_producto.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 1.</span> Diagrama de calidad del producto
                                software.</p>
                            <div class="margin-t-50">
                                <p>
                                    La siguiente tabla muestra losrequerimientosfuncionales, los atributos de calidad
                                    contemplados para el desarrollo de la arquitecturay las restricciones técnicas para
                                    la misma, enfocando la investigación al cumplimiento de la calidad del Software por
                                    el ISO 25010.
                                </p>
                            </div>
                            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-35">
                                <thead>
                                    <tr>
                                    <th>Requerimientos Funcionales</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Normas de seguridad, identificación de riesgos y buenas prácticas para mitigar dichos riesgos en el ámbito de desarrollo móvil.</th>
                                    </tr>
                                    <tr>
                                        <th>Documentación necesaria para presentar y desarrollar una aplicación móvil utilizando casos  de  uso  para  la  forma  tradicional  o  Historias  de  Usuario  para  trabajar  bajo  la metodología ágil Scrum.</th>
                                    </tr>
                                    <tr>
                                        <th>Buenas prácticasen  el  manejo  de  consultas  a  la  base  de  datos  (traer  solo  la información que se requiere)</th>
                                    </tr>
                                    <tr>
                                        <th>Buenas prácticas en el consumo de datos de internet (wifi/4g)</th>
                                    </tr>
                                    <tr>
                                        <th>Buenas prácticas para laaccesibilidad y usabilidad, donde se busca mejorar la UX con las funcionalidades de la aplicación y la compatibilidad de la misma.</th>
                                    </tr>
                                    <tr>
                                        <th>Buenas  prácticas  en  la  UI  Percepción  del  tiempo  de  respuesta  mediante  Carga  de vistas demorada (Skeleton Screen).</th>
                                    </tr>
                                    <tr>
                                        <th>Diseño gráfico, donde se definen los lineamientos de calidad y uniformidad gráfica de las aplicaciones basado en Material Design para Móvil.</th>
                                    </tr>
                                    <tr>
                                        <th>Uso del lenguaje de programación Kotlin, APIs y convenciones de programación para el  desarrollo  de  aplicaciones móviles,así  como  las  buenas  prácticas  para  seguir  la arquitectura de la aplicación.</th>
                                    </tr>
                                    <tr>
                                        <th>Pruebas de performance (concurrencia de usuario).</th>
                                    </tr>
                                    <tr>
                                        <th>Buenas prácticas en el manejo de control de versiones.</th>
                                    </tr>
                                    <tr>
                                        <th>Buenas prácticas en modulación del proyecto mediante la Arquitectura MVP o MVVM.</th>
                                    </tr>
                                    <tr>
                                        <th>Buenas prácticas en el manejo de asset/image svg. </th>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-35">
                                <thead>
                                    <tr>
                                    <th>Atributos de Calidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Compatibilidad</th>
                                    </tr>
                                    <tr>
                                        <th>Usabilidad</th>
                                    </tr>
                                    <tr>
                                        <th>Seguridad</th>
                                    </tr>
                                    <tr>
                                        <th>Mantenibilidad</th>
                                    </tr>
                                    <tr>
                                        <th>Portabilidad</th>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-35">
                                <thead>
                                    <tr>
                                    <th>Restricciones Técnicas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Kotlin, lenguaje de desarrollo de apps</th>
                                    </tr>
                                    <tr>
                                        <th>IDE Android Studio 3.6.1+</th>
                                    </tr>
                                    <tr>
                                        <th>JDK 8.0+</th>
                                    </tr>
                                    <tr>
                                        <th>SQLite</th>
                                    </tr>
                                    <tr>
                                        <th>Retrofit</th>
                                    </tr>
                                    <tr>
                                        <th>Picaso o Glide</th>
                                    </tr>
                                    <tr>
                                        <th>Arquitectura MVVM</th>
                                    </tr>
                                    <tr>
                                        <th>Android Jetpack Components</th>
                                    </tr>
                                    <tr>
                                        <th>Material Design 1.0.1</th>
                                    </tr>
                                    <tr>
                                        <th>Principios SOLID</th>
                                    </tr>
                                    <tr>
                                        <th>Mínimo SDK API 21</th>
                                    </tr>
                                    <tr>
                                        <th>Git</th>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="pie-img"><span class="fw-500">Tabla 2.</span> Requerimientos funcionales.</p>
                        </div>
                        <hr>
                    </div>
                    <div id="af" class="margin-t-45 margin-b-60">
                        <h3>Análisis funcional</h3>
                        <div class="margin-t-40">
                            <p>
                                El objetivo del análisis funcional es detectar cualquier situación que impida la
                                realización de la arquitectura, para tal situaciónse evalúa la arquitectura MVVMcon los
                                siguientes diagramas: Diagrama de arquitectura MVVM, Diagrama de caso de uso de la
                                arquitectura, Diagrama de secuencia, Diagrama de actividades.
                            </p>
                        </div>
                        <div class="margin-t-50">
                            <div class="back-img margin-t-25 margin-b-25">
                                <img class="img-responsive img-fluid img-width"
                                    src="assets/img/doc-android/arquitectura-movil/evaluacion_acdm/arquitectura_mvvm.svg"
                                    alt="">
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 2.</span> Diagrama de arquitectura MVVM.</p>
                        </div>
                        <div class="margin-t-40">
                            <p>
                                En eldiagrama de la Arquitectura MVVM se identifican los componentes que forman parte de
                                la arquitectura, así como la comunicación que existe entre los mismos, encontrando que
                                dentro de esta arquitectura reside la comunicación de la arquitectura de componentes
                                Android Jetpack ampliando así sufuncionamiento, escalabilidad, mantenibilidad,
                                compatibilidad, los cualescumplen con los atributos de calidad definidos en los Drivers
                                arquitectónicos,entre loscomponentesde Android Jetpack seencuentran:
                            </p>
                        </div>
                        <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                            <ul>
                                <li>Data Binding</li>
                                <li>Lifecycles</li>
                                <li>LiveData</li>
                                <li>Navigation</li>
                                <li>Paging</li>
                                <li>Room</li>
                                <li>ViewModel</li>
                                <li>WorkManager</li>
                            </ul>
                        </div>
                        <p>Esta arquitectura se termina de evaluar con los siguientes diagramas.</p>
                        <div class="margin-t-50">
                            <div class="back-img margin-t-25 margin-b-25">
                                <img class="img-responsive img-fluid img-width"
                                    src="assets/img/doc-android/arquitectura-movil/evaluacion_acdm/caso_arquitectura.svg"
                                    alt="">
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 3.</span> Diagrama de caso de uso de la
                                Arquitectura.</p>
                        </div>
                        <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                            <div class="row">
                                <div class="col-md-4 padding-t-10 text-center">
                                    <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg"
                                        alt="Visualizador de diagrama">
                                </div>
                                <div class="col-md-8 padding-t-10">
                                    <p class="txt-title f-20 fw-500">Visualiza el diagrama de secuencia</p>
                                    <div class="boton-al-centro">
                                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                                            data-toggle="modal" data-target="#myModalSoap9">
                                            Ver diagrama
                                        </button>
                                        <div class="modal fade" id="myModalSoap9">
                                            <div class="modal-dialog modal-xl">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Diagrama de secuencia</h3>
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img class="img-responsive img-fluid img-width"
                                                            src="assets/img/doc-android/arquitectura-movil/evaluacion_acdm/diagrama_secuencia.svg"
                                                            alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="pie-img"><span class="fw-500">Figura 4.</span> Diagrama de secuencia.</p>
                        <div class="bckgrnd-diagrama padding-20 margin-t-60 margin-b-25">
                            <div class="row">
                                <div class="col-md-4 padding-t-10 text-center">
                                    <img class="img-fluid" src="assets/img/arquetipos/diagrama-de-clases.svg"
                                        alt="Visualizador de diagrama">
                                </div>
                                <div class="col-md-8 padding-t-10">
                                    <p class="txt-title f-20 fw-500">Visualiza el diagrama de actividades</p>
                                    <div class="boton-al-centro">
                                        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20"
                                            data-toggle="modal" data-target="#myModalSoap10">
                                            Ver diagrama
                                        </button>
                                        <div class="modal fade" id="myModalSoap10">
                                            <div class="modal-dialog modal-xl">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Diagrama de actividades</h3>
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img class="img-responsive img-fluid img-width"
                                                            src="assets/img/doc-android/arquitectura-movil/evaluacion_acdm/diagrama_act.svg"
                                                            alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="pie-img"><span class="fw-500">Figura 5.</span> Diagrama de actividades.</p>
                    </div>
                    <hr>
                    <div id="ae" class="margin-t-45 margin-b-60">
                        <h3>Análisis estructural</h3>
                        <div class="margin-t-40">
                            <p>
                                En el presenteanálisis se tomanlosescenarios de Compatibilidad, Usabilidad, Seguridad,
                                Mantenibilidad, Portabilidad, propuestos para satisfacer los Atributos de
                                Calidaddefinidos en los Drivers Arquitectónicos y Soportados por el ISO 25010. Cualquier
                                situación que impida su realización se toma como un problema de la arquitectura.
                            </p>
                        </div>
                        <h5 class="margin-t-40">Escenario 1.-Interoperabilidad.</h5>
                        <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
                            <thead>
                                <tr>
                                <th>Atributo de Calidad</th>
                                <th class="fw-400">Compatibilidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><strong>Fuente</strong></th>
                                    <td>Desarrollador.</td>
                                </tr>
                                <tr>
                                    <th><strong>Estimulo</strong></th>
                                    <td>Obtener y procesar datos desde una API de tipo Rest.</td>
                                </tr>
                                <tr>
                                    <th><strong>Artefacto</strong></th>
                                    <td>Retrofit.</td>
                                </tr>
                                <tr>
                                    <th><strong>Entorno</strong></th>
                                    <td>En etapa de desarrollo.</td>
                                </tr>
                                <tr>
                                    <th><strong>Respuesta</strong></th>
                                    <td>Se  debe  tener  internet  para  el  consumo  de  información externa.</td>
                                </tr>
                                <tr>
                                    <th><strong>Métrica</strong></th>
                                    <td>Tiempo menor o igual a 5 segundos.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="pie-img margin-t-25"><span class="fw-500 margin-t-25">Tabla 3.</span> Tabla Escenario 1 -
                            Interoperabilidad.</p>
                        <h5 class="margin-t-50">Escenario 2.-Capacidad de aprendizaje.</h5>
                        <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
                            <thead>
                                <tr>
                                <th>Atributo de Calidad</th>
                                <th class="fw-400">Usabilidad.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><strong>Fuente</strong></th>
                                    <td>Desarrollador.</td>
                                </tr>
                                <tr>
                                    <th><strong>Estimulo</strong></th>
                                    <td>Navegar entre las diferentes vistas de la Aplicación.</td>
                                </tr>
                                <tr>
                                    <th><strong>Artefacto</strong></th>
                                    <td>Capa de presentación.</td>
                                </tr>
                                <tr>
                                    <th><strong>Entorno</strong></th>
                                    <td>En etapa de desarrollo.</td>
                                </tr>
                                <tr>
                                    <th><strong>Respuesta</strong></th>
                                    <td>Implementar el componente Navigation && Nav. Graph. de Android Jectpack.</td>
                                </tr>
                                <tr>
                                    <th><strong>Métrica</strong></th>
                                    <td>Este    escenario    no    tiene    realmente    una    métrica cuantificable,   sin   embargo,   una   forma   de   medir   la respuesta podría consistir, en saber cómo se lleva el flujo de  las  vistas  y  la  cantidad  de  Activity/Fragment,  que integran a la Aplicación.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="pie-img"><span class="fw-500">Tabla 4.</span> Tabla Escenario 2.-Capacidad de aprendizaje.</p>
                        <h5 class="margin-t-50">Escenario 3.-Autenticidad.</h5>
                        <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
                            <thead>
                                <tr>
                                <th>Atributo de Calidad</th>
                                <th class="fw-400">Seguridad.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><strong>Fuente</strong></th>
                                    <td>Usuario.</td>
                                </tr>
                                <tr>
                                    <th><strong>Estimulo</strong></th>
                                    <td>Autentificarse.</td>
                                </tr>
                                <tr>
                                    <th><strong>Artefacto</strong></th>
                                    <td>Módulo de Autentificación.</td>
                                </tr>
                                <tr>
                                    <th><strong>Entorno</strong></th>
                                    <td>Condiciones normales.</td>
                                </tr>
                                <tr>
                                    <th><strong>Respuesta</strong></th>
                                    <td>Autorización de ingreso o mensaje de error en validación.</td>
                                </tr>
                                <tr>
                                    <th><strong>Métrica</strong></th>
                                    <td>Menor o igual a 5 segundos.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="pie-img margin-t-25"><span class="fw-500">Tabla 5.</span> Tabla Escenario 3.- Autenticidad.</p>
                        <h5 class="margin-t-50">Escenario 4.-Capacidad para ser modificado.</h5>
                        <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
                            <thead>
                                <tr>
                                <th>Atributo de Calidad</th>
                                <th class="fw-400">Mantenibilidad.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><strong>Fuente</strong></th>
                                    <td>Un desarrollador.</td>
                                </tr>
                                <tr>
                                    <th><strong>Estimulo</strong></th>
                                    <td>Desea traducir la aplicación al idioma inglés.</td>
                                </tr>
                                <tr>
                                    <th><strong>Artefacto</strong></th>
                                    <td>Código.</td>
                                </tr>
                                <tr>
                                    <th><strong>Entorno</strong></th>
                                    <td>En etapa de desarrollo.</td>
                                </tr>
                                <tr>
                                    <th><strong>Respuesta</strong></th>
                                    <td>Construir nuevamente el APK.</td>
                                </tr>
                                <tr>
                                    <th><strong>Métrica</strong></th>
                                    <td>En menos de 16 horas hombre.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="pie-img margin-t-25"><span class="fw-500">Tabla 6.</span> Escenario 4.-Capacidad para ser instalado.</p>
                        <h5 class="margin-t-50">Escenario 5.-Capacidad para ser modificado.</h5>
                        <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
                            <thead>
                                <tr>
                                <th>Atributo de Calidad</th>
                                <th class="fw-400">Portabilidad.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><strong>Fuente</strong></th>
                                    <td>Usuario.</td>
                                </tr>
                                <tr>
                                    <th><strong>Estimulo</strong></th>
                                    <td>Desea instalar la aplicación en su dispositivo móvil.</td>
                                </tr>
                                <tr>
                                    <th><strong>Artefacto</strong></th>
                                    <td>Aplicación.</td>
                                </tr>
                                <tr>
                                    <th><strong>Entorno</strong></th>
                                    <td>En tienda oficial de Google, Play Store.</td>
                                </tr>
                                <tr>
                                    <th><strong>Respuesta</strong></th>
                                    <td>Se debe tener internet para la descarga de la Aplicación.</td>
                                </tr>
                                <tr>
                                    <th><strong>Métrica</strong></th>
                                    <td>Tiempo menor o igual a 30 segundos.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="pie-img margin-t-25"><span class="fw-500">Tabla 7.</span> Escenario 5.-Capacidad para ser instalado.</p>
                    </div>
                    <hr>
                    <div id="rpe" class="margin-t-45 margin-b-60">
                        <h3>Revisión de los problemas encontrados</h3>
                        <div class="margin-t-40">
                            <p>De acuerdo con la Revisión del Análisis funcional yAnálisis estructural, se encontró lo
                                siguiente:</p>
                        </div>
                        <p><strong>Interoperabilidad: </strong>El tiempo de respuesta del servidorno depende del diseño
                            de la arquitectura, el intercambio de la información se realiza por medio de la librería
                            externa retrofit, el cual es un cliente REST para Android, actualmente propuesta por Google
                            para el consumo de información, permite hacer peticiones GET, POST, PUT, DELETE.
                        </p>
                        <p><strong>Capacidad de aprendizaje: </strong>Nav Graph, siendo un componente que integra a la
                            arquitectura de componentes de Android Jectpack, facilita la comunicación y la integración
                            de la Arquitectura MVVM, mejorando la persistencia de los datos y el flujode navegaciónde
                            las vistas.
                        </p>
                        <p><strong>Autenticidad: </strong>Atributo que pertenece a la Seguridad, la arquitectura MVVM se
                            caracteriza por desacoplar lo máximo posible la interfaz de usuario de la lógica de la
                            aplicación, para este atributo se necesita la integración de otras tecnologías, como Google
                            Autentication, Auth0, Auth2, AWS Cognito, los cuales integradas con la arquitectura MVVM,
                            puede lograr una seguridad robusta.
                        </p>
                        <p><strong>Capacidad de ser Instalado: </strong>Atributo que pertenece a la Portabilidad, este
                            driver, se sale de los alcances de la arquitectura, el motivo, hay variables que no se
                            pueden controlar con la Arquitectura, como el tener o no internetpara la descarga de la
                            aplicación en el dispositivo, tener o no espacio suficiente en el dispositivo móvilpara ser
                            instalada, ser compatible con la versión del usuario, permisos de acceso del cliente móvil.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 menu-r-brdr d-none d-md-block d-lg-block" id="myScrollspy">
        <div class="list-group" *ngIf="seccion=='modelo'">
            <div class="margin-t-60">
                <!-- <a class="fw-500 sn-brdr list-group-item list-group-item-action active" href="#acerca-de"
                    (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca de</a> -->
                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#introduccion"
                    (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item list-group-item-action" href="#proposito"
                        (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#alcance"
                        (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#m4a"
                    (click)="globalService.gotoSection('m4a'); $event.preventDefault();">Modelo 4 + 1 de la
                    Arquitectura</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item list-group-item-action" href="#vl"
                        (click)="globalService.gotoSection('vl'); $event.preventDefault();">Vista lógica</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#vd"
                        (click)="globalService.gotoSection('vd'); $event.preventDefault();">Vista de Desarrollo</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#vp"
                        (click)="globalService.gotoSection('vp'); $event.preventDefault();">Vista de Procesos</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#vf"
                        (click)="globalService.gotoSection('vf'); $event.preventDefault();">Vista Física</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#v1e"
                        (click)="globalService.gotoSection('v1e'); $event.preventDefault();">Vista +1 Escenarios</a>
                </div>
                <!-- <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#referencias"
                    (click)="globalService.gotoSection('referencias'); $event.preventDefault();">Referencias</a> -->
            </div>
        </div>
        <div class="list-group" *ngIf="seccion=='evaluacion-acdm'">
            <div class="margin-t-60">
                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#introduccion"
                    (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item list-group-item-action" href="#proposito"
                        (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#alcance"
                        (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item list-group-item-action" href="#ea"
                    (click)="globalService.gotoSection('ea'); $event.preventDefault();">Evaluación de Arquitectura</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item list-group-item-action" href="#rcrn"
                        (click)="globalService.gotoSection('rcrn'); $event.preventDefault();">Revisión del contexto y
                        restricciones de negocio</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#rrrt"
                        (click)="globalService.gotoSection('rrrt'); $event.preventDefault();">Revisión de los
                        requerimientos y las restricciones técnicas</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#af"
                        (click)="globalService.gotoSection('af'); $event.preventDefault();">Análisis funcional</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#ae"
                        (click)="globalService.gotoSection('ae'); $event.preventDefault();">Análisis estructural</a>
                    <a class="sn-brdr list-group-item list-group-item-action" href="#rpe"
                        (click)="globalService.gotoSection('rpe'); $event.preventDefault();">Revisión de los problemas
                        encontrados</a>
                </div>
            </div>
        </div>
    </div>
</div>