h3 {
    font-size: 1.5rem;
}

.margenes {
    margin: 80px 0 30px 0;
}

a.enlace{
    text-decoration: underline;
    color: #D5007F;
    font-weight: 700;
}

.carpetas-padding{
    padding: 30px 10px;
}

img.w-100{
    width: 100%;
}

@media (max-width: 575.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .scroll-nowprap{
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .scroll-nowprap{
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .scroll-nowprap{
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    }
}