<div class="row">
    <div class="col-md-12 col-lg-10 offset-lg-1">
        <div class="margenes">
            <nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion f-18">
                <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
                        <li class="nav-item nav-seccion padding-l-15 padding-r-15"
                            [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']"
                            [ngClass]="{'active' : seccion =='color'}">
                            <a class="nav-link color-rosaINE">Color</a>
                        </li>
                        <li class="nav-item nav-seccion padding-l-15 padding-r-15"
                            [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/drawable']"
                            [ngClass]="{'active' : seccion =='drawable'}">
                            <a class="nav-link color-rosaINE">Drawable</a>
                        </li>
                        <li class="nav-item nav-seccion padding-l-15 padding-r-15"
                            [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/font']"
                            [ngClass]="{'active' : seccion =='font'}">
                            <a class="nav-link color-rosaINE">Font</a>
                        </li>
                        <li class="nav-item nav-seccion padding-l-15 padding-r-15"
                            [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/values']"
                            [ngClass]="{'active' : seccion =='values'}">
                            <a class="nav-link color-rosaINE">Values</a>
                        </li>
                        <li class="nav-item nav-seccion padding-l-15 padding-r-15"
                            [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/layout']"
                            [ngClass]="{'active' : seccion =='layout'}">
                            <a class="nav-link color-rosaINE">Layout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <section *ngIf="seccion=='color'">
            <div class="margin-b-40 margin-t-30 text-center">
                <img class="img-fluid imagenes-al-centro w-100" src="./assets/img/doc-android/color/carpetas-color.svg"
                    alt="">
            </div>
            <p>
                Crea el directorio <strong>color</strong> dentro de <strong>res</strong>, con los siguientes ficheros: 
            </p>
            <div class="margin-b-60  margin-t-40 text-center back-img">
                <img class="img-fluid imagenes-al-centro" src="./assets/img/doc-android/color/color.svg"
                    alt="">
            </div>
            <p>
                <strong>1. </strong>  Ubica el directorio res/<strong>color</strong> y crea el siguiente fichero <strong>color_state_button_toggle.xml</strong>, dentro coloca el siguiente codigo:
            </p>
            <div class="jumbotron jumbotron-fluid margin-t-30 margin-b-60">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('color-1')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="color-1">
                    <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;</span>?xml version=<span class="cl">&quot;1.0&quot;</span> encoding=<span class="cl"></span>&quot;utf-8&quot;?<span class="ct">&gt;</span></span><span>
</span><span class="ct">&lt;selector</span> xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;item</span><span class="cm"> android</span>:color=<span class="cl">&quot;@color/colorBottomPink&quot;</span> <span class="cm">android</span>:state_checked=<span class="cl">&quot;true&quot;</span> <span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;item</span><span class="cm"> android</span>:color=<span class="cl">&quot;@color/colorBottomInactive&quot;</span> <span class="cm">android</span>:state_checked=<span class="cl">&quot;false&quot;</span> <span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;item</span><span class="cm"> android</span>:color=<span class="cl">&quot;@color/colorBottomInactive&quot;</span> <span class="cm">android</span>:state_checked=<span class="cl">&quot;false&quot;</span> <span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/selector&gt;</span><span></span>          
                </pre>
                </span>
            </div>
            <p>
                <strong>2. </strong>  Ubica el directorio res/<strong>color</strong> y crea el siguiente fichero <strong>color_state_text_button_toggle.xml</strong>, dentro coloca el siguiente codigo:
            </p>
            <div class="jumbotron jumbotron-fluid margin-t-30 margin-b-60">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('color-2')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="color-2">
                    <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;</span>?xml version=<span class="cl">&quot;1.0&quot;</span> encoding=<span class="cl">&quot;utf-8&quot;</span>?<span class="ct">&gt;</span></span><span>
</span><span class="ct">&lt;selector</span> xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;item</span> <span class="cm">android</span>:color=<span class="cl">&quot;@color/colorTextAndIcons&quot;</span> <span class="cm">android</span>:state_checked=<span class="cl">&quot;true&quot;</span> <span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;item</span> <span class="cm">android</span>:color=<span class="cl">&quot;@color/colorBottomPink&quot;</span> <span class="cm">android</span>:state_checked=<span class="cl">&quot;false&quot;</span> <span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/selector&gt;</span><span></span>       
                </pre>
                </span>
            </div>
            <p>
                <strong>3. </strong>  Ubica el directorio res/<strong>color</strong> y crea el siguiente fichero <strong>stroke_color.xml</strong>, dentro coloca el siguiente codigo:
            </p>
            <div class="jumbotron jumbotron-fluid margin-t-30 margin-b-60">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('color-3')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="color-3">
                    <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;</span>?xml version=<span class="cl">&quot;1.0&quot;</span> encoding=<span class="cl">&quot;utf-8&quot;</span>?<span class="ct">&gt;</span></span><span>
</span><span class="ct">&lt;selector</span> xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="ct">&gt;</span><span>
    </span>&lt;item <span class="cm">android</span>:color=<span class="cl">&quot;?attr/colorPrimary&quot;</span> <span class="cm">android</span>:state_checked=<span class="cl">&quot;true&quot;</span><span class="ct">/&gt;</span><span>
    </span>&lt;item <span class="cm">android</span>:alpha=<span class="cl">&quot;0.12&quot;</span> <span class="cm">android</span>:color=<span class="cl">&quot;?attr/colorOnSurface&quot;</span> <span class="cm">android</span>:state_checked=<span class="cl">&quot;false&quot;</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/selector&gt;</span><span></span>    
                </pre>
                </span>
            </div>
        </section>
        <section *ngIf="seccion=='drawable'">
            <div class="margin-b-40 margin-t-30 text-center">
                <img class="img-fluid imagenes-al-centro w-100" src="./assets/img/doc-android/drawable/drawable.svg"
                    alt="">
            </div>
            <p>
                En esta carpeta se implementan las imágenes vectorizadas .XML utilizadas por los componentes de material
                design como iconos.
            </p>
            <div class="margin-b-60  margin-t-40 text-center back-img">
                <img class="img-fluid imagenes-al-centro" src="./assets/img/doc-android/drawable/carpetas-drawable.svg" alt="">
            </div>
            <p>
                A continuación encontrarás algunos ejemplos de iconos que te serán útiles en tus proyectos. Puedes
                encontrar más ejemplos en la pestaña Usos de cada componente Android.
            </p>
            <div class="fw-bold margin-b-20 margin-t-50">
                <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
                    src="./assets/img/doc-android/drawable/ic-menu.svg">ic_menu.xml
            </div>
            <div class="jumbotron jumbotron-fluid">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('drawable-1')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="drawable-1">
                    <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="@color/colorTextAndIcons"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M3,18h18v-2L3,16v2zM3,13h18v-2L3,11v2zM3,6v2h18L21,6L3,6z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
                </pre>
                </span>
            </div>
            <div class="fw-bold margin-b-20 margin-t-50">
                <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
                    src="./assets/img/doc-android/drawable/ic-share.svg">ic_share.xml
            </div>
            <div class="jumbotron jumbotron-fluid">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('drawable-2')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="drawable-2">
                    <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="@color/colorTextAndIcons"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M18,16.08c-0.76,0 -1.44,0.3 -1.96,0.77L8.91,12.7c0.05,-0.23 0.09,-0.46 0.09,-0.7s-0.04,-0.47 -0.09,-0.7l7.05,-4.11c0.54,0.5 1.25,0.81 2.04,0.81 1.66,0 3,-1.34 3,-3s-1.34,-3 -3,-3 -3,1.34 -3,3c0,0.24 0.04,0.47 0.09,0.7L8.04,9.81C7.5,9.31 6.79,9 6,9c-1.66,0 -3,1.34 -3,3s1.34,3 3,3c0.79,0 1.5,-0.31 2.04,-0.81l7.12,4.16c-0.05,0.21 -0.08,0.43 -0.08,0.65 0,1.61 1.31,2.92 2.92,2.92 1.61,0 2.92,-1.31 2.92,-2.92s-1.31,-2.92 -2.92,-2.92z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
                </pre>
                </span>
            </div>
            <div class="fw-bold margin-b-20 margin-t-50">
                <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
                    src="./assets/img/doc-android/drawable/ic-loupe.svg">ic_loupe.xml
            </div>
            <div class="jumbotron jumbotron-fluid">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('drawable-3')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="drawable-3">
                    <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="512.005"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="512.005"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="@color/colorTextAndIcons"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M505.749,475.587l-145.6,-145.6c28.203,-34.837 45.184,-79.104 45.184,-127.317c0,-111.744 -90.923,-202.667 -202.667,-202.667S0,90.925 0,202.669s90.923,202.667 202.667,202.667c48.213,0 92.48,-16.981 127.317,-45.184l145.6,145.6c4.16,4.16 9.621,6.251 15.083,6.251s10.923,-2.091 15.083,-6.251C514.091,497.411 514.091,483.928 505.749,475.587zM202.667,362.669c-88.235,0 -160,-71.765 -160,-160s71.765,-160 160,-160s160,71.765 160,160S290.901,362.669 202.667,362.669z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
                </pre>
                </span>
            </div>
            <div class="fw-bold margin-b-20 margin-t-50">
                <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
                    src="./assets/img/doc-android/drawable/ic-back.svg">ic_backspace.xml
            </div>
            <div class="jumbotron jumbotron-fluid">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('drawable-4')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="drawable-4">
                    <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="@color/colorTextAndIcons"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M21,11H6.83l3.58,-3.59L9,6l-6,6 6,6 1.41,-1.41L6.83,13H21z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
                </pre>
                </span>
            </div>
    <div class="fw-bold margin-b-20 margin-t-70">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/android-c/buttons/delete.svg">ic_delete.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-6')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-6">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FBF7F7"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M6,19c0,1.1 0.9,2 2,2h8c1.1,0 2,-0.9 2,-2V7H6v12zM19,4h-3.5l-1,-1h-5l-1,1H5v2h14V4z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
            <div class="fw-bold margin-b-20 margin-t-50">
                <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco"
            src="./assets/img/doc-android/drawable/ic_INE.svg">ic_ine_logo_rosa_blanco_gp1700.xml
            </div>
            <div class="jumbotron jumbotron-fluid">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('drawable-5')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="drawable-5">
                    <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;vector</span> xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span></span><span>
    </span><span class="cm">android</span>:width=<span class="cl">&quot;256dp&quot;</span><span>
    </span><span class="cm">android</span>:height=<span class="cl">&quot;78.496dp&quot;</span><span>
    </span><span class="cm">android</span>:viewportWidth=<span class="cl">&quot;256&quot;</span><span>
    </span><span class="cm">android</span>:viewportHeight=<span class="cl">&quot;78.496&quot;</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M11.884,42.399h63.155l3.75,1.2L8.705,43.599ZM11.34,40.744 L-0,45.151L87.305,45.151l-11.285,-4.407Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M30.014,46.579s9.509,8.028 14.565,9.3c0,0 7.313,-8.49 8.342,-9.3Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#d2067f&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M119.198,10.511h16.47l35.079,26.5v-26.5h16.624v45.371L170.747,55.882l-34.958,-27.042v27.042L119.198,55.882Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M8.25,78.33L5.021,78.33L5.021,66.108h3.233Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M13.953,69.249l0.1,1.066a3.518,3.518 0,0 1,2.853 -1.235,3 3,0 0,1 2.33,0.847 3.786,3.786 0,0 1,0.8 2.552v5.851h-3.122v-5.732a1.429,1.429 0,0 0,-0.3 -1.011,1.5 1.5,0 0,0 -1.108,-0.325 1.527,1.527 0,0 0,-1.356 0.654v6.413h-3.111v-9.081Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M27.726,75.778a0.656,0.656 0,0 0,-0.414 -0.581,6.759 6.759,0 0,0 -1.578,-0.451 7.793,7.793 0,0 1,-1.921 -0.618,3.167 3.167,0 0,1 -1.153,-0.926 2.062,2.062 0,0 1,-0.4 -1.251,2.444 2.444,0 0,1 1.137,-2.061 4.993,4.993 0,0 1,2.972 -0.81,5.588 5.588,0 0,1 3.177,0.813 2.486,2.486 0,0 1,1.2 2.143h-3.119q0,-1.093 -1.264,-1.093a1.333,1.333 0,0 0,-0.823 0.248,0.74 0.74,0 0,0 -0.333,0.615 0.7,0.7 0,0 0,0.406 0.615,4.142 4.142,0 0,0 1.3,0.385 12.158,12.158 0,0 1,1.565 0.362q2.252,0.7 2.251,2.526a2.324,2.324 0,0 1,-1.214 2.022,5.7 5.7,0 0,1 -3.143,0.781 5.9,5.9 0,0 1,-2.288 -0.42,3.774 3.774,0 0,1 -1.57,-1.14 2.419,2.419 0,0 1,-0.562 -1.52h2.906a1.066,1.066 0,0 0,0.462 0.921,2.072 2.072,0 0,0 1.137,0.288 1.613,1.613 0,0 0,0.955 -0.235A0.728,0.728 0,0 0,27.726 75.778Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M36.562,66.992v2.256h1.644v1.963h-1.644L36.562,75.369a0.978,0.978 0,0 0,0.2 0.713,1.161 1.161,0 0,0 0.8,0.2 5.26,5.26 0,0 0,0.776 -0.05v2.021a6.224,6.224 0,0 1,-1.755 0.243,3.47 3.47,0 0,1 -2.372,-0.686 2.675,2.675 0,0 1,-0.765 -2.09v-4.508h-1.275v-1.963h1.275v-2.256Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M40.143,66.905a1.216,1.216 0,0 1,0.48 -0.99,2.206 2.206,0 0,1 2.491,0 1.262,1.262 0,0 1,0 1.982,2.206 2.206,0 0,1 -2.491,0A1.221,1.221 0,0 1,40.143 66.905ZM43.443,78.33h-3.119v-9.081h3.119Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M49.744,66.992v2.256h1.644v1.963h-1.644L49.744,75.369a0.978,0.978 0,0 0,0.2 0.713,1.161 1.161,0 0,0 0.8,0.2 5.26,5.26 0,0 0,0.776 -0.05v2.021a6.223,6.223 0,0 1,-1.755 0.243,3.471 3.471,0 0,1 -2.373,-0.686 2.675,2.675 0,0 1,-0.765 -2.09v-4.508h-1.275v-1.963h1.275v-2.256Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M59.273,77.346a3.818,3.818 0,0 1,-5.157 0.282,3.44 3.44,0 0,1 -0.845,-2.5v-5.883L56.382,69.245v5.9q0,1.164 1.246,1.164a1.68,1.68 0,0 0,1.525 -0.694v-6.371L62.282,69.244v9.081h-2.916Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M68.341,66.992v2.256h1.644v1.963h-1.644L68.341,75.369a0.991,0.991 0,0 0,0.2 0.713,1.164 1.164,0 0,0 0.8,0.2 5.246,5.246 0,0 0,0.773 -0.05v2.021a6.2,6.2 0,0 1,-1.752 0.243,3.466 3.466,0 0,1 -2.373,-0.686 2.666,2.666 0,0 1,-0.768 -2.09v-4.508h-1.272v-1.963h1.272v-2.256Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M71.286,73.706a4.927,4.927 0,0 1,0.583 -2.423,3.929 3.929,0 0,1 1.671,-1.634 5.439,5.439 0,0 1,2.557 -0.57,4.849 4.849,0 0,1 3.536,1.264 4.587,4.587 0,0 1,1.29 3.436v0.1a4.459,4.459 0,0 1,-1.3 3.37,4.86 4.86,0 0,1 -3.513,1.246 4.933,4.933 0,0 1,-3.425 -1.161,4.345 4.345,0 0,1 -1.4,-3.151ZM74.397,73.88a3.151,3.151 0,0 0,0.433 1.847,1.5 1.5,0 0,0 1.285,0.586q1.663,0 1.7,-2.325v-0.282q0,-2.446 -1.715,-2.444 -1.564,0 -1.692,2.106Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M99.84,78.33h-3.222l-4.763,-7.606v7.606h-3.241L88.614,66.108h3.241l4.753,7.606v-7.606h3.233Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M108.104,78.33a2.944,2.944 0,0 1,-0.3 -0.816,3.016 3.016,0 0,1 -2.4,0.982 3.759,3.759 0,0 1,-2.4 -0.776,2.382 2.382,0 0,1 -0.99,-1.953 2.472,2.472 0,0 1,1.2 -2.23,6.591 6.591,0 0,1 3.489,-0.757h0.961v-0.48q0,-1.255 -1.19,-1.256 -1.108,0 -1.108,0.995L102.258,72.039a2.482,2.482 0,0 1,1.232 -2.138,5.57 5.57,0 0,1 3.143,-0.821 4.856,4.856 0,0 1,3.019 0.847,2.844 2.844,0 0,1 1.137,2.325v4.019a3.792,3.792 0,0 0,0.422 1.913v0.145ZM106.154,76.483a1.9,1.9 0,0 0,0.966 -0.224,1.51 1.51,0 0,0 0.549,-0.515v-1.451h-0.905c-1.082,0 -1.623,0.441 -1.623,1.327a0.773,0.773 0,0 0,0.285 0.623A1.092,1.092 0,0 0,106.153 76.483Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M117.468,76.314a1.48,1.48 0,0 0,1.016 -0.322,1.13 1.13,0 0,0 0.351,-0.9h2.916a3.022,3.022 0,0 1,-1.177 2.452,4.643 4.643,0 0,1 -7.722,-3.726v-0.119a5.109,5.109 0,0 1,0.557 -2.428,3.851 3.851,0 0,1 1.612,-1.62 5.183,5.183 0,0 1,2.491 -0.567,4.587 4.587,0 0,1 3.093,0.982 3.329,3.329 0,0 1,1.145 2.66L118.835,72.726a1.461,1.461 0,0 0,-0.38 -1.082,1.377 1.377,0 0,0 -1.016,-0.377c-0.8,0 -1.277,0.467 -1.412,1.4a9.192,9.192 0,0 0,-0.063 1.224,3.584 3.584,0 0,0 0.359,1.9A1.291,1.291 0,0 0,117.468 76.314Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M123.794,66.905a1.216,1.216 0,0 1,0.48 -0.99,2.21 2.21,0 0,1 2.494,0 1.262,1.262 0,0 1,0 1.982,2.21 2.21,0 0,1 -2.494,0A1.221,1.221 0,0 1,123.794 66.905ZM127.101,78.33L123.979,78.33v-9.081h3.122Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M129.374,73.706a4.955,4.955 0,0 1,0.583 -2.423,3.958 3.958,0 0,1 1.671,-1.634 5.439,5.439 0,0 1,2.557 -0.57,4.845 4.845,0 0,1 3.536,1.264 4.578,4.578 0,0 1,1.293 3.436v0.1a4.451,4.451 0,0 1,-1.3 3.37,4.851 4.851,0 0,1 -3.513,1.246 4.938,4.938 0,0 1,-3.426 -1.161,4.354 4.354,0 0,1 -1.393,-3.151ZM132.485,73.88a3.129,3.129 0,0 0,0.435 1.847,1.491 1.491,0 0,0 1.283,0.586q1.663,0 1.7,-2.325v-0.282q0,-2.446 -1.718,-2.444 -1.56,0 -1.689,2.106Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M143.973,69.249l0.1,1.066a3.521,3.521 0,0 1,2.853 -1.235,3 3,0 0,1 2.33,0.847 3.785,3.785 0,0 1,0.8 2.552v5.851L146.937,78.33v-5.732a1.429,1.429 0,0 0,-0.3 -1.011,1.5 1.5,0 0,0 -1.108,-0.325 1.53,1.53 0,0 0,-1.356 0.654v6.413L141.057,78.329v-9.081Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M158.14,78.33a3.029,3.029 0,0 1,-0.3 -0.816,3.01 3.01,0 0,1 -2.4,0.982 3.774,3.774 0,0 1,-2.4 -0.776,2.387 2.387,0 0,1 -0.987,-1.953 2.472,2.472 0,0 1,1.2 -2.23,6.591 6.591,0 0,1 3.489,-0.757h0.963v-0.48c0,-0.837 -0.4,-1.256 -1.19,-1.256q-1.108,0 -1.108,0.995h-3.114a2.482,2.482 0,0 1,1.232 -2.138,5.573 5.573,0 0,1 3.146,-0.821 4.852,4.852 0,0 1,3.016 0.847,2.844 2.844,0 0,1 1.137,2.325v4.019a3.79,3.79 0,0 0,0.425 1.913v0.145ZM156.192,76.483a1.9,1.9 0,0 0,0.963 -0.224,1.52 1.52,0 0,0 0.552,-0.515v-1.451h-0.905c-1.085,0 -1.626,0.441 -1.626,1.327a0.767,0.767 0,0 0,0.288 0.623A1.082,1.082 0,0 0,156.192 76.483Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M166.562,78.33h-3.119L163.443,65.438h3.119Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M183.154,73.141h-5.1v2.921h6.02v2.267h-9.26L174.814,66.108h9.279v2.275h-6.038v2.576h5.1Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M189.287,78.33h-3.119L186.168,65.438h3.119Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M196.788,78.496a5.44,5.44 0,0 1,-3.721 -1.246,4.114 4.114,0 0,1 -1.422,-3.243v-0.235a5.172,5.172 0,0 1,0.567 -2.46,3.949 3.949,0 0,1 1.657,-1.649 5.423,5.423 0,0 1,2.586 -0.583,4.551 4.551,0 0,1 3.323,1.188 4.4,4.4 0,0 1,1.222 3.312v1.1h-6.186a1.989,1.989 0,0 0,0.728 1.2,2.3 2.3,0 0,0 1.459,0.435 2.913,2.913 0,0 0,2.307 -0.94l1.422,1.528A3.955,3.955 0,0 1,199.084 78.066,6.074 6.074,0 0,1 196.788,78.496ZM196.437,71.262c-0.91,0 -1.454,0.549 -1.623,1.644h3.138v-0.216a1.321,1.321 0,0 0,-0.38 -1.053A1.582,1.582 0,0 0,196.437 71.266Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M207.226,76.314a1.473,1.473 0,0 0,1.013 -0.322,1.121 1.121,0 0,0 0.351,-0.9L211.505,75.092a3.017,3.017 0,0 1,-1.18 2.452,4.64 4.64,0 0,1 -7.719,-3.726v-0.119a5.109,5.109 0,0 1,0.557 -2.428,3.86 3.86,0 0,1 1.61,-1.62 5.194,5.194 0,0 1,2.494 -0.567,4.6 4.6,0 0,1 3.093,0.982 3.329,3.329 0,0 1,1.145 2.66h-2.919a1.47,1.47 0,0 0,-0.377 -1.082,1.381 1.381,0 0,0 -1.016,-0.377q-1.211,0 -1.412,1.4a9.108,9.108 0,0 0,-0.066 1.224,3.58 3.58,0 0,0 0.362,1.9A1.287,1.287 0,0 0,207.226 76.314Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M217.183,66.992v2.256L218.826,69.248v1.963h-1.644L217.182,75.369a0.991,0.991 0,0 0,0.2 0.713,1.161 1.161,0 0,0 0.8,0.2 5.26,5.26 0,0 0,0.776 -0.05v2.021a6.223,6.223 0,0 1,-1.755 0.243,3.463 3.463,0 0,1 -2.37,-0.686 2.667,2.667 0,0 1,-0.768 -2.09v-4.508h-1.272v-1.963h1.272v-2.256Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M220.131,73.706a4.954,4.954 0,0 1,0.581 -2.423,3.958 3.958,0 0,1 1.671,-1.634 5.446,5.446 0,0 1,2.557 -0.57,4.841 4.841,0 0,1 3.536,1.264 4.588,4.588 0,0 1,1.293 3.436v0.1a4.451,4.451 0,0 1,-1.3 3.37,4.851 4.851,0 0,1 -3.513,1.246 4.938,4.938 0,0 1,-3.426 -1.161,4.354 4.354,0 0,1 -1.393,-3.151ZM223.24,73.88a3.129,3.129 0,0 0,0.435 1.847,1.494 1.494,0 0,0 1.283,0.586q1.663,0 1.7,-2.325v-0.282q0,-2.446 -1.718,-2.444 -1.56,0 -1.689,2.106Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M237.919,71.806l-1.024,-0.066q-1.469,0 -1.884,0.839v5.751h-3.111v-9.081h2.919l0.1,1.166a2.425,2.425 0,0 1,2.188 -1.335,3.384 3.384,0 0,1 0.868,0.1Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M245.234,78.33a3.041,3.041 0,0 1,-0.293 -0.816,3.02 3.02,0 0,1 -2.4,0.982 3.759,3.759 0,0 1,-2.4 -0.776,2.382 2.382,0 0,1 -0.99,-1.953 2.467,2.467 0,0 1,1.2 -2.23,6.591 6.591,0 0,1 3.489,-0.757h0.961v-0.48c0,-0.837 -0.4,-1.256 -1.193,-1.256q-1.1,0 -1.106,0.995L239.392,72.039a2.482,2.482 0,0 1,1.232 -2.138,5.57 5.57,0 0,1 3.143,-0.821 4.856,4.856 0,0 1,3.019 0.847,2.844 2.844,0 0,1 1.137,2.325v4.019a3.791,3.791 0,0 0,0.422 1.913v0.145ZM243.286,76.483a1.908,1.908 0,0 0,0.966 -0.224,1.532 1.532,0 0,0 0.549,-0.515v-1.451L243.892,74.293c-1.082,0 -1.626,0.441 -1.626,1.327a0.775,0.775 0,0 0,0.288 0.623A1.087,1.087 0,0 0,243.286 76.483Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M253.667,78.33h-3.119L250.548,65.438L253.667,65.438Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M93.335,10.511h17.047v45.374h-17.047z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M196.786,10.511v45.371L256,55.882v-8.548L214.115,47.334L214.115,37.049L256,37.049v-7.97L214.408,29.079v-10.34L256,18.739v-8.228Z&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#fff&quot;</span><span>
        </span><span class="cm">android</span>:fillType=<span class="cl">&quot;evenOdd&quot;</span><span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span>:pathData=<span class="cl">&quot;M15.378,29.784c4.193,-5.84 18.925,-25.411 29.069,-29.784 7.455,13.85 24.543,27.32 29.742,29.784 -7.136,4.344 -12.646,7.978 -18.1,13.818h-29.08c-3.972,-3.755 -10.1,-10.2 -11.63,-13.818&quot;</span><span>
        </span><span class="cm">android</span>:fillColor=<span class="cl">&quot;#d2067f&quot;</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span><span></span>
                </pre>
                </span>
            </div>
            <p class="margin-t-60 margin-b-70">
                Estos ejemplos te servirán de base para empezar tu proyecto. En la pestaña Código de cada uno de los
                componentes Android encontrarás más iconos.
            </p>
        </section>
        <section *ngIf="seccion=='font'">
            <div class="margin-b-40 margin-t-30 text-center">
                <img class="img-fluid imagenes-al-centro w-100" src="./assets/img/doc-android/font/font.svg"
                    alt="">
            </div>
            <p>
                <strong>1. </strong> Para establecer una fuente agregaremos un <strong>TextView</strong> de prueba en nuestro archivo <strong>activity_main.xml</strong>.
            </p>
            <div class="margin-b-60  margin-t-40 text-center back-img">
                <img class="img-fluid imagenes-al-centro" src="./assets/img/doc-android/font/font-activity.svg"
                    alt="">
            </div>
            <div class="jumbotron jumbotron-fluid margin-t-30 margin-b-60">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('font-1')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="font-1">
                    <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;TextView</span></span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"test"</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span class="ct">/&gt;</span><span></span>            
                </pre>
                </span>
            </div>
            <p>
                <strong>2. </strong> A continuación, abre la vista <strong>“Design”</strong> en el editor,  y en el apartado <strong>Properties > textAppearance</strong>, localiza el combo desplegable <strong>fontFamily</strong>, como se muestra en la siguiente imagen y selecciona <strong>more fonts</strong>.
            </p>
            <div class="margin-b-60  margin-t-20 text-center back-img">
                <img class="img-fluid imagenes-al-centro" src="./assets/img/doc-android/font/more-fonts.svg"
                    alt="">
            </div>
            <p class="margin-t-60">
                <strong>3. </strong> Se desplegará una ventana y en la lista <strong>Source</strong> (ubicada en la esquina superior derecha), selecciona <strong>Google Fonts</strong>, y en el campo de búsqueda escribe <strong>Roboto</strong>, seleccionar la fuente <strong>Regular</strong> y guarda los cambios con el botón <strong>OK</strong>.
            </p>
            <div class="margin-b-60  margin-t-20 text-center back-img">
                <img class="img-fluid imagenes-al-centro" src="./assets/img/doc-android/font/roboto.svg"
                    alt="">
            </div>
            <p class="margin-t-60">
                <strong>4. </strong> Agrega la fuente a nuestra TextView de prueba con el siguiente código:
            </p>
            <div class="jumbotron jumbotron-fluid margin-b-60">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('font-2')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="font-2">
                    <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;TextView</span></span><span>
    </span><span class="cm">android</span>:text=<span class="cl">"test"</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;wrap_content&quot;</span><span>
    </span><span class="cm">android</span>:fontFamily=<span class="cl">&quot;@font/roboto&quot;</span> <span class="ct">/&gt;</span><span></span>                          
                </pre>
                </span>
            </div>
        </section>
        <section *ngIf="seccion=='values'">
            <p class="margin-t-30">
                En este apartado se describe cómo implementar las configuraciones generales para los componentes
                Android. Esta configuración se ubica en tres carpetas dentro del directorio /res.
            </p>
            <div class="margin-b-60 margin-t-40 text-center">
                <img class="img-fluid imagenes-al-centro w-100" src="./assets/img/doc-android/values/values.svg"
                    alt="">
            </div>
            <p>
                En esta carpeta se implementan las configuraciones para los colores y estilos de la aplicación.
            </p>
            <div class="margin-b-60  margin-t-40 text-center back-img">
                <img class="img-fluid imagenes-al-centro" src="./assets/img/doc-android/values/strings.svg" alt="">
            </div>
            <h3 class="fw-700">colors.xml</h3>
            <p>
                Este archivo contiene la configuración necesaria para dar color, de acuerdo a la guía de estilo del INE,
                a los componentes de tu aplicación. Copia y pega el siguiente código en tu proyecto.
            </p>
            <div class="jumbotron jumbotron-fluid margin-t-30 margin-b-70">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('values-1')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="values-1">
                    <pre class=" prettyprinted" style="">
<span>&lt;?<span class="cm">xml</span> <span class="cl">version</span>=<span class="ct">"1.0"</span> <span class="cl">encoding</span>=<span class="ct">"utf-8"</span>?&gt; </span><span>
</span><span class="cm">&lt;resources&gt; </span><span>
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorPrimary"</span>&gt;#242424 <span class="cm">&lt;/color&gt;</span><span>   
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorPrimaryDark"</span>&gt;#000000 <span class="cm">&lt;/color&gt;</span><span>    
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorAccent"</span>&gt;#409AA1 <span class="cm">&lt;/color&gt;</span><span>
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorTextAndIcons"</span>&gt;#FFF <span class="cm">&lt;/color&gt;</span><span>
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorPrimaryText"</span>&gt;#212121 <span class="cm">&lt;/color&gt;</span><span> 
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorSecondaryText"</span>&gt;#757575 <span class="cm">&lt;/color&gt;</span><span> 
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorDivider</span>"&gt;#CDCDCD <span class="cm">&lt;/color&gt;</span><span>
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorPrimaryLight"</span>&gt;#F8BBD0 <span class="cm">&lt;/color&gt;</span><span> 
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorBottomPink"</span>&gt;#B7006D <span class="cm">&lt;/color&gt;</span><span> 
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorBottomLess"</span>&gt;#666666 <span class="cm">&lt;/color&gt;</span><span>
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorBottomInactive"</span>&gt;#FCEDF6 <span class="cm">&lt;/color&gt;</span><span> 
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorErrorTextField"</span>&gt;#D31338 <span class="cm">&lt;/color&gt;</span><span>
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorWarningTextField"</span>&gt;#C48323 <span class="cm">&lt;/color&gt;</span><span> 
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"colorGreenErrorTextField"</span>&gt;#428569 <span class="cm">&lt;/color&gt;</span><span> 
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"hint_color_active"</span>&gt;#00897B <span class="cm">&lt;/color&gt;</span><span>
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"hint_color_inactive"</span>&gt;#FFEB3B <span class="cm">&lt;/color&gt;</span><span>
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"color_text_cards_home"</span>&gt;#D5007F <span class="cm">&lt;/color&gt;</span><span> 
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"color_rosa_d50B7F"</span>&gt;#D50B7F <span class="cm">&lt;/color&gt;</span><span>
    </span><span class="cm">&lt;color</span> <span class="cl">name</span>=<span class="ct">"color_rosa_d50B7F_divider"</span>&gt;#C4E60D8A <span class="cm">&lt;/color&gt;</span><span> 
</span><span class="cm">&lt;/resources&gt;</span>
                </pre>
                </span>
            </div>
            <h3 class="fw-700">styles.xml</h3>
            <p>Este archivo contiene la configuración necesaria para dar estilo a los componentes de tu aplicación.
                Copia y pega el siguiente código en tu proyecto.</p>
            <div class="jumbotron jumbotron-fluid margin-t-30 margin-b-40">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('values-2')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="values-2">
                <pre class=" prettyprinted" style="">
<span>&lt;<span class="cm">resources</span>&gt;</span><span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;Theme.Ine&quot;</span><span> 
    </span><span class="cl">parent</span>=<span class="ct">&quot;Theme.MaterialComponents.Light.NoActionBar&quot;</span>&gt;<span>
    </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;colorPrimary&quot;</span>&gt;@color/colorPrimary&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;colorPrimaryDark&quot;</span>&gt;@color/colorPrimaryDark&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;colorAccent&quot;</span>&gt;@color/colorAccent&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:windowNoTitle&quot;</span>&gt;true&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:windowFullscreen&quot;</span>&gt;false&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;textAppearanceButton&quot;</span>&gt;<span>
</span>@style/mx.ine.TextAppearance.TextGeneralProperties&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textAppearance&quot;</span>&gt;<span>
</span>@style/mx.ine.TextAppearance.TextGeneralProperties&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textViewStyle&quot;</span>&gt;<span>
</span>@style/mx.ine.TextViewGeneralsProperties&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;Theme.Ine.SplashScreen&quot;</span> <span class="cl">parent</span>=<span class="ct">&quot;Theme.MaterialComponents.Light.NoActionBar&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:windowNoTitle&quot;</span>&gt;true&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:windowFullscreen&quot;</span>&gt;true&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textViewStyle&quot;</span>&gt;<span>
</span>@style/mx.ine.TextViewGeneralsProperties&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;Theme.Ine.FullScreenDialog&quot;</span> <span class="cl">parent</span>=<span class="ct">&quot;Theme.Ine&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:windowFullscreen&quot;</span>&gt;true&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textColor&quot;</span>&gt;<span>
</span>@color/colorTextAndIcons&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;tint&quot;</span>&gt;@color/colorTextAndIcons&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.TextAppearance.TextGeneralProperties&quot;</span><span>
        </span><span class="cl">parent</span>=<span class="ct">&quot;TextAppearance.MaterialComponents.Body1&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;fontFamily&quot;</span>&gt;@font/roboto&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:fontFamily&quot;</span>&gt;@font/roboto&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textSize&quot;</span>&gt;16sp&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.TextViewGeneralsProperties&quot;</span><span> 
</span><span class="cl">parent</span>=<span class="ct">&quot;Widget.AppCompat.TextView&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textAppearance&quot;</span>&gt;@style/mx.ine.TextAppearance.TextGeneralProperties&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.MaterialComponents.CardView&quot;</span><span>
        </span><span class="cl">parent</span>=<span class="ct">&quot;Widget.MaterialComponents.CardView&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;cardCornerRadius&quot;</span>&gt;1dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;cardElevation&quot;</span>&gt;1dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;strokeWidth&quot;</span>&gt;1dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;strokeColor&quot;</span>&gt;@color/stroke_color&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:layout_marginTop&quot;</span>&gt;16dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textAppearance&quot;</span>&gt;<span>
</span>@style/mx.ine.TextAppearance.TextGeneralProperties&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.MaterialComponents.ButtonGeneralProperties&quot;</span><span>
        </span><span class="cl">parent</span>=<span class="ct">&quot;Widget.MaterialComponents.Button&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;cornerRadius&quot;</span>&gt;15dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:paddingStart&quot;</span>&gt;16dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:paddingEnd&quot;</span>&gt;16dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:insetTop&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:insetBottom&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.MaterialComponents.ButtonSolid&quot;</span><span>
        </span><span class="cl">parent</span>=<span class="ct">&quot;mx.ine.MaterialComponents.ButtonGeneralProperties&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textColor&quot;</span>&gt;<span>
</span>@color/colorTextAndIcons&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;backgroundTint&quot;</span>&gt;@color/colorBottomPink&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.MaterialComponents.ButtonOutLine&quot;</span><span>
        </span><span class="cl">parent</span>=<span class="ct">&quot;Widget.MaterialComponents.Button.OutlinedButton&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;cornerRadius&quot;</span>&gt;15dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:paddingStart&quot;</span>&gt;16dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:paddingEnd&quot;</span>&gt;16dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:insetTop&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:insetBottom&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;strokeColor&quot;</span>&gt;@color/colorBottomPink&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textColor&quot;</span>&gt;@color/colorBottomPink&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;iconTint&quot;</span>&gt;@color/colorBottomPink&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.MaterialComponents.ButtonLessSolid&quot;</span><span>
        </span><span class="cl">parent</span>=<span class="ct">&quot;mx.ine.MaterialComponents.ButtonSolid&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;backgroundTint&quot;</span>&gt;@color/colorBottomLess&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.MaterialComponents.TextButton&quot;</span><span>
        </span><span class="cl">parent</span>=<span class="ct">&quot;Widget.MaterialComponents.Button.TextButton&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:paddingStart&quot;</span>&gt;16dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:paddingEnd&quot;</span>&gt;16dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:insetTop&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:insetBottom&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.MaterialComponents.ButtonSolidToggle&quot;</span> <span class="cl">parent</span>=<span class="ct">&quot;Widget.MaterialComponents.Button.OutlinedButton.Icon&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;cornerRadius&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:insetTop&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:insetBottom&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:layout_marginRight&quot;</span>&gt;10dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;strokeColor&quot;</span>&gt;@color/colorTextAndIcons&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;backgroundTint&quot;</span>&gt;@color/color_state_button_toggle&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;iconTint&quot;</span>&gt;@color/color_state_text_button_toggle&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;mx.ine.MaterialComponents.FloatingActionButton&quot;</span> <span class="cl">parent</span>=<span class="ct">&quot;Widget.MaterialComponents.FloatingActionButton&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;backgroundTint&quot;</span>&gt;@color/colorBottomPink&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;tint&quot;</span>&gt;@color/colorTextAndIcons&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span><span> 
</span><span class="cl">name</span>=<span class="ct">&quot;mx.ine.MaterialComponents.FloatingActionButtonExtended&quot;</span><span>
    </span><span class="cl">parent</span>=<span class="ct">&quot;Widget.MaterialComponents.ExtendedFloatingActionButton&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;backgroundTint&quot;</span>&gt;@color/colorBottomPink&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;iconTint&quot;</span>&gt;@color/colorTextAndIcons&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textColor&quot;</span>&gt;<span>
</span>@color/colorTextAndIcons&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;cornerRadius&quot;</span>&gt;12dp&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;errorTextFieldRed&quot;</span><span> 
</span><span class="cl">parent</span>=<span class="ct">&quot;TextAppearance.MaterialComponents.Caption&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textColor&quot;</span>&gt;<span>
        </span>@color/colorErrorTextField&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;errorTextFieldGreen&quot;</span><span> 
</span><span class="cl">parent</span>=<span class="ct">&quot;Widget.MaterialComponents.TextInputLayout.FilledBox.Dense&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textColor&quot;</span>&gt;<span>
        </span>@color/colorGreenErrorTextField&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;warningTextFieldYellow&quot;</span><span> 
    </span><span class="cl">parent</span>=<span class="ct">&quot;TextAppearance.MaterialComponents.Caption&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textColor&quot;</span>&gt;<span>
        </span>@color/colorWarningTextField&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;AlertDialogButton&quot;</span><span> 
    </span><span class="cl">parent</span>=<span class="ct">&quot;Widget.MaterialComponents.Button.TextButton&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:layout_marginEnd&quot;</span>&gt;20dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:textColor&quot;</span>&gt;<span>
        </span>@color/color_rosa_d50B7F&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;AlertDialogCustom&quot;</span> <span class="cl">parent</span>=<span class="ct">&quot;Theme.MaterialComponents.Light.Dialog&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=&quot;textAllCaps&quot;&gt;false&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:background&quot;</span>&gt;<span>
            </span>@color/colorTextAndIcons&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;buttonBarPositiveButtonStyle&quot;</span>&gt;<span>
            </span>@style/AlertDialogButton&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;buttonBarNegativeButtonStyle&quot;</span>&gt;<span>
            </span>@style/AlertDialogButton&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;DividerHorizontal&quot;</span> &gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:layout_width&quot;</span>&gt;match_parent&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:layout_height&quot;</span>&gt;1dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:layout_marginStart&quot;</span>&gt;20dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:layout_marginEnd&quot;</span>&gt;20dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:layout_marginBottom&quot;</span>&gt;30dp&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:alpha&quot;</span>&gt;0.15&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;DividerHorizontal.Negro&quot;</span><span>
        </span><span class="cl">parent</span>=<span class="ct">&quot;DividerHorizontal&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:background&quot;</span>&gt;#242424&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;DividerHorizontal.Rosa&quot;</span> <span class="cl">parent</span>=<span class="ct">&quot;DividerHorizontal&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:background&quot;</span>&gt;#D5007F&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
    </span>&lt;<span class="cm">style</span> <span class="cl">name</span>=<span class="ct">&quot;DividerHorizontal.Blanco&quot;</span><span> 
    </span><span class="cl">parent</span>=<span class="ct">&quot;DividerHorizontal&quot;</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:background&quot;</span>&gt;#FFFFFF&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:alpha&quot;</span>&gt;0.25&lt;/<span class="cm">item</span>&gt;<span>
        </span>&lt;<span class="cm">item</span> <span class="cl">name</span>=<span class="ct">&quot;android:layout_marginBottom&quot;</span>&gt;0dp&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;/<span class="cm">style</span>&gt;<span>
</span>&lt;/<span class="cm">resources</span>&gt;<span></span>                    
                </pre>
                </span>
            </div>
           <p>
            <strong>Nota:</strong> Recuerda despues de agregar los estilos <strong>modificar el manifest.xml</strong>, que se encuentra dentro del directorio <strong>manifest</strong>, con la siguiente linea:
           </p>
           <div class="jumbotron jumbotron-fluid margin-t-30 margin-b-20">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('values-2-1')" ngbTooltip="Código copiado"
                    triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <span id="values-2-1">
            <pre class=" prettyprinted" style="">
<span class="cm">android</span>:theme=<span class="cl">&quot;@style/Theme.Ine&quot;</span>
            </pre>
            </span>
        </div>
            <p class="margin-b-70 margin-t-30">
                Con esta configuración ya tienes la base para mostrar los colores y estilos de acuerdo a la guía de
                estilo del Instituto Nacional Electoral.
            </p>
            <h3 class="fw-700">strings.xml</h3>
            <div class="jumbotron jumbotron-fluid margin-t-30 margin-b-70">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('values-3')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="values-3">
                    <pre class=" prettyprinted" style="">
<span>&lt;<span class="cm">resources</span>&gt;</span><span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;app_name&quot;</span>&gt;Componentes INE&lt;/<span class="cm">string</span>&gt;<span>

</span>&lt;!-- TODO: Remove or change this placeholder text --&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;hello_blank_fragment&quot;</span>&gt;Hello blank fragment&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;text_fields&quot;</span>&gt;Textfields&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;tabs&quot;</span>&gt;Tabs&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;dropdown&quot;</span>&gt;Men&uacute;s&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;divider&quot;</span>&gt;Dividers&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;dialog&quot;</span>&gt;Dialogs&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;chips&quot;</span>&gt;Chips&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;floating_action_button&quot;</span>&gt;FloatingActionButton&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;card_view&quot;</span>&gt;Cards&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;button&quot;</span>&gt;Buttons&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;helper_text&quot;</span>&gt;&amp;amp;&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;tag&quot;</span>&gt;Etiqueta&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;buttomNav&quot;</span>&gt;Bottom navigation&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;app_bar_top&quot;</span>&gt;App bar:top&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;launch_screen&quot;</span>&gt;Launch screen (splash)&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;text_tipos&quot;</span>&gt;Tipos&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;selecc_elements&quot;</span>&gt;2 Seleccionados&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;page_title&quot;</span>&gt;T&iacute;tutlo de p&aacute;gina&lt;/<span class="cm">string</span>&gt;<span>
</span>&lt;<span class="cm">string</span> <span class="cl">name</span>=<span class="ct">&quot;text_dialog_full_screen&quot;</span>&gt;Dialogo full screen&lt;/<span class="cm">string</span>&gt;<span>

</span>&lt;<span class="cm">string-array</span> <span class="cl">name</span>=<span class="ct">&quot;string_drop_down&quot;</span>&gt;<span>
    </span>&lt;<span class="cm">item</span>&gt;Opción 1&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;<span class="cm">item</span>&gt;Opción 2&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;<span class="cm">item</span>&gt;Opción 3&lt;/<span class="cm">item</span>&gt;<span>
    </span>&lt;<span class="cm">item</span>&gt;Opción 4&lt;/<span class="cm">item</span>&gt;<span>
</span>&lt;/<span class="cm">string-array</span>&gt;<span>
</span>&lt;/<span class="cm">resources</span>&gt;<span></span>                  
                </pre>
                </span>
            </div>
        </section>
        <section *ngIf="seccion=='layout'">
            <div class="margin-b-40 margin-t-30 text-center">
                <img class="img-fluid imagenes-al-centro w-100" src="./assets/img/doc-android/layout/carpetas-layout.svg"
                    alt="">
            </div>
            <p>
                En esta carpeta se ubica el archivo<strong> activity_main.xml</strong>, donde se incluyen los
                componentes que utilizará la aplicación.
            </p>
            <div class="margin-b-60  margin-t-40 text-center back-img">
                <img class="img-fluid imagenes-al-centro" src="./assets/img/doc-android/layout/activity-main.svg"
                    alt="">
            </div>
            <h3 class="fw-700">activity_main.xml</h3>
            <p class="margin-t-15">
                En este archivo se incluirán cada uno de los componentes de tu aplicación. Para conocer a detalle cada
                uno de los principales componentes Android, dentro del apartado Componentes UI encontrarás la guía de
                estilo, casos de uso y código para copiar y pegar en tu proyecto.
            </p>
            <div class="jumbotron jumbotron-fluid margin-t-30">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('layout-1')" ngbTooltip="Código copiado"
                        triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <span id="layout-1">
                    <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;?</span>xml version=<span class="cl">&quot;1.0&quot;</span> encoding=<span class="cl">&quot;utf-8&quot;</span><span class="ct">?&gt;</span></span><span>
</span><span class="ct">&lt;androidx.coordinatorlayout.widget.CoordinatorLayout</span><span></span> xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span><span>
    </span>xmlns:<span class="cm">app</span>=<span class="cl">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span>
    </span>xmlns:<span class="cm">tools</span>=<span class="cl">&quot;http://schemas.android.com/tools&quot;</span><span>
    </span><span class="cm">android</span>:layout_width=<span class="cl">&quot;match_parent&quot;</span><span>
    </span><span class="cm">android</span>:layout_height=<span class="cl">&quot;match_parent&quot;</span><span>
    </span><span class="cm">tools</span>:context=<span class="cl">&quot;.ui.activities.MainActivity&quot;</span>&gt;<span>

  

</span><span class="ct">&lt;/androidx.coordinatorlayout.widget.CoordinatorLayout&gt;</span><span></span>                  
                </pre>
                </span>
            </div>
            <p>
               <strong>Nota:</strong> Valida que la propiedad <strong>tools:context=".ui.activities.MainActivity"</strong> correspanda al paquete de tu proyecto.
            </p>
            <p class="margin-t-60 margin-b-60">
                Ahora que tienes completa la configuración general de tu aplicación, ya puedes empezar a incluir los componentes necesarios. Consulta el apartado <a class="enlace" [routerLink]="['/componentes-ui/android/app-bar-top/estilo']">componentes Android</a> para empezar.
            </p>
        </section>
        
    </div>
</div>


