h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
}

/*--------------------------*\
  Propiedades Movil
\*--------------------------*/

@media (max-width: 575.98px) {
    .width-seccion {
        width: 125px;
    }
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #FFF;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    .padding-titulo-xs {
        padding-top: 60px;
    }
    .padding-b-0-xs {
        padding-bottom: 0px;
        ;
    }
}

@media (max-width: 767px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #FFF;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    .padding-titulo-xs {
        padding-top: 60px;
    }
    .padding-b-0-xs {
        padding-bottom: 0px;
        ;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #FFF;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    .padding-titulo-x {
        padding-top: 100px;
    }
    .padding-b-0-xs {
        padding-bottom: 0px;
        ;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}