@import './src/sass/_variables.scss';
h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
}

.circulo_height {
    height: 30px
}

.circulo {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-top: 4px;
}

a {
    text-decoration: underline;
}

//  Extra small screen / phone
@media (max-width: 575.98px) {
    .padding-0-xs {
        padding-top: 0px;
    }
    .imagenes-al-centro {
        text-align: center;
    }
    .padding-20-xs {
        padding-top: 20px;
    }
    .padding-40-xs {
        padding-top: 30px;
    }
    .margin-8-xs {
        margin-bottom: 8px;
        margin-top: 15px;
    }
    .margin-b-0 {
        margin-bottom: 0;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .imagenes-al-centro {
        text-align: center;
    }
    .padding-0-xs {
        padding-top: 0px;
    }
    .padding-20-xs {
        padding-top: 20px;
    }
    .padding-40-xs {
        padding-top: 30px;
    }
    .margin-8-xs {
        margin-bottom: 8px;
        margin-top: 15px;
    }
}

// Medium
@media (min-width: 768px) and (max-width: 991px) {
    .imagenes-al-centro {
        text-align: center;
    }
    .padding-20-xs {
        padding-top: 20px;
    }
}