<section *ngIf="seccion=='estilo'">
    <div class="padding-t-30">
        <h3>Tipos de botones</h3>
    </div>
    <p>
        A continuación, se muestran las tipologías de botones más comunes para que puedas identificar, respecto a su uso, a cada uno de ellos.
    </p>
    <div class="padding-t-10">
        <!-- botón primario -->
        <h4 class="titulos-elementos">Botón primario</h4>
        <div class="row padding-20">
            <!-- Activo -->
            <div class="offset-4 col-4 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20">
                <p class="subseccion padding-l-30 etiqueta-referencia">Activo</p>
                <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20" style="background: #B7006D;color: #FFF;">
                    Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                    </p>
                </div>
                <div class="padding-t-10">
                    <div class="circulo bg-magenta"></div>
                    <p class="texto-elementos padding-l-40">
                        #B7006D
                    </p>
                </div>
            </div>
            <!-- hover -->
            <div class="offset-4 col-4 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20">
                <p class="subseccion padding-l-30 etiqueta-referencia">Hover</p>
                <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 hovered_primario" style="background: #FCE5F3;color:#B7006D;">
                    Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#B7006D</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo bg-rosa6"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #FCE5F3
                        </p>
                    </div>
                    <div class="padding-t-10">
                        <hr class="linea-border border-t-magenta-2">
                        <p class="padding-l-40 texto-elementos margin-0">
                            #B7006D
                        </p>
                    </div>
                </div>
            </div>
            <!-- Inactivo -->
            <div class="offset-4 col-4 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20">
                <p class="subseccion padding-l-20 etiqueta-referencia">Inactivo</p>
                <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20" disabled>
                    Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo bg-rosa7"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #FAB5DF
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h4 class="titulos-elementos padding-t-20">Botón secundario</h4>
        <div class="row padding-20">
            <!-- Activo -->
            <div class="offset-4 col-4 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20">
                <p class="subseccion padding-l-30 etiqueta-referencia">Activo</p>
                <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20">
                    Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#B7006D</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo border-grisOscuro2-1"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #FFFFFF
                        </p>
                    </div>
                    <div class="padding-t-10">
                        <hr class="linea-border border-t-magenta-2">
                        <p class="padding-l-40 texto-elementos margin-0">
                            #B7006D
                        </p>
                    </div>
                </div>
            </div>
            <!-- hover -->
            <div class="offset-4 col-4 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20">
                <p class="subseccion padding-l-30 etiqueta-referencia">Hover</p>
                <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20 hovered_secundario" style="background: #F8F8F8;">
                    Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#B7006D</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo bg-gris-clarito2 border-grisOscuro2-1"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #F8F8F8
                        </p>
                    </div>
                    <div class="padding-t-10">
                        <hr class="linea-border border-t-magenta-2">
                        <p class="padding-l-40 texto-elementos margin-0">
                            #B7006D
                        </p>
                    </div>
                </div>
            </div>
            <!-- Inactivo -->
            <div class="offset-4 col-4 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20">
                <p class="subseccion padding-l-20 etiqueta-referencia">Inactivo</p>
                <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20" disabled>
                    Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#FCD3EC</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo border-grisOscuro2-1"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #FFFFFF
                        </p>
                    </div>
                    <div class="padding-t-10">
                        <hr class="linea-border border-t-rosa7-2">
                        <p class="padding-l-40 texto-elementos margin-0">
                            #FAB5DF
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Botón secundario -->
        <hr>
        <h4 class="titulos-elementos padding-t-20">Botón menor</h4>
        <div class="row padding-20">
            <!-- Activo -->
            <div class="offset-4 col-4 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20">
                <p class="subseccion padding-l-30 etiqueta-referencia">Activo</p>
                <button type="button" class="btn btn_gris_ine padding-l-20 padding-r-20" style="background:#666666;color:#FFF;">
                    Etiqueta
                </button>
                <div class=" padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo bg-gris-oscuro2"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #666666
                        </p>
                    </div>
                </div>
            </div>
            <!-- hover -->
            <div class="offset-4 col-4 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20">
                <p class="subseccion padding-l-30 etiqueta-referencia">Hover</p>
                <button type="button" class="btn btn_gris_ine padding-l-20 padding-r-20 hovered_menor" style="background: #F8F8F8;color: #333333;">
                    Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#666666</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo bg-gris-clarito2 border-grisOscuro2-1"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #F8F8F8
                        </p>
                    </div>
                    <div class="padding-t-10">
                        <hr class="linea-border border-t-grisOscuro2-2">
                        <p class="padding-l-40 texto-elementos margin-0">
                            #666666
                        </p>
                    </div>
                </div>
            </div>
            <!-- Inactivo -->
            <div class="offset-4 col-4 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20">
                <p class="subseccion padding-l-20 etiqueta-referencia">Inactivo</p>
                <button type="button" class="btn btn_gris_ine padding-l-20 padding-r-20" disabled>
                    Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#999999</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo bg-gris border-grisOscuro2-1"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #E6E6E6
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <!-- botón menor -->
        <hr>
        <h4 class="titulos-elementos padding-t-20"> Botón iconográfico textual</h4>
        <div class="row padding-t-20">
            <!-- Activo -->
            <div class="offset-4 col-5 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20 padding-r-0 padding-l-0">
                <p class="subseccion padding-l-50 etiqueta-referencia">Activo</p>
                <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 " style="background: #B7006D;color: #FFF;">
                    <i class="fa fa-random padding-r-15" aria-hidden="true"></i> Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                    </p>
                </div>
                <div class="padding-t-10">
                    <div class="circulo bg-magenta"></div>
                    <p class="texto-elementos padding-l-40">
                        #B7006D
                    </p>
                </div>
            </div>
            <!-- hover -->
            <div class="offset-4 col-5 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20 padding-r-0 padding-l-0">
                <p class="subseccion padding-l-50 etiqueta-referencia">Hover</p>
                <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20" style="background: #FCE5F3;color:#B7006D;">
                    <i class="fa fa-random padding-r-15" aria-hidden="true"></i> Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#B7006D</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo bg-rosa6"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #FCE5F3
                        </p>
                    </div>
                    <div class="padding-t-10">
                        <hr class="linea-border border-t-magenta-2">
                        <p class="padding-l-40 texto-elementos margin-0">
                            #B7006D
                        </p>
                    </div>
                </div>
            </div>
            <!-- inactivo -->
            <div class="offset-4 col-5 offset-sm-0 col-sm-4 offset-md-0 col-md-4 padding-t-20 padding-r-0 padding-l-0">
                <p class="subseccion padding-l-50 etiqueta-referencia">Inactivo</p>
                <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 " disabled>
                    <i class="fa fa-random padding-r-15" aria-hidden="true"></i> Etiqueta
                </button>
                <div class="padding-t-30">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                    </p>
                    <div class="padding-t-10">
                        <div class="circulo bg-rosa7"></div>
                        <p class="padding-l-40 texto-elementos margin-0">
                            #FAB5DF
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="padding-t-50">Especificaciones gráficas</h3>
        <h4 class="titulos-elementos padding-t-60 padding-b-20 padding-20-xs">Tipografía</h4>
        <div class="padding-20 bg-img">
            <div class="row">
                <!-- Familia Tipografica -->
                <div class="col-6 col-sm-6 col-md-3">
                    <p class="subseccion margin-8-xs"><strong>Familia tipográfica</strong></p>
                    <p class="subseccion padding-t-10 padding-0-xs">Roboto</p>
                </div>
                <!-- Tamaño -->
                <div class="col-6 col-sm-6 col-md-3">
                    <p class="subseccion margin-8-xs"><strong>Tamaño</strong></p>
                    <p class="subseccion padding-t-10 padding-0-xs">16px</p>
                </div>
                <!-- Peso -->
                <div class="col-6 col-sm-6 col-md-3">
                    <p class="subseccion margin-8-xs"><strong>Peso</strong></p>
                    <p class="subseccion padding-t-10 padding-0-xs">font-weight: 500</p>
                </div>
                <!-- Alineación -->
                <div class="col-6 col-sm-6 col-md-3">
                    <p class="subseccion margin-8-xs"><strong>Alineación</strong></p>
                    <p class="subseccion padding-t-10 padding-0-xs">text-align: center</p>
                </div>
            </div>
        </div>
        <h4 class="titulos-elementos padding-t-60 padding-b-20">Estructura</h4>
        <div class="row padding-b-20">
            <div class="col-md-4 col-6">
                <p>Tamaño</p>
                <img class="img-fluid" src="./assets/img/botones/estilo/Estructura/estructura-boton-1.svg" alt="Diagrama: tamaños del botón primario. Ancho automático, alto 45px">
            </div>
            <div class="col-md-4 col-6">
                <p>Ejemplo</p>
                <img class="img-fluid" src="./assets/img/botones/estilo/Estructura/estructura-boton-2.svg" alt="Diagrama: tamaños del botón secundario. Ancho automático, alto 45px">
            </div>
            <div class="col-md-4 col-6 padding-40-xs">
                <p>Ejemplo</p>
                <img class="img-fluid padding-t-30 padding-0-xs" src="./assets/img/botones/estilo/Estructura/estructura-boton-3.svg" alt="Ejemplo del botón aplicado">
            </div>
        </div>
        <h4 class="titulos-elementos padding-t-60 padding-b-20">Espaciado</h4>
        <div class="padding-20 bg-img">
            <div class="row">
                <div class="col-md-4 col-6">
                    <p>Padding botom</p>
                    <img class="img-fluid" src="./assets/img/botones/estilo/Espaciado/padding-boton.svg" alt="Diagrama: espaciado del botón primario. Margenes laterales 20px.">
                </div>
                <div class="col-md-4 col-6">
                    <p>Margin texto - ícono</p>
                    <img class="img-fluid" src="./assets/img/botones/estilo/Espaciado/margin-icon-boton.svg" alt="Diagrama: espaciado del botón primario. Margenes laterales 20px.">
                </div>
                <div class="col-md-4 col-4 padding-40-xs">
                    <p>Ejemplo</p>
                    <img class="img-fluid padding-t-30 padding-0-xs" src="./assets/img/botones/estilo/Espaciado/icon-boton.svg" alt="Ejemplo del botón iconográfico textual aplicado.">
                </div>
            </div>
            <div class="row justify-content-between padding-t-40">
                <div class="col-md-4">
                    <p class="margin-b-0">Margin entre botones</p>
                    <img class="img-fluid" src="./assets/img/botones/estilo/Espaciado/margin-botones.svg" alt="Diagrama: márgenes que deben existir entre dos botones 20px.">
                </div>
            </div>
        </div>
        <h4 class="titulos-elementos padding-t-60 padding-b-20">Borde</h4>
        <div class="row">
            <div class="col-md-4 col-4">
                <p>Radius</p>
                <img class="img-fluid" src="./assets/img/botones/estilo/Borde/radio-boton.svg" alt="Diagrama: valor del redondeado en el botón primario 15px">
            </div>
            <div class="col-md-4 col-4">
                <p>Border</p>
                <img class="img-fluid" src="./assets/img/botones/estilo/Borde/borde-boton.svg" alt="Diagrama: valor del borde en un botón secundario solid 1px">
            </div>
        </div>
    </div>

</section>
<section *ngIf="seccion=='usos'">
    <div class="">
        <div class="padding-t-30">
            <h3>¿Qué es un botón?</h3>
        </div>
        <div class="padding-t-15">
            <p>
                Los botones se colocan para detonar la interacción que los usuarios tienen con la interfaz, por lo tanto resultan el medio primario de intercomunicación entre una persona y un dispositivo.
            </p>
            <p>
                Nuestros botones deben ser fácilmente identificables y responder a la acción que necesite realizar el usuario. En este contexto, debes ser claro al momento de su colocación, de tal manera que resulte rápidamente hallado.
            </p>
            <p class="margin-0">
                A continuación, se presentan los casos de uso en donde se aplicarán los diferentes estilos de botones.
            </p>
        </div>
        <div class="titulos-elementos padding-t-50">
            <h4 id="btnPrimario">
                Botón primario
            </h4>
        </div>
        <div class="padding-t-15">
            <p>
                El uso de estos botones se dividirá en dos casos:
            </p>
            <p>
                <strong>Call to action o llamada a la acción:</strong> Cuando queramos llamar la atención de nuestros usuarios con un acento llamativo dentro de toda la pantalla, el usuario debe distinguir la acción más importante.
            </p>
            <p class="txt-title">
                <strong>Ejemplo:</strong>
            </p>
            <p>
                En la pantalla del login del sistema web, nuestro botón primario indicará <i>Iniciar sesión</i>.
            </p>
            <div class="align-items-center padding-b-60 imagenes-al-centro">
                <img class="img-fluid" src="./assets/img/botones/usos/call-to-action.svg" alt="Ejemplo del botón inicio de sesión dentro de un modal">
            </div>
            <p>
                <strong>Botón de seguimiento:</strong> Apóyate de este botón cuando existan acciones dentro de tu interfaz que deban de ser ejecutadas para seguir un proceso.
            </p>
            <p class="txt-title">
                <strong>Ejemplo:</strong>
            </p>
            <p>
                Cuando tengas mensajes en una ventana modal y el usuario debe dar respuesta a una pregunta, el botón primario será <i>Continuar</i>.
            </p>
            <div class="align-items-center padding-b-20 imagenes-al-centro">
                <img class="img-fluid" src="./assets/img/botones/usos/seguimiento.svg" alt="Ejemplo de un modal de registro exitoso con el botón continuar">
            </div>
            <p class="tip padding-15 margin-0">
                <strong>Tip:</strong> Centra tu botón de seguimiento en la parte inferior de la pantalla, justo después de la información o contenido que se haya presentado ante el usuario. En casos particulares, colócalo en la parte inferior derecha.
            </p>
        </div>
        <div class="titulos-elementos padding-t-60">
            <h4 id="btnSecundario">
                Botón secundario
            </h4>
        </div>

        <p>
            <strong>Botón de acompañamiento:</strong> Es importante saber que este tipo de botón se usará exclusivamente cuando a un lado tenemos un botón primario, esto quiere decir que el secundario lo acompañará cuando sea necesario en una toma de
            decisión.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando necesites dar al usuario una opción para retroceder, cambiar o corregir cierto contenido en un registro. Tu botón secundario será <i>Anterior</i>.
        </p>
        <div class="align-items-center padding-b-20 imagenes-al-centro">
            <img class="img-fluid" src="./assets/img/botones/usos/acompañamiento.svg" alt="Dos botones alineados horizontalmente: anterior y siguiente. El primero con borde y el segundo con relleno sólido.">
        </div>
        <p class="tip padding-15">
            <b>Tip:</b> Recuerda colocar tus botones uno al lado del otro, y nunca uno abajo del otro.
        </p>
        <p class="tip padding-15 margin-0">
            <b>Tip:</b> Ubica tus botones primarios y secundarios en la parte inferior y centrados, inmediatos a la información o contenido que se haya presentado al usuario. Si son modales o procesos en versiones móviles, colócalos en la parte inferior
            derecha.
        </p>

        <div class="titulos-elementos padding-t-60">
            <h4 id="btnMenor">
                Botón menor
            </h4>
        </div>

        <p>
            El uso de estos botones de dividirá en dos casos:
        </p>
        <p>
            <b>Botón de apunte:</b> En ocasiones será necesaria la participación de varios botones dentro de nuestra pantalla del sistema web, sin embargo, son botones de menor énfasis que no necesariamente involucran acciones de mayor relevancia.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            El usuario debe adjuntar un documento. Aquí, tu botón de apunte será <i>Adjuntar</i>.
        </p>
        <div class=" align-items-center padding-b-30 imagenes-al-centro">
            <img class="img-fluid" src="./assets/img/botones/usos/apunte.svg" alt="Botones para adjuntar archivos en un tamaño más pequeño y color gris junto a un botón principal más grande y en color rosa.">
        </div>
        <p class="text-justify padding-t-30">
            <b>Botón de selección:</b> Usa estos botones cuando el usuario se enfrente a selecciones propias u obligadas.
        </p>
        <p class="txt-title">
            <b>Ejemplo:</b>
        </p>
        <p class="text-justify">
            Tienes una lista con varios rangos de horarios y fechas donde el usuario tendrá que decidir cuál es la que ocupará. En este caso tus botones de selección serán los horarios y fechas que se encuentren en reposo y sin aún ser activados.
        </p>
        <div class="align-items-center padding-b-60 imagenes-al-centro">
            <img class="img-fluid" src="./assets/img/botones/usos/seleccion.svg" alt="Botones mostrando diferentes horarios en gris claro y gris obscuro junto a un botón principal aceptar.">
        </div>

        <div class="titulos-elementos">
            <h4 id="btnIconograficoTextual">
                Botón iconográfico textual
            </h4>
        </div>
        <p>
            <b>Botón de reforzamiento: </b> Coloca un ícono para reforzar la etiqueta del botón primario. Esto ayuda a realizar una lectura más rápida de las acciones. Asegúrate de hacer algunas pruebas con usuarios antes de elegir los íconos, te ayudará
            a prevenir errores de intención.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            En una sección del sistema web se debe enviar un escrito, coloca el botón de reforzamiento <br>
            <strong>[icono_enviar] + Enviar</strong>.
        </p>
        <div class="align-items-center padding-b-60 imagenes-al-centro">
            <img class="img-fluid" src="./assets/img/botones/usos/reforzamiento.svg" alt="Botón enviar con ícono ">
        </div>
    </div>
</section>
<!-- Sección Codigo -->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Botón activo</h3>
    <h4 class="titulos-elementos padding-t-20">
        Botón primario
    </h4>
    <div class="text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20">
            Etiqueta
        </button>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btnRosa')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="btnRosa">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20"</span><span>></span>
    Etiqueta
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-60">
        Botón secundario
    </h4>
    <div class="text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20">
            Etiqueta
        </button>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btnRosaInvertido')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="btnRosaInvertido">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_invertido_ine padding-l-20 padding-r-20"</span><span>></span>
    Etiqueta
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-60">
        Botón menor
    </h4>
    <div class="text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_gris_ine padding-l-20 padding-r-20">
            Etiqueta
        </button>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btnGris')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="btnGris">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_gris_ine padding-l-20 padding-r-20"</span><span>></span>
    Etiqueta
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <h3 class="padding-t-60">
        Botón iconográfico textual
    </h3>
    <div class="col-12 text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20">
            <i class="fa fa-random padding-r-15" aria-hidden="true"></i> Etiqueta
        </button>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btnIconografico')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="btnIconografico">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20"</span><span>></span>
    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-random padding-r-15"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span> Etiqueta
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <h3 class="padding-t-60">
        Botones inactivos
    </h3>
    <div class="row">
        <div class="col-md-6 offset-md-3 padding-t-35 padding-b-35 text-center">
            <div class="flotar-izq">
                <p class="etiqueta-referencia margin-r-20">
                    Primario
                </p>
                <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20 margin-r-20" disabled>
                    Etiqueta
                </button>
            </div>
            <div class="flotar-izq">
                <p class="etiqueta-referencia margin-r-20">
                    Secundario
                </p>
                <button type="button" class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20 margin-r-20" disabled>
                    Etiqueta
                </button>
            </div>
            <div class="flotar-izq">
                <p class="etiqueta-referencia margin-r-20">
                    Menor
                </p>
                <button type="button" class="btn btn_gris_ine padding-l-20 padding-r-20 margin-r-20" disabled>
                    Etiqueta
                </button>
            </div>
            <div class="flotar-izq">
                <p class="etiqueta-referencia">
                    Iconográfico
                </p>
                <button type="button" class="btn btn_rosa_ine padding-l-20 padding-r-20" disabled>
                    <i class="fa fa-random padding-r-15" aria-hidden="true"></i>Etiqueta
                </button>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btnInactivo')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="btnInactivo">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20 margin-r-20"</span><span class="ca4"> disabled</span><span>></span>Etiqueta<span><</span><span>/</span><span class="ca5">button</span><span>></span>
<span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_invertido_ine padding-l-20 padding-r-20 margin-r-20"</span><span class="ca4"> disabled</span><span>></span>Etiqueta<span><</span><span>/</span><span class="ca5">button</span><span>></span>
<span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_gris_ine padding-l-20 padding-r-20 margin-r-20"</span><span class="ca4"> disabled</span><span>></span>Etiqueta<span><</span><span>/</span><span class="ca5">button</span><span>></span>
<span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine padding-l-20 padding-r-20"</span><span class="ca4"> disabled</span><span>></span><span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-random padding-r-15"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>Etiqueta<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
</section>