<nav class="navbar navbar-expand-lg navbar-light padding-0 menu-seccion f-18">
    <div class="collapse navbar-collapse text-center border-nav scroll-nowprap" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fw-400">
            <li class="nav-item nav-seccion padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/uno-a-uno']" [ngClass]="{'active' : seccion =='uno-a-uno'}">
                <a class="nav-link color-rosaINE">Uno a uno</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/contextuales']" [ngClass]="{'active' : seccion =='contextuales'}">
                <a class="nav-link color-rosaINE">Contextuales</a>
            </li>
            <li class="nav-item padding-l-15 padding-r-15" [routerLink]="['/experiencia-de-usuario/investigacion-de-usuario/entrevistas/focus-group']" [ngClass]="{'active' : seccion =='focus-group'}">
                <a class="nav-link color-rosaINE">Focus group</a>
            </li>
        </ul>
    </div>
</nav>
<section *ngIf="seccion=='uno-a-uno'">
    <h3 class="padding-t-30">¿Qué son las entrevistas uno a uno?</h3>
    <p>
        Nos ayudan a entender las necesidades específicas de los usuarios, descubriendo sus frustraciones y el cómo resuelven problemáticas ante cierto producto digital, apoyándonos de un script previamente planeado que sirva como guía para moderar la entrevista.
    </p>
    <h3 class="padding-t-30">¿Cuándo usarlas?</h3>
    <p>
        Cuando sea necesario conocer los puntos de vista de usuarios con distintos perfiles, dirigiendo las conversaciones hacia un objetivo claro y concreto. Además, estas entrevistas apoyan el proceso de creación de los mapas de empatía con los que obtenemos
        hallazgos que dan pauta a las mejoras del proyecto.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/entrevistas/uno-uno.svg" alt="Entrevistas uno a uno">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus entrevistas uno a uno.</p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/entrevistas/ArqTec_EntrevistasUnoUno.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='contextuales'">
    <h3 class="padding-t-30">¿Qué son las entrevistas contextuales?</h3>
    <p>
        Es un tipo de entrevista que se basa en la observación de los movimientos en contexto de los usuarios, (la manera en que se desenvuelven dentro de sus tareas cotidianas) entendiendo por qué ocurren o no ciertas acciones y descubriendo las problemáticas
        reales que enfrentan.
    </p>
    <h3 class="padding-t-30">¿Cuándo usarlas?</h3>
    <p>
        Cuando necesitemos conocer los tipos de tecnología que están al alcance del usuario, cómo los utiliza y cuál es su nivel de expertise, además de los tiempos que tarda en resolver ciertas tareas utilizando algún producto digital, también nos ayudan a descubrir
        si existen factores de distracción y el entorno en el que se desenvuelve.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/entrevistas/entrevista-contextual.svg" alt="Entrevista contextual">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus entrevistas contextuales.
                </p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/entrevistas/ArqTec_EntrevistasContex.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="seccion=='focus-group'">
    <h3 class="padding-t-30">¿Qué son las entrevistas focus group?</h3>
    <p>
        Son entrevistas en grupos enfocados. Es común que las distracciones con otros temas se den en cualquier momento de la reunión, por eso es importante que siempre exista un moderador y un grupo no mayor a 7 personas para no perder la directriz.
    </p>
    <h3 class="padding-t-30">¿Cuándo usarlas?</h3>
    <p>
        Cuando necesitemos obtener requerimientos sobre aspectos que no se tienen contemplados en la creación de la interfaz o al inicio del proyecto. Es probable que en este tipo de entrevistas no podamos medir qué tan usable es cierto producto o servicio digital,
        pero obtendremos información valiosa que no podría ser evaluada, por ejemplo, durante las pruebas de usabilidad.
    </p>
    <div class="bg-img padding-20 margin-t-60">
        <div class="row">
            <div class="col-md-4 padding-t-10 text-center">
                <img class="img-fluid" src="./assets/img/entrevistas/focus-group.svg" alt="Focus group">
            </div>
            <div class="col-md-8 padding-t-10">
                <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
                <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus entrevistas focus group.
                </p>
                <div class="boton-al-centro">
                    <a href="./assets/docs/entrevistas/ArqTec_EntrevistasFocusGroup.docx" download>
                        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                            <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>