h3 {
    font-size: 1.5rem;
}

/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .boton-al-centro {
        text-align: center;
    }
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .padding-top-50 {
        padding-top: 50px;
    }
    .margin-0 {
        margin: 0px;
    }
    ///Scroll pestañas///
    .scroll-nowprap {
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 767px) {
    .boton-al-centro {
        text-align: center;
    }
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    #sidebar-toggle {
        display: block;
    }
    #sidebar {
        position: fixed;
        top: 50px;
        left: -435px;
        width: 410px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99999;
        overflow-y: scroll;
        background: #FFF;
    }
    #sidebar.menu-lateral.open-sidebar {
        left: 0;
    }
    #sidebar-toggle {
        padding: 3px 6px;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 9px;
        bottom: 60px;
        font-size: 28px;
        z-index: 999999;
        background-color: #d2017a;
        border-radius: 50%;
        text-align: center;
    }
    .rotar-flecha {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-180deg);
    }
    ///Scroll pestañas///
    .scroll-nowprap {
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}