
img.img-usos{
  margin: 0px 0px 50px 0px;
}

th{
  font-weight: 500;
  font-size: 18px;
}

td {
  text-align: left;
  padding: 10px 20px;
}

th {
  padding: 20px 15px 10px 20px;
}

.padding-l-24{
  padding-left: 24px;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
 .img-centrada{
    text-align: center;
  }

  .tabla-responsiva{
    overflow-x:auto;
  }
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width