<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Tipos de alertas</h3>
    <!--EXITO-->
    <h4 class="titulos-elementos padding-t-50">Exito</h4>
    <div class="row">
        <div class="col-md-8">
            <div class="toast-de-cierre exito" role="alert" aria-live="assertive" aria-atomic="true" type="success">
                <div class="toast-body">
                    <div class="row">
                        <div class="col-2 col-md-2">
                            <i class="fa fa-check-circle fa-3x icono-toast"></i>
                        </div>
                        <div class="col-8 col-md-8">
                            <p class="margin-b-0 f-18 fw-700">Mensaje de éxito.</p>
                            <p class="margin-b-0">Contenido del mensaje.</p>
                        </div>
                        <div class="col-2 col-md-2">
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                                <i class="fa fa-times-circle icono-cerrar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="padding-t-10">
                <div class="cuadro bg-blanco border-verde-clarito"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #CEEAC3
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-verde-2"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #E5F7DF
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-check-circle color-Verde mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #428569
                </p>
            </div>
        </div>
    </div>
    <!--ADVERTENCIA-->
    <h4 class="titulos-elementos padding-t-50">Advertencia</h4>
    <div class="row">
        <div class="col-md-8">
            <div class="toast-de-cierre advertencia" role="alert" aria-live="assertive" aria-atomic="true"
                type="success">
                <div class="toast-body">
                    <div class="row">
                        <div class="col-2 col-md-2">
                            <i class="fa fa-exclamation-triangle fa-3x icono-toast"></i>
                        </div>
                        <div class="col-8 col-md-8">
                            <p class="margin-b-0 f-18 fw-700">Mensaje de advertencia.</p>
                            <p class="margin-b-0">Contenido del mensaje.</p>
                        </div>
                        <div class="col-2 col-md-2">
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                                <i class="fa fa-times-circle icono-cerrar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="padding-t-10">
                <div class="cuadro bg-blanco border-amarillo-3"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #F7DE97
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-amarillo-2"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #FFF6D9
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-exclamation-triangle color-Amarillo mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #F9AD35
                </p>
            </div>
        </div>
    </div>
    <!--ERROR-->
    <h4 class="titulos-elementos padding-t-50">Error</h4>
    <div class="row">
        <div class="col-md-8">
            <div class="toast-de-cierre error" role="alert" aria-live="assertive" aria-atomic="true" type="success">
                <div class="toast-body">
                    <div class="row">
                        <div class="col-2 col-md-2">
                            <i class="fa fa-times-circle fa-3x icono-toast"></i>
                        </div>
                        <div class="col-8 col-md-8">
                            <p class="margin-b-0 f-18 fw-700">Mensaje de error.</p>
                            <p class="margin-b-0">Contenido del mensaje.</p>
                        </div>
                        <div class="col-2 col-md-2">
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                                <i class="fa fa-times-circle icono-cerrar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="padding-t-10">
                <div class="cuadro bg-blanco border-rojo-3"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #FDC9D1
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-rojo-2"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #FFDCE1
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-times-circle color-Rojo mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #D31338
                </p>
            </div>
        </div>
    </div>
    <!--INFORMATIVO-->
    <h4 class="titulos-elementos padding-t-50">Informativo</h4>
    <div class="row">
        <div class="col-md-8">
            <div class="toast-de-cierre informativo" role="alert" aria-live="assertive" aria-atomic="true"
                type="success">
                <div class="toast-body">
                    <div class="row">
                        <div class="col-2 col-md-2">
                            <i class="fa fa-info-circle fa-3x icono-toast"></i>
                        </div>
                        <div class="col-8 col-md-8">
                            <p class="margin-b-0 f-18 fw-700">Mensaje informativo.</p>
                            <p class="margin-b-0">Contenido del mensaje.</p>
                        </div>
                        <div class="col-2 col-md-2">
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                                <i class="fa fa-times-circle icono-cerrar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="padding-t-10">
                <div class="cuadro bg-blanco border-azul-2"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #C3DDE3
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-azul"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #DDF3F8
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-info-circle color-Azul  mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #1298B7
                </p>
            </div>
        </div>
    </div>
    <!--AYUDA-->
    <h4 class="titulos-elementos padding-t-50">Ayuda</h4>
    <div class="row">
        <div class="col-md-8">
            <div class="toast-de-cierre ayuda" role="alert" aria-live="assertive" aria-atomic="true" type="success">
                <div class="toast-body">
                    <div class="row">
                        <div class="col-2 col-md-2">
                            <i class="fa fa-question-circle fa-3x icono-toast"></i>
                        </div>
                        <div class="col-8 col-md-8">
                            <p class="margin-b-0 f-18 fw-700">Mensaje de ayuda.</p>
                            <p class="margin-b-0">Contenido del mensaje.</p>
                        </div>
                        <div class="col-2 col-md-2">
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                                <i class="fa fa-times-circle icono-cerrar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="padding-t-10">
                <div class="cuadro bg-blanco border-azul-3"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #F3B6DA
                </p>
            </div>
            <div class="padding-t-10">
                <div class="cuadro bg-rosa8"></div>
                <p class="texto-elementos padding-l-40 margin-0">
                    #F8E1F2
                </p>
            </div>
            <div class="padding-t-10">
                <i class="fa fa-question-circle color-rosa-toast  mover-izq margin-t-5" aria-hidden="true"></i>
                <p class="texto-elementos padding-l-40 margin-0">
                    #B7086D
                </p>
            </div>
        </div>
    </div>

    <h3 class="padding-t-70">Especificaciones</h3>
    <h4 class="titulos-elementos padding-t-30">Tipografía</h4>
    <div class="tabla-responsiva">
        <table class="bg-img">
            <tr>
                <th>Elemento</th>
                <th>Color</th>
                <th>Tamaño</th>
                <th>Peso y estilo</th>
                <th>Alineación</th>
            </tr>
            <tr class="f-18 fw-700">
                <td>Énfasis</td>
                <td>#333333</td>
                <td>18px</td>
                <td>font-weight:700</td>
                <td>Text-align:left</td>
            </tr>
            <tr class="fw-400 margin-b-20">
                <td>Contenido</td>
                <td>#333333</td>
                <td>16px</td>
                <td>font-weight:400</td>
                <td>Text-align:left</td>
            </tr>
        </table>
    </div>
    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <p class="padding-t-20 f-14 fw-600">Tamaño</p>
    <p class="padding-t-20 f-14 txt-italic">Con botón de cierre</p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/estilo/tamaño-conBoton.svg" alt="">
    </div>
    <p class="padding-t-50 f-14 txt-italic">Cierre automático</p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/estilo/tamaño-automatico.svg" alt="">
    </div>
    <p class="padding-t-50 f-14 fw-600">Espaciado</p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/estilo/espaciado.svg" alt="">
    </div>
</section>
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es una notificación Toast?</h3>
    <p>
        El componente Toast, al igual que el Alert, pertenece a la familia de las notificaciones. Sin embargo, el
        componente Toast es más grande y se posiciona respecto a la pantalla en la parte superior derecha. Por lo tanto,
        tiene una mayor jerarquía que el componente Alert.
    </p>
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <p>
        Este tipo de notificación aparece en la pantalla para avisar al usuario sobre el éxito o error en una tarea,
        advertir sobre una acción, ayudarle a completar una tarea o simplemente proveer información.
    </p>
    <p>
        Por defecto, una notificación Toast desaparece automáticamente después de unos segundos. Sin embargo, también se
        puede configurar para que permanezca visible hasta que el usuario la descarte presionando el botón cerrar.
    </p>
    <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
    <p>
        Según el tipo de mensaje:
    </p>
    <p>
        <strong>Advertencia:</strong> Este mensaje informa al usuario sobre un suceso crítico que está a punto de
        suceder.

    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>Una vez enviado, el formulario no podrá modificarse.
    </p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/usos/caso-adevertencia.svg" alt="">
    </div>
    <p>
        <strong>Error:</strong> Este mensaje informa sobre un problema que impide que se complete la tarea que está
        realizando.

    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>El formato de archivo no es válido.
    </p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/usos/caso-error.svg" alt="">
    </div>
    <p>
        <strong>Éxito:</strong> Este mensaje informa que la tarea fue completada de manera satisfactoria.

    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>El archivo ha sido enviado con éxito.
    </p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/usos/caso-exito.svg" alt="">
    </div>
    <p>
        <strong>Informativo:</strong> Este mensaje comunica al usuario sobre lo que está pasando o acaba de suceder.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>El archivo fue añadido a la carpeta.
    </p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/usos/caso-informativo.svg" alt="">
    </div>
    <p>
        <strong>Ayuda:</strong>Este mensaje asiste al usuario en la tarea que está realizando.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>Los formatos de archivo válidos son: .png, .jpg y .gif.
    </p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/usos/caso-ayuda.svg" alt="">
    </div>
    <p>
        Según el tipo de comportamiento, los componentes Toast pueden cerrarse de manera automática o requerir que el
        usuario haga clic en el botón cerrar:
    </p>
    <p class="padding-t-30">
        <strong>Cierre automático:</strong>Se utiliza para mostrar mensajes que no son críticos, pues no requiere que el
        usuario interactúe con ellas para completar una tarea o seguir navegando en el sitio, e incluso pueden pasar
        desapercibidas.
    </p>
    <p>Utiliza este componente para informar al usuario sobre el proceso que se está llevando a cabo en el sitio.</p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>El archivo fue guardado en la carpeta “Favoritos”.
    </p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/usos/caso-automatico.svg" alt="">
    </div>
    <p>
        <strong>Con botón de cierre:</strong>Utiliza este componente para mensajes que no son críticos pero que el
        usuario debe notar.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>El nuevo horario de atención es de 9:00 am a 3:00 pm.
    </p>
    <div class="img-centrada">
        <img class="img-fluid img-usos" src="./assets/img/toast/usos/caso-botonCierre.svg" alt="">
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <h4 class="titulos-elementos padding-t-40">Con botón de cierre</h4>
    <div class="padding-t-40">
        <button class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="toastExito(true)">
            Éxito
        </button>
        <ngb-alert class="toast-cierre exito" *ngIf="mostrarExito" (hide)="toastExito" type="success"
            (close)="mostrarExito = ''">
            <div class="row">
                <div class="col-2 col-md-2">
                    <i class="fa fa-check-circle fa-3x icono-toast"></i>
                </div>
                <div class="padding-l-24 col-10 col-md-10">
                    <p class="margin-b-0 f-18 fw-700">Mensaje de éxito.</p>
                    <p class="margin-b-0">Contenido del mensaje.</p>
                </div>
            </div>
            <button aria-label="Close" class="close" type="button">
                <i class="fa fa-times-circle icono-cerrar"></i>
            </button>
        </ngb-alert>
    </div>
    <div class="padding-t-80">
        <button class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="toastAdvertencia(true)">
            Advertencia
        </button>
        <ngb-alert class="toast-cierre advertencia" *ngIf="mostrarAdvertencia" (hide)="toastAdvertencia" type="success"
            (close)="mostrarAdvertencia = ''">
            <div class="row">
                <div class="col-2 col-md-2">
                    <i class="fa fa-exclamation-triangle fa-3x icono-toast"></i>
                </div>
                <div class="padding-l-24 col-10 col-md-10">
                    <p class="margin-b-0 f-18 fw-700">Mensaje de advertencia.</p>
                    <p class="margin-b-0">Contenido del mensaje.</p>
                </div>
            </div>
            <button aria-label="Close" class="close" type="button">
                <i class="fa fa-times-circle icono-cerrar"></i>
            </button>
        </ngb-alert>
    </div>
    <div class="padding-t-80">
        <button class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="toastError(true)">
            Error
        </button>
        <ngb-alert class="toast-cierre error" *ngIf="mostrarError" (hide)="toastError" type="success"
            (close)="mostrarError = ''">
            <div class="row">
                <div class="col-2 col-md-2">
                    <i class="fa fa-times-circle fa-3x icono-toast"></i>
                </div>
                <div class="padding-l-24 col-10 col-md-10">
                    <p class="margin-b-0 f-18 fw-700">Mensaje de error.</p>
                    <p class="margin-b-0">Contenido del mensaje.</p>
                </div>
            </div>
            <button aria-label="Close" class="close" type="button">
                <i class="fa fa-times-circle icono-cerrar"></i>
            </button>
        </ngb-alert>
    </div>
    <div class="padding-t-80">
        <!--MENSAJE INFORMATIVO-->
<!--MENSAJE INFORMATIVO-->
<button class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="toastInformativo(true)">
    Informativo
</button>
<ngb-alert class="toast-cierre informativo" *ngIf="mostrarInformativo" (hide)="toastInformativo" type="success"
    (close)="mostrarInformativo = ''">
    <div class="row">
        <div class="col-2 col-md-2">
            <i class="fa fa-info-circle fa-3x icono-toast"></i>
        </div>
        <div class="padding-l-24 col-10 col-md-10">
            <p class="margin-b-0">Contenido del mensaje.</p>
        </div>
    </div>
    <button aria-label="Close" class="close" type="button">
        <i class="fa fa-times-circle icono-cerrar"></i>
    </button>
</ngb-alert>
    </div>
    <div class="padding-t-80">
        <button class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="toastAyuda(true)">
            Ayuda
        </button>
        <ngb-alert class="toast-cierre ayuda" *ngIf="mostrarAyuda" (hide)="toastAyuda" type="success"
            (close)="mostrarAyuda = ''">
            <div class="row">
                <div class="col-2 col-md-2">
                    <i class="fa fa-question-circle fa-3x icono-toast"></i>
                </div>
                <div class="padding-l-24 col-10 col-md-10">
                    <p class="margin-b-0 f-18 fw-700">Mensaje de ayuda.</p>
                    <p class="margin-b-0">Contenido del mensaje.</p>
                </div>
            </div>
            <button aria-label="Close" class="close" type="button">
                <i class="fa fa-times-circle icono-cerrar"></i>
            </button>
        </ngb-alert>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-80">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('toast-tipos')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="toast-tipos">
            <pre>
                <code class="language-html" data-lang="html">
&lt;!--MENSAJE DE ÉXITO--&gt;
<span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;btn btn_rosa_invertido_ine padding-l-20 padding-r-20&quot;</span> (click)=<span class="cn">&quot;toastExito(true)&quot;</span>&gt;</span>
    <span>Éxito</span>
<span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;<span class="ca5">ngb-alert</span> <span class="ca4">class</span>=<span class="cn">&quot;toast-cierre exito&quot;</span> *ngIf=<span class="cn">&quot;mostrarExito&quot;</span> (hide)=<span class="cn">&quot;toastExito&quot;</span> type=<span class="cn">&quot;success&quot;</span></span>
    <span>(close)=<span class="cn">&quot;mostrarExito = ''&quot;</span>&gt;</span>
    <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;row&quot;</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;col-2 col-md-2&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=&quot;fa fa-check-circle fa-3x icono-toast&quot;&gt;&lt;/<span class="ca5">i</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;padding-l-24 col-10 col-md-10&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0 f-18 fw-700&quot;</span>&gt;Mensaje de éxito.&lt;/<span class="ca5">p</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0&quot;</span>&gt;Contenido del mensaje.&lt;/<span class="ca5">p</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;<span class="ca5">button</span> aria-label=<span class="cn">&quot;Close&quot;</span> <span class="ca4">class</span>=<span class="cn">&quot;close&quot;</span> type=&quot;<span class="cn">button</span>&quot;&gt;</span>
        <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=<span class="cn">&quot;fa fa-times-circle icono-cerrar&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;</span>
    <span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;/<span class="ca5">ngb-alert</span>&gt;</span>


&lt;!--MENSAJE DE ADVERTENCIA--&gt;
<span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;btn btn_rosa_invertido_ine padding-l-20 padding-r-20&quot;</span> (click)=<span class="cn">&quot;toastAdvertencia(true)&quot;</span>&gt;</span>
    <span>Advertencia</span>
<span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;<span class="ca5">ngb-alert</span> <span class="ca4">class</span>=<span class="cn">&quot;toast-cierre advertencia&quot;</span> *ngIf=<span class="cn">&quot;mostrarAdvertencia&quot;</span> (hide)=<span class="cn">&quot;toastAdvertencia&quot;</span> type=<span class="cn">&quot;success&quot;</span></span>
    <span>(close)=<span class="cn">&quot;mostrarAdvertencia = ''&quot;</span>&gt;</span>
    <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;row&quot;</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;col-2 col-md-2&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=&quot;fa fa-exclamation-triangle fa-3x icono-toast&quot;&gt;&lt;/<span class="ca5">i</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;padding-l-24 col-10 col-md-10&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0 f-18 fw-700&quot;</span>&gt;Mensaje de advertencia.&lt;/<span class="ca5">p</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0&quot;</span>&gt;Contenido del mensaje.&lt;/<span class="ca5">p</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;<span class="ca5">button</span> aria-label=<span class="cn">&quot;Close&quot;</span> <span class="ca4">class</span>=<span class="cn">&quot;close&quot;</span> type=&quot;<span class="cn">button</span>&quot;&gt;</span>
        <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=<span class="cn">&quot;fa fa-times-circle icono-cerrar&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;</span>
    <span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;/<span class="ca5">ngb-alert</span>&gt;</span>


&lt;!--MENSAJE DE ERROR--&gt;
<span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;btn btn_rosa_invertido_ine padding-l-20 padding-r-20&quot;</span> (click)=<span class="cn">&quot;toastError(true)&quot;</span>&gt;</span>
    <span>Error</span>
<span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;<span class="ca5">ngb-alert</span> <span class="ca4">class</span>=<span class="cn">&quot;toast-cierre error&quot;</span> *ngIf=<span class="cn">&quot;mostrarError&quot;</span> (hide)=<span class="cn">&quot;toastError&quot;</span> type=<span class="cn">&quot;success&quot;</span></span>
    <span>(close)=<span class="cn">&quot;mostrarError = ''&quot;</span>&gt;</span>
    <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;row&quot;</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;col-2 col-md-2&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=&quot;fa fa-times-circle fa-3x icono-toast&quot;&gt;&lt;/<span class="ca5">i</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;padding-l-24 col-10 col-md-10&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0 f-18 fw-700&quot;</span>&gt;Mensaje de error.&lt;/<span class="ca5">p</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0&quot;</span>&gt;Contenido del mensaje.&lt;/<span class="ca5">p</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;<span class="ca5">button</span> aria-label=<span class="cn">&quot;Close&quot;</span> <span class="ca4">class</span>=<span class="cn">&quot;close&quot;</span> type=&quot;<span class="cn">button</span>&quot;&gt;</span>
        <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=<span class="cn">&quot;fa fa-times-circle icono-cerrar&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;</span>
    <span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;/<span class="ca5">ngb-alert</span>&gt;</span>


&lt;!--MENSAJE INFORMATIVO--&gt;
<span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;btn btn_rosa_invertido_ine padding-l-20 padding-r-20&quot;</span> (click)=<span class="cn">&quot;toastInformativo(true)&quot;</span>&gt;</span>
    <span>Informativo</span>
<span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;<span class="ca5">ngb-alert</span> <span class="ca4">class</span>=<span class="cn">&quot;toast-cierre informativo&quot;</span> *ngIf=<span class="cn">&quot;mostrarInformativo&quot;</span> (hide)=<span class="cn">&quot;toastInformativo&quot;</span> type=<span class="cn">&quot;success&quot;</span></span>
    <span>(close)=<span class="cn">&quot;mostrarInformativo = ''&quot;</span>&gt;</span>
    <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;row&quot;</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;col-2 col-md-2&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=&quot;fa fa-info-circle fa-3x icono-toast&quot;&gt;&lt;/<span class="ca5">i</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;padding-l-24 col-10 col-md-10&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0 f-18 fw-700&quot;</span>&gt;Mensaje informativo.&lt;/<span class="ca5">p</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0&quot;</span>&gt;Contenido del mensaje.&lt;/<span class="ca5">p</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;<span class="ca5">button</span> aria-label=<span class="cn">&quot;Close&quot;</span> <span class="ca4">class</span>=<span class="cn">&quot;close&quot;</span> type=&quot;<span class="cn">button</span>&quot;&gt;</span>
        <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=<span class="cn">&quot;fa fa-times-circle icono-cerrar&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;</span>
    <span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;/<span class="ca5">ngb-alert</span>&gt;</span>


&lt;!--MENSAJE AYUDA--&gt;
<span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;btn btn_rosa_invertido_ine padding-l-20 padding-r-20&quot;</span> (click)=<span class="cn">&quot;toastAyuda(true)&quot;</span>&gt;</span>
    <span>Ayuda</span>
<span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;<span class="ca5">ngb-alert</span> <span class="ca4">class</span>=<span class="cn">&quot;toast-cierre ayuda&quot;</span> *ngIf=<span class="cn">&quot;mostrarAyuda&quot;</span> (hide)=<span class="cn">&quot;toastAyuda&quot;</span> type=<span class="cn">&quot;success&quot;</span></span>
    <span>(close)=<span class="cn">&quot;mostrarAyuda = ''&quot;</span>&gt;</span>
    <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;row&quot;</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;col-2 col-md-2&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=&quot;fa fa-question-circle fa-3x icono-toast&quot;&gt;&lt;/<span class="ca5">i</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;padding-l-24 col-10 col-md-10&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0 f-18 fw-700&quot;</span>&gt;Mensaje de ayuda.&lt;/<span class="ca5">p</span>&gt;</span>
            <span>&lt;<span class="ca5">p </span><span class="ca4">class</span>=<span class="cn">&quot;margin-b-0&quot;</span>&gt;Contenido del mensaje.&lt;/<span class="ca5">p</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;<span class="ca5">button</span> aria-label=<span class="cn">&quot;Close&quot;</span> <span class="ca4">class</span>=<span class="cn">&quot;close&quot;</span> type=&quot;<span class="cn">button</span>&quot;&gt;</span>
        <span>&lt;<span class="ca5">i </span><span class="ca4">class</span>=<span class="cn">&quot;fa fa-times-circle icono-cerrar&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;</span>
    <span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;/<span class="ca5">ngb-alert</span>&gt;</span>
                </code>
            </pre>
        </div>
    </div>
    <p>
        A continuación encuentra el código TypeScript necesario para darle funcionalidad a este componente. Sigue estas
        recomendaciones y construye una interfaz funcional, usable y accesible.
    </p>
    <div class="jumbotron jumbotron-fluid margin-t-40">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('toast-tipos-ts')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="toast-tipos-ts">
            <pre>
                <code class="language-html" data-lang="html">
<span>export <span class="ca4">class</span> <span class="cv">ToastComponent</span> implements <span class="cv">OnInit</span> &#123;</span>

    <span>exportmostrarExito: <span class="ca4">boolean</span>=<span class="cm">false</span>;</span>
    <span>exportmostrarAdvertencia: <span class="ca4">boolean</span>=<span class="cm">false</span>;</span>
    <span>exportmostrarError: <span class="ca4">boolean</span>=<span class="cm">false</span>;</span>
    <span>exportmostrarInformativo: <span class="ca4">boolean</span>=<span class="cm">false</span>;</span>
    <span>exportmostrarAyuda: <span class="ca4">boolean</span>=<span class="cm">false</span>;</span>

    <span><span class="cv">ngOnInit</span>(): <span class="ca4">void</span> &#123;&#125;</span>

    <span><span class="cv">toastExito</span>(<span class="cn">valor</span>:<span class="ca4">boolean</span>)&#123;</span>
      <span><span class="cn">this</span>.mostrarExito=<span class="cn">valor</span>;</span>
    &#125;
  
    <span><span class="cv">toastAdvertencia</span>(<span class="cn">valor</span>:<span class="ca4">boolean</span>)&#123;</span>
      <span><span class="cn">this</span>.mostrarAdvertencia=<span class="cn">valor</span>;</span>
    &#125;
  
    <span><span class="cv">toastError</span>(<span class="cn">valor</span>:<span class="ca4">boolean</span>)&#123;</span>
      <span><span class="cn">this</span>.mostrarError=<span class="cn">valor</span>;</span>
    &#125;
  
    <span><span class="cv">toastInformativo</span>(<span class="cn">valor</span>:<span class="ca4">boolean</span>)&#123;</span>
      <span><span class="cn">this</span>.mostrarInformativo=<span class="cn">valor</span>;</span>
    &#125;
  
    <span><span class="cv">toastAyuda</span>(<span class="cn">valor</span>:<span class="ca4">boolean</span>)&#123;</span>
      <span><span class="cn">this</span>.mostrarAyuda=<span class="cn">valor</span>;</span>
    &#125;
                </code>
            </pre>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-80 padding-b-50">Cierre automático</h4>     
    <button class="btn btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="changeToastAutomatico()">
        Toast automático
    </button>
        <ngb-alert class="toast-automatico exito" [dismissible]="false" *ngIf="toastAutomatico">
        <div class="row">
            <div class="col-2 col-md-2">
                <i class="fa fa-question-circle fa-3x icono-toast"></i>
            </div>
            <div class="padding-l-35 col-10 col-md-10">
                <p class="margin-b-0 f-18 fw-700">Mensaje de éxito.</p>
                    <p class="margin-b-0">Contenido del mensaje.</p>
            </div>
        </div>
    </ngb-alert>
    <div class="jumbotron jumbotron-fluid margin-t-80">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('toast-auto')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="toast-auto">
            <pre>
                <code class="language-html" data-lang="html">
<span>&lt;<span class="ca5">button</span> <span class="ca4">class</span>=<span class="cn">&quot;btn btn_rosa_invertido_ine padding-l-20 padding-r-20&quot;</span> <span class="ca4">(click)</span>=<span class="cn">&quot;changeToastAutomatico()&quot;</span>&gt;</span>
    <span>Toast autom&aacute;tico</span>
<span>&lt;/<span class="ca5">button</span>&gt;</span>
<span>&lt;<span class="ca5">ngb-alert</span> <span class="ca4">class</span>=<span class="cn">&quot;toast-automatico exito&quot;</span> [dismissible]=<span class="cn">&quot;false&quot;</span> <span class="ca4">*ngIf</span>=<span class="cn">&quot;toastAutomatico&quot;</span>&gt;</span>
    <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;row&quot;</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;col-2 col-md-2&quot;</span>&gt;</span>
            <span>&lt;<span class="ca5">i</span> <span class="ca4">class</span>=<span class="cn">&quot;fa fa-question-circle fa-3x icono-toast&quot;</span>&gt;&lt;/<span class="ca5">i</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
        <span>&lt;<span class="ca5">div</span> <span class="ca4">class</span>=<span class="cn">&quot;padding-l-35 col-10 col-md-10&quot;</span>&gt;</span>
            <span>&lt;p <span class="ca4">class</span>=<span class="cn">&quot;margin-b-0 f-18 fw-700&quot;</span>&gt;Mensaje de éxito.&lt;/<span class="ca5">p</span>&gt;</span>
                <span>&lt;<span class="ca5">p</span> <span class="ca4">class</span>=<span class="cn">&quot;margin-b-0&quot;</span>&gt;Contenido del mensaje.&lt;/<span class="ca5">p</span>&gt;</span>
        <span>&lt;/<span class="ca5">div</span>&gt;</span>
    <span>&lt;/<span class="ca5">div</span>&gt;</span>
<span>&lt;/<span class="ca5">ngb-alert</span>&gt;</span>
                </code>
            </pre>
        </div>
    </div>
    <p>
        A continuación encuentra el código TypeScript necesario para darle funcionalidad a este componente. Sigue estas
        recomendaciones y construye una interfaz funcional, usable y accesible.
    </p>
    <div class="jumbotron jumbotron-fluid margin-t-20">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('toast-auto-ts')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="toast-auto-ts">
            <pre>
                <code class="language-html" data-lang="html">
<span><span class="cn">import</span> &#123;Subject&#125; from <span class="cn">'rxjs'</span>;</span>
<span><span class="cn">import</span> &#123;debounceTime&#125; from <span class="cn">'rxjs/operators'</span>;</span>
<span><span class="cv">@Component</span>(&#123;</span>
<span>&#125;)</span>
<span><span class="cn">export</span> class ToastComponent  <span class="cn">implements</span> OnInit &#123;</span>
<span><span class="cn">private</span> _success <span class="cn">= new</span> Subject&lt;string&gt;();</span>
<span><span class="cn">toastAutomatico</span> <span class="cn">=</span> '';</span>

<span><span class="ca4">constructor</span>() &#123;</span>

<span>&#125;</span>
  <span>ngOnInit(): void &#123;</span>

    <span><span class="ca5">this</span>._success.<span class="ca4">subscribe</span>(<span class="ca5">message</span> =&gt; <span class="ca5">this</span>.toastAutomatico = <span class="ca5">message</span>);</span>
    <span><span class="ca5">this</span>._success.<span class="ca4">pipe</span>(</span>
    <span><span class="cn">debounceTime(5000)</span></span> //Cambia el tiempo del toast
    <span>).<span class="ca4">subscribe</span>(() <span class="cn">=</span>&gt; <span class="ca5">this</span>.toastAutomatico <span class="cn">=</span> '');</span>
 &#125;


 <span><span class="cn">public</span> changetoastAutomatico() &#123;</span>
 <span><span class="ca5">this</span>.<span class="ca4">_success.next</span>(`- Message successfully changed.`);</span>
 &#125;


 &#125;</code>
            </pre>
        </div>
    </div>
</section>