<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura y espaciado</h3>
    <h4>Solo iconos</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttom_nav/estilo/solo-iconos.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60">Icono y etiqueta</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttom_nav/estilo/icono-etiqueta.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-60">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td>Subtítulo</td>
                <td>12dp</td>
                <td>Regular</td>
                <td>Centrada</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row justify-content-sm-center">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttom_nav/estilo/variante-1.svg"
                alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Bottom nav:</strong> #242424</p>
            <p class="border-app margin-b-10"><strong>Activo:</strong> #FFFFFF</p>
            <p class="border-app"><strong>Inactivo:</strong> #B6B6B6</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-60">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttom_nav/estilo/variante-2.svg"
                alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Bottom nav:</strong> #D5007F</p>
            <p class="border-app margin-b-10"><strong>Activo:</strong> #FFFFFF</p>
            <p class="border-app"><strong>Inactivo:</strong> #F9DBED</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-60">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttom_nav/estilo/variante-3.svg"
                alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Bottom nav:</strong> #FFFFFF</p>
            <p class="border-app margin-b-10"><strong>Activo:</strong> #D5007F</p>
            <p class="border-app"><strong>Inactivo:</strong> #6D6D6D</p>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para mostrar de tres a cinco destinos principales en la parte inferior de una pantalla. Cada destino debe estar representado por un icono y de manera opcional una etiqueta de texto. Además, debe aparecer en cada pantalla de la aplicación con los mismos
            elementos.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p class="margin-t-30">
            Utiliza este componente para mostrar destinos de primer nivel de jerarquía que deban ser accesibles desde cualquier lugar de la aplicación. Recuerda que con este componente debes mostrar solamente de tres a cinco destinos y utilizarlo solo para móvil
            o tableta.
        </p>
        <p>
            No debes utilizarlo para tareas individuales, como ver un solo correo electrónico o para mostrar el menú de preferencias o configuraciones de usuario.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Tu aplicación tiene cuatro secciones principales: inicio, capacitadores, ubicaciones y contacto. En este caso puedes utilizar una barra de navegación inferior.
        </p>
        <div class="row space margin-b-80 margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/bottom-navigation/etiqueta.svg" alt="Ejemplo del componente mostrando sólo íconos">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/bottom-navigation/icono.svg" alt="Ejemplo del componente mostrando íconos y etiquetas">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <!-- <h3 class="fw-bold margin-t-30">Sólo iconos</h3>
    <div class="margin-b-80  margin-t-60 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttom_nav/buttom_navigation.svg" alt="">
    </div> -->
    <p class="margin-t-30">
        <strong>1. </strong>Para agregar este componente a tu aplicación, primero ubica la carpeta / <strong>drawable</strong>
    </p>
    <div class="margin-b-50  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/drawable.svg" alt="">
    </div>
    <p class="tip padding-15 margin-0">
        <strong>Tip:</strong> Puedes conocer la <a class="enlace" [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']">configuración general</a> de un proyecto en el apartado
        Lineamientos Android.
    </p>
    <p class="margin-t-60">
        <strong>2. </strong>Dentro de esta carpeta agrega los siguientes archivos para añadir cada icono:
    </p>
    <div class="fw-bold margin-b-20 margin-t-40">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/buttom_nav/home.svg" alt="">ic_home.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-n1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-n1">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FDFCFC"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M10,20v-6h4v6h5v-8h3L12,3 2,12h3v8z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-50">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/buttom_nav/email.svg" alt="">ic_email.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-n2')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-n2">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FBFAFA"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M20,4L4,4c-1.1,0 -1.99,0.9 -1.99,2L2,18c0,1.1 0.9,2 2,2h16c1.1,0 2,-0.9 2,-2L22,6c0,-1.1 -0.9,-2 -2,-2zM20,8l-8,5 -8,-5L4,6l8,5 8,-5v2z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-50">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/buttom_nav/map.svg" alt="">ic_map.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-n3')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-n3">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span> 
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24.0"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24.0"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FBF9F9"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M20.5,3l-0.16,0.03L15,5.1 9,3 3.36,4.9c-0.21,0.07 -0.36,0.25 -0.36,0.48V20.5c0,0.28 0.22,0.5 0.5,0.5l0.16,-0.03L9,18.9l6,2.1 5.64,-1.9c0.21,-0.07 0.36,-0.25 0.36,-0.48V3.5c0,-0.28 -0.22,-0.5 -0.5,-0.5zM15,19l-6,-2.11V5l6,2.11V19z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <div class="fw-bold margin-b-20 margin-t-50">
        <img class="img-fluid imagenes-al-centro margin-r-15 bg-blanco" src="./assets/img/android-c/buttom_nav/settings.svg" alt="">ic_settings.xml
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-n4')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-n4">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;vector</span><span> </span><span>xmlns:</span><span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span>
        </span><span class="cm">android</span><span class="cb">:width</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:height</span><span class="cl">="24dp"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportWidth</span><span class="cl">="24"</span><span>
        </span><span class="cm">android</span><span class="cb">:viewportHeight</span><span class="cl">="24"</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;path</span><span>
        </span><span class="cm">android</span><span>:fillColor</span><span class="cl">="#FDFCFC"</span><span>
        </span><span class="cm">android</span><span>:pathData</span><span class="cl">="M19.1,12.9a2.8,2.8 0,0 0,0.1 -0.9,2.8 2.8,0 0,0 -0.1,-0.9l2.1,-1.6a0.7,0.7 0,0 0,0.1 -0.6L19.4,5.5a0.7,0.7 0,0 0,-0.6 -0.2l-2.4,1a6.5,6.5 0,0 0,-1.6 -0.9l-0.4,-2.6a0.5,0.5 0,0 0,-0.5 -0.4H10.1a0.5,0.5 0,0 0,-0.5 0.4L9.3,5.4a5.6,5.6 0,0 0,-1.7 0.9l-2.4,-1a0.4,0.4 0,0 0,-0.5 0.2l-2,3.4c-0.1,0.2 0,0.4 0.2,0.6l2,1.6a2.8,2.8 0,0 0,-0.1 0.9,2.8 2.8,0 0,0 0.1,0.9L2.8,14.5a0.7,0.7 0,0 0,-0.1 0.6l1.9,3.4a0.7,0.7 0,0 0,0.6 0.2l2.4,-1a6.5,6.5 0,0 0,1.6 0.9l0.4,2.6a0.5,0.5 0,0 0,0.5 0.4h3.8a0.5,0.5 0,0 0,0.5 -0.4l0.3,-2.6a5.6,5.6 0,0 0,1.7 -0.9l2.4,1a0.4,0.4 0,0 0,0.5 -0.2l2,-3.4c0.1,-0.2 0,-0.4 -0.2,-0.6ZM12,15.6A3.6,3.6 0,1 1,15.6 12,3.6 3.6,0 0,1 12,15.6Z"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/vector&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-60">
        <strong>3. </strong>El siguiente paso es agregar los componentes a tu aplicación. Ubica el fichero <strong>activity_main.xml</strong> dentro de la carpeta / <strong>layout</strong>
    </p>
    <div class="margin-b-80  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg" alt="">
    </div>
    <p class="margin-t-60">
        <strong>4. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-n6')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-n6">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;com.google.android.material.bottomnavigation.BottomNavigationView</span><span> 
    </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_alignParentBottom</span><span class="cl">="true"</span><span>
    </span><span class="cm">android</span><span>:background</span><span class="cl">="@color/colorTextAndIcons"</span><span>
    </span><span class="cm">app</span><span>:itemIconTint</span><span class="cl">="@color/color_state_navigation_bottom_icon"</span><span>
    </span><span class="cm">app</span><span>:elevation</span><span class="cl">="1dp"</span><span>
    </span><span class="cm">app</span><span>:itemHorizontalTranslationEnabled</span><span class="cl">="true"</span><span>
    </span><span class="cm">app</span><span>:labelVisibilityMode</span><span class="cl">="unlabeled"</span><span>
    </span><span class="cm">app</span><span>:menu</span><span class="cl">="@menu/bnv_menu"</span> <span class="cm">android</span><span>:layout_marginBottom</span><span class="cl">="40dp"</span><span class="ct">/&gt;</span><span>


</span><span class="ct">&lt;com.google.android.material.bottomnavigation.BottomNavigationView</span><span> 
    </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_alignParentBottom</span><span class="cl">="true"</span><span>
    </span><span class="cm">android</span><span>:background</span><span class="cl">="@color/colorTextAndIcons"</span><span>
    </span><span class="cm">app</span><span>:itemIconTint</span><span class="cl">="@color/color_state_navigation_bottom_icon"</span><span>
    </span><span class="cm">app</span><span>:itemTextColor</span><span class="cl">="@color/color_state_navigation_bottom_icon"</span><span>
    </span><span class="cm">app</span><span>:elevation</span><span class="cl">="1dp"</span><span>
    </span><span class="cm">app</span><span>:itemHorizontalTranslationEnabled</span><span class="cl">="true"</span><span>
    </span><span class="cm">app</span><span>:labelVisibilityMode</span><span class="cl">="labeled"</span><span>
    </span><span class="cm">app</span><span>:menu</span><span class="cl">="@menu/bnv_menu"</span><span>
    </span><span class="cm">android</span><span>:layout_marginBottom</span><span class="cl">="20dp"</span><span class="ct">/&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>5. </strong>Ubica el directorio res/color y crea el siguiente fichero <strong>color_state_navigation_bottom_icon.xml</strong>, dentro coloca el siguiente codigo:
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-n4-1')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-n4-1">
            <pre class=" prettyprinted" style="">
<span><span class="ct">&lt;</span>?xml version=<span class="cl">&quot;1.0&quot;</span> encoding=<span class="cl">&quot;utf-8&quot;</span>?<span class="ct">&gt;</span></span><span>
</span><span class="ct">&lt;selector</span> xmlns:<span class="cm">android</span>=<span class="cl">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="ct">&gt;</span><span>
    </span><span class="ct">&lt;item</span> <span class="cm">android</span>:color=<span class="cl">&quot;@color/color_rosa_d50B7F&quot;</span> <span class="cm">android</span>:state_checked=<span class="cl">&quot;true&quot;</span> <span class="ct">/&gt;</span><span>
    </span><span class="ct">&lt;item</span> <span class="cm">android</span>:color=<span class="ct">&quot;@color/colorBottomLess&quot;</span> <span class="cm">android</span>:state_checked=<span class="cl">&quot;false&quot;</span> <span class="ct">/&gt;</span><span>
    </span>&lt;!--&lt;item android:alpha=&quot;0.12&quot; android:color=&quot;?attr/colorOnSurface&quot; android:state_checked=&quot;false&quot;/&gt; --&gt;<span>
</span><span class="ct">&lt;/selector&gt;</span><span></span>              
        </pre>
        </span>
    </div>
    <p class="margin-t-70">
        <strong>6. </strong>Por último, agrega el fichero <strong>bnv_menu.xml</strong> dentro de la carpeta /<strong>menu</strong>
    </p>
    <div class="margin-b-80  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/buttom_nav/bvn_menu.svg" alt="">
    </div>
    <p class="margin-t-70">
        <strong>7. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('btn-n8')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="btn-n8">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;?</span><span>xml version</span><span class="cl">="1.0"</span> encoding<span class="cl">="utf-8"</span><span class="ct">?&gt;</span><span>  
</span><span class="ct">&lt;menu </span>xmlns:<span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span class="ct">&gt;</span><span>
</span><span class="ct">&lt;item</span><span>  
    </span><span class="cm">android</span><span>:icon</span><span class="cl">="@drawable/ic_home"</span><span>
    </span><span class="cm">android</span><span>:title</span><span class="cl">="Home" </span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;item</span><span>  
    </span><span class="cm">android</span><span>:icon</span><span class="cl">="@drawable/ic_email"</span><span>
    </span><span class="cm">android</span><span>:title</span><span class="cl">="Email" </span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;item</span><span>  
    </span><span class="cm">android</span><span>:icon</span><span class="cl">="@drawable/ic_map"</span><span>
    </span><span class="cm">android</span><span>:title</span><span class="cl">="Map"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;item</span><span>  
    </span><span class="cm">android</span><span>:icon</span><span class="cl">="@drawable/ic_settings"</span><span>
    </span><span class="cm">android</span><span>:title</span><span class="cl">="Settings"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/menu&gt;</span>
        </pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
    <div class="margin-b-80  margin-t-30 text-center">
        <img class="img-fluid imagenes-al-centro w-300" src="./assets/img/android-c/buttom_nav/resultado.svg" alt="">
    </div>
</section>