<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura</h3>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dividers/estilo/divider.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componentes</p>
    <div class="row justify-content-sm-center">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dividers/estilo/variante-1.svg"
                alt="">
        </div>
        <div class="col-10 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Color:</strong> #242424</p>
            <p class="border-app"><strong>Opacity:</strong> 15%</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-70">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dividers/estilo/variante-2.svg"
                alt="">
        </div>
        <div class="col-10 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Color:</strong> #D5007F</p>
            <p class="border-app"><strong>Opacity:</strong> 15%</p>
        </div>
    </div>
    <div class="row justify-content-sm-center margin-t-70">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dividers/estilo/variante-3.svg"
                alt="">
        </div>
        <div class="col-10 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Color:</strong> #FFFFFF</p>
            <p class="border-app"><strong>Opacity:</strong> 15%</p>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para separar el contenido en grupos claros. Los divisores deben ser notables en un diseño, pero no discordantes. Sólo se deben usar si los elementos no se pueden separar utilizando espacios en blanco. Se deben utilizar con moderación para crear agrupaciones
            en lugar de elementos separados.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <div>
            <p class="margin-t-30">
                <strong>Divisores de sangrado completo:</strong> Utiliza este componente para separar el contenido en secciones, como:
            </p>
            <ul>
                <li>Separar listas y elementos de diseño. </li>
                <li>Indicar que un elemento puede expandirse. </li>
            </ul>
        </div>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando las listas no tienen un elemento de anclaje (como un icono), el espaciado puede no ser suficiente para separar el contenido. Los divisores de sangrado completo pueden ayudar a separar las fichas individuales.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/dividers/completo.svg" alt="Ejemplo del uso del componente para separar elementos de texto">
        </div>
        <p class="margin-t-30">
            <strong>Divisores de incrustación:</strong> Utiliza este componente para separar el contenido relacionado. Deben usarse con elementos de anclaje, como iconos o avatares, y alinearse a la izquierda con el título de la barra de la aplicación.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando sí existan elementos de anclaje como un icono o avatar, como en una lista de directorio.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/dividers/incrustacion.svg" alt="Ejemplo del uso del componente para separar elementos de texto con imágenes">
        </div>
        <p class="margin-t-30">
            <strong>Divisores medios:</strong> Utiliza este componente para separar el contenido relacionado.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando desees marcar la separación de contenidos, como después de un encabezado o entre la lista de precios y el total de pagos.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/dividers/medios.svg" alt="Ejemplo del uso del componente para separar la información de diferentes usuarios">
        </div>
        <p class="margin-t-30">
            <strong>Divisores con subtítulos:</strong> Los divisores se pueden combinar con subtítulos para identificar contenido agrupado. Utiliza este componente para reforzar la conexión del subtítulo con el contenido.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Cuando en un directorio separas los usuarios con una inicial de la siguiente. O en la configuración elementos básicos y avanzados.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/dividers/subheader.svg" alt="Ejemplo del uso del componente para separar grupos de información y categorías">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <p class="margin-t-30">
        <strong>1. </strong>Para agregar divisor a tu aplicación, primero deberás ubicar el fichero <strong>activity_main.xml</strong> dentro de la carpeta / <strong>layout</strong>
    </p>
    <div class="margin-b-80  margin-t-40 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg" alt="">
    </div>
    <p class="margin-t-70">
        <strong>2. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid margin-b-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('dividers-2')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="dividers-2">
<pre class=" prettyprinted" style="">
<span class="ct">&lt;View</span> style=<span class="cl">"@style/DividerHorizontal.Negro"</span><span class="ct"> /&gt;</span><span>

</span><span class="ct">&lt;View</span> style=<span class="cl">"@style/DividerHorizontal.Rosa"</span><span class="ct"> /&gt;</span><span>

</span><span class="ct">&lt;View</span> style=<span class="cl">"@style/DividerHorizontal.Blanco"</span><span class="ct"> /&gt;</span>
        </pre>
        </span>
    </div>
    <p class="f-20 fw-600">Resultado del componente</p>
    <div class="margin-b-80  margin-t-60 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/dividers/dividers.svg" alt="">
    </div>
</section>