<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <p class="subseccion text-left etiqueta-input">Migaja simple</p>
    <div class="row padding-t-20 componente-al-centro">
        <div class="offset-1 col-10 offset-sm-3 col-sm-6 col-md-12 offset-md-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb migajas_ine">
                    <li class="breadcrumb-item"><a href="#">Link anterior 1</a></li>
                    <li class="breadcrumb-item"><a href="#">Link anterior 2</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Link activo</li>
                </ol>
            </nav>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Tipografía</h4>
    <div class="bg-img padding-20 tamaño-tipografia-14">
        <!-- Titulos -->
        <div class="row">
            <div class="col-3 col-md-3">
                <p>
                    <strong>Elemento</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>Color</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>Tamaño</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong>Peso y estilo</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>Alineación</strong>
                </p>
            </div>
        </div>
        <!--Link anterior:-->
        <div class="row txt-title">
            <div class="col-3 col-md-3">
                <p class="">
                    Link anterior
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    #B7006D
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
        <!--Link anterior:hover-->
        <div class="row txt-title migajas_ine">
            <div class="col-3 col-md-3">
                <p class="decoration">
                    Link anterior:hover
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="decoration">
                    #B7006D
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="decoration">
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="decoration">
                    Font-weight:400 underline
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p class="decoration">
                    Text-align:left
                </p>
            </div>
        </div>
        <!--Link activo-->
        <div class="row">
            <div class="col-3 col-md-3">
                <p>
                    <strong>Link activo</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>#B7006D</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>16px</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong>Font-weight:500</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>Text-align:left</strong>
                </p>
            </div>
        </div>
    </div>
    <!--Estructura-->
    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <div class="padding-t-10">
        <div class="imagen-al-centro">
            <p class="subseccion etiqueta-referencia text-left">Migaja simple</p>
            <img class="img-fluid " align="left " src="./assets/img/migajas/Estilo/estructura.svg " alt="Diagrma indicando que el largo del componente depende del contenido">
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Espaciado</h4>
    <div class="imagen-al-centro padding-t-10 padding-top-10">
        <p class="subseccion etiqueta-referencia text-left ">Migaja simple</p>
        <img class="img-fluid " align="left " src="./assets/img/migajas/Estilo/espaciado.svg " alt="Diagrama que indica que el espaciado entre cada elemento debe ser de 10px antes y 10px después del separador.">
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es una migaja?</h3>
    <div class="padding-t-15">
        <p>
            Son herramientas que facilitan la usabilidad de las páginas. Además, los también llamados breadcrumbs (migas de pan) son elementos de calidad, los cuales ayudan y a favorecer el posicionamiento o pagerank de las páginas que los incorporan.
        </p>
        <p>
            Es importante implementar este componente porque indica al usuario dónde está, de dónde viene y a dónde puede regresar dentro de un sitio.
        </p>
    </div>
    <p>
        <strong>Migaja simple:</strong> Utiliza una migaja simple cuando la navegación del usuario sea lineal o no haya transitado por diversas páginas.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Se solicita que dentro del sistema de SIJE, se incluyan migas de pan, ya que por la similitud de módulos del sistema es importante que el usuario siempre tenga presente su ubicación dentro de la estructura. Utiliza una migaja simple para dar esta ubicación
        a tus usuarios.
    </p>
    <div class="imagen-al-centro padding-t-30">
        <img class="img-fluid" src="./assets/img/migajas/Usos/uso-1.svg" alt="Ilustración de un breadcrumb situado en la parte superior izquierda.">
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Migaja</h3>
    <div class="padding-t-60">
        <div class="row justify-content-center">
            <div class="col-10 col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb migajas_ine">
                        <li class="breadcrumb-item"><a href="#">Link anterior 1</a></li>
                        <li class="breadcrumb-item"><a href="#">Link anterior 2</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><strong>Link activo</strong></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid margin-t-60">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('migajas')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="migajas">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">nav</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"breadcrumb"</span><span>></span>
    <span><</span><span class="ca5">ol</span><span class="ca4"> class</span><span>=</span><span class="cn">"breadcrumb migajas_ine"</span><span>></span>
        <span><</span><span class="ca5">li</span><span class="ca4"> class</span><span>=</span><span class="cn">"breadcrumb-item"</span><span>></span>
            <span><</span><span class="ca5">a</span><span class="ca4"> href</span><span>=</span><span class="cn">"#"</span><span>></span>Link anterior 1<span><</span><span>/</span><span class="ca5">a</span><span>></span>
        <span><</span><span>/</span><span class="ca5">li</span><span>></span>
        <span><</span><span class="ca5">li</span><span class="ca4"> class</span><span>=</span><span class="cn">"breadcrumb-item"</span><span>></span>
            <span><</span><span class="ca5">a</span><span class="ca4"> href</span><span>=</span><span class="cn">"#"</span><span>></span>Link anterior 2<span><</span><span>/</span><span class="ca5">a</span><span>></span>
        <span><</span><span>/</span><span class="ca5">li</span><span>></span>
        <span><</span><span class="ca5">li</span><span class="ca4"> class</span><span>=</span><span class="cn">"breadcrumb-item active"</span><span class="ca4"> aria-current</span><span>=</span><span class="cn">"page"</span><span>></span>
            <span><</span><span class="ca5">strong</span><span>></span>Link activo<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
        <span><</span><span>/</span><span class="ca5">li</span><span>></span>
    <span><</span><span>/</span><span class="ca5">ol</span><span>></span>
<span><</span><span>/</span><span class="ca5">nav</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
</section>