h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
}

/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

@media (max-width: 575.98px) {
    .componente-al-centro {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .tamaño-tipografia-14 {
        font-size: 14px;
        ;
    }
    .padding-top-10 {
        padding-top: 10px;
    }
    .imagen-al-centro {
        text-align: center;
    }
    .padding-left-0 {
        padding-left: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .padding-top-10 {
        padding-top: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .padding-top-10 {
        padding-top: 10px;
    }
}

@media (min-width: 1200px) {}