<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <p>Toogle es un control que se utiliza para cambiar rápidamente entre dos estados posibles. Las conmutaciones solo se utilizan para estas acciones binarias que se producen inmediatamente después de que el usuario "voltea" el conmutador. Se utilizan comúnmente
        para los interruptores de "encendido/apagado".</p>
    <!--Búsqueda grande-->
    <div class="padding-t-45 text-center">
        <p class="subseccion etiqueta-input">Etiqueta</p>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </div>
    <h4 class="titulos-elementos padding-t-50">Tipografía</h4>
    <!-- Titulos -->
    <div class="bg-img padding-20">
        <div class="row">
            <div class="col-md-3 col col-sm">
                <p class="">
                    Elemento
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Color
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Tamaño
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    Peso y estilo
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Alineación
                </p>
            </div>
        </div>
        <div class="row  margin-t-10  etiqueta-referencia">
            <div class="col-md-3 col col-sm">
                <p class="">
                    Etiqueta
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    #666666
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    14px
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
        <div class="row  margin-t-10">
            <div class="col-md-3 col col-sm">
                <p class="">
                    Etiqueta de referencia
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    #333333
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    16px
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
    </div>
    <!--Estructura-->
    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <div class="row ">
        <div class="col-md-2 text-left col col-sm centrado-texto">
            <p class="subseccion etiqueta-referencia text-left centrado-texto">Activo</p>
            <div class="img-al-centro">
                <img class="img-fluid" align="left " src="./assets/img/toggle/estilo/tamaño-toogle-activo.svg " alt="El componente toggle debe medir 50px de ancho por 25 de alto">
            </div>
        </div>
        <div class="col-md-2 text-left col col-sm centrado-texto">
            <p class="subseccion etiqueta-referencia text-left centrado-texto">Inactivo</p>
            <div class="img-al-centro">
                <img class="img-fluid " align="left " src="./assets/img/toggle/estilo/tamaño-toogle-inactivo.svg " alt="El botón del componente debe medir 19px de ancho">
            </div>
        </div>
    </div>
    <!--Espaciado-->
    <h4 class="titulos-elementos padding-t-50">Espaciado</h4>
    <div class="padding-20 bg-img margin-t-10">
        <div class="row">
            <div class="col-md-2 col col-sm">
                <p class="subseccion etiqueta-referencia">Activo</p>
                <div class="img-al-centro">
                    <img class="img-fluid " align="left " src="./assets/img/toggle/estilo/espaciado-toogle-activo.svg " alt="El espacio entre el toggle y la etiqueta superior debe ser de 15px y entre el botón y el fondo 3px">
                </div>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="subseccion etiqueta-referencia">Inactivo</p>
                <div class="img-al-centro">
                    <img class="img-fluid " align="left " src="./assets/img/toggle/estilo/espaciado-toogle-inactivo.svg " alt="El espacio entre el toggle y la etiqueta inferior debe ser de 10px ">
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es un toggle?</h3>
    <p>
        El uso de este componente dependerá de activar o desactivar una opción. Utilizalos en lugar de radios cuando en tu listado solo puedas seleccionar un elemento.
    </p>
    <p>
        <strong>Toggle:</strong> Permite que tus usuarios perciban opciones opuestas al momento de interactuar con este componente.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Se solicita indicar si un ciudadano ha sido capacitado por el CAE. Emplea el toggle, para indicar: Sí (se encuentra activo) y No (se encuentra inactivo), este componente te permitirá indicar el estado en el que se encuentra una opción, es decir, tu componente
        se encontrará a un lado de tu etiqueta.
    </p>
    <div class="align-items-center img-al-centro">
        <img class="img-fluid" src="./assets/img/toggle/usos/uso1-toogle.svg" alt="Ilustración del uso del componete toogle, Indica si ha sido capacitado por el CAE">
    </div>
    <p class="tip padding-15 margin-t-15">
        <strong>Tip:</strong> Evita el uso de etiquetas dentro del componente, la vista de activo e inactivo tendría que ser lo suficientemente claro para indicar al usuario su estado.
    </p>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Toggle</h3>
    <div class="padding-t-45 text-center">
        <p class="subseccion etiqueta-input">Etiqueta</p>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </div>
    <div class="jumbotron jumbotron-fluid margin-b-0 padding-b-25 margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('toggle')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="toggle">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">label</span><span class="ca4"> class</span><span>=</span><span class="cn">"switch"</span><span>></span>
    <span><</span><span class="ca5">input</span><span class="ca4"> type</span><span>=</span><span class="cn">"checkbox"</span><span>></span>
    <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"slider round"</span><span>></span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
<span><</span><span>/</span><span class="ca5">label</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
</section>