<div class="row padding-b-50">
    <div class="col-lg-7 col-md-7">
        <h3 class="subrayado" [routerLink]="['/componentes-ui/web/accordion/estilo']">Componentes Web</h3>
        <p class="padding-t-20 fw-400">
            Encuentra y emplea componentes web reutilizables para crear rápida y fácilmente la interfaz de tu sitio.
        </p>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="text-center xs-img">
            <img src="./assets/img/interfaz-usuarios/componentes-web.png" alt="Componentes web">
        </div>
    </div>
</div>
<hr class="hri">
<div class="row padding-t-50 padding-b-50">
    <div class="col-lg-7 col-md-7">
        <h3 class="subrayado" [routerLink]="['/componentes-ui/android/app-bar-top/usos']">Componentes Android</h3>
        <p class="padding-t-20 fw-400">
            Genera la interfaz de aplicaciones nativas rápidamente con los componentes más utilizados para Android; los casos de uso te ayudarán a tomar la mejor decisión.
        </p>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="text-center xs-img">
            <img src="./assets/img/interfaz-usuarios/componentes-android.png" alt="Componentes Android">
        </div>
    </div>
</div>
<hr class="hri">
<div class="row padding-t-50 padding-b-50">
    <div class="col-lg-7 col-md-7">
        <h3 class="subrayado" [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/tipografia']">Elementos de Diseño</h3>
        <p class="padding-t-20 fw-400">
            Agrega de manera sencilla y rápida los recursos y elementos básicos para tu sitio web, están listos para ti en todo momento.
        </p>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="text-center xs-img">
            <img src="./assets/img/interfaz-usuarios/recursos-de-diseno.png" alt="Elementos de diseño">
        </div>
    </div>
</div>