.hri {
    border-top: 1px solid var(--hr-color-ui);
}

.subrayado {
    color: var(--txt-color-link);
    text-decoration-line: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
}

.subrayado:hover {
    color: #B7006D;
    text-decoration-line: underline;
    cursor: pointer;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .xs-img {
        margin-top: 40px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .xs-img {
        margin-top: 40px;
    }
}