h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
}

/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

@media (max-width: 575.98px) {
    .tamaño-tipografia-14 {
        font-size: 14px;
    }
    .padding-tab-50 {
        padding-top: 50px;
    }
    .padding-nav {
        padding-top: 40px;
    }
    .padding-codigo {
        padding-top: 0px;
    }
}

@media (max-width: 767px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .tamaño-tipografia-14 {
        font-size: 14px;
    }
    .imagen-al-centro {
        text-align: center;
    }
    .padding-tab-50 {
        padding-top: 50px
    }
    .padding-codigo {
        padding-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-seccion .collapse:not(.show) {
        display: block;
    }
    .menu-seccion.navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}