<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <h4 class="titulos-elementos padding-t-30">Tipos de tabs</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="etiqueta-input padding-t-10">
                Navs generales
            </p>
            <!--Prueba-->
            <ul class="nav nav-tabs f-18" id="myTab" role="tablist">
                <li class="nav-item nav-w-h">
                    <a class="nav-link active" id="opcion1-tab" data-toggle="tab" href="#opcion1" role="tab" aria-controls="opcion1" aria-selected="true"><strong>Opción 1</strong></a>
                </li>
                <li class="nav-item nav-w-h opc2">
                    <a class="nav-link" id="opcion2-tab" data-toggle="tab" href="#opcion2" role="tab" aria-controls="opcion2" aria-selected="false"><strong>Opción 2</strong></a>
                </li>
                <li class="nav-item nav-w-h">
                    <a class="nav-link" id="opcion3-tab" data-toggle="tab" href="#opcion3" role="tab" aria-controls="opción3" aria-selected="false"><strong>Opción 3</strong></a>
                </li>
            </ul>
            <div class="tab-content margin-t-10" id="myTabContent">
                <div class="tab-pane fade show active" id="opcion1" role="tabpanel" aria-labelledby="opcion1-tab">
                    Contenido <strong> Opción 1</strong></div>
                <div class="tab-pane fade" id="opcion2" role="tabpanel" aria-labelledby="opcion2-tab">Contenido <strong>
                        Opción 2</strong></div>
                <div class="tab-pane fade" id="opcion3" role="tabpanel" aria-labelledby="opcion3-tab">Contenido <strong>
                        Opción 3</strong></div>
            </div>
            <p class="etiqueta-referencia padding-t-70 padding-nav">
                Nav activa
            </p>
            <div class="row padding-t-5">
                <div class="col-1 col-md-1">
                    <p class="texto-elementos margin-0">
                        <b>Aa </b>
                    </p>
                </div>
                <div class="col-3 col-md-3">
                    <p class="texto-elementos margin-0">
                        #D5007F
                    </p>
                </div>
            </div>
            <div class="row padding-t-10">
                <div class="col-1 col-md-1 ">
                    <div class="cuadro bg-gris-clarito border-grisOscuro2-1"></div>
                </div>
                <div class="col-3 col-md-3">
                    <p class="texto-elementos margin-0">
                        #F2F2F2
                    </p>
                </div>
            </div>
           
            <p class="etiqueta-referencia padding-t-80">
                Nav
            </p>
            <div class="row padding-t-5">
                <div class="col-1 col-md-1">
                    <p class="texto-elementos margin-0">
                        <b>Aa </b>
                    </p>
                </div>
                <div class="col-3 col-md-3">
                    <p class="texto-elementos margin-0">
                        #999999
                    </p>
                </div>
            </div>
            <div class="row padding-t-10">
                <div class="col-1 col-md-1">
                    <div class="cuadro bg-gris-clarito border-grisOscuro2-1"></div>
                </div>
                <div class="col-3 col-md-3">
                    <p class="texto-elementos margin-0">
                        #F2F2F2
                    </p>
                </div>
            </div>
        </div>
        <!-- Tab -->
        <div class="col-12 col-md-6 padding-tab-50">
            <p class="etiqueta-input padding-t-10">
                Tabs particulares 
            </p>
            <nav>
                <div class="nav nav-tabs-blanco " id="nav-tab" role="tablist">
                    <a class="tabs-particulares nav-item tabs nav-link active nav-tabs-blancoOtro" id="nav-opcion1-tab" data-toggle="tab" href="#nav-opcion1" role="tab" aria-controls="nav-opcion1" aria-selected="true"><strong>Opción
                            1</strong></a>
                    <a class="tabs-particulares nav-item tabs nav-link f-16" id="nav-opcion2-tab" data-toggle="tab" href="#nav-opcion2" role="tab" aria-controls="nav-opcion2" aria-selected="false"><strong>Opción 2</strong></a>
                    <a class="tabs-particulares nav-item tabs nav-link f-16" id="nav-opcion3-tab" data-toggle="tab" href="#nav-opcion3" role="tab" aria-controls="nav-opcion3" aria-selected="false"><strong>Opción 3</strong></a>
                </div>
            </nav>
            <div class="tab-content  nav-item-blanco" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-opcion1 " role="tabpanel" aria-labelledby="nav-opcion1-tab">Contenido <strong>Opción 1</strong></div>
                <div class="tab-pane fade" id="nav-opcion2" role="tabpanel" aria-labelledby="nav-opcion2-tab">Contenido
                    <strong>Opción 2</strong></div>
                <div class="tab-pane fade" id="nav-opcion3" role="tabpanel" aria-labelledby="nav-opcion3-tab">Contenido
                    <strong>Opción 3</strong></div>
            </div>
            <p class="etiqueta-referencia padding-t-50">
                Tab activa
            </p>
            <div class="row padding-t-5">
                <div class="col-1">
                    <p class="texto-elementos margin-0">
                        <b>Aa </b>
                    </p>
                </div>
                <div class="col-3">
                    <p class="texto-elementos margin-0">
                        #D5007F
                    </p>
                </div>
            </div>
            <div class="row padding-t-10">
                <div class="col-1 ">
                    <div class="cuadro bg-gris-clarito2 border-grisOscuro2-1"></div>
                </div>
                <div class="col-3">
                    <p class="texto-elementos margin-0">
                        #FFFFFF
                    </p>
                </div>
            </div>
            <div class="row padding-t-10">
                <div class="col-1">
                    <hr class="linea-border border-t-grisTenue-2">
                </div>
                <div class="col-3">
                    <p class="texto-elementos">
                        #F2F2F2
                </div>
            </div>
            <p class="etiqueta-referencia padding-t-20">
                Tab
            </p>
            <div class="row padding-t-5">
                <div class="col-1">
                    <p class="texto-elementos margin-0">
                        <b>Aa </b>
                    </p>
                </div>
                <div class="col-3">
                    <p class="texto-elementos margin-0">
                        #999999
                    </p>
                </div>
            </div>
            <div class="row padding-t-10">
                <div class="col-1">
                    <div class="cuadro bg-gris-clarito2 border-grisOscuro2-1"></div>
                </div>
                <div class="col-3">
                    <p class="texto-elementos margin-0">
                        #FFFFFF
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Tipografía</h4>
    <!-- Titulos -->
    <p class="padding-t-30 etiqueta-referencia">
        Navs generales
    </p>
    <div class="padding-20 bg-img">
        <div class="row tamaño-tipografia-14">
            <div class="col-2 col-md-2">
                <p>
                    Elemento
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    Color
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    Tamaño
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Peso y estilo
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Alineación
                </p>
            </div>
        </div>
        <!--Etiqueta-->
        <div class="row tamaño-tipografia-14 txt-title">
            <div class="col-2 col-md-2 ">
                <p>
                    <strong>Nav activa</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>#B7006D</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>18px</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong>Font-weight:400 bolder</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong>Text-align: Center</strong>
                </p>
            </div>
        </div>
        <!--Etiqueta de referencia-->
        <div class="row tamaño-tipografia-14">
            <div class="col-2 col-md-2">
                <p>
                    Nav
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    #999999
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    18px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Font-weight:400
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Text-align: Center
                </p>
            </div>
        </div>
    </div>
    <!-- Titulos -->
    <p class="padding-t-30 etiqueta-referencia">
        Tabs particulares
    </p>
    <div class="padding-20 bg-img">
        <div class="row tamaño-tipografia-14">
            <div class="col-2 col-md-2">
                <p>
                    Elemento
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    Color
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    Tamaño
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Peso y estilo
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Alineación
                </p>
            </div>
        </div>
        <!--Etiqueta-->
        <div class="row f-16 tamaño-tipografia-14 txt-title">
            <div class="col-2 col-md-2">
                <p>
                    <strong>Tab activa</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>#B7006D</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>16px</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong>Font-weight:400 bolder</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong>Text-align: Center</strong>
                </p>
            </div>
        </div>
        <!--Etiqueta de referencia-->
        <div class="row f-16 tamaño-tipografia-14">
            <div class="col-2 col-md-2">
                <p class="">
                    Tab
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    #999999
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p class="">
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="">
                    Text-align: Center
                </p>
            </div>
        </div>
    </div>

    <!--Estructura-->
    <h4 class="titulos-elementos padding-t-30">Estructura</h4>
    <div class="padding-t-10">
        <p class="subseccion etiqueta-referencia">Navs</p>
        <img class="img-fluid " align="left " src="./assets/img/nav/Estilo/estructura-navs-generales.svg " alt="Medidas para las navs: ancho de pestaña mínimo 100px, altura 45px, ancho del componente dependiendo del número de pestañas. Contenido 100% o 12 columnas.">
    </div>
    <div class="padding-t-60">
        <p class="subseccion etiqueta-referencia">Tabs</p>
        <img class="img-fluid " align="left " src="./assets/img/nav/Estilo/estructura-tabs-particulares.svg " alt="Medidas para las tabs: ancho de pestaña mínimo 80px, altura 35px, ancho del componente dependiendo del contenido.">
    </div>
    <!--Espaciado-->
    <h4 class="titulos-elementos padding-t-30">Espaciado</h4>
    <div class="padding-t-20">
        <p class="subseccion etiqueta-referencia">Navs</p>
        <img class="img-fluid " align="left " src="./assets/img/nav/Estilo/espaciado-navs-generales.svg " alt="Espaciado para navs: 15px a cada lado del texto y ancho de la línea de separación de 3px">
    </div>
    <div class="padding-t-20">
        <p class="subseccion etiqueta-referencia">Tabs</p>
        <img class="img-fluid " align="left " src="./assets/img/nav/Estilo/espaciado-tabs-particulares.svg " alt="Espaciado para tabs: 15px a cada lado del texto y ancho de la línea de separación de 3px en las pestañas y 20px en cada lado para el contenido.">
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">Características</h3>
    <div class="padding-t-15">
        <p>
            Llamada también pestaña, el tab es un elemento de las interfaces gráficas que permite al usuario cambiar rápidamente entre distintos documentos o secciones. Generalmente, consta de un campo de texto dentro de un rectángulo y se ubica en la parte
            superior.
        </p>
        <p>
            Los tabs ayudan a tus usuarios para que puedan cambiar de contenido sin necesariamente cambiar de página. Utiliza la pestaña más relevante como predeterminada y asegúrate disponer la información de manera independiente y como un proceso.
        </p>
    </div>
    <p>
        <strong>Nav:</strong> Estos tabs cambian la vista de todo el contenido que le sigue.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        En la Guía IUX, se muestran al usuario diversos contenidos (estilo, usos y código) de algunos componentes, dependiendo del perfil de usuario, se ocupan los tabs con información independiente.
    </p>
    <div class="padding-b-30 padding-t-30 imagen-al-centro">
        <img class="img-fluid" src="./assets/img/nav/Usos/uso-1.svg" alt="Ilustración de un componente nav">
    </div>
    <p class="text-justify">
        <strong>Tab:</strong> Usa estos tabs cuando la información cambiante de la pantalla sólo abarque cierta zona y no todo el contenido.
    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Se solicita que el administrador de SUPyCAP consulte las actividades llevadas a cabo en la capacitación a funcionarios de casilla. Utiliza estos tabs para informar sobre lo acontecido por cada día de la semana.
    </p>
    <div class="padding-b-30 padding-t-30 imagen-al-centro">
        <img class="img-fluid" src="./assets/img/nav/Usos/uso-2.svg" alt="Ilustración de un componente tab">
    </div>
    <p class="tip padding-15">
        <strong>Tip:</strong> Evita deshabilitar pestañas, esto puede causar mucha confusión a los usuarios. Si no cuentas con información para mostrar, elimina la pestaña o explica por qué no existe contenido en ese momento.
    </p>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Navtabs</h3>
    <div class=" padding-codigo">
        <div class="row justify-content-md-center">
            <div class="col-md-6 padding-t-50">
                <ul class="nav nav-tabs">
                <li class="nav-item nav-w-h">
                    <a class="nav-link active" id="opcion1-tab" data-toggle="tab" href="#opcion1" role="tab" aria-controls="opcion1" aria-selected="true"><strong>Opción 1</strong></a>
                </li>
                <li class="nav-item nav-w-h opc2">
                    <a class="nav-link" id="opcion2-tab" data-toggle="tab" href="#opcion2" role="tab" aria-controls="opcion2" aria-selected="false"><strong>Opción 2</strong></a>
                </li>
                <li class="nav-item nav-w-h">
                    <a class="nav-link" id="opcion3-tab" data-toggle="tab" href="#opcion3" role="tab" aria-controls="opción3" aria-selected="false"><strong>Opción 3</strong></a>
                </li>
            </ul>
            <div class="tab-content margin-t-10">
                <div class="tab-pane fade show active" id="opcion1" role="tabpanel" aria-labelledby="opcion1-tab">
                    Contenido <strong> Opción 1</strong></div>
                <div class="tab-pane fade" id="opcion2" role="tabpanel" aria-labelledby="opcion2-tab">Contenido <strong>
                        Opción 2</strong></div>
                <div class="tab-pane fade" id="opcion3" role="tabpanel" aria-labelledby="opcion3-tab">Contenido <strong>
                        Opción 3</strong></div>
            </div>
            </div>
        </div>
        <div class="padding-t-30">
            <div class="jumbotron jumbotron-fluid padding-t-50">
                <p class="text-right margin-0">
                    <span class="function-copiar" (click)="CopyToClipboard('nav-generales')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
                </p>
                <hr class="hrJumbotron">
                <div id="nav-generales">  
                    <pre>
                        <code class="language-html" data-lang="html">
<span><</span><span class="ca5">ul</span><span class="ca4"> class</span><span>=</span><span class="cn">"nav nav-tabs"</span><span>></span>
    <span><</span><span class="ca5">li</span><span class="ca4"> class</span><span>=</span><span class="cn">"nav-item nav-w-h"</span><span>></span>
        <span><</span><span class="ca5">a</span><span class="ca4"> class</span><span>=</span><span class="cn">"nav-link active"</span><span class="ca4"> id</span><span>=</span><span class="cn">"opcion1-tab"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> href</span><span>=</span><span class="cn">"#opcion1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> aria-controls</span><span>=</span><span class="cn">"opcion1"</span><span class="ca4"> aria-selected</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span class="ca5">strong</span><span>></span>Opción 1<span><</span><span>/</span><span class="ca5">strong</span><span>></span><span><</span><span>/</span><span class="ca5">a</span><span>></span>
    <span><</span><span>/</span><span class="ca5">li</span><span>></span>
    <span><</span><span class="ca5">li</span><span class="ca4"> class</span><span>=</span><span class="cn">"nav-item nav-w-h opc2"</span><span>></span>
        <span><</span><span class="ca5">a</span><span class="ca4"> class</span><span>=</span><span class="cn">"nav-link"</span><span class="ca4"> id</span><span>=</span><span class="cn">"opcion2-tab"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> href</span><span>=</span><span class="cn">"#opcion2"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> aria-controls</span><span>=</span><span class="cn">"opcion2"</span><span class="ca4"> aria-selected</span><span>=</span><span class="cn">"false"</span><span>></span><span><</span><span class="ca5">strong</span><span>></span>Opción 2<span><</span><span>/</span><span class="ca5">strong</span><span>></span><span><</span><span>/</span><span class="ca5">a</span><span>></span>
    <span><</span><span>/</span><span class="ca5">li</span><span>></span>
    <span><</span><span class="ca5">li</span><span class="ca4"> class</span><span>=</span><span class="cn">"nav-item nav-w-h"</span><span>></span>
        <span><</span><span class="ca5">a</span><span class="ca4"> class</span><span>=</span><span class="cn">"nav-link"</span><span class="ca4"> id</span><span>=</span><span class="cn">"opcion3-tab"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> href</span><span>=</span><span class="cn">"#opcion3"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> aria-controls</span><span>=</span><span class="cn">"opcion3"</span><span class="ca4"> aria-selected</span><span>=</span><span class="cn">"flase"</span><span>></span><span><</span><span class="ca5">strong</span><span>></span>Opción 3<span><</span><span>/</span><span class="ca5">strong</span><span>></span><span><</span><span>/</span><span class="ca5">a</span><span>></span>
    <span><</span><span>/</span><span class="ca5">li</span><span>></span>
<span><</span><span>/</span><span class="ca5">ul</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"tab-content margin-t-10"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"tab-pane fade show active"</span><span class="ca4"> id</span><span>=</span><span class="cn">"opcion1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tabpanel"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"opcion1-tab"</span><span>></span>
        Contenido<span><</span><span class="ca5">strong</span><span>></span> Opción 1<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"tab-pane fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"opcion2"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tabpanel"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"opcion2-tab"</span><span>></span>
        Contenido<span><</span><span class="ca5">strong</span><span>></span> Opción 2<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"tab-pane fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"opcion3"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tabpanel"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"opcion3-tab"</span><span>></span>
        Contenido<span><</span><span class="ca5">strong</span><span>></span> Opción 3<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                        </code>
                    </pre>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center padding-t-50">
            <div class="col-md-6">
                <nav>
                <div class="nav nav-tabs-blanco" id="nav-tab" role="tablist">
                    <a class="tabs-particulares nav-item tabs nav-link active" id="nav-opcion1-tab" data-toggle="tab" href="#nav-opcion1" role="tab" aria-controls="nav-opcion1" aria-selected="true"><strong>Opción
                            1</strong></a>
                    <a class="tabs-particulares nav-item tabs nav-link" id="nav-opcion2-tab" data-toggle="tab" href="#nav-opcion2" role="tab" aria-controls="nav-opcion2" aria-selected="false"><strong>Opción 2</strong></a>
                    <a class="tabs-particulares nav-item tabs nav-link" id="nav-opcion3-tab" data-toggle="tab" href="#nav-opcion3" role="tab" aria-controls="nav-opcion3" aria-selected="false"><strong>Opción 3</strong></a>
                </div>
            </nav>
            <div class="tab-content nav-item-blanco" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-opcion1" role="tabpanel" aria-labelledby="nav-opcion1-tab">Contenido <strong>Opción 1</strong></div>
                <div class="tab-pane fade" id="nav-opcion2" role="tabpanel" aria-labelledby="nav-opcion2-tab">Contenido
                    <strong>Opción 2</strong></div>
                <div class="tab-pane fade" id="nav-opcion3" role="tabpanel" aria-labelledby="nav-opcion3-tab">Contenido
                    <strong>Opción 3</strong></div>
            </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid margin-t-60">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('nav-blanco')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="nav-blanco">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">nav</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"nav nav-tabs-blanco"</span><span class="ca4"> id</span><span>=</span><span class="cn">"nav-tab"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tablist"</span><span>></span>
    <span><</span><span class="ca5">a</span><span class="ca4"> class</span><span>=</span><span class="cn">"tabs-particulares nav-item tabs nav-link active"</span><span class="ca4"> id</span><span>=</span><span class="cn">"nav-opcion1-tab"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> href</span><span>=</span><span class="cn">"#nav-opcion1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> aria-controls</span><span>=</span><span class="cn">"nav-opcion1"</span><span class="ca4"> aria-selected</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span class="ca5">strong</span><span>></span>Opción 1<span><</span><span>/</span><span class="ca5">strong</span><span>></span><span><</span><span>/</span><span class="ca5">a</span><span>></span>
    <span><</span><span class="ca5">a</span><span class="ca4"> class</span><span>=</span><span class="cn">"tabs-particulares nav-item tabs nav-link"</span><span class="ca4"> id</span><span>=</span><span class="cn">"nav-opcion2-tab"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> href</span><span>=</span><span class="cn">"#nav-opcion2"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> aria-controls</span><span>=</span><span class="cn">"nav-opcion2"</span><span class="ca4"> aria-selected</span><span>=</span><span class="cn">"false"</span><span>></span><span><</span><span class="ca5">strong</span><span>></span>Opción 2<span><</span><span>/</span><span class="ca5">strong</span><span>></span><span><</span><span>/</span><span class="ca5">a</span><span>></span>
    <span><</span><span class="ca5">a</span><span class="ca4"> class</span><span>=</span><span class="cn">"tabs-particulares nav-item tabs nav-link"</span><span class="ca4"> id</span><span>=</span><span class="cn">"nav-opcion3-tab"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> href</span><span>=</span><span class="cn">"#nav-opcion3"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tab"</span><span class="ca4"> aria-controls</span><span>=</span><span class="cn">"nav-opcion3"</span><span class="ca4"> aria-selected</span><span>=</span><span class="cn">"false"</span><span>></span><span><</span><span class="ca5">strong</span><span>></span>Opción 3<span><</span><span>/</span><span class="ca5">strong</span><span>></span><span><</span><span>/</span><span class="ca5">a</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">nav</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"tab-content nav-item-blanco"</span><span class="ca4"> id</span><span>=</span><span class="cn">"nav-tabContent"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"tab-pane fade show active"</span><span class="ca4"> id</span><span>=</span><span class="cn">"nav-opcion1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tabpanel"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"nav-opcion1-tab"</span><span>></span>
    Contenido<span><</span><span class="ca5">strong</span><span>></span> Opción 1<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"tab-pane fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"nav-opcion2"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tabpanel"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"nav-opcion2-tab"</span><span>></span>
        Contenido<span><</span><span class="ca5">strong</span><span>></span> Opción 2<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"tab-pane fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"nav-opcion3"</span><span class="ca4"> role</span><span>=</span><span class="cn">"tabpanel"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"nav-opcion3-tab"</span><span>></span>
        Contenido<span><</span><span class="ca5">strong</span><span>></span> Opción 3<span><</span><span>/</span><span class="ca5">strong</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
</section>
