<h3>Tratamiento</h3>
<p>
    Nuestros gráficos requieren de un tratamiento delimitado para crear uniformidad, este tratamiento se rige por un estilo plano, sin sombras, volúmenes ni degradados.
</p>
<p>Para trabajar este estilo requerimos colores y matices para distinguir las formas, que siempre serán geométricas.
</p>
<p class="color-magenta f-16 fw-500">Importante:</p>
<dl>
    <dd>- No contornos </dd>
    <dd>- No degradados</dd>
    <dd>- No volúmenes</dd>
</dl>
<div class="padding-t-30 text-center">
    <img class="img-fluid" src="./assets/img/recursos/linea-de-diseño-grafico/tratamiento.svg" alt="Ejemplos de ilustraciones que cumplen con los parámetros planteados en el texto, así como ejemplos del uso incorrecto.">
</div>
<h3 class="padding-t-50">Estructura</h3>
<p>
    La construcción de los personakes en toda la línea gráfica parte de las figuras geometricas básicas, como cuadrado, circulo, triangulo, con la mayoría de los vértices redondeados. Los personajes están hechos a color en las diferentes tonalidades de pieles predominantes en México, no tienen características faciles, solo cuetan con dos ovalos a manera de rubor en las mejillas.
</p>
<div class="padding-t-30 text-center">
    <img class="img-fluid" src="./assets/img/recursos/linea-de-diseño-grafico/estructura.svg" alt="Ejemplo de una ilustración compuesta por figuras geométricas y otra utilizando formas irregulares">
</div>
<h3 class="padding-t-50">Abstracción sintética</h3>
<p>
    Es la simplificación de un elemento manteniendo su esencia y total reconocimiento, conservamos la estructura original pero sintetizamos su información gráfica para obtener un gráfico menos cargado de elementos.
</p>
<div class="padding-t-30 text-center">
    <img class="img-fluid" src="./assets/img/recursos/linea-de-diseño-grafico/abstraccion.svg" alt="Ejemplo de la abstración geométrica vs una fotografía">
</div>
<h3 class="padding-t-50">Aplicación de la línea gráfica</h3>
<p>
    Lo que vemos en esta composición de una escena de votaciones sin fondo de ciudad o comunidad, es un claro ejemplo de la unión de la línea gráfica, pues se juntan diferentes tipos de persona con objetos, en la cual interactuan entre si, para el diseño de esta línea se buscaba empatizar y darle personalidad lo cual se logra con la variedad de personajes y sus características.
</p>
<div class="row">
    <div class="col-md-6">
        <p class="padding-t-40">Descarga el material de ilustración institucional:</p>
    </div>
    <div class="col-md-6 text-center">
        <div class="padding-t-30 centrado-texto">
            <a href="./assets/docs/recursos\Ilustraciones.zip" download>
                <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                    <i class="fa fa-download padding-r-15 " aria-hidden="true "></i> Descargar
                </button>
            </a>
        </div>
    </div>
</div>
<div class="padding-t-60 text-center">
    <img class="img-fluid" src="./assets/img/recursos/linea-de-diseño-grafico/ilustracion_ine.svg" alt="Ejemplo de la abstración geométrica vs una fotografía">
</div>

