<h4>Tratamiento</h4>
<p>
    Nuestros gráficos requieren de un tratamiento delimitado para crear uniformidad, este tratamiento se rige por un estilo plano, sin sombras, volúmenes ni degradados.
</p>
<p>Para trabajar este estilo requerimos colores y matices para distinguir las formas, que siempre serán geométricas.
</p>
<p class="color-magenta f-16 fw-500">Importante:</p>
<dl>
    <dd>- No contornos </dd>
    <dd>- No degradados</dd>
    <dd>- No volúmenes</dd>
</dl>
<div class="padding-t-30 text-center">
    <img class="img-fluid" src="./assets/img/recursos/linea-de-diseño-grafico/tratamiento.svg" alt="">
</div>
<h4 class="padding-t-50">Estructura</h4>
<p>
    Está claramente apegada a un estilo geométrico como se mencionó anteriormente, cualquier otra forma irregular que se coloque en nuestros gráficos inmediatamente saltará a la vista.
</p>
<div class="padding-t-30 text-center">
    <img class="img-fluid" src="./assets/img/recursos/linea-de-diseño-grafico/estructura.svg" alt="">
</div>
<h4 class="padding-t-50">Abstracción sintética</h4>
<p>
    Es la simplificación de un elemento manteniendo su esencia y total reconocimiento, conservamos la estructura original pero sintetizamos su información gráfica para obtener un gráfico menos cargado de elementos.
</p>
<div class="padding-t-30 text-center">
    <img class="img-fluid" src="./assets/img/recursos/linea-de-diseño-grafico/abstraccion.svg" alt="">
</div>
<p class="padding-t-40">Descarga el material de ilustración institucional:</p>
<div class="padding-t-10 centrado-texto">
    <a href="./assets/docs/recursos\Ilustraciones.zip" download>
        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
            <i class="fa fa-download padding-r-15 " aria-hidden="true "></i> Descargar
        </button>
    </a>
</div>