<div>
    <h3 class="subtitle">Uso tipográfico</h3>
</div>
<div class="padding-t-15">
    <p>
        Se recomienda el uso de la de la fuente tipográfica Roboto, al ser accesible y de una estructura adaptativa a diversos dispositivos móviles. Su construcción, tipo Sans Serif, permite dinamismo y control de la legibilidad.
    </p>

    <p>
        Se trata de una tipografía moderna, la cual incluye varios estilos dentro de su familia.
    </p>
</div>
<div class="centrado-texto padding-t-10">
    <a href="./assets/docs/recursos/Roboto.zip" download>
        <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
            <i class="fa fa-download padding-r-15 " aria-hidden="true "></i> Descargar Fuente
        </button>
    </a>
</div>
<div class="padding-t-30">
    <img class="img-fluid" src="./assets/img/recursos/tipografia/recurso-tipografia.svg" alt="Ejemplo de los pesos y variaciones de la tipografía Roboto">
</div>
<div>
    <p class="padding-t-50">
        El uso y tamaños indicados para los diversos campos tipográficos son:
    </p>
</div>
<div class="row padding-t-10">
    <div class="col-5 col-md-4">
        <p class="margin-t-25 margin-top-10">
            Título Header:
        </p>
        <p class="margin-t-25 margin-top-10">
            Subtítulo:
        </p>
        <p class="margin-t-19 margin-top-0">
            Menú:
        </p>
        <p class="margin-t-15 margin-top-10">
            Etiqueta de formulario:
        </p>
        <p class="margin-t-15 margin-top-10">
            Párrafo de contenido:
        </p>
        <p class="margin-t-15 margin-top-10">
            Alertas:
        </p>
    </div>
    <div class="col-7 col-md-6">
        <h4 class="f-30 margin-t-15 font-size-18 margin-top-10">
            Roboto Medium 30px
        </h4>
        <h3 class="f-28 margin-t-15 font-size-18 margin-top-16">
            Roboto Regular 28px
        </h3>
        <h2 class="f-20 margin-t-15 font-size-18 margin-top-16">
            Roboto Regular 20px
        </h2>
        <p class="f-18 margin-t-15 margin-top-16">
            Roboto Regular 18px
        </p>
        <p class="f-16 margin-t-15 font-size-18 margin-top-10">
            Roboto Regular 16px
        </p>
        <p class="f-14 margin-t-15 font-size-18 margin-top-10">
            Roboto Regular 14px
        </p>
    </div>
</div>