.subtitle {
    font-size: 1.5rem;
}

/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .font-size-18 {
        font-size: 18px;
    }
    .margin-top-10 {
        margin-top: 10px;
    }
    .margin-top-16 {
        margin-top: 18px;
    }
    .centrado-texto {
        text-align: center;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .centrado-texto {
        text-align: center;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}