<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <div class="padding-t-30 col col-sm img-al-centro">
        <img src="./assets/img/tooltip/Estilo/posicion-arriba.svg" alt="">
        <div class="row centrado">
            <div class="col-md-4 col-3">
                <div class="padding-t-10">
                    <div class="cuadro bg-gris-oscuro2"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #333333
                    </p>
                </div>
                <div class="padding-t-10">
                    <p class="texto-elementos margin-0">
                        <strong>Aa</strong> <span class="padding-l-20">#FFFFFF</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Tipografía</h4>
    <!-- Titulos -->
    <div class="bg-img padding-20">
        <div class="row">
            <div class="col-md-3 col col-sm">
                <p>
                    <strong>Elemento</strong>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p>
                    <strong>Color</strong>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p>
                    <strong>Tamaño</strong>
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p>
                    <strong>Peso y estilo</strong>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p>
                    <strong>Alineación</strong>
                </p>
            </div>
        </div>
        <!--Etiqueta-->
        <div class="row etiqueta-input">
            <div class="col-md-3 col col-sm">
                <p>
                    Texto de párrafo
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p>
                    #FFFFFF
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p>
                    14px
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p>
                    Font-weight:400
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
        <!--Etiqueta de referencia-->
        <div class="row">
            <div class="col-md-3 col col-sm">
                <p class="">
                    <b>Énfasis</b>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    <b>#333333</b>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    <b>14px</b>
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    <b>Font-weight:400</b>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    <b>Text-align:left</b>
                </p>
            </div>
        </div>
    </div>
    <!-- Estructura -->
    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <div class="row padding-t-30">
        <div class="col-md-6 col col-sm">
            <p class="etiqueta-referencia">Tooltip en movimiento</p>
            <div class="img-al-centro">
                <img class="img-fluid" src="./assets/img/tooltip/Estilo/estructura-movimiento.svg" alt="El ancho máximo del tooltip debe ser 180px, el alto debe ser 26px y debe aparecer en la acción hover">
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Espaciado</h4>
    <div class="row bg-img padding-20">
        <div class="col-md-6 col col-sm">
            <p class="etiqueta-referencia">Tooltip en movimiento</p>
            <div class="img-al-centro">
                <img class="img-fluid" src="./assets/img/tooltip/Estilo/espaciado-movimiento.svg" alt="El espaciado entre el componente y el texto debe se de 15px a cada lado y 5px superior e inferior"></div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Posición</h4>
    <div class="row">
        <div class="col-md-6 col-6">
            <p class="etiqueta-referencia">Arriba</p>
            <img class="img-fluid" src="./assets/img/tooltip/Estilo/posicion-arriba.svg" alt="Ilustración que muestra un tooltip arriba del elemento">
        </div>
        <div class="col-md-6 col-6">
            <p class="etiqueta-referencia">Abajo</p>
            <img class="img-fluid" src="./assets/img/tooltip/Estilo/posicion-abajo.svg" alt="Ilustración que muestra un tooltip abajo del elemento">
        </div>
    </div>
    <div class="row padding-t-20">
        <div class="col-md-6 col-6 padding-t-40">
            <p class="etiqueta-referencia margin-t-20">Izquierda</p>
            <img class="img-fluid" src="./assets/img/tooltip/Estilo/posicion-izquierda.svg" alt="Ilustración que muestra un tooltip a la izquierda del elemento">
        </div>
        <div class="col-md-6 col-6 padding-t-40">
            <p class="etiqueta-referencia margin-t-20">Derecha</p>
            <img class="img-fluid" src="./assets/img/tooltip/Estilo/posicion-derecha.svg" alt="Ilustración que muestra un tooltip a la derecha del elemento">
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es un tooltip?</h3>
    <div class="padding-t-15">
        <p>
            Un tooltip es un elemento de las interfaces gráﬁcas que se emplea junto con el cursor del mouse. Cuando un usuario se posiciona sobre un componente visual -sin hacer clic sobre este- un pequeño rectángulo aparece para brindar información adicional.
        </p>
        <p>
            Este componente ayuda a los usuarios a identificar el uso o disposición de cierta herramienta, área, sección, entre otros, el tooltip se posiciona por encima cuando el usuario toca, se desplaza o enfoca el elemento
        </p>
        <p class="padding-t-30">
            <strong>Tooltip en movimiento:</strong> Úsalo siempre que tengas que dar información específica de una herramienta, entonces el tooltip se difuminará cuando el usuario pase por encima de otro elemento.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Se necesita orientar al usuario acerca del signiﬁcado del ícono [print]. Utiliza un tooltip en movimiento que sea posicionado cuando el usuario pase por encima de este ícono.
        </p>
        <div class="img-al-centro">
            <img class="img-fluid" src="./assets/img/tooltip/Usos/uso-1.svg" alt="Ilustración de un tooltip que indica la acción del icono impresora">
        </div>
        <p class="padding-t-50">
            <strong>Tooltip en contextual:</strong> Úsalo para dar una especificación más detallada de algún elemento ya sea gráfico o textual, donde el usuario pueda decidir entre cerrar o no la ayuda.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Dentro del portal de Norma INE, se solicita incluir algunos tooltips para ayudar al usuario a comprender términos poco amigables. Usa un tooltip contextual para ubicarlos en las palabras donde se considere necesario.
        </p>
        <div class="img-al-centro">
            <img class="img-fluid" src="./assets/img/tooltip/Usos/uso-2.svg" alt="Ilustración de un tooltip que describe un texto">
        </div>
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Tooltip</h3>
    <div class="padding-t-50">
        <div class="text-center">
            <i class="fa fa-print fa-2x padding-r-5" aria-hidden="true" placement="top" ngbTooltip="Tooltip on top"></i>
        </div>
        <div class="jumbotron jumbotron-fluid margin-t-60">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('tooltip')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="tooltip">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-print fa-2x"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span class="ca4"> placement</span><span>=</span><span class="cn">"top"</span><span class="ca4"> ngbTooltip</span><span>=</span><span class="cn">"Tooltip on top"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="padding-t-50 ">
            <span ngbTooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry." data-placement="top" triggers="click:blur">
                <u>Elemento</u>
            </span>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('tooltip-arriba')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="tooltip-arriba">  
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">span</span><span class="ca4"> ngbTooltip</span><span>=</span><span class="cn">"Lorem Ipsum is simply dummy text of the printing and typesetting industry."</span><span class="ca4"> data-placement</span><span>=</span><span class="cn">"top"</span><span class="ca4"> triggers</span><span>=</span><span class="cn">"click:blur"</span><span>></span>
    <span><</span><span class="ca5">u</span><span>></span>Elemento<span><</span><span>/</span><span class="ca5">u</span><span>></span>
<span><</span><span>/</span><span class="ca5">span</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <div class="text-center">
        <div class="padding-t-50 ">
            <span ngbTooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry." data-placement="bottom" triggers="click:blur">
                <u>Elemento</u>
            </span>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('tooltip-abajo')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="tooltip-abajo">  
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">span</span><span class="ca4"> ngbTooltip</span><span>=</span><span class="cn">"Lorem Ipsum is simply dummy text of the printing and typesetting industry."</span><span class="ca4"> data-placement</span><span>=</span><span class="cn">"bottom"</span><span class="ca4"> triggers</span><span>=</span><span class="cn">"click:blur"</span><span>></span>
    <span><</span><span class="ca5">u</span><span>></span>Elemento<span><</span><span>/</span><span class="ca5">u</span><span>></span>
<span><</span><span>/</span><span class="ca5">span</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <div class="text-center">
        <div class="padding-t-50 ">
            <span ngbTooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry." data-placement="left" triggers="click:blur">
                <u>Elemento</u>
            </span>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('tooltip-izquierda')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="tooltip-izquierda">  
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">span</span><span class="ca4"> ngbTooltip</span><span>=</span><span class="cn">"Lorem Ipsum is simply dummy text of the printing and typesetting industry."</span><span class="ca4"> data-placement</span><span>=</span><span class="cn">"left"</span><span class="ca4"> triggers</span><span>=</span><span class="cn">"click:blur"</span><span>></span>
    <span><</span><span class="ca5">u</span><span>></span>Elemento<span><</span><span>/</span><span class="ca5">u</span><span>></span>
<span><</span><span>/</span><span class="ca5">span</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <div class="text-center">
        <div class="padding-t-50 ">
            <span ngbTooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry." data-placement="right" triggers="click:blur">
                <u>Elemento</u>
            </span>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('tooltip-derecha')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="tooltip-derecha">  
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">span</span><span class="ca4"> ngbTooltip</span><span>=</span><span class="cn">"Lorem Ipsum is simply dummy text of the printing and typesetting industry."</span><span class="ca4"> data-placement</span><span>=</span><span class="cn">"right"</span><span class="ca4"> triggers</span><span>=</span><span class="cn">"click:blur"</span><span>></span>
    <span><</span><span class="ca5">u</span><span>></span>Elemento<span><</span><span>/</span><span class="ca5">u</span><span>></span>
<span><</span><span>/</span><span class="ca5">span</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
</section>