<div class="row">
  <div class="offset-md-1 order-1 order-sm-1 order-md-0 offset-lg-1 col-md-8 col-lg-8">
    <div class="margenes">
      <hr class="d-block d-sm-block d-md-none margin-b-50 clr-hr">
      <div id="acerca-de" class="margin-b-60">
        <h3>Acerca de</h3>
        <div class="margin-t-40">
          <p>Conoce los lineamientos y buenas prácticas en el desarrollo de soluciones de software generadas dentro y
            para el Instituto Nacional Electoral.</p>
          <p>En este documento se describen algunas características esenciales que todo código fuente debe cumplir y que
            se consideran al momento de establecer los lineamientos y buenas prácticas encaminadas a un código fácil de
            entender, mantener,
            extender y menos propenso a errores.</p>
        </div>
      </div>
      <hr>
      <div id="introduccion" class="margin-t-45 margin-b-60">
        <h3>Introducción</h3>
        <div id="proposito" class="margin-t-40 margin-b-45">
          <h4>Propósito</h4>
          <div class="margin-t-25">
            <p>Enunciar los lineamientos y las mejores prácticas en el desarrollo de soluciones de software generadas
              dentro del y para el Instituto Nacional Electoral.</p>
            <p>A continuación, se describen algunas características esenciales que todo código fuente debe cumplir:</p>
            <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
              <ul>
                <li>Usar nombres significativos</li>
                <li>Principio de Responsabilidad Única (SRP)</li>
                <li>Principio DRY (Don’t Repeat Yourself)</li>
                <li>Uso común de estándares y lineamientos</li>
                <li>Independencia entre su autor y la persona que lo mantiene</li>
                <li>Facilidad de lectura y entendimiento</li>
              </ul>
            </div>
            <p>Estas características se consideran al momento de establecer los lineamientos y buenas prácticas
              encaminadas a un código fácil de entender, mantener, extender y menos propenso a errores.</p>
          </div>
        </div>
        <hr>
        <div id="alcance" class="margin-t-45">
          <h4>Alcance</h4>
          <div class="margin-t-25">
            <p>Enunciar los lineamientos y las mejores prácticas en el desarrollo de soluciones de software generadas
              dentro del y para el Instituto Nacional Electoral.</p>
            <p>A continuación, se describen algunas características esenciales que todo código fuente debe cumplir:</p>
          </div>
        </div>
      </div>
      <hr>
      <div id="lineamientos-base" class="margin-t-45 margin-b-60">
        <h3>Lineamientos base de Desarrollo de Soluciones</h3>
        <div id="nomenclatura" class="margin-t-40">
          <h4>Nomenclatura</h4>
          <div class="margin-t-25 margin-b-60">
            <div>
              <h6>Artefactos</h6>
              <p>Los artefactos son los componentes finales de desarrollo (jar, war, etc…), los cuales se generan
                mediante la herramienta Maven y cuyo nombre deberá ser igual al del artifactId.</p>
            </div>
            <div class="margin-t-60">
              <h6>Proyectos</h6>
              <p>Esta nomenclatura aplicará para cualquier proyecto bajo la plataforma Kotlin, como:</p>
              <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                <ul>
                  <li>Apps Móviles</li>
                  <li>Apps Híbridas</li>
                </ul>
              </div>
              <div class="padding-t-10 padding-b-10 padding-l-15 rules">
                <div class="row alinear">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                    <p>Deberán seguir los siguientes lineamientos:</p>
                  </div>
                </div>
              </div>
              <div class="container margin-t-25">
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">1.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>El nombre del proyecto se debe escribir con base en el código ASCII, en minúsculas y sin
                      abreviaturas.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">2.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 break-url">
                    <p>Si el nombre del proyecto es un nombre compuesto, derivado de la línea de negocio que representa,
                      entonces cada concepto deberá estar separada mediante el símbolo “–“(guion). Por
                      ejemplo,<strong>prueba-concepto-arquitectura</strong> es un nombre válido que cumple con lo
                      establecido.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">3.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>No se deben utilizar números al nombrar proyectos.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">4.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>La longitud máxima del nombre de un proyecto debe ser de 30 caracteres.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">5.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>El nombre del proyecto debe ser intuitivo y apropiado al concepto que representa.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin-t-60">
              <h6>Paquetes</h6>
              <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                <div class="row alinear">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                    <p>Se escribirán siempre en letras minúsculas, considerando:</p>
                  </div>
                </div>
              </div>
              <div class="container margin-t-25">
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">1.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Dominio INE: mx.ine</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">2.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Concepto de negocio: Contempla dos contextos:</p>
                    <ul>
                      <li>Institucionales</li>
                      <li>Electorales</li>
                    </ul>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">3.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Categoría POM</p>
                    <ul>
                      <li>Aplicaciones. Proyecto con una Interfaz de usuario.</li>
                      <li>Servicios. Proyecto sin interfaz gráfica, son componentes que generan una capa de exposición.
                      </li>
                      <li>Comunes. Proyectos que generan una funcionalidad transversal.</li>
                    </ul>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">4.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Proyecto. Nombre del componente de software a desarrollar.</p>
                  </div>
                </div>
              </div>
              <div class="margin-t-25">
                <p class="fw-500">Ejemplos de uso al nombrar paquetes:</p>
                <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 break-url fondo padding-r-20">
                  <p class="fw-500"><span class="dom">[dominio]</span>.<span
                      class="con">[conceptodenegocio]</span>.[categoriapom].<span class="pro">[proyecto]</span></p>
                  <ul>
                    <li>mx.ine.institucionales.aplicaciones.proyecto </li>
                    <li>mx.ine.electorales.servicios.proyecto</li>
                    <li>mx.ine.institucionales.comunes.proyecto</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="margin-t-60">
              <h6>Archivo de tipo Clase</h6>
              <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                <div class="row alinear">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                    <p>Se deberá seguir las siguientes especificaciones:</p>
                  </div>
                </div>
              </div>
              <div class="container margin-t-25">
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">1.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Cada archivo fuente debe contener una única clase pública.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">2.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Si un archivo fuente contiene alguna clase privada y está asociada a una clase pública, puede
                      existir en el mismo archivo fuente de la clase pública, la única condición será que sólo una de
                      esas clases sea declarada
                      como “pública” y deberá enunciarse primero.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">3.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>El nombre del archivo fuente y la clase pública deben tener el mismo nombre más la extensión. kt.
                    </p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">4.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Nombrar el archivo de la clase pública con un sustantivo, en ningún caso se deberán utilizar
                      verbos. Ejemplos: carro, hombre, tienda, empleado, proveedor, etc.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">5.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Si el nombre es compuesto, la primera letra de cada palabra deberá ser mayúscula (Notación
                      Pascal).</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">6.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Debe evitarse el uso de abreviaturas, salvo si dicha abreviatura es más utilizada que la palabra
                      representada (URL, HTTP, etc.).</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">7.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Sufijos o prefijos como:</p>
                    <ul>
                      <li>BO, VO, DTO, DAO serán omitidos.</li>
                    </ul>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">8.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>No se debe hacer uso de caracteres especiales tales como: (!,”,#,$,%,&,’,,(,),*,+,,,-,.,:,;,
                      <,=,>,?,@,[,\,] ,^, _,` ,{ ,| ,} ,~)
                    </p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">9.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>El nombre de la clase debe ser intuitivo y apropiado al concepto que representa.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin-t-60">
              <h6>Archivo de tipo interfaces</h6>
              <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                <div class="row alinear">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                    <p>El nombrado de las interfaces sigue la misma regla que las clases.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin-t-60">
              <h6>Métodos</h6>
              <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                <div class="row alinear">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                    <p>Se deberá seguir las siguientes especificaciones:</p>
                  </div>
                </div>
              </div>
              <div class="container margin-t-25">
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">1.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>El nombrado de un método debe constar de un verbo en tercera persona del tiempo presente en modo
                      indicativo. Por ejemplo: guarda, actualiza, busca, etc.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">2.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Si el nombre del método es compuesto, la letra inicial deberá ser minúscula y la primera letra de
                      las siguientes palabras deberán escribirse en mayúscula (Notación Camello).</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">3.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>No se permite el uso de acrónimos.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">4.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>El nombre del método debe ser lo más intuitivo posible y apropiado al concepto que representa.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin-t-60">
              <h6>Variables</h6>
              <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                <div class="row alinear">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                    <p>Lineamientos a seguir en el nombrado variables los cuales constan de:</p>
                  </div>
                </div>
              </div>
              <div class="container margin-t-25">
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">1.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Las variables locales, de instancia y de clase empezarán con minúscula a excepción de las
                      constantes.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">2.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Si las palabras son compuestas, se utilizará notación Camello para el nombrado.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">3.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Los nombres de variables no deben iniciar con los caracteres guion bajo (_) o signo de dólar ($),
                      aunque estos estén permitidos por el lenguaje.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">4.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>No hacer uso de acentos.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">5.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>El nombre de cada variable local, de instancia y de clase deberá ser mnemónico, es decir, debe
                      ser lo más intuitivo posible y apropiado al concepto que representa.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">6.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Los nombres de variables de un solo carácter se deben evitar, excepto en los siguientes casos:
                    </p>
                    <ul>
                      <li>Para variables que denotan un índice temporal.</li>
                      <li>El nombrado común para variables temporales son i, j, k, m, y n para enteros; c, d, y, e para
                        caracteres.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin-t-60">
              <h6>Constantes</h6>
              <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                <div class="row alinear">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                    <p>Al nombrar constantes, se deberán tomar en cuenta los siguientes lineamientos:</p>
                  </div>
                </div>
              </div>
              <div class="container margin-t-25">
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">1.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Los nombres de variables declaradas como constantes deben ir totalmente en mayúsculas (ALL_CAPS).
                    </p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">2.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Si hay un nombre compuesto, las palabras se irán separando por un guion bajo (_).</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">3.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Los nombres de constantes pueden contener dígitos, pero no como primer carácter.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">4.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>En Kotlin, si desea crear las constantes locales que se supone que se utilizarán en la class,
                      puede crearlo como se muestra a continuación.
                      val MY_CONSTANT="Constants" </p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">4.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>En Kotlin, si desea crear las constantes locales que se supone que se utilizarán en la class,
                      puede crearlo como se muestra a continuación.
                      val MY_CONSTANT="Constants" </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin-t-60">
              <h6>Enumeraciones</h6>
              <p>El uso de enumeraciones se aplicará a valores susceptibles de ser catalogados; es decir, los valores de
                una misma semántica.</p>
              <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                <div class="row alinear">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                    <p>Se deberá seguir las siguientes especificaciones:</p>
                  </div>
                </div>
              </div>
              <div class="container margin-t-25">
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">1.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Para nombrar una enumeración, ésta debe ser un sustantivo más la palabra “Enum”.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">2.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>En caso de ser un nombre compuesto se usará notación pascal.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="organizacion" class="margin-t-45">
            <h4>Organización de un archivo .kt</h4>
            <div>
              <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                <div class="row alinear">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                    <p>A continuación, se listan, de manera general, las secciones que contendrán una clase o interfaz,
                      en el orden de aparición:</p>
                  </div>
                </div>
              </div>
              <div class="container margin-t-25">
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">1.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Comentarios de cabecera.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">2.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Sentencia package.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">3.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Sentencias import.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">4.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Comentarios de documentación de la clase o interfaz.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">5.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Sentencia class o interface.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">6.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Documentación de variables de clase.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">7.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Declaración de variables de clase de tipo static. Se incluyen en el siguiente orden con base a su
                      modificador de acceso: public, protected, default sin modificador de acceso y private.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">8.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Documentación de cada variable de instancia.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">9.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Declaración de variables de instancia. Se incluyen en el siguiente orden con base en su
                      modificador de acceso: public, protected, default, sin modificador de acceso y private.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">10.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Documentación de constructores.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">11.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Constructores.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">12.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Bloques estáticos.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">13.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Documentación de métodos.</p>
                  </div>
                </div>
                <div class="row border-gris-6 margin-t-15">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="fw-700">14.</p>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                    <p>Métodos. Se deben agrupar por visibilidad o accesibilidad. Los métodos se ordenan en grupos, de
                      acuerdo con su modificador de acceso: public, protected, default (sin modificador de acceso) y
                      private.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="lineamientos-arquitectura" class="margin-t-45 margin-b-60">
        <h3>Lineamientos de Arquitectura</h3>
        <div id="manejo" class="margin-t-40 margin-b-45">
          <h4>Manejo de Versiones en .apk </h4>
          <div class="margin-t-25">
            <div>
              <p>De manera inicial, un proyecto será generado mediante el arquetipo que proporcione el Departamento de
                Arquitectura de Software y este nacerá como SNAPSHOT; esto significa que la versión del proyecto será
                previa a la primera
                liberación (1.0.0), según lo mencionado, la evolución del versionado será:</p>
            </div>
            <div class="container margin-t-25 margin-b-25 padding-t-20 padding-r-25 padding-b-20 padding-l-25 fondo">
              <div class="border-gris-6">
                <p class="fw-500 margin-l-0"><span class="dom">1.0.0 -></span> <span class="xgreen">X</span><span
                    class="dom">.Y.</span>Z</p>
              </div>
              <div>
                <p class="xgreen"><span class="fw-500">X</span>. Indica un cambio de implementación y/o tecnología.</p>
                <p class="dom"><span class="fw-500">Y</span>. Indica un cambio mediano, tal como una nueva funcionalidad
                  o complemento a una ya existente.</p>
                <p><span class="fw-500">Z</span>. Indica un ajuste menor o resolución de bugs.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div id="nomenclatura-modulos" class="margin-t-45 margin-b-45">
          <h4>Nomenclatura de Módulos de Proyecto</h4>
          <div class="table-responsive">
            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
              <thead>
                  <tr>
                    <th>Sufijo de capa</th>
                    <th>Ejemplo</th>
                    <th>Descripción</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <th>presentacion</th>
                    <td>proyecto-presentacion</td>
                    <td>Módulo que contiene los ViewModels así como los Fragments y Activitys.</td>
                  </tr>
                  <tr>
                    <th>repositorio </th>
                    <td>proyecto-repositorio </td>
                    <td>Módulo para manejar datos de un servicio o de una base de datos.</td>
                  </tr>
                  <tr>
                    <th>modelo</th>
                    <td>proyecto-modelo</td>
                    <td>Módulo de objetos para uso de persistencia (modelos de datos).</td>
                  </tr>
                  <tr>
                    <th>utilidades</th>
                    <td>proyecto-utilidades</td>
                    <td>Módulo que contiene funcionalidades de manera unitaria; es decir, no contienen lógica de negocio. </td>
                  </tr>
                  <tr>
                    <th>persistencia </th>
                    <td>proyecto-persistencia</td>
                    <td>Módulo de uso de base de datos en caso de ser necesario. </td>
                  </tr>
                  <tr>
                    <th>servicios</th>
                    <td>proyecto-servicios</td>
                    <td>Módulo de uso de Web Services o cache en caso de ser necesario.</td>
                  </tr>
                  <tr>
                    <th>res</th>
                    <td>res</td>
                    <td>Este módulo lo genera en automático el IDE de Kotlin y es donde se localizan los .xml de cada una de las  vistas creadas.</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <p class="pie-img"><span class="fw-500">Tabla 1.</span> Nomenclatura de los módulos de proyecto</p>
        </div>
        <hr>
        <div id="nomenclatura-paquetes" class="margin-t-45 margin-b-45">
          <h4>Nomenclatura de Paquetes</h4>
          <!-- <div class="back-img-tab margin-t-25 margin-b-25">
            <img class="img-responsive img-fluid img-width"
              src="assets/img/doc-android/lineamientos/tabla_2.svg" alt="">
          </div> -->
          <div class="table-responsive">
            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
              <thead>
                  <tr>
                    <th>Sufijo</th>
                    <th>Ejemplo</th>
                    <th>Descripción</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <th>configuracion	 </th>
                    <td>mx.ine…proyecto.[capa].configuracion </td>
                    <td>Contenedor de clases de configuración. </td>
                  </tr>
                  <tr>
                    <th>excepciones  </th>
                    <td>mx.ine…proyecto.modelo.excepciones </td>
                    <td>Contenedor de excepciones </td>
                  </tr>
                  <tr>
                    <th>constantes  </th>
                    <td>mx.ine…proyecto.[capa].constantes <br>mx.ine…proyecto.constantes </td>
                    <td>Contenedor de constantes </td>
                  </tr>
                  <tr>
                    <th>enumeraciones</th>
                    <td>mx.ine…proyecto.enumeraciones </td>
                    <td>Contenedor de enumeraciones </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <p class="pie-img"><span class="fw-500">Tabla 2.</span> Nomenclatura de paquetes</p>
        </div>
        <hr>
        <div id="bibliotecas" class="margin-t-45 margin-b-45">
          <h4>Bibliotecas</h4>
          <p>En este apartado, se explicarán y definirán las bibliotecas que se usarán para el desarrollo de
            aplicaciones móviles de Android. </p>
          <div class="table-responsive">
            <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
              <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Detalles</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <th>ViewModel</th>
                    <td>Los ViewModels son objetos que proveen datos, información para componentes de UI y sobreviven a cambios de configuración</td>
                  </tr>
                  <tr>
                    <th>Room</th>
                    <td>
                      <p>Biblioteca de mapeo de objetos SQL bastante robusta y que tiene cuidado de la data local persistente para la aplicación. </p>
                      <strong>Ventajas de usar Room:</strong>
                      <ul>
                        <li>
                        Olvídate de SQLiteOpenHelper, con Room no tienes código acumulado, o en inglés (Less Boilerplate) 
                        porque Room mapea los registros de tu base de datos y los convierte a objetos como las entidades y vice versa. 
                        Por lo tanto, nos olvidamos de los famosos ContentValues y Cursores.
                        </li>
                        <li>
                        Room te permite validar tus consultas SQLite (“SQLite queries”) en tiempo de compilación, 
                        entonces si te equivocas en tu consulta te brindará un mensaje de ayuda, 
                        por lo tanto, sabrás cómo solucionarlo fácilmente. 
                        </li>
                        <li>
                        Finalmente, Room tiene un buen soporte de observación para trabajar con LiveData y RxJava. 
                        </li>
                      </ul>
                      <strong class="padding-t-15">Componentes de Room</strong>
                      <p>
                      <strong>Anotaciones: </strong>
                      Room te permite escribir menos líneas de código justamente porque genera código android SQLite 
                      internamente y esto lo hace posible gracias a las anotaciones. 
                      De esta forma nos brinda una simple API para la base de datos.
                      </p>
                      <p>
                      <strong>@Entity: </strong>
                      Define la estructura de una tabla en tu base de datos. 
                      </p>
                      <p>
                      <strong>@Dao: </strong>
                        Representa el Objeto de Acceso a la Base de Datos, 
                        y es la interfaz que define todas las operaciones de lectura y escritura que tu app necesitará. 
                      </p>
                      <p>
                      <strong>@Database: </strong>
                      Esta anotación es usada para crear una nueva base de datos o adquirir una conexión 
                      a una RoomDatabase preexistente. Así mismo se coloca en el objeto de base de datos. 
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th>LiveData</th>
                    <td>
                    <p>
                    LiveData es quizás el componente más necesario y útil de la arquitectura definida y explicada anteriormente. 
                    Se trata de una envoltura observable para nuestros datos con la ventaja de que está asociado a un ciclo de vida 
                    (de un fragment o activity). 
                    </p>
                    <strong class="padding-t-15">Ventajas</strong>
                      <ul>
                        <li>
                        <strong>Tu UI siempre mostrará los datos más actualizados.</strong> LiveData no deja de ser un Observable vitaminado. 
                        Si construimos nuestra UI para que recoja la información a mostrar observando objetos LiveData, 
                        cualquier cambio que se produzca en estos datos será transmitido a cualquier vista o componente que lo esté observando. 
                        Esto significa que siempre se mantendrán actualizados. 
                        </li>
                        <li>
                        <strong>No más errores ni código defensivo para evitar activities/fragments inactivos.</strong>
                        Como LiveData está asociado al ciclo de vida de la activity o fragment, no se producirán llamadas a sus observables 
                        si la vista no está activa. 
                        </li>
                        <li>
                        <strong>Tus datos siempre actualizados.</strong> Si la vuelta de un servicio ocurre cuando nuestra activity está en segundo plano, 
                        ese valor se almacena en el objeto LiveData. Además, en cuanto esa activity vuelva a estar activa, 
                        lo notificará inmediatamente a los observadores relacionados. 
                        </li>
                        <li>
                        <strong>Evita Memory Leaks.</strong> Los observadores están asociados a un objeto con ciclo de vida. 
                        En el momento que ese objeto es destruido, los observadores se liberan de memoria. 
                        </li>
                      </ul>
                      <p>
                      La clase <strong>LiveData&lt;T&gt; </strong>es un objeto abstracto que no podemos instanciar como tal. 
                      Para la creación de estos objetos usaremos la clase <strong>MutableLiveData&lt;T&gt;</strong> 
                      la cual ya implementa todo lo necesario. Declaramos ese objeto en nuestro ViewModel, 
                      Repositorio o incluso en un Presenter de esta forma: 
                      </p>
                      <p>private final MutableLiveData&lt;User&gt; mUserInfoLiveData = new MutableLiveData&lt;&gt;(); </p>
                    </td>
                  </tr>
                  <tr>
                    <th>Retrofit</th>
                    <td>
                    <p>
                    Es una biblioteca que hace sencillo consumir datos JSON o XML, que después es analizado en Objetos Kotlin.
                    Cabe mencionar que todas las peticiones GET, POST, PUT, PATCH, and DELETE pueden ser ejecutadas. 
                    </p>
                    <p>
                    Como la mayoría del software de código abierto, Retrofit fue construido encima de algunas otras librerías y herramientas. 
                    Entre estas, Retrofit hace uso de OkHttp (del mismo desarrollador) para manejar peticiones de red. 
                    También, Retrofit no tiene un convertidor JSON integrado para convertir de objetos JSON a Kotlin. 
                    En su lugar, viene con soporte para las siguientes librerías de convertidor JSON para manejar eso: 
                    </p>
                    <ul>
                      <li>
                      Gson: com.squareup.retrofit:converter-gson 
                      </li>
                      <li>
                      Jackson: com.squareup.retrofit:converter-jackson Para buffers de Protocolo, Retrofit soporta: 
                      </li>
                      <li>
                      Protobuf: com.squareup.retrofit2:converter-protobuf 
                      </li>
                      <li>
                      Wire: com.squareup.retrofit2:converter-wire Y para XML Retrofit soporta: 
                      </li>
                      <li>
                      Simple Framework: com.squareup.retrofit2:converter-simpleframework
                      </li>
                    </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>Jackson </th>
                    <td>Es una biblioteca que permite convertir clases a texto JSON y viceversa. 
                    De forma similar Gson realiza el mismo trabajo, sin embargo, cuando hay clases hijas, padres, interfaces 
                    y polimorfismo en general, Gson tiene algo de soporte extra (debe descargarse por separado), 
                    y no es tan sencillo como en Jackson (necesita registrar previamente la jerarquía de clases). </td>
                  </tr>
                  <tr>
                    <th>Dagger 2</th>
                    <td>
                    <p>
                    Este funcionará como el contenedor principal de las dependencias y proveerá los objetos necesarios a cada clase. 
                    </p>
                    <p>
                    Dagger 2 es un framework para inyección de dependencias en el que ha estado trabajando Google desde 2015. 
                    Está basado en la primera versión de Dagger y usa el estándar de notaciones para Java JSR-330. 
                    </p>
                    <p>
                    Es importante recalcar que para inyectar estas dependencias, el código generado por Dagger no es producto de reflexión. 
                    Dagger usa una interfaz de inyección que funciona como set de reglas y le indica qué dependencias se usan para cada caso. 
                    </p>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <p class="pie-img"><span class="fw-500">Tabla 3.</span> Nomenclatura de clases</p>
        </div>
      </div>
      <hr>
      <div id="pom-ine" class="margin-t-45 margin-b-60">
        <h3>POM INE</h3>
        <div class="margin-t-40 margin-b-45">
          <p>La arquitectura 2.0 propone una estructura jerárquica de Project Object Model (POM); es decir, se da a
            través de un POM hijo, el cual heredará las características de las dependencias del POM padre.</p>
          <hr>
          <div id="admin" class="margin-t-45 margin-b-45">
            <h4>Estructura base para administración de dependencias</h4>
            <div class="margin-t-25">
              <p>Gradle es una herramienta que permite la automatización de compilación de código abierto, la cual se
                encuentra centrada en la flexibilidad y el rendimiento. Los scripts de compilación de Gradle se escriben
                utilizando Groovy o Kotlin DSL (Domain Specific Language). </p>
              <p>Gradle tiene una gran flexibilidad y nos deja hacer usos otros lenguajes y no solo de Java, también
                cuenta con un sistema de gestión de dependencias muy estable. Gradle es altamente personalizable y
                rápido ya que completa las tareas de forma rápida y precisa reutilizando las salidas de las ejecuciones
                anteriores, sólo procesar las entradas que presentan cambios en paralelo. </p>
              <p>Además, es el sistema de compilación oficial para Android y cuenta con soporte para diversas tecnologías y lenguajes.</p>
              <p>Algunas características de Gradle que podemos destacar son las siguientes: </p>
              <p>A continuación, se describen algunas características de Gradle: </p>
              <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                <ul>
                  <li><strong>Depuración colaborativa:</strong> Permite compartir los resultados de la compilación para resolver en equipo de forma eficiente posibles problemas que aparezcan. </li>
                  <li><strong>Construcción incremental:</strong> Valida en el proceso de compilación si la entrada, salida o implementación de una tarea ha cambiado, en caso de no existir algún cambio la considera actualizada y no se ejecuta. </li>
                  <li><strong>Diseño de repositorio personalizado:</strong> Podremos tratar prácticamente cualquier estructura de directorios del sistema de archivos como un repositorio de Artifacts.</li>
                  <li><strong>Dependencias transitivas:</strong> Es uno de los principales beneficios que ofrece al utilizar la gestión de dependencias ya que se encarga de descargar y administrar las dependencias transitivas.</li>
                  <li><strong>Integración con Android Studio:</strong> Android Studio no cuenta con un generador interno, sino que delega todas las tareas de compilación en Gradle, garantizando la corrección en todas las construcciones, ya sea que se ejecuten desde Android Studio, la línea de comandos o un servidor de construcción de integración continua. </li>
                  <li><strong>Publicar en repositorios Ivy y Maven:</strong> Permite publicar Artifacts en repositorios Ivy con diseños de directorios completamente personalizables. De igual modo, sucede con Maven en Bintray o Maven Central. </li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div id="referencias" class="margin-t-45 margin-b-60">
        <h3>Referencias</h3>
        <div class="container margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
          <ul>
            <li><a class="subrayado" href="https://kotlinlang.org/" rel="noopener noreferrer" target="_blank">Documentación Kotlin</a></li>
            <li><a class="subrayado" href="https://medium.com/@jorgerodriguezchala/interfaces-clases-data-clases-objetos-y-companion-objects-en-kotlin-a69a1fbc86cf " rel="noopener noreferrer" target="_blank">Interfaces, Clases, Data Clases, Objetos y Companion Objects en Kotlin</a></li>
            <li><a class="subrayado" href="https://www.baeldung.com/kotlin-enum" rel="noopener noreferrer" target="_blank">Working with Enums in Kotlin</a></li>
            <li><a class="subrayado" href="http://kotlin.flipandroid.com/constantes-en-kotlin-cul-es-una-forma-recomendada-de-crearlos.html" rel="noopener noreferrer" target="_blank">Constantes en Kotlin</a></li>
            <li><a class="subrayado" href="https://www.includehelp.com/kotlin/how-to-create-static-variables-and-methods.aspx " rel="noopener noreferrer" target="_blank">Create static variables and methods in Kotlin</a></li>
            <li><a class="subrayado" href="https://developer.android.com/topic/libraries/architecture" rel="noopener noreferrer" target="_blank">Componentes de la arquitectura de Android</a></li>
            <li><a class="subrayado" href="https://developer.android.com/topic/libraries/architecture/livedata" rel="noopener noreferrer" target="_blank">Descripción general de LiveData</a></li>
            <li><a class="subrayado" href="https://openwebinars.net/blog/que-es-gradle/" rel="noopener noreferrer" target="_blank">¿Qué es Gradle?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="order-0 order-sm-0 order-md-1 col-md-3 col-lg-3 menu-r-brdr" id="myScrollspy">
    <div class="list-group">
      <div class="margin-t-60">
        <h6 class="fw-500 sn-brdr list-group-item list-group-item-action d-md-none d-lg-none txt-c">Contenido</h6>
        <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action active" href="#acerca-de"
          (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca de</a>
        <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#introduccion"
          (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
        <div class="list-group sublist">
          <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#proposito"
            (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
          <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#alcance"
            (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
        </div>
        <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#lineamientos-base"
          (click)="globalService.gotoSection('lineamientos-base'); $event.preventDefault();">Lineamientos base</a>
        <div class="list-group sublist">
          <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#nomenclatura"
            (click)="globalService.gotoSection('nomenclatura'); $event.preventDefault();">Nomenclatura</a>
          <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#organizacion"
            (click)="globalService.gotoSection('organizacion'); $event.preventDefault();">Organización de un archivo .kt</a>
        </div>
        <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#lineamientos-arquitectura"
          (click)="globalService.gotoSection('lineamientos-arquitectura'); $event.preventDefault();">Lineamientos de
          arquitectura</a>
        <div class="list-group sublist">
          <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#manejo"
            (click)="globalService.gotoSection('manejo'); $event.preventDefault();">Manejo de versiones en
            .apk</a>
          <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#nomenclatura-modulos"
            (click)="globalService.gotoSection('nomenclatura-modulos'); $event.preventDefault();">Nomenclatura de
            módulos de proyecto</a>
          <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#nomenclatura-paquetes"
            (click)="globalService.gotoSection('nomenclatura-paquetes'); $event.preventDefault();">Nomenclatura de
            paquetes</a>
            <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#bibliotecas"
            (click)="globalService.gotoSection('bibliotecas'); $event.preventDefault();">Bibliotecas</a>
        </div>
        <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#pom-ine"
          (click)="globalService.gotoSection('pom-ine'); $event.preventDefault();">POM INE</a>
        <div class="list-group sublist">
          <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#admin"
            (click)="globalService.gotoSection('admin'); $event.preventDefault();">Administración de dependencias</a>
        </div>
        <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#referencias"
          (click)="globalService.gotoSection('referencias'); $event.preventDefault();">Referencias</a>
      </div>
    </div>
  </div>
</div>