body{
    position: relative;
}
h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

h4{
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

.margenes {
    margin: 80px 40px 30px 0;
}

.fondo {
    background-color: var(--bg-lnmnts-grales);
    li {
        margin-top: 10px;
        margin-left: 15px;
    }
    p {
        margin-top: 10px;
        margin-left: 25px;
    }
}

.fondo-la {
    background-color: #F2F2F2;
    p {
        margin-top: 10px;
        margin-left: 0px;
    }
}

.dom {
    color: #D30C7F;
}

.con {
    color: #7A4493;
}

.pro {
    color: #98145E;
}

.xgreen {
    color: #409AA1;
}

.rules {
    background-color: #F1F8F9;
    color: #2E6E73;
    p {
        margin: 0;
    }
    i {
        margin-right: 15px;
    }
    .alinear {
        align-items: center;
        .pgreen {
            padding: 0;
        }
    }
}

.list-group {
    position: sticky;
    top: 10px;
    cursor: pointer;
    font-size: 14px;
    a {
        padding: 5px 20px 0 20px;
    }
    .sn-brdr {
        border: transparent;
        background-color: transparent;
    }
    .sublist {
        margin-left: 15px;
    }
}

.list-group-item {
    
    color: var(--txt-color);
}

.active {
    color: var(--txt-color-link);;
    font-weight: 500;
}

.subrayado {
    color: var(--txt-color-link);
    text-decoration-line: none;
    cursor: pointer;
}

.subrayado:hover {
    color: #B7006D;
    text-decoration-line: underline;
    cursor: pointer;
}

hr {
    border-top: 1px solid var(--hr-color-dd);
}


@media (max-width: 767.98px) { 
    .list-group { 
        position: static;
    }

    .txt-c {
        font-size: 22px;
    }

    .txt-t {
        font-size: 20px;;
    }

    .txt-s {
        font-size: 16px;
    }
 }


@media (max-width: 1199.98px) {
    .padding-icon {
        padding-left: 20px;
    }
}