<!-- <div class=""> -->
<div class="row">
    <div class="col-12 padding-t-25">
        <p>Los indicadores de progresos indican a los usuarios que el sistema necesita más tiempo para procesar la última acción del usuario (por ejemplo, para cargar un archivo o para instalar una nueva actualización), y aproximadamente cuánto tiempo queda.</p>
    </div>
    <div class="col-12">
        <h3>Barra de progreso</h3>
    </div>
    <div class="col-12 padding-t-15">
        <p>Institucional</p>
        <div class="progreso">
            <div class="progreso-institucional" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
    </div>
    <div class="col-12 padding-t-15">
        <p>Complementario</p>
        <div class="progreso">
            <div class="progreso-complementario" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
        </div>
    </div>

    <div class="col-12 padding-t-15">
        <p>Auxiliar</p>
        <div class="progreso">
            <div class="progreso-auxiliar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
        </div>
    </div>
    <div class="col-12 padding-t-15">
        <p>Neutro</p>
        <div class="progreso">
            <div class="progreso-neutro" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
    </div>
    <div class="col-12">
        <p class="derecha padding-10">Copiar</p>
        <div class="jumbotron jumbotron-fluid">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>Loader</h3>
    </div>
    <div class="col-12">
        <p>Institucional</p>
        <div class="spinner-border spiner-institucional" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="col-12">
        <p class="derecha padding-10">Copiar</p>
        <div class="jumbotron jumbotron-fluid">
        </div>
    </div>
</div>