<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <div class="padding-t-10">
        <p>Permite a los usuarios especiﬁcar una palabra o una frase para encontrar piezas de contenido relevantes particulares sin el uso de la navegación. La búsqueda se puede utilizar como el medio principal para descubrir contenido, o como un ﬁltro para
            ayudar al usuario a encontrar contenido.</p>
    </div>
    <h4 class="titulos-elementos padding-t-30">Calendario básico</h4>
    <div class="row">
        <div class="offset-3 col-6 offset-sm-4 col-sm-4 offset-md-0 col-md-4">
            <!--Calendario-->
            <div class="padding-t-10">
                <img src="./assets/img/calendario/calendario-basico.svg" alt="Imagen de un calendario con los colores del instituto">
                <div class="padding-t-10">
                    <div class="cuadro bg-gris-oscuro2"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #666666
                    </p>
                </div>
                <div class="padding-t-10">
                    <div class="cuadro bg-magenta"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #B7006D
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Rango de fechas</h4>
    <!--Calendario-->
    <div class="padding-t-20">
        <div class="row ">
            <div class="col-10 offset-sm-2 col-sm-8 offset-md-0 col-md-4">
                <div class="row">
                    <div class="col-md-10">
                        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                        </ngb-datepicker>

                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </div>
                </div>
                <div class=" padding-t-10">
                    <div class="cuadro bg-gris-oscuro2"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #666666
                    </p>
                </div>
                <div class=" padding-t-10">
                    <div class="cuadro bg-magenta"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #B7006D
                    </p>
                </div>
                <div class=" padding-t-10">
                    <div class="cuadro bg-rosa6"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #FCE5F3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h4 class="titulos-elementos padding-t-50">Entrada de Fecha</h4>
    <!--Calendario-->
    <div class="padding-t-10">
        <div class="row ">
            <div class="offset-2 col-8 col-md-4">
                <div class="input-group">
                    <input class="form-control" placeholder="dd / mm / aaaa" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary " (click)="d.toggle()" type="button"> <i
                                class="fa fa-calendar" aria-hidden="true"></i> </button>
                    </div>
                </div>
                <div class="padding-t-10">
                    <div class="cuadro  bg-gris-clarito2 border-grisOscuro2-1"></div>
                    <p class="texto-elementos padding-l-40 margin-0">
                        #F8F8F8
                    </p>
                </div>
                <div class="padding-t-10">
                    <hr class="linea-border border-t-grisTenue-2" style="margin: 10px 26px 10px 13px;">
                    <p class="texto-elementos padding-l-40 margin-0">
                        #D9D9D9
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Tipografía -->
    <h4 class="titulos-elementos padding-t-50">Tipografía</h4>
    <div class="padding-20 bg-img margin-t-10 tamaño-tipografia-14">
        <!-- tiltulos -->
        <div class="row ">
            <div class="col-3 col-md-3">
                <p>
                    <strong>Elemento</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>Color</strong>
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    <strong>Tamaño</strong>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    <strong>Peso y estilo</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    <strong>Alineación</strong>
                </p>
            </div>
        </div>
        <!-- Etiqueta -->
        <div class="row  margin-t-20">
            <div class="col-3 col-md-3">
                <p>
                    Texto de entrada
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    #333333
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Placeholder -->
        <div class="row  margin-t-20 placeholder-referencia tamaño-tipografia-14">
            <div class="col-3 col-md-3">
                <p>
                    Placeholder
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    #B2B2B2
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Texto de entrada 1 -->
        <div class="row margin-t-20">
            <div class="col-3 col-md-3">
                <p>
                    Año
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    #333333
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    18px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Mensaje de entrada -->
        <div class="row  margin-t-20">
            <div class="col-3 col-md-3">
                <p>
                    Mes
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    #333333
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Font-weight:500
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Etiqueta de referencia -->
        <div class="row  margin-t-20 etiqueta-referencia">
            <div class="col-3 col-md-3">
                <p>
                    Día semana
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    #666666
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Font-weight:400 - italic
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Etiqueta de referencia -->
        <div class="row  margin-t-20 etiqueta-referencia">
            <div class="col-3 col-md-3">
                <p>
                    Número de dìa
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    #666666
                </p>
            </div>
            <div class="col-2 col-md-2">
                <p>
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p>
                    Font-weight:400 - italic
                </p>
            </div>
            <div class="col-2 col-md-2 padding-left-0">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
    </div>
    <!--Estructura-->
    <h4 class="titulos-elementos padding-t-50">Estructura</h4>
    <div class="row padding-t-20">
        <div class="col-md-4 imagen-al-centro">
            <img class="img-fluid" src="./assets/img/calendario/Estilo/estructura-1.svg " alt="Diagrama mostrando que el ancho del calendario debe medir 220px, el alto de la sección de los días 126px y el alto de la sección donde van mes, año y nombre de los días 54px.">
        </div>
        <div class="col-md-4 imagen-al-centro padding-top-40">
            <img class="img-fluid" src="./assets/img/calendario/Estilo/estructura-2.svg " alt="Diagrama mostrando un calendario con dos meses. Donde se especifica que el ancho del calendario debe medir 440px, el alto de la sección de los días 126px y el alto de la sección donde van mes, año y nombre de los días 80px.">
        </div>
        <div class="col-md-4 imagen-al-centro padding-top-40">
            <img class="img-fluid" src="./assets/img/calendario/Estilo/estructura-3.svg " alt="Diagrama especificando que la altura del input para el calendario debe ser 45px">
        </div>
    </div>
    <!--Espaciado-->
    <h4 class="titulos-elementos padding-t-50 padding-top-50">Espaciado</h4>
    <div class="padding-t-20">
        <div class="row">
            <div class="col-md-4 imagen-al-centro">
                <img class="img-fluid " align="left " src="./assets/img/calendario/Estilo/espaciado-1.svg " alt="Diagrama donde se especifica que el padding en la parte inferior y spuerior de la sección meses, años y días de la semana debe medir 10px. El margen inferior y superior donde se indican los días del mes debe medir 15px y sus bordes laterales 17px">
            </div>
            <div class="col-md-4 imagen-al-centro padding-top-40">
                <img class="img-fluid " align="left " src="./assets/img/calendario/Estilo/espaciado-2.svg " alt="Diagrama mostrando un calendario con dos meses. Donde se especifica que el espacio entre ambos debe medir 33px.">
            </div>
            <div class="col-md-4 imagen-al-centro padding-top-40">
                <img class="img-fluid " align="left " src="./assets/img/calendario/Estilo/espaciado-3.svg " alt="Diagrama especificando que el espacio entre el borde del input y sus elementos debe ser de 10px">
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es un calendario?</h3>
    <div class="padding-t-15">
        <p>
            Ayuda a tus usuarios a seleccionar una fecha correcta, identificar la hora exacta e incluso seleccionar días relevantes dentro de un calendario.
        </p>
        <p class="padding-t-10">
            <strong>Fecha:</strong> Controla el ingreso de una fecha en concreto a través de un input de fecha.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            En cierto formulario se debe de ingresar la fecha de nacimiento de un candidato. utilizar el componente de fecha para estos casos. En este ejemplo el orden es el siguiente dd/mm/aaaa.
        </p>
        <div class="imagen-al-centro padding-b-30">
            <img class="img-fluid" src="./assets/img/calendario/Usos/uso-1.svg" alt="Ilustración de un input para el calendario">
        </div>
        <p class="padding-t-20">
            <strong>Calendario:</strong> Usa este componente para seleccionar una fecha exacta ya sea pasada o futura.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            En el sistema de materiales se solicita al usuario encontrar una cédula de verificación del 2014. Ayuda a tu usuario a encontrar el reporte colocando un input de búsqueda.
        </p>
        <div class="imagen-al-centro padding-b-30">
            <img class="img-fluid" src="./assets/img/calendario/Usos/uso-2.svg" alt="Ilustración de un calendario con una fecha resaltada.">
        </div>

        <p class="tip padding-15">
            <b>Tip:</b> Evita el uso de este componente para fechas muy distantes como la de nacimiento, podrías hacer perder el tiempo al usuario tratando de encontrar un año lejano.
        </p>
        <p class="padding-t-20">
            <strong>Calendario de rango:</strong> Este calendario es útil para determinar periodicidad.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            un usuario debe ingresar el periodo en el que estará de vacaciones. Coloca un calendario de rango para facilitar el ingreso del dato.
        </p>
        <div class="imagen-al-centro padding-b-30">
            <img class="img-fluid" src="./assets/img/calendario/Usos/uso-3.svg" alt="Ilustración de dos calendarios con un periodo de fechas resaltado.">
        </div>
    </div>

</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Calendario</h3>
    <p>Encuentra el código HTML necesario para incorporar este componente en tu proyecto. Este código está desarrollado con las validaciones convenientes para facilitar su integración.</p>
    <h4 class="titulos-elementos padding-t-50">Calendario básico</h4>
    <div class="padding-t-50">
        <div class="row justify-content-center">
            <div class="col-8 col-md-4">
                <div class="input-group">
                    <input class="form-control" placeholder="dd / mm / aaaa" name="dp" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"> <i
                                class="fa fa-calendar" aria-hidden="true"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid margin-t-20">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('calendarInput')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="calendarInput">  
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group"</span><span>></span>
    <span><</span><span class="ca5">input</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control"</span><span class="ca4"> placeholder</span><span>=</span><span class="cn">"dd / mm / aaaa"</span><span class="ca4"> #d</span><span>=</span><span class="cn">"ngbDatepicker"</span><span class="ca4"> ngbDatepicker</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"input-group-append"</span><span>></span>
        <span><</span><span class="ca5">button</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn-outline-secondary"</span><span class="cam"> (</span><span class="ca4">click</span><span class="cam">)</span><span>=</span><span class="cn">"d.toggle()"</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span>></span>
            <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-calendar"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
        <span><</span><span>/</span><span class="ca5">button</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <div class="padding-t-60">
        <h4 class="titulos-elementos padding-t-50">Rango de fechas</h4>
        <div class="row padding-t-50 justify-content-center text-center">
            <div class="col-md-12">
                <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                </ng-template>
            </ngb-datepicker>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid margin-t-20">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('calendar')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="calendar">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">ngb-datepicker</span><span class="ca4"> #dp</span><span class="cam"> (</span><span class="ca4">select</span><span class="cam">)</span><span>=</span><span class="cn">"onDateSelection($event)"</span><span class="ca4"> [displayMonths]</span><span>=</span><span class="cn">"2"</span><span class="ca4"> [dayTemplate]</span><span>=</span><span class="cn">"t"</span><span class="ca4"> outsideDays</span><span>=</span><span class="cn">"hidden"</span><span>></span>
    <span><</span><span class="ca5">ng-template</span><span class="ca4"> #t</span><span class="ca4"> let-date</span><span class="ca4"> let-focused</span><span>=</span><span class="cn">"focused"</span><span>></span>
        <span><</span><span class="ca5">span</span><span class="ca4"> class</span><span>=</span><span class="cn">"custom-day"</span><span class="ca4"> [class.focused]</span><span>=</span><span class="cn">"focused"</span><span class="ca4"> [class.range]</span><span>=</span><span class="cn">"isRange(date)"</span><span class="ca4"> [class.faded]</span><span>=</span><span class="cn">"isHovered(date) || isInside(date)"</span><span class="cam"> (</span><span class="ca4">mouseenter</span><span class="cam">)</span><span>=</span><span class="cn">"hoveredDate = date"</span><span class="cam"> (</span><span class="ca4">mouseleave</span><span class="cam">)</span><span>=</span><span class="cn">"hoveredDate = null"</span><span>></span>
            <span class="cam">&#123;<span class="cl">&#123;</span></span><span class="ca4">date.day</span><span class="cl">&#125;</span><span class="cam">&#125;</span>
        <span><</span><span>/</span><span class="ca5">span</span><span>></span>
    <span><</span><span>/</span><span class="ca5">ng-template</span><span>></span>
<span><</span><span>/</span><span class="ca5">ngb-datepicker</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <p>A continuación encuentra el código TypeScript necesario para darle funcionalidad a este componente. Sigue estas recomendaciones y construye una interfaz funcional, usable y accesible.</p>
    <div class="jumbotron jumbotron-fluid margin-t-60 margin-b-80">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('datepickerts')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="datepickerts">
            <pre>
                <code class="language-html" data-lang="html">
<span>@</span><span class="cv">Input</span><span class="cm">(</span><span class="cm">)</span>

<span class="ca4">seccion</span><span>:</span><span class="cv"> any</span><span>;</span>
<span class="ca4">hoveredDate</span><span>:</span><span class="cv"> NgbDate</span><span>;</span>
<span class="ca4">fromDate</span><span>:</span><span class="cv"> NgbDate</span><span>;</span>
<span class="ca4">toDate</span><span>:</span><span class="cv"> NgbDate</span><span>;</span>

<span class="ca5">constructor</span><span class="cm">(</span><span class="ca4">config</span><span>:</span><span class="cv">NgbDatepickerConfig</span><span>, </span><span class="ca4">calendar</span><span>:</span><span class="cv"> NgbCalendar</span><span class="cm">)</span><span class="cm"> &#123;</span>
    <span class="ca5">this</span><span>.</span><span class="ca4">fromDate</span><span> = </span><span class="ca4">calendar</span><span>.</span><span class="cam">getToday</span><span class="ca4">()</span><span>;</span>
    <span class="ca5">this</span><span>.</span><span class="ca4">toDate</span><span> = </span><span class="ca4">calendar</span><span>.</span><span class="cam">getNext</span><span class="ca4">(</span><span class="ca4">calendar</span><span>.</span><span class="cam">getToday()</span><span>,</span><span class="cn">'d'</span><span>,</span><span class="cam">20</span><span class="ca4">)</span><span>;</span>
    <span class="ca4">config</span><span>.</span><span class="ca4">minDate</span><span> = </span><span class="ca4">&#123;</span><span class="ca4"> year:</span><span class="cam"> 1930</span><span>,</span><span class="ca4"> month:</span><span class="cam"> 1</span><span>,</span><span class="ca4"> day:</span><span class="cam"> 1</span><span class="ca4">&#125;</span>
    <span class="ca4">config</span><span>.</span><span class="ca4">maxDate</span><span> = </span><span class="ca4">&#123;</span><span class="ca4"> year:</span><span class="cam"> 2021</span><span>,</span><span class="ca4"> month:</span><span class="cam"> 12</span><span>,</span><span class="ca4"> day:</span><span class="cam"> 31</span><span class="ca4">&#125;</span>
<span class="cm">&#125;</span>

<span class="cam">onDateSelection</span><span class="cm">(</span><span class="ca4">date</span><span>:</span><span class="cv"> NgbDate</span><span class="cm">)</span><span class="cm"> &#123;</span>
    <span class="cm">if</span><span class="ca4">(</span><span>!</span><span class="ca5">this</span><span>.</span><span class="ca4">fromDate</span><span> && </span><span>!</span><span class="ca5">this</span><span>.</span><span class="ca4">toDate</span><span class="ca4">)</span><span class="cm"> &#123;</span>
        <span class="ca5">this</span><span>.</span><span class="ca4">fromDate</span><span> = </span><span class="ca4">date</span><span>;</span>
    <span class="ca4">&#125;</span><span class="cm"> else if</span><span class="ca4"> (</span><span class="ca5">this</span><span>.</span><span class="ca4">fromDate</span><span> && </span><span>!</span><span class="ca5">this</span><span>.</span><span class="ca4">toDate</span><span> && </span><span class="ca4">date</span><span>.</span><span class="cam">after(</span><span class="ca5">this</span><span>.</span><span class="ca4">fromDate</span><span class="cam">)</span><span class="ca4">)</span><span class="ca4"> &#123;</span>
        <span class="ca5">this</span><span>.</span><span class="ca4">toDate</span><span> = </span><span class="ca4">date</span><span>;</span>
    <span class="ca4">&#125;</span><span class="cm"> else</span><span class="ca4">&#123;</span>
        <span class="ca5">this</span><span>.</span><span class="ca4">toDate</span><span> = </span><span class="ca5">null</span><span>;</span>
        <span class="ca5">this</span><span>.</span><span class="ca4">fromDate</span><span> = </span><span class="ca4">date</span><span>;</span>
    <span class="ca4">&#125;</span>
<span class="cm">&#125;</span>

<span class="cam">isHovered</span><span class="cm">(</span><span class="ca4">date</span><span>:</span><span class="cv"> NgbDate</span><span class="cm">)</span><span class="cm"> &#123;</span>
    <span class="cm">return</span><span class="ca5"> this</span><span>.</span><span class="ca4">fromDate</span><span> && </span><span>!</span><span class="ca5">this</span><span>.</span><span class="ca4">toDate</span><span> && </span><span class="ca5">this</span><span>.</span><span class="ca4">hoveredDate</span><span> && </span><span class="ca4">date</span><span>.</span><span class="cam">after<span class="ca4">(</span></span><span class="ca5">this</span><span>.</span><span class="ca4">fromDate</span><span class="ca4">)</span><span> && </span><span class="ca4">date</span><span>.</span><span class="cam">before<span class="ca4">(</span></span><span class="ca5">this</span><span>.</span><span class="ca4">hoveredDate</span><span class="ca4">)</span><span>;</span>
<span class="cm">&#125;</span>

<span class="cam">isInside</span><span class="cm">(</span><span class="ca4">date</span><span>:</span><span class="cv"> NgbDate</span><span class="cm">)</span><span class="cm"> &#123;</span>
    <span class="cm">return</span><span class="ca4"> date</span><span>.</span><span class="cam">after<span class="ca4">(</span></span><span class="ca5">this</span><span>.</span><span class="ca4">fromDate</span><span class="ca4">)</span><span> && </span><span class="ca4">date</span><span>.</span><span class="cam">before<span class="ca4">(</span></span><span class="ca5">this</span><span>.</span><span class="ca4">toDate</span><span class="ca4">)</span><span>;</span>
<span class="cm">&#125;</span>

<span class="cam">isRange</span><span class="cm">(</span><span class="ca4">date</span><span>:</span><span class="cv"> NgbDate</span><span class="cm">)</span><span class="cm"> &#123;</span>
    <span class="cm">return</span><span class="ca4"> date</span><span>.</span><span class="cam">equals<span class="ca4">(</span></span><span class="ca5">this</span><span>.</span><span class="ca4">fromDate</span><span class="ca4">)</span><span> || </span><span class="ca4">date</span><span>.</span><span class="cam">equals<span class="ca4">(</span></span><span class="ca5">this</span><span>.</span><span class="ca4">toDate</span><span class="ca4">)</span><span> || </span><span class="ca5">this</span><span>.</span><span class="cam">isInside</span><span class="ca4">(date)</span><span> || </span><span class="ca5">this</span><span>.</span><span class="cam">isHovered</span><span class="ca4">(date)</span><span>;</span>
<span class="cm">&#125;</span>
                </code>
            </pre>
        </div>
    </div>
</section>