<div class="b-buscador text-center">
    <h1 class="color-blanco">Buscador</h1>
    <div class="row justify-content-md-center">
        <div class="input-group padding-t-40 col-md-6">
            <input type="text" class="form-control no-border-right" placeholder="Buscar....">
            <div class="input-group-append">
                <span class="input-group-text input-group-text-blanco bg-blanco">
                <i class="fa fa-search color-magenta" aria-hidden="true"></i>
         </span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ul class="nav nav-tabs padding-t-50 borde-nav" id="myTab" role="tablist">
        <li class="nav-item  li.nav-item nav-w-h borde">
            <a class="nav-link active" id="opcion1-tab" data-toggle="tab" href="#opcion1" role="tab" aria-controls="opcion1" aria-selected="true"><strong>Todo</strong></a>
        </li>
    </ul>
    <div class="tab-content padding-t-20" id="myTabContent">
        <div class="tab-pane fade show active padding-b-40" id="opcion1" role="tabpanel" aria-labelledby="opcion1-tab">
            <div class="row padding-t-40">
                <div class="col-md-1 text-center vertical">
                    <i class="fa fa-window-maximize fa-2x"></i>
                </div>
                <div class="col-md-11">
                    <h5 class="color-rosaINE">Pruebas de usabilidad</h5>
                    <p class="fw-400 f-16">UX / Pruebas / Pruebas de usabilidad</p>
                    <p class="f-16">Las pruebas de usabilidad permiten llegar a la creación de un sistema o sitio iteramente, por lo tanto puede integrarse rápidamente a procesos ágiles como lo es Scrum.</p>
                </div>
            </div>
            <div class="row padding-t-40">
                <div class="col-md-1 text-center vertical">
                    <i class="fa fa-file-word-o fa-2x"></i>
                </div>
                <div class="col-md-11">
                    <h5 class="color-rosaINE">Pruebas de usabilidad</h5>
                    <p class="fw-400 f-16">UX / Pruebas / Pruebas de usabilidad</p>
                    <p class="f-16">Usa la plantilla de organización de procesos para llevar adecuadamente tu inventario de contenido</p>
                    <p class="color-rosaINE">
                        <a href="#">
                            <span class="fa fa-download fa-2x color-rosaINE"></span>
                        </a>
                        Descargar
                    </p>
                </div>
            </div>
            <div class="row padding-t-40">
                <div class="col-md-1 text-center vertical">
                    <i class="fa fa-window-maximize fa-2x"></i>
                </div>
                <div class="col-md-11">
                    <h5 class="color-rosaINE">A / B Testing</h5>
                    <p class="fw-400 f-16">UX / Pruebas / A - B Testing</p>
                    <p class="f-16">Las pruebas de usabilidad permiten llegar a la creación de un sistema o sitio iteramente, por lo tanto puede integrarse rápidamente a procesos ágiles como lo es Scrum.</p>
                </div>
            </div>
            <div class="row padding-t-40">
                <div class="col-md-1 text-center vertical">
                    <i class="fa fa-file-word-o fa-2x"></i>
                </div>
                <div class="col-md-11">
                    <h5 class="color-rosaINE">Pruebas de usabilidad</h5>
                    <p class="fw-400 f-16">UX / Pruebas / A b-buscador B Testing</p>
                    <p class="f-16">Usa la plantilla de organización de procesos para llevar adecuadamente tus pruebas A - B </p>
                    <p class="color-rosaINE">
                        <a href="#">
                            <span class="fa fa-download fa-2x color-rosaINE"></span>
                        </a>
                        Descargar
                    </p>
                </div>
            </div>
            <div class="row padding-t-40">
                <div class="col-md-1 text-center vertical">
                    <i class="fa fa-file-text-o fa-2x"></i>
                </div>
                <div class="col-md-11">
                    <h5 class="color-rosaINE">Pruebas de estrés</h5>
                    <p class="fw-400 f-16">Desarrollo / Lineamientos generaless / Pruebas</p>
                    <p class="f-16">Las pruebas de estrés permiten llegar a la creación de un sistema..</p>
                </div>
            </div>
        </div>
</div>