@import "./src/sass/variables";
.b-buscador {
    padding: 50px 124px;
    background: linear-gradient(0deg, #000 40%, #000 30%);
    padding-top: 175px;
}

li {
    border-left: $px2 solid $cBlanco;
    border-right: $px2 solid $cBlanco;
}

a:hover {
    color: #D5007F;
}

.borde-nav {
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 3px;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}