<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <h4 class="titulos-elementos padding-t-20">Pick list</h4>
    <!--Pick-list-->
    <div class="padding-t-20">
        <dual-list [source]="source" [(destination)]="target" [format]="format"></dual-list>
    </div>
    <div class="modal fade tamaño-tipografia-14" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Modal title</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cloooe</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Diseño-->
    <div class="row padding-t-80">
        <div class="col-7 col-md-4">
            <img class=" img-fluid " src="./assets/img/picklist/Estilo/picklist-1.svg " alt="Ejemplo de un picklist">
            <div class="padding-t-30">
                <hr class="linea-border border-t-grisClarito4-1">
                <p class="texto-elementos padding-l-40">
                    #DBDBDB
                </p>
            </div>
            <div class="cuadro bg-rosa6"></div>
            <p class="texto-elementos padding-l-40">
                #FCE5F3
            </p>
            <hr class="cuadro bg-gris-clarito">
            <p class="texto-elementos padding-l-40">
                #F2F2F2
            </p>
        </div>
        <div class="col-4 col-md-4">
            <div class="padding-t-100  padding-tp-100">
                <img class=" img-fluid " src="./assets/img/picklist/Estilo/picklist-2.svg " alt="Ilustración de un picklist básico">
            </div>
            <div class=" padding-t-30">
                <div class="cuadro bg-magenta"></div>
                <p class="texto-elementos padding-l-40">
                    #B7006D
                </p>
            </div>
        </div>
    </div>
    <!-- Tipografía -->
    <h4 class="titulos-elementos padding-t-60 padding-b-20">Tipografía</h4>
    <div class="bg-img padding-20 margin-t-10">
        <!-- tiltulos -->
        <div class="row padding-t-10 tamaño-tipografia-14">
            <div class="col-2 col-md-3 ">
                <p class=" ">
                    <strong>Elemento</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p class=" ">
                    <strong>Color</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    <strong>Tamaño</strong>
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p>
                    <strong>Peso y estilo</strong>
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    <strong>Alineación</strong>
                </p>
            </div>
        </div>
        <!-- Opción / hover -->
        <div class="row padding-t-10 f-14 fw-400 tamaño-tipografia-14">
            <div class="col-2 col-md-3 ">
                <p>
                    Opción / hover
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    #333333
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    14px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p>
                    font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Opción seleccionada-->
        <div class="row padding-t-10 f-18 fw-400 tamaño-tipografia-14">
            <div class="col-2 col-md-3 ">
                <p>
                    Opción seleccionada
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    #FFFFFF
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    18px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p>
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
        <!--Botón primario-->
        <div class="row padding-t-10 f-16 fw-500 tamaño-tipografia-14">
            <div class="col-2 col-md-3 ">
                <p>
                    Botón primario
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    #FFFFFF
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p>
                    Font-weight:500
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    Text-align:center
                </p>
            </div>
        </div>

        <!--Botón fantasma-->
        <div class="row padding-t-10 txt-title f-16 fw-500 tamaño-tipografia-14">
            <div class="col-2 col-md-3 ">
                <p>
                    Botón fantasma
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    #B7006D
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p>
                    Font-weight:500
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    Text-align:center
                </p>
            </div>
        </div>
        <!--Ayuda-->
        <div class="row padding-t-10 txt-title f-16 fw-400 tamaño-tipografia-14">
            <div class="col-2 col-md-3 ">
                <p>
                    Ayuda
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    #B7006D
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    16px
                </p>
            </div>
            <div class="col-3 col-md-3 ">
                <p>
                    Font-weight:400
                </p>
            </div>
            <div class="col-2 col-md-2 ">
                <p>
                    Text-align:left
                </p>
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos' ">
    <h3 class="padding-t-30 ">¿Qué es el Pick-list?</h3>
    <p>
        El picklist o lista desplegable, es un elemento de la interfaz de usuario que permite seleccionar un elemento predefinido de una lista de opciones. Por sus facilidades y diferentes usos, este componente es de gran utilidad dentro de los sistemas que se
        desarrollan en el Instituto.
    </p>
    <p>
        Con un doble listado que contiene varios elementos, el picklist ayuda a los usuarios a elegir los datos de su interés a través de una selección múltiple o individual. Además, el reordenamiento que permite realizar facilita las tareas ya sea con controladores
        (opción de accesibilidad) o con un solo arrastrar y soltar.
    </p>
    <p>
        <strong>Picklist básico: </strong> Utiliza este picklist cuando tengas un máximo de diez opciones y el ordenamiento y selecciones sea de uno en uno.
    </p>
    <p class="txt-title ">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Se solicita que se asignen los horarios en los que se harán las visitas a los funcionarios de casilla para cierta sección, con un mínimo de cinco horarios y un máximo de diez, se tendrá que entregar la información en el orden asignado a las visitas correspondientes.
        Utiliza un picklist básico para dar coherencia a la solicitud de horarios y visitas.
    </p>
    <div class="imagen-al-centro">
        <img class=" img-fluid " src="./assets/img/picklist/Usos/uso-picklist.svg " alt="Ilustración de un picklist básico">
    </div>
    <p class="padding-t-40 ">
        <strong>Picklist múltiple: </strong> Cuando el número de datos sea mayor a los diez, utiliza un picklist múltiple para facilitar la selección de información a tus usuarios.
    </p>
    <p class="txt-title ">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        En el sistema de partidos locales, se solicita elegir aquellos que aún no cuentan con todos sus datos en la ficha de registro, hasta el momento se tienen 30 partidos registrados de los cuales no todos han completado el trámite. Se solicita hacer un listado
        para enviar por orden de prioridad un correo solicitando dicha información. Utiliza un picklist múltiple para que en una primera entrada el usuario pueda seleccionar varios partidos locales simultáneamente.
    </p>
    <div class="imagen-al-centro">
        <img class=" img-fluid " src="./assets/img/picklist/Usos/uso-picklist2.svg " alt="Ilustración de un picklist múltiple">
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo' ">
    <div class="padding-t-30 ">
        <h3>Pick-list</h3>
        <p>Encuentra el código HTML necesario para incorporar este componente en tu proyecto. Este código está desarrollado con las validaciones convenientes para facilitar su integración.</p>
    </div>
    <div class="padding-t-20">
        <dual-list [source]="source" [(destination)]="target" [format]="format"></dual-list>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Modal title</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cloooe</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('picklist')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="picklist">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"padding-t-20"</span><span>></span>
    <span><</span><span class="ca5">dual-list</span><span class="ca4"> [source]</span><span>=</span><span class="cn">"source"</span><span class="ca4"> [<span class="cam">(</span>destination<span class="cam">)</span>]</span><span>=</span><span class="cn">"target"</span><span class="ca4"> [format]</span><span>=</span><span class="cn">"format"</span><span>></span><span><</span><span>/</span><span class="ca5">dual-list</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModal"</span><span class="ca4"> tabindex</span><span>=</span><span class="cn">"-1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"dialog"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"exampleModalLabel"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-dialog"</span><span class="ca4"> role</span><span>=</span><span class="cn">"document"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-content"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-header"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-title"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalLabel"</span><span>></span>Modal title<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"close"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"Close"</span><span>></span>
                    <span><</span><span class="ca5">span</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span class="ca5">&#38;times;</span><span><</span><span>/</span><span class="ca5">span</span><span>></span>
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-body"</span><span>></span>
                ...
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-footer"</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn-secondary"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span>></span>
                Cloooe
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn-primary"</span><span>></span>
                Save changes
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <p>A continuación encuentra el código TypeScript necesario para darle funcionalidad a este componente. Sigue estas recomendaciones y construye una interfaz funcional, usable y accesible.</p>
    <div class="jumbotron jumbotron-fluid margin-t-60 margin-b-80">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('picklistts')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="picklistts">
            <pre>
                <code class="language-html" data-lang="html">
<span>@</span><span class="cv">Input</span><span class="cm">(</span><span class="cm">)</span><span class="ca4"> seccion</span><span>:</span><span class="cv"> any</span><span>;</span>
<span class="ca4">source</span><span> = </span><span class="cm">[</span><span class="cn">'Opción 1'</span><span>, </span><span class="cn">'Opción 2'</span><span>, </span><span class="cn">'Opción 3'</span><span>, </span><span class="cn">'Opción 4'</span><span>, </span><span class="cn">'Opción 5'</span><span>, </span><span class="cn">'Opción 6'</span><span>, </span><span class="cn">'Opción 7'</span><span class="cm">]</span><span>;</span>
<span class="ca4">target</span><span> = </span><span class="cm">[]</span><span>;</span>
<span class="ca4">format</span><span> = </span><span class="cm">&#123;</span>
    <span class="ca4">add:</span><span class="cn"> 'Agregar'</span><span>, </span><span class="ca4">remove:</span><span class="cn"> 'Regresar'</span><span>, </span><span class="ca4">all:</span><span class="cn"> 'Agregar todo'</span><span>, </span><span class="ca4">none:</span><span class="cn"> 'Ninguno'</span><span>,</span>
    <span class="ca4">direction:</span><span class="cv"> DualListComponent</span><span>.</span><span class="ca4">LTR</span><span>, </span><span class="ca4">draggable:</span><span class="ca5"> true</span>
<span class="cm">&#125;</span><span>;</span>
                </code>
            </pre>
        </div>
    </div>
</section>