h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
}

/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

@media (max-width: 575.98px) {
    .img-al-centro {
        text-align: center;
    }
    .tamaño-tipografia-14 {
        font-size: 14px;
    }
    .padding-tp-100 {
        padding-top: 100px;
    }
}

@media (max-width: 767px) {
    .tamaño-tipografia-14 {
        font-size: 14px;
    }

    .imagen-al-centro {
        text-align: center;
    }
    .padding-t-0 {
        padding-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}