h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h4{
    font-size: 22px;
    font-weight: bold;
}

ol.listas{
    padding-left: 20px;
    li{
        padding-left: 20px;
    }
}

a{
    text-decoration: underline;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--txt-color-link);
}

ol li::marker {
    font-weight: bold;
    
}

hr {
    border-top: 1px solid var(--hr-color-dd);
}

.fondo {
    background-color: var(--bg-lnmnts-grales);
    li {
        margin-top: 10px;
    }
    p {
        margin-top: 10px;
    }
}


/////CAROUSEL///////

.carousel{
    padding-top: 20px;
    padding-bottom: 60px;
}

.carousel-inner {
    text-align: center;
    justify-content: center;
}

.carousel-control-next, .carousel-control-prev {
    span{
        color: #D5007F;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.carousel-indicators li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 12px;
        height: 12px;
        margin-right: 3px;
        margin-left: 3px;
        cursor: pointer;
        background: #FFFFFF 0% 0%;
        border: 1px solid #9A9A9A;
        opacity: 1;
        border-radius: 20px 20px;
    }


.carousel-indicators li.active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background: #656565 0% 0%;
    border: 1px solid #9A9A9A;
    opacity: 1;
    border-radius: 20px 20px;
}
