<div class="row">
  <div class="col-md-12 col-lg-10 offset-lg-1 margin-b-80 margin-t-80">
    <h3 class="margin-b-30">¿Qué es?</h3>
    <p class="margin-b-20">
      La maqueta tipo consiste en un paquete de archivos para descargar,
      incluye:
    </p>
    <div class="margin-t-20 margin-b-40 padding-t-20 padding-b-20 fondo">
      <ul>
        <li>
          Código fuente, el cual puedes personalizar de acuerdo con las
          necesidades de tu proyecto.
        </li>
        <li>
          Archivo APK para visualizar la maqueta y los componentes de la
          interfaz.
        </li>
      </ul>
    </div>
    <h3 class="margin-b-30">Sobre el código fuente y diseño de interfaz</h3>
    <p>El código fuente de esta maqueta está basado en las pautas que puedes
      encontrar en las secciones:</p>
    <div class="margin-t-20 margin-b-50 padding-t-20 padding-b-20 fondo">
      <ul>
        <li>
          <a [routerLink]="[
            '/documentacion-de-desarrollo/app-moviles/lineamientos-y-buenas-practicas-android/configuracion-general']">
            Lineamientos y buenas prácticas Android
          </a>
        </li>
        <li>
          <a [routerLink]="[
            '/documentacion-de-desarrollo/app-moviles/capas-movil/modelo']">
            Capas MVVM
          </a>
        </li>
        <li>
          <a [routerLink]="[
            '/documentacion-de-desarrollo/app-moviles/estructura-en-un-proyecto/directorios']">
            Estructura en un proyecto Android
          </a>
        </li>
        <li>
          <a [routerLink]="[
            '/documentacion-de-desarrollo/app-moviles/configuracion-general/color']">
            Configuración general
          </a>
        </li>
      </ul>
    </div>
    <p class="margin-b-50">
      Todos los elementos para el diseño de interfaz los puedes encontrar en la
      sección de
      <a [routerLink]="[ '/componentes-ui/android/app-bar-top/estilo']">Componentes
        UI - Android.</a>
    </p>
    <hr>
    <h3 class="margin-t-70">Plantilla</h3>
    <p class="margin-b-35">La maqueta tipo puede ser descargada en el siguiente
      enlace:</p>
    <div class="text-right">
      <a href="./assets/docs/lineamientos-app-moviles/RecipesArquitecturaMVVM.zip" download>
        <button class="btn btn_rosa_ine padding-l-20 padding-r-20">
          <i class="fa fa-download padding-r-15"></i> Descargar plantilla
        </button>
      </a>
    </div>
    <h4 class="margin-t-55">Vista Previa</h4>
    <p class="margin-b-40">Imágenes de carácter ilustrativo.</p>
    <hr>
    <div id="carouselExampleIndicators" class="carousel slide"
      data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"
          class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100"
            src="assets/img/doc-android/maqueta-tipo/maqueta-1.svg"
            alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100"
            src="assets/img/doc-android/maqueta-tipo/maqueta-2.svg"
            alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100"
            src="assets/img/doc-android/maqueta-tipo/maqueta-3.svg"
            alt="Third slide">
        </div>
      </div>
    </div>
  </div>
</div>