<h3 class="sub-tema margin-b-25">¿Qué es placeholder?</h3>
<p class="contenido margin-b-50 text-justify">Es el texto que brinda instrucciones o ejemplos al usuario del formato de datos que se necesitan para llenar los campos de un formulario. Complementa la función de las etiquetas, pero nunca las reemplaza. Los placeholder ayudan a mejorar la accesibilidad,
    a personas con discapacidades cognitivas les sirve como ejemplo del tipo y estructura de datos que deben ingresar.
</p>
<p class="contenido margin-b-25">Ejemplo:</p>
<div class="bg-img text-center">
    <img src="assets/img/UX/placeholder/placeholder.svg" class="img-responsive img-fluid" alt="El uso correcto del placeholder se ejemplifica con dos elementos que muestran el formato de los datos solicitados en color claro. Por otro lado, el uso incorrecto se ejemplifica cuando el placeholder muestra el texto o color similar a su etiqueta.">
</div>
<p class="contenido text-justify margin-t-50">
    Las etiquetas se colocan dependiendo de los idiomas: si es de izquierda a derecha se coloca a la izquierda y para los de derecha a izquierda, a la derecha. En ambos casos puede utilizarse encima del campo.
</p>
<p class="contenido margin-b-80 text-justify">
    Las etiquetas para botones de radio y casillas de verificación se colocan después del campo. Estas posiciones se definen porque es la posición habitual y, por lo tanto, la más predecible para los placeholder, botones de opción y casillas de verificación.
</p>
<h3 class="sub-tema margin-b-50">Buenas prácticas placeholder</h3>
<div class="row">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">1</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde texto-vertical">
        <p class="fw-400 margin-b-0 margin-t-5">No reemplazar las etiquetas, ya que no son compatibles con todos navegadores web y las tecnologías de asistencia no lo tratan como etiquetas.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">2</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde texto-vertical">
        <p class="fw-400 margin-b-0 margin-t-5">Escribir una pista breve de una palabra o frase corta que ayude al usuario con la entrada de datos.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">3</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde texto-vertical">
        <p class="fw-400 margin-b-0 margin-t-5">Desaparecer del campo cuando comienza a ser llenado, solo si es una frase sencilla, para evitar errores en la captura.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">4</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde texto-vertical">
        <p class="fw-400 margin-b-0">No desaparecer en caso de ser información instructiva larga, ya que dificultará a los usuarios verificar sus respuestas.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">5</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde texto-vertical">
        <p class="fw-400 margin-b-0">Usar asterisco para denotar los campos de formulario requeridos siempre y cuando se asocie una leyenda para describirlo: *Campos obligatorios.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">6</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde texto-vertical">
        <p class="fw-400 margin-b-0">Utilizar un tono más claro o una menor opacidad que la del texto proporcionado por los usuarios.</p>
    </div>
</div>
<div class="row margin-t-30">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 centrar-vertical">
        <p class="circulo-numero">7</p>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-11 border-verde texto-vertical">
        <p class="fw-400 margin-b-0">Evitar su uso como la única forma de comunicar la etiqueta para un campo de formulario, ya que genera las siguientes desventajas:</p>
    </div>
</div>
<div class="row padding-t-30">
    <div class="offset-1 col-md-11">
        <ul class="bg-img padding-t-10 padding-b-10">
            <li class="margin-b-15">No tiene suficiente contraste de color y puede costar más trabajo al leer para personas con debilidad visual.</li>
            <li class="margin-b-15">Los usuarios pueden pensar que el campo de texto está lleno y omitir el campo de texto.</li>
            <li>Desaparece cuando un cuadro de texto comienza a recibir texto.</li>
        </ul>
    </div>
</div>