h3 {
    font-size: 1.5rem;
}

.sub-tema {
    font-weight: 700;
}

.contenido {
    font-weight: 400;
}

.circulo-numero {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    float: left;
    margin-top: 4px;
    color: white;
    text-align: center;
    font-weight: 700;
    background: #4199A0 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px;
}

.border-verde {
    border-left: 1px solid #4199A0;
    opacity: 1;
    padding-left: 30px;
    height: 58px;
}

.bg-gris {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333333;
    font-weight: 400;
}

.centrar-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 30px;
}

.texto-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    padding: 30px 60px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .border-verde {
        border-left: 1px solid #4199A0;
        opacity: 1;
        padding-left: 30px;
        height: 100px;
    }
    img {
        padding: 10px 20px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .border-verde {
        border-left: 1px solid #4199A0;
        opacity: 1;
        padding-left: 30px;
        height: 70px;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width