@import "sass/variables";
@import "sass/colores";
@import "sass/mixin";
@import "sass/margin";
@import "sass/padding";
@import "sass/botones";
@import "sass/links";
@import "sass/images";
@import "sass/formas";
@import "sass/general";
@import "sass/borders";
@import "sass/medidas";
@import "sass/tablas";
@import "sass/input";
@import "sass/checkbox";
@import "sass/tarjetas";
@import "sass/paginacion";
@import "sass/alertas";
@import "sass/progreso";
@import "sass/modal";
@import "sass/acordeon";
@import "sass/migajas";
@import "sass/pestanas";
@import "sass/radio";
@import "sass/search";
@import "sass/toggle";
@import "sass/calendar";
@import "sass/colorCodigo";
@import "sass/combo";
@import "sass/navs";
@import "sass/progressbar";
@import "sass/card";
@import "sass/spinner";
@import "sass/picklist";
@import "sass/adjuntar";
@import "sass/formulario";
@import "sass/tooltips";
@import "sass/toast";
:root {
    --bg-header: #252525;
    --bg-footer: #242424;
    --bg-body: #FFFFFF;
    --bg-menu-izq: #FFFFFF;
    --bg-li-active: #FCECF4;
    --bg-li-nav-item: #F2F2F2;
    --bg-img: #F8F8F8;
    --bg-tabs: #FFFFFF;
    --bg-navs: #F2F2F2;
    --bg-search: #F8F8F8;
    --bg-result-search: #FFFFFF;
    --txt-color: #333333;
    --txt-color-link: #D5007F;
    --txt-color-ul-li: #000000;
    --txt-result-ul: #D5007F;
    --txt-color-nav: #333333;
    --txt-img-title: #B7006D;
    --txt-web: #666666;
    --border-color-nav: #FFFFFF;
    --border-menu-izq: #CECECE;
    --border-menu-der: #D8D8D8;
    --border-box-shadow: #DDDDDD;
    --hr-color: #C1C1C1;
    --hr-color-ui: #9B9B9B;
    --hr-color-dd: #CECECE;
    --bg-lnmnt-back-android: #F1F8F9;
    --bg-lnmnt-front: #FFFFFF;
    --bg-lnmnts-grales: #F2F2F2;
    --bg-cards: #FFFFFF;
    --bg-carousel: #F1F1F2;
    --card-home: #FFFFFF;
    --card-borde: #B6B5B5;
    --card-bs: #0000001A;
    --card-ux-hover: #D3097F;
    --card-generales: #FFFFFF;
    --card-ui-hover: #7A4493;
    --card-desarrollo-hover: #4199A0;
    --card-generales-borde: #CCCBCB;
    --footer-home: #DADADB;
    --bg-gris: #F5F5F5;
    --card-footer: #FFFFFF;
    --txt-footer: #6E6E6E;
    --bg-table: #F4F4F4;
    --btn-ux-descargar: #B7086D;
    --txt-card-rosa: #B60F6F;
    --txt-card-morado: #8140A1;
    --txt-card-azul: #2E6E73;
    --palomita-circulo: #FFFFFF;
    --card-rosa-hover: #FCECF4;
    --card-morado-hover: #F5F1F8;
    --card-azul-hover: #F1F8F9;
    --btn-rosa-invertido: #F8F8F8;
}

body {
    background: var(--bg-body);
    color: var(--txt-color);
}
