<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <h4 class="titulos-elementos padding-t-10">Adjuntar archivo</h4>
    <div class="padding-t-20">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <div class="row">
                    <div class="col-12 form-control form-control-completo adjuntar">
                        Arrastra tu archivo aquí
                    </div>
                    <div class="offset-md-4 col-md-8 text-right padding-t-10 padding-r-0">
                        <button type="button" class="btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="openFileSelector()"><i class="fa fa-upload padding-r-15"
                                aria-hidden="true"></i>Adjuntar archivo</button>
                    </div>
                </div>
            </ng-template>
        </ngx-file-drop>
    </div>
    <h4 class="titulos-elementos padding-t-40">Adjuntar imagen</h4>
    <div class="col-12 padding-t-50 padding-b-60">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <div class="row text-center col-12 col-sm-6 col-md-6">
                    <div class="col-12 form-control form-control-completo adjuntar-imagen padding-t-40">
                        <i class="fa fa-camera padding-r-15" aria-hidden="true"></i>
                        <p>Arrastra tu imagen aquí</p>
                    </div>
                    <div class="offset-md-4 text-right col-md-8 padding-t-10 padding-r-0">
                        <button type="button" class="btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="openFileSelector()">Adjuntar imagen</button>
                    </div>
                </div>
            </ng-template>
        </ngx-file-drop>
    </div>
    <h4 class="titulos-elementos padding-t-40">Tipografía</h4>
    <!-- Titulos -->
    <div class="table-responsive-sm table-responsive-md margin-b-60 bg-img">
        <table class="web">
            <tr>
                <th>Elemento</th>
                <th>Color</th>
                <th>Tamaño</th>
                <th>Peso y estilo</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td>Etiqueta</td>
                <td>#494949</td>
                <td>14px</td>
                <td>Font-weight:400</td>
                <td>Text-align:left</td>
            </tr>
            <tr>
                <td>Texto de adjunto</td>
                <td>#333333</td>
                <td>16px</td>
                <td>Font-weight:400</td>
                <td>Text-align:left</td>
            </tr>
            <tr class="placeholder-referencia tamaño-tipografia-14">
                <td>Placeholder</td>
                <td>#B2B2B2</td>
                <td>16px</td>
                <td>Font-weight:400</td>
                <td> Text-align:left</td>
            </tr>
            <tr class="txt-title tamaño-tipografia-14">
                <td>Etiqueta de botón</td>
                <td>#B7006D</td>
                <td>16px</td>
                <td>Font-weight:500</td>
                <td> Text-align:center</td>
            </tr>
        </table>
    </div>
    <h4 class="titulos-elementos padding-t-40">Estructura</h4>
    <div class="padding-t-10 img-al-centro">
        <p class="subseccion etiqueta-referencia text-left">Selección de archivo</p>
        <img class="img-fluid " align="left " src="./assets/img/adjuntar/Estilo/estructura-1.svg" alt="El input del componente debe medir 45px de alto al igual que el botón. El ancho del botón dependerá del contenido.">
    </div>
    <div class="padding-t-40 img-al-centro">
        <p class="subseccion etiqueta-referencia text-left">Selección de imagen</p>
        <img class="img-fluid " align="left " src="./assets/img/adjuntar/Estilo/estructura-2.svg" alt="El input del componente debe medir 45px de alto al igual que el botón. El ancho del botón dependerá del contenido.">
    </div>
    <div class="row">
        <div class="col-md-6 col-12 col-sm-12 img-al-centro padding-t-40">
            <p class="subseccion etiqueta-referencia text-left">Arrastre</p>
            <img class="img-fluid " align="left " src="./assets/img/adjuntar/Estilo/estructura-3.svg" alt="Cuando aparece una notificación para informar la acción del componente debe medir 30px de alto">
        </div>
        <div class="col-md-6 padding-t-40 img-al-centro">
            <img class="img-fluid padding-t-40" align="left " src="./assets/img/adjuntar/Estilo/estructura-4.svg" alt="Una vez que se han adjuntado los archivos, el alto del contendedor dependerá de la cantidad de archivos adjuntados">
        </div>
    </div>
    <!--Espaciado-->
    <h4 class="titulos-elementos padding-t-40">Espaciado</h4>
    <div class="padding-t-10 img-al-centro">
        <p class="subseccion etiqueta-referencia text-left">Selección de archivo</p>
        <img class="img-fluid " align="left " src="./assets/img/adjuntar/Estilo/espaciado-1.svg" alt="El espacio entre el input y el texto debe ser 15px. En cuanto al botón el espacio debe ser 15px a cada lado y 10px entre el ícono y el texto. El espacio entre el input y el botón debe medir 8px.">
    </div>
    <div class="row padding-t-10">
        <div class="col-md-6 padding-t-40 img-al-centro">
            <p class="subseccion etiqueta-referencia text-left ">Selección de imagen</p>
            <img class="img-fluid " align="left " src="./assets/img/adjuntar/Estilo/espaciado-2.svg" alt="El input para seleccionar una imagen debe tener un epaciado entre el ícono y el texto inferior de 15px. Entre el input y el botón debe ser 8px. Y debe tener 15px a cada lado entre el texto y el borde botón.">
        </div>
        <div class="col-md-6 img-al-centro padding-t-40">
            <img class="img-fluid padding-t-40" align="left " src="./assets/img/adjuntar/Estilo/espaciado-3.svg" alt="El espacio dentro del input y la imagen seleccionada debe ser 15px y entre el texto y el borde del botón 15px.">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 img-al-centro padding-t-40 padding-b-50">
            <p class="subseccion etiqueta-referencia margin-0 text-left">Arrastre</p>
            <img class="img-fluid " align="left " src="./assets/img/adjuntar/Estilo/espaciado-4.svg" alt="El espacio para el ícono de la etiqueta de información debe ser 8px a cada lado y entre el input y la etiqueta debe ser 5px. Para el botón debe medir 15px entre el contorno y el ícono y 10px entre el ícono y el texto.">
        </div>
        <div class="col-md-6 padding-t-40 img-al-centro">
            <img class="img-fluid padding-t-40" align="left " src="./assets/img/adjuntar/Estilo/espaciado-5.svg" alt="El espacio entre la etiqueta de información y el botón debe ser 8px.">
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es adjuntar?</h3>
    <div class="padding-t-15">
        <p>Es la acción de agregar uno o varios archivos a ﬁn de guardar o enviar información complementaria, normalmente tiene un límite de tamaño, además entre mayor sea el tamaño, tardará más tiempo en cargar.</p>
        <p>El componente de adjuntar, es un botón que tiene características muy especíﬁcas aunque ejecuta una acción, es i
        </p>
        <br>
        <p><strong>Selección de archivo:</strong> Coloque un botón que indique la acción que deberá ejecutar el usuario, seguido de un área que especiﬁque hasta el momento qué ha sucedido.</p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>Se solicita adjuntar en formato PDF, la copia de la credencial de elector de cierto ciudadano. En este caso, utiliza un Seleccionar archivo antecediendo de las cuestiones técnicas que deberá de considerar en un mensaje informativo, además, en
            el área de especiﬁcaciones colocar a manera de placeholder: ‘Arrastrar archivo.pdf’</p>
        <div class="img-al-centro">
            <img class="img-fluid" src="./assets/img/adjuntar/Usos/uso-1.svg" alt="Ilustración que muestra el uso del componente para adjuntar un archivo">
        </div>
        <p class="margin-t-40"><strong>Selección de imagen:</strong> Este adjuntar será más gráﬁco y a través de un ícono se indicará que el adjunto deberá ser una imagen.</p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Es necesario subir la imagen que el usuario utilizará como logotipo de su candidatura independiente. Utiliza una Selección de imagen que contenga el ícono de cámara, crea el espacio donde se visualizará la imagen y añade un mensaje: ‘Ninguna imagen seleccionada’.
        </p>
        <div class="img-al-centro">
            <img class="img-fluid" src="./assets/img/adjuntar/Usos/uso-2.svg" alt="Ilustración que muestra el uso del componente para adjuntar una imagen">
        </div>
        <p class="margin-t-40">
            <strong>Arrastre:</strong> Combina una Selección de archivo con un arrastre para facilitar a tus usuarios el proceso de adjuntar simultáneamente varios archivos.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p class="text-justify">
            El usuario necesita subir varias imágenes. Para este caso, usa un arrastre con el mensaje: ‘Arrastra tus imágenes aquí’, ya que visualmente el usuario detectará con facilidad qué imagen o imágenes requiere subir en su equipo de cómputo y en el
            área de arrastre podrá visualizar todas las selecciones.
        </p>
        <div class="img-al-centro">
            <img class="img-fluid" src="./assets/img/adjuntar/Usos/uso-3.svg" alt="Ilustración que muestra el uso del componente para adjuntar varios documentos">
        </div>
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Características</h3>
    <p>Encuentra el código HTML necesario para incorporar este componente en tu proyecto. Este código está desarrollado con las validaciones convenientes para facilitar su integración.</p>
    <div class="padding-t-30">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <div class="row">
                            <div class="col-12 form-control form-control-completo adjuntar">
                                Arrastra tu archivo aquí
                            </div>
                            <div class="offset-md-4 col-md-8 text-right padding-t-10 padding-r-0">
                                <button type="button" class="btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="openFileSelector()"><i class="fa fa-upload padding-r-15"
                                        aria-hidden="true"></i>Adjuntar archivo</button>
                            </div>
                        </div>
                    </ng-template>
                </ngx-file-drop>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid margin-t-60">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('adjuntar')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="adjuntar">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">ngx-file-drop</span><span class="ca4"> dropZoneLabel</span><span>=</span><span class="cn">"Drop files here"</span><span class="cam"> (</span><span class="ca4">onFileDrop</span><span class="cam">)</span><span>=</span><span class="cn">"dropped($event)"</span><span class="cam"> (</span><span class="ca4">onFileOver</span><span class="cam">)</span><span>=</span><span class="cn">"fileOver($event)"</span><span class="cam"> (</span><span class="ca4">onFileLeave</span><span class="cam">)</span><span>=</span><span class="cn">"fileLeave($event)"</span><span>></span>
    <span><</span><span class="ca5">ng-template</span><span class="ca4"> ngx-file-drop-content-tmp</span><span class="ca4"> let-openFileSelector</span><span>=</span><span class="cn">"openFileSelector"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"row"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-12 form-control form-control-completo adjuntar"</span><span>></span>
            Arrastra tu archivo aquí
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"offset-md-4 col-md-8 text-right padding-t-10 padding-r-0"</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn_rosa_invertido_ine padding-l-20 padding-r-20"</span><span class="cam"> (</span><span class="ca4">click</span><span class="cam">)</span><span>=</span><span class="cn">"openFileSelector()"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-upload padding-r-15"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>Adjuntar archivo
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">ng-template</span><span>></span>
<span><</span><span>/</span><span class="ca5">ngx-file-drop</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <div class="padding-t-80">
        <div class="col-12 col-sm-12 padding-t-50 padding-b-60">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <div class="row text-center col-6 col-sm-6">
                        <div class="col-12 col-sm-12 form-control form-control-completo adjuntar-imagen padding-t-40">
                            <i class="fa fa-camera padding-r-15" aria-hidden="true"></i>
                            <p>Arrastra tu imagen aquí</p>
                        </div>
                        <div class="offset-md-4 text-right col-md-8 padding-t-10 padding-r-0">
                            <button type="button" class="btn_rosa_invertido_ine padding-l-20 padding-r-20" (click)="openFileSelector()">Adjuntar imagen</button>
                        </div>
                    </div>
                </ng-template>
            </ngx-file-drop>
        </div>
        <div class="jumbotron jumbotron-fluid margin-t-60">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('adjuntarImg')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="adjuntarImg">
                <pre>
                    <code class="language-html" data-lang="html">
<span><</span><span class="ca5">ngx-file-drop</span><span class="ca4"> dropZoneLabel</span><span>=</span><span class="cn">"Drop files here"</span><span class="cam"> (</span><span class="ca4">onFileDrop</span><span class="cam">)</span><span>=</span><span class="cn">"dropped($event)"</span><span class="cam"> (</span><span class="ca4">onFileOver</span><span class="cam">)</span><span>=</span><span class="cn">"fileOver($event)"</span><span class="cam"> (</span><span class="ca4">onFileLeave</span><span class="cam">)</span><span>=</span><span class="cn">"fileLeave($event)"</span><span>></span>
    <span><</span><span class="ca5">ng-template</span><span class="ca4"> ngx-file-drop-content-tmp</span><span class="ca4"> let-openFileSelector</span><span>=</span><span class="cn">"openFileSelector"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"row text-center"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"form-control form-control-completo adjuntar-imagen padding-t-40"</span><span>></span>
                <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-camera padding-r-15"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span class="ca5">p</span><span>></span>Arrastra tu imagen aquí<span><</span><span>/</span><span class="ca5">p</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"text-right offset-md-4 col-md-8 padding-t-10 padding-r-0"</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn_rosa_invertido_ine padding-l-20 padding-r-20"</span><span class="cam"> (</span><span class="ca4">click</span><span class="cam">)</span><span>=</span><span class="cn">"openFileSelector()"</span><span>></span>
                    Adjuntar imagen
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">ng-template</span><span>></span>
<span><</span><span>/</span><span class="ca5">ngx-file-drop</span><span>></span>
                    </code>
                </pre>
            </div>
        </div>
        <p>A continuación encuentra el código TypeScript necesario para darle funcionalidad a este componente. Sigue estas recomendaciones y construye una interfaz funcional, usable y accesible.</p>
        <div class="jumbotron jumbotron-fluid margin-t-60">
            <p class="text-right margin-0">
                <span class="function-copiar" (click)="CopyToClipboard('adjuntarts')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
            </p>
            <hr class="hrJumbotron">
            <div id="adjuntarts">
                <pre>
                    <code class="language-html" data-lang="html">
<span>@</span><span class="cv">Input</span><span class="cm">(</span><span class="cm">)</span><span class="ca4"> seccion</span><span>:</span><span class="cv"> any</span><span>;</span>
<span class="ca5">public</span><span class="ca4"> files</span><span>:</span><span class="cv"> NgxFileDropEntry</span><span class="cm">[]</span><span> = </span><span class="cm">[]</span><span>;</span>

<span class="ca5">public</span><span class="cam"> dropped</span><span class="cm">(</span><span class="ca4">files</span><span>:</span><span class="cv"> NgxFileDropEntry</span><span class="ca4">[]</span><span class="cm">)</span><span class="cm"> &#123;</span>
    <span class="ca5">this</span><span>.</span><span class="ca4">files</span><span> = </span><span class="ca4">files</span>;
    <span class="cm">for</span><span class="ca4">(</span><span class="ca5">const</span><span class="ca4"> droppedFile</span><span class="ca5"> of</span><span class="ca4"> files</span><span class="ca4">)</span><span class="ca4"> &#123;</span>
        <span class="cm">if</span><span class="cam">(</span><span class="ca4">droppedFile</span><span>.</span><span class="ca4">fileEntry</span><span>.</span><span class="ca4">isFile</span><span class="cam">)</span><span class="cam"> &#123;</span>
            <span class="ca5">const</span><span class="ca5"> fileEntry</span><span> = </span><span class="ca4">droppedFile</span><span>.</span><span class="ca4">fileEntry</span><span class="cm"> as</span><span class="cv"> FileSystemFileEntry</span>
        <span class="cam">&#125;</span><span class="cm">else</span><span class="cam">&#123;</span>
            <span class="ca5">const</span><span class="ca5"> fileEntry</span><span> = </span><span class="ca4">droppedFile</span><span>.</span><span class="ca4">fileEntry</span><span class="cm"> as</span><span class="cv"> FileSystemDirectoryEntry</span>
        <span class="cam">&#125;</span>
    <span class="ca4">&#125;</span>
<span class="cm">&#125;</span>

<span class="ca5">public</span><span class="cam"> fileOver</span><span class="cm">(</span><span class="ca4">event</span><span class="cm">)</span><span class="cm"> &#123;</span><span class="cm"> &#125;</span>

<span class="ca5">public</span><span class="cam"> fileLeave</span><span class="cm">(</span><span class="ca4">event</span><span class="cm">)</span><span class="cm"> &#123;</span><span class="cm"> &#125;</span>
                    </code>
                </pre>
            </div>
        </div>
    </div>
</section>