<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <!-- Tipos de modales -->
    <h4 class="titulos-elementos padding-t-40">Tipos de modales</h4>
    <h6 class="titulo-elementos-gris padding-t-20">Modal pequeña</h6>

    <div class="bg-img padding-60 margin-t-10">
        <div align="center">
            <img class=" img-fluid " src="./assets/img/modal/Estilo/modal-pequenia.svg " alt="Ilustración de un modal que ocupa un pequeño porcentaje del ancho de la pantalla">
        </div>
    </div>

    <h6 class="titulo-elementos-gris padding-t-50">Modal mediana</h6>
    <div class="bg-img padding-60 margin-t-10">
        <div align="center">
            <img class=" img-fluid " src="./assets/img/modal/Estilo/modal-mediana.svg" alt="Ilustración de un modal que ocupa un porcentaje mediano del ancho de la pantalla">
        </div>
    </div>

    <h6 class="titulo-elementos-gris padding-t-50">Modal grande</h6>
    <div class="bg-img padding-60 margin-t-10">
        <div align="center">
            <img class=" img-fluid " src="./assets/img/modal/Estilo/modal-grande.svg" alt="Ilustración de un modal que ocupa un gran porcentaje del ancho de la pantalla">
        </div>
    </div>

    <h6 class="titulo-elementos-gris padding-t-50">Modal confirmación</h6>
    <div class="bg-img padding-60 margin-t-10">
        <div align="center">
            <img class=" img-fluid " src="./assets/img/modal/Estilo/modal-confirmacion.svg" alt="Ilustración de un modal en donde se pregunta si estás seguro de completar la acción junto con los botones cancelar y aceptar">
        </div>
    </div>

    <h6 class="titulo-elementos-gris padding-t-50">Modal informativo</h6>
    <div class="bg-img padding-60 margin-t-10">
        <div align="center">
            <img class=" img-fluid " src="./assets/img/modal/Estilo/modal-informativo.svg" alt="Ilustración de un modal con texto y el botón principal entendido">
        </div>
    </div>

    <h6 class="titulo-elementos-gris padding-t-50">Modal en modo espera</h6>
    <div class="bg-img padding-60 margin-t-10">
        <div align="center">
            <img class="img-fluid" src="./assets/img/modal/Estilo/modal-modoespera.svg" alt="Ilustración de un modal con un icono de carga">
        </div>
    </div>

    <!--Diseño-->
    <h4 class="titulos-elementos padding-t-60">Diseño</h4>
    <div class="bg-img padding-60 margin-t-20">
        <div align="center">
            <img class="img-fluid" src="./assets/img/modal/Estilo/modal-diseño.svg" alt="El fondo del encabezado de los modales debe ser gris obscuro y el fondo para el contenido debe ser blanco. Debe llevar un sombreado de 3px 6px 6px 0 negro con transparencia del 16% y un borde redondeado de 5px">
        </div>
    </div>
    <!-- Tipografía -->
    <h4 class="titulos-elementos padding-t-60">Tipografía</h4>
    <div class="bg-img padding-20 margin-t-20">
        <!-- tiltulos -->
        <div class="row padding-t-10 tamaño-tipografia-14">
            <div class="col-md-3 col col-sm">
                <p class="">
                    <strong>Elemento</strong>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    <strong>Color</strong>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    <strong>Tamaño</strong>
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    <strong>Peso y estilo</strong>
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    <strong>Alineación</strong>
                </p>
            </div>
        </div>
        <!-- Título modal -->
        <div class="row padding-t-10 titulo-modal tamaño-tipografia-14">
            <div class="col-md-3 col col-sm">
                <p class="">
                    Título de modal
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    #FFFFFF
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    20px
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    font-weight:700
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
        <!-- Texto de contenido-->
        <div class="row padding-t-10 etiqueta-input tamaño-tipografia-14">
            <div class="col-md-3 col col-sm">
                <p class="">
                    Texto de contenido
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    #333333
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    16px
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    Font-weight:400
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
        <!--Importante-->
        <div class="row padding-t-10 texto-importante tamaño-tipografia-14">
            <div class="col-md-3 col col-sm">
                <p class="">
                    Importante
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    #333333
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    24px
                </p>
            </div>
            <div class="col-md-3 col col-sm">
                <p class="">
                    Font-weight:600
                </p>
            </div>
            <div class="col-md-2 col col-sm">
                <p class="">
                    Text-align:left
                </p>
            </div>
        </div>
    </div>
    <!--Estructura-->
    <h4 class="titulos-elementos padding-t-60">Estructura</h4>
    <p class="subseccion etiqueta-input padding-t-10">Tamaño</p>
    <p class="subseccion etiqueta-referencia padding-t-30">Modal pequeña</p>
    <div class="bg-img padding-40 margin-t-10">
        <div align="center">
            <img class="img-fluid" src="./assets/img/modal/Estilo/estructura-1.svg" alt="Medidas para la modal pequeña: ancho 350px, alto según el contenido, ancho del botón de cierre 15px, ancho del ícono de carga 90px centrado, altura del encabezado depende del contenido.">
        </div>
    </div>
    <p class="subseccion etiqueta-referencia padding-t-50">Modal mediana</p>
    <div class="bg-img padding-40 margin-t-10">
        <div align="center">
            <img class="img-fluid" src="./assets/img/modal/Estilo/estructura-3.svg" alt="Medidas para la modal grande: ancho 900px, alto según el contenido, ancho del botón de cierre 22px">
        </div>
    </div>
    <p class="subseccion etiqueta-referencia padding-t-50">Modal grande</p>
    <div class="bg-img padding-40 margin-t-10">
        <div align="center">
            <img class="img-fluid" src="./assets/img/modal/Estilo/estructura-2.svg" alt="Medidas para la modal grande: ancho 900px, ancho del botón de cierre 22px">
        </div>
    </div>
    <!--Espaciado-->
    <h4 class="titulos-elementos padding-t-60">Espaciado</h4>
    <p class="subseccion etiqueta-referencia padding-t-20">Modal de confirmación</p>
    <div class="bg-img padding-40 margin-t-10">
        <div align="center">
            <img class="img-fluid" src="./assets/img/modal/Estilo/espaciado-1.svg" alt="Espaciado del modal de confirmación: 25px para todos los elementos exepto margen inferior del encabezado que debe ser 15px y el espacio entre los botones 10px">
        </div>
    </div>
    <p class="subseccion etiqueta-referencia padding-t-50">Modal de informativo</p>
    <div class="bg-img padding-40 margin-t-10">
        <div align="center">
            <img class="img-fluid" src="./assets/img/modal/Estilo/espaciado-2.svg" alt="Espaciado del modal informativo: 25px para todos los elementos exepto margen inferior del encabezado que debe ser 15px, el espacio alrededor del botón de cierre debe ser 15px y el espacio entre un párrafo y un subtítulo debe der 50px.">
        </div>
    </div>
    <p class="subseccion etiqueta-referencia padding-t-50">Modal pequeña</p>
    <div class="bg-img padding-40 margin-t-10">
        <div align="center">
            <img class="img-fluid" src="./assets/img/modal/Estilo/espaciado-3.svg" alt="Espaciado de la modal pequeña: 25px para todos los elementos exepto margen inferior del encabezado que debe ser 15px.">
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Qué es un Modal?</h3>
    <p>
        Los modales son muy útiles cuando necesitamos que los usuarios enfoquen su atención a un diálogo que dará comienzó a un nuevo flujo, además este componente puede involucrar tareas específicas para nuestros usuarios.

    </p>
    <p>
        El modal se sobrepone en la pantalla bloqueando cualquier interacción para que las acciones solo se ejecuten dentro de este.

    </p>
    <p>
        <strong>Modal de confirmación:</strong> Cuando los usuarios tengan que confinar un proceso que determine una situación de riesgo o cambio de flujo, utiliza un modal de confirmación. Cuando los usuarios tengan que confinar un proceso que determine
        una situación de riesgo o cambio de flujo, utiliza un modal de confirmación.
    </p>
    <p>
        Recuerda que irán acompañadas de dos acciones donde el usuario tendrá que tomar decisiones o simplemente cerrar el modal. Utiliza este componente con cuidado y evita dar soluciones que puedan realizarse con otro tipo de componente, ya que, al pausar constantemente
        el flujo de tus usuarios, puedes frustrarlo o hacer que deje tareas pendientes por realizar.

    </p>
    <p class="txt-title">
        <b>Ejemplo:</b>
    </p>
    <p>
        En el sistema de Registro de Observadores, se solicita eliminar definitivamente a aquellos ciudadanos que no completaron el proceso de selección, una vez que se han preseleccionado los ciudadanos que serán eliminados, el sistema requiere una confirmación
        de este proceso al usuario. Utiliza un modal de confirmación, con la siguiente leyenda:

    </p>
    <p class="text-justify padding-l-25 padding-r-25">
        “Estás a punto de eliminar a los siguientes ciudadanos de la lista de Observadores electorales: Xxxxxx, Xxxxxx, Xxxxxx. ¿Quieres continuar con el proceso? [Eliminar | Cancelar]”.
    </p>

    <div class="img-al-centro">
        <img class="img-fluid" src="./assets/img/modal/Usos/uso-1.svg" alt="Ilustración de un modal de confirmación de proceso con los botones cancelar y eliminar.">
    </div>
    <div class="padding-t-50">
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong>
            <li type="disc">No coloques más de dos acciones dentro de un modal de confirmación.</li>
            <li type="disc">Siempre da un contexto claro y una descripción de lo que sucederá dentro del proceso.</li>
            <li type="disc">Utiliza un lenguaje amigable y evita términos ambiguos y técnicos.</li>
            <li type="disc">Siempre da la opción al usuario de cerrar el modal con un ícono visible.</li>
            <li type="disc">No utilices el modal a manera de pasos o secuencias a seguir con repetidas confirmaciones.
            </li>
            <li type="disc">Evita etiquetas poco contextualizadas (Sí y No) para las acciones.</li>
        </p>
    </div>
    <p class="padding-t-40">
        <strong>Modal informativo:</strong> Siempre que sea necesario dar alguna información importante que intervenga en el flujo del usuario, apóyate de un modal informativo.

    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        En el sistema de Quejas y denuncias, el solicitante da de alta una nueva queja, en ese momento el sistema debe informar el proceso a seguir y asignarle un número de folio a su seguimiento. Apóyate de un modal que contenga una acción [Entendido], que indique
        toda la información necesaria para el usuario.

    </p>
    <div class="img-al-centro">
        <img class="img-fluid imag-al-centro" src="./assets/img/modal/Usos/uso-2.svg" alt="Ilustración de un modal informativo con el botón entendido">
    </div>

    <p class="padding-t-60">
        <b>Modal en modo espera:</b> Cuando se requieran ejecutar acciones que lleven un tiempo estimado de espera para el usuario, siempre utilizarás este componente para indicar que los procesos se están ejecutando.
    </p>
    <p>
        A diferencia de los otros tipos de modales, éste no podrá ser cerrado por el usuario, por eso, te sugerimos que lo uses en casos muy necesarios donde los procesos no dependan del usuario, si no, del sistema.

    </p>
    <p class="txt-title">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        El usuario está a punto de ejecutar el proceso de Segunda Insaculación, se sabe que esto tomará unos cuantos segundos. Utiliza un modal en espera donde indiques al usuario con algunas leyendas el proceso de la insaculación en el que se encuentra.
    </p>
    <div class="img-al-centro">
        <img class="img-fluid" src="./assets/img/modal/Usos/uso-3.svg" alt="Ilustración de un modal en modo de espera">
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Modal</h3>
    <h4 class="titulo-elementos-gris padding-t-20">Modal pequeña</h4>
    <!-- Modal Pequeña -->
    <div class="text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_rosa_ine" data-toggle="modal" data-target="#exampleModalPequena">
            Modal
        </button>
    </div>
    <div class="modal fade" id="exampleModalPequena" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelPequena" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-pequeno" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabelPequena">Título modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="titulo-modal padding-t-10">Contenido de ventana modal...</h6>
                    <div class="row">
                        <div class="col-md col col-sm">
                            <div class="padding-t-20">
                                <div class="sk-cube-grid margin-l-150">
                                    <div class="sk-cube sk-cube1"></div>
                                    <div class="sk-cube sk-cube2"></div>
                                    <div class="sk-cube sk-cube3"></div>
                                    <div class="sk-cube sk-cube4"></div>
                                    <div class="sk-cube sk-cube5"></div>
                                    <div class="sk-cube sk-cube6"></div>
                                    <div class="sk-cube sk-cube7"></div>
                                    <div class="sk-cube sk-cube8"></div>
                                    <div class="sk-cube sk-cube9"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Código-->
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('modalPequena')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="modalPequena">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> data-target</span><span>=</span><span class="cn">"#exampleModalPequena"</span><span>></span>
    Modal
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalPequena"</span><span class="ca4"> tabindex</span><span>=</span><span class="cn">"-1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"dialog"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"exampleModalLabelPequena"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-dialog modal-dialog-centered modal-pequeno"</span><span class="ca4"> role</span><span>=</span><span class="cn">"document"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-content"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-header"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-title"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalLabelPequena"</span><span>></span>Título modal<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"close"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"Close"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-times-circle"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-body"</span><span>></span>
                <span><</span><span class="ca5">h6</span><span class="ca4"> class</span><span>=</span><span class="cn">"titulo-modal padding-t-10"</span><span>></span>Contenido de ventana modal...<span><</span><span>/</span><span class="ca5">h6</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"row"</span><span>></span>
                    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-md col col-sm"</span><span>></span>
                        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"padding-t-20"</span><span>></span>
                            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube-grid margin-l-150"</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube1"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube2"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube3"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube4"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube5"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube6"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube7"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube8"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube9"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!-- Modal Mediana -->
    <h4 class="titulo-elementos-gris padding-t-60">Modal mediano</h4>
    <div class="text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_rosa_ine" data-toggle="modal" data-target="#exampleModalMediana">
            Modal
        </button>
    </div>
    <div class="modal fade" id="exampleModalMediana" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelMediana" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabelMediana">Título modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="titulo-modal padding-t-10">Contenido de ventana modal</h4>
                </div>
            </div>
        </div>
    </div>
    <!--Código-->
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('modalMediana')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="modalMediana">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> data-target</span><span>=</span><span class="cn">"#exampleModalMediana"</span><span>></span>
    Modal
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalMediana"</span><span class="ca4"> tabindex</span><span>=</span><span class="cn">"-1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"dialog"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"exampleModalLabelMediana"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-dialog modal-dialog-centered"</span><span class="ca4"> role</span><span>=</span><span class="cn">"document"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-content"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-header"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-title"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalLabelMediana"</span><span>></span>Título modal<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"close"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"Close"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-times-circle"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-body"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"titulo-modal padding-t-10"</span><span>></span>Contenido de ventana modal<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!-- Modal Grande -->
    <h4 class="titulo-elementos-gris padding-t-60">Modal grande</h4>
    <div class="text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_rosa_ine" data-toggle="modal" data-target="#exampleModalGrande">
            Modal
        </button>
    </div>
    <div class="modal fade" id="exampleModalGrande" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelGrande" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabelGrande">Título modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="titulo-modal padding-t-10">Contenido de ventana modal</h4>
                </div>
            </div>
        </div>
    </div>
    <!--Código-->
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('modalGrande')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="modalGrande">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> data-target</span><span>=</span><span class="cn">"#exampleModalGrande"</span><span>></span>
    Modal
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalGrande"</span><span class="ca4"> tabindex</span><span>=</span><span class="cn">"-1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"dialog"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"exampleModalLabelGrande"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-dialog modal-dialog-centered modal-lg"</span><span class="ca4"> role</span><span>=</span><span class="cn">"document"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-content"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-header"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-title"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalLabelGrande"</span><span>></span>Título modal<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"close"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"Close"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-times-circle"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-body"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"titulo-modal padding-t-10"</span><span>></span>Contenido de ventana modal<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!-- Modal Configuración -->
    <h4 class="titulo-elementos-gris padding-t-60">Modal confirmación</h4>
    <div class="text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_rosa_ine" data-toggle="modal" data-target="#exampleModal">
            Modal
        </button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Confirmación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="titulo-modal padding-t-10">¿Estás seguro de completar la acción?</h4>
                    <p class="padding-t-10">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_rosa_invertido_ine" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn_rosa_ine">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Código-->
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('modal')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="modal">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> data-target</span><span>=</span><span class="cn">"#exampleModal"</span><span>></span>
    Modal
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModal"</span><span class="ca4"> tabindex</span><span>=</span><span class="cn">"-1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"dialog"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"exampleModalLabel"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-dialog modal-dialog-centered"</span><span class="ca4"> role</span><span>=</span><span class="cn">"document"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-content"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-header"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-title"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalLabel"</span><span>></span>Confirmación<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"close"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"Close"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-times-circle"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-body"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"titulo-modal padding-t-10"</span><span>></span>¿Estás seguro de completar la acción?<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"padding-t-10"</span><span>></span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-footer"</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_invertido_ine"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span>></span>Cancelar<span><</span><span>/</span><span class="ca5">button</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine"</span><span>></span>Aceptar<span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!-- Modal Informativo -->
    <h4 class="titulo-elementos-gris padding-t-60">Modal informativo</h4>
    <div class="text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_rosa_ine" data-toggle="modal" data-target="#exampleModalInformativo">
            Modal
        </button>
    </div>
    <div class="modal fade" id="exampleModalInformativo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelInformativo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabelInformativo">Título de información</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="titulo-modal padding-t-10">Subtitulo 1</h4>
                    <p class="padding-t-10">Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras,
                        al contrario de usar textos como por ejemplo “Contenido aquí.</p>
                </div>
                <div class="modal-body">
                    <h4 class="titulo-modal padding-t-10">Subtitulo 2</h4>
                    <p class="padding-t-10">Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras,
                        al contrario de usar textos como por ejemplo “Contenido aquí. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_rosa_ine" data-dismiss="modal">Entendido</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Código -->
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right">
            <span class="function-copiar" (click)="CopyToClipboard('modalInformativo')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="modalInformativo">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> data-target</span><span>=</span><span class="cn">"#exampleModalInformativo"</span><span>></span>
    Modal
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalInformativo"</span><span class="ca4"> tabindex</span><span>=</span><span class="cn">"-1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"dialog"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"exampleModalLabelInformativo"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-dialog modal-dialog-centered"</span><span class="ca4"> role</span><span>=</span><span class="cn">"document"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-content"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-header"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-title"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalLabelInformativo"</span><span>></span>Título de información<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"close"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"Close"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-times-circle"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-body"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"titulo-modal padding-t-10"</span><span>></span>Subtitulo 1<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"padding-t-10"</span><span>></span>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo “Contenido aquí.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-body"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"titulo-modal padding-t-10"</span><span>></span>Subtitulo 2<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">p</span><span class="ca4"> class</span><span>=</span><span class="cn">"padding-t-10"</span><span>></span>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo “Contenido aquí.<span><</span><span>/</span><span class="ca5">p</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-footer"</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span>></span>Entendido<span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <!-- Modal en modo espera -->
    <h4 class="titulo-elementos-gris padding-t-60">Modal en modo espera</h4>
    <div class="text-center padding-t-35 padding-b-35">
        <button type="button" class="btn btn_rosa_ine" data-toggle="modal" data-target="#exampleModalModoEspera">
            Modal
        </button>
    </div>
    <div class="modal fade" id="exampleModalModoEspera" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelModoEspera" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-pequeno" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabelModoEspera">Procesando...</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="titulo-modal padding-t-10">La carga puede tardar unos minutos...</h6>
                    <div class="row">
                        <div class="col-md col col-sm">
                            <div class=" padding-t-20 ">
                                <div class="sk-cube-grid margin-l-150 ">
                                    <div class="sk-cube sk-cube1 "></div>
                                    <div class="sk-cube sk-cube2 "></div>
                                    <div class="sk-cube sk-cube3 "></div>
                                    <div class="sk-cube sk-cube4 "></div>
                                    <div class="sk-cube sk-cube5 "></div>
                                    <div class="sk-cube sk-cube6 "></div>
                                    <div class="sk-cube sk-cube7 "></div>
                                    <div class="sk-cube sk-cube8 "></div>
                                    <div class="sk-cube sk-cube9 "></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Código -->
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('modalModoEspera')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="modalModoEspera">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"btn btn_rosa_ine"</span><span class="ca4"> data-toggle</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> data-target</span><span>=</span><span class="cn">"#exampleModalModoEspera"</span><span>></span>
    Modal
<span><</span><span>/</span><span class="ca5">button</span><span>></span>
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal fade"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalModoEspera"</span><span class="ca4"> tabindex</span><span>=</span><span class="cn">"-1"</span><span class="ca4"> role</span><span>=</span><span class="cn">"dialog"</span><span class="ca4"> aria-labelledby</span><span>=</span><span class="cn">"exampleModalLabelModoEspera"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-dialog modal-dialog-centered modal-pequeno"</span><span class="ca4"> role</span><span>=</span><span class="cn">"document"</span><span>></span>
        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-content"</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-header"</span><span>></span>
                <span><</span><span class="ca5">h4</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-title"</span><span class="ca4"> id</span><span>=</span><span class="cn">"exampleModalLabelModoEspera"</span><span>></span>Procesando...<span><</span><span>/</span><span class="ca5">h4</span><span>></span>
                <span><</span><span class="ca5">button</span><span class="ca4"> type</span><span>=</span><span class="cn">"button"</span><span class="ca4"> class</span><span>=</span><span class="cn">"close"</span><span class="ca4"> data-dismiss</span><span>=</span><span class="cn">"modal"</span><span class="ca4"> aria-label</span><span>=</span><span class="cn">"Close"</span><span>></span>
                    <span><</span><span class="ca5">i</span><span class="ca4"> class</span><span>=</span><span class="cn">"fa fa-times-circle"</span><span class="ca4"> aria-hidden</span><span>=</span><span class="cn">"true"</span><span>></span><span><</span><span>/</span><span class="ca5">i</span><span>></span>
                <span><</span><span>/</span><span class="ca5">button</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"modal-body"</span><span>></span>
                <span><</span><span class="ca5">h6</span><span class="ca4"> class</span><span>=</span><span class="cn">"titulo-modal padding-t-10"</span><span>></span>La carga puede tardar unos minutos...<span><</span><span>/</span><span class="ca5">h6</span><span>></span>
                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"row"</span><span>></span>
                    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"col-md col col-sm"</span><span>></span>
                        <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"padding-t-20"</span><span>></span>
                            <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube-grid margin-l-150"</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube1"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube2"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube3"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube4"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube5"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube6"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube7"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube8"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                                <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube9"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
                            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
                <span><</span><span>/</span><span class="ca5">div</span><span>></span>
            <span><</span><span>/</span><span class="ca5">div</span><span>></span>
        <span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
</section>