<div class="row tmn-fnd-azul margin-t-80">
    <div class="col-lg-4 col-md-4 text-center padding-t-50 padding-b-50">
        <img class="tmn-img" src="./assets/img/home/lineamientos-backend.png" alt="Lineamientos Backend">
    </div>
    <div class="col-lg-7 col-md-7 padding-t-80">
        <h3 class="subrayado" [routerLink]="['/documentacion-de-desarrollo/lineamientos/buenas-practicas/project-object-model']">Lineamientos Backend</h3>
        <p class="text-left padding-t-10 fw-400 margin-b-50">
            Encuentra y utiliza los arquetipos Maven necesarios para generar tu proyecto de desarrollo de una forma más rápida y eficaz.
        </p>
    </div>
</div>
<div class="row tmn-fnd-blanco">
    <div class="col-lg-4 col-md-4 text-center padding-t-50 padding-b-50">
        <img class="tmn-img" src="./assets/img/home/documentacion-frontend.png" alt="Lineamientos Frontend">
    </div>
    <div class="col-lg-7 col-md-7 padding-t-80">
        <h3 class="subrayado" [routerLink]="['/documentacion-de-desarrollo/documentacion-frontend/scaffolding/que-es']">Lineamientos Frontend</h3>
        <p class="text-left padding-t-10 fw-400 margin-b-50">
            Agiliza tu trabajo con las plantillas de documentos y cumple con los lineamientos establecidos para la creación de tu proyecto web.
        </p>
    </div>
</div>
<div class="row tmn-fnd-azul">
    <div class="col-lg-4 col-md-4 text-center padding-t-50 padding-b-50">
        <img class="tmn-img" src="./assets/img/home/documentacion-android.png" alt="Lineamientos Aplicaciones Móviles">
    </div>
    <div class="col-lg-7 col-md-7 padding-t-80">
        <h3 class="subrayado" [routerLink]="['/documentacion-de-desarrollo/lineamientos-app-moviles/estructura-en-un-proyecto/directorios']">Lineamientos Aplicaciones Móviles</h3>
        <p class="text-left padding-t-10 fw-400 margin-b-50">
            Descarga, utiliza y consulta las plantillas para documentar la creación de tu proyecto Android bajo lineamientos y buenas prácticas.
        </p>
    </div>
</div>
<div class="row tmn-fnd-blanco  ">
    <div class="col-lg-4 col-md-4 text-center padding-t-50 padding-b-50">
        <img class="tmn-img" src="./assets/img/asistentes-virtuales/asistentes-virtuales.svg" alt="Lineamientos Asistentes Virtuales">
    </div>
    <div class="col-lg-7 col-md-7 padding-t-80">
        <h3 class="subrayado" [routerLink]="['/documentacion-de-desarrollo/lineamientos-asistentes-virtuales/chatbot/acerca-de']">Lineamientos Asistentes Virtuales</h3>
        <p class="text-left padding-t-10 fw-400 margin-b-50">
            Consulta las bases para un buen diseño y desarrollo de tu asistente virtual, ya sea chatbot o voicebot.
        </p>
    </div>
</div>


<div class="row tmn-fnd-azul  margin-b-80">
    <div class="col-lg-4 col-md-4 text-center padding-t-50 padding-b-50">
        <img class="tmn-img" src="./assets/img/lineamientos-share/lineamientos-sharepoint.svg" alt="Lineamientos Asistentes Virtuales">
    </div>
    <div class="col-lg-7 col-md-7 padding-t-80">
        <h3 class="subrayado" [routerLink]="['/documentacion-de-desarrollo/lineamientos-sharepoint/solicitud/acerca-de']">Lineamientos SharePoint</h3>
        <p class="text-left padding-t-10 fw-400">
            Conoce cómo solicitar, estructurar y diseñar los sitios de SharePoint del Instituto.
        </p>
    </div>
</div> 