@import "./src/sass/_variables.scss";
.tmn-img {
    width: 155px;
    height: 155px;
}

.tmn-fnd-azul {
    background: var(--bg-lnmnt-back-android);
}

.tmn-fnd-blanco {
    background: var(--bg-lnmnt-front);
}

.subrayado {
    color: var(--txt-color-link);
    text-decoration-line: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
}

.subrayado:hover {
    color: #B7006D;
    text-decoration-line: underline;
    cursor: pointer;
}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {     
    .padding-t-80 {
        padding-top: 40px;
    }

    .padding-b-50 {
        padding-bottom: 0;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .padding-t-80 {
        padding-top: 40px;
    }

    .padding-b-50 {
        padding-bottom: 0;
    }
}