h3 {
    font-size: 1.5rem;
}

img {
  height: 187px;
  width: 187px;
}

@media (max-width: 575.98px) {
  .boton-al-centro {
    text-align: center;
  }
  .menu-seccion .collapse:not(.show) {
    display: block;
  }
  .menu-seccion.navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .padding-top-50 {
    padding-top: 50px;
  }
  .margin-0 {
    margin: 0px;
  }
  .texto-14-px {
    font-size: 14px;
  }
  .padding-top-5 {
    padding-top: 5px;
  }
  ///Scroll pestañas///
  .scroll-nowprap {
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 767px) {
  .boton-al-centro {
    text-align: center;
  }
  .menu-seccion .collapse:not(.show) {
    display: block;
  }
  .menu-seccion.navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .texto-14-px {
    font-size: 14px;
  }
  .padding-top-5 {
    padding-top: 5px;
  }
  ///Scroll pestañas///
  .scroll-nowprap {
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-seccion .collapse:not(.show) {
    display: block;
  }
  .menu-seccion.navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}
