<h3>¿Qué es un storyboard?</h3>
<p>
    Es una técnica de prototipado que representa el funcionamiento de nuestro sitio mediante dibujos o viñetas tipo cómic de manera secuencial. Tiene la ventaja de ser elaborado en poco tiempo y no requiere de mayor inversión.
</p>
<h3 class="padding-t-30">¿Para qué se usa?</h3>
<p>
    Se plasma en él las imágenes del funcionamiento de la navegación e interacción con el usuario para detectar las necesidades y desventajas que se tendrán en el diseño del sitio o aplicación.
</p>

<div class="bg-img padding-20 margin-t-60">
    <div class="row">
        <div class="col-md-4 padding-t-10 text-center">
            <img class="img-fluid" src="./assets/img/UX/diseno-de-interfaz/storyboard.svg" alt="Storyboard">
        </div>
        <div class="col-md-8 padding-t-10">
            <p class="txt-title f-20 fw-500">Utiliza la plantilla de apoyo</p>
            <p>Usa la plantilla de organización de procesos para llevar adecuadamente tus entrevistas focus group.
            </p>
            <div class="boton-al-centro">
                <a href="./assets/docs/diseno-de-interfaz/ArqTec_StoryBoard.docx" download>
                    <button type=" button " class="btn btn_rosa_ine padding-l-20 padding-r-20 ">
                        <i class="fa fa-download padding-r-15 " aria-hidden="true"></i> Descargar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>