<div class="row">    
    <div class="offset-md-1 order-1 order-sm-1 order-md-0 offset-lg-1 col-md-8 col-lg-8">
        <div class="margenes">
            <hr class="d-block d-sm-block d-md-none margin-b-50 clr-hr">
            <div id="acerca-de" class="margin-b-60">
                <h3>Acerca de</h3>
                <div class="margin-t-40">
                    <p>Conoce los lineamientos y buenas prácticas en el desarrollo de soluciones de software generadas dentro y para el Instituto Nacional Electoral.</p>
                    <p>En este documento se describen algunas características esenciales que todo código fuente debe cumplir y que se consideran al momento de establecer los lineamientos y buenas prácticas encaminadas a un código fácil de entender, mantener,
                        extender y menos propenso a errores.</p>
                </div>
            </div>
            <hr>
            <div id="introduccion" class="margin-t-45 margin-b-60">
                <h3>Introducción</h3>
                <div id="proposito" class="margin-t-40 margin-b-45">
                    <h4>Propósito</h4>
                    <div class="margin-t-25">
                        <p>Enunciar los lineamientos y las mejores prácticas en el desarrollo de soluciones de software generadas dentro del y para el Instituto Nacional Electoral.</p>
                        <p>A continuación, se describen algunas características esenciales que todo código fuente debe cumplir:</p>
                        <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                            <ul>
                                <li>Usar nombres significativos</li>
                                <li>Principio de Responsabilidad Única (SRP)</li>
                                <li>Principio DRY (Don’t Repeat Yourself)</li>
                                <li>Uso común de estándares y lineamientos</li>
                                <li>Independencia entre su autor y la persona que lo mantiene</li>
                                <li>Facilidad de lectura y entendimiento</li>
                            </ul>
                        </div>
                        <p>Estas características se consideran al momento de establecer los lineamientos y buenas prácticas encaminadas a un código fácil de entender, mantener, extender y menos propenso a errores.</p>
                    </div>
                </div>
                <hr>
                <div id="alcance" class="margin-t-45">
                    <h4>Alcance</h4>
                    <div class="margin-t-25">
                        <p>Enunciar los lineamientos y las mejores prácticas en el desarrollo de soluciones de software generadas dentro del y para el Instituto Nacional Electoral.</p>
                        <p>A continuación, se describen algunas características esenciales que todo código fuente debe cumplir:</p>
                    </div>
                </div>
            </div>
            <hr>
            <div id="lineamientos-base" class="margin-t-45 margin-b-60">
                <h3>Lineamientos base de Desarrollo de Soluciones</h3>
                <div id="nomenclatura" class="margin-t-40">
                    <h4>Nomenclatura</h4>
                    <div class="margin-t-25 margin-b-60">
                        <div>
                            <h6>Artefactos</h6>
                            <p>Los artefactos son los componentes finales de desarrollo (jar, war, etc…), los cuales se generan mediante la herramienta Maven y cuyo nombre deberá ser igual al del artifactId.</p>
                        </div>
                        <div class="margin-t-60">
                            <h6>Proyectos</h6>
                            <p>Esta nomenclatura aplicará para cualquier proyecto bajo la plataforma Java, como:</p>
                            <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                                <ul>
                                    <li>Web</li>
                                    <li>Servicios</li>
                                    <li>Comunes</li>
                                </ul>
                            </div>
                            <div class="padding-t-10 padding-b-10 padding-l-15 rules">
                                <div class="row alinear">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                        <p>Deberán seguir los siguientes lineamientos:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container margin-t-25">
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">1.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>El nombre del proyecto se debe escribir con base en el código ASCII, en minúsculas y sin abreviaturas.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">2.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 break-url">
                                        <p>Si el nombre del proyecto es un nombre compuesto, derivado de la línea de negocio que representa, entonces cada concepto deberá estar separada mediante el símbolo “–“(guion). Por ejemplo,<strong>prueba-concepto-arquitectura</strong>                                            es un nombre válido que cumple con lo establecido.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">3.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>No se deben utilizar números al nombrar proyectos.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">4.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>La longitud máxima del nombre de un proyecto debe ser de 30 caracteres.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">5.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>El nombre del proyecto debe ser intuitivo y apropiado al concepto que representa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-t-60">
                            <h6>Paquetes</h6>
                            <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                                <div class="row alinear">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                        <p>Se escribirán siempre en letras minúsculas, considerando:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container margin-t-25">
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">1.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Dominio INE: mx.ine</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">2.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Concepto de negocio: Contempla dos contextos:</p>
                                        <ul>
                                            <li>Institucionales</li>
                                            <li>Electorales</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">3.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Categoría POM</p>
                                        <ul>
                                            <li>Aplicaciones. Proyecto con una Interfaz de usuario.</li>
                                            <li>Servicios. Proyecto sin interfaz gráfica, son componentes que generan una capa de exposición.</li>
                                            <li>Comunes. Proyectos que generan una funcionalidad transversal.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">4.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Proyecto. Nombre del componente de software a desarrollar.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-t-25">
                                <p class="fw-500">Ejemplos de uso al nombrar paquetes:</p>
                                <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 break-url fondo padding-r-20">
                                    <p class="fw-500"><span class="dom">[dominio]</span>.<span class="con">[conceptodenegocio]</span>.[categoriapom].<span class="pro">[proyecto]</span></p>
                                    <ul>
                                        <li>mx.ine.institucionales.aplicaciones.proyecto </li>
                                        <li>mx.ine.electorales.servicios.proyecto</li>
                                        <li>mx.ine.institucionales.comunes.proyecto</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="margin-t-50">
                                <p class="fw-500">Estructura de paquetes</p>
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/lineamientos-generales/documentacion/figura-1.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 1.</span> Estructura de paquetes</p>
                            </div>
                        </div>
                        <div class="margin-t-60">
                            <h6>Archivo de tipo Clase</h6>
                            <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                                <div class="row alinear">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                        <p>Se deberá seguir las siguientes especificaciones:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container margin-t-25">
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">1.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Cada archivo fuente debe contener una única clase pública.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">2.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Si un archivo fuente contiene alguna clase privada y está asociada a una clase pública, puede existir en el mismo archivo fuente de la clase pública, la única condición será que sólo una de esas clases sea declarada
                                            como “pública” y deberá enunciarse primero.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">3.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>El nombre del archivo fuente y la clase pública deben tener el mismo nombre más la extensión .java.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">4.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Nombrar el archivo de la clase pública con un sustantivo, en ningún caso se deberán utilizar verbos. Ejemplos: carro, hombre, tienda, empleado, proveedor, etc.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">5.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Si el nombre es compuesto, la primera letra de cada palabra deberá ser mayúscula (Notación Pascal).</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">6.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Debe evitarse el uso de abreviaturas, salvo si dicha abreviatura es más utilizada que la palabra representada (URL, HTTP, etc.).</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">7.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Sufijos o prefijos como:</p>
                                        <ul>
                                            <li>BO, VO, DTO, DAO serán omitidos.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">8.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>No se debe hacer uso de caracteres especiales tales como: (!,”,#,$,%,&,’,,(,),*,+,,,-,.,:,;,
                                            <,=,>,?,@,[,\,] ,^, _,` ,{ ,| ,} ,~)</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">9.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>El nombre de la clase debe ser intuitivo y apropiado al concepto que representa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-t-60">
                            <h6>Archivo de tipo interfaces</h6>
                            <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                                <div class="row alinear">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                        <p>El nombrado de las interfaces sigue la misma regla que las clases.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-t-60">
                            <h6>Métodos</h6>
                            <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                                <div class="row alinear">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                        <p>Se deberá seguir las siguientes especificaciones:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container margin-t-25">
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">1.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>El nombrado de un método debe constar de un verbo en tercera persona del tiempo presente en modo indicativo. Por ejemplo: guarda, actualiza, busca, etc.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">2.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Si el nombre del método es compuesto, la letra inicial deberá ser minúscula y la primera letra de las siguientes palabras deberán escribirse en mayúscula (Notación Camello).</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">3.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>No se permite el uso de acrónimos.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">4.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>El nombre del método debe ser lo más intuitivo posible y apropiado al concepto que representa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-t-60">
                            <h6>Variables</h6>
                            <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                                <div class="row alinear">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                        <p>Lineamientos a seguir en el nombrado variables los cuales constan de:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container margin-t-25">
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">1.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Las variables locales, de instancia y de clase empezarán con minúscula a excepción de las constantes.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">2.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Si las palabras son compuestas, se utilizará notación Camello para el nombrado.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">3.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Los nombres de variables no deben iniciar con los caracteres guion bajo (_) o signo de dólar ($), aunque estos estén permitidos por el lenguaje.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">4.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>No hacer uso de acentos.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">5.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>El nombre de cada variable local, de instancia y de clase deberá ser mnemónico, es decir, debe ser lo más intuitivo posible y apropiado al concepto que representa.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">6.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Los nombres de variables de un solo carácter se deben evitar, excepto en los siguientes casos:</p>
                                        <ul>
                                            <li>Para variables que denotan un índice temporal.</li>
                                            <li>El nombrado común para variables temporales son i, j, k, m, y n para enteros; c, d, y, e para caracteres.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-t-60">
                            <h6>Constantes</h6>
                            <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                                <div class="row alinear">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                        <p>Al nombrar constantes, se deberán tomar en cuenta los siguientes lineamientos:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container margin-t-25">
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">1.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Los nombres de variables declaradas como constantes deben ir totalmente en mayúsculas (ALL_CAPS).</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">2.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Si hay un nombre compuesto, las palabras se irán separando por un guion bajo (_).</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">3.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Los nombres de constantes pueden contener dígitos, pero no como primer carácter.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-t-35">
                                <p>Ejemplo:</p>
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/lineamientos-generales/documentacion/figura-2.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 2.</span> Ejemplo de nombrado de constante</p>
                            </div>
                        </div>
                        <div class="margin-t-60">
                            <h6>Enumeraciones</h6>
                            <p>El uso de enumeraciones se aplicará a valores susceptibles de ser catalogados; es decir, los valores de una misma semántica.</p>
                            <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                                <div class="row alinear">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                        <p>Se deberá seguir las siguientes especificaciones:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container margin-t-25">
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">1.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Para nombrar una enumeración, ésta debe ser un sustantivo más la palabra “Enum”.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">2.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>En caso de ser un nombre compuesto se usará notación pascal.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-t-35">
                                <p>Ejemplo:</p>
                                <div class="back-img margin-t-25 margin-b-25">
                                    <img class="img-responsive img-fluid img-width" src="assets/img/lineamientos-generales/documentacion/figura-3.svg" alt="">
                                </div>
                                <p class="pie-img"><span class="fw-500">Figura 3.</span> Ejemplo de nombrado de enumeraciones</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="organizacion" class="margin-t-45">
                        <h4>Organización de un archivo .java</h4>
                        <div>
                            <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                                <div class="row alinear">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                        <p>A continuación, se listan, de manera general, las secciones que contendrán una clase o interfaz, en el orden de aparición:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container margin-t-25">
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">1.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Comentarios de cabecera.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">2.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Sentencia package.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">3.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Sentencias import.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">4.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Comentarios de documentación de la clase o interfaz.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">5.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Sentencia class o interface.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">6.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Documentación de variables de clase.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">7.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Declaración de variables de clase de tipo static. Se incluyen en el siguiente orden con base a su modificador de acceso: public, protected, default sin modificador de acceso y private.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">8.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Documentación de cada variable de instancia.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">9.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Declaración de variables de instancia. Se incluyen en el siguiente orden con base en su modificador de acceso: public, protected, default, sin modificador de acceso y private.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">10.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Documentación de constructores.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">11.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Constructores.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">12.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Bloques estáticos.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">13.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Documentación de métodos.</p>
                                    </div>
                                </div>
                                <div class="row border-gris-6 margin-t-15">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                        <p class="fw-700">14.</p>
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <p>Métodos. Se deben agrupar por visibilidad o accesibilidad. Los métodos se ordenan en grupos, de acuerdo con su modificador de acceso: public, protected, default (sin modificador de acceso) y private.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div id="lineamientos-arquitectura" class="margin-t-45 margin-b-60">
                <h3>Lineamientos de Arquitectura</h3>
                <div id="manejo" class="margin-t-40 margin-b-45">
                    <h4>Manejo de versiones en artefactos</h4>
                    <div class="margin-t-25">
                        <div>
                            <p>De manera inicial, un proyecto será generado mediante el arquetipo que proporcione el Departamento de Arquitectura de Software y este nacerá como SNAPSHOT; esto significa que la versión del proyecto será previa a la primera
                                liberación (1.0.0), según lo mencionado, la evolución del versionado será:</p>
                        </div>
                        <div class="container margin-t-25 margin-b-25 padding-t-20 padding-r-25 padding-b-20 padding-l-25 fondo-la">
                            <div class="border-gris-6">
                                <p class="fw-500 margin-l-0"><span class="dom">1.0.0 -></span> <span class="xgreen">X</span><span class="dom">.Y.</span>Z</p>
                            </div>
                            <div>
                                <p class="xgreen"><span class="fw-500">X</span>. Indica un cambio de implementación y/o tecnología.</p>
                                <p class="dom"><span class="fw-500">Y</span>. Indica un cambio mediano, tal como una nueva funcionalidad o complemento a una ya existente.</p>
                                <p><span class="fw-500">Z</span>. Indica un ajuste menor o resolución de bugs.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="nomenclatura-artefactos" class="margin-t-45 margin-b-45">
                    <h4>Nomenclatura de Artefactos</h4>
                    <div class="table-responsive">
                         <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
                        <thead>
                            <tr>
                            <th>Artefacto</th>
                            <th>Ejemplo</th>
                            <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Web</th>
                                <td>proyecto-presentacion</td>
                                <td>Proyecto Web</td>
                            </tr>
                            <tr>
                                <th>Servicio</th>
                                <td>proyecto-exposicion</td>
                                <td>Expone servicio rest</td>
                            </tr>
                            <tr>
                                <th>Librería</th>
                                <td>proyecto-servicios</td>
                                <td>Extiende la funcionalidad</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <p class="pie-img"><span class="fw-500">Tabla 1.</span> Nomenclatura de artefactos</p>
                </div>
                <hr>
                <div id="nomenclatura-modulos" class="margin-t-45 margin-b-45">
                    <h4>Nomenclatura de Módulos de Proyecto</h4>
                    <div class="table-responsive">
                        <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25">
                        <thead>
                            <tr>
                            <th>Sufijo de capa</th>
                            <th>Ejemplo</th>
                            <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>modelo</th>
                                <td>proyecto-modelo</td>
                                <td>Módulo api</td>
                            </tr>
                            <tr>
                                <th>persistencia</th>
                                <td>proyecto-persistencia</td>
                                <td>Módulo de persistencia</td>
                            </tr>
                            <tr>
                                <th>servicios</th>
                                <td>proyecto-servicios</td>
                                <td>Módulo de servicios</td>
                            </tr>
                            <tr>
                                <th>presentacion</th>
                                <td>proyecto-presentacion</td>
                                <td>Módulo de vista gráfica</td>
                            </tr>
                            <tr>
                                <th>exposicion</th>
                                <td>proyecto- exposicion</td>
                                <td>Módulo de exposición de servicio</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <p class="pie-img"><span class="fw-500">Tabla 2.</span> Nomenclatura de los módulos de proyecto</p>
                </div>
                <hr>
                <div id="nomenclatura-paquetes" class="margin-t-45 margin-b-45">
                    <h4>Nomenclatura de Paquetes</h4>
                    <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25 table-responsive">
                        <thead>
                            <tr>
                            <th>Sufijo</th>
                            <th>Ejemplo</th>
                            <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>config</th>
                                <td>mx.ine…proyecto.[capa].config</td>
                                <td>Contenedor de clases de configuración de Spring</td>
                            </tr>
                            <tr>
                                <th>excepciones</th>
                                <td>mx.ine…proyecto.modelo.excepciones</td>
                                <td>Contenedor de excepciones</td>
                            </tr>
                            <tr>
                                <th>constantes</th>
                                <td>mx.ine…proyecto.[capa].constantes</td>
                                <td>Contenedor de constantes</td>
                            </tr>
                            <tr>
                                <th>utilerias</th>
                                <td>mx.ine…proyecto.utilerias</td>
                                <td>Contenedor de utilerías</td>
                            </tr>
                            <tr>
                                <th>convertidores</th>
                                <td>mx.ine…proyecto.convertidores</td>
                                <td>Contenedor de convertidores de JPA</td>
                            </tr>
                            <tr>
                                <th>enumeraciones</th>
                                <td>mx.ine…proyecto.enumeraciones</td>
                                <td>Contenedor de enumeraciones</td>
                            </tr>
                            <tr>
                                <th>entidades</th>
                                <td>mx.ine…proyecto.modelo.entidades</td>
                                <td>Contenedor de entidades de JPA</td>
                            </tr>
                            <tr>
                                <th>repositorios</th>
                                <td>mx.ine…proyecto.persistencia.repositorios</td>
                                <td>Contenedor de Repositorios de Spring Data</td>
                            </tr>
                            <tr>
                                <th>servicios</th>
                                <td>mx.ine…proyecto.servicios</td>
                                <td>Contenedor de interfaces de Servicios</td>
                            </tr>
                            <tr>
                                <th>servicios.impl</th>
                                <td>mx.ine…proyecto.servicios.impl</td>
                                <td>Contenedor de implementaciones de Servicios</td>
                            </tr>
                            <tr>
                                <th>controladores</th>
                                <td>mx.ine…proyecto.presentacion.controladores</td>
                                <td>Contenedor de Controladores MVC</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="pie-img"><span class="fw-500">Tabla 3.</span> Nomenclatura de paquetes</p>
                </div>
                <hr>
                <div id="nomenclatura-clases" class="margin-t-45 margin-b-45">
                    <h4>Nomenclatura de Clases</h4>
                    <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25 table-responsive">
                        <thead>
                            <tr>
                            <th>Sufijo</th>
                            <th>Ejemplo</th>
                            <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Constants</th>
                                <td>ArtefactoConstants</td>
                                <td>Artefacto de constantes</td>
                            </tr>
                            <tr>
                                <th>Enum</th>
                                <td>ArtefactoEnum</td>
                                <td>Artefacto enumeración</td>
                            </tr>
                            <tr>
                                <th>Utils</th>
                                <td>ArtefactoUtils</td>
                                <td>Artefacto de utilerías</td>
                            </tr>
                            <tr>
                                <th>Exception</th>
                                <td>ArtefactoException</td>
                                <td>Artefacto de excepción</td>
                            </tr>
                            <tr>
                                <th>Repository</th>
                                <td>ArtefactoRepository</td>
                                <td>Artefacto Repositorio de Spring Data</td>
                            </tr>
                            <tr>
                                <th>Service</th>
                                <td>ArtefactoService</td>
                                <td>Artefacto interfaz de un Servicio</td>
                            </tr>
                            <tr>
                                <th>ServiceImpl</th>
                                <td>ArtefactoServiceImpl</td>
                                <td>Artefacto de implementación de un Servicio</td>
                            </tr>
                            <tr>
                                <th>Validator</th>
                                <td>ArtefactoValidator</td>
                                <td>Artefacto de validaciones de Vista</td>
                            </tr>
                            <tr>
                                <th>Controller</th>
                                <td>ArtefactoController</td>
                                <td>Arfefacto controlador de MVC</td>
                            </tr>
                            <tr>
                                <th>RestService</th>
                                <td>ArtefactoRestService</td>
                                <td>Arfefacto de exposición servicio REST</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="pie-img"><span class="fw-500">Tabla 4.</span> Nomenclatura de clases</p>
                </div>
                <hr>
                <div id="constantes-clase" class="margin-t-45 margin-b-45">
                    <h4>Constantes de Clase</h4>
                    <div class="margin-t-25">
                        <p>Si se requiere declarar constantes dentro la clase, será bajo el entendido que:</p>
                        <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                            <ul>
                                <li>Sólo son utilizados por la misma clase donde se declaran, es decir, no son valores que se puedan reutilizar en alguna otra clase o capa del proyecto.</li>
                                <li>La declaración es de tipo privada.</li>
                            </ul>
                        </div>
                        <div>
                            <p>Ejemplo:</p>
                            <div class="back-img margin-t-25 margin-b-25">
                                <img class="img-responsive img-fluid img-width" src="assets/img/lineamientos-generales/documentacion/figura-4.svg" alt="">
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 4.</span> Ejemplo de nombrado de constante dentro de una clase</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="constantes-capa" class="margin-t-45 margin-b-45">
                    <h4>Constantes de capa</h4>
                    <div class="margin-t-25">
                        <p>Si se requiere definir un grupo de constantes que serán utilizadas en una sola capa de las definidas en la arquitectura de desarrollo de soluciones y éstas no se utilizan de manera transversal, entonces:</p>
                        <div class="margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                            <ul>
                                <li>Para realizar la declaración, se hace uso de una clase final.</li>
                                <li>Su constructor debe ser privado, con el objetivo de evitar que se generen instancias de la misma.</li>
                                <li>Las constantes son públicas, estáticas y finales.</li>
                            </ul>
                        </div>
                        <div>
                            <p>Ejemplo:</p>
                            <div class="back-img margin-t-25 margin-b-25">
                                <img class="img-responsive img-fluid img-width" src="assets/img/lineamientos-generales/documentacion/figura-5.svg" alt="">
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 5.</span> Ejemplo de nombrado de constante de capa</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="utilerias" class="margin-t-45 margin-b-45">
                    <h4>Utilerías</h4>
                    <div class="container margin-t-25">
                        <p>Este concepto abarcará a las clases que proporcionen una funcionalidad de manera unitaria; es decir, no contienen lógica de negocio.</p>
                        <div class="margin-t-25 padding-t-10 padding-b-10 padding-l-15 rules">
                            <div class="row alinear">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 col-sm-10 col-md-10 col-lg-10 padding-icon">
                                    <p>La implementación se deberá llevar a cabo de la siguiente manera:</p>
                                </div>
                            </div>
                        </div>
                        <div class="margin-t-25">
                            <div class="row border-gris-6 margin-t-15">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <p class="fw-700">1.</p>
                                </div>
                                <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                    <p>Generar una interfaz que represente el contrato de los métodos disponibles.</p>
                                </div>
                            </div>
                            <div class="row border-gris-6 margin-t-15">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <p class="fw-700">2.</p>
                                </div>
                                <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                    <p>Generar una clase de implementación, la cual se catalogará como Componente de Spring (@Component).</p>
                                </div>
                            </div>
                            <div class="row border-gris-6 margin-t-15">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <p class="fw-700">3.</p>
                                </div>
                                <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                    <p>La funcionalidad deberá ser invocada mediante un atributo de tipo private, utilizando la anotación @Autowired.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pom-ine" class="margin-t-45 margin-b-60">
                <h3>POM INE</h3>
                <div class="margin-t-40 margin-b-45">
                    <p>La arquitectura 2.0 propone una estructura jerárquica de Project Object Model (POM); es decir, se da a través de un POM hijo, el cual heredará las características de las dependencias del POM padre.</p>
                    <div id="definiciones" class="margin-t-45 margin-b-45">
                        <h4>Definiciones básicas</h4>
                        <div class="margin-t-25">
                            <div>
                                <div class="border-gris-6 margin-b-10 padding-b-10">
                                    <h6>Arquetipo Maven</h6>
                                </div>
                                <p>Las variables locales, de instancia y de clase empezarán con minúscula a excepción de las constantes.</p>
                            </div>
                            <div class="margin-t-60">
                                <div class="border-gris-6 margin-b-10 padding-b-10">
                                    <h6>Project Object Model(POM)</h6>
                                </div>
                                <p>El POM es un archivo XML que contiene información acerca del proyecto y sus detalles de configuración para ser construido: fuentes, test, dependencias, plugins y versión.</p>
                            </div>
                            <div class="margin-t-60">
                                <div class="border-gris-6 margin-b-10 padding-b-10">
                                    <h6>Bill Of Material(BOM)</h6>
                                </div>
                                <p>En Maven se declara un BOM (lista de materiales), en éste se tienen todas las definiciones necesarias; tanto de dependencias, como de plugins; es decir, es un POM que puede actuar como un padre que heredará dichas definiciones
                                    y configuraciones a los POM hijos.</p>
                            </div>
                            <div class="margin-t-60">
                                <div class="border-gris-6 margin-b-10 padding-b-10">
                                    <h6>Gestión de dependencias (DependencyManagement)</h6>
                                </div>
                                <p> Define dependencias que pueden reutilizarse en proyectos secundarios. Esto evita la duplicación; sin la sección dependencyManagement, cada proyecto secundario debe definir su propia dependencia y duplicar la versión, el
                                    alcance y el tipo de la dependencia.</p>
                                    <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25 table-responsive">
                                        <thead>
                                            <tr>
                                            <th>Etiqueta</th>
                                            <th>Descripción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>groupId, artifactId</th>
                                                <td>Coordenadas correspondientes de la dependencia.</td>
                                            </tr>
                                            <tr>
                                                <th>versión</th>
                                                <td>Especificación de una dependencia.</td>
                                            </tr>
                                            <tr>
                                                <th>type</th>
                                                <td>Corresponde al tipo de embalaje del artefacto dependiente. Esto está predeterminado en jar.</td>
                                            </tr>
                                            <tr>
                                                <th>scope</th>
                                                <td>Ámbito de la dependencia, ruta de clase de la tarea en cuestión (compilación y tiempo de ejecución, prueba, etc.).</td>
                                            </tr>
                                            <tr>
                                                <th>compile</th>
                                                <td>Este es el alcance predeterminado, se usa si no se especifica ninguno. Las dependencias de compilación están disponibles en todos los classpaths. Además, esas dependencias se propagan a proyectos dependientes.</td>
                                            </tr>
                                            <tr>
                                                <th>provided</th>
                                                <td>Este es muy similar a la compilación, pero indica que espera que el JDK o un contenedor, lo proporcione en tiempo de ejecución. Sólo está disponible en el classpath de compilación y prueba, y no es transitivo.</td>
                                            </tr>
                                            <tr>
                                                <th>runtime</th>
                                                <td>Este ámbito indica que la dependencia no es necesaria para la compilación, pero sí para la ejecución. Está en los classpaths de tiempo de ejecución y de prueba, mas no en el classpath de compilación.</td>
                                            </tr>
                                            <tr>
                                                <th>test</th>
                                                <td>Este alcance indica que la dependencia no es necesaria para el uso normal de la aplicación, y sólo está disponible para las fases de compilación y ejecución de prueba. No es transitivo.</td>
                                            </tr>
                                            <tr>
                                                <th>system</th>
                                                <td>Este alcance es similar al proporcionado, excepto que debe proporcionar el JAR que lo contiene explícitamente. El artefacto siempre está disponible y no se busca en un repositorio.</td>
                                            </tr>
                                            <tr>
                                                <th>systemPath</th>
                                                <td>Se usa sólo si el ámbito es de tipo system. La ruta debe ser absoluta, por lo que se recomienda utilizar una propiedad para indicar la ruta específica de la máquina (más en las propiedades a continuación), como $ &#123;java.home&#125; / lib</td>
                                            </tr>
                                            <tr>
                                                <th>opcional</th>
                                                <td>Marca una dependencia opcional cuando este proyecto en sí sea una dependencia. Por ejemplo, si un proyecto A depende del proyecto B para compilar una porción del código que no se puede usar en tiempo de ejecución, entonces es posible que no tengamos necesidad del proyecto B para todo el proyecto. En este caso, si el proyecto X agrega el proyecto A como su propia dependencia, entonces Maven no necesitará instalar el proyecto B en absoluto. Simbólicamente, si => representa una dependencia requerida, y -> representa opcional, aunque A => B puede ser el caso cuando se construye A X => A -> B sería el caso al construir X.</td>
                                            </tr>
                                            <tr>
                                                <th>exclusions</th>
                                                <td>Las exclusiones le dicen a Maven que no incluya el proyecto especificado, pues es una dependencia de esta dependencia (en otras palabras, su dependencia transitiva). Por ejemplo, maven-embedder requiere maven-core, y no lo deseamos usar, entonces lo agregamos como una exclusión.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <p class="pie-img"><span class="fw-500">Tabla 5.</span> Etiquetas utilizadas en la gestión de dependencias</p>
                            </div>
                            <div class="margin-t-60">
                                <div class="border-gris-6 margin-b-10 padding-b-10">
                                    <h6>Gestión de plugins (pluginManagement)</h6>
                                </div>
                                <p>En Maven, un plugin posibilita ejecutar alguna tarea (acción) en un proyecto. Por ejemplo, tareas de construcción como compilar y empaquetar. PluginManagement permite centralizar la definición y versiones de los plugins.</p>
                                <table class="table tabla-cebrado-rosa-ine margin-t-25 margin-b-25 table-responsive">
                                    <thead>
                                        <tr>
                                        <th>Etiqueta</th>
                                        <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>groupId , artifactId</th>
                                            <td>Coordenadas correspondientes de la dependencia.</td>
                                        </tr>
                                        <tr>
                                            <th>versión</th>
                                            <td>Especificación de una dependencia.</td>
                                        </tr>
                                        <tr>
                                            <th>executions</th>
                                            <td>Destinado a participar en algunas fases del ciclo de vida de construcción</td>
                                        </tr>
                                        <tr>
                                            <th>dependencies</th>
                                            <td>Sirve para configurar dependencias de los complementos de compilación</td>
                                        </tr>
                                        <tr>
                                            <th>inherited</th>
                                            <td>De forma predeterminada, la configuración del complemento debe propagarse a los POM secundarios, por lo que para romper la herencia, se utiliza esta etiqueta.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="pie-img"><span class="fw-500">Tabla 6.</span> Etiquetas utilizadas en la gestión de plugins</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="admin" class="margin-t-45 margin-b-45">
                        <h4>Estructura base para administración de dependencias</h4>
                        <div class="margin-t-25">
                            <p>La Arquitectura 2.0 define una jerarquía de POM (Figura 5), como POM padre se tiene al archivo ine-raiz-pom, éste permite establecer la base de todos los proyectos (mx.ine); de éste, hereda ine-bom, el cual es un BOM que contiene
                                las definiciones de las dependencias comunes que requieren todos los proyectos.</p>
                            <p>Esta arquitectura contempla tres tipos de proyectos: aplicaciones, servicios y comunes (Figura 6); cada tipo de proyecto está asociado a un POM específico: ine-aplicaciones-pom, ine-servicios-pom e ine-comunes-pom, respectivamente.
                                Cada uno de estos POM heredan de ine-bom, diferenciándose por las dependencias requeridas.</p>
                            <p>En la Figura 7, es posible visualizar las relaciones jerárquicas entre los POM de los diferentes tipos de proyectos.</p>
                            <div class="back-img margin-t-25 margin-b-25">
                                <img class="img-responsive img-fluid img-width" src="assets/img/lineamientos-generales/documentacion/figura-6.svg" alt="">
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 6.</span> Estructura para gestión de dependencias</p>
                            <div class="back-img margin-t-25 margin-b-25">
                                <img class="img-responsive img-fluid img-width" src="assets/img/lineamientos-generales/documentacion/figura-7.svg" alt="">
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 7.</span> Tipos de soluciones</p>
                            <div class="back-img margin-t-25 margin-b-25">
                                <img class="img-responsive img-fluid img-width" src="assets/img/lineamientos-generales/documentacion/figura-8.svg" alt="">
                            </div>
                            <p class="pie-img"><span class="fw-500">Figura 8.</span> Estructura general de las soluciones y su genealogía de dependencia</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div id="referencias" class="margin-t-45 margin-b-60">
                <h3>Referencias</h3>
                <div class="container margin-t-25 margin-b-25 padding-t-20 padding-b-20 fondo padding-r-20">
                    <ul>
                        <li>Código Limpio: Manual de estilo para el desarrollo ágil de software, Robert C. Martin, Editorial: ANAYA MULTIMEDIA, PP. 464</li>
                        <li>Arquitectura Limpia: Guía Para Especialistas En La Estructura Y El Diseño De Software, Robert C. Martin, Editorial: ANAYA MULTIMEDIA, PP.320</li>
                        <li><a class="subrayado" href="http://www.oracle.com/technetwork/java/javase/documentation/codeconventions-139411.html">Sitio oficial de las convenciones de código Java</a></li>
                        <li><a class="subrayado" href="http://www.oracle.com/technetwork/java/javase/documentation/writingdoccomments-137785.html">Guía javadoc</a></li>
                        <li><a class="subrayado" href="https://docs.oracle.com/javase/8/">Documentación java 8</a></li>
                        <li><a class="subrayado" href="https://maven.apache.org/pom.html">Documentación Maven</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="order-0 order-sm-0 order-md-1 col-md-3 col-lg-3 menu-r-brdr" id="myScrollspy">
        <div class="list-group">
            <div class="margin-t-60">
                <h6 class="fw-500 sn-brdr list-group-item list-group-item-action d-md-none d-lg-none txt-c">Contenido</h6>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action active" href="#acerca-de" (click)="globalService.gotoSection('acerca-de'); $event.preventDefault();">Acerca de</a>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#introduccion" (click)="globalService.gotoSection('introduccion'); $event.preventDefault();">Introducción</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#proposito" (click)="globalService.gotoSection('proposito'); $event.preventDefault();">Propósito</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#alcance" (click)="globalService.gotoSection('alcance'); $event.preventDefault();">Alcance</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#lineamientos-base" (click)="globalService.gotoSection('lineamientos-base'); $event.preventDefault();">Lineamientos base</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#nomenclatura" (click)="globalService.gotoSection('nomenclatura'); $event.preventDefault();">Nomenclatura</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#organizacion" (click)="globalService.gotoSection('organizacion'); $event.preventDefault();">Organización de un archivo</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#lineamientos-arquitectura" (click)="globalService.gotoSection('lineamientos-arquitectura'); $event.preventDefault();">Lineamientos de arquitectura</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#manejo" (click)="globalService.gotoSection('manejo'); $event.preventDefault();">Manejo de versiones en artefactos</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#nomenclatura-artefactos" (click)="globalService.gotoSection('nomenclatura-artefactos'); $event.preventDefault();">Nomenclatura de artefactos</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#nomenclatura-modulos" (click)="globalService.gotoSection('nomenclatura-modulos'); $event.preventDefault();">Nomenclatura de módulos de proyecto</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#nomenclatura-paquetes" (click)="globalService.gotoSection('nomenclatura-paquetes'); $event.preventDefault();">Nomenclatura de paquetes</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#nomenclatura-clases" (click)="globalService.gotoSection('nomenclatura-clases'); $event.preventDefault();">Nomenclatura de clases</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#constantes-clase" (click)="globalService.gotoSection('constantes-clase'); $event.preventDefault();">Constantes de clase</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#constantes-capa" (click)="globalService.gotoSection('constantes-capa'); $event.preventDefault();">Constantes de capa</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#utilerias" (click)="globalService.gotoSection('utilerias'); $event.preventDefault();">Utilerías</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#pom-ine" (click)="globalService.gotoSection('pom-ine'); $event.preventDefault();">POM INE</a>
                <div class="list-group sublist">
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#definiciones" (click)="globalService.gotoSection('definiciones'); $event.preventDefault();">Definiciones básicas</a>
                    <a class="sn-brdr list-group-item txt-s list-group-item-action" href="#admin" (click)="globalService.gotoSection('admin'); $event.preventDefault();">Administración de dependencias</a>
                </div>
                <a class="fw-500 sn-brdr list-group-item txt-t list-group-item-action" href="#referencias" (click)="globalService.gotoSection('referencias'); $event.preventDefault();">Referencias</a>
            </div>
        </div>
    </div>
</div>