<h3>Usos del color</h3>
<p>
    Al ser el árbitro de los procesos electorales, tanto locales como federales, es principio rector del Instituto, ser apartidista y por lo tanto se cuida el aspecto cromático de los gráficos para evitar especulaciones sobre inclinación política alguna.
</p>
<p>Al respecto, se creo una paleta de 4 colores con una amplia gama de tonalidades, a fin de potencializar su uso.</p>
<h3 class="padding-t-50 padding-b-15">Paleta primaria</h3>

<div class="row padding-t-10 fw-500 f-12 ">
    <div class="col-5 col-md-5">
        Institutcional
    </div>
    <div class="col-3 col-md-3 padding-l-0">
        Neutro
    </div>
    <div class="col-2 col-md-2 text-center">
        Complementario
    </div>
    <div class="col-2 col-md-2 text-center">
        Aux.
    </div>
</div>
<img class="imagen-100" src="./assets/img/r-color/paleta-primaria.svg" alt="Paleta de colores del INE, muestra el color principal, neutro, complementario y auxiliar">
<div class="row padding-t-10 fw-400 f-14">
    <div class="col-5 col-md-5">
        <p class="color-rosaINE">#D5007f </p>
        <p>R. 213 <br>G. 0<br>B. 127</p>
    </div>
    <div class="col-3 col-md-3 padding-l-0">
        <p class="color-gris">#333333
        </p>
        <p>R. 51 <br>G. 51<br>B. 51</p>
    </div>
    <div class="col-2 col-md-2 padding-left-15 padding-l-25">
        <p class="color-azul-oscuro5">#409AA1
        </p>
        <p>R. 64 <br>G. 154<br>B. 161</p>
    </div>
    <div class="col-2 col-md-2 text-center">
        <p class="color-morado">#8140A1</p>
        <p>R. 0129 <br>G. 0006<br>B. 1614</p>
    </div>
</div>
<h3 class="padding-t-50 ">Gama de colores</h3>
<table class="tabla-cuerpo tabla-borde padding-t-20 ">
    <tr>
        <td class="bg-vino ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#3D0024</strong><br>RGB. (61 , 0 , 36)
                <br> CMYK. (60% , 98% , 41% , 72%) </p>
        </td>
        <td class="bg-azul-oscuro ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#122C2E</strong><br>RGB. (18 , 44 , 46)
                <br> CMYK. (89% , 58% , 58% , 69%) </p>
        </td>
        <td class="bg-morado-oscuro ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#25122E</strong><br>RGB. (37 , 18 , 46)
                <br> CMYK. (89% , 97% , 44% , 65%) </p>
        </td>
        <td class="bg-gris-oscuro1 " rowspan="5 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#242424</strong><br>RGB. (36 , 36 , 36)
                <br> CMYK. (73% , 64% , 59% , 76%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-vino1 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#5B0036</strong><br>RGB. (91 , 0 , 54)
                <br>CMYK. (47% , 100% , 33% , 55%) </p>
        </td>
        <td class="bg-azul-oscuro1 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#1B4245</strong><br>RGB. (27 , 66 , 69)
                <br> CMYK. (86% , 50% , 54% , 53%) </p>
        </td>
        <td class="bg-morado-oscuro1 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#371B45</strong><br>RGB. (55 , 27 , 69)
                <br> CMYK. (86% , 100% , 36% , 43%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-magenta1 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#7A0049</strong><br>RGB. (122 , 0 , 73)
                <br> CMYK. (41% , 100% , 29% , 36%) </p>
        </td>
        <td class="bg-azul-oscuro2 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#25585C</strong><br>RGB. (37 , 88 , 92)
                <br> CMYK. (82% , 42% , 49% , 38%) </p>
        </td>
        <td class="bg-morado-oscuro2 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#4A255C</strong><br>RGB. (74 , 37 , 92)
                <br> CMYK. (82% , 98% , 29% , 24%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-magenta2 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#98005B</strong><br>RGB. (152 , 0 , 91)
                <br> CMYK. (34% , 100% , 24% , 19%) </p>
        </td>
        <td class="bg-azul-oscuro3 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#2E6E73</strong><br>RGB. (46 , 110 , 115)
                <br> CMYK. (79% , 35% , 45% , 24%) </p>

        </td>
        <td class="bg-morado-oscuro3 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#5C2E73</strong><br>RGB. (92 , 46 , 115)
                <br> CMYK. (77% , 94% , 18% , 7%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-magenta ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#B7006D</strong><br>RGB. (183 , 0 , 109)
                <br> CMYK. (26% , 100% , 16% , 5%) </p>
        </td>
        <td class="bg-azul-oscuro4 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#37848A</strong><br>RGB. (55 , 132 , 138)
                <br> CMYK. (76% , 29% , 41% , 12%) </p>
        </td>
        <td class="bg-morado-oscuro4 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#6F378A</strong><br>RGB. (111 , 55 , 138)
                <br> CMYK. (69% , 89% , 2% , 0%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-rosaINE ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#D5007F</strong><br>RGB. (213 , 0 , 127
                <br> CMYK. (12% , 99% , 1% , 0%) </p>
        </td>
        <td class="bg-azul-oscuro5 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#409AA1</strong><br>RGB. (64 , 154 , 161)
                <br> CMYK. (73% , 20% , 36% , 3%) </p>
        </td>
        <td class="bg-morado ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#8140A1</strong><br>RGB. (129 , 64 , 161
                <br> CMYK. (64% , 98% , 0% , 0% </p>
        </td>
        <td class="bg-gris-oscuro ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#333333</strong><br>RGB. (51 , 51 , 51)
                <br> CMYK. (69% , 60% , 56% , 66%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-rosa ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#DB2491</strong><br>RGB. (219 , 36 , 145)
                <br> CMYK. (14% , 91% , 0% , 0%) </p>
        </td>
        <td class="bg-azul-clarito ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#5BA8AE</strong><br>RGB. (91 , 168 , 174)
                <br> CMYK. (65% , 16% , 32% , 1%) </p>
        </td>
        <td class="bg-morado-clarito ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#935BAE</strong><br>RGB. (147 , 91 , 174)
                <br> CMYK. (52% , 72% , 0% , 0%) </p>
        </td>
        <td class="bg-gris-oscuro4 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#494949</strong><br>RGB. (73 , 73 , 73)
                <br> CMYK. (63% , 53% , 51% , 50%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-rosa1 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#E149A4</strong><br>RGB. (225 , 73 , 164)
                <br> CMYK. (15% , 80% , 0% , 0%) </p>
        </td>
        <td class="bg-azul-clarito1 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#77B7BC</strong><br>RGB. (119 , 183 , 188)
                <br> CMYK. (57% , 11% , 27% , 0%) </p>
        </td>
        <td class="bg-morado1 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#A577BC</strong><br>RGB. (165 , 119 , 188)
                <br> CMYK. (42% , 60% , 0% , 0%)</p>
        </td>
        <td class="bg-gris-oscuro2 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#666666</strong><br>RGB. (102 , 102 , 102)
                <br> CMYK. (56% , 45% , 45% , 33%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-rosa-clarito ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#E76DB6</strong><br>RGB. (231 , 109 , 182)
                <br> CMYK. (60% , 98% , 41% , 72%) </p>
        </td>
        <td class="bg-azul-clarito2 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#92C5C9</strong><br>RGB. (146 , 197 , 201)
                <br>CMYK. (12% , 68% , 0% , 0%) </p>
        </td>
        <td class="bg-morado-clarito1 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#B792C9</strong><br>RGB. (183 , 146 , 201)
                <br> CMYK. (33% , 48% , 0% , 0%) </p>
        </td>
        <td class="bg-gris-oscuro3 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#999999</strong><br>RGB. (153 , 153 , 153)
                <br> CMYK. (41% , 32% , 32% , 11%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-rosa2 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#ED92C8</strong><br>RGB. (237 , 146 , 200)
                <br> CMYK. (7% , 54% , 0% , 0%) </p>
        </td>
        <td class="bg-azul-clarito3 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#ADD4D7</strong><br>RGB. (173 , 212 , 215)
                <br> CMYK. (37% , 5% , 17% , 0% </p>
        </td>
        <td class="bg-morado2 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#C9ADD7</strong><br>RGB. (201 , 173 , 215)
                <br> CMYK. (60% , 98% , 41% , 72%) </p>
        </td>
        <td class="bg-gris-oscuro5 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-blanco "> <strong>#B6B6B6</strong><br>RGB. (182 , 182 , 182)
                <br> CMYK. (31% , 24% , 25% , 4%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-rosa3 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#F3B6DA</strong><br>RGB. (243 , 182 , 218)
                <br> CMYK. (4% , 38% , 0% , 0%) </p>
        </td>
        <td class="bg-color-Verde-3 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#C8E2E4</strong><br>RGB. (200 , 226 , 228)
                <br> CMYK. (26% , 3% , 12% , 0%) </p>
        </td>
        <td class="bg-morado3 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#DBC8E4</strong><br>RGB. (219 , 200 , 228)
                <br> CMYK. (16% , 25% , 0% , 0%) </p>
        </td>
        <td class="bg-gris-oscuro6 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#CCCCCC</strong><br>RGB. (204 , 204 , 204)
                <br> CMYK. (23% , 17% , 18% , 1%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-rosa4 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#F9DBED</strong><br>RGB. (249 , 219 , 237)
                <br> CMYK. (2% , 20% , 0% , 0%) </p>
        </td>
        <td class="bg-color-Verde-4 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#E4F1F2</strong><br>RGB. (228 , 241 , 242)
                <br>CMYK. (13% , 1% , 6% , 0%) </p>
        </td>
        <td class="bg-morado4 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#EDE4F2</strong><br>RGB. (237 , 228 , 242)
                <br> CMYK. (7% , 12% , 0% , 0%) </p>
        </td>
        <td class="bg-gris-clarito ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#F2F2F2</strong><br>RGB. (242 , 242 , 242)
                <br> CMYK. (6% , 4% , 5% , 0%) </p>
        </td>
    </tr>
    <tr>
        <td class="bg-rosa-clarito1 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#FCEDF6</strong><br>RGB. (252 , 237 , 246)
                <br> CMYK. (0% , 10% , 0% , 0%) </p>
        </td>
        <td class="bg-azul-clarito4 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#F2F8F9</strong><br>RGB. (242 , 248 , 249)
                <br> CMYK. (6% , 1% , 3% , 0%) </p>
        </td>
        <td class="bg-morado-clarito2 ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#F6F2F9</strong><br>RGB. (246 , 242 , 249)
                <br> CMYK. (4% , 6% , 0% , 0%) </p>
        </td>
        <td class="bg-gris ">
            <p class="padding-t-10 padding-b-5 f-14 fw-400 color-gris "> <strong>#F8F8F8</strong><br>RGB. (248 , 248 , 248)
                <br> CMYK. (3% , 2% , 3% , 0%) </p>
        </td>
    </tr>

</table>

<h3 class="padding-t-50 padding-b-15 ">Usos correctos / incorrectos</h3>
<img class="img-fluid " src="./assets/img/r-color/incorrecto-correcto.svg " alt="Diferentes ejemplos de combinación de colores donde se muestra la legibilidad de textos.">