@import './src/sass/r-color.scss';
h3 {
    font-size: 1.5rem;
}

.imagen-100 {
    width: 100%;
}

td{
    text-align: left;
    padding: 0px 0px;
  }
/*--------------------------*\
      Propiedades Movil
\*--------------------------*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .padding-left-15 {
        padding-left: 15px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .imagen-al-centro {
        text-align: center;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}