
<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="padding-t-30">Características</h3>
    <!-- Spinner -->
    <h4 class="titulos-elementos padding-t-10">Spinner</h4>
    <div class="row">
        <div class="col-md-3 col-6 col-sm-6">
            <div class=" padding-t-20 ">
                <div class="sk-cube-grid margin-l-150 ">
                    <div class="sk-cube sk-cube1 "></div>
                    <div class="sk-cube sk-cube2 "></div>
                    <div class="sk-cube sk-cube3 "></div>
                    <div class="sk-cube sk-cube4 "></div>
                    <div class="sk-cube sk-cube5 "></div>
                    <div class="sk-cube sk-cube6 "></div>
                    <div class="sk-cube sk-cube7 "></div>
                    <div class="sk-cube sk-cube8 "></div>
                    <div class="sk-cube sk-cube9 "></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Loader continuo -->
    <div class="row ">

        <div class="col-md-3 padding-t-60 col col-sm">
            <p class="subseccion etiqueta-referencia">Loader continuo</p>
            <div class="cuadro bg-magenta"></div>
            <p class="texto-elementos padding-l-40">
                #B7006D
            </p>
            <div class="text-center">
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1 "></div>
                    <div class="sk-cube sk-cube2 "></div>
                    <div class="sk-cube sk-cube3 "></div>
                    <div class="sk-cube sk-cube4 "></div>
                    <div class="sk-cube sk-cube5 "></div>
                    <div class="sk-cube sk-cube6 "></div>
                    <div class="sk-cube sk-cube7 "></div>
                    <div class="sk-cube sk-cube8 "></div>
                    <div class="sk-cube sk-cube9 "></div>
                </div>
            </div>
        </div>

        <!--  Small loader -->
        <div class="col-md-3 padding-t-60 col col-sm">
            <p class="subseccion etiqueta-referencia">Small loader</p>

            <div class="cuadro bg-magenta"></div>
            <p class="texto-elementos padding-l-40">
                #B7006D
            </p>
            <div class="padding-t-10">
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube5 "></div>
                </div>
            </div>
        </div>
    </div>
    <!--Tamaño-->
    <h4 class="titulos-elementos padding-t-60 ">Tamaño</h4>
    <div class="row ">
        <div class="col-md-3 col col-sm">
            <p class="subseccion etiqueta-referencia padding-t-30">Loader continuo</p>
            <!-- <p class="subseccion etiqueta-referencia text-left ">Estilo 1</p> -->
            <div class="img-al-centro">
                <img class="img-fluid " align="left " src="./assets/img/loader/Estilo/estructura-1.svg " alt="El componente loader continuo debe medir 60px de alto por 60px de ancho">
            </div>
        </div>
        <div class="col-md-3 col col-sm">
            <p class="subseccion etiqueta-referencia padding-t-30 ">Small loader</p>
            <div class="img-al-centro">
                <img class="img-fluid " align="left " src="./assets/img/loader/Estilo/estructura-2.svg " alt="El componente small loader debe medir 20px de alto por 20px de ancho">
            </div>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos' ">
    <h3 class="padding-t-30 ">¿Qué es un spinner?</h3>
    <div class="padding-t-15 ">
        <p>
            Un loader nos ayudará a evitar el estrés o frustración que pueda existir en nuestros usuarios cuando el sistema esté ejecutando algún proceso. A diferencia del progress bar, el loader lo puedes ocupar en modales, bloqueos de pantalla completa o dentro
            de ciertos componentes como los inputs, siempre que el tiempo estimado de espera no sobrepase los 10 segundos.
        </p>
        <p>
            <strong>Loader continuo:</strong> Imaginemos que no se tiene claro el tiempo que puede tardar cierto proceso (entre dos y diez segundos) pero quisiéramos que los usuarios se percaten psicológicamente que el proceso está avanzando de manera
            rápida y que el tiempo de espera no será excesivo.
        </p>
        <p>
            Utiliza un loader continuo para dar esta sensación a tus usuarios.
        </p>
        <p class="txt-title ">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Se requiere enviar un mensaje con los horarios en que serán transmitidos ciertos spots para un partido político en las diferentes emisoras del país. Una vez filtrada la información, se da clic en el botón de enviar, esto tardará aproximadamente diez segundos,
            mientras tanto, el usuario no podrá interactuar en la pantalla. Utiliza un loader continuo para asegurar que los usuarios estén informados de que los datos están en el proceso de envío.
        </p>
    </div>
    <div class="align-items-center padding-b-60 img-al-centro">
        <img class="img-fluid " src="./assets/img/loader/Usos/uso-1.svg " alt="Ilustración del uso de un loader que bloquea la pantalla">
    </div>
    <p>
        <strong>Small loader:</strong> : Utiliza este small loader cuando la carga de algún dato dentro de un componente en específico tenga un tiempo de espera prolongado.
    </p>

    <p class="txt-title ">
        <strong>Ejemplo:</strong>
    </p>
    <p>
        Se pide colocar el nombre completo del funcionario de casilla (presidente) en una entrada de texto en el área de datos generales, estos nombres ya existen dentros de la base de datos.
    </p>
    <p>
        Cuando el usuario termine de escribir el dato, dará un enter, seguido a ello el sistema hará una búsqueda dentro de la base para corroborar el dato, esto tardará algunos segundos. Apóyate de un small loader para colocarlo justo en la entrada de texto
        del lado izquierdo.
    </p>
    <div class="align-items-center padding-b-60 img-al-centro">
        <img class="img-fluid " src="./assets/img/loader/Usos/uso-2.svg " alt="Ilustración del uso de un loader que bloquea solo el formulario">
    </div>
</section>
<!--Sección Código-->
<section *ngIf="seccion=='codigo'">
    <h3 class="padding-t-30">Spinner</h3>
    <div class="col-12 padding-t-20 ">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid margin-t-60">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('spinner')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="spinner">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube-grid"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube1"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube2"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube3"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube4"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube5"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube6"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube7"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube8"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube9"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
    <div class="col-12 padding-t-20 ">
        <div class="padding-t-10">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube5"></div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('spinnerSmall')" ngbTooltip="Código copiado" triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <div id="spinnerSmall">
            <pre>
                <code class="language-html" data-lang="html">
<span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube-grid"</span><span>></span>
    <span><</span><span class="ca5">div</span><span class="ca4"> class</span><span>=</span><span class="cn">"sk-cube sk-cube5"</span><span>></span><span><</span><span>/</span><span class="ca5">div</span><span>></span>
<span><</span><span>/</span><span class="ca5">div</span><span>></span>
                </code>
            </pre>
        </div>
    </div>
</section>