<h3>Identificadores Gráficos</h3>
<p class="padding-t-20">
    El ID se compondrá de la abreviatura y el nombre corto del sistema, sin excepción, no podrá tener más de 50 caracteres, ni más de dos renglones. Se debe evitar dejar artículos, conjunciones, preposiciones, al final del renglón.
</p>
<div class="padding-t-30">
    <img class="img-fluid" src="./assets/img/recursos/identificadores-graficos/identificador-grafico.svg" alt="Ejemplo de un identificador gráfico y su rejilla">
</div>