<!--Sección Estilo -->
<section *ngIf="seccion=='estilo'">
    <h3 class="fw-bold margin-t-30 margin-b-35">Estructura y espaciado</h3>
    <h4>Regular</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/appbar_top/estilo/regular.svg" alt="">
    </div>
    <hr>
    <h4 class="margin-t-60">Contextual</h4>
    <div class="margin-b-60  margin-t-50 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/appbar_top/estilo/contextual.svg" alt="">
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-50">Tipografía</h3>
    <div class="table-responsive-sm table-responsive-md margin-b-60">
        <table>
            <tr>
                <th>Elemento</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Alineación</th>
            </tr>
            <tr>
                <td class="f-20 fw-500">H6</td>
                <td>20dp</td>
                <td>Medium</td>
                <td>Izquierda</td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="margin-t-60 margin-b-30">Variantes de color sugeridas</h3>
    <p class="margin-b-50">Encuentra ejemplos de la aplicación adecuada de la <a [routerLink]="['/componentes-ui/recursos/elementos-de-diseno/color']"><u class="color-magenta fw-500">paleta de color</u></a> del Instituto Nacional Electoral para este componente</p>
    <div class="row justify-content-sm-center">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/appbar_top/estilo/variante-1.svg" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Primary Dark:</strong> #000000</p>
            <p class="border-app margin-b-10"><strong>App bar:</strong> #24242</p>
            <p class="border-app"><strong>Contenido:</strong> #FFFFFF</p>
        </div>
    </div>
    <div class="row justify-content-center margin-t-70">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/appbar_top/estilo/variante-2.svg" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Primary Dark:</strong> #98005B</p>
            <p class="border-app margin-b-10"><strong>App bar:</strong> #D5007F</p>
            <p class="border-app"><strong>Contenido:</strong> #FFFFFF</p>
        </div>
    </div>
    <div class="row justify-content-center margin-t-70">
        <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-1 order-md-0 img-al-centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/appbar_top/estilo/variante-3.svg" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-3 order-0 order-sm-0 order-md-1">
            <p class="margin-b-10"><strong>Primary Dark:</strong> #B7006D</p>
            <p class="border-app margin-b-10"><strong>App bar:</strong> #FFFFFF</p>
            <p class="border-app"><strong>Contenido:</strong> #D5007F</p>
        </div>
    </div>
</section>
<!--Sección Usos-->
<section *ngIf="seccion=='usos'">
    <h3 class="padding-t-30">¿Para qué se utiliza?</h3>
    <div class="padding-t-15">
        <p>
            Para mostrar el contenido y las acciones relacionadas con la pantalla actual. Se utiliza para reforzar la
            marca, mostrar los títulos de pantalla, navegar y mostrar acciones.
        </p>
        <p>
            Se puede transformar en una barra de acción contextual al seleccionar un componente como las tarjetas.
        </p>
        <h3 class="padding-t-30">¿Cuándo se utiliza?</h3>
        <p class="margin-t-30">
            <strong>Regular:</strong> Utiliza este componente en cada una de las pantallas de tu aplicación, con una
            posición y contenido consistentes, para guiar a los usuarios y aumentar su familiaridad.
        </p>
        <p class="tip padding-15 margin-0">
            <strong>Tip:</strong> La barra superior de la aplicación puede desaparecer al desplazar la pantalla.
        </p>
        <p class="txt-title margin-t-25">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            Una aplicación principal del INE incluye muchas secciones por lo que se determina usar una navegación
            mediante un menú tipo hamburguesa y un buscador.
        </p>
        <div class="row space margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/app-bar-top/regular.svg"
                alt="Ilustración de la app bar: top con logotipo al centro">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/app-bar-top/regular2.svg"
                alt="Ilustración de la app bar: top con logotipo al lado izquierdo">
        </div>
        <p class="margin-t-30">
            <strong>Contextual:</strong> Cuando el usuario selecciona un elemento accionable, la barra superior regular
            se transforma en contextual y permanecerá activa hasta que se tome una acción con el elemento seleccionado o
            se regrese a la pantalla
            anterior.
        </p>
        <p class="txt-title">
            <strong>Ejemplo:</strong>
        </p>
        <p>
            La aplicación del INE te muestra un artículo de interés al seleccionar una tarjeta, este artículo te lleva a
            otra pantalla. En este caso, la barra superior regular deberá transformarse en una contextual que incluya el
            título de página y un botón para
            regresar.
        </p>
        <div class="img-al-centro margin-b-80  margin-t-60 text-left">
            <img class="img-fluid imagenes-al-centro" src="./assets/img/app-bar-top/contextual.svg"
                alt="Ilustración de la app bar: top en uso contextual con botón de regresar a la izquierda y título de la página al centro">
        </div>
    </div>
</section>
<section *ngIf="seccion=='codigo'">
    <p class="margin-t-30">
        <strong>1. </strong>Para agregar este componente a tu aplicación, primero ubica el fichero
        <strong>activity_main.xml</strong>
    </p>
    <div class="margin-b-60  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/activity.svg" alt="">
    </div>
    <p class="tip padding-15 margin-0">
        <strong>Tip:</strong> Puedes conocer la <a class="enlace" [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']">configuración general</a> de un proyecto en el apartado
        Lineamientos Android.
    </p>
    <p class="margin-t-70">
        <strong>2. </strong>Dentro de este fichero escribe el siguiente código:
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('app-3')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="app-3">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;com.google.android.material.appbar.AppBarLayout</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_width</span><span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span class="cb">:layout_marginBottom</span><span class="cl">="40dp"</span><span class="ct">&gt;</span><span>
    
    </span><span class="ct">&lt;com.google.android.material.appbar.MaterialToolbar</span><span>
        </span><span class="cm">android</span><span>:layout_width</span><span class="cl">="match_parent"</span><span>
        </span><span class="cm">android</span><span>:layout_height</span><span class="cl">="?attr/actionBarSize"</span><span>
        </span><span class="cm">app</span><span>:menu</span><span class="cl">="@menu/top_app_bar_menu"</span><span>
        </span><span class="cm">app</span><span>:navigationIcon</span><span class="cl">="@drawable/ic_menu"</span><span class="ct">&gt;</span><span>
    
        </span><span class="ct">&lt;ImageView</span><span>
            </span><span class="cm">android</span><span>:layout_width</span><span class="cl">="78dp"</span><span>
            </span><span class="cm">android</span><span>:layout_height</span><span class="cl">="25dp"</span><span>
            </span><span class="cm">android</span><span>:src</span><span class="cl">="@drawable/ic_ine_logo_rosa_blanco_gp1700"</span><span>
            </span><span class="cm">tools</span><span>:ignore</span><span class="cl">="ContentDescription"</span><span class="ct"> /&gt;</span><span>
    </span><span class="ct">&lt;/com.google.android.material.appbar.MaterialToolbar&gt;</span><span>
</span><span class="ct">&lt;/com.google.android.material.appbar.AppBarLayout&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.appbar.AppBarLayout</span><span>
    </span><span class="cm">android</span><span>:layout_width</span><span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span><span>:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span>:layout_marginBottom</span><span class="cl">="40dp"</span><span class="ct">&gt;</span><span>
    
    </span><span class="ct">&lt;com.google.android.material.appbar.MaterialToolbar</span><span>
        </span><span class="cm">android</span><span>:layout_width</span><span class="cl">="match_parent"</span><span>
        </span><span class="cm">android</span><span>:layout_height</span><span class="cl">="?attr/actionBarSize"</span><span>
        </span><span class="cm">app</span><span>:menu</span><span class="cl">="@menu/top_app_bar_menu"</span><span>
        </span><span class="cm">app</span><span>:navigationIcon</span><span class="cl">="@drawable/ic_menu"</span><span>
        </span><span class="cm">app</span><span>:title</span><span class="cl">="@string/page_title"</span><span>
        </span><span class="cm">app</span><span>:titleTextColor</span><span class="cl">="@color/colorTextAndIcons"</span><span class="ct"> /&gt;</span><span>
</span><span class="ct">&lt;/com.google.android.material.appbar.AppBarLayout&gt;</span><span>

</span><span class="ct">&lt;com.google.android.material.appbar.AppBarLayout</span><span>
    </span><span class="cm">android</span><span>:layout_width</span><span class="cl">="match_parent"</span><span>
    </span><span class="cm">android</span><span>:layout_height</span><span class="cl">="wrap_content"</span><span>
    </span><span class="cm">android</span><span>:layout_marginBottom</span><span class="cl">="40dp"</span><span class="ct">&gt;</span><span>
    
    </span><span class="ct">&lt;com.google.android.material.appbar.MaterialToolbar</span><span>
        </span><span class="cm">android</span><span>:layout_width</span><span class="cl">="match_parent"</span><span>
        </span><span class="cm">android</span><span>:layout_height</span><span class="cl">="?attr/actionBarSize"</span><span>
        </span><span class="cm">app</span><span>:menu</span><span class="cl">="@menu/top_app_bar_menu_delete"</span><span>
        </span><span class="cm">app</span><span>:navigationIcon</span><span class="cl">="@drawable/ic_backspace"</span><span>
        </span><span class="cm">app</span><span>:title</span><span class="cl">="@string/selecc_elements"</span><span>
        </span><span class="cm">app</span><span>:titleTextColor</span><span class="cl">="@color/colorTextAndIcons"</span><span class="ct"> /&gt;</span><span>
</span><span class="ct">&lt;/com.google.android.material.appbar.AppBarLayout&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-60">
        <strong>3. </strong>Para agregar los iconos necesarios, crea un fichero llamado <strong>top_app_bar_menu.xml</strong> dentro de la ruta <strong>res/menu/ top_app_bar_menu.xml</strong> 
    </p>
    <div class="margin-b-80  margin-t-30 text-center back-img">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/appbar_top/top_app_bar.svg" alt="">
    </div>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('app-5')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="app-5">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;?</span><span>xml version</span><span class="cl">="1.0"</span> encoding<span class="cl">="utf-8"</span><span class="ct">?&gt;</span><span>  
</span><span class="ct">&lt;menu </span>xmlns:<span class="cm">app</span><span class="cl">="http://schemas.android.com/apk/res-auto"</span><span>
    </span>xmlns:<span class="cm">android</span><span class="ct">="http://schemas.android.com/apk/res/android"&gt;</span><span>  
    </span><span class="ct">&lt;item</span><span>  
        </span><span class="cm">android</span><span>:id</span><span class="cl">="@+id/share"</span><span>
        </span><span class="cm">android</span><span>:icon</span><span class="cl">="@drawable/ic_share"</span><span>
        </span><span class="cm">android</span><span>:title</span><span class="cl">="share"</span><span>
        </span><span class="cm">android</span><span>:contentDescription</span><span class="cl">="share"</span><span>
        </span><span class="cm">app</span><span>:showAsAction</span><span class="cl">="ifRoom"</span><span class="ct">/&gt;</span><span>
            
    </span><span class="ct">&lt;item</span><span>  
        </span><span class="cm">android</span><span>:id</span><span class="cl">="@+id/loupe"</span><span>
        </span><span class="cm">android</span><span>:icon</span><span class="cl">="@drawable/ic_loupe"</span><span>
        </span><span class="cm">android</span><span>:title</span><span class="cl">="loupe"</span><span>
        </span><span class="cm">android</span><span>:contentDescription</span><span class="cl">="loupe"</span><span>
        </span><span class="cm">app</span><span>:showAsAction</span><span class="cl">="ifRoom"</span><span class="ct">/&gt;</span><span>
</span><span class="ct">&lt;/menu&gt;</span>
        </pre>
        </span>
    </div>
    <p class="margin-t-60">
        <strong>4. </strong>Agregar el fichero <strong>top_app_bar_menu_delete.xml</strong>, dentro de la ruta <strong>res/menu/top_app_bar_menu_delete.xml</strong> 
    </p>
    <div class="jumbotron jumbotron-fluid">
        <p class="text-right margin-0">
            <span class="function-copiar" (click)="CopyToClipboard('app-6')" ngbTooltip="Código copiado"
                triggers="click:blur"> <i class="fa fa-clone padding-r-5" aria-hidden="true"></i> Copiar</span>
        </p>
        <hr class="hrJumbotron">
        <span id="app-6">
            <pre class=" prettyprinted" style="">
<span class="ct">&lt;?</span><span>xml version</span><span class="cl">="1.0"</span> encoding<span class="cl">="utf-8"</span><span class="ct">?&gt;</span><span>
</span><span class="ct">&lt;menu </span>xmlns:<span class="cm">android</span><span class="cl">="http://schemas.android.com/apk/res/android"</span><span>
    </span>xmlns:<span class="cm">app</span><span class="ct">="http://schemas.android.com/apk/res-auto"&gt;</span><span>  
    </span><span class="ct">&lt;item</span><span>
        </span><span class="cm">android</span><span>:id</span><span class="cl">="@+id/share"</span><span>
        </span><span class="cm">android</span><span>:contentDescription</span><span class="cl">="share"</span><span>
        </span><span class="cm">android</span><span>:icon</span><span class="cl">="@drawable/ic_share"</span><span>
        </span><span class="cm">android</span><span>:title</span><span class="cl">="share"</span><span>
        </span><span class="cm">app</span><span>:showAsAction</span><span class="cl">="ifRoom"</span><span class="ct"> /&gt;</span><span>
            
    </span><span class="ct">&lt;item</span><span>
        </span><span class="cm">android</span><span>:id</span><span class="cl">="@+id/delete"</span><span>
        </span><span class="cm">android</span><span>:contentDescription</span><span class="cl">="delete"</span><span>
        </span><span class="cm">android</span><span>:icon</span><span class="cl">="@drawable/ic_delete"</span><span>
        </span><span class="cm">android</span><span>:title</span><span class="cl">="delete"</span><span>
        </span><span class="cm">app</span><span>:showAsAction</span><span class="cl">="ifRoom"</span><span class="ct"> /&gt;</span><span>
</span><span class="ct">&lt;/menu&gt;</span>
        </pre>
        </span>
    </div>
    <p class="tip padding-15 margin-0">
        <strong>Tip:</strong> Puedes conocer la <a class="enlace" [routerLink]="['/documentacion-de-desarrollo/documentacion-android/configuracion-general/color']">configuración general</a> de un proyecto en el apartado
        Lineamientos Android.
    </p>
    <p class="f-20 fw-600 margin-t-60">Resultado del componente</p>
    <div class="margin-b-80  margin-t-30 text-center">
        <img class="img-fluid imagenes-al-centro" src="./assets/img/android-c/appbar_top/appbar-top.png" alt="">
    </div>
</section>