h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 20px;
}

hr {
  background: var(--hr-color-dd);
  opacity: 1;
}

a{
  color: #B7006D;
  text-decoration: underline;
  font-weight: 500;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .img-w{
      width: 100%;
  }
  table{
      border-collapse: collapse;
      width: 100%;
      background: var(--bg-table);
  
    }
    
    td{
      text-align: left;
      padding: 8px 20px;
    }
  

    th{
        padding: 15px 20px 8px;
        font-weight: 800;
        border-bottom: 1px solid white;
    }

    .img-al-centro{
      text-align: center;
    }
    .m-t-70{
      margin-top: 70px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  table{
      border-collapse: collapse;
      width: 100%;
      background: var(--bg-table);
  
    }
    
    td{
      text-align: left;
      padding: 8px 20px;
    }
  
    th{
        padding: 15px 20px 8px;
        font-weight: 800;
        border-bottom: 1px solid white;
    }
   
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width